Repository elastic/beats, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/security-external-integrations, @elastic/uptime, @elastic/observablt-robots

adding a for loop with script processor to add values from cisco.umbrella.identities to related.user field (#25776)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/umbrella/ingest/pipeline.yml
  x-pack/filebeat/module/cisco/umbrella/test/umbrella-dnslogs.log
  x-pack/filebeat/module/cisco/umbrella/test/umbrella-dnslogs.log-expected.json
Owners: none

adding a for loop with script processor to add values from cisco.umbrella.identities to related.user field (#25776)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/umbrella/ingest/pipeline.yml
  x-pack/filebeat/module/cisco/umbrella/test/umbrella-dnslogs.log
  x-pack/filebeat/module/cisco/umbrella/test/umbrella-dnslogs.log-expected.json
Owners: none

adding a for loop with script processor to add values from cisco.umbrella.identities to related.user field (#25776)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/umbrella/ingest/pipeline.yml
  x-pack/filebeat/module/cisco/umbrella/test/umbrella-dnslogs.log
  x-pack/filebeat/module/cisco/umbrella/test/umbrella-dnslogs.log-expected.json
Owners: none

fix mistakes made during upstream merge
  winlogbeat/eventlog/factory.go
  winlogbeat/eventlog/wineventlog.go
Owners: none

move entry in changelog to the end of the section and add reference to pull request id
  CHANGELOG.next.asciidoc
Owners: none

[libbeat] Track frame counts in saved segments in the disk queue (#22970)
  libbeat/publisher/queue/diskqueue/acks.go
  libbeat/publisher/queue/diskqueue/config.go
  libbeat/publisher/queue/diskqueue/consumer.go
  libbeat/publisher/queue/diskqueue/core_loop.go
  libbeat/publisher/queue/diskqueue/core_loop_test.go
  libbeat/publisher/queue/diskqueue/queue.go
  libbeat/publisher/queue/diskqueue/reader_loop.go
  libbeat/publisher/queue/diskqueue/segments.go
  libbeat/publisher/queue/diskqueue/serialize.go
  libbeat/publisher/queue/diskqueue/state_file.go
  libbeat/publisher/queue/diskqueue/writer_loop.go
Owners: none

[libbeat] Track frame counts in saved segments in the disk queue (#22970)
  libbeat/publisher/queue/diskqueue/acks.go
  libbeat/publisher/queue/diskqueue/config.go
  libbeat/publisher/queue/diskqueue/consumer.go
  libbeat/publisher/queue/diskqueue/core_loop.go
  libbeat/publisher/queue/diskqueue/core_loop_test.go
  libbeat/publisher/queue/diskqueue/queue.go
  libbeat/publisher/queue/diskqueue/reader_loop.go
  libbeat/publisher/queue/diskqueue/segments.go
  libbeat/publisher/queue/diskqueue/serialize.go
  libbeat/publisher/queue/diskqueue/state_file.go
  libbeat/publisher/queue/diskqueue/writer_loop.go
Owners: none

update changelog
  CHANGELOG.next.asciidoc
Owners: none

update fields
  filebeat/docs/fields.asciidoc
Owners: none

#24350: Add HIP Match logs
  x-pack/filebeat/module/panw/fields.go
  x-pack/filebeat/module/panw/panos/_meta/fields.yml
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/ingest/hipmatch.yml
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/manifest.yml
  x-pack/filebeat/module/panw/panos/test/global_protect.log
  x-pack/filebeat/module/panw/panos/test/global_protect.log-expected.json
  x-pack/filebeat/module/panw/panos/test/hipmatch.log
  x-pack/filebeat/module/panw/panos/test/hipmatch.log-expected.json
Owners: none

fix CI issues
  x-pack/filebeat/module/panw/fields.go
Owners: none

Add additional sample data and update pipeline
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/test/global_protect.log-expected.json
  x-pack/filebeat/module/panw/panos/test/hipmatch.log
  x-pack/filebeat/module/panw/panos/test/hipmatch.log-expected.json
Owners: none

update `default_field: false`
  x-pack/filebeat/module/panw/panos/_meta/fields.yml
Owners: none

Disable win7 32bits Heartbeat tests
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tls_test.go
Owners: @elastic/uptime

refactor CPU struct, use reflection
  metricbeat/module/system/core/core_test.go
  metricbeat/module/system/cpu/_meta/data.json
  metricbeat/module/system/cpu/metrics/metrics.go
  metricbeat/module/system/cpu/metrics/metrics_aix.go
  metricbeat/module/system/cpu/metrics/metrics_darwin.go
  metricbeat/module/system/cpu/metrics/metrics_freebsd.go
  metricbeat/module/system/cpu/metrics/metrics_linux.go
  metricbeat/module/system/cpu/metrics/metrics_openbsd.go
  metricbeat/module/system/cpu/metrics/metrics_test.go
  metricbeat/module/system/cpu/metrics/metrics_windows.go
Owners: none

Disable python test for windows 10
  metricbeat/module/golang/test_golang.py
Owners: none

Format python code
  metricbeat/module/golang/test_golang.py
Owners: none

make update
  metricbeat/docs/fields.asciidoc
  metricbeat/module/couchbase/fields.go
  metricbeat/module/couchbase/syncgateway/_meta/data.json
  metricbeat/module/couchbase/syncgateway/data_test.go
Owners: none

add import and issue text
  metricbeat/module/golang/test_golang.py
Owners: none

add new config options, fixes for Ubuntu 16.04 systemd reporting issues
  metricbeat/docs/modules/system.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/service/data.go
  metricbeat/module/system/service/service.go
  metricbeat/module/system/service/service_test.go
Owners: none

Disable heartbeat and metricbeat tests (#25859)
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tls_test.go
  metricbeat/module/golang/test_golang.py
Owners: @elastic/uptime

Disable heartbeat and metricbeat tests (#25859)
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tls_test.go
  metricbeat/module/golang/test_golang.py
Owners: @elastic/uptime

Disable heartbeat and metricbeat tests (#25859)
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tls_test.go
  metricbeat/module/golang/test_golang.py
Owners: @elastic/uptime

[Automation] Update elastic stack version to 8.0.0-5197c308 for testing
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Owners: none

[Automation] Update elastic stack version to 7.14.0-9eca24b7 for testing
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Owners: none

Use fingerprint to generate fixed document id to avoid having duplicates
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/google_workspace/config/common.js
Owners: none

review changes
  libbeat/common/transport/logging.go
  libbeat/common/transport/stats.go
  libbeat/esleg/eslegclient/connection.go
Owners: none

fix changelog
  CHANGELOG.next.asciidoc
Owners: none

ci: exclude builds with changes on the k8s templates files
  Jenkinsfile
Owners: @elastic/observablt-robots

sync before close instead of wrap
  x-pack/elastic-agent/pkg/agent/application/application.go
  x-pack/elastic-agent/pkg/agent/application/gateway/fleet/fleet_gateway_test.go
  x-pack/elastic-agent/pkg/agent/application/info/agent_id.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll_cmd.go
  x-pack/elastic-agent/pkg/agent/cmd/run.go
  x-pack/elastic-agent/pkg/agent/storage/disk_store.go
  x-pack/elastic-agent/pkg/agent/storage/sync_on_save_store.go
Owners: none

closing
  x-pack/elastic-agent/pkg/agent/storage/disk_store.go
  x-pack/elastic-agent/pkg/agent/storage/replace_store.go
Owners: none

Use fingerprint to generate fixed document id to avoid having duplicates (#25841)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/google_workspace/config/common.js
Owners: none

Use fingerprint to generate fixed document id to avoid having duplicates (#25841)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/google_workspace/config/common.js
Owners: none

Use fingerprint to generate fixed document id to avoid having duplicates (#25841)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/google_workspace/config/common.js
Owners: none

[Filebeat] Add HIP Match logs to Palo Alto Module (#25686)
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/panw/fields.go
  x-pack/filebeat/module/panw/panos/_meta/fields.yml
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/ingest/hipmatch.yml
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/manifest.yml
  x-pack/filebeat/module/panw/panos/test/global_protect.log
  x-pack/filebeat/module/panw/panos/test/global_protect.log-expected.json
  x-pack/filebeat/module/panw/panos/test/hipmatch.log
  x-pack/filebeat/module/panw/panos/test/hipmatch.log-expected.json
Owners: none

[Filebeat] Add HIP Match logs to Palo Alto Module (#25686)
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/panw/fields.go
  x-pack/filebeat/module/panw/panos/_meta/fields.yml
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/ingest/hipmatch.yml
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/manifest.yml
  x-pack/filebeat/module/panw/panos/test/global_protect.log
  x-pack/filebeat/module/panw/panos/test/global_protect.log-expected.json
  x-pack/filebeat/module/panw/panos/test/hipmatch.log
  x-pack/filebeat/module/panw/panos/test/hipmatch.log-expected.json
Owners: none

Increase wait time to stabilize TestRotateDateSuffix
  libbeat/common/file/rotator_test.go
Owners: none

Increase wait time to stabilize TestRotateDateSuffix (#25869)
  libbeat/common/file/rotator_test.go
Owners: none

Increase wait time to stabilize TestRotateDateSuffix (#25869)
  libbeat/common/file/rotator_test.go
Owners: none

Increase wait time to stabilize TestRotateDateSuffix (#25869)
  libbeat/common/file/rotator_test.go
Owners: none

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# See: https://help.github.com/articles/about-codeowners/

# * @elastic/beats

# libbeat
# /libbeat/ @elastic/beats
# /auditbeat/ @elastic/beats
# /packetbeat/ @elastic/beats
# /filebeat/ @elastic/beats
# /metricbeat/ @elastic/beats
# /journalbeat/ @elastic/beats
# /winlogbeat/ @elastic/beats

# Auditbeat
/auditbeat/module/ @elastic/security-external-integrations
/x-pack/auditbeat/ @elastic/security-external-integrations

# Packetbeat
/packetbeat/protos/ @elastic/security-external-integrations
/x-pack/packetbeat/ @elastic/security-external-integrations

# Filebeat
# /filebeat/module/ @elastic/integrations
# /filebeat/module/elasticsearch/ @elastic/stack-monitoring
# /filebeat/module/kibana/ @elastic/stack-monitoring
# /filebeat/module/logstash/ @elastic/stack-monitoring
# /x-pack/filebeat/module/ @elastic/integrations
# /x-pack/filebeat/module/suricata/ @elastic/security-external-integrations

# Metricbeat
# /metricbeat/module/ @elastic/integrations
# /metricbeat/module/elasticsearch/ @elastic/stack-monitoring
# /metricbeat/module/kibana/ @elastic/stack-monitoring
# /metricbeat/module/logstash/ @elastic/stack-monitoring
# /metricbeat/module/beat/ @elastic/stack-monitoring
# /x-pack/metricbeat/module/ @elastic/integrations

# Heartbeat
/heartbeat/ @elastic/uptime

# Winlogbeat
/x-pack/winlogbeat/ @elastic/security-external-integrations

# CI Specific
/.ci/ @elastic/observablt-robots
/Jenkinsfile @elastic/observablt-robots
