Repository elastic/beats, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/security-external-integrations, @elastic/uptime, @elastic/observablt-robots

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# See: https://help.github.com/articles/about-codeowners/

# * @elastic/beats

# libbeat
# /libbeat/ @elastic/beats
# /auditbeat/ @elastic/beats
# /packetbeat/ @elastic/beats
# /filebeat/ @elastic/beats
# /metricbeat/ @elastic/beats
# /journalbeat/ @elastic/beats
# /winlogbeat/ @elastic/beats

# Auditbeat
/auditbeat/module/ @elastic/security-external-integrations
/x-pack/auditbeat/ @elastic/security-external-integrations

# Packetbeat
/packetbeat/protos/ @elastic/security-external-integrations
/x-pack/packetbeat/ @elastic/security-external-integrations

# Filebeat
# /filebeat/module/ @elastic/integrations
# /filebeat/module/elasticsearch/ @elastic/stack-monitoring
# /filebeat/module/kibana/ @elastic/stack-monitoring
# /filebeat/module/logstash/ @elastic/stack-monitoring
# /x-pack/filebeat/module/ @elastic/integrations
# /x-pack/filebeat/module/suricata/ @elastic/security-external-integrations

# Metricbeat
# /metricbeat/module/ @elastic/integrations
# /metricbeat/module/elasticsearch/ @elastic/stack-monitoring
# /metricbeat/module/kibana/ @elastic/stack-monitoring
# /metricbeat/module/logstash/ @elastic/stack-monitoring
# /metricbeat/module/beat/ @elastic/stack-monitoring
# /x-pack/metricbeat/module/ @elastic/integrations

# Heartbeat
/heartbeat/ @elastic/uptime

# Winlogbeat
/x-pack/winlogbeat/ @elastic/security-external-integrations

# CI Specific
/.ci/ @elastic/observablt-robots
/Jenkinsfile @elastic/observablt-robots

updating mongodb to ecs 1.10.0
  filebeat/module/mongodb/log/config/log.yml
Owners: none

Apply suggestions from code review
  Jenkinsfile
Owners: @elastic/observablt-robots

Apply suggestions from code review
  Jenkinsfile
Owners: @elastic/observablt-robots

[Jenkins] Light checkout (#25803)
  Jenkinsfile
Owners: @elastic/observablt-robots

Apply suggestions from code review
  Jenkinsfile
Owners: @elastic/observablt-robots

updating mysql to ecs 1.10.0
  filebeat/module/mysql/error/config/error.yml
  filebeat/module/mysql/slowlog/config/slowlog.yml
Owners: none

[Jenkins] Light checkout (#25803)
  Jenkinsfile
Owners: @elastic/observablt-robots

updating nats to ecs 1.10.0
  filebeat/module/nats/log/config/log.yml
Owners: none

updating nginx to ecs 1.10.0
  filebeat/module/nginx/access/config/nginx-access.yml
  filebeat/module/nginx/error/config/nginx-error.yml
  filebeat/module/nginx/ingress_controller/config/ingress_controller.yml
Owners: none

updating postgresql to ecs 1.10.0
  filebeat/module/postgresql/log/config/log.yml
Owners: none

updating redis to ecs 1.10.0
  filebeat/module/redis/log/config/log.yml
  filebeat/module/redis/slowlog/config/slowlog.yml
Owners: none

Log input: remove states more eagerly (#25756)
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
  filebeat/registrar/registrar.go
Owners: none

Log input: remove states more eagerly (#25756)
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
  filebeat/registrar/registrar.go
Owners: none

Log input: remove states more eagerly (#25756)
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
  filebeat/registrar/registrar.go
Owners: none

wip
  libbeat/common/kubernetes/metadata/resource.go
Owners: none

review suggestion
  libbeat/common/transport/logging.go
Owners: none

updating elasticsearch to ecs 1.10.0
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/gc/config/gc.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
Owners: none

updating activemq to ecs 1.10.0
  x-pack/filebeat/module/activemq/audit/config/audit.yml
  x-pack/filebeat/module/activemq/log/config/log.yml
Owners: none

updating ibmmq to ecs 1.10.0
  x-pack/filebeat/module/ibmmq/errorlog/config/errorlog.yml
Owners: none

updating mssql to ecs 1.10.0
  x-pack/filebeat/module/mssql/log/config/config.yml
Owners: none

updating oracle to ecs 1.10.0
  x-pack/filebeat/module/oracle/database_audit/config/config.yml
Owners: none

updating rabbitmq to ecs 1.10.0
  x-pack/filebeat/module/rabbitmq/log/config/log.yml
Owners: none

updating zookeeper to ecs 1.10.0
  x-pack/filebeat/module/zookeeper/audit/config/audit.yml
Owners: none

updating zookeeper to ecs 1.10.0
  x-pack/filebeat/module/zookeeper/log/config/log.yml
Owners: none

[Filebeat] Fix bad append for abusechmalware (#25674)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/threatintel/abusemalware/ingest/pipeline.yml
  x-pack/filebeat/module/threatintel/abusemalware/test/abusechmalware.ndjson.log-expected.json
Owners: none

Fix the build
  x-pack/osquerybeat/scripts/mage/distro.go
Owners: none

Update CHANGELOG.next.asciidoc
  CHANGELOG.next.asciidoc
Owners: none

add changelog
  CHANGELOG.next.asciidoc
Owners: none

Improve method naming
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/kubernetes.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/state_cronjob/state_cronjob.go
  metricbeat/module/kubernetes/state_daemonset/state_daemonset.go
  metricbeat/module/kubernetes/state_deployment/state_deployment.go
  metricbeat/module/kubernetes/state_node/state_node.go
  metricbeat/module/kubernetes/state_persistentvolume/state_persistentvolume.go
  metricbeat/module/kubernetes/state_persistentvolumeclaim/state_persistentvolumeclaim.go
  metricbeat/module/kubernetes/state_pod/state_pod.go
  metricbeat/module/kubernetes/state_replicaset/state_replicaset.go
  metricbeat/module/kubernetes/state_resourcequota/state_resourcequota.go
  metricbeat/module/kubernetes/state_service/state_service.go
  metricbeat/module/kubernetes/state_statefulset/state_statefulset.go
  metricbeat/module/kubernetes/state_storageclass/state_storageclass.go
  metricbeat/module/kubernetes/system/system.go
  metricbeat/module/kubernetes/volume/volume.go
Owners: none

Add missing version changes
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
Owners: none

7.13 -> 7.14
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Owners: none

minor fix
  libbeat/common/transport/logging.go
Owners: none

fixes
  libbeat/common/transport/logging.go
Owners: none

fix merge conflicts
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Owners: none

Linting plus more update
  metricbeat/module/couchbase/syncgateway/data.go
  metricbeat/module/couchbase/syncgateway/data_test.go
  metricbeat/module/couchbase/syncgateway/syncgateway.go
Owners: none

fix typo
  x-pack/metricbeat/module/aws/cloudwatch/ec2/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
Owners: none

remove_log_original_ci_run
  libbeat/_meta/fields.ecs.yml
Owners: none

Force Journalbeat armv7 image
  journalbeat/magefile.go
Owners: none

Clean up fixture files
  x-pack/filebeat/module/crowdstrike/falcon/test/falcon-sample.log
  x-pack/filebeat/module/crowdstrike/falcon/test/falcon-sample.log-expected.json
Owners: none

[Heartbeat] One shot mode
  heartbeat/beater/heartbeat.go
  heartbeat/config/config.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/icmp/icmp.go
  heartbeat/monitors/active/tcp/tcp.go
  heartbeat/monitors/mocks_test.go
  heartbeat/monitors/plugin/plugin.go
  x-pack/heartbeat/heartbeat.yml
  x-pack/heartbeat/monitors/browser/browser.go
Owners: @elastic/uptime
