Repository elastic/beats, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/security-external-integrations, @elastic/uptime, @elastic/observablt-robots

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# See: https://help.github.com/articles/about-codeowners/

# * @elastic/beats

# libbeat
# /libbeat/ @elastic/beats
# /auditbeat/ @elastic/beats
# /packetbeat/ @elastic/beats
# /filebeat/ @elastic/beats
# /metricbeat/ @elastic/beats
# /journalbeat/ @elastic/beats
# /winlogbeat/ @elastic/beats

# Auditbeat
/auditbeat/module/ @elastic/security-external-integrations
/x-pack/auditbeat/ @elastic/security-external-integrations

# Packetbeat
/packetbeat/protos/ @elastic/security-external-integrations
/x-pack/packetbeat/ @elastic/security-external-integrations

# Filebeat
# /filebeat/module/ @elastic/integrations
# /filebeat/module/elasticsearch/ @elastic/stack-monitoring
# /filebeat/module/kibana/ @elastic/stack-monitoring
# /filebeat/module/logstash/ @elastic/stack-monitoring
# /x-pack/filebeat/module/ @elastic/integrations
# /x-pack/filebeat/module/suricata/ @elastic/security-external-integrations

# Metricbeat
# /metricbeat/module/ @elastic/integrations
# /metricbeat/module/elasticsearch/ @elastic/stack-monitoring
# /metricbeat/module/kibana/ @elastic/stack-monitoring
# /metricbeat/module/logstash/ @elastic/stack-monitoring
# /metricbeat/module/beat/ @elastic/stack-monitoring
# /x-pack/metricbeat/module/ @elastic/integrations

# Heartbeat
/heartbeat/ @elastic/uptime

# Winlogbeat
/x-pack/winlogbeat/ @elastic/security-external-integrations

# CI Specific
/.ci/ @elastic/observablt-robots
/Jenkinsfile @elastic/observablt-robots

updating zeek to ecs 1.10.0
  x-pack/filebeat/module/zeek/capture_loss/config/capture_loss.yml
  x-pack/filebeat/module/zeek/connection/config/connection.yml
  x-pack/filebeat/module/zeek/dce_rpc/config/dce_rpc.yml
  x-pack/filebeat/module/zeek/dhcp/config/dhcp.yml
  x-pack/filebeat/module/zeek/dnp3/config/dnp3.yml
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dpd/config/dpd.yml
  x-pack/filebeat/module/zeek/files/config/files.yml
  x-pack/filebeat/module/zeek/ftp/config/ftp.yml
  x-pack/filebeat/module/zeek/http/config/http.yml
  x-pack/filebeat/module/zeek/intel/config/intel.yml
  x-pack/filebeat/module/zeek/irc/config/irc.yml
  x-pack/filebeat/module/zeek/kerberos/config/kerberos.yml
  x-pack/filebeat/module/zeek/modbus/config/modbus.yml
  x-pack/filebeat/module/zeek/mysql/config/mysql.yml
  x-pack/filebeat/module/zeek/notice/config/notice.yml
  x-pack/filebeat/module/zeek/ntlm/config/ntlm.yml
  x-pack/filebeat/module/zeek/ntp/config/ntp.yml
  x-pack/filebeat/module/zeek/ocsp/config/ocsp.yml
  x-pack/filebeat/module/zeek/pe/config/pe.yml
  x-pack/filebeat/module/zeek/radius/config/radius.yml
  x-pack/filebeat/module/zeek/rdp/config/rdp.yml
  x-pack/filebeat/module/zeek/rfb/config/rfb.yml
  x-pack/filebeat/module/zeek/signature/config/signature.yml
  x-pack/filebeat/module/zeek/sip/config/sip.yml
  x-pack/filebeat/module/zeek/smb_cmd/config/smb_cmd.yml
  x-pack/filebeat/module/zeek/smb_files/config/smb_files.yml
  x-pack/filebeat/module/zeek/smb_mapping/config/smb_mapping.yml
  x-pack/filebeat/module/zeek/smtp/config/smtp.yml
  x-pack/filebeat/module/zeek/snmp/config/snmp.yml
  x-pack/filebeat/module/zeek/socks/config/socks.yml
  x-pack/filebeat/module/zeek/ssh/config/ssh.yml
  x-pack/filebeat/module/zeek/ssl/config/ssl.yml
  x-pack/filebeat/module/zeek/stats/config/stats.yml
  x-pack/filebeat/module/zeek/syslog/config/syslog.yml
  x-pack/filebeat/module/zeek/traceroute/config/traceroute.yml
  x-pack/filebeat/module/zeek/tunnel/config/tunnel.yml
  x-pack/filebeat/module/zeek/weird/config/weird.yml
  x-pack/filebeat/module/zeek/x509/config/x509.yml
Owners: none

updating zscaler to ecs 1.10.0
  x-pack/filebeat/module/zscaler/zia/config/input.yml
Owners: none

updating barracuda to ecs 1.10.0
  x-pack/filebeat/module/barracuda/spamfirewall/config/input.yml
Owners: none

updating bluecoat to ecs 1.10.0
  x-pack/filebeat/module/bluecoat/director/config/input.yml
Owners: none

updating cef to ecs 1.10.0
  x-pack/filebeat/module/cef/log/config/input.yml
Owners: none

updating checkpoint to ecs 1.10.0
  x-pack/filebeat/module/checkpoint/firewall/config/firewall.yml
Owners: none

updating gsuite to ecs 1.10.0
  x-pack/filebeat/module/gsuite/admin/config/config.yml
  x-pack/filebeat/module/gsuite/drive/config/config.yml
  x-pack/filebeat/module/gsuite/groups/config/config.yml
  x-pack/filebeat/module/gsuite/login/config/config.yml
  x-pack/filebeat/module/gsuite/saml/config/config.yml
  x-pack/filebeat/module/gsuite/user_accounts/config/config.yml
Owners: none

updating osquery to ecs 1.10.0
  filebeat/module/osquery/result/config/result.yml
Owners: none

updating santa to ecs 1.10.0
  filebeat/module/santa/log/config/file.yml
Owners: none

updating system to ecs 1.10.0
  filebeat/module/system/auth/config/auth.yml
  filebeat/module/system/syslog/config/syslog.yml
Owners: none

updating traefik to ecs 1.10.0
  filebeat/module/traefik/access/config/traefik-access.yml
Owners: none

Add yum update to dockerfile
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Owners: none

Migrate ec2 metricset to use cloudwatch input as light weight module
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/ec2/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/data.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_integration_test.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/ec2/manifest.yml
  x-pack/metricbeat/module/aws/module.yml
Owners: none

Remove management mode from specs
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/spec/apm-server.yml
  x-pack/elastic-agent/spec/filebeat.yml
  x-pack/elastic-agent/spec/heartbeat.yml
  x-pack/elastic-agent/spec/metricbeat.yml
  x-pack/elastic-agent/spec/osquerybeat.yml
  x-pack/elastic-agent/spec/packetbeat.yml
Owners: none

Osquerybeat - Linux AARCH64 support
  .ci/packaging.groovy
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/spec/osquerybeat.yml
  x-pack/osquerybeat/dev-tools/packaging/packages.yml
  x-pack/osquerybeat/internal/distro/distro.go
  x-pack/osquerybeat/scripts/mage/distro.go
  x-pack/osquerybeat/scripts/mage/package.go
Owners: @elastic/observablt-robots

Add mappings
  heartbeat/_meta/fields.common.yml
  heartbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
  x-pack/heartbeat/monitors/browser/synthexec/enrich.go
Owners: @elastic/uptime

[Automation] Update elastic stack version to 8.0.0-5197c308 for testing
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Owners: none

[Automation] Update elastic stack version to 7.14.0-f385fee6 for testing
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Owners: none

[Automation] Update elastic stack version to 7.13.1-66aca119 for testing
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Owners: none

updating auditbeat to ecs 1.10.0
  auditbeat/cmd/root.go
Owners: none

updating global ECS fields in libbeat
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  libbeat/mapping/field.go
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
  x-pack/osquerybeat/docs/fields.asciidoc
  x-pack/osquerybeat/include/fields.go
Owners: @elastic/uptime

updating winlogbeat to ecs 1.10.0
  winlogbeat/cmd/root.go
Owners: none

updating journalbeat to ecs 1.10.0
  journalbeat/cmd/root.go
Owners: none

updating heartbeat to ecs 1.10.0
  heartbeat/cmd/root.go
Owners: @elastic/uptime

updating apache to ecs 1.10.0
  filebeat/module/apache/access/config/access.yml
  filebeat/module/apache/error/config/error.yml
Owners: none

updating haproxy to ecs 1.10.0
  filebeat/module/haproxy/log/config/file.yml
  filebeat/module/haproxy/log/config/syslog.yml
Owners: none

updating icinga to ecs 1.10.0
  filebeat/module/icinga/debug/config/debug.yml
  filebeat/module/icinga/main/config/main.yml
  filebeat/module/icinga/startup/config/startup.yml
Owners: none

updating iis to ecs 1.10.0
  filebeat/module/iis/access/config/iis-access.yml
  filebeat/module/iis/error/config/iis-error.yml
Owners: none

updating kafka to ecs 1.10.0
  filebeat/module/kafka/log/config/log.yml
Owners: none

http_endpoint: Allow multiple documents in single request
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-http-endpoint.asciidoc
  x-pack/filebeat/input/http_endpoint/handler.go
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/http_endpoint/input.go
  x-pack/filebeat/tests/system/test_http_endpoint.py
Owners: none

Missing license header in source
  x-pack/filebeat/input/http_endpoint/handler_test.go
Owners: none

simplify parsing
  x-pack/filebeat/docs/inputs/input-http-endpoint.asciidoc
  x-pack/filebeat/input/http_endpoint/handler.go
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/http_endpoint/input.go
Owners: none

Remove unnecessary type
  x-pack/filebeat/input/http_endpoint/handler.go
Owners: none

ci: exclude builds with changes on the k8s templates files (#25864)
  Jenkinsfile
Owners: @elastic/observablt-robots

ci: exclude builds with changes on the k8s templates files (#25864)
  Jenkinsfile
Owners: @elastic/observablt-robots

ci: exclude builds with changes on the k8s templates files (#25864)
  Jenkinsfile
Owners: @elastic/observablt-robots

ci: exclude builds with changes on the k8s templates files (#25864)
  Jenkinsfile
Owners: @elastic/observablt-robots

ci: exclude builds with changes on the k8s templates files (#25864)
  Jenkinsfile
Owners: @elastic/observablt-robots

updating kibana to ecs 1.10.0
  filebeat/module/kibana/audit/config/audit.yml
  filebeat/module/kibana/log/config/log.yml
Owners: none

updating logstash to ecs 1.10.0
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/slowlog/config/slowlog.yml
Owners: none
