Repository elastic/beats, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elastic/elastic-agent-data-plane, @elastic/security-external-integrations, @elastic/obs-cloudnative-monitoring, @elastic/integrations, @elastic/infra-monitoring-ui, @elastic/security-asset-management, @elastic/uptime, @elastic/ingest-docs, @elastic/elastic-agent-control-plane, @elastic/obs-cloud-monitoring, @elastic/ent-search-application-backend

.github/CODEOWNERS:

# GitHub CODEOWNERS definition
# See: https://help.github.com/articles/about-codeowners/

# The beats repository is owned by the @elastic/elastic-agent-data-plane team. Many teams contribute to this repository.
# The goal is to cover all directories in the CODEOWNERS file which are owned by the different teams.
# The list is sorted alphabetically by directory and sub directories.

* @elastic/elastic-agent-data-plane

# List the CHANGELOG files without an owner. This will prevent the data plane team from being added
# as a reviewer every time a change to files they do not own also adds a changelog entry.
# https://github.community/t/codeowners-file-with-a-not-file-type-condition/1423/9
CHANGELOG*

/.ci/ @elastic/elastic-agent-data-plane
/.github/ @elastic/elastic-agent-data-plane
/auditbeat/ @elastic/security-external-integrations
/deploy/ @elastic/elastic-agent-data-plane
/deploy/kubernetes @elastic/elastic-agent-data-plane @elastic/obs-cloudnative-monitoring
/dev-tools/ @elastic/elastic-agent-data-plane
/docs/ @elastic/elastic-agent-data-plane
/filebeat @elastic/elastic-agent-data-plane
/filebeat/docs/ # Listed without an owner to avoid maintaining doc ownership for each input and module.
/filebeat/input/syslog/ @elastic/security-external-integrations
/filebeat/input/winlog/ @elastic/security-external-integrations
/filebeat/module/ @elastic/integrations
/filebeat/module/apache @elastic/integrations
/filebeat/module/auditd @elastic/security-external-integrations
/filebeat/module/elasticsearch/ @elastic/infra-monitoring-ui
/filebeat/module/haproxy @elastic/integrations
/filebeat/module/icinga @elastic/integrations
/filebeat/module/iis @elastic/integrations
/filebeat/module/kafka @elastic/integrations
/filebeat/module/kibana @elastic/integrations
/filebeat/module/kibana/ @elastic/infra-monitoring-ui
/filebeat/module/logstash @elastic/integrations
/filebeat/module/logstash/ @elastic/infra-monitoring-ui
/filebeat/module/mongodb @elastic/integrations
/filebeat/module/mysql @elastic/security-external-integrations
/filebeat/module/nats @elastic/integrations
/filebeat/module/nginx @elastic/integrations
/filebeat/module/osquery @elastic/security-asset-management
/filebeat/module/pensando @elastic/security-external-integrations
/filebeat/module/postgresql @elastic/integrations
/filebeat/module/redis @elastic/integrations
/filebeat/module/santa @elastic/security-external-integrations
/filebeat/module/system @elastic/elastic-agent-data-plane
/filebeat/module/traefik @elastic/integrations
/heartbeat/ @elastic/uptime
/journalbeat @elastic/elastic-agent-data-plane
/libbeat/ @elastic/elastic-agent-data-plane
/libbeat/docs/processors-list.asciidoc @elastic/ingest-docs
/libbeat/management @elastic/elastic-agent-control-plane
/libbeat/processors/community_id/ @elastic/security-external-integrations
/libbeat/processors/decode_xml/ @elastic/security-external-integrations
/libbeat/processors/decode_xml_wineventlog/ @elastic/security-external-integrations
/libbeat/processors/dns/ @elastic/security-external-integrations
/libbeat/processors/registered_domain/ @elastic/security-external-integrations
/libbeat/processors/translate_sid/ @elastic/security-external-integrations
/licenses/ @elastic/elastic-agent-data-plane
/metricbeat/ @elastic/elastic-agent-data-plane
/metricbeat/docs/ # Listed without an owner to avoid maintaining doc ownership for each input and module.
/metricbeat/module/ @elastic/integrations
/metricbeat/module/beat/ @elastic/infra-monitoring-ui
/metricbeat/module/elasticsearch/ @elastic/infra-monitoring-ui
/metricbeat/module/kibana/ @elastic/infra-monitoring-ui
/metricbeat/module/kubernetes/ @elastic/obs-cloudnative-monitoring
/metricbeat/module/logstash/ @elastic/infra-monitoring-ui
/metricbeat/module/nats/ @elastic/obs-cloudnative-monitoring
/metricbeat/module/prometheus/ @elastic/obs-cloudnative-monitoring
/metricbeat/module/system/ @elastic/elastic-agent-data-plane
/packetbeat/ @elastic/security-external-integrations
/script/ @elastic/elastic-agent-data-plane
/testing/ @elastic/elastic-agent-data-plane
/tools/ @elastic/elastic-agent-data-plane
/winlogbeat/ @elastic/security-external-integrations
/x-pack/auditbeat/ @elastic/security-external-integrations
/x-pack/elastic-agent/ @elastic/elastic-agent-control-plane
/x-pack/filebeat @elastic/elastic-agent-data-plane
/x-pack/filebeat/docs/ # Listed without an owner to avoid maintaining doc ownership for each input and module.
/x-pack/filebeat/input/awscloudwatch/ @elastic/obs-cloud-monitoring
/x-pack/filebeat/input/awss3/ @elastic/obs-cloud-monitoring
/x-pack/filebeat/input/cel/ @elastic/security-external-integrations
/x-pack/filebeat/input/gcppubsub/ @elastic/security-external-integrations
/x-pack/filebeat/input/http_endpoint/ @elastic/security-external-integrations
/x-pack/filebeat/input/httpjson/ @elastic/security-external-integrations
/x-pack/filebeat/input/lumberjack/ @elastic/security-external-integrations
/x-pack/filebeat/input/netflow/ @elastic/security-external-integrations
/x-pack/filebeat/input/o365audit/ @elastic/security-external-integrations
/x-pack/filebeat/module/ @elastic/integrations
/x-pack/filebeat/module/activemq @elastic/integrations
/x-pack/filebeat/module/aws @elastic/obs-cloud-monitoring
/x-pack/filebeat/module/awsfargate @elastic/obs-cloud-monitoring
/x-pack/filebeat/module/azure @elastic/obs-cloud-monitoring
/x-pack/filebeat/module/barracuda @elastic/security-external-integrations
/x-pack/filebeat/module/bluecoat @elastic/security-external-integrations
/x-pack/filebeat/module/cef @elastic/security-external-integrations
/x-pack/filebeat/module/checkpoint @elastic/security-external-integrations
/x-pack/filebeat/module/cisco @elastic/security-external-integrations
/x-pack/filebeat/module/coredns @elastic/security-external-integrations
/x-pack/filebeat/module/crowdstrike @elastic/security-external-integrations
/x-pack/filebeat/module/cyberarkpas @elastic/security-external-integrations
/x-pack/filebeat/module/cylance @elastic/security-external-integrations
/x-pack/filebeat/module/envoyproxy @elastic/security-external-integrations
/x-pack/filebeat/module/f5 @elastic/security-external-integrations
/x-pack/filebeat/module/fortinet @elastic/security-external-integrations
/x-pack/filebeat/module/gcp @elastic/security-external-integrations
/x-pack/filebeat/module/google_workspace @elastic/security-external-integrations
/x-pack/filebeat/module/ibmmq @elastic/integrations
/x-pack/filebeat/module/imperva @elastic/security-external-integrations
/x-pack/filebeat/module/infoblox @elastic/security-external-integrations
/x-pack/filebeat/module/iptables @elastic/security-external-integrations
/x-pack/filebeat/module/juniper @elastic/security-external-integrations
/x-pack/filebeat/module/microsoft @elastic/security-external-integrations
/x-pack/filebeat/module/misp @elastic/security-external-integrations
/x-pack/filebeat/module/mssql @elastic/integrations
/x-pack/filebeat/module/mysqlenterprise @elastic/security-external-integrations
/x-pack/filebeat/module/netflow @elastic/security-external-integrations
/x-pack/filebeat/module/netscout @elastic/security-external-integrations
/x-pack/filebeat/module/o365 @elastic/security-external-integrations
/x-pack/filebeat/module/okta @elastic/security-external-integrations
/x-pack/filebeat/module/oracle @elastic/security-external-integrations
/x-pack/filebeat/module/panw @elastic/security-external-integrations
/x-pack/filebeat/module/proofpoint @elastic/security-external-integrations
/x-pack/filebeat/module/rabbitmq @elastic/integrations
/x-pack/filebeat/module/radware @elastic/security-external-integrations
/x-pack/filebeat/module/snort @elastic/security-external-integrations
/x-pack/filebeat/module/snyk @elastic/security-external-integrations
/x-pack/filebeat/module/sonicwall @elastic/security-external-integrations
/x-pack/filebeat/module/sophos @elastic/security-external-integrations
/x-pack/filebeat/module/squid @elastic/security-external-integrations
/x-pack/filebeat/module/suricata @elastic/security-external-integrations
/x-pack/filebeat/module/threatintel @elastic/security-external-integrations
/x-pack/filebeat/module/tomcat @elastic/security-external-integrations
/x-pack/filebeat/module/zeek @elastic/security-external-integrations
/x-pack/filebeat/module/zookeeper @elastic/integrations
/x-pack/filebeat/module/zoom @elastic/security-external-integrations
/x-pack/filebeat/module/zscaler @elastic/security-external-integrations
/x-pack/filebeat/processors/decode_cef/ @elastic/security-external-integrations
/x-pack/heartbeat/ @elastic/uptime
/x-pack/metricbeat/ @elastic/elastic-agent-data-plane
/x-pack/metricbeat/docs/ # Listed without an owner to avoid maintaining doc ownership for each input and module.
/x-pack/metricbeat/module/ @elastic/integrations
/x-pack/metricbeat/module/containerd/ @elastic/obs-cloudnative-monitoring
/x-pack/metricbeat/module/enterprisesearch @elastic/ent-search-application-backend
/x-pack/metricbeat/module/istio/ @elastic/obs-cloudnative-monitoring
/x-pack/metricbeat/module/prometheus/ @elastic/obs-cloudnative-monitoring
/x-pack/metricbeat/module/stan/ @elastic/obs-cloudnative-monitoring
/x-pack/osquerybeat/ @elastic/security-asset-management
/x-pack/packetbeat/ @elastic/security-external-integrations
/x-pack/winlogbeat/ @elastic/security-external-integrations

update tests
  libbeat/outputs/shipper/shipper.go
  libbeat/outputs/shipper/shipper_test.go
Owners: @elastic/elastic-agent-data-plane

x-pack/filebeat/module/okta: fill okta.request.ip_chain.* as a flattened object (#34621)
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/okta/fields.go
  x-pack/filebeat/module/okta/system/_meta/fields.yml
  x-pack/filebeat/module/okta/system/ingest/pipeline.yml
  x-pack/filebeat/module/okta/system/test/okta-system-test.json.log-expected.json
Owners: @elastic/security-external-integrations

try to make linter happy
  libbeat/outputs/shipper/shipper.go
  libbeat/outputs/shipper/shipper_test.go
Owners: @elastic/elastic-agent-data-plane

libbeat/metric/system/cgroup/cgv2: explicitly convert Stat_t.Rdev to uint64
  CHANGELOG-developer.next.asciidoc
  libbeat/metric/system/cgroup/cgv2/io_helper_linux.go
Owners: @elastic/elastic-agent-data-plane

fix diagram EOLs
  libbeat/publisher/queue/proxy/diagrams/broker.d2
  libbeat/publisher/queue/proxy/diagrams/broker.svg
Owners: @elastic/elastic-agent-data-plane

add test for write-after-close
  libbeat/publisher/queue/proxy/queue_test.go
Owners: @elastic/elastic-agent-data-plane

resolve conflicts
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/okta/fields.go
  x-pack/filebeat/module/okta/system/test/okta-system-test.json.log-expected.json
Owners: @elastic/security-external-integrations

x-pack/filebeat/input/httpjson: fix relation parameter in getRFC5988Link
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/httpjson/value_tpl.go
  x-pack/filebeat/input/httpjson/value_tpl_test.go
Owners: @elastic/security-external-integrations

fix error updating remaining acks
  libbeat/outputs/shipper/shipper.go
Owners: @elastic/elastic-agent-data-plane

Add a proxy queue to avoid double-queueing every event when using the shipper output (#34377)
  libbeat/outputs/outest/batch.go
  libbeat/outputs/shipper/shipper.go
  libbeat/publisher/event.go
  libbeat/publisher/pipeline/testing.go
  libbeat/publisher/pipeline/ttl_batch.go
  libbeat/publisher/queue/diskqueue/consumer.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/queue_test.go
  libbeat/publisher/queue/proxy/README.md
  libbeat/publisher/queue/proxy/batch.go
  libbeat/publisher/queue/proxy/broker.go
  libbeat/publisher/queue/proxy/diagrams/broker.d2
  libbeat/publisher/queue/proxy/diagrams/broker.svg
  libbeat/publisher/queue/proxy/internal_api.go
  libbeat/publisher/queue/proxy/produce.go
  libbeat/publisher/queue/proxy/queue_test.go
  libbeat/publisher/queue/queue.go
Owners: @elastic/elastic-agent-data-plane

Add a proxy queue to avoid double-queueing every event when using the shipper output (#34377)
  libbeat/outputs/outest/batch.go
  libbeat/outputs/shipper/shipper.go
  libbeat/publisher/event.go
  libbeat/publisher/pipeline/testing.go
  libbeat/publisher/pipeline/ttl_batch.go
  libbeat/publisher/queue/diskqueue/consumer.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/memqueue/queue_test.go
  libbeat/publisher/queue/proxy/README.md
  libbeat/publisher/queue/proxy/batch.go
  libbeat/publisher/queue/proxy/broker.go
  libbeat/publisher/queue/proxy/diagrams/broker.d2
  libbeat/publisher/queue/proxy/diagrams/broker.svg
  libbeat/publisher/queue/proxy/internal_api.go
  libbeat/publisher/queue/proxy/produce.go
  libbeat/publisher/queue/proxy/queue_test.go
  libbeat/publisher/queue/queue.go
Owners: @elastic/elastic-agent-data-plane

updated logs to more structured logging methods
  x-pack/filebeat/input/gcs/job.go
Owners: @elastic/elastic-agent-data-plane

updated asciidoc
  CHANGELOG.next.asciidoc
Owners: none

[filebeat][gcs] - Fixed log format issues (#34659)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/gcs/job.go
Owners: @elastic/elastic-agent-data-plane

[filebeat][gcs] - Fixed log format issues (#34659)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/gcs/job.go
Owners: @elastic/elastic-agent-data-plane

[filebeat][gcs] - Fixed log format issues (#34659)
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/gcs/job.go
Owners: @elastic/elastic-agent-data-plane

Update libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor.go
Owners: @elastic/elastic-agent-data-plane

address pr comments
  libbeat/metric/system/cgroup/cgv2/io_helper_linux.go
Owners: @elastic/elastic-agent-data-plane

chore: Updated the content of the file "/tmp/updatecli/github/elastic...
  testing/environments/snapshot.yml
Owners: @elastic/elastic-agent-data-plane

chore: Updated the content of the file "/tmp/updatecli/github/elastic...
  testing/environments/snapshot.yml
Owners: @elastic/elastic-agent-data-plane

chore: Updated the content of the file "/tmp/updatecli/github/elastic...
  testing/environments/snapshot.yml
Owners: @elastic/elastic-agent-data-plane

[Heartbeat]: use node version 18 for HB images (#34469)
  CHANGELOG.next.asciidoc
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
Owners: @elastic/elastic-agent-data-plane

Add `SafeProcessor` wrapper (#34647)
  CHANGELOG.next.asciidoc
  libbeat/processors/registry.go
  libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor_test.go
Owners: @elastic/elastic-agent-data-plane

Add `SafeProcessor` wrapper (#34647)
  CHANGELOG.next.asciidoc
  libbeat/processors/registry.go
  libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor_test.go
Owners: @elastic/elastic-agent-data-plane

Add `SafeProcessor` wrapper (#34647)
  CHANGELOG.next.asciidoc
  libbeat/processors/registry.go
  libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor_test.go
Owners: @elastic/elastic-agent-data-plane

Add `SafeProcessor` wrapper (#34647)
  CHANGELOG.next.asciidoc
  libbeat/processors/registry.go
  libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor_test.go
Owners: @elastic/elastic-agent-data-plane

Add `SafeProcessor` wrapper (#34647)
  CHANGELOG.next.asciidoc
  libbeat/processors/registry.go
  libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor_test.go
Owners: @elastic/elastic-agent-data-plane

[elasticsearch] Collect node roles as part of node_stats metricset
  metricbeat/module/elasticsearch/node_stats/data.go
Owners: @elastic/infra-monitoring-ui

chore: Updated the content of the file "/tmp/updatecli/github/elastic... (#34664)
  testing/environments/snapshot.yml
Owners: @elastic/elastic-agent-data-plane

Remove extra changelog entries
  CHANGELOG.next.asciidoc
Owners: none

Remove extra changelog entries
  CHANGELOG.next.asciidoc
Owners: none

Fix different constructor signature
  libbeat/processors/safe_processor.go
  libbeat/processors/safe_processor_test.go
Owners: @elastic/elastic-agent-data-plane

fixing auth check
  x-pack/filebeat/input/awss3/input.go
Owners: @elastic/obs-cloud-monitoring

libbeat/metric/system/cgroup/cgv2: explicitly convert Stat_t.Rdev to uint64 (#34658)
  CHANGELOG-developer.next.asciidoc
  libbeat/metric/system/cgroup/cgv2/io_helper_linux.go
Owners: @elastic/elastic-agent-data-plane

Add nginx.ingress_controller.upstream.ip to related.ip (#34645)
  CHANGELOG.next.asciidoc
  filebeat/module/nginx/ingress_controller/ingest/pipeline.yml
  filebeat/module/nginx/ingress_controller/test/test.log-expected.json
Owners: @elastic/integrations

Added pull id
  CHANGELOG.next.asciidoc
Owners: none

chore(): fix convertion from Null to string error
  x-pack/metricbeat/module/mssql/database/database.go
Owners: @elastic/integrations

chore(): remove index name
  x-pack/metricbeat/module/mssql/database/database.go
Owners: @elastic/integrations
