Repository elastic/beats, pull requests merged in 2018-06, with the labels that each got.

#7236 Add links to docs about ssl settings
  heartbeat/docs/heartbeat-options.asciidoc
  libbeat/docs/shared-ssl-config.asciidoc
Labels: docs, needs_backport, review

#7233 Add link to topic that desribes more dashboard loading options
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/dashboards.asciidoc
Labels: docs, needs_backport, review

#7232 Avoid unneeded runner restarts when using config reloading
  libbeat/cfgfile/list.go
Labels: bug, libbeat, review

#7231 Add owner object info to Kubernetes metadata
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/config.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/processors/add_kubernetes_metadata/config.go
  libbeat/processors/add_kubernetes_metadata/indexers_test.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Labels: :Processors, enhancement, k8s, review

#7221 Add comments to the beat template
  generator/beat/{beat}/beater/{beat}.go.tmpl
Labels: :Generator, review

#7204 MINOR: Resolve string concatenation todo in packetbeat/.../http.go
  packetbeat/protos/http/http.go
Labels: Packetbeat, review

#7210 Unify handling of root and extracted key for dissect
  libbeat/processors/dissect/processor.go
  libbeat/processors/dissect/processor_test.go
Labels: :Processors, libbeat, review

#7209 Add dissect to traefik/access metricset for first stage of processing
  CHANGELOG.asciidoc
  filebeat/module/traefik/access/config/traefik-access.yml
  filebeat/module/traefik/access/ingest/pipeline.json
Labels: Filebeat, module, review

#7227 Remove index_template helper script as not need anymore
  dev-tools/cmd/index_template/index_template.go
  libbeat/scripts/Makefile
Labels: refactoring, review

#7242 Update Filebeat modules development guide
  docs/devguide/modules-dev-guide.asciidoc
Labels: Filebeat, docs

#7239 Add support to export dashboard to Beat
  CHANGELOG.asciidoc
  libbeat/cmd/export.go
  libbeat/cmd/export/dashboard.go
  libbeat/kibana/client.go
  libbeat/kibana/dashboard.go
Labels: :Dashboards, libbeat, review

#7224 Extract Kibana dashboards
  libbeat/scripts/unpack_dashboards.py
  metricbeat/Makefile
  metricbeat/module/apache/_meta/kibana/6/dashboard/Metricbeat-apache-overview.json
  metricbeat/module/docker/_meta/kibana/6/dashboard/Metricbeat-docker-overview.json
  metricbeat/module/golang/_meta/kibana/6/dashboard/Metricbeat-golang-overview.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-backend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-frontend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-backend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-frontend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-server.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-overview.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-visualizations.json
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-apiserver.json
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-overview.json
  metricbeat/module/mongodb/_meta/kibana/6/dashboard/Metricbeat-mongodb-overview.json
  metricbeat/module/mysql/_meta/kibana/6/dashboard/Metricbeat-mysql-overview.json
  metricbeat/module/nginx/_meta/kibana/6/dashboard/metricbeat-nginx-overview.json
  metricbeat/module/rabbitmq/_meta/kibana/6/dashboard/Metricbeat-rabbitmq-overview.json
  metricbeat/module/redis/_meta/kibana/6/dashboard/Metricbeat-redis-overview.json
  metricbeat/module/system/_meta/kibana/6/dashboard/Metricbeat-containers-overview.json
  metricbeat/module/system/_meta/kibana/6/dashboard/Metricbeat-host-overview.json
  metricbeat/module/system/_meta/kibana/6/dashboard/Metricbeat-system-overview.json
  metricbeat/module/uwsgi/_meta/kibana/6/dashboard/Metricbeat-uwsgi-overview.json
  metricbeat/module/windows/_meta/kibana/6/dashboard/metricbeat-windows-service.json
Labels: :Dashboards, Metricbeat, review

#7141 Jolokia discovery autodiscover provider
  CHANGELOG.asciidoc
  filebeat/docs/autodiscover-jolokia-config.asciidoc
  libbeat/autodiscover/providers/jolokia/config.go
  libbeat/autodiscover/providers/jolokia/config_test.go
  libbeat/autodiscover/providers/jolokia/discovery.go
  libbeat/autodiscover/providers/jolokia/jolokia.go
  libbeat/cmd/instance/beat.go
  libbeat/docs/shared-autodiscover.asciidoc
  metricbeat/docs/autodiscover-jolokia-config.asciidoc
  metricbeat/module/jolokia/_meta/Dockerfile
  metricbeat/module/jolokia/_meta/jolokia.xml
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
  metricbeat/tests/system/test_autodiscover_jolokia.py
Labels: Metricbeat, discuss, libbeat, review

#7216 Update state_container to latest kube-state-metrics version
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/prometheus_test.go
  metricbeat/helper/prometheus/ptest/ptest.go
  metricbeat/include/fields.go
  metricbeat/module/kubernetes/_meta/test/kube-state-metrics.v1.3.0
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
  metricbeat/module/kubernetes/state_container/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_container/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/state_container/state_container_test.go
  metricbeat/module/kubernetes/state_node/state_node.go
  metricbeat/module/kubernetes/state_pod/state_pod.go
Labels: Metricbeat, needs_backport, review, v6.3.0

#7250 Iis Filebeat dashboard was in the wrong directory
  filebeat/module/iis/_meta/kibana/6/dashboard/Filebeat-iis.json
Labels: :Dashboards, module, review

#7241 Update export_dashboard script to export full dashboard json doc
  dev-tools/cmd/dashboards/export_dashboards.go
  libbeat/kibana/dashboard.go
Labels: :Dashboards, review

#7214 Filebeat: Allow stateless and stateful ACKer on the global ack handler
  CHANGELOG.asciidoc
  filebeat/beater/acker.go
  filebeat/beater/acker_test.go
  filebeat/beater/filebeat.go
Labels: Filebeat, needs_backport, review

#7060 Add support for pg_stat_statements to MetricBeat Postgresql module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/postgresql.asciidoc
  metricbeat/docs/modules/postgresql/statement.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/list.go
  metricbeat/module/postgresql/_meta/Dockerfile
  metricbeat/module/postgresql/_meta/docker-entrypoint-initdb.d/0-enable-pg_stat_statements.sh
  metricbeat/module/postgresql/_meta/docker-entrypoint-initdb.d/1-create-extension-pg_stat_statements.sql
  metricbeat/module/postgresql/statement/_meta/data.json
  metricbeat/module/postgresql/statement/_meta/docs.asciidoc
  metricbeat/module/postgresql/statement/_meta/fields.yml
  metricbeat/module/postgresql/statement/data.go
  metricbeat/module/postgresql/statement/statement.go
  metricbeat/module/postgresql/statement/statement_integration_test.go
Labels: Metricbeat, module, review

#7254 Metricbeat: Set descriptions for dashboards
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/module/apache/_meta/kibana/6/dashboard/Metricbeat-apache-overview.json
  metricbeat/module/docker/_meta/kibana/6/dashboard/Metricbeat-docker-overview.json
  metricbeat/module/golang/_meta/kibana/6/dashboard/Metricbeat-golang-overview.json
  metricbeat/module/haproxy/_meta/docs.asciidoc
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-backend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-frontend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-backend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-frontend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-server.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-overview.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-visualizations.json
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-apiserver.json
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-overview.json
  metricbeat/module/mongodb/_meta/kibana/6/dashboard/Metricbeat-mongodb-overview.json
  metricbeat/module/mysql/_meta/kibana/6/dashboard/Metricbeat-mysql-overview.json
  metricbeat/module/nginx/_meta/kibana/6/dashboard/metricbeat-nginx-overview.json
  metricbeat/module/rabbitmq/_meta/kibana/6/dashboard/Metricbeat-rabbitmq-overview.json
  metricbeat/module/redis/_meta/kibana/6/dashboard/Metricbeat-redis-overview.json
  metricbeat/module/system/_meta/kibana/6/dashboard/Metricbeat-containers-overview.json
  metricbeat/module/system/_meta/kibana/6/dashboard/Metricbeat-host-overview.json
  metricbeat/module/system/_meta/kibana/6/dashboard/Metricbeat-system-overview.json
  metricbeat/module/uwsgi/_meta/kibana/6/dashboard/Metricbeat-uwsgi-overview.json
Labels: :Dashboards, Metricbeat, module, review

#7260 Move heartbeat dashboards to monitors
  heartbeat/.gitignore
  heartbeat/Makefile
  heartbeat/_meta/kibana/6/dashboard/Heartbeat-http-monitor.json
  heartbeat/monitors/active/http/_meta/kibana/5/dashboard/f3e771c0-eb19-11e6-be20-559646f8b9ba.json
  heartbeat/monitors/active/http/_meta/kibana/5/search/02014c80-29d2-11e7-a68f-bfaa2341cc52.json
  heartbeat/monitors/active/http/_meta/kibana/5/visualization/091c3a90-eb1e-11e6-be20-559646f8b9ba.json
  heartbeat/monitors/active/http/_meta/kibana/5/visualization/0f4c0560-eb20-11e6-9f11-159ff202874a.json
  heartbeat/monitors/active/http/_meta/kibana/5/visualization/1738dbc0-eb1d-11e6-be20-559646f8b9ba.json
  heartbeat/monitors/active/http/_meta/kibana/5/visualization/920e8140-eb1a-11e6-be20-559646f8b9ba.json
  heartbeat/monitors/active/http/_meta/kibana/5/visualization/c65ef340-eb19-11e6-be20-559646f8b9ba.json
  heartbeat/monitors/active/http/_meta/kibana/6/dashboard/Heartbeat-http-monitor.json
Labels: Heartbeat, review

#7259 Decode versioned Auditbeat dashboards
  auditbeat/Makefile
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-executions.json
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-overview.json
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-sockets.json
  auditbeat/module/file_integrity/_meta/kibana/6/dashboard/auditbeat-file-integrity.json
Labels: Auditbeat, review

#7192 Update default value for flush.timeout and flush.min_events
  libbeat/docs/queueconfig.asciidoc
Labels: docs, libbeat, needs_backport

#7258 Cherry-pick #7214 to 6.3: Filebeat: Allow stateless and stateful ACKer on the global ack handler
  CHANGELOG.asciidoc
  filebeat/beater/acker.go
  filebeat/beater/acker_test.go
  filebeat/beater/filebeat.go
Labels: backport, review

#7251 Decode versioned Filebeat dashboards
  filebeat/Makefile
  filebeat/module/apache2/_meta/kibana/6/dashboard/Filebeat-apache2.json
  filebeat/module/auditd/_meta/kibana/6/dashboard/Filebeat-auditd.json
  filebeat/module/icinga/_meta/kibana/6/dashboard/Filebeat-icinga-debug-log.json
  filebeat/module/icinga/_meta/kibana/6/dashboard/Filebeat-icinga-main-log.json
  filebeat/module/icinga/_meta/kibana/6/dashboard/Filebeat-icinga-startup-errors.json
  filebeat/module/iis/_meta/kibana/6/dashboard/Filebeat-iis.json
  filebeat/module/kafka/_meta/kibana/6/dashboard/Filebeat-Kafka-overview.json
  filebeat/module/logstash/_meta/kibana/6/dashboard/Filebeat-logstash-log.json
  filebeat/module/logstash/_meta/kibana/6/dashboard/Filebeat-logstash-slowlog.json
  filebeat/module/mongodb/_meta/kibana/6/dashboard/Filebeat-Mongodb-overview.json
  filebeat/module/mysql/_meta/kibana/6/dashboard/Filebeat-mysql.json
  filebeat/module/nginx/_meta/kibana/6/dashboard/Filebeat-nginx-logs.json
  filebeat/module/nginx/_meta/kibana/6/dashboard/Filebeat-nginx-overview.json
  filebeat/module/nginx/_meta/kibana/6/dashboard/ml-nginx-access-remote-ip-count-explorer.json
  filebeat/module/nginx/_meta/kibana/6/dashboard/ml-nginx-remote-ip-url-explorer.json
  filebeat/module/osquery/_meta/kibana/6/dashboard/osquery-compliance.json
  filebeat/module/osquery/_meta/kibana/6/dashboard/osquery-rootkit.json
  filebeat/module/postgresql/_meta/kibana/6/dashboard/Filebeat-Postgresql-overview.json
  filebeat/module/postgresql/_meta/kibana/6/dashboard/Filebeat-Postgresql-slowlogs.json
  filebeat/module/redis/_meta/kibana/6/dashboard/Filebeat-redis.json
  filebeat/module/system/_meta/kibana/6/dashboard/Filebeat-auth-sudo-commands.json
  filebeat/module/system/_meta/kibana/6/dashboard/Filebeat-new-users-and-groups.json
  filebeat/module/system/_meta/kibana/6/dashboard/Filebeat-ssh-login-attempts.json
  filebeat/module/system/_meta/kibana/6/dashboard/Filebeat-syslog.json
  filebeat/module/traefik/_meta/kibana/6/dashboard/Filebeat-traefik-overview.json
  filebeat/module/traefik/_meta/kibana/6/dashboard/ml-traefik-access-remote-ip-count-explorer.json
  filebeat/module/traefik/_meta/kibana/6/dashboard/ml-traefik-remote-ip-url-explorer.json
Labels: Filebeat, module, review

#7267 Cherry-pick #7096 to 6.3: Use minikube on travis for K8S integration tests
  .travis.yml
  deploy/kubernetes/.travis/setup.sh
Labels: backport, review

#7185 Auditbeat: Add backpressure_strategy option (#7157)
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/audit_linux_test.go
  auditbeat/module/auditd/config.go
Labels: Auditbeat, discuss, enhancement, feedback needed

#7255 Cherrypick to 6.2: Fix typo in keystore CLI example
  libbeat/docs/keystore.asciidoc
Labels: backport, docs, review

#7249 Forward port to master: Fix keystore example (#7246)
  libbeat/docs/keystore.asciidoc
Labels: backport, docs, review

#7261 Move generate Kibana files to _meta/kibana.generated
  .gitignore
  libbeat/kibana/index_pattern_generator.go
  libbeat/kibana/index_pattern_generator_test.go
  libbeat/scripts/Makefile
Labels: :Dashboards, libbeat, review

#7266 Cherry-pick #6902 to 6.3: Add file spool to queue docs
  libbeat/docs/queueconfig.asciidoc
Labels: backport, review

#7256 Cherrypick to 6.3: Fix typo in keystore CLI example #7255
  libbeat/docs/keystore.asciidoc
Labels: backport, docs, review

#7264 Cherry-pick #7192 to 6.3: Update default value for flush.timeout and flush.min_events
  libbeat/docs/queueconfig.asciidoc
Labels: backport, review

#7163 Stop worker goroutine on auditd metricset shutdown
  CHANGELOG.asciidoc
  auditbeat/module/auditd/_meta/data.json
  auditbeat/module/auditd/_meta/execve.json
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/audit_linux_test.go
Labels: Auditbeat, bug, review

#7268 Fix some error messages
  libbeat/cmd/modules.go
  libbeat/cmd/run.go
Labels: libbeat, review

#7272 Add basic system tests to heartbeat
  heartbeat/tests/system/config/heartbeat.yml.j2
  heartbeat/tests/system/test_monitor.py
Labels: :Testing, Heartbeat, review

#7270 Correctly report why the test_module suite is skipped
  filebeat/tests/system/test_modules.py
Labels: :Testing, Filebeat

#7238 Allow to override the `ignore_above` option for field of the type keyword.
  CHANGELOG.asciidoc
  libbeat/common/field.go
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: libbeat, review

#7283 libbeat: Get and initialize namespaces in mutual exclusion
  libbeat/monitoring/namespace.go
Labels: bug, libbeat, review

#7288 Rename status to status_code in heartbeat http test
  heartbeat/tests/system/test_monitor.py
  libbeat/scripts/Makefile
Labels: :Testing, Heartbeat, review

#7128 Document privileges for running Beats features against secured cluster
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/https.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/beats-system.asciidoc
  libbeat/docs/security/linux-seccomp.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/security/tls.asciidoc
  libbeat/docs/security/user-access.asciidoc
  libbeat/docs/shared-configuring.asciidoc
  libbeat/docs/shared-download-and-install.asciidoc
  libbeat/docs/shared-ssl-logstash-config.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/step-configure-credentials.asciidoc
Labels: docs, needs_backport, review

#7282 Fix autodiscover examples
  filebeat/docs/autodiscover-docker-config.asciidoc
  metricbeat/docs/autodiscover-docker-config.asciidoc
Labels: docs, needs_backport, review, v6.3.0

#7284 Fix issues when deploying with `kubectl apply`
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset-configmap.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment-configmap.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment.yaml
Labels: bug, docs, needs_backport, review, v6.3.0

#7285 permit index-pattern only setup
  CHANGELOG.asciidoc
  libbeat/dashboards/importer.go
  libbeat/tests/system/test_dashboard.py
Labels: :Dashboards, bug, needs_backport, review

#7265 Unify Kibana dashboard directory logic across Beats
  CHANGELOG-developer.asciidoc
  auditbeat/.gitignore
  auditbeat/Makefile
  auditbeat/tests/system/test_base.py
  filebeat/.gitignore
  filebeat/Dockerfile
  filebeat/Makefile
  filebeat/tests/system/test_modules.py
  heartbeat/.gitignore
  heartbeat/Makefile
  libbeat/scripts/Makefile
  metricbeat/.gitignore
  metricbeat/Makefile
  metricbeat/tests/system/test_base.py
  packetbeat/.gitignore
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-cassandra.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dns-tunneling.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dns.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-flows.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-http.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-mongodb.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-mysql.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-nfs.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-overview.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-pgsql.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-thrift.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-tls.json
  winlogbeat/.gitignore
  winlogbeat/_meta/kibana/6/dashboard/Winlogbeat-overview.json
Labels: :Dashboards, libbeat, review

#7294 Use KEY_WOW64_64KEY to access MachineGuid
  CHANGELOG.asciidoc
  metricbeat/module/windows/service/service_windows.go
Labels: :Windows, Metricbeat, bug

#7269 Optimize postgresql ingest pipeline
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/tests/system/test_modules.py
Labels: Filebeat, review

#7276 Add field docs check to heartbeat
  filebeat/tests/system/filebeat.py
  heartbeat/_meta/fields.common.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  heartbeat/monitors/active/http/_meta/fields.yml
  heartbeat/tests/system/test_monitor.py
  libbeat/tests/system/beat/beat.py
  metricbeat/tests/system/metricbeat.py
Labels: Heartbeat, review

#7293 Allow user to rely on Elasticsearch default ignore above for keyword
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: libbeat, review

#7295 Fix beats-dashboard make command
  Makefile
Labels: :Packaging, review

#7281 Keep different registry entry per container stream
  CHANGELOG.asciidoc
  filebeat/input/docker/input.go
  filebeat/input/file/state.go
  filebeat/input/input.go
  filebeat/input/log/input.go
  filebeat/input/log/input_test.go
  filebeat/input/registry.go
  filebeat/tests/system/test_registrar.py
  filebeat/util/data.go
Labels: Filebeat, bug, needs_backport, review, v6.3.0

#7298 Close changelog for 5.6.10
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#7307 Remove `type` field as not needed
  CHANGELOG.asciidoc
  heartbeat/_meta/fields.common.yml
  heartbeat/beater/manager.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
Labels: Heartbeat, review

#7302 Adds table header to command summary table
  libbeat/docs/command-reference.asciidoc
Labels: docs, needs_backport, review

#6903 Document backoff options
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: docs, needs_backport, review

#7318 Bump version to 6.3.1
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: release, review, v6.3.1

#7319 Bump version to 5.6.11
  dev-tools/packer/version.yml
  filebeat/filebeat.template-es2x.json
  filebeat/filebeat.template-es6x.json
  filebeat/filebeat.template.json
  heartbeat/heartbeat.template-es2x.json
  heartbeat/heartbeat.template-es6x.json
  heartbeat/heartbeat.template.json
  libbeat/beat/version.go
  libbeat/libbeat.template-es6x.json
  metricbeat/metricbeat.template-es2x.json
  metricbeat/metricbeat.template-es6x.json
  metricbeat/metricbeat.template.json
  packetbeat/packetbeat.template-es2x.json
  packetbeat/packetbeat.template-es6x.json
  packetbeat/packetbeat.template.json
  winlogbeat/winlogbeat.template-es2x.json
  winlogbeat/winlogbeat.template-es6x.json
  winlogbeat/winlogbeat.template.json
Labels: release, review

#7316 more dynamic mappings for numeric object types
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: libbeat

#7290 Cherry-pick #7226 to 6.3: Fix beat name in Filebeat hints autodiscover example
  filebeat/docs/autodiscover-hints.asciidoc
Labels: backport, review

#7094 Cherry-pick #7079 to 6.3: Update modules s/prospector(s)/input(s)
  filebeat/filebeat.reference.yml
  filebeat/module/iis/_meta/config.reference.yml
  filebeat/module/iis/access/manifest.yml
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/manifest.yml
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/mongodb/log/manifest.yml
  filebeat/module/nginx/_meta/config.reference.yml
  filebeat/scripts/fileset/manifest.yml
Labels: backport

#7069 Cherry-pick #6978 #7012 to 6.3: Update github.com/elastic/go-libaudit to v0.2.1
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/LICENSE
  vendor/github.com/elastic/go-libaudit/LICENSE.txt
  vendor/github.com/elastic/go-libaudit/NOTICE.txt
  vendor/github.com/elastic/go-libaudit/aucoalesce/coalesce.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/event_type.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/id_lookup.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/normalizations.yaml
  vendor/github.com/elastic/go-libaudit/aucoalesce/normalize.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/znormalize_data.go
  vendor/github.com/elastic/go-libaudit/audit.go
  vendor/github.com/elastic/go-libaudit/auparse/auparse.go
  vendor/github.com/elastic/go-libaudit/auparse/doc.go
  vendor/github.com/elastic/go-libaudit/auparse/hex.go
  vendor/github.com/elastic/go-libaudit/auparse/mk_audit_arches.pl
  vendor/github.com/elastic/go-libaudit/auparse/mk_audit_syscalls.pl
  vendor/github.com/elastic/go-libaudit/auparse/sockaddr.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_arches.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_exit_codes.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_msg_types.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_syscalls.go
  vendor/github.com/elastic/go-libaudit/doc.go
  vendor/github.com/elastic/go-libaudit/netlink.go
  vendor/github.com/elastic/go-libaudit/reassembler.go
  vendor/github.com/elastic/go-libaudit/rule/binary.go
  vendor/github.com/elastic/go-libaudit/rule/defs_kernel_types.go
  vendor/github.com/elastic/go-libaudit/rule/flags/flags.go
  vendor/github.com/elastic/go-libaudit/rule/rule.go
  vendor/github.com/elastic/go-libaudit/rule/tables.go
  vendor/github.com/elastic/go-libaudit/rule/types.go
  vendor/github.com/elastic/go-libaudit/rule/zkernel_types.go
  vendor/vendor.json
Labels: Auditbeat, backport, review

#7061 Metricbeat: Ensure canonical naming for JMX beans is disabled (backport of #7047 to 6.3)
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/tests/system/requirements.txt
  metricbeat/tests/system/test_jolokia.py
Labels: Metricbeat, backport, bug, module, review

#7314 DOCS: Mark TCP and UDP as experimental
  filebeat/docs/inputs/input-tcp.asciidoc
  filebeat/docs/inputs/input-udp.asciidoc
Labels: docs, needs_backport, review

#7296 Clarify docs around x-pack monitoring
  libbeat/docs/monitoring/monitoring-beats.asciidoc
Labels: docs, libbeat, needs_backport

#7228 Review hints based autodiscover docs
  filebeat/docs/autodiscover-hints.asciidoc
  metricbeat/docs/autodiscover-hints.asciidoc
Labels: Filebeat, Metricbeat, docs, enhancement, k8s, needs_backport, review, v6.3.0

#7300 Cherry-pick #7281 to 6.3: Keep different registry entry per container stream
  CHANGELOG.asciidoc
  filebeat/input/docker/input.go
  filebeat/input/file/state.go
  filebeat/input/input.go
  filebeat/input/log/input.go
  filebeat/input/log/input_test.go
  filebeat/input/registry.go
  filebeat/tests/system/test_registrar.py
  filebeat/util/data.go
Labels: backport, review

#7313 Update Golang to 1.10.3
  .go-version
  auditbeat/Dockerfile
  dev-tools/packer/docker/xgo-image-deb7/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image-deb7/build.sh
  dev-tools/packer/docker/xgo-image-deb7/go-1.10.3/Dockerfile
  dev-tools/packer/docker/xgo-image/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image/build.sh
  dev-tools/packer/docker/xgo-image/go-1.10.3/Dockerfile
  filebeat/Dockerfile
  generator/beat/{beat}/.travis.yml
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
Labels: :Infra, review

#7323 Cherry-pick #7296 to 6.3: Clarify docs around x-pack monitoring
  libbeat/docs/monitoring/monitoring-beats.asciidoc
Labels: backport, review

#7324 Cherry-pick #7228 to 6.3: Review hints based autodiscover docs
  filebeat/docs/autodiscover-hints.asciidoc
  metricbeat/docs/autodiscover-hints.asciidoc
Labels: backport, review

#7325 Cherry-pick #7296 to 6.2: Clarify docs around x-pack monitoring
  libbeat/docs/monitoring/monitoring-beats.asciidoc
Labels: backport, review

#7327 Update Elasticsearch for Metricbeat tests to 6.3
  metricbeat/module/elasticsearch/_meta/Dockerfile
Labels: :Testing, review

#7329 Update Kibana to 6.3 for Metricbeat testing
  metricbeat/module/kibana/_meta/Dockerfile
Labels: :Testing, review

#7338 Cherry-pick #7178 to 6.3: spool to disk: more descriptive error message
  libbeat/publisher/queue/spool/spool.go
Labels: backport, review

#7339 Cherry-pick #6997 to 6.3: Fix out of bounds access in packetbeat's HTTP parser
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
Labels: backport, review

#7177 Cherry-pick #7165 to 6.3: Negotiate Docker API version
  CHANGELOG.asciidoc
  libbeat/common/docker/client.go
  libbeat/common/docker/watcher.go
  metricbeat/module/docker/docker.go
Labels: backport, review

#7332 Cherry-pick #7314 to 6.3: DOCS: Mark TCP and UDP as experimental
  filebeat/docs/inputs/input-tcp.asciidoc
  filebeat/docs/inputs/input-udp.asciidoc
Labels: backport, review

#7333 Cherry-pick #7198 to 6.3: Comply with PostgreSQL database name format
  CHANGELOG.asciidoc
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
Labels: backport, review

#7334 Missing changelog for the PostgreSQL ingest pipeline change.
  CHANGELOG.asciidoc
Labels: Filebeat, review

#7311 [Auditbeat] Add XXH64 File Integrity Checks (#6626)
  CHANGELOG.asciidoc
  NOTICE.txt
  auditbeat/auditbeat.reference.yml
  auditbeat/docs/fields.asciidoc
  auditbeat/docs/modules/file_integrity.asciidoc
  auditbeat/include/fields.go
  auditbeat/module/file_integrity/_meta/config.yml.tpl
  auditbeat/module/file_integrity/_meta/docs.asciidoc
  auditbeat/module/file_integrity/_meta/fields.yml
  auditbeat/module/file_integrity/config.go
  auditbeat/module/file_integrity/event.go
  auditbeat/module/file_integrity/event_test.go
  auditbeat/module/file_integrity/flatbuffers.go
  auditbeat/module/file_integrity/schema.fbs
  auditbeat/module/file_integrity/schema/Hash.go
  vendor/github.com/OneOfOne/xxhash/LICENSE
  vendor/github.com/OneOfOne/xxhash/README.md
  vendor/github.com/OneOfOne/xxhash/go.mod
  vendor/github.com/OneOfOne/xxhash/xxhash.go
  vendor/github.com/OneOfOne/xxhash/xxhash_go17.go
  vendor/github.com/OneOfOne/xxhash/xxhash_safe.go
  vendor/github.com/OneOfOne/xxhash/xxhash_unsafe.go
  vendor/vendor.json
Labels: Auditbeat, review

#7062 Metricbeat: Ensure canonical naming for JMX beans is disabled (Backport of #7047 to 6.2)
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/tests/system/requirements.txt
  metricbeat/tests/system/test_jolokia.py
Labels: Metricbeat, backport, bug, module, review

#7340 client.go: fix typo in debug message
  libbeat/outputs/elasticsearch/client.go
Labels: libbeat, review

#7336 [Filebeat] Fix offset field pointing at end of line for #6514
  CHANGELOG.asciidoc
  filebeat/input/log/harvester.go
  filebeat/tests/system/test_shutdown.py
Labels: Filebeat, needs_backport, review

#7341 Update test environment for 6.3 branch
  libbeat/scripts/Makefile
  libbeat/tests/compose/compose.go
  testing/environments/Makefile
  testing/environments/args.yml
  testing/environments/latest.yml
Labels: :Testing, review

#7309 Improve Elasticsearch server fileset
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
Labels: Filebeat, module, review

#7348 Mark spool to disk as beta
  libbeat/docs/queueconfig.asciidoc
Labels: docs, needs_backport, review

#7305 Create jvm fileset
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/fields.go
  filebeat/module/elasticsearch/_meta/config.yml
  filebeat/module/elasticsearch/gc/_meta/fields.yml
  filebeat/module/elasticsearch/gc/config/gc.yml
  filebeat/module/elasticsearch/gc/ingest/pipeline.json
  filebeat/module/elasticsearch/gc/manifest.yml
  filebeat/module/elasticsearch/gc/test/gc.log.0.current
  filebeat/module/elasticsearch/gc/test/test.log
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
  filebeat/module/elasticsearch/module.yml
  filebeat/modules.d/elasticsearch.yml.disabled
Labels: Filebeat, module, review

#7345 Cherry-pick #7336 to 6.3: [Filebeat] Fix offset field pointing at end of line for #6514
  CHANGELOG.asciidoc
  filebeat/input/log/harvester.go
  filebeat/tests/system/test_shutdown.py
Labels: backport, review

#7344 Cherry-pick #7269 to 6.3: Optimize postgresql ingest pipeline
  CHANGELOG.asciidoc
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/tests/system/test_modules.py
Labels: backport, review

#7321 Metricbeat: Canonicalize MBean names in Jolokia module
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/config_test.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/tests/system/test_jolokia.py
Labels: Metricbeat, module, needs_backport, review, v6.3.1

#7342 Improve and separate Filebeat module testing
  filebeat/tests/system/test_ml.py
  filebeat/tests/system/test_modules.py
  filebeat/tests/system/test_pipeline.py
Labels: :Testing, Filebeat, module, review

#7328 Update Logstash to 6.3 for Metricbeat module testing
  metricbeat/module/logstash/_meta/Dockerfile
Labels: :Testing, review

#7354 Cherry-pick #7250 to 6.3: Iis Filebeat dashboard was in the wrong directory
  filebeat/module/iis/_meta/kibana/6/dashboard/Filebeat-iis.json
Labels: backport, review

#7355 Cherry-pick #7140 to 6.3: Fix permissions of generated Filebeat filesets
  CHANGELOG-developer.asciidoc
  filebeat/scripts/generator/generator.go
Labels: backport, review

#7156 Cherry-pick #7133 to 6.3: Keep event when `add_docker_metadata` fails to extract container id
  CHANGELOG.asciidoc
  libbeat/processors/actions/extract_field.go
  libbeat/processors/actions/extract_field_test.go
Labels: backport, review

#7353 Cherry-pick #6988 to 6.3: Registry file fsync improvements
  CHANGELOG.asciidoc
  filebeat/registrar/registrar.go
  libbeat/common/file/helper_other.go
Labels: backport, review

#7322 Cherry-pick #7285 to 6.3: permit index-pattern only setup
  CHANGELOG.asciidoc
  libbeat/dashboards/importer.go
  libbeat/tests/system/test_dashboard.py
Labels: backport, review

#7356 Cherry-pick #7169 to 6.3: Add missing type to http.response.body field
  CHANGELOG.asciidoc
  packetbeat/_meta/fields.yml
  packetbeat/docs/fields.asciidoc
  packetbeat/protos/http/_meta/fields.yml
Labels: backport, review

#7253 Metricbeat: Collect accumulated docker network metrics
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  metricbeat/module/docker/network/_meta/data.json
  metricbeat/module/docker/network/_meta/fields.yml
  metricbeat/module/docker/network/data.go
  metricbeat/module/docker/network/helper.go
  metricbeat/module/docker/network/network.go
  metricbeat/module/docker/network/network_integration_test.go
Labels: Metricbeat, module, needs_backport, review

#7360 Minor doc fixes
  libbeat/docs/keystore.asciidoc
  libbeat/docs/yaml.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/packetbeat-options.asciidoc
Labels: docs, needs_backport, review

#7229 Move log/harvester/reader to reader
  filebeat/harvester/reader/encode.go
  filebeat/harvester/reader/limit.go
  filebeat/input/log/config.go
  filebeat/input/log/harvester.go
  filebeat/input/log/harvester_test.go
  filebeat/reader/doc.go
  filebeat/reader/docker_json/docker_json.go
  filebeat/reader/docker_json/docker_json_test.go
  filebeat/reader/encode/encode.go
  filebeat/reader/encode/encoding/encoding.go
  filebeat/reader/encode/encoding/mixed.go
  filebeat/reader/encode/encoding/utf16.go
  filebeat/reader/encode/encoding/utf16_test.go
  filebeat/reader/json/json.go
  filebeat/reader/json/json_config.go
  filebeat/reader/json/json_test.go
  filebeat/reader/limit/limit.go
  filebeat/reader/line/line.go
  filebeat/reader/line/line_test.go
  filebeat/reader/message.go
  filebeat/reader/multiline/multiline.go
  filebeat/reader/multiline/multiline_config.go
  filebeat/reader/multiline/multiline_test.go
  filebeat/reader/reader.go
  filebeat/reader/strip_newline/strip_newline.go
  filebeat/reader/strip_newline/strip_newline_test.go
  filebeat/reader/timeout/timeout.go
  filebeat/scripts/tester/main.go
Labels: Filebeat, review

#7357 Update getting started intro and links
  auditbeat/docs/getting-started.asciidoc
  docs/devguide/index.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/modules-getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/communitybeats.asciidoc
  libbeat/docs/gettingstarted.asciidoc
  libbeat/docs/images/beats-platform.png
  libbeat/docs/index.asciidoc
  libbeat/docs/installing-beats.asciidoc
  libbeat/docs/overview.asciidoc
  libbeat/docs/shared-download-and-install.asciidoc
  libbeat/docs/shared-getting-started-intro.asciidoc
  libbeat/docs/shared-logstash-config.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  winlogbeat/docs/getting-started.asciidoc
Labels: docs, needs_backport, review

#6428 [docs] TLS extended key usage notes
  libbeat/docs/shared-ssl-logstash-config.asciidoc
Labels: docs, needs_backport, review

#7370 Fix broken doc links
  filebeat/docs/migration.asciidoc
  libbeat/docs/shared-faq.asciidoc
  libbeat/docs/shared-logstash-config.asciidoc
Labels: docs, needs_backport, review

#7371 Set doc branch to 6.x
  libbeat/docs/version.asciidoc
Labels: docs, review

#6828 add note about overwriting dashboards
  libbeat/docs/dashboardsconfig.asciidoc
Labels: docs, needs_backport, review

#7369 Add symlink to imports_generator_helper in generated Metricbeat Makefile
  generator/metricbeat/{beat}/Makefile
Labels: :Generator, Metricbeat, review

#7373 Fix wrong param in Metricbeat Kibana module reference config
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kibana/_meta/config.reference.yml
Labels: Metricbeat, module, needs_backport, review

#7377 Cherry-pick #7369 to 6.3: add symlink to import generator helper
  generator/metricbeat/{beat}/Makefile
Labels: backport, review

#7375 Fix json doc example for add_host_metadata processor
  libbeat/docs/processors-using.asciidoc
Labels: :Processors, docs, libbeat, needs_backport

#7363 Cherry-pick #7253 to 6.3: Metricbeat: Collect accumulated docker network metrics
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/mb/testing/data_generator.go
  metricbeat/module/docker/network/_meta/data.json
  metricbeat/module/docker/network/_meta/fields.yml
  metricbeat/module/docker/network/data.go
  metricbeat/module/docker/network/helper.go
  metricbeat/module/docker/network/network.go
  metricbeat/module/docker/network/network_integration_test.go
Labels: backport, review

#7380 Cherry-pick #7375 to 6.3: Fix json doc example for add_host_metadata processor
  libbeat/docs/processors-using.asciidoc
Labels: backport, review

#6708 Add support for docker autodiscover to monitor containers on host network
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/common/docker/watcher.go
  libbeat/common/docker/watcher_test.go
Labels: libbeat, needs_backport, review

#7372 Add ability to configure autodiscover with JSON hints
  CHANGELOG.asciidoc
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/autodiscover/builder/hints/logs_test.go
  filebeat/docs/autodiscover-hints.asciidoc
  libbeat/autodiscover/builder/helper.go
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  metricbeat/docs/autodiscover-hints.asciidoc
Labels: Filebeat, Metricbeat, k8s, module, review

#7385 Cherry-pick #7321 to 6.3: Metricbeat: Canonicalize MBean names in Jolokia module
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/config_test.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/tests/system/test_jolokia.py
Labels: backport, review

#7390 Add jvm9 logging format to GC fileset of ES module
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/gc/_meta/fields.yml
  filebeat/module/elasticsearch/gc/config/gc.yml
  filebeat/module/elasticsearch/gc/ingest/pipeline.json
  filebeat/module/elasticsearch/gc/manifest.yml
  filebeat/module/elasticsearch/gc/test/gc.log
  filebeat/module/elasticsearch/gc/test/gc.log.1.current
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
Labels: Filebeat, module, review

#7398 Add breaking change about host namespace causing mapping issues
  libbeat/docs/breaking.asciidoc
Labels: docs, review

#7403 Close changelog 6.3.1
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#7411 Forward port to master: add note about overwriting dashboards (#6828)
  libbeat/docs/dashboardsconfig.asciidoc
Labels: backport, docs, review

#7406 Add missing docs for `co.elastic.logs/disable` hint
  filebeat/docs/autodiscover-hints.asciidoc
Labels: docs, needs_backport, review

#7405 Cherry-pick #7373 to 6.3: Fix wrong param in Metricbeat Kibana module reference config
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kibana/_meta/config.reference.yml
Labels: backport, review

#7315 Add warning about autodiscover and template scoping
  libbeat/docs/shared-autodiscover.asciidoc
Labels: docs, review

#7330 Cherry-pick #7134 to 6.3: Document username/password options for HTTP based modules
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/docs/modules/apache.asciidoc
  metricbeat/docs/modules/ceph.asciidoc
  metricbeat/docs/modules/couchbase.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/etcd.asciidoc
  metricbeat/docs/modules/golang.asciidoc
  metricbeat/docs/modules/http.asciidoc
  metricbeat/docs/modules/jolokia.asciidoc
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/docs/modules/nginx.asciidoc
  metricbeat/docs/modules/php_fpm.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/apache/_meta/config.yml
  metricbeat/module/ceph/_meta/config.yml
  metricbeat/module/couchbase/_meta/config.yml
  metricbeat/module/dropwizard/_meta/config.yml
  metricbeat/module/elasticsearch/_meta/config.yml
  metricbeat/module/etcd/_meta/config.yml
  metricbeat/module/http/_meta/config.yml
  metricbeat/module/jolokia/_meta/config.yml
  metricbeat/module/kibana/_meta/config.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/logstash/_meta/config.yml
  metricbeat/module/nginx/_meta/config.yml
  metricbeat/module/php_fpm/_meta/config.yml
  metricbeat/module/prometheus/_meta/config.yml
  metricbeat/modules.d/apache.yml.disabled
  metricbeat/modules.d/ceph.yml.disabled
  metricbeat/modules.d/couchbase.yml.disabled
  metricbeat/modules.d/dropwizard.yml.disabled
  metricbeat/modules.d/elasticsearch.yml.disabled
  metricbeat/modules.d/etcd.yml.disabled
  metricbeat/modules.d/http.yml.disabled
  metricbeat/modules.d/jolokia.yml.disabled
  metricbeat/modules.d/kibana.yml.disabled
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/modules.d/logstash.yml.disabled
  metricbeat/modules.d/nginx.yml.disabled
  metricbeat/modules.d/php_fpm.yml.disabled
  metricbeat/modules.d/prometheus.yml.disabled
  metricbeat/scripts/docs_collector.py
Labels: backport, review

#7352 Fix duplication of dynamic fields on reconnect
  CHANGELOG.asciidoc
  libbeat/template/template.go
Labels: bug, libbeat, needs_backport, review

#7392 Refactor: Introduce a Global Registry
  CHANGELOG-developer.asciidoc
  libbeat/feature/bundle.go
  libbeat/feature/bundle_test.go
  libbeat/feature/feature.go
  libbeat/feature/registry.go
  libbeat/feature/registry_test.go
  libbeat/feature/stability.go
  libbeat/feature/stability_string.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/queue_reg.go
  libbeat/publisher/queue/spool/module.go
Labels: libbeat, review

#7387 Add processor definition support for hints builder
  CHANGELOG.asciidoc
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/autodiscover/builder/hints/logs_test.go
  filebeat/docs/autodiscover-hints.asciidoc
  libbeat/autodiscover/builder/helper.go
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  metricbeat/docs/autodiscover-hints.asciidoc
Labels: enhancement, k8s, libbeat, review

#7425 missing license headers
  libbeat/feature/bundle.go
  libbeat/feature/bundle_test.go
  libbeat/feature/feature.go
  libbeat/feature/registry.go
  libbeat/feature/registry_test.go
  libbeat/feature/stability.go
  libbeat/feature/stability_string.go
Labels: libbeat, review

#7427 Backport to 6.3: Add breaking change about host namespace causing mapping issues (#7398)
  libbeat/docs/breaking.asciidoc
Labels: backport, docs, review

#7421 Updating docs to use new `Fetch` method signature
  docs/devguide/create-metricset.asciidoc
Labels: Metricbeat, docs, v6.4.0, v7.0.0-alpha1

#7417 Cherry-pick #7352 to 6.3: Fix duplication of dynamic fields on reconnect
  CHANGELOG.asciidoc
  libbeat/template/template.go
Labels: backport, review

#7428 Add a NOTE to the to_syslog option to make it clear that the option is
  libbeat/docs/loggingconfig.asciidoc
Labels: docs, review

#7393 Use type alias to avoid remarshalling Pod events in Kubernetes watcher
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/common/kubernetes/types.go
  libbeat/common/kubernetes/types_test.go
  libbeat/common/kubernetes/watcher.go
  libbeat/processors/add_kubernetes_metadata/indexers.go
  libbeat/processors/add_kubernetes_metadata/indexers_test.go
  metricbeat/module/kubernetes/event/event.go
Labels: k8s, libbeat, review

#7430 Add generation of generated files for Filebeat module tests
  filebeat/module/apache2/access/test/test.log-expected.json
  filebeat/module/apache2/error/test/test.log-expected.json
  filebeat/module/auditd/log/test/test.log-expected.json
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/kafka/log/test/controller.log-expected.json
  filebeat/module/kafka/log/test/server.log-expected.json
  filebeat/module/kafka/log/test/state-change.log-expected.json
  filebeat/module/kibana/log/test/test.expected.json
  filebeat/module/kibana/log/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: :Testing, Filebeat, module, review

#7436 Add missing docs for kubernetes autodiscover provider parameters
  libbeat/docs/shared-autodiscover.asciidoc
Labels: docs, needs_backport, review

#7434 Improve autodiscover tests resiliency to timing issues
  libbeat/autodiscover/autodiscover_test.go
Labels: :Testing

#7416 Cherry-pick #7406 to 6.3: Add missing docs for `co.elastic.logs/disable` hint
  filebeat/docs/autodiscover-hints.asciidoc
Labels: backport, review

#7415 Cherry-pick #7315 to 6.3: Add warning about autodiscover and template scoping
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, review

#7435 Fix naming of fields for galera status
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  metricbeat/module/mysql/galera_status/_meta/data.json
  metricbeat/module/mysql/galera_status/_meta/fields.yml
Labels: Metricbeat, module, review

#7426 Enforce normalization on Namespace and Name and check for nil factory
  libbeat/feature/registry.go
  libbeat/feature/registry_test.go
Labels: libbeat, review

#7446 Fix doc on output.kafka.version setting
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: docs, review

#7444 Update go-structform to 0.0.4
  NOTICE.txt
  vendor/github.com/elastic/go-structform/CHANGELOG.md
  vendor/github.com/elastic/go-structform/json/visitor.go
  vendor/vendor.json
Labels: review

#7445 Html escaping
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  libbeat/outputs/codec/json/json.go
  libbeat/outputs/codec/json/json_test.go
  libbeat/outputs/console/console.go
  libbeat/outputs/console/console_test.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/config.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/elasticsearch/enc.go
  libbeat/outputs/elasticsearch/enc_test.go
  libbeat/outputs/logstash/async.go
  libbeat/outputs/logstash/config.go
  libbeat/outputs/logstash/enc.go
  libbeat/outputs/logstash/sync.go
  libbeat/publisher/pipeline/processor.go
  metricbeat/mb/module/example_test.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: libbeat, review

#7450 Missing headers on the mysql/galera_status
  metricbeat/module/mysql/galera_status/data.go
  metricbeat/module/mysql/galera_status/status.go
Labels: Metricbeat, review

#7449 Fix a panic when dealing with remaining at the end of a delimiter
  CHANGELOG.asciidoc
  libbeat/processors/dissect/dissect.go
  libbeat/processors/dissect/dissect_test.go
Labels: libbeat, needs_backport, review

#7401 Metricbeat: MongoDB TLS connection support
  CHANGELOG.asciidoc
  metricbeat/docs/modules/mongodb.asciidoc
  metricbeat/include/fields.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/mongodb/_meta/config.reference.yml
  metricbeat/module/mongodb/_meta/config.yml
  metricbeat/module/mongodb/_meta/fields.yml
  metricbeat/module/mongodb/collstats/collstats.go
  metricbeat/module/mongodb/dbstats/dbstats.go
  metricbeat/module/mongodb/metricset.go
  metricbeat/module/mongodb/status/status.go
  metricbeat/modules.d/mongodb.yml.disabled
Labels: Metricbeat, enhancement, module, review

#7458 Add kubernetes to services which are kept running
  heartbeat/tests/system/test_monitor.py
  libbeat/tests/compose/compose.go
Labels: :Testing, k8s, review

#7459 Refactor fields generation to make it reusable
  libbeat/generator/fields/fields.go
  libbeat/generator/fields/module_fields_collector.go
Labels: :Generator, review

#7365 Filebeat: Elasticsearch module: Audit log
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/fields.go
  filebeat/module/elasticsearch/_meta/config.yml
  filebeat/module/elasticsearch/audit/_meta/fields.yml
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/audit/manifest.yml
  filebeat/module/elasticsearch/audit/test/test.log
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
  filebeat/modules.d/elasticsearch.yml.disabled
Labels: Filebeat, module, review

#7457 Add additional types to kubernetes metadata
  CHANGELOG.asciidoc
  libbeat/common/kubernetes/types.go
Labels: k8s, libbeat, review

#7471 Recommend using beat.hostname to fix visulations that use host
  libbeat/docs/breaking.asciidoc
Labels: docs, needs_backport, review

#7473 Add Slowlog fileset for the Elasticsearch module
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/fields.go
  filebeat/module/elasticsearch/_meta/config.yml
  filebeat/module/elasticsearch/slowlog/_meta/fields.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/manifest.yml
  filebeat/module/elasticsearch/slowlog/test/test.log
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/modules.d/elasticsearch.yml.disabled
Labels: Filebeat, module, review

#7475 Fix beats-dashboards package naming
  magefile.go
Labels: Packaging, review
