Repository elastic/beats, pull requests merged in 2018-04, with the labels that each got.

#6724 Cherry-pick #6687 to 6.2: Add hex decoding to name field in audit path records
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/auparse/auparse.go
  vendor/vendor.json
Labels: backport, review

#6723 Use golang.org/x/time for rate limiting
  NOTICE.txt
  auditbeat/module/file_integrity/scanner.go
  vendor/github.com/juju/ratelimit/LICENSE
  vendor/github.com/juju/ratelimit/README.md
  vendor/github.com/juju/ratelimit/ratelimit.go
  vendor/github.com/juju/ratelimit/reader.go
  vendor/golang.org/x/time/LICENSE
  vendor/golang.org/x/time/PATENTS
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/rate_go16.go
  vendor/golang.org/x/time/rate/rate_go17.go
  vendor/vendor.json
Labels: Auditbeat, review

#6715 Mark Metricbeat kubernetes.event metricset as beta.
  CHANGELOG.asciidoc
  metricbeat/docs/modules/kubernetes/event.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/kubernetes/event/_meta/fields.yml
  metricbeat/module/kubernetes/event/event.go
Labels: Metricbeat, module, review

#6732 Added GCSBeat to community beats list
  libbeat/docs/communitybeats.asciidoc
Labels: docs, review

#6730 Cherry-pick #6723 to 6.2: Use golang.org/x/time for rate limiting
  NOTICE.txt
  auditbeat/module/file_integrity/scanner.go
  vendor/github.com/juju/ratelimit/LICENSE
  vendor/github.com/juju/ratelimit/README.md
  vendor/github.com/juju/ratelimit/ratelimit.go
  vendor/github.com/juju/ratelimit/reader.go
  vendor/golang.org/x/time/LICENSE
  vendor/golang.org/x/time/PATENTS
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/rate_go16.go
  vendor/golang.org/x/time/rate/rate_go17.go
  vendor/vendor.json
Labels: backport, review

#6720 Fixes autodiscover's appender configuration example
  libbeat/docs/shared-autodiscover.asciidoc
Labels: docs, needs_backport, review

#6683 Set all couchbase metricsets as default in metricbeat module.
  CHANGELOG.asciidoc
  metricbeat/docs/modules/couchbase.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/couchbase/_meta/config.reference.yml
  metricbeat/module/couchbase/_meta/config.yml
  metricbeat/module/couchbase/_meta/docs.asciidoc
  metricbeat/module/couchbase/bucket/bucket.go
  metricbeat/module/couchbase/cluster/cluster.go
  metricbeat/module/couchbase/node/node.go
  metricbeat/modules.d/couchbase.yml.disabled
Labels: docs, module, review

#6710 Mark system.raid metricset as beta
  metricbeat/docs/modules/system/raid.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/system/raid/_meta/fields.yml
  metricbeat/module/system/raid/raid.go
Labels: Metricbeat, module, review

#6713 Mark metricbeat logstash module and metricsets as beta
  CHANGELOG.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/docs/modules/logstash/node.asciidoc
  metricbeat/docs/modules/logstash/node_stats.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/logstash/_meta/fields.yml
  metricbeat/module/logstash/node/_meta/fields.yml
  metricbeat/module/logstash/node/node.go
  metricbeat/module/logstash/node_stats/_meta/fields.yml
  metricbeat/module/logstash/node_stats/node_stats.go
Labels: Metricbeat, module, review

#6712 Mark http.server metricset as beta
  CHANGELOG.asciidoc
  metricbeat/docs/modules/http/server.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/http/server/_meta/fields.yml
  metricbeat/module/http/server/server.go
Labels: Metricbeat, module, review

#6709 Cherry-pick #6130 to 6.2: Change kubernetes.node.cpu.allocatable.cores to float
  CHANGELOG.asciidoc
  libbeat/kibana/testdata/extensive/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/state_node/_meta/fields.yml
Labels: backport, review

#6739 Add changelog entry for system.raid promotion to beta
  CHANGELOG.asciidoc
Labels: Metricbeat, module, review

#6716 Introduce environment variable to skip compose starting environment
  libbeat/tests/compose/compose.go
Labels: :Testing, Metricbeat, review

#6740 [6.2] http: support broken status line (#6631)
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, backport, bug, v6.2.4

#6666 Add test for error checking in ML
  filebeat/tests/system/test_modules.py
  libbeat/cmd/instance/beat.go
  libbeat/dashboards/importer.go
  libbeat/ml-importer/importer.go
Labels: :Testing, Filebeat, needs_backport, review

#6744 replace smart quotes to improve license detection
  dev-tools/generate_notice.py
Labels: :Infra, review

#6742 Set default metricsets for redis module
  metricbeat/docs/modules/redis.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/redis/_meta/config.reference.yml
  metricbeat/module/redis/_meta/config.yml
  metricbeat/module/redis/_meta/docs.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/keyspace/keyspace.go
  metricbeat/modules.d/redis.yml.disabled
Labels: Metricbeat, module, review

#6748 Add pubsubbeat to list of community beats
  libbeat/docs/communitybeats.asciidoc
Labels: docs, review

#6711 Mark Golang module and metricsets as beta
  CHANGELOG.asciidoc
  metricbeat/docs/modules/golang.asciidoc
  metricbeat/docs/modules/golang/expvar.asciidoc
  metricbeat/docs/modules/golang/heap.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/golang/_meta/fields.yml
  metricbeat/module/golang/expvar/_meta/fields.yml
  metricbeat/module/golang/expvar/expvar.go
  metricbeat/module/golang/heap/_meta/fields.yml
  metricbeat/module/golang/heap/heap.go
Labels: Metricbeat, module, review

#6745 Add missing logger parameter to error message
  filebeat/input/log/harvester.go
Labels: Filebeat, review

#6718 Set default metricsets in Docker module
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/docker/_meta/config.reference.yml
  metricbeat/module/docker/_meta/config.yml
  metricbeat/module/docker/_meta/docs.asciidoc
  metricbeat/module/docker/container/container.go
  metricbeat/module/docker/cpu/cpu.go
  metricbeat/module/docker/diskio/diskio.go
  metricbeat/module/docker/healthcheck/healthcheck.go
  metricbeat/module/docker/image/image.go
  metricbeat/module/docker/info/info.go
  metricbeat/module/docker/memory/memory.go
  metricbeat/module/docker/network/network.go
  metricbeat/modules.d/docker.yml.disabled
Labels: Metricbeat, module, review, v7.0.0-alpha1

#6717 Mark Metricbeat uswgi module and metricsets as beta
  CHANGELOG.asciidoc
  metricbeat/docs/modules/uwsgi.asciidoc
  metricbeat/docs/modules/uwsgi/status.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/uwsgi/_meta/fields.yml
  metricbeat/module/uwsgi/status/_meta/fields.yml
  metricbeat/module/uwsgi/status/status.go
Labels: Metricbeat, module, review, v7.0.0-alpha1

#6657 Fix differences in Jolokia config examples (#6643)
  metricbeat/docs/modules/jolokia.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/jolokia/_meta/config.yml
  metricbeat/modules.d/jolokia.yml.disabled
Labels: Metricbeat, module, review

#6761 Set default metricsets for postgresql module
  metricbeat/docs/modules/postgresql.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/postgresql/_meta/config.reference.yml
  metricbeat/module/postgresql/_meta/config.yml
  metricbeat/module/postgresql/_meta/docs.asciidoc
  metricbeat/module/postgresql/activity/activity.go
  metricbeat/module/postgresql/bgwriter/bgwriter.go
  metricbeat/module/postgresql/database/database.go
  metricbeat/modules.d/postgresql.yml.disabled
Labels: Metricbeat, module, review

#6689 Set default metricsets for system module
  metricbeat/docs/modules/system.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
  metricbeat/module/system/_meta/config.yml
  metricbeat/module/system/_meta/docs.asciidoc
  metricbeat/module/system/core/core.go
  metricbeat/module/system/cpu/cpu.go
  metricbeat/module/system/diskio/diskio.go
  metricbeat/module/system/filesystem/filesystem.go
  metricbeat/module/system/fsstat/fsstat.go
  metricbeat/module/system/load/load.go
  metricbeat/module/system/memory/memory.go
  metricbeat/module/system/network/network.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process_summary/process_summary.go
  metricbeat/module/system/raid/raid.go
  metricbeat/module/system/socket/socket.go
  metricbeat/module/system/uptime/metricset.go
  metricbeat/modules.d/system.yml
Labels: Metricbeat, docs, module, review

#6743 Set default metricsets for rabbitmq module
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/rabbitmq/_meta/config.reference.yml
  metricbeat/module/rabbitmq/_meta/config.yml
  metricbeat/module/rabbitmq/_meta/docs.asciidoc
  metricbeat/module/rabbitmq/connection/connection.go
  metricbeat/module/rabbitmq/node/node.go
  metricbeat/module/rabbitmq/queue/queue.go
  metricbeat/modules.d/rabbitmq.yml.disabled
Labels: Metricbeat, module, review

#6727 Allow autodiscover to monitor unexposed ports
  CHANGELOG.asciidoc
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  metricbeat/docs/autodiscover-kubernetes-config.asciidoc
Labels: k8s, review

#6714 Move Logstash node_stats under node.stats
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/mb/testing/data_generator.go
  metricbeat/module/logstash/_meta/Dockerfile
  metricbeat/module/logstash/node/_meta/data.json
  metricbeat/module/logstash/node_stats/_meta/data.json
  metricbeat/module/logstash/node_stats/_meta/fields.yml
  metricbeat/module/logstash/node_stats/node_stats.go
Labels: Metricbeat, module, review

#6758 Set all metricsets as default for HAProxy module
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/haproxy/_meta/config.reference.yml
  metricbeat/module/haproxy/_meta/config.yml
  metricbeat/module/haproxy/_meta/docs.asciidoc
  metricbeat/module/haproxy/info/info.go
  metricbeat/module/haproxy/stat/stat.go
  metricbeat/modules.d/haproxy.yml.disabled
Labels: Metricbeat, module, review

#6756 Set all metricsets as default in etcd module
  metricbeat/docs/modules/etcd.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/etcd/_meta/config.reference.yml
  metricbeat/module/etcd/_meta/config.yml
  metricbeat/module/etcd/_meta/docs.asciidoc
  metricbeat/module/etcd/leader/leader.go
  metricbeat/module/etcd/self/self.go
  metricbeat/module/etcd/store/store.go
  metricbeat/modules.d/etcd.yml.disabled
Labels: module, review

#6759 Make all metricsets in Kafka module defaults.
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kafka/_meta/config.reference.yml
  metricbeat/module/kafka/_meta/config.yml
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/partition/partition.go
  metricbeat/modules.d/kafka.yml.disabled
Labels: Metricbeat, module, review

#6762 Set status as default metricset for Kibana module
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kibana/_meta/config.reference.yml
  metricbeat/module/kibana/_meta/config.yml
  metricbeat/module/kibana/_meta/docs.asciidoc
  metricbeat/module/kibana/status/status.go
  metricbeat/modules.d/kibana.yml.disabled
Labels: Metricbeat, module, review

#6764 Set default metricsets for kubernetes module.
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/system/system.go
  metricbeat/module/kubernetes/volume/volume.go
  metricbeat/modules.d/kubernetes.yml.disabled
Labels: Metricbeat, k8s, module, review

#6763 Set all metricsets as default for Logstash module
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/logstash/_meta/config.reference.yml
  metricbeat/module/logstash/_meta/config.yml
  metricbeat/module/logstash/_meta/docs.asciidoc
  metricbeat/module/logstash/node/node.go
  metricbeat/module/logstash/node_stats/node_stats.go
  metricbeat/modules.d/logstash.yml.disabled
Labels: Metricbeat, module, review

#6766 Set default metricsets for mongodb module
  metricbeat/docs/modules/mongodb.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/mongodb/_meta/config.reference.yml
  metricbeat/module/mongodb/_meta/config.yml
  metricbeat/module/mongodb/_meta/docs.asciidoc
  metricbeat/module/mongodb/collstats/collstats.go
  metricbeat/module/mongodb/dbstats/dbstats.go
  metricbeat/module/mongodb/status/status.go
  metricbeat/modules.d/mongodb.yml.disabled
Labels: Metricbeat, module, review

#6765 Set stats as default metricset for memcached module
  metricbeat/docs/modules/memcached.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/memcached/_meta/config.reference.yml
  metricbeat/module/memcached/_meta/config.yml
  metricbeat/module/memcached/_meta/docs.asciidoc
  metricbeat/module/memcached/stats/stats.go
  metricbeat/modules.d/memcached.yml.disabled
Labels: Metricbeat, module, review

#6750 Fix minor panic in http parser
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
Labels: Packetbeat, needs_backport, review

#6772 Cherry-pick #6011 to 6.2: Recover panic in the RunWith wrapper and log it to stderr and refactor the cli_test tests.
  libbeat/common/cli/cli.go
  libbeat/common/cli/cli_test.go
Labels: backport, review

#6770 Set `stubstatus` as default metricset for nginx module
  metricbeat/docs/modules/nginx.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/nginx/_meta/config.reference.yml
  metricbeat/module/nginx/_meta/config.yml
  metricbeat/module/nginx/_meta/docs.asciidoc
  metricbeat/module/nginx/stubstatus/stubstatus.go
  metricbeat/modules.d/nginx.yml.disabled
Labels: Metricbeat, module, review

#6698 Workaround for bug in virtualenv tool on (at least) Amazon Linux.
  Makefile
  generator/common/Makefile
  libbeat/scripts/Makefile
Labels: :Infra, :Testing, review

#6439 Extracting the UDP Server logic from the UDP input
  filebeat/_meta/common.reference.p2.yml
  filebeat/filebeat.reference.yml
  filebeat/input/udp/config.go
  filebeat/input/udp/harvester.go
  filebeat/input/udp/input.go
  filebeat/inputsource/inputsource.go
  filebeat/inputsource/udp/server.go
  filebeat/inputsource/udp/server_test.go
  filebeat/tests/system/test_udp.py
Labels: Filebeat, review

#6768 Set `pool` as default metricset for php_fpm module
  metricbeat/docs/modules/php_fpm.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/php_fpm/_meta/config.reference.yml
  metricbeat/module/php_fpm/_meta/config.yml
  metricbeat/module/php_fpm/_meta/docs.asciidoc
  metricbeat/module/php_fpm/pool/pool.go
  metricbeat/modules.d/php_fpm.yml.disabled
Labels: Metricbeat, module, review

#6757 Set server metricset in graphite as default
  metricbeat/docs/modules/graphite.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/graphite/_meta/config.reference.yml
  metricbeat/module/graphite/_meta/config.yml
  metricbeat/module/graphite/_meta/docs.asciidoc
  metricbeat/module/graphite/server/server.go
  metricbeat/modules.d/graphite.yml.disabled
Labels: Metricbeat, module, review

#6769 Set status as default in mysql module
  metricbeat/docs/modules/mysql.asciidoc
  metricbeat/module/mysql/_meta/config.reference.yml
  metricbeat/module/mysql/_meta/config.yml
  metricbeat/module/mysql/_meta/docs.asciidoc
  metricbeat/module/mysql/status/status.go
  metricbeat/modules.d/mysql.yml.disabled
Labels: Metricbeat, module, review

#6700 Feature: TCP Input
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/filebeat-options.asciidoc
  filebeat/docs/inputs/input-tcp.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/list.go
  filebeat/input/tcp/config.go
  filebeat/input/tcp/input.go
  filebeat/input/tcp/input_test.go
  filebeat/inputsource/tcp/client.go
  filebeat/inputsource/tcp/config.go
  filebeat/inputsource/tcp/conn.go
  filebeat/inputsource/tcp/conn_test.go
  filebeat/inputsource/tcp/scan.go
  filebeat/inputsource/tcp/scan_test.go
  filebeat/inputsource/tcp/server.go
  filebeat/inputsource/tcp/server_test.go
  filebeat/tests/system/test_tcp.py
Labels: Filebeat, review

#6781 Added changelog for changes in default metricsets (#6668)
  CHANGELOG.asciidoc
Labels: Metricbeat, module, review

#6678 Pass cacert file with the correct type to the elasticsearch loader
  CHANGELOG.asciidoc
  libbeat/dashboards/import_dashboards.go
  libbeat/outputs/elasticsearch/output.go
  metricbeat/module/prometheus/_meta/Dockerfile
  testing/environments/args.yml
  testing/environments/latest.yml
Labels: libbeat, review

#6686 Add dashboard check to metricbeat module overview
  metricbeat/docs/images/icon-no.png
  metricbeat/docs/images/icon-yes.png
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
Labels: Metricbeat, docs, review

#6783 Remove arch from test audit rules
  NOTICE.txt
  auditbeat/module/auditd/config_linux_test.go
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/rule/rule.go
  vendor/vendor.json
Labels: Auditbeat, review

#6795 Cleanup changelog
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, review, v7.0.0-alpha1

#6788 Improve module overview list
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
Labels: docs, review

#6671 Set reference config as config for docs
  metricbeat/docs/modules/aerospike.asciidoc
  metricbeat/docs/modules/apache.asciidoc
  metricbeat/docs/modules/ceph.asciidoc
  metricbeat/docs/modules/couchbase.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/etcd.asciidoc
  metricbeat/docs/modules/graphite.asciidoc
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/docs/modules/memcached.asciidoc
  metricbeat/docs/modules/mongodb.asciidoc
  metricbeat/docs/modules/munin.asciidoc
  metricbeat/docs/modules/mysql.asciidoc
  metricbeat/docs/modules/nginx.asciidoc
  metricbeat/docs/modules/php_fpm.asciidoc
  metricbeat/docs/modules/postgresql.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/docs/modules/redis.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/docs/modules/uwsgi.asciidoc
  metricbeat/docs/modules/vsphere.asciidoc
  metricbeat/docs/modules/windows.asciidoc
  metricbeat/docs/modules/zookeeper.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
  metricbeat/scripts/docs_collector.py
Labels: Metricbeat, docs, review

#6801 Fix panic in log harvester error handling
  CHANGELOG.asciidoc
  filebeat/input/log/input.go
Labels: Filebeat, bug, needs_backport, v7.0.0-alpha1

#6802 [6.2] Fix panic in log harvester error handling
  CHANGELOG.asciidoc
  filebeat/prospector/log/prospector.go
Labels: Filebeat, backport, bug, v6.2.4

#6784 http: Save the request or response body independently
  CHANGELOG.asciidoc
  packetbeat/_meta/beat.reference.yml
  packetbeat/packetbeat.reference.yml
  packetbeat/protos/http/config.go
  packetbeat/protos/http/http.go
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, enhancement, review

#6803 Cherry-pick #6343 to 6.2: Optimize filebeat state ID generation
  libbeat/common/file/file_other.go
  libbeat/common/file/file_other_test.go
  libbeat/common/file/file_windows.go
Labels: backport, review, v6.2.4

#6804 Cherry-pick #6346 to 6.2: Filebeat in memory states registry improvements
  filebeat/input/file/state.go
  filebeat/input/file/states.go
  filebeat/input/file/states_test.go
  filebeat/prospector/log/prospector.go
  filebeat/prospector/log/prospector_other_test.go
  filebeat/registrar/registrar.go
Labels: backport, review, v6.2.4

#6812 Cherry-pick #6347 to 6.2: Defer registry state cleanup
  filebeat/registrar/registrar.go
  filebeat/tests/system/test_harvester.py
Labels: backport, review, v6.2.4

#6752 Rename host.hostname to host.name in processor
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  heartbeat/docs/fields.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_host_metadata/_meta/fields.yml
  libbeat/processors/add_host_metadata/add_host_metadata.go
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  winlogbeat/docs/fields.asciidoc
Labels: :Processors, libbeat, review

#6539 Use match.Matcher for checking heartbeat response bodies #5981
  CHANGELOG.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  heartbeat/monitors/active/http/check.go
  heartbeat/monitors/active/http/check_test.go
  heartbeat/monitors/active/http/config.go
Labels: Heartbeat, review

#6283 MongoDB module
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/images/filebeat-mongodb-overview.png
  filebeat/docs/modules/mongodb.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/mongodb/_meta/config.reference.yml
  filebeat/module/mongodb/_meta/config.yml
  filebeat/module/mongodb/_meta/docs.asciidoc
  filebeat/module/mongodb/_meta/fields.yml
  filebeat/module/mongodb/_meta/kibana/6/dashboard/Filebeat-Mongodb-overview.json
  filebeat/module/mongodb/log/_meta/fields.yml
  filebeat/module/mongodb/log/config/log.yml
  filebeat/module/mongodb/log/ingest/pipeline.json
  filebeat/module/mongodb/log/manifest.yml
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/mongodb/module.yml
  filebeat/modules.d/mongodb.yml.disabled
Labels: Filebeat, module, review

#6805 Expose the `keystore.path` in the YAML configuration
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: docs, libbeat, needs_backport, review

#6806 Fix godoc on registrar gcStates
  filebeat/registrar/registrar.go
Labels: Filebeat, review

#6814 Add Ingest pipeline loading to setup
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/beater/filebeat.go
  filebeat/cmd/root.go
  filebeat/config/config.go
  filebeat/crawler/crawler.go
  filebeat/filebeat.reference.yml
  filebeat/fileset/factory.go
  filebeat/fileset/modules.go
  filebeat/fileset/pipelines.go
  libbeat/beat/beat.go
  libbeat/cmd/instance/beat.go
  libbeat/cmd/setup.go
Labels: Filebeat, review

#6824 Kubernetes deployment: Add ServiceAccount config to system metricbeat.
  CHANGELOG.asciidoc
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment.yaml
Labels: Metricbeat, k8s, module, review

#6292 Add rename fields processor
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/actions/rename.go
  libbeat/processors/actions/rename_test.go
  metricbeat/metricbeat.reference.yml
  metricbeat/tests/system/test_processors.py
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: docs, libbeat, review

#6833 Remove version from docker-compose project name
  .travis.yml
  libbeat/scripts/Makefile
  libbeat/tests/system/requirements.txt
  metricbeat/tests/system/requirements.txt
Labels: :Testing, needs_backport, review, v6.2.4

#6826 Simplify system tests for Elasticsearch
  metricbeat/tests/system/metricbeat.py
  metricbeat/tests/system/test_elasticsearch.py
Labels: :Testing, Metricbeat, review

#6825 Allow system tests to be run from any directory
  Makefile
  auditbeat/tests/system/auditbeat.py
  filebeat/tests/system/test_harvester.py
  filebeat/tests/system/test_json.py
  filebeat/tests/system/test_multiline.py
  filebeat/tests/system/test_registrar.py
  filebeat/tests/system/test_reload_modules.py
  filebeat/tests/system/test_shutdown.py
  generator/common/Makefile
  libbeat/scripts/Makefile
  libbeat/tests/files/testbeat-dashboards.zip
  libbeat/tests/system/beat/beat.py
  libbeat/tests/system/test_cmd.py
  libbeat/tests/system/test_dashboard.py
  packetbeat/tests/files/ThriftTest.thrift
  packetbeat/tests/files/shared.thrift
  packetbeat/tests/files/tutorial.thrift
  packetbeat/tests/system/packetbeat.py
Labels: :Testing, review

#6838 Speed up system tests by caching yaml output
  libbeat/tests/system/beat/beat.py
Labels: :Testing, libbeat, review

#6849 Document role required to load dashboards
  libbeat/docs/step-configure-credentials.asciidoc
Labels: docs, needs_backport, review

#6847 Print container logs when compose up fails in tests
  libbeat/tests/system/beat/compose.py
Labels: :Testing, enhancement, libbeat, review

#6841 Do not render irrelevant docs for apm server.
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/template-config.asciidoc
Labels: docs, review

#6840 Close changelog for 5.6.9
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#6834 Close changelog 6.2.4
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.2.4

#6853 Fix file permission in the MongoDB module
  filebeat/module/mongodb/log/manifest.yml
Labels: review

#6837 MapStr accessor optimisations
  libbeat/common/mapstr.go
  libbeat/common/safemapstr/safemapstr.go
Labels: libbeat, review

#6829 Filebeat: Fix leak in log harvester (#6797)
  CHANGELOG.asciidoc
  filebeat/input/log/harvester.go
  filebeat/input/log/input.go
  filebeat/input/stdin/input.go
Labels: Filebeat, bug

#6701 Metricbeat: Improvements in docker diskio metricset
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/docker/diskio/_meta/data.json
  metricbeat/module/docker/diskio/_meta/fields.yml
  metricbeat/module/docker/diskio/data.go
  metricbeat/module/docker/diskio/diskio.go
  metricbeat/module/docker/diskio/diskio_test.go
  metricbeat/module/docker/diskio/helper.go
Labels: Metricbeat, enhancement, feedback needed, module, review

#6863 Revert docker compose in travis to 1.11.1
  .travis.yml
Labels: :Testing, libbeat

#6778 Fix flaky windows diskio tests
  metricbeat/tests/system/test_system.py
Labels: :Testing, :Windows, Metricbeat, module, review

#6869 Update haproxy.asciidoc
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/module/haproxy/_meta/docs.asciidoc
Labels: Metricbeat, docs, review

#6819 Metricbeat: Remove duplicated filesystems in system module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
  metricbeat/module/system/filesystem/_meta/docs.asciidoc
  metricbeat/module/system/filesystem/filesystem.go
  metricbeat/module/system/filesystem/helper.go
  metricbeat/module/system/filesystem/helper_test.go
  metricbeat/module/system/fsstat/_meta/docs.asciidoc
  metricbeat/module/system/fsstat/_meta/fields.yml
  metricbeat/module/system/fsstat/fsstat.go
Labels: Metricbeat, enhancement, module, review

#6534 Move elasticsearch module system tests to module
  metricbeat/module/elasticsearch/test_elasticsearch.py
Labels: :Testing, Metricbeat, review

#6858 Support `log_format combined` setting of NGINX access logs
  CHANGELOG.asciidoc
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/access/test/test.log
  filebeat/module/nginx/access/test/test.log-expected.json
Labels: Filebeat, module, review

#6591 [Filebeat] - Add raw json field when unmarshaling fails
  CHANGELOG.asciidoc
  filebeat/harvester/reader/json.go
Labels: Filebeat, review

#6874 Don't stop Metricbeat if aerospike server is down
  CHANGELOG.asciidoc
  metricbeat/module/aerospike/namespace/namespace.go
Labels: Metricbeat, bug, module, review

#6831 Remove flush interval from Kafka run script
  metricbeat/module/kafka/_meta/run.sh
Labels: :Testing, review

#6855 Docs version bump 5.6.9
  libbeat/docs/version.asciidoc
Labels: docs, in progress, review, v5.6.9

#6839 Bump docs version for 6.2.4
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.2.4

#6884 Remove config_dir from reference config and update docs
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
Labels: Filebeat, docs, review

#6889 Bump version to 5.6.10
  dev-tools/packer/version.yml
  filebeat/filebeat.template-es2x.json
  filebeat/filebeat.template-es6x.json
  filebeat/filebeat.template.json
  heartbeat/heartbeat.template-es2x.json
  heartbeat/heartbeat.template-es6x.json
  heartbeat/heartbeat.template.json
  libbeat/beat/version.go
  libbeat/libbeat.template-es6x.json
  metricbeat/metricbeat.template-es2x.json
  metricbeat/metricbeat.template-es6x.json
  metricbeat/metricbeat.template.json
  packetbeat/packetbeat.template-es2x.json
  packetbeat/packetbeat.template-es6x.json
  packetbeat/packetbeat.template.json
  winlogbeat/winlogbeat.template-es2x.json
  winlogbeat/winlogbeat.template-es6x.json
  winlogbeat/winlogbeat.template.json
Labels: review

#6888 Bump version to 6.2.5
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: review

#6870 Add support for float type in mapstriface
  libbeat/common/schema/mapstriface/mapstriface.go
  libbeat/common/schema/mapstriface/mapstriface_test.go
Labels: libbeat, review

#6891 Make config reloading GA
  CHANGELOG.asciidoc
  libbeat/cfgfile/reload.go
Labels: Filebeat, Metricbeat, libbeat, review

#6780 Add CHANGELOG-developer file to cover internal changes
  CHANGELOG-developer.asciidoc
  docs/devguide/contributing.asciidoc
Labels: docs, review

#6887 Metricbeat: RabbitMQ/Queue disk reads and writes count keys made optional
  CHANGELOG.asciidoc
  metricbeat/module/rabbitmq/queue/data.go
Labels: Metricbeat, module, review

#6895 Fix typo
  libbeat/docs/queueconfig.asciidoc
Labels: docs, review

#6857 Update haproxy.asciidoc
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/module/haproxy/_meta/docs.asciidoc
Labels: Metricbeat, docs, module, review

#6843 Metricbeat: Add mapping for docker metrics per cpu
  CHANGELOG.asciidoc
  libbeat/template/processor.go
  libbeat/template/processor_test.go
  metricbeat/docs/fields.asciidoc
  metricbeat/module/docker/cpu/_meta/data.json
  metricbeat/module/docker/cpu/_meta/fields.yml
Labels: Metricbeat, module, review

#6886 UDP inputs now uses human friendly size to define MaxMessageSize
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/inputs/input-udp.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/input/udp/config.go
  filebeat/inputsource/tcp/client.go
  filebeat/inputsource/tcp/config.go
  filebeat/inputsource/tcp/server.go
  filebeat/inputsource/udp/config.go
  filebeat/inputsource/udp/server.go
  libbeat/common/cfgtype/byte_size.go
  libbeat/common/cfgtype/byte_size_test.go
  libbeat/publisher/queue/spool/config.go
Labels: Filebeat, review

#6265 [WIP] Collect domain memory stat from KVM
  NOTICE.txt
  metricbeat/NOTICE.txt
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kvm.asciidoc
  metricbeat/docs/modules/kvm/dommemstat.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kvm/_meta/config.yml
  metricbeat/module/kvm/_meta/docs.asciidoc
  metricbeat/module/kvm/_meta/fields.yml
  metricbeat/module/kvm/doc.go
  metricbeat/module/kvm/dommemstat/_meta/data.json
  metricbeat/module/kvm/dommemstat/_meta/docs.asciidoc
  metricbeat/module/kvm/dommemstat/_meta/fields.yml
  metricbeat/module/kvm/dommemstat/dommemstat.go
  metricbeat/module/kvm/dommemstat/dommemstat_test.go
  metricbeat/module/kvm/vendor/github.com/davecgh/go-xdr/LICENSE
  metricbeat/module/kvm/vendor/github.com/davecgh/go-xdr/xdr2/decode.go
  metricbeat/module/kvm/vendor/github.com/davecgh/go-xdr/xdr2/doc.go
  metricbeat/module/kvm/vendor/github.com/davecgh/go-xdr/xdr2/encode.go
  metricbeat/module/kvm/vendor/github.com/davecgh/go-xdr/xdr2/error.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/AUTHORS
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/CONTRIBUTING.md
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/LICENSE.md
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/README.md
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/const.gen.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/doc.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/internal/constants/constants.gen.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/internal/constants/constants.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/libvirt.gen.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/libvirt.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/libvirt.yml
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/libvirtd.conf
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/libvirttest/libvirt.go
  metricbeat/module/kvm/vendor/github.com/digitalocean/go-libvirt/rpc.go
  metricbeat/module/kvm/vendor/vendor.json
  metricbeat/modules.d/kvm.yml.disabled
Labels: Metricbeat, module, review

#6899 Update Filebeat hints to also support modules
  filebeat/autodiscover/builder/hints/config.go
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/autodiscover/builder/hints/logs_test.go
  filebeat/fileset/modules.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_test.go
Labels: Filebeat, review

#6842 Syslog inputs parses RFC3164 events via TCP or UDP
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  filebeat/docs/inputs/input-common-tcp-options.asciidoc
  filebeat/docs/inputs/input-common-udp-options.asciidoc
  filebeat/docs/inputs/input-syslog.asciidoc
  filebeat/docs/inputs/input-tcp.asciidoc
  filebeat/docs/inputs/input-udp.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/list.go
  filebeat/input/syslog/config.go
  filebeat/input/syslog/event.go
  filebeat/input/syslog/event_test.go
  filebeat/input/syslog/input.go
  filebeat/input/syslog/input_test.go
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser.rl
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
  filebeat/input/tcp/input.go
  filebeat/input/tcp/input_test.go
  filebeat/input/udp/input.go
  filebeat/inputsource/network.go
  filebeat/inputsource/network_metadata.go
  filebeat/inputsource/tcp/client.go
  filebeat/inputsource/tcp/config.go
  filebeat/inputsource/tcp/server.go
  filebeat/inputsource/tcp/server_test.go
  filebeat/inputsource/udp/server.go
  filebeat/inputsource/udp/server_test.go
  filebeat/tests/system/test_syslog.py
Labels: Filebeat, review

#6893 Auditbeat recursive file watches for Windows
  CHANGELOG.asciidoc
  NOTICE.txt
  auditbeat/module/file_integrity/eventreader_fsnotify.go
  auditbeat/module/file_integrity/monitor/monitor.go
  auditbeat/tests/system/auditbeat.py
  auditbeat/tests/system/config/auditbeat.yml.j2
  auditbeat/tests/system/test_file_integrity.py
  libbeat/tests/system/beat/beat.py
  vendor/github.com/fsnotify/fsevents/example/main.go
  vendor/github.com/fsnotify/fsnotify/AUTHORS
  vendor/github.com/fsnotify/fsnotify/CHANGELOG.md
  vendor/github.com/fsnotify/fsnotify/fen.go
  vendor/github.com/fsnotify/fsnotify/inotify.go
  vendor/github.com/fsnotify/fsnotify/kqueue.go
  vendor/github.com/fsnotify/fsnotify/windows.go
  vendor/vendor.json
Labels: Auditbeat, bug, enhancement, review

#6898 Update Elastic Stack versions for testing
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/jolokia/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/module/logstash/_meta/Dockerfile
  testing/environments/5.0.0-cgroups.yml
  testing/environments/5x.yml
  testing/environments/docker/logstash/pipeline/default.conf
  testing/environments/docker/metricbeat/Dockerfile-5.0.0-cgroups
  testing/environments/docker/metricbeat/config/metricbeat.cgroups.yml
  testing/environments/latest.yml
Labels: :Testing, review

#6909 Reduce log level of urllib3 in metricbeat tests
  metricbeat/tests/system/metricbeat.py
Labels: :Testing, Metricbeat, review

#6900 Metricbeat: Add reference config and default metricset to kvm module
  metricbeat/docs/modules/kvm.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kvm/_meta/config.reference.yml
  metricbeat/module/kvm/_meta/config.yml
  metricbeat/module/kvm/dommemstat/dommemstat.go
  metricbeat/modules.d/kvm.yml.disabled
Labels: Metricbeat, module, review

#6881 Index metricset for elasticsearch Metricbeat module
  CHANGELOG.asciidoc
  metricbeat/_meta/fields.common.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/elasticsearch/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/mb/testing/data_generator.go
  metricbeat/mb/testing/modules.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/elasticsearch/_meta/config.reference.yml
  metricbeat/module/elasticsearch/_meta/fields.yml
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/index/_meta/data.json
  metricbeat/module/elasticsearch/index/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/index/_meta/fields.yml
  metricbeat/module/elasticsearch/index/_meta/test/empty.512.json
  metricbeat/module/elasticsearch/index/_meta/test/generate.sh
  metricbeat/module/elasticsearch/index/_meta/test/output.json
  metricbeat/module/elasticsearch/index/_meta/test/stats.175.json
  metricbeat/module/elasticsearch/index/_meta/test/stats.201.json
  metricbeat/module/elasticsearch/index/_meta/test/stats.240.json
  metricbeat/module/elasticsearch/index/_meta/test/stats.512.json
  metricbeat/module/elasticsearch/index/_meta/test/stats.623.json
  metricbeat/module/elasticsearch/index/data.go
  metricbeat/module/elasticsearch/index/data_test.go
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/index/index_integration_test.go
  metricbeat/module/elasticsearch/node_stats/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/test_elasticsearch.py
  metricbeat/module/elasticsearch/testing.go
  script/build_docs.sh
Labels: Metricbeat, module, review

#6936 Bump version to 6.4.0
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: review

#6939 Set docs version in the 6.x branch to 6.4.0
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, review, v6.4.0

#6773 Fix unstable ceph tests
  metricbeat/module/ceph/_meta/Dockerfile
  metricbeat/tests/system/test_ceph.py
Labels: :Testing, Metricbeat, enhancement, module, review

#6933 Add "Discuss Forum URL" to issue template
  .github/ISSUE_TEMPLATE.md
Labels: review

#6917 Update elasticsearch.node_stats to use ReporterV2
  metricbeat/mb/testing/data_generator.go
  metricbeat/module/elasticsearch/index/_meta/data.json
  metricbeat/module/elasticsearch/node_stats/_meta/data.json
  metricbeat/module/elasticsearch/node_stats/_meta/test/node_stats.623.json
  metricbeat/module/elasticsearch/node_stats/data.go
  metricbeat/module/elasticsearch/node_stats/data_test.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
  metricbeat/module/elasticsearch/node_stats/node_stats_integration_test.go
Labels: Metricbeat, module, review

#6945 Increase health retries for LS image.
  metricbeat/module/logstash/_meta/Dockerfile
Labels: :Testing, Metricbeat, review

#6946 [DOCS] Fixes URL for Stack Overview
  libbeat/docs/shared-beats-attributes.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0-alpha1

#6916 Add `GetProcessedMetrics` method to Prometheus helper
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/helper/prometheus.go
  metricbeat/helper/prometheus/label.go
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/prometheus.go
  metricbeat/helper/prometheus/prometheus_test.go
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
  metricbeat/module/kubernetes/state_container/data.go
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/state_container/state_container_test.go
  metricbeat/module/kubernetes/state_deployment/data.go
  metricbeat/module/kubernetes/state_deployment/state_deployment.go
  metricbeat/module/kubernetes/state_node/data.go
  metricbeat/module/kubernetes/state_node/state_node.go
  metricbeat/module/kubernetes/state_pod/data.go
  metricbeat/module/kubernetes/state_pod/state_pod.go
  metricbeat/module/kubernetes/state_pod/state_pod_test.go
  metricbeat/module/kubernetes/state_replicaset/data.go
  metricbeat/module/kubernetes/state_replicaset/state_replicaset.go
  metricbeat/module/kubernetes/state_statefulset/data.go
  metricbeat/module/kubernetes/state_statefulset/state_statefulset.go
  metricbeat/module/prometheus/collector/collector.go
Labels: Metricbeat, k8s, review

#6934 Metricbeat: Dashboards and visualizations for haproxy
  CHANGELOG.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-backend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-frontend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-backend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-frontend.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-http-server.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-overview.json
  metricbeat/module/haproxy/_meta/kibana/6/dashboard/Metricbeat-haproxy-visualizations.json
  metricbeat/module/haproxy/module.yml
Labels: Metricbeat, module, review

#6949 Better error handling in fsnotify recursive monitor
  auditbeat/module/file_integrity/monitor/monitor_test.go
  auditbeat/module/file_integrity/monitor/recursive.go
Labels: Auditbeat, review

#6956 Change testing to use 6.3 snapshot
  libbeat/scripts/Makefile
  testing/environments/args.yml
Labels: :Testing, review

#6950 Fix heartbeat races on event updates
  CHANGELOG.asciidoc
  heartbeat/monitors/util.go
Labels: Heartbeat, bug, needs_backport, review

#6877 Commit registry writes to stable storage to avoid corrupt registry files
  CHANGELOG.asciidoc
  filebeat/registrar/registrar.go
Labels: Filebeat, review

#6807 Provide same data structure as X-Pack for ES node_stats
  metricbeat/mb/event.go
  metricbeat/module/elasticsearch/node_stats/_meta/data-xpack.json
  metricbeat/module/elasticsearch/node_stats/_meta/test/node_stats_xpack.623.json
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
Labels: Metricbeat, module, review

#6962 Disable fsnotify recursive test under Darwin
  auditbeat/module/file_integrity/monitor/monitor_test.go
Labels: :Testing, Auditbeat, review

#6928 Switch to debug logs for missing fields
  libbeat/common/schema/errors.go
  libbeat/common/schema/schema.go
Labels: libbeat, review

#6958 Add filtering function for data generation
  metricbeat/mb/testing/data_generator.go
Labels: :Testing, Metricbeat, review

#6948 Update to Golang 1.10.1
  .go-version
  Vagrantfile
  dev-tools/packer/docker/xgo-image-deb7/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image-deb7/build.sh
  dev-tools/packer/docker/xgo-image-deb7/go-1.9.4/Dockerfile
  dev-tools/packer/docker/xgo-image/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image/build.sh
  dev-tools/packer/docker/xgo-image/go-1.9.4/Dockerfile
  filebeat/Dockerfile
  filebeat/fileset/modules_integration_test.go
  generator/beat/{beat}/.travis.yml
  generator/common/Makefile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  libbeat/scripts/Makefile
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
Labels: :Infra, review

#6963 Increase testing timeouts for Elastic Stack
  libbeat/docker-compose.yml
  metricbeat/module/elasticsearch/_meta/Dockerfile
Labels: :Testing, in progress, libbeat

#6953 Update 6.2 snapshot build to 6.2.5
  libbeat/scripts/Makefile
  testing/environments/args.yml
Labels: :Testing, review

#6964 Add message rates to rabbitmq queue metricset
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/rabbitmq/_meta/testdata/queue_sample_response.json
  metricbeat/module/rabbitmq/queue/_meta/data.json
  metricbeat/module/rabbitmq/queue/_meta/fields.yml
  metricbeat/module/rabbitmq/queue/data.go
  metricbeat/module/rabbitmq/queue/queue_integration_test.go
  metricbeat/module/rabbitmq/queue/queue_test.go
Labels: Metricbeat, module, review

#6965 Update URL to -oss artifacts
  testing/environments/docker/elasticsearch/download.sh
  testing/environments/docker/kibana/download.sh
  testing/environments/docker/logstash/download.sh
Labels: :Testing, review

#6973 Fix double node_stats entry Elasticsearch module docs
  metricbeat/module/elasticsearch/node_stats/_meta/docs.asciidoc
Labels: Metricbeat, docs, review

#6972 Fix double node_stats entry Elasticsearch module docs
  metricbeat/module/elasticsearch/node_stats/_meta/docs.asciidoc
Labels: Metricbeat, docs, review

#6919 Cherry-pick #6833 to 6.2: Remove version from docker-compose project name
  .travis.yml
  libbeat/tests/system/requirements.txt
  metricbeat/tests/system/requirements.txt
Labels: :Testing, review

#6966 Remove `-` char from docker-compose project name
  libbeat/scripts/Makefile
Labels: :Testing, review

#6907 Harden file integrity flaky test
  auditbeat/tests/system/test_file_integrity.py
Labels: :Testing, Auditbeat

#6976 Fix docker folder for updating to Golang 1.10.1
  dev-tools/packer/docker/xgo-image-deb7/go-1.10.1/Dockerfile
  dev-tools/packer/docker/xgo-image/go-1.10.1/Dockerfile
Labels: review

#6975 Remove test for comparing short / long config
  metricbeat/tests/system/test_config.py
Labels: :Testing, review

#6931 Fix self metrix when containerised (backport to 6.2)
  CHANGELOG.asciidoc
  libbeat/cmd/instance/metrics.go
  libbeat/metric/system/process/process.go
  libbeat/metric/system/process/process_linux.go
  libbeat/metric/system/process/process_other.go
  libbeat/metric/system/process/process_test.go
Labels: backport, review

#6978 Update github.com/elastic/go-libaudit to v0.2.0
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/LICENSE
  vendor/github.com/elastic/go-libaudit/LICENSE.txt
  vendor/github.com/elastic/go-libaudit/NOTICE.txt
  vendor/github.com/elastic/go-libaudit/aucoalesce/coalesce.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/event_type.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/id_lookup.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/normalizations.yaml
  vendor/github.com/elastic/go-libaudit/aucoalesce/normalize.go
  vendor/github.com/elastic/go-libaudit/aucoalesce/znormalize_data.go
  vendor/github.com/elastic/go-libaudit/audit.go
  vendor/github.com/elastic/go-libaudit/auparse/auparse.go
  vendor/github.com/elastic/go-libaudit/auparse/doc.go
  vendor/github.com/elastic/go-libaudit/auparse/hex.go
  vendor/github.com/elastic/go-libaudit/auparse/mk_audit_arches.pl
  vendor/github.com/elastic/go-libaudit/auparse/mk_audit_syscalls.pl
  vendor/github.com/elastic/go-libaudit/auparse/sockaddr.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_arches.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_exit_codes.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_msg_types.go
  vendor/github.com/elastic/go-libaudit/auparse/zaudit_syscalls.go
  vendor/github.com/elastic/go-libaudit/doc.go
  vendor/github.com/elastic/go-libaudit/netlink.go
  vendor/github.com/elastic/go-libaudit/reassembler.go
  vendor/github.com/elastic/go-libaudit/rule/binary.go
  vendor/github.com/elastic/go-libaudit/rule/defs_kernel_types.go
  vendor/github.com/elastic/go-libaudit/rule/flags/flags.go
  vendor/github.com/elastic/go-libaudit/rule/rule.go
  vendor/github.com/elastic/go-libaudit/rule/tables.go
  vendor/github.com/elastic/go-libaudit/rule/types.go
  vendor/github.com/elastic/go-libaudit/rule/zkernel_types.go
  vendor/vendor.json
Labels: review

#6980 [DOCS] Fixes certutil command name
  libbeat/docs/shared-ssl-logstash-config.asciidoc
Labels: docs, v6.3.0, v6.4.0, v7.0.0-alpha1
