Repository elastic/beats, pull requests merged in 2018-11, with the labels that each got.

#8853 Update docs and test files regarding Kafka 2.0 support in filebeat
  CHANGELOG.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/kafka/log/test/controller-2.0.0.log
  filebeat/module/kafka/log/test/server-2.0.0.log
  filebeat/module/kafka/log/test/state-change-2.0.0.log
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
Labels: Metricbeat, docs, module, needs_backport, v6.5.0

#8854 Release metricbeat Kafka module as GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kafka/consumergroup.asciidoc
  metricbeat/docs/modules/kafka/partition.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/kafka/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/fields.go
  metricbeat/module/kafka/partition/_meta/fields.yml
  metricbeat/module/kafka/partition/partition.go
Labels: Metricbeat, module, needs_backport, v6.5.0

#8846 Rephrase documentation of socket summary metricset
  metricbeat/module/system/socket_summary/_meta/docs.asciidoc
Labels: Metricbeat, docs, module, needs_backport, v6.5.0

#8826 Cherry-pick #8810 to 6.5: Build dummy journalbeat on non-windows
  journalbeat/cmd/instance/metrics.go
  journalbeat/cmd/instance/metrics_other.go
  journalbeat/reader/config.go
  journalbeat/reader/fields.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_other.go
  journalbeat/reader/journal_test.go
Labels: backport, review

#8825 Cherry-pick #8810 to 6.x: Build dummy journalbeat on non-windows
  journalbeat/cmd/instance/metrics.go
  journalbeat/cmd/instance/metrics_other.go
  journalbeat/reader/config.go
  journalbeat/reader/fields.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_other.go
  journalbeat/reader/journal_test.go
Labels: backport, review

#8844 Make sure the functionbeat.yml and the functionbeat.reference.yml
  x-pack/functionbeat/_meta/beat.yml
  x-pack/functionbeat/functionbeat.yml
Labels: Functionbeat, needs_backport, review

#8878 Add tracking file for ECS migration
  dev-tools/ecs-migration.yml
Labels: ecs, review

#8811 Add conditions for each platform
  auditbeat/docs/configuring-howto.asciidoc
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/index.asciidoc
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/configuring-howto.asciidoc
  heartbeat/docs/getting-started.asciidoc
  heartbeat/docs/index.asciidoc
  journalbeat/docs/configuring-howto.asciidoc
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-logstash-config.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/yaml.asciidoc
  metricbeat/docs/configuring-howto.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/configuring-howto.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
  winlogbeat/docs/configuring-howto.asciidoc
  winlogbeat/docs/getting-started.asciidoc
  winlogbeat/docs/index.asciidoc
Labels: docs, needs_backport, review

#8892 Add expected nginx error log file
  filebeat/module/nginx/error/test/error.log-expected.json
Labels: :Testing, Filebeat, module, review

#8871 Cherry-pick #8853 to 6.x: Update docs and test files regarding Kafka 2.0 support in filebeat
  CHANGELOG.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/kafka/log/test/controller-2.0.0.log
  filebeat/module/kafka/log/test/server-2.0.0.log
  filebeat/module/kafka/log/test/state-change-2.0.0.log
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
Labels: backport, review

#8872 Cherry-pick #8853 to 6.5: Update docs and test files regarding Kafka 2.0 support in filebeat
  CHANGELOG.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/kafka/log/test/controller-2.0.0.log
  filebeat/module/kafka/log/test/server-2.0.0.log
  filebeat/module/kafka/log/test/state-change-2.0.0.log
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
Labels: backport, review

#8874 Cherry-pick #8854 to 6.x: Release metricbeat Kafka module as GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kafka/consumergroup.asciidoc
  metricbeat/docs/modules/kafka/partition.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/kafka/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/fields.go
  metricbeat/module/kafka/partition/_meta/fields.yml
  metricbeat/module/kafka/partition/partition.go
Labels: backport, review

#8875 Cherry-pick #8854 to 6.5: Release metricbeat Kafka module as GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kafka/consumergroup.asciidoc
  metricbeat/docs/modules/kafka/partition.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/kafka/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/fields.go
  metricbeat/module/kafka/partition/_meta/fields.yml
  metricbeat/module/kafka/partition/partition.go
Labels: backport, review

#8876 Cherry-pick #8846 to 6.x: Rephrase documentation of socket summary metricset
  metricbeat/module/system/socket_summary/_meta/docs.asciidoc
Labels: backport, review

#8877 Cherry-pick #8846 to 6.5: Rephrase documentation of socket summary metricset
  metricbeat/module/system/socket_summary/_meta/docs.asciidoc
Labels: backport, review

#8883 Cherry-pick #8363 to 6.x: log formatted string
  libbeat/publisher/pipeline/module.go
Labels: backport, review

#8884 Cherry-pick #8363 to 6.5: log formatted string
  libbeat/publisher/pipeline/module.go
Labels: backport, review

#8818 Cherry-pick #8751 to 6.x: Dissect tag on parsing error
  CHANGELOG.asciidoc
  libbeat/beat/event.go
  libbeat/processors/dissect/processor.go
  libbeat/processors/dissect/processor_test.go
Labels: backport, review

#8886 Cherry-pick #8844 to 6.x: Make sure the functionbeat.yml and the functionbeat.reference.yml
  x-pack/functionbeat/_meta/beat.yml
  x-pack/functionbeat/functionbeat.yml
Labels: backport, review

#8888 Cherry-pick #8844 to 6.5: Make sure the functionbeat.yml and the functionbeat.reference.yml
  x-pack/functionbeat/_meta/beat.yml
  x-pack/functionbeat/functionbeat.yml
Labels: backport, review

#8889 Make functionbeat build process depends on linux/amd64
  CHANGELOG-developer.asciidoc
  dev-tools/mage/crossbuild.go
  dev-tools/mage/platforms.go
  x-pack/functionbeat/magefile.go
Labels: :Packaging, Functionbeat, needs_backport, review

#8890 Add remaining filesets to ES module docs
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: docs, needs_backport, review, v6.5.0, v6.6.0, v7.0.0-alpha1

#8777 Update testing env 6.4.3
  testing/environments/args.yml
Labels: :Testing, release, review, v6.4.3

#8905 Close changelog for 5.6.13
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: release, review

#8911 Correctly handle the case that the bucket doesnt' exist
  x-pack/functionbeat/provider/aws/op_ensure_bucket.go
Labels: Functionbeat, blocker, needs_backport, review

#8925 Cherry-pick #8911 to 6.x: Correctly handle the case that the bucket doesnt' exist
  x-pack/functionbeat/provider/aws/op_ensure_bucket.go
Labels: backport, review

#8924 Cherry-pick #8911 to 6.5: Correctly handle the case that the bucket doesnt' exist
  x-pack/functionbeat/provider/aws/op_ensure_bucket.go
Labels: backport, review

#8899 Fix improperly set config for CRI Flag in Docker Input
  CHANGELOG.asciidoc
  filebeat/input/docker/input.go
Labels: Filebeat, bug, needs_backport, review

#8908 Cherry-pick #8890 to 6.5: Add remaining filesets to ES module docs
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: backport, review

#8929 Do not fail when reloading outputs
  libbeat/publisher/pipeline/module.go
Labels: blocker, libbeat, needs_backport, review, v6.5.0

#8907 Cherry-pick #8890 to 6.x: Add remaining filesets to ES module docs
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: backport, review

#8891 Filebeat: Elasticsearch server fileset: Add paths for Mac OSX and Windows
  CHANGELOG.asciidoc
  filebeat/module/elasticsearch/server/manifest.yml
Labels: Filebeat, module, needs_backport, review, v6.6.0, v7.0.0-alpha1

#8917 Ignore kibana.generated for all x-pack Beats
  x-pack/.gitignore
Labels: :Infra, needs_backport, review

#8923 Rename field `offset` to `log.offset`
  CHANGELOG.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/input/log/harvester.go
  filebeat/module/apache2/access/test/test.log-expected.json
  filebeat/module/apache2/error/test/test.log-expected.json
  filebeat/module/auditd/log/test/test.log-expected.json
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/haproxy/log/test/haproxy.log-expected.json
  filebeat/module/haproxy/log/test/tcplog.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/kafka/log/test/controller.log-expected.json
  filebeat/module/kafka/log/test/server.log-expected.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/state-change.log-expected.json
  filebeat/module/kibana/log/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/nginx/error/test/error.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
  filebeat/tests/system/test_input.py
  filebeat/tests/system/test_json.py
  filebeat/tests/system/test_modules.py
  filebeat/tests/system/test_shutdown.py
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
Labels: Filebeat, ecs, review

#8776 Close changelog for 6.4.3
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#8906 Update testing env for 5.6.13
  testing/environments/args.yml
Labels: release, review

#8930 Cherry-pick #8899 to 6.x: Fix improperly set config for CRI Flag in Docker Input
  CHANGELOG.asciidoc
  filebeat/input/docker/input.go
Labels: backport, review

#8926 Cherry-pick #5894 to 5.6: Avoid xargs -r because of macOS
  dev-tools/jenkins_ci.sh
Labels: backport, review

#8919 Change default seeking of journalbeat to `cursor`
  journalbeat/_meta/beat.yml
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
Labels: needs_backport, review

#8928 Do not panic when no tokenizer string is configured for dissect
  CHANGELOG.asciidoc
  libbeat/processors/dissect/config.go
  libbeat/processors/dissect/config_test.go
Labels: libbeat, needs_backport, review

#8778 Bump docs version for 6.4.3
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, release, review, v6.4.3

#8779 Bump version to 6.4.4
  libbeat/version/version.go
Labels: in progress, release, review, v6.4.4

#8920 Update docs for 5.6.13
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review

#8921 Bump version to 5.6.14 in the 5.6 branch
  dev-tools/packer/version.yml
  filebeat/filebeat.template-es2x.json
  filebeat/filebeat.template-es6x.json
  filebeat/filebeat.template.json
  heartbeat/heartbeat.template-es2x.json
  heartbeat/heartbeat.template-es6x.json
  heartbeat/heartbeat.template.json
  libbeat/beat/version.go
  libbeat/libbeat.template-es6x.json
  metricbeat/metricbeat.template-es2x.json
  metricbeat/metricbeat.template-es6x.json
  metricbeat/metricbeat.template.json
  packetbeat/packetbeat.template-es2x.json
  packetbeat/packetbeat.template-es6x.json
  packetbeat/packetbeat.template.json
  winlogbeat/winlogbeat.template-es2x.json
  winlogbeat/winlogbeat.template-es6x.json
  winlogbeat/winlogbeat.template.json
Labels: in progress, release, review

#8944 Cherry-pick #8919 to 6.5: Change default seeking of journalbeat to `cursor`
  journalbeat/_meta/beat.yml
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
Labels: backport, review

#8945 Cherry-pick #8919 to 6.x: Change default seeking of journalbeat to `cursor`
  journalbeat/_meta/beat.yml
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
Labels: backport, review

#8932 Cherry-pick #8929 to 6.5: Do not fail when reloading outputs
  libbeat/publisher/pipeline/module.go
Labels: backport, review

#8879 Migrate fileset to ECS
  CHANGELOG.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/_meta/fields.common.yml
  filebeat/channel/factory.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache2/access/test/test.log-expected.json
  filebeat/module/apache2/error/test/test.log-expected.json
  filebeat/module/auditd/log/test/test.log-expected.json
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/haproxy/log/test/haproxy.log-expected.json
  filebeat/module/haproxy/log/test/tcplog.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/kafka/log/test/controller.log-expected.json
  filebeat/module/kafka/log/test/server.log-expected.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/state-change.log-expected.json
  filebeat/module/kibana/log/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/nginx/error/test/error.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
  filebeat/tests/system/test_modules.py
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
Labels: ecs, review

#8946 Cherry-pick #8917 to 6.x: Ignore kibana.generated for all x-pack Beats
  x-pack/.gitignore
Labels: backport, review

#8953 Fix suricata dashboards
  x-pack/filebeat/module/suricata/_meta/kibana/6/dashboard/Filebeat-Suricata-Alert-Overview.json
  x-pack/filebeat/module/suricata/_meta/kibana/6/dashboard/Filebeat-Suricata-Overview.json
Labels: SecOps, review, v7.0.0

#8902 Rename `source` field in Filebeat
  CHANGELOG.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/input/log/harvester.go
  filebeat/input/syslog/input.go
  filebeat/input/syslog/input_test.go
  filebeat/input/tcp/input.go
  filebeat/input/tcp/input_test.go
  filebeat/input/udp/input.go
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/tests/system/test_modules.py
  filebeat/tests/system/test_processors.py
  filebeat/tests/system/test_syslog.py
Labels: Filebeat, ecs, review

#8959 Cherry-pick #8953 to 6.5: Fix suricata dashboards
  x-pack/filebeat/module/suricata/_meta/kibana/6/dashboard/Filebeat-Suricata-Alert-Overview.json
  x-pack/filebeat/module/suricata/_meta/kibana/6/dashboard/Filebeat-Suricata-Overview.json
Labels: backport, review

#8821 Cherry-pick #8808 to 6.5: Update request to 2.20.0
  libbeat/tests/system/requirements.txt
Labels: backport, review

#8947 Cherry-pick #8917 to 6.5: Ignore kibana.generated for all x-pack Beats
  x-pack/.gitignore
Labels: backport, review

#8951 Add documentation for json.is_array setting
  metricbeat/module/http/json/_meta/docs.asciidoc
Labels: docs, needs_backport, review, v6.3.0, v6.4.0, v6.5.0, v6.6.0, v7.0.0-alpha1

#8954 Fix export_dashboards command
  dev-tools/cmd/dashboards/export_dashboards.go
Labels: needs_backport, review

#8977 Do not fails hard if dashboard are not found
  CHANGELOG.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/dashboards/dashboards.go
  libbeat/dashboards/importer.go
  libbeat/tests/files/testbeat-no-dashboards.zip
  libbeat/tests/system/test_dashboard.py
Labels: libbeat, needs_backport, review

#8981 Cherry-pick #8977 to 6.x: Do not fails hard if dashboard are not found
  CHANGELOG.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/dashboards/dashboards.go
  libbeat/dashboards/importer.go
  libbeat/tests/files/testbeat-no-dashboards.zip
  libbeat/tests/system/test_dashboard.py
Labels: backport, review

#8982 Cherry-pick #8977 to 6.5: Do not fails hard if dashboard are not found
  CHANGELOG.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/dashboards/dashboards.go
  libbeat/dashboards/importer.go
  libbeat/tests/files/testbeat-no-dashboards.zip
  libbeat/tests/system/test_dashboard.py
Labels: backport, review

#8958 Update latest testing environment to 6.4.3
  testing/environments/latest.yml
Labels: :Testing, review

#8445 [Elasticsearch Monitoring] Add cluster_metadata to cluster_stats docs
  CHANGELOG.asciidoc
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: Metricbeat, monitoring, needs_backport, review, v6.6.0, v7.0.0-alpha1

#8989 Add possible message to flaky test check
  metricbeat/tests/system/test_cmd.py
Labels: Metricbeat, flaky-test, module, needs_backport, review

#8785 Add documentation for filebeat.registry_flush
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
Labels: Filebeat, docs, needs_backport

#8990 Cherry-pick #8445 to 6.x: [Elasticsearch Monitoring] Add cluster_metadata to cluster_stats docs
  CHANGELOG.asciidoc
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: backport, review

#8904 Cherry-pick #8889 to 6.x: Make functionbeat build process depends on linux/amd64
  CHANGELOG-developer.asciidoc
  dev-tools/mage/crossbuild.go
  dev-tools/mage/platforms.go
  x-pack/functionbeat/magefile.go
Labels: backport, review

#7926 Start autodiscover consumers before producers
  CHANGELOG.asciidoc
  libbeat/autodiscover/autodiscover.go
  libbeat/common/kubernetes/watcher.go
Labels: Filebeat, libbeat, needs_backport, review

#8996 Cherry-pick #8785 to 6.5: Add documentation for filebeat.registry_flush
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
Labels: backport, review

#8971 Cherry-pick #8967 to 6.5: Mute flaky heartbeat telemetry test
  heartbeat/tests/system/test_telemetry.py
Labels: backport, review

#8970 Cherry-pick #8967 to 6.x: Mute flaky heartbeat telemetry test
  heartbeat/tests/system/test_telemetry.py
Labels: backport, review

#8999 Close changelog for 6.5.0 release
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#8973 Minor Journalbeat fixes and additions
  journalbeat/_meta/beat.yml
  journalbeat/_meta/kibana/6/dashboard/Journalbeat-overview.json
  journalbeat/checkpoint/checkpoint.go
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/input/input.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  journalbeat/reader/config.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_test.go
Labels: Journalbeat, needs_backport, review

#8997 Cherry-pick #8989 to 6.x: Add possible message to flaky test check
  metricbeat/tests/system/test_cmd.py
Labels: backport, review

#8993 Cherry-pick #8989 to 6.5: Add possible message to flaky test check
  metricbeat/tests/system/test_cmd.py
Labels: backport, review

#8994 Cherry-pick #8989 to 6.4: Add possible message to flaky test check
  metricbeat/tests/system/test_cmd.py
Labels: backport, review

#9007 Cherry-pick #8973 to 6.x: Minor Journalbeat fixes and additions
  journalbeat/_meta/beat.yml
  journalbeat/_meta/kibana/6/dashboard/Journalbeat-overview.json
  journalbeat/checkpoint/checkpoint.go
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/input/input.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  journalbeat/reader/config.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_test.go
Labels: backport, review

#9006 Cherry-pick #8973 to 6.5: Minor Journalbeat fixes and additions
  journalbeat/_meta/beat.yml
  journalbeat/_meta/kibana/6/dashboard/Journalbeat-overview.json
  journalbeat/checkpoint/checkpoint.go
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/input/input.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  journalbeat/reader/config.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_test.go
Labels: backport, review

#9011 Revert "Minor Journalbeat fixes and additions (#8973) (#9006)"
  journalbeat/_meta/beat.yml
  journalbeat/_meta/kibana/6/dashboard/Journalbeat-overview.json
  journalbeat/checkpoint/checkpoint.go
  journalbeat/config/config.go
  journalbeat/input/config.go
  journalbeat/input/input.go
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  journalbeat/reader/config.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_test.go
Labels: Journalbeat, review

#8983 Rename source_ecs to source
  CHANGELOG.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  auditbeat/module/auditd/_meta/fields.yml
  dev-tools/ecs-migration.yml
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/_meta/fields.common.yml
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/filebeat/module/suricata/_meta/kibana/6/dashboard/Filebeat-Suricata-Alert-Overview.json
  x-pack/filebeat/module/suricata/_meta/kibana/6/dashboard/Filebeat-Suricata-Overview.json
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.json
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: Filebeat, ecs, review

#8667 JSON Checks for Heartbeat HTTP Monitors
  CHANGELOG.asciidoc
  heartbeat/_meta/beat.reference.yml
  heartbeat/docs/heartbeat-options.asciidoc
  heartbeat/heartbeat.reference.yml
  heartbeat/monitors/active/http/check.go
  heartbeat/monitors/active/http/check_test.go
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/simple_transp.go
  heartbeat/tests/system/config/heartbeat.yml.j2
  heartbeat/tests/system/test_monitor.py
Labels: Heartbeat, backport, enhancement, review

#8864 Update Journalbeat docs
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/configuring-howto.asciidoc
  journalbeat/docs/faq.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/how-it-works.asciidoc
  journalbeat/docs/index.asciidoc
  journalbeat/docs/overview.asciidoc
  journalbeat/docs/running-on-kubernetes.asciidoc
  journalbeat/docs/setting-up-running.asciidoc
  journalbeat/docs/troubleshooting.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/setup-config.asciidoc
  libbeat/docs/shared-configuring.asciidoc
  libbeat/docs/shared-download-and-install.asciidoc
  libbeat/docs/shared-getting-started-intro.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/step-configure-credentials.asciidoc
Labels: docs, needs_backport

#8998 [WIP] Correctly update the dictionary
  libbeat/tests/system/beat/beat.py
Labels: :Testing, in progress, needs_backport

#8894 Read whole body on each request
  CHANGELOG.asciidoc
  heartbeat/monitors/active/http/task.go
  heartbeat/tests/system/heartbeat.py
  heartbeat/tests/system/test_monitor.py
Labels: Heartbeat, bug, in progress

#8845 add_cloud_metadata asynchronous initialization
  CHANGELOG.asciidoc
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
Labels: discuss, enhancement, review

#9028 Cherry-pick #8894 to 6.x: Read whole body on each request
  CHANGELOG.asciidoc
  heartbeat/monitors/active/http/task.go
  heartbeat/tests/system/heartbeat.py
  heartbeat/tests/system/test_monitor.py
Labels: Heartbeat, backport, review

#9015 Cherry-pick #8667 to 6.x: JSON Checks for Heartbeat HTTP Monitors
  CHANGELOG.asciidoc
  heartbeat/_meta/beat.reference.yml
  heartbeat/docs/heartbeat-options.asciidoc
  heartbeat/heartbeat.reference.yml
  heartbeat/monitors/active/http/check.go
  heartbeat/monitors/active/http/check_test.go
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/simple_transp.go
  heartbeat/tests/system/config/heartbeat.yml.j2
  heartbeat/tests/system/test_monitor.py
Labels: backport, review

#8984 Add heartbeat test for TLS client cert auth
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/http/testdata/client_cert.pem
  heartbeat/monitors/active/http/testdata/client_key.pem
Labels: :Testing, Heartbeat, review

#9042 Cherry-pick #9023 to 6.5: Unset existing config blocks when they are missing
  CHANGELOG.asciidoc
  libbeat/common/reload/reload.go
  libbeat/publisher/pipeline/controller.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#9041 Cherry-pick #9023 to 6.x: Unset existing config blocks when they are missing
  CHANGELOG.asciidoc
  libbeat/common/reload/reload.go
  libbeat/publisher/pipeline/controller.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#9027 Rename source.hostname to source.domain
  CHANGELOG.asciidoc
  auditbeat/docs/breaking.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  auditbeat/module/auditd/_meta/data.json
  auditbeat/module/auditd/_meta/fields.yml
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/file_integrity/_meta/data.json
  dev-tools/ecs-migration.yml
  metricbeat/mb/testing/data_generator.go
Labels: Auditbeat, ecs, review

#8956 Make x-pack/filebeat directly testable
  dev-tools/cmd/module_fields/module_fields.go
  dev-tools/cmd/module_include_list/module_include_list.go
  dev-tools/mage/clean.go
  dev-tools/mage/common.go
  dev-tools/mage/config.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/fields.go
  dev-tools/mage/gotest.go
  dev-tools/mage/integtest.go
  dev-tools/mage/pkgspecs.go
  dev-tools/mage/pytest.go
  filebeat/Dockerfile
  x-pack/.gitignore
  x-pack/filebeat/docker-compose.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/magefile.go
  x-pack/filebeat/make.bat
Labels: :Infra, review

#8974 Cherry-pick #8951 to 6.x: Add documentation for json.is_array setting
  metricbeat/module/http/json/_meta/docs.asciidoc
Labels: backport, review

#9021 Cherry-pick #8998 to 6.x: Correctly update the dictionary
  libbeat/tests/system/beat/beat.py
Labels: backport, review

#9046 Cleanup CHANGELOG in the master branch
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#9047 Cleanup CHANGELOG in the 6.x branch
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#9044 Fixing typo introduced in #8951.
  metricbeat/module/http/json/_meta/docs.asciidoc
Labels: Metricbeat, docs, module, review, v7.0.0-alpha1

#9031 Temporary fix for dashboards under 7.0
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/tests/system/test_base.py
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: ecs, libbeat, review

#8995 Cherry-pick #8785 to 6.x: Add documentation for filebeat.registry_flush
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
Labels: backport, review

#8861 Cherry-pick #8750 and #7768 to 6.x: Allow to use a star (*) to extract a value that can be referenced and add external test suite for dissect
  CHANGELOG.asciidoc
  libbeat/processors/dissect/.gitignore
  libbeat/processors/dissect/const.go
  libbeat/processors/dissect/dissect.go
  libbeat/processors/dissect/dissect_test.go
  libbeat/processors/dissect/field.go
  libbeat/processors/dissect/parser.go
  libbeat/processors/dissect/testdata/dissect_tests.json
  libbeat/processors/dissect/validate.go
  libbeat/processors/dissect/validate_test.go
Labels: backport, review

#8980 apply new goimports rules to libbeat
  libbeat/autodiscover/autodiscover_test.go
  libbeat/autodiscover/meta/meta_test.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/template/config_test.go
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/imports.go
  libbeat/cmd/root.go
  libbeat/common/config.go
  libbeat/common/docker/client.go
  libbeat/common/event.go
  libbeat/common/safemapstr/safemapstr_test.go
  libbeat/common/streambuf/streambuf.go
  libbeat/common/x509util/x509util_test.go
  libbeat/logp/level.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/outputs/codec/common.go
  libbeat/outputs/codec/json/json.go
  libbeat/outputs/elasticsearch/api_mock_test.go
  libbeat/outputs/elasticsearch/enc.go
  libbeat/outputs/kafka/kafka_integration_test.go
  libbeat/outputs/logstash/client_test.go
  libbeat/outputs/logstash/logstash_test.go
  libbeat/outputs/redis/redis_integration_test.go
  libbeat/processors/actions/rename_test.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/processor_test.go
  libbeat/publisher/includes/includes.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/stress/stress_test.go
  libbeat/publisher/queue/spool/codec.go
  libbeat/reader/readfile/encoding/utf16_test.go
  libbeat/reader/readjson/docker_json.go
  libbeat/reader/readjson/docker_json_test.go
  libbeat/scripts/cmd/stress_pipeline/main.go
  libbeat/service/service.go
  libbeat/template/load_integration_test.go
  libbeat/template/processor_test.go
  libbeat/testing/mapvaltest/mapvaltest.go
  libbeat/tests/compose/wrapper.go
Labels: :Infra, libbeat, review

#8968 Add PR Guidelines
  docs/devguide/contributing.asciidoc
  docs/devguide/index.asciidoc
  docs/devguide/pull-request-guidelines.asciidoc
Labels: review

#9054 Add configuration management topics to the Beats docs
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/images/configuration-blocks.png
  filebeat/docs/images/enrolled-beats-apache.png
  filebeat/docs/images/enrolled-beats-dev-prod.png
  filebeat/docs/images/enrolled-beats.png
  filebeat/docs/index.asciidoc
  libbeat/docs/images/configuration-blocks.png
  libbeat/docs/images/enrolled-beats-apache.png
  libbeat/docs/images/enrolled-beats-dev-prod.png
  libbeat/docs/images/enrolled-beats.png
  libbeat/docs/shared-beats-attributes.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  metricbeat/docs/images/configuration-blocks.png
  metricbeat/docs/images/enrolled-beats-apache.png
  metricbeat/docs/images/enrolled-beats-dev-prod.png
  metricbeat/docs/images/enrolled-beats.png
  metricbeat/docs/index.asciidoc
Labels: docs, needs_backport, review

#9060 Backport to 6.5: Cherrypick 9054
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/images/configuration-blocks.png
  filebeat/docs/images/enrolled-beats-apache.png
  filebeat/docs/images/enrolled-beats-dev-prod.png
  filebeat/docs/images/enrolled-beats.png
  filebeat/docs/index.asciidoc
  libbeat/docs/images/configuration-blocks.png
  libbeat/docs/images/enrolled-beats-apache.png
  libbeat/docs/images/enrolled-beats-dev-prod.png
  libbeat/docs/images/enrolled-beats.png
  libbeat/docs/shared-beats-attributes.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  metricbeat/docs/images/configuration-blocks.png
  metricbeat/docs/images/enrolled-beats-apache.png
  metricbeat/docs/images/enrolled-beats-dev-prod.png
  metricbeat/docs/images/enrolled-beats.png
  metricbeat/docs/index.asciidoc
Labels: backport, docs

#9019 Cherry-pick #8935 to 6.x: Stop recommending publish debugging when running beats.
  auditbeat/docs/getting-started.asciidoc
  filebeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: backport, review

#9061 Backport to 6.x: Add configuration management topics to the Beats docs (#9054)
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/images/configuration-blocks.png
  filebeat/docs/images/enrolled-beats-apache.png
  filebeat/docs/images/enrolled-beats-dev-prod.png
  filebeat/docs/images/enrolled-beats.png
  filebeat/docs/index.asciidoc
  libbeat/docs/images/configuration-blocks.png
  libbeat/docs/images/enrolled-beats-apache.png
  libbeat/docs/images/enrolled-beats-dev-prod.png
  libbeat/docs/images/enrolled-beats.png
  libbeat/docs/shared-beats-attributes.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  metricbeat/docs/images/configuration-blocks.png
  metricbeat/docs/images/enrolled-beats-apache.png
  metricbeat/docs/images/enrolled-beats-dev-prod.png
  metricbeat/docs/images/enrolled-beats.png
  metricbeat/docs/index.asciidoc
Labels: docs, review

#8898 Build docker images when building packages
  CHANGELOG-developer.asciidoc
  auditbeat/_meta/beat.docker.yml
  auditbeat/auditbeat.docker.yml
  auditbeat/magefile.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/package_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
  dev-tools/packaging/templates/docker/docker-entrypoint.tmpl
  filebeat/_meta/beat.docker.yml
  filebeat/filebeat.docker.yml
  filebeat/magefile.go
  generator/beat/{beat}/_meta/beat.docker.yml
  heartbeat/_meta/beat.docker.yml
  heartbeat/heartbeat.docker.yml
  heartbeat/magefile.go
  journalbeat/_meta/beat.docker.yml
  journalbeat/journalbeat.docker.yml
  libbeat/_meta/config.docker.yml
  libbeat/scripts/Makefile
  metricbeat/_meta/beat.docker.yml
  metricbeat/magefile.go
  metricbeat/metricbeat.docker.yml
  packetbeat/_meta/beat.docker.yml
  packetbeat/magefile.go
  packetbeat/packetbeat.docker.yml
Labels: :Packaging, review, v7.0.0

#9059 Cherry-pick #8980 to 6.5: apply new goimports rules to libbeat
  filebeat/reader/docker_json/docker_json.go
  filebeat/reader/docker_json/docker_json_test.go
  filebeat/reader/readfile/encoding/utf16_test.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/autodiscover/meta/meta_test.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/template/config_test.go
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/imports.go
  libbeat/cmd/root.go
  libbeat/common/config.go
  libbeat/common/docker/client.go
  libbeat/common/event.go
  libbeat/common/safemapstr/safemapstr_test.go
  libbeat/common/streambuf/streambuf.go
  libbeat/common/x509util/x509util_test.go
  libbeat/logp/level.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/outputs/codec/common.go
  libbeat/outputs/codec/json/json.go
  libbeat/outputs/elasticsearch/api_mock_test.go
  libbeat/outputs/elasticsearch/enc.go
  libbeat/outputs/kafka/kafka_integration_test.go
  libbeat/outputs/logstash/client_test.go
  libbeat/outputs/logstash/logstash_test.go
  libbeat/outputs/redis/redis_integration_test.go
  libbeat/processors/actions/rename_test.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/processor_test.go
  libbeat/publisher/includes/includes.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/stress/stress_test.go
  libbeat/publisher/queue/spool/codec.go
  libbeat/scripts/cmd/stress_pipeline/main.go
  libbeat/service/service.go
  libbeat/template/load_integration_test.go
  libbeat/template/processor_test.go
  libbeat/testing/mapvaltest/mapvaltest.go
  libbeat/tests/compose/wrapper.go
Labels: backport, review

#9058 Cherry-pick #8980 to 6.x: apply new goimports rules to libbeat
  filebeat/reader/docker_json/docker_json.go
  filebeat/reader/docker_json/docker_json_test.go
  filebeat/reader/readfile/encoding/utf16_test.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/autodiscover/meta/meta_test.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/template/config_test.go
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/imports.go
  libbeat/cmd/root.go
  libbeat/common/config.go
  libbeat/common/docker/client.go
  libbeat/common/event.go
  libbeat/common/safemapstr/safemapstr_test.go
  libbeat/common/streambuf/streambuf.go
  libbeat/common/x509util/x509util_test.go
  libbeat/logp/level.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/outputs/codec/common.go
  libbeat/outputs/codec/json/json.go
  libbeat/outputs/elasticsearch/api_mock_test.go
  libbeat/outputs/elasticsearch/enc.go
  libbeat/outputs/kafka/kafka_integration_test.go
  libbeat/outputs/logstash/client_test.go
  libbeat/outputs/logstash/logstash_test.go
  libbeat/outputs/redis/redis_integration_test.go
  libbeat/processors/actions/rename_test.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/processor_test.go
  libbeat/publisher/includes/includes.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/stress/stress_test.go
  libbeat/publisher/queue/spool/codec.go
  libbeat/scripts/cmd/stress_pipeline/main.go
  libbeat/service/service.go
  libbeat/template/load_integration_test.go
  libbeat/template/processor_test.go
  libbeat/testing/mapvaltest/mapvaltest.go
  libbeat/tests/compose/wrapper.go
Labels: backport, review

#9057 Wait for sample data to be loaded in couchbase healthcheck
  metricbeat/module/couchbase/_meta/Dockerfile
  metricbeat/module/couchbase/_meta/configure-node.sh
Labels: Metricbeat, flaky-test, module, needs_backport, review

#9048 Update testing env for 6.5.0
  testing/environments/args.yml
Labels: :Testing, release, review, v6.5.0

#9051 Bump version to 6.5.1
  libbeat/version/version.go
Labels: in progress, release, review, v6.5.1

#9049 Mark docs as released in the 6.5 branch
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.5.0

#9067 Fix race condition when enriching events with Kubernetes metadata
  CHANGELOG.asciidoc
  metricbeat/module/kubernetes/util/kubernetes.go
Labels: Metricbeat, bug, needs_backport, review

#9077 Backport to 6.5: Remove shared content not relevant to Functionbeat (#9030)
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-download-and-install.asciidoc
  libbeat/docs/shared-faq.asciidoc
  libbeat/docs/shared-securing-beat.asciidoc
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: docs, review

#9079 Backport to 6.x: Remove shared content not relevant to Functionbeat (#9030)
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-download-and-install.asciidoc
  libbeat/docs/shared-faq.asciidoc
  libbeat/docs/shared-securing-beat.asciidoc
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: docs, review

#9080 Remove release state override
  journalbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: docs, needs_backport, review

#9082 Add x-pack badge to functionbeat topics
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/filtering.asciidoc
  x-pack/functionbeat/docs/general-options.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
  x-pack/functionbeat/docs/troubleshooting.asciidoc
Labels: docs, needs_backport, review

#9002 Remove 5.x obsolete options checks
  CHANGELOG.asciidoc
  filebeat/beater/filebeat.go
  filebeat/tests/system/test_base.py
  filebeat/tests/system/test_deprecated.py
  libbeat/cmd/instance/beat.go
  libbeat/common/cfgwarn/removed.go
  libbeat/common/cfgwarn/removed_test.go
  libbeat/outputs/output_reg.go
  libbeat/tests/system/test_base.py
  metricbeat/beater/metricbeat.go
  metricbeat/mb/module/factory.go
  metricbeat/tests/system/test_config.py
Labels: Auditbeat, Filebeat, Metricbeat, libbeat, review

#8903 Cherry-pick #8889 to 6.5: Make functionbeat build process depends on linux/amd64
  CHANGELOG-developer.asciidoc
  dev-tools/mage/crossbuild.go
  dev-tools/mage/platforms.go
  x-pack/functionbeat/magefile.go
Labels: backport, review

#9020 Cherry-pick #8998 to 6.5: Correctly update the dictionary
  libbeat/tests/system/beat/beat.py
Labels: backport, review

#8992 Functionbeat use a concurrency of 5 by default for AWS lambda
  CHANGELOG.asciidoc
  x-pack/functionbeat/_meta/beat.reference.yml
  x-pack/functionbeat/_meta/beat.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/functionbeat/provider/aws/config.go
Labels: Functionbeat, review

#9089 Backport to 6.x: Add x-pack badge to functionbeat topics (#9082)
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/filtering.asciidoc
  x-pack/functionbeat/docs/general-options.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
  x-pack/functionbeat/docs/troubleshooting.asciidoc
Labels: backport, docs, review

#9085 Add docs FAQ topic about deploying to the wrong region
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
Labels: docs, needs_backport, review

#9086 Backport to 6.5: Remove release state override (#9080)
  journalbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: backport, docs, review

#9087 Backport to 6.x: Remove release state override (#9080)
  journalbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: backport, docs, review

#9088 Backport to 6.5: Add x-pack badge to functionbeat topics (#9082)
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/filtering.asciidoc
  x-pack/functionbeat/docs/general-options.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
  x-pack/functionbeat/docs/troubleshooting.asciidoc
Labels: backport, docs, review

#9068 Add tests for etcd 3.3 on metricbeat module
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/etcd.asciidoc
  metricbeat/module/etcd/_meta/Dockerfile
  metricbeat/module/etcd/_meta/docs.asciidoc
  metricbeat/module/etcd/test_etcd.py
Labels: Metricbeat, module, review

#9062 Fix keystore's flaky tests
  libbeat/tests/system/test_keystore.py
Labels: :Testing, libbeat, needs_backport, review

#9094 Cherry-pick #9068 to 6.x: Add tests for etcd 3.3 on metricbeat module
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/etcd.asciidoc
  metricbeat/module/etcd/_meta/Dockerfile
  metricbeat/module/etcd/_meta/docs.asciidoc
  metricbeat/module/etcd/test_etcd.py
Labels: backport, review

#9095 Cherry-pick #9003 to 6.x: Check license for CCR before attempting to fetch stats
  metricbeat/module/elasticsearch/ccr/ccr.go
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: backport, review

#8824 Cherry-pick #8772 to 6.x: Support parsing TLS 1.3 supported_versions extension (#8647)
  CHANGELOG.asciidoc
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-tls.json
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  packetbeat/protos/tls/_meta/fields.yml
  packetbeat/protos/tls/extensions.go
  packetbeat/protos/tls/extensions_test.go
  packetbeat/protos/tls/tls.go
  packetbeat/protos/tls/tls_test.go
Labels: backport, review

#9110 Change release state to prerelease for alpha
  libbeat/docs/version.asciidoc
Labels: docs, review

#8431 Log: Add experimental option "redirect_stderr" (#8430)
  CHANGELOG.asciidoc
  libbeat/common/file/rotator.go
  libbeat/common/file/stderr_other.go
  libbeat/common/file/stderr_windows.go
  libbeat/docs/loggingconfig.asciidoc
  libbeat/logp/config.go
  libbeat/logp/core.go
Labels: discuss, enhancement, libbeat, review

#9113 Close changelog for 7.0.0-alpha1
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#9103 Cherry-pick #8836 to 6.5: Make sure that packages.yml use the same files definition
  CHANGELOG.asciidoc
  dev-tools/packaging/packages.yml
  x-pack/functionbeat/dev-tools/packaging/packages.yml
Labels: backport, review

#9104 Cherry-pick #8836 to 6.x: Make sure that packages.yml use the same files definition
  CHANGELOG.asciidoc
  dev-tools/packaging/packages.yml
  x-pack/functionbeat/dev-tools/packaging/packages.yml
Labels: backport, review

#9112 Cherry-pick #8431 to 6.x: Log: Add experimental option "redirect_stderr" (#8430)
  CHANGELOG.asciidoc
  libbeat/common/file/rotator.go
  libbeat/common/file/stderr_other.go
  libbeat/common/file/stderr_windows.go
  libbeat/docs/loggingconfig.asciidoc
  libbeat/logp/config.go
  libbeat/logp/core.go
Labels: backport, review

#9109 Define the license type in the functionbeat magefile.go
  x-pack/functionbeat/magefile.go
Labels: Functionbeat, needs_backport, review

#9128 Do not set a default value for the version qualifier
  dev-tools/jenkins_release.sh
Labels: :Packaging, review

#8835 [Auditbeat] Add user metricset
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/include/list.go
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/fields.yml
  x-pack/auditbeat/module/system/user/config.go
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/module/system/user/users_other.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9115 Add statement about required license
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-license-statement.asciidoc
Labels: docs, needs_backport, review

#9131 Backport to 6.5: Add statement about required license (#9115)
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-license-statement.asciidoc
Labels: backport, docs, review

#9133 Backport to 6.x: Add statement about required license (#9115)
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-license-statement.asciidoc
Labels: backport, docs, review

#9136 Cherry-pick #9125 to 6.x: Fix division by zero on diskio metricset
  CHANGELOG.asciidoc
  metricbeat/module/system/diskio/diskstat_linux.go
Labels: backport, review

#9032 Version Information for kafka-output unclear
  libbeat/docs/outputconfig.asciidoc
Labels: Metricbeat, docs, module, needs_backport

#9065 Cherry-pick #9057 to 6.x: Wait for sample data to be loaded in couchbase healthcheck
  metricbeat/module/couchbase/_meta/Dockerfile
  metricbeat/module/couchbase/_meta/configure-node.sh
Labels: backport, review

#9066 Cherry-pick #9057 to 6.5: Wait for sample data to be loaded in couchbase healthcheck
  metricbeat/module/couchbase/_meta/Dockerfile
  metricbeat/module/couchbase/_meta/configure-node.sh
Labels: backport, review

#9102 Cherry-pick #8954 to 6.x: Fix export_dashboards command
  dev-tools/cmd/dashboards/export_dashboards.go
Labels: backport, review

#9150 Reusing module config collector script across Filebeat and Metricbeat
  filebeat/Makefile
  filebeat/modules.d/apache2.yml.disabled
  filebeat/modules.d/auditd.yml.disabled
  filebeat/modules.d/elasticsearch.yml.disabled
  filebeat/modules.d/haproxy.yml.disabled
  filebeat/modules.d/icinga.yml.disabled
  filebeat/modules.d/iis.yml.disabled
  filebeat/modules.d/kafka.yml.disabled
  filebeat/modules.d/kibana.yml.disabled
  filebeat/modules.d/logstash.yml.disabled
  filebeat/modules.d/mongodb.yml.disabled
  filebeat/modules.d/mysql.yml.disabled
  filebeat/modules.d/nginx.yml.disabled
  filebeat/modules.d/osquery.yml.disabled
  filebeat/modules.d/postgresql.yml.disabled
  filebeat/modules.d/redis.yml.disabled
  filebeat/modules.d/system.yml.disabled
  filebeat/modules.d/traefik.yml.disabled
  metricbeat/Makefile
  metricbeat/scripts/modules_collector.py
  script/modules_collector.py
Labels: Filebeat, Metricbeat, module, review, v6.6.0, v7.0.0-alpha1

#9148 Never default to a qualifier when none of them are set.
  CHANGELOG-developer.asciidoc
  auditbeat/magefile.go
  dev-tools/jenkins_release.sh
  dev-tools/mage/crossbuild.go
  dev-tools/mage/settings.go
  filebeat/magefile.go
  heartbeat/magefile.go
  libbeat/version/helper.go
  metricbeat/magefile.go
  packetbeat/magefile.go
  winlogbeat/magefile.go
Labels: :Packaging, libbeat, review

#7730 Simplify exporting dashboards for Devs
  CHANGELOG-developer.asciidoc
  auditbeat/magefile.go
  dev-tools/cmd/dashboards/export_dashboards.go
  dev-tools/mage/dashboard.go
  docs/devguide/newdashboards.asciidoc
  filebeat/magefile.go
  metricbeat/magefile.go
Labels: :Dashboards, :Infra, review
