Repository elastic/beats, pull requests merged in 2018-12, with the labels that each got.

#9319 [Docs] Backport to 6.x: multiple doc changes
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/index.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/enable-modules-command.asciidoc
  filebeat/docs/include/list-modules-command.asciidoc
  filebeat/docs/include/run-command.asciidoc
  filebeat/docs/include/set-paths.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/getting-started.asciidoc
  heartbeat/docs/index.asciidoc
  journalbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/loggingconfig.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
Labels: backport, docs, review

#9251 Log dropped events at the debug level
  CHANGELOG.asciidoc
  libbeat/outputs/console/console.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/logstash/enc.go
  libbeat/outputs/redis/client.go
Labels: discuss, libbeat, needs_backport, review

#9269 Fix alias field generation in docs
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  heartbeat/docs/fields.asciidoc
  journalbeat/docs/fields.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  winlogbeat/docs/fields.asciidoc
  x-pack/functionbeat/docs/fields.asciidoc
Labels: docs, ecs, libbeat, needs_backport, review

#9313 Fix location of haproxy filebeat dashboard
  CHANGELOG.asciidoc
  filebeat/module/haproxy/_meta/kibana/6/dashboard/Filebeat-haproxy-overview.json
Labels: :Dashboards, :infrastructure, Filebeat, bug, module, needs_backport, review

#9349 Fix a typo in the syslog parser to correctly parse December or Dec
  CHANGELOG.asciidoc
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
Labels: Filebeat, needs_backport, review

#9347 Cherry-pick #9313 to 6.x: Fix location of haproxy filebeat dashboard
  CHANGELOG.asciidoc
  filebeat/module/haproxy/_meta/kibana/6/dashboard/Filebeat-haproxy-overview.json
Labels: backport, review

#9348 Cherry-pick #9313 to 6.5: Fix location of haproxy filebeat dashboard
  CHANGELOG.asciidoc
  filebeat/module/haproxy/_meta/kibana/6/dashboard/Filebeat-haproxy-overview.json
Labels: backport, review

#9356 Cherry-pick #9305 to 6.x: Don't generate a config when disabling logs collection with hints
  CHANGELOG.asciidoc
  filebeat/autodiscover/builder/hints/logs.go
  libbeat/autodiscover/builder.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: backport, review

#9358 Add some missing references to PRs in changelog
  CHANGELOG.asciidoc
Labels: review

#9226 Metricbeat can call Jolokia with GET requests. (#8566)
  metricbeat/module/jolokia/jmx/_meta/docs.asciidoc
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_get_response.json
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/config_test.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: :infrastructure, Metricbeat, module, review

#9368 [Auditbeat] Disable user metricset on non-Linux systems
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_other.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9357 Cherry-pick #9305 to 6.5: Don't generate a config when disabling logs collection with hints
  CHANGELOG.asciidoc
  filebeat/autodiscover/builder/hints/logs.go
  libbeat/autodiscover/builder.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: backport, review

#9374 Add missing changelog for #9226
  CHANGELOG.asciidoc
Labels: :infrastructure, Metricbeat, module, review

#9296 Update testing env 6.5.2
  testing/environments/args.yml
Labels: :Testing, release, review, v6.5.2

#9295 Close changelog for 6.5.2
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.5.2

#9309 Close changelog for 5.6.14
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#9310 Update testing env for 5.6.14
  testing/environments/args.yml
Labels: :Testing, release, review, v5.6.14

#9352 Cherry-pick #9349 to 6.x: Fix a typo in the syslog parser to correctly parse December or Dec
  CHANGELOG.asciidoc
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
Labels: backport, review

#9355 Cherry-pick #9349 to 6.4: Fix a typo in the syslog parser to correctly parse December or Dec
  CHANGELOG.asciidoc
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
Labels: backport, review

#9359 Add cache.ttl to add_host_metadata
  CHANGELOG.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_host_metadata/config.go
Labels: :Processors, libbeat, needs_backport, review

#9254 Central management for hb
  CHANGELOG.asciidoc
  heartbeat/beater/heartbeat.go
  libbeat/docs/shared-central-management.asciidoc
Labels: :uptime, Heartbeat, needs_backport, review

#9380 Cherry-pick #9029 to 6.x: Make conditions in autodiscovery configs optional
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/jolokia/jolokia.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/template/config.go
  libbeat/autodiscover/template/config_test.go
  libbeat/docs/shared-autodiscover.asciidoc
Labels: :uptime, Heartbeat, backport, review

#9381 Update migration file to new structure
  dev-tools/ecs-migration.yml
Labels: :infrastructure, ecs, review

#9282 Update kubernetes.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
Labels: :infrastructure, Metricbeat, docs, module, needs_backport

#9289 Cherry-pick #7926 to 6.x: Start autodiscover consumers before producers
  CHANGELOG.asciidoc
  libbeat/autodiscover/autodiscover.go
  libbeat/common/kubernetes/watcher.go
Labels: backport, review

#9298 Bump docs version for 6.5.2
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.5.2

#9311 Bump docs version for 5.6.14
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v5.6.14

#9366 Enable set syslog host for Filebeat HAProxy module
  CHANGELOG.asciidoc
  filebeat/module/haproxy/log/config/syslog.yml
  filebeat/module/haproxy/log/manifest.yml
Labels: :infrastructure, Filebeat, module, needs_backport, review

#9407 Revert "Bump docs version for 5.6.14"
  libbeat/docs/version.asciidoc
Labels: docs, review

#9324 Cherry-pick #9251 to 6.x: Log dropped events at the debug level
  CHANGELOG.asciidoc
  libbeat/outputs/console/console.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/logstash/enc.go
  libbeat/outputs/redis/client.go
Labels: backport, review

#9325 Cherry-pick #9251 to 6.5: Log dropped events at the debug level
  CHANGELOG.asciidoc
  libbeat/outputs/console/console.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/logstash/enc.go
  libbeat/outputs/redis/client.go
Labels: backport, review

#9400 Update Kibana and Elasticsearch to 6.4.3 for testing in Metricbeat
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
Labels: :Testing, Metricbeat, module

#9139 [Auditbeat] Update process metricset
  x-pack/auditbeat/include/list.go
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/process/_meta/data.json
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/config.go
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/module/system/processes/_meta/data.json
  x-pack/auditbeat/module/system/processes/_meta/fields.yml
  x-pack/auditbeat/module/system/processes/processes.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9383 Assume all swap memory is free on values overflow
  CHANGELOG.asciidoc
  libbeat/metric/system/memory/memory.go
Labels: :infrastructure, Metricbeat, libbeat, module, needs_backport, review

#9317 [Docs] Backport to 6.5: multiple doc changes
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/index.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/enable-modules-command.asciidoc
  filebeat/docs/include/list-modules-command.asciidoc
  filebeat/docs/include/run-command.asciidoc
  filebeat/docs/include/set-paths.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/getting-started.asciidoc
  heartbeat/docs/index.asciidoc
  journalbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/loggingconfig.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
Labels: backport, docs, review

#9370 [Docs] Add Journalbeat and Functionbeat to overview docs
  libbeat/docs/gettingstarted.asciidoc
  libbeat/docs/overview.asciidoc
Labels: docs, needs_backport, review

#9419 Cherry-pick #8768 to 6.x: Update Filebeat Traefik module to handle mixed Common and Combined Log Format
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/traefik/access/_meta/fields.yml
  filebeat/module/traefik/access/config/traefik-access.yml
  filebeat/module/traefik/access/ingest/pipeline.json
  filebeat/module/traefik/access/test/test.log
  filebeat/module/traefik/access/test/test.log-expected.json
Labels: backport, review

#9427 Add note regarding using cross-cluster replication
  libbeat/docs/template-config.asciidoc
Labels: docs, v6.5.3, v6.6.0, v7.0.0

#9391 Beats Docker container documentation
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/running-on-docker.asciidoc
  deploy/docker/auditbeat.docker.yml
  deploy/docker/filebeat.docker.yml
  deploy/docker/heartbeat.docker.yml
  deploy/docker/metricbeat.docker.yml
  deploy/docker/packetbeat.docker.yml
  filebeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/shared-docker.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: docs, needs_backport, review

#9405 Add OS Name into add-host-metadata
  CHANGELOG.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/metric/system/host/host.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
Labels: libbeat, needs_backport, v6.6.0

#9433 Cherry-pick #8898 to 6.x: Build docker images when building packages
  CHANGELOG-developer.asciidoc
  auditbeat/_meta/beat.docker.yml
  auditbeat/auditbeat.docker.yml
  auditbeat/magefile.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/package_test.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
  dev-tools/packaging/templates/docker/docker-entrypoint.tmpl
  filebeat/_meta/beat.docker.yml
  filebeat/filebeat.docker.yml
  filebeat/magefile.go
  generator/beat/{beat}/_meta/beat.docker.yml
  heartbeat/_meta/beat.docker.yml
  heartbeat/heartbeat.docker.yml
  heartbeat/magefile.go
  journalbeat/_meta/beat.docker.yml
  journalbeat/journalbeat.docker.yml
  libbeat/_meta/config.docker.yml
  libbeat/scripts/Makefile
  metricbeat/_meta/beat.docker.yml
  metricbeat/magefile.go
  metricbeat/metricbeat.docker.yml
  packetbeat/_meta/beat.docker.yml
  packetbeat/magefile.go
  packetbeat/packetbeat.docker.yml
Labels: backport, review, v6.6.0

#8942 Log by default to journald on systems with systemd
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  auditbeat/docs/setting-up-running.asciidoc
  dev-tools/packaging/templates/linux/systemd.unit.tmpl
  filebeat/docs/setting-up-running.asciidoc
  heartbeat/docs/setting-up-running.asciidoc
  journalbeat/docs/setting-up-running.asciidoc
  libbeat/docs/shared-systemd.asciidoc
  metricbeat/docs/setting-up-running.asciidoc
  packetbeat/docs/setting-up-running.asciidoc
Labels: :Packaging, docs, v7.0.0

#9422 Cherry-pick #9383 to 6.x: Assume all swap memory is free on values overflow
  CHANGELOG.asciidoc
  libbeat/metric/system/memory/memory.go
Labels: backport, review

#9417 Fix saved objects in filebeat haproxy dashboard
  CHANGELOG.asciidoc
  filebeat/module/haproxy/_meta/kibana/6/dashboard/Filebeat-haproxy-overview.json
Labels: :Dashboards, :infrastructure, Filebeat, module, needs_backport, review

#9446 Backport to 6.x: Multiple doc PRs (#9304, #9370, #9391)
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/running-on-docker.asciidoc
  deploy/docker/auditbeat.docker.yml
  deploy/docker/filebeat.docker.yml
  deploy/docker/heartbeat.docker.yml
  deploy/docker/metricbeat.docker.yml
  deploy/docker/packetbeat.docker.yml
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  filebeat/docs/index.asciidoc
  filebeat/docs/modules-getting-started.asciidoc
  filebeat/docs/modules-overview.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/gettingstarted.asciidoc
  libbeat/docs/overview.asciidoc
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-cm-tip.asciidoc
  libbeat/docs/shared-configuring.asciidoc
  libbeat/docs/shared-docker.asciidoc
  metricbeat/docs/configuring-howto.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: backport, docs, review

#9441 Backport to 6.5: Multiple doc PRs (#9304, #9370, #9391)
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/running-on-docker.asciidoc
  deploy/docker/auditbeat.docker.yml
  deploy/docker/filebeat.docker.yml
  deploy/docker/heartbeat.docker.yml
  deploy/docker/metricbeat.docker.yml
  deploy/docker/packetbeat.docker.yml
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  filebeat/docs/index.asciidoc
  filebeat/docs/modules-getting-started.asciidoc
  filebeat/docs/modules-overview.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/gettingstarted.asciidoc
  libbeat/docs/overview.asciidoc
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-cm-tip.asciidoc
  libbeat/docs/shared-configuring.asciidoc
  libbeat/docs/shared-docker.asciidoc
  metricbeat/docs/configuring-howto.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: backport, docs, review

#9472 [Docs] Fix example config download link
  libbeat/docs/shared-docker.asciidoc
Labels: docs, needs_backport, review

#9473 Backport to 6.5: [Docs] Fix example config download link (#9472)
  libbeat/docs/shared-docker.asciidoc
Labels: backport, docs, review

#9474 Backport to 6x: [Docs] Fix example config download link (#9472)
  libbeat/docs/shared-docker.asciidoc
Labels: backport, docs, review

#9290 Cherry-pick #8851 to 6.x: Keep a mapping of autodiscover instances and deployed configs
  CHANGELOG.asciidoc
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/autodiscover/provider.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/providers/jolokia/discovery.go
  libbeat/autodiscover/providers/jolokia/jolokia.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
Labels: backport, review

#9459 Add ECS fields to libbeat/fields.yml
  libbeat/generator/fields/fields.go
Labels: :Testing, :infrastructure, ecs, review

#9421 [Auditbeat] Update host metricset
  x-pack/auditbeat/include/fields.go
  x-pack/auditbeat/module/system/host/_meta/data.json
  x-pack/auditbeat/module/system/host/_meta/fields.yml
  x-pack/auditbeat/module/system/host/config.go
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/host/host_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9016 Add logging trace at debug level for the pipeline client.
  CHANGELOG.asciidoc
  libbeat/publisher/pipeline/client.go
Labels: libbeat, needs_backport, review

#9475 handle object field enabled setting
  libbeat/kibana/fields_transformer.go
  libbeat/kibana/fields_transformer_test.go
  libbeat/scripts/generate_fields_docs.py
Labels: needs_backport, v6.6.0

#9443 Make packetbeat process monitor aware of bound address
  CHANGELOG.asciidoc
  packetbeat/procs/procs.go
  packetbeat/procs/procs_linux.go
  packetbeat/procs/procs_other.go
  packetbeat/procs/procs_test.go
  packetbeat/procs/procs_windows.go
  packetbeat/procs/procs_windows_test.go
Labels: Packetbeat, bug, needs_backport

#9461 [Auditbeat] Opt-in to detecting password changes
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/user/config.go
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/users_linux.go
Labels: Auditbeat, SecOps, review

#9466 Close changelog for 6.5.3
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.5.3

#9492 Revert "Revert "Bump docs version for 5.6.14 (#9311)" (#9407)"
  libbeat/docs/version.asciidoc
Labels: docs, release, review

#9491 Revert "Revert "Bump version to 5.6.15 in the 5.6 branch (#9312)""
  dev-tools/packer/version.yml
  filebeat/filebeat.template-es2x.json
  filebeat/filebeat.template-es6x.json
  filebeat/filebeat.template.json
  heartbeat/heartbeat.template-es2x.json
  heartbeat/heartbeat.template-es6x.json
  heartbeat/heartbeat.template.json
  libbeat/beat/version.go
  libbeat/libbeat.template-es6x.json
  metricbeat/metricbeat.template-es2x.json
  metricbeat/metricbeat.template-es6x.json
  metricbeat/metricbeat.template.json
  packetbeat/packetbeat.template-es2x.json
  packetbeat/packetbeat.template-es6x.json
  packetbeat/packetbeat.template.json
  winlogbeat/winlogbeat.template-es2x.json
  winlogbeat/winlogbeat.template-es6x.json
  winlogbeat/winlogbeat.template.json
Labels: in progress, release, review

#9469 Bump version to 6.5.4
  libbeat/version/version.go
Labels: in progress, release, review, v6.5.4

#9457 Add event.dataset to filebeat
  CHANGELOG.asciidoc
  filebeat/_meta/fields.common.yml
  filebeat/channel/factory.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache2/access/test/test.log-expected.json
  filebeat/module/apache2/error/test/test.log-expected.json
  filebeat/module/auditd/log/test/test.log-expected.json
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/haproxy/log/test/haproxy.log-expected.json
  filebeat/module/haproxy/log/test/tcplog.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/kafka/log/test/controller.log-expected.json
  filebeat/module/kafka/log/test/server.log-expected.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/state-change.log-expected.json
  filebeat/module/kibana/log/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
Labels: :infrastructure, Filebeat, ecs, in progress

#9498 Cherry-pick #9269 to 6.x: Fix alias field generation in docs
  libbeat/scripts/generate_fields_docs.py
Labels: backport, review

#9121 Convert Packetbeat Flows to ECS
  CHANGELOG.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/system/_meta/fields.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  libbeat/processors/add_host_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/_meta/fields.common.yml
  packetbeat/_meta/sample_outputs/flow.json
  packetbeat/decoder/decoder.go
  packetbeat/docs/fields.asciidoc
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/flows/flows_test.go
  packetbeat/flows/worker.go
  packetbeat/flows/worker_test.go
  packetbeat/include/fields.go
  packetbeat/tests/system/packetbeat.py
  packetbeat/tests/system/pcaps/802.1q-q-in-q-icmp.pcap
  packetbeat/tests/system/test_0060_flows.py
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: Packetbeat, SecOps, ecs, review

#9490 Cherry-pick #9443 to 6.x: Make packetbeat process monitor aware of bound address
  CHANGELOG.asciidoc
  packetbeat/procs/procs.go
  packetbeat/procs/procs_linux.go
  packetbeat/procs/procs_other.go
  packetbeat/procs/procs_test.go
  packetbeat/procs/procs_windows.go
  packetbeat/procs/procs_windows_test.go
Labels: backport, review

#9489 [Auditbeat] Change event.type to event.kind
  x-pack/auditbeat/module/system/host/_meta/data.json
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/process/_meta/data.json
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/socket/_meta/data.json
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9488 Add XpackDir variable and Beats search path for apm-server
  dev-tools/mage/settings.go
  dev-tools/packaging/packages.yml
Labels: :Packaging, review

#9506 Update golden files for icinga/startup test to exclude timestamp
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: :Testing, :infrastructure, Filebeat, module, review

#9508 Fix flaky x-pack libbeat build
  x-pack/libbeat/docker-compose.yml
Labels: flaky-test, libbeat, review

#9393 Introduce event.duration and event.dataset for backward compatiblity
  CHANGELOG.asciidoc
  metricbeat/_meta/fields.common.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/fields/fields.go
  metricbeat/mb/event.go
  metricbeat/mb/event_test.go
  metricbeat/mb/module/example_test.go
  metricbeat/tests/system/metricbeat.py
  metricbeat/tests/system/test_processors.py
  metricbeat/tests/system/test_redis.py
Labels: :infrastructure, Metricbeat, ecs, review, v6.6.0

#9510 [Auditbeat][Flaky test] Skip test_recursive as flaky
  auditbeat/tests/system/test_file_integrity.py
Labels: Auditbeat, flaky-test, review

#9435 Introduce log.source.address and log.file.path for 7.x compatiblity
  CHANGELOG.asciidoc
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/input/log/harvester.go
  filebeat/input/syslog/input.go
  filebeat/input/syslog/input_test.go
  filebeat/input/tcp/input.go
  filebeat/input/udp/input.go
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/tests/system/test_json.py
  filebeat/tests/system/test_modules.py
Labels: :infrastructure, Filebeat, ecs, review, v6.6.0

#9504 Add changelog and uses match.Matcher interface
  CHANGELOG.asciidoc
  x-pack/libbeat/management/blacklist.go
Labels: Management, needs_backport, review

#9036 Cherry-pick #8762 to 6.x: Add system tests for Central Management
  .travis.yml
  libbeat/scripts/Makefile
  x-pack/libbeat/Dockerfile
  x-pack/libbeat/Makefile
  x-pack/libbeat/docker-compose.yml
  x-pack/libbeat/libbeat.go
  x-pack/libbeat/libbeat_test.go
  x-pack/libbeat/magefile.go
  x-pack/libbeat/management/manager_test.go
  x-pack/libbeat/tests/system/base.py
  x-pack/libbeat/tests/system/config/mockbeat.yml.j2
  x-pack/libbeat/tests/system/requirements.txt
  x-pack/libbeat/tests/system/test_management.py
Labels: backport, review

#9500 [Auditbeat] Set auditbeat.max_start_delay to 0 for system tests
  auditbeat/tests/system/config/auditbeat.yml.j2
Labels: Auditbeat, review

#9283 Introduce aliases for 7.x fields in 6.x
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  dev-tools/ecs-migration.yml
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  metricbeat/_meta/fields.common.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: :infrastructure, ecs, review, v6.6.0

#9495 [Auditbeat] Disable packages metricset
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/include/fields.go
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/packages/_meta/docs.asciidoc.disabled
  x-pack/auditbeat/module/system/packages/_meta/fields.yml.disabled
  x-pack/auditbeat/module/system/packages/packages.go
  x-pack/auditbeat/module/system/packages/packages_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9499 [Auditbeat] Namespace system module to system.audit
  x-pack/auditbeat/include/fields.go
  x-pack/auditbeat/module/system/_meta/fields.yml
  x-pack/auditbeat/module/system/host/_meta/data.json
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/packages/packages.go
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9375 Cherry-pick #9226 to 6.x: Metricbeat can call Jolokia with GET requests. (#8566)
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/_meta/docs.asciidoc
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_get_response.json
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/config_test.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: backport, review

#9483 [Auditbeat] Add message field to system module
  libbeat/tests/system/beat/beat.py
  x-pack/auditbeat/module/system/host/_meta/data.json
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/process/_meta/data.json
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/module/system/socket/_meta/data.json
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/socket/socket_test.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
Labels: Auditbeat, SecOps, review

#9482 Add support for multi-core thread_id in filebeat postgresql module
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/postgresql/log/_meta/fields.yml
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/module/postgresql/log/test/postgresql-9.6-multi-core.log
  filebeat/module/postgresql/log/test/postgresql-9.6-multi-core.log-expected.json
Labels: Filebeat, module, review

#9409 Display CloudFormation StackEvent in the CLI
  CHANGELOG.asciidoc
  vendor/github.com/aws/aws-sdk-go-v2/service/cloudformation/cloudformationiface/interface.go
  vendor/vendor.json
  x-pack/functionbeat/provider/aws/cli_manager.go
  x-pack/functionbeat/provider/aws/cli_manager_test.go
  x-pack/functionbeat/provider/aws/event_stack_poller.go
  x-pack/functionbeat/provider/aws/event_stack_poller_test.go
  x-pack/functionbeat/provider/aws/executor.go
  x-pack/functionbeat/provider/aws/executor_test.go
  x-pack/functionbeat/provider/aws/op_cloudformation.go
  x-pack/functionbeat/provider/aws/op_cloudformation_test.go
  x-pack/functionbeat/provider/aws/op_create_cloudformation.go
  x-pack/functionbeat/provider/aws/op_delete_cloudformation.go
  x-pack/functionbeat/provider/aws/op_delete_file_bucket.go
  x-pack/functionbeat/provider/aws/op_ensure_bucket.go
  x-pack/functionbeat/provider/aws/op_update_cloudformation.go
  x-pack/functionbeat/provider/aws/op_upload_to_bucket.go
  x-pack/functionbeat/provider/aws/op_wait_cloud_formation.go
  x-pack/functionbeat/provider/aws/op_wait_delete_cloud_formation.go
  x-pack/functionbeat/provider/aws/stack_context.go
Labels: Functionbeat, needs_backport, review

#9509 Add include package to x-pack Metricbeat
  x-pack/metricbeat/cmd/root.go
  x-pack/metricbeat/main_test.go
Labels: :infrastructure, Metricbeat, review

#9515 Python dep upgrade
  libbeat/tests/system/requirements.txt
Labels: needs_backport, review, v7.0.0

#9522 Cherry-pick #9515 to 6.x: Python dep upgrade
  libbeat/tests/system/requirements.txt
Labels: backport, review

#9265 Move add-cloud-metadata to ECS
  CHANGELOG.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/generator/fields/fields.go
  libbeat/processors/add_cloud_metadata/_meta/fields.yml
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
  libbeat/processors/add_cloud_metadata/provider_alibaba_cloud.go
  libbeat/processors/add_cloud_metadata/provider_alibaba_cloud_test.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2_test.go
  libbeat/processors/add_cloud_metadata/provider_azure_vm.go
  libbeat/processors/add_cloud_metadata/provider_azure_vm_test.go
  libbeat/processors/add_cloud_metadata/provider_digital_ocean.go
  libbeat/processors/add_cloud_metadata/provider_digital_ocean_test.go
  libbeat/processors/add_cloud_metadata/provider_google_gce.go
  libbeat/processors/add_cloud_metadata/provider_google_gce_test.go
  libbeat/processors/add_cloud_metadata/provider_openstack_nova.go
  libbeat/processors/add_cloud_metadata/provider_openstack_nova_test.go
  libbeat/processors/add_cloud_metadata/provider_tencent_cloud.go
  libbeat/processors/add_cloud_metadata/provider_tencent_cloud_test.go
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: :Processors, :infrastructure, ecs, libbeat, review

#9523 Fix flaky ml test by increasing timeout
  filebeat/tests/system/test_ml.py
  x-pack/libbeat/docker-compose.yml
Labels: :Testing, flaky-test, libbeat, review

#9520 Disable ilm policy loading by default in setup
  libbeat/cmd/setup.go
Labels: libbeat, needs_backport, review, v6.6.0

#9514 Cherry-pick #9099 to 6.x: Add Central Management blacklisting
  CHANGELOG.asciidoc
  x-pack/libbeat/management/blacklist.go
  x-pack/libbeat/management/blacklist_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/tests/system/test_management.py
Labels: Management, backport, review

#9518 Cherry-pick #9409 to 6.x: Display CloudFormation StackEvent in the CLI
  CHANGELOG.asciidoc
  vendor/github.com/aws/aws-sdk-go-v2/service/cloudformation/cloudformationiface/interface.go
  vendor/vendor.json
  x-pack/functionbeat/provider/aws/cli_manager.go
  x-pack/functionbeat/provider/aws/cli_manager_test.go
  x-pack/functionbeat/provider/aws/event_stack_poller.go
  x-pack/functionbeat/provider/aws/event_stack_poller_test.go
  x-pack/functionbeat/provider/aws/executor.go
  x-pack/functionbeat/provider/aws/executor_test.go
  x-pack/functionbeat/provider/aws/op_cloudformation.go
  x-pack/functionbeat/provider/aws/op_cloudformation_test.go
  x-pack/functionbeat/provider/aws/op_create_cloudformation.go
  x-pack/functionbeat/provider/aws/op_delete_cloudformation.go
  x-pack/functionbeat/provider/aws/op_delete_file_bucket.go
  x-pack/functionbeat/provider/aws/op_ensure_bucket.go
  x-pack/functionbeat/provider/aws/op_update_cloudformation.go
  x-pack/functionbeat/provider/aws/op_upload_to_bucket.go
  x-pack/functionbeat/provider/aws/op_wait_cloud_formation.go
  x-pack/functionbeat/provider/aws/op_wait_delete_cloud_formation.go
  x-pack/functionbeat/provider/aws/stack_context.go
Labels: Functionbeat, backport, review

#9458 Rename beat.timezone to event.timezone in add_locale processor
  CHANGELOG.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/processors/add_locale/add_locale.go
  libbeat/processors/add_locale/add_locale_test.go
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: :infrastructure, ecs, review

#9525 Cherry-pick #9520 to 6.x: Disable ilm policy loading by default in setup
  libbeat/cmd/setup.go
Labels: backport, review

#9413 Add freebsd support for the uptime metricset
  CHANGELOG.asciidoc
  metricbeat/module/system/uptime/_meta/docs.asciidoc
  metricbeat/module/system/uptime/metricset.go
  metricbeat/module/system/uptime/metricset_test.go
Labels: :infrastructure, Metricbeat, enhancement, module, needs_backport, review

#8941 Migration of metricset.* fields to ECS
  CHANGELOG.asciidoc
  dev-tools/ecs-migration.yml
  metricbeat/_meta/fields.common.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/fields/fields.go
  metricbeat/mb/event.go
  metricbeat/mb/event_test.go
  metricbeat/mb/module/example_test.go
  metricbeat/module/docker/image/_meta/data.json
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/test_elasticsearch.py
  metricbeat/module/system/core/_meta/data.json
  metricbeat/module/system/cpu/_meta/data.json
  metricbeat/module/system/diskio/_meta/data.json
  metricbeat/module/system/filesystem/_meta/data.json
  metricbeat/module/system/fsstat/_meta/data.json
  metricbeat/module/system/load/_meta/data.json
  metricbeat/module/system/memory/_meta/data.json
  metricbeat/module/system/network/_meta/data.json
  metricbeat/module/system/process/_meta/data.json
  metricbeat/module/system/process_summary/_meta/data.json
  metricbeat/module/system/raid/_meta/data.json
  metricbeat/module/system/uptime/_meta/data.json
  metricbeat/tests/system/metricbeat.py
  metricbeat/tests/system/test_processors.py
  metricbeat/tests/system/test_redis.py
  metricbeat/tests/system/test_template.py
Labels: :infrastructure, Metricbeat, ecs, review

#9279 Elasticsearch deprecation log fileset: adding expected test files
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
Labels: Filebeat, Stack monitoring, review, v6.6.0, v7.0.0-alpha1

#9388 Documentation for the NetFlow input
  filebeat/docs/filebeat-options.asciidoc
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
Labels: Filebeat, SecOps, docs, review

#9541 Revert "Documentation for the NetFlow input (#9388)"
  filebeat/docs/filebeat-options.asciidoc
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
Labels: SecOps, review

#9527 Cherry-pick #9523 to 6.x: Fix flaky ml test by increasing timeout
  filebeat/tests/system/test_ml.py
  x-pack/libbeat/docker-compose.yml
Labels: backport, review

#9497 [Auditbeat] Fix process metricset when not root
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#9487 Use log.source.address instead of log.source.ip for network inputs
  CHANGELOG.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/input/syslog/input.go
  filebeat/input/syslog/input_test.go
  filebeat/input/tcp/input.go
  filebeat/input/tcp/input_test.go
  filebeat/input/udp/input.go
  filebeat/tests/system/test_syslog.py
Labels: :infrastructure, Filebeat, bug, ecs, review

#9549 Ignore non index fields in default_field for Elasticsearch
  CHANGELOG.asciidoc
  libbeat/template/processor.go
Labels: libbeat, needs_backport, review

#9517 Always include Pod UID as part of Pod metadata
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
  libbeat/processors/add_kubernetes_metadata/indexers_test.go
Labels: :infrastructure, containers, libbeat, needs_backport, review, v6.6.0

#9539 Fix race detector detected race in heartbeat
  heartbeat/monitors/active/http/task.go
Labels: :uptime, Heartbeat, bug, needs_backport

#9392 Add geo fields to `add_host_metadata` processor.
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/add_host_metadata/config.go
Labels: :uptime, Heartbeat, discuss, enhancement

#9544 Documentation for the NetFlow input (#9388)
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
Labels: docs, review

#9563 Update golang 1.10.6
  .go-version
  CHANGELOG.asciidoc
  NOTICE.txt
  auditbeat/Dockerfile
  filebeat/Dockerfile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  vendor/github.com/fsnotify/fsevents/go_1_10_after.go
  vendor/github.com/fsnotify/fsevents/go_1_10_before.go
  vendor/github.com/fsnotify/fsevents/go_1_9_2_after.go
  vendor/github.com/fsnotify/fsevents/go_1_9_2_before.go
  vendor/github.com/fsnotify/fsevents/wrap.go
  vendor/github.com/fsnotify/fsevents/wrap_deprecated.go
  vendor/vendor.json
  x-pack/functionbeat/Dockerfile
  x-pack/libbeat/Dockerfile
Labels: :Packaging, libbeat, needs_backport, review

#9447 Backport to 6.5: Update list of community beats
  libbeat/docs/communitybeats.asciidoc
Labels: backport, docs, review

#9479 [Docs] Improve description of paths option and add examples
  filebeat/docs/include/var-paths.asciidoc
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#9448 Backport to 6.x: Update list of community beats
  libbeat/docs/communitybeats.asciidoc
Labels: backport, docs, review

#9569 Cherry-pick #9563 to 6.5: Update golang 1.10.6
  .go-version
  CHANGELOG.asciidoc
  NOTICE.txt
  auditbeat/Dockerfile
  filebeat/Dockerfile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  vendor/github.com/fsnotify/fsevents/go_1_10_after.go
  vendor/github.com/fsnotify/fsevents/go_1_10_before.go
  vendor/github.com/fsnotify/fsevents/go_1_9_2_after.go
  vendor/github.com/fsnotify/fsevents/go_1_9_2_before.go
  vendor/github.com/fsnotify/fsevents/wrap.go
  vendor/github.com/fsnotify/fsevents/wrap_deprecated.go
  vendor/vendor.json
  x-pack/functionbeat/Dockerfile
Labels: :Packaging, backport, review

#9564 Fix quotation in environment variables of systemd unit
  dev-tools/packaging/templates/linux/systemd.unit.tmpl
Labels: :Packaging, bug

#9453 Fix link to developer changelog
  docs/devguide/contributing.asciidoc
Labels: docs, needs_backport, review

#9577 Backport to 6.x: PRs #9453 and #9479
  docs/devguide/contributing.asciidoc
  filebeat/docs/include/var-paths.asciidoc
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: backport, docs, review

#9575 [Docs] Remove incorrect note
  libbeat/docs/shared-central-management.asciidoc
Labels: Management, docs, needs_backport, review

#9557 Update version of python elasticsearch client to 6.3.1
  libbeat/tests/system/requirements.txt
  metricbeat/tests/system/requirements.txt
Labels: :Testing, review

#9552 Cherry-pick #9517 to 6.x: Always include Pod UID as part of Pod metadata
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
  libbeat/processors/add_kubernetes_metadata/indexers_test.go
Labels: backport, review

#9542 Check on ilm-policy setup for Elasticsearch version
  libbeat/cmd/instance/ilm.go
Labels: libbeat, needs_backport, review

#9573 Always _doc if Beats major version is 7 and ES >= 6
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_test.go
  libbeat/template/load_integration_test.go
  libbeat/template/template.go
Labels: libbeat, review

#9589 Add setting to disable cgroup metrics per core
  CHANGELOG.asciidoc
  metricbeat/module/system/process/_meta/docs.asciidoc
  metricbeat/module/system/process/cgroup.go
  metricbeat/module/system/process/config.go
  metricbeat/module/system/process/process.go
  metricbeat/tests/system/test_system.py
Labels: :infrastructure, Metricbeat, module, needs_backport, review

#9583 Remove obsolete "make simplify" references
  generator/beat/{beat}/README.md
  heartbeat/README.md
Labels: :Generator, libbeat, review

#9588 Cherry-pick #9542 to 6.x: Check on ilm-policy setup for Elasticsearch version
  libbeat/cmd/instance/ilm.go
Labels: backport, review

#9560 Update to golang 1.11.3
  .go-version
  CHANGELOG.asciidoc
  auditbeat/Dockerfile
  filebeat/Dockerfile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/module/http/_meta/Dockerfile
  x-pack/functionbeat/Dockerfile
Labels: :Packaging, libbeat, review

#9576 Backport to 6.5: PRs #9453 and #9479
  docs/devguide/contributing.asciidoc
  filebeat/docs/include/var-paths.asciidoc
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: backport, docs, review

#9579 Cherry-pick #9575 to 6.5: [Docs] Remove incorrect note
  libbeat/docs/shared-central-management.asciidoc
Labels: backport, review

#9578 Cherry-pick #9575 to 6.x: [Docs] Remove incorrect note
  libbeat/docs/shared-central-management.asciidoc
Labels: backport, review

#9540 Add Filebeat module for monitoring Santa
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/images/kibana-santa-log-overview.png
  filebeat/docs/modules/santa.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/fields.go
  filebeat/module/santa/_meta/config.yml
  filebeat/module/santa/_meta/docs.asciidoc
  filebeat/module/santa/_meta/fields.yml
  filebeat/module/santa/_meta/kibana/6/dashboard/filebeat-santa-log-overview.json
  filebeat/module/santa/log/_meta/fields.yml
  filebeat/module/santa/log/config/file.yml
  filebeat/module/santa/log/ingest/pipeline.json
  filebeat/module/santa/log/manifest.yml
  filebeat/module/santa/log/test/santa.log
  filebeat/module/santa/log/test/santa.log-expected.json
  filebeat/module/santa/module.yml
  filebeat/modules.d/santa.yml.disabled
  filebeat/santa.yml.disabled
  x-pack/filebeat/filebeat.reference.yml
Labels: Filebeat, SecOps, module, review

#9559 Cherry-pick #9539 to 6.x: Fix race detector detected race in heartbeat
  heartbeat/monitors/active/http/task.go
Labels: backport, review

#9565 Cherry-pick #9392 to 6.x: Add geo fields to `add_host_metadata` processor.
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/add_host_metadata/config.go
Labels: Heartbeat, backport, review

#9592 Cherry-pick #7820 to 6.5: Fix goroutine leak in SubOutlet
  CHANGELOG.asciidoc
  filebeat/channel/util.go
Labels: backport, review

#9593 Cherry-pick #7820 to 6.x: Fix goroutine leak in SubOutlet
  CHANGELOG.asciidoc
  filebeat/channel/util.go
Labels: backport, review

#9537 Add fields for NetFlow input (#9399)
  x-pack/filebeat/input/netflow/_meta/fields.header.yml
  x-pack/filebeat/input/netflow/_meta/fields.yml
  x-pack/filebeat/input/netflow/case.go
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/doc.go
  x-pack/filebeat/input/netflow/fields_gen.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-options-template-from-Juniper-MX240-JunOS-15.1-R6-S3.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-options-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-options-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-WLC.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-nprobe-DPI-L7.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-options-template-with-scope-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow9-Juniper-SRX-options-template-with-0-scope-field-length.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/ipfix_cisco.pcap.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
  x-pack/filebeat/magefile.go
Labels: Filebeat, SecOps, review

#9505 Add DeDot in add_docker_metadata processor
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  auditbeat/docs/getting-started.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
  libbeat/processors/add_docker_metadata/config.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/elasticsearch/node/_meta/data.json
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :Processors, :infrastructure, backport, libbeat, review

#9591 Cherry-pick #9589 to 6.x: Add setting to disable cgroup metrics per core
  CHANGELOG.asciidoc
  metricbeat/module/system/process/_meta/docs.asciidoc
  metricbeat/module/system/process/cgroup.go
  metricbeat/module/system/process/config.go
  metricbeat/module/system/process/process.go
  metricbeat/tests/system/test_system.py
Labels: backport, review

#9599 Disable Central Management tests
  x-pack/libbeat/tests/system/test_management.py
Labels: :Testing, needs_backport, review

#9585 Cherry-pick #9544 to 6.x: Documentation for the NetFlow input (#9388)
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
Labels: SecOps, backport, review

#9606 Update auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
Labels: Auditbeat, review

#9586 Cherry-pick #9567 to 6.x: [Filebeat] Link docs for the NetFlow input
  filebeat/docs/filebeat-options.asciidoc
Labels: SecOps, backport, review

#9608 Cherry-pick #9557 to 6.x: Update version of python elasticsearch client to 6.3.1
  libbeat/tests/system/requirements.txt
  metricbeat/tests/system/requirements.txt
Labels: backport, review

#9613 Increase script.max_compilations_rate to get tests passing
  filebeat/tests/system/test_pipeline.py
Labels: :Testing, Filebeat, flaky-test, review

#9536 Cherry-pick #9279 to 6.x: Elasticsearch deprecation log fileset: adding expected test files
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
Labels: backport, review

#9590 Changelog entry on document type change to _doc
  CHANGELOG.asciidoc
Labels: review

#8963 Migration of apache2 error fileset to ECS
  CHANGELOG.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache2/error/_meta/fields.yml
  filebeat/module/apache2/error/ingest/pipeline.json
  filebeat/module/apache2/error/test/test.log-expected.json
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/auditbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: :infrastructure, Filebeat, ecs, module, review

#9605 Cherry-pick #9599 to 6.x: Disable Central Management tests
  x-pack/libbeat/tests/system/test_management.py
Labels: backport, review

#9612 Test x-pack/filebeat on Travis
  .travis.yml
Labels: Filebeat, review

#9617 Fix issue with ILM that write index was created before template was loaded
  libbeat/cmd/instance/beat.go
  libbeat/mock/mockbeat.go
  libbeat/tests/system/test_ilm.py
Labels: libbeat, needs_backport, review

#9622 [Auditbeat] Fix linux/386 mage package
  x-pack/auditbeat/module/system/user/user.go
Labels: Auditbeat, SecOps, needs_backport, review

#9602 Cherry-pick to 6.x: Add DeDot in add_docker_metadata processor (#9505)
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  auditbeat/docs/getting-started.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
  libbeat/processors/add_docker_metadata/config.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/elasticsearch/node/_meta/data.json
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, review

#9609 Netflow input ECS changes
  CHANGELOG.asciidoc
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-options-template-from-Juniper-MX240-JunOS-15.1-R6-S3.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-options-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-options-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-WLC.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-nprobe-DPI-L7.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-options-template-with-scope-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow9-Juniper-SRX-options-template-with-0-scope-field-length.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/ipfix_cisco.pcap.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
Labels: Filebeat, SecOps, review

#9551 Cherry-pick #9549 to 6.x: Ignore non index fields in default_field for Elasticsearch
  CHANGELOG.asciidoc
  libbeat/template/processor.go
Labels: backport, review

#9635 Remove extra santa.yml.disabled
  filebeat/santa.yml.disabled
Labels: Filebeat, review

#9632 [Auditbeat] Cherry-pick #9622 to 6.x: Fix linux/386 mage package
  x-pack/auditbeat/module/system/user/user.go
Labels: Auditbeat, SecOps, backport, review
