Repository elastic/beats, pull requests merged in 2018-05, with the labels that each got.

#6906 Start simplify system tests
  auditbeat/tests/system/test_base.py
  metricbeat/module/elasticsearch/test_elasticsearch.py
  metricbeat/tests/system/metricbeat.py
  metricbeat/tests/system/requirements.txt
  metricbeat/tests/system/test_aerospike.py
  metricbeat/tests/system/test_ceph.py
  metricbeat/tests/system/test_couchbase.py
  metricbeat/tests/system/test_kibana.py
  metricbeat/tests/system/test_kubernetes.py
Labels: :Testing, Metricbeat, review

#6944 Change to snapshot testing for Elastic Stack
  libbeat/scripts/Makefile
  metricbeat/module/logstash/node_stats/node_stats_integration_test.go
  metricbeat/tests/system/test_logstash.py
  testing/environments/args.yml
Labels: :Testing, review

#6974 Make template processing methods public
  libbeat/template/processor.go
  libbeat/template/processor_test.go
  libbeat/template/template.go
  libbeat/template/template_test.go
Labels: libbeat, review

#6991 Detect error during requesting status info from Kibana
  filebeat/beater/filebeat.go
  libbeat/setup/kibana/client.go
Labels: libbeat, needs_backport, review

#6921 Ensure the dashboard zip is sane
  CHANGELOG.asciidoc
  libbeat/dashboards/importer.go
Labels: bug, needs_backport, review

#6993 Inherit Kibana credentials from the ES output
  filebeat/beater/filebeat.go
Labels: Filebeat, bug, needs_backport, review

#6996 Cherry-pick #6993 to 6.3: Inherit Kibana credentials from the ES output
  filebeat/beater/filebeat.go
Labels: backport, review

#6990 Tentative fix to auditbeat test panic under macOS
  NOTICE.txt
  vendor/github.com/fsnotify/fsevents/wrap.go
  vendor/vendor.json
Labels: Auditbeat, bug, review

#6997 Fix out of bounds access in packetbeat's HTTP parser
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
Labels: Packetbeat, bug, needs_backport, review

#7001 Backport to 6.2: #6557
  libbeat/docs/shared-directory-layout.asciidoc
Labels: docs, review

#6985 Replace references to X-Pack with attributes or remove them
  docs/devguide/index.asciidoc
  docs/devguide/newdashboards.asciidoc
  libbeat/docs/https.asciidoc
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/user-access.asciidoc
  libbeat/docs/shared-beats-attributes.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/module/elasticsearch/_meta/docs.asciidoc
  metricbeat/module/kibana/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#7005 Winlogbeat: Replace hardcoded delays in checkpoint tests
  winlogbeat/checkpoint/checkpoint_test.go
Labels: :Testing, Winlogbeat, review

#6998 Prevent warning in Auditbeat's system tests
  auditbeat/tests/system/test_base.py
Labels: :Testing, review

#6969 Support MySQL 5.7.19 by mysql/slowlog
  CHANGELOG.asciidoc
  filebeat/module/mysql/slowlog/ingest/pipeline.json
  filebeat/module/mysql/slowlog/test/mysql-debian-5.7.19.log
Labels: Filebeat, module, review

#7007 Increase retries for k8s healthchecks
  metricbeat/module/kubernetes/_meta/Dockerfile
Labels: :Testing, Metricbeat, review

#6947 Fix race on shared maps in global fields
  CHANGELOG.asciidoc
  libbeat/publisher/pipeline/processor.go
Labels: bug, libbeat

#6988 Registry file fsync improvements
  CHANGELOG.asciidoc
  filebeat/registrar/registrar.go
  libbeat/common/file/helper_other.go
Labels: Filebeat, review

#6995 Cherry-pick #6921 to 6.2: Ensure the dashboard zip is sane
  CHANGELOG.asciidoc
  libbeat/dashboards/importer.go
Labels: backport, review

#7013 Update 6.3 to 46941e7c build for testing
  testing/environments/args.yml
Labels: :Testing, review

#7012 Update github.com/elastic/go-libaudit
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/audit.go
  vendor/vendor.json
Labels: Auditbeat, review

#7014 Remove mention of Windows XP from docs
  auditbeat/docs/getting-started.asciidoc
  filebeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  winlogbeat/_meta/fields.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/docs/getting-started.asciidoc
  winlogbeat/docs/overview.asciidoc
Labels: docs, needs_backport, review

#7008 Cherry-pick #6950 to 6.2: Fix heartbeat races on event updates
  CHANGELOG.asciidoc
  heartbeat/monitors/util.go
Labels: backport, review

#7009 Cherry-pick #6950 to 6.3: Fix heartbeat races on event updates
  CHANGELOG.asciidoc
  heartbeat/monitors/util.go
Labels: backport, review

#7010 Cherry-pick #6947 to 6.2: Fix race on shared maps in global fields
  CHANGELOG.asciidoc
  libbeat/publisher/pipeline/processor.go
Labels: backport, review

#7011 Cherry-pick #6947 to 6.3: Fix race on shared maps in global fields
  CHANGELOG.asciidoc
  libbeat/publisher/pipeline/processor.go
Labels: backport, review

#7017 Increase compose timeout to 300s
  libbeat/tests/compose/compose.go
  libbeat/tests/system/beat/compose.py
  metricbeat/module/dropwizard/collector/collector_integration_test.go
  metricbeat/module/logstash/node/node_integration_test.go
  metricbeat/module/logstash/node_stats/node_stats_integration_test.go
  metricbeat/tests/system/test_ceph.py
  metricbeat/tests/system/test_kubernetes.py
  metricbeat/tests/system/test_logstash.py
Labels: :Testing, Metricbeat, review

#6878 Add IP-addresses and MAC-addresses to event
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_host_metadata/_meta/fields.yml
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/add_host_metadata/config.go
  metricbeat/docs/fields.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/docs/fields.asciidoc
  packetbeat/packetbeat.reference.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/winlogbeat.reference.yml
Labels: :Processors, libbeat

#6836 Add namespaces to monitoring registry
  libbeat/api/server.go
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/monitoring.go
  libbeat/monitoring/namespace.go
  metricbeat/mb/builders.go
  metricbeat/mb/mb.go
  metricbeat/mb/module/wrapper.go
Labels: libbeat, review

#7019 Cherry-pick #6877 to 6.3: Commit registry writes to stable storage to avoid corrupt registry files
  CHANGELOG.asciidoc
  filebeat/registrar/registrar.go
Labels: backport, review

#7018 Reduce libbeat state being hold in beat for dynamic loading modules
  CHANGELOG-developer.asciidoc
  filebeat/autodiscover/autodiscover.go
  filebeat/beater/filebeat.go
  filebeat/channel/factory.go
  filebeat/channel/interface.go
  filebeat/channel/util.go
  filebeat/crawler/crawler.go
  filebeat/fileset/factory.go
  filebeat/input/docker/input.go
  filebeat/input/input.go
  filebeat/input/log/input.go
  filebeat/input/redis/input.go
  filebeat/input/registry.go
  filebeat/input/registry_test.go
  filebeat/input/runnerfactory.go
  filebeat/input/stdin/input.go
  filebeat/input/syslog/input.go
  filebeat/input/tcp/input.go
  filebeat/input/udp/input.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/cfgfile/reload.go
  metricbeat/autodiscover/autodiscover.go
  metricbeat/beater/metricbeat.go
  metricbeat/mb/module/factory.go
Labels: libbeat, review

#6983 Update elasticsearch/node metricset to use reporter interface
  metricbeat/module/elasticsearch/node/_meta/data.json
  metricbeat/module/elasticsearch/node/data.go
  metricbeat/module/elasticsearch/node/data_test.go
  metricbeat/module/elasticsearch/node/node.go
  metricbeat/module/elasticsearch/node/node_integration_test.go
  metricbeat/module/elasticsearch/node_stats/data.go
  metricbeat/module/elasticsearch/test_elasticsearch.py
Labels: Metricbeat, module, review

#6941 Add modules.d layout to getting started and fix Windows command examples
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-configuring.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/metricbeat-options.asciidoc
Labels: docs, review

#6955 Rabbitmq exchanges metricset
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/docs/modules/rabbitmq/exchange.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/rabbitmq/_meta/Dockerfile
  metricbeat/module/rabbitmq/_meta/testdata/exchange_sample_response.json
  metricbeat/module/rabbitmq/connection/data.go
  metricbeat/module/rabbitmq/exchange/_meta/data.json
  metricbeat/module/rabbitmq/exchange/_meta/docs.asciidoc
  metricbeat/module/rabbitmq/exchange/_meta/fields.yml
  metricbeat/module/rabbitmq/exchange/data.go
  metricbeat/module/rabbitmq/exchange/exchange.go
  metricbeat/module/rabbitmq/exchange/exchange_integration_test.go
  metricbeat/module/rabbitmq/exchange/exchange_test.go
  metricbeat/module/rabbitmq/node/data.go
  metricbeat/module/rabbitmq/queue/data.go
Labels: Metricbeat, module, review

#6967 Join Docker log lines when they are split because of size
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/inputs/input-docker.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/harvester/reader/docker_json.go
  filebeat/harvester/reader/docker_json_test.go
  filebeat/input/docker/config.go
  filebeat/input/docker/input.go
  filebeat/input/log/config.go
  filebeat/input/log/harvester.go
Labels: Filebeat, review

#7043 Fix dashboards for Kibana 6.3
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-executions.json
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-overview.json
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-sockets.json
  auditbeat/module/file_integrity/_meta/kibana/6/dashboard/auditbeat-file-integrity.json
  filebeat/module/osquery/_meta/kibana/6/dashboard/osquery-compliance.json
  metricbeat/module/mysql/_meta/kibana/6/dashboard/Metricbeat-mysql-overview.json
  metricbeat/module/nginx/_meta/kibana/6/dashboard/metricbeat-nginx-overview.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-tls.json
Labels: :Dashboards, needs_backport, review

#7044 Fix dashboards for Kibana 6.3
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-executions.json
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-overview.json
  auditbeat/module/auditd/_meta/kibana/6/dashboard/auditbeat-kernel-sockets.json
  auditbeat/module/file_integrity/_meta/kibana/6/dashboard/auditbeat-file-integrity.json
  filebeat/module/osquery/_meta/kibana/6/dashboard/osquery-compliance.json
  metricbeat/module/mysql/_meta/kibana/6/dashboard/Metricbeat-mysql-overview.json
  metricbeat/module/nginx/_meta/kibana/6/dashboard/metricbeat-nginx-overview.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-tls.json
Labels: :Dashboards, backport, v6.3.0

#7047 Metricbeat: Ensure canonical naming for JMX beans is disabled
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/tests/system/test_jolokia.py
Labels: Metricbeat, bug, module, needs_backport, review

#7042 Readd BEAT_VERSION to compose project
  libbeat/scripts/Makefile
  libbeat/tests/compose/compose.go
  testing/environments/Makefile
Labels: :Testing, review

#7046 Adds support for RFC3339 timestamp and nanoseconds parsing
  CHANGELOG.asciidoc
  filebeat/input/syslog/event.go
  filebeat/input/syslog/input.go
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser.rl
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
Labels: Filebeat, needs_backport, review

#7030 Disable fsstat and filesystem as not enabled by default
  metricbeat/docs/modules/system.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
Labels: Metricbeat, module, review

#7065 5.6: Fix out of bounds access in HTTP parser
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
Labels: Packetbeat, backport, bug, review

#7051 Add host.name in the events
  CHANGELOG.asciidoc
  dev-tools/jenkins_ci.ps1
  libbeat/publisher/pipeline/module.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/processor.go
  metricbeat/tests/system/metricbeat.py
  metricbeat/tests/system/test_processors.py
Labels: bug, needs_backport, review

#7068 Cherry-pick #7051 to 6.3: Add host.name in the events
  CHANGELOG.asciidoc
  dev-tools/jenkins_ci.ps1
  libbeat/publisher/pipeline/module.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/processor.go
  metricbeat/tests/system/metricbeat.py
  metricbeat/tests/system/test_processors.py
Labels: backport, review

#7063 Cherry-pick #7046 to 6.3: Adds support for RFC3339 timestamp and nanoseconds parsing
  CHANGELOG.asciidoc
  filebeat/input/syslog/event.go
  filebeat/input/syslog/input.go
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser.rl
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
Labels: backport, review

#7064 Travis doesn't do apt-get update anymore
  .travis.yml
Labels: :Testing, review

#7074 Metricbeat: Add configuration for RabbitMQ management prefix path
  CHANGELOG.asciidoc
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/helper/http.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/rabbitmq/_meta/config.reference.yml
  metricbeat/module/rabbitmq/_meta/docs.asciidoc
  metricbeat/module/rabbitmq/connection/connection.go
  metricbeat/module/rabbitmq/connection/connection_test.go
  metricbeat/module/rabbitmq/exchange/exchange.go
  metricbeat/module/rabbitmq/exchange/exchange_test.go
  metricbeat/module/rabbitmq/metricset.go
  metricbeat/module/rabbitmq/metricset_test.go
  metricbeat/module/rabbitmq/node/node.go
  metricbeat/module/rabbitmq/node/node_test.go
  metricbeat/module/rabbitmq/queue/queue.go
  metricbeat/module/rabbitmq/queue/queue_test.go
  metricbeat/module/rabbitmq/url.go
Labels: Metricbeat, module, review

#7073 update vagrantfile to use go defined in `.go-version`
  Vagrantfile
Labels: :Testing, review

#7079 Update modules s/prospector(s)/input(s)
  filebeat/filebeat.reference.yml
  filebeat/module/iis/_meta/config.reference.yml
  filebeat/module/iis/access/manifest.yml
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/manifest.yml
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/mongodb/log/manifest.yml
  filebeat/module/nginx/_meta/config.reference.yml
  filebeat/scripts/fileset/manifest.yml
Labels: Filebeat, needs_backport

#7078 Enhance testing of Metricbeat Elasticearch module
  metricbeat/module/elasticsearch/index/data.go
  metricbeat/module/elasticsearch/index/data_test.go
  metricbeat/module/elasticsearch/index_summary/data.go
  metricbeat/module/elasticsearch/index_summary/data_test.go
  metricbeat/module/elasticsearch/node/data_test.go
  metricbeat/module/elasticsearch/node/node_test.go
  metricbeat/module/elasticsearch/node_stats/data_test.go
  metricbeat/module/elasticsearch/testing.go
Labels: :Testing, Metricbeat, review

#6475 Add Jolokia agent in proxy mode
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/_meta/Dockerfile
  metricbeat/module/jolokia/jmx/_meta/docs.asciidoc
  metricbeat/module/jolokia/jmx/_meta/test/config.yml
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_response.json
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: Metricbeat, module, review

#4834 Make fields.yml part of the binary
  CHANGELOG.asciidoc
  auditbeat/include/fields.go
  dev-tools/cmd/asset/asset.go
  dev-tools/cmd/kibana_index_pattern/kibana_index_pattern.go
  filebeat/include/fields.go
  generator/beat/{beat}/main.go.tmpl
  heartbeat/include/fields.go
  heartbeat/main.go
  libbeat/asset/registry.go
  libbeat/asset/registry_test.go
  libbeat/beat/beat.go
  libbeat/cmd/export/template.go
  libbeat/cmd/instance/beat.go
  libbeat/scripts/Makefile
  libbeat/template/config.go
  libbeat/template/load.go
  libbeat/template/load_integration_test.go
  libbeat/template/template.go
  metricbeat/include/fields.go
  packetbeat/include/fields.go
  winlogbeat/include/fields.go
  winlogbeat/main.go
Labels: libbeat, review

#7098 Fix out-of-sync fields.yml
  metricbeat/include/fields.go
Labels: Metricbeat, review

#7095 Cherry-pick #7080 to 6.3: Update kubernetes examples configuration to use inputs
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/README.md
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
Labels: backport, review

#7088 Update Golang 1.10.2
  .go-version
  dev-tools/packer/docker/xgo-image-deb7/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image-deb7/build.sh
  dev-tools/packer/docker/xgo-image-deb7/go-1.10.2/Dockerfile
  dev-tools/packer/docker/xgo-image/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image/build.sh
  dev-tools/packer/docker/xgo-image/go-1.10.2/Dockerfile
  filebeat/Dockerfile
  generator/beat/{beat}/.travis.yml
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
Labels: :Infra, review

#6971 Rabbitmq node only reports metrics of itself by default
  CHANGELOG.asciidoc
  metricbeat/module/rabbitmq/_meta/testdata/node_sample_response.json
  metricbeat/module/rabbitmq/_meta/testdata/overview_sample_response.json
  metricbeat/module/rabbitmq/node/_meta/docs.asciidoc
  metricbeat/module/rabbitmq/node/config.go
  metricbeat/module/rabbitmq/node/data.go
  metricbeat/module/rabbitmq/node/node.go
  metricbeat/module/rabbitmq/node/node_integration_test.go
  metricbeat/module/rabbitmq/node/node_test.go
  metricbeat/module/rabbitmq/url.go
Labels: Metricbeat, module, review

#6470 Add ARM build to our packaging
  dev-tools/packer/Makefile
  dev-tools/packer/archs/arm.yml
  libbeat/scripts/Makefile
  packetbeat/Makefile
Labels: :Infra, review

#7112 Don't instantiate MetricSets with the setup command
  CHANGELOG.asciidoc
  metricbeat/beater/metricbeat.go
Labels: Auditbeat, review

#7072 Add pod-uid support for add_kubernetes_metadata
  CHANGELOG.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/processor/add_kubernetes_metadata/matchers.go
  filebeat/processor/add_kubernetes_metadata/matchers_test.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  libbeat/autodiscover/providers/kubernetes/config.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/processors/add_kubernetes_metadata/_meta/fields.yml
  libbeat/processors/add_kubernetes_metadata/config.go
  libbeat/processors/add_kubernetes_metadata/indexers.go
  libbeat/processors/add_kubernetes_metadata/indexers_test.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Filebeat, k8s, libbeat, review

#7096 Use minikube on travis for K8S integration tests
  .travis.yml
  deploy/kubernetes/.travis/setup.sh
Labels: :Testing, k8s, review

#7117 Filebeat module fields.yml generator fix
  filebeat/scripts/generator/fields/main.go
  filebeat/scripts/generator/fields/main_test.go
Labels: :Generator, Filebeat, review

#7103 Move parts of metricset code to Elasticsearch module
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/metricset.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
Labels: Metricbeat, module, review

#7101 Update export_dashboards.go
  CHANGELOG.asciidoc
  dev-tools/cmd/dashboards/export_dashboards.go
Labels: :Dashboards, review

#7121 Fix Filebeat module generator substitution
  filebeat/scripts/module/_meta/config.yml
Labels: :Generator, Filebeat, review

#7120 Fix snapshot packaging for packetbeat and winlogbeat
  libbeat/scripts/Makefile
  packetbeat/Makefile
  winlogbeat/Makefile
Labels: :Packaging, review

#7122 Remove arm packages from default packages to be built
  libbeat/scripts/Makefile
Labels: :Packaging, review

#7097 Add x-pack data for Elasticsearch shard metricset
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/shard/data.go
  metricbeat/module/elasticsearch/shard/data_xpack.go
  metricbeat/module/elasticsearch/shard/shard.go
Labels: Metricbeat, module, review

#7116 Move filebeat module tests to parameterized tests
  filebeat/tests/system/test_modules.py
  libbeat/tests/system/requirements.txt
  metricbeat/tests/system/requirements.txt
Labels: :Testing, Filebeat, review

#6901 Allow `_` and `-` in Filebeat module name hints
  filebeat/autodiscover/builder/hints/logs.go
Labels: Filebeat, review

#7106 Move common RabbitMQ testing code to its own package
  metricbeat/module/rabbitmq/_meta/testdata/nodes_sample_response.json
  metricbeat/module/rabbitmq/_meta/testdata/notfound_response.json
  metricbeat/module/rabbitmq/connection/connection_integration_test.go
  metricbeat/module/rabbitmq/connection/connection_test.go
  metricbeat/module/rabbitmq/exchange/exchange_integration_test.go
  metricbeat/module/rabbitmq/exchange/exchange_test.go
  metricbeat/module/rabbitmq/metricset_test.go
  metricbeat/module/rabbitmq/mtest/integration.go
  metricbeat/module/rabbitmq/mtest/server.go
  metricbeat/module/rabbitmq/node/node_integration_test.go
  metricbeat/module/rabbitmq/node/node_test.go
  metricbeat/module/rabbitmq/queue/queue_integration_test.go
  metricbeat/module/rabbitmq/queue/queue_test.go
  metricbeat/scripts/generate_imports_helper.py
Labels: :Testing, Metricbeat, module, review

#7059 Add kubernetes apiserver metricset
  CHANGELOG.asciidoc
  libbeat/template/processor.go
  libbeat/template/processor_test.go
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/module.go
  metricbeat/helper/prometheus/prometheus.go
  metricbeat/helper/prometheus/prometheus_test.go
  metricbeat/helper/prometheus/ptest/ptest.go
  metricbeat/include/fields.go
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-apiserver.json
  metricbeat/module/kubernetes/apiserver/_meta/fields.yml
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.expected
  metricbeat/module/kubernetes/apiserver/apiserver.go
  metricbeat/module/kubernetes/apiserver/apiserver_test.go
Labels: enhancement, k8s, review

#7054 Reorganization and Addition: Move TLS types and config out of the outputs and support server options.
  CHANGELOG-developer.asciidoc
  libbeat/common/transport/tlscommon/ca_test.key
  libbeat/common/transport/tlscommon/ca_test.pem
  libbeat/common/transport/tlscommon/config.go
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls.go
  libbeat/common/transport/tlscommon/tls_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/common/transport/tlscommon/types.go
  libbeat/outputs/tls.go
  libbeat/outputs/transport/tls.go
Labels: libbeat, refactoring, review

#7056 Features: Allow the TCP Input to receive events over a TLS connection
  CHANGELOG.asciidoc
  filebeat/docs/inputs/input-common-tcp-options.asciidoc
  filebeat/inputsource/network.go
  filebeat/inputsource/network_metadata.go
  filebeat/inputsource/tcp/client.go
  filebeat/inputsource/tcp/config.go
  filebeat/inputsource/tcp/server.go
  filebeat/tests/system/config/certificates/beats1.crt
  filebeat/tests/system/config/certificates/beats1.key
  filebeat/tests/system/config/certificates/beats2.crt
  filebeat/tests/system/config/certificates/beats2.key
  filebeat/tests/system/config/certificates/cacert.cfg
  filebeat/tests/system/config/certificates/cacert.crt
  filebeat/tests/system/config/certificates/cacert.key
  filebeat/tests/system/config/certificates/cacert.srl
  filebeat/tests/system/config/certificates/client1.crt
  filebeat/tests/system/config/certificates/client1.csr
  filebeat/tests/system/config/certificates/client1.key
  filebeat/tests/system/config/certificates/client2.crt
  filebeat/tests/system/config/certificates/client2.csr
  filebeat/tests/system/config/certificates/client2.key
  filebeat/tests/system/config/certificates/generate_certificate.sh
  filebeat/tests/system/test_tcp_tls.py
  libbeat/docs/shared-ssl-config.asciidoc
Labels: Filebeat, review

#7127 Metricbeat: Add maxmemory to redis info metricset
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields.go
  metricbeat/module/redis/info/_meta/data.json
  metricbeat/module/redis/info/_meta/fields.yml
  metricbeat/module/redis/info/data.go
Labels: Metricbeat, module, review

#7052 Filebeat Kibana module log fileset
  CHANGELOG.asciidoc
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/kibana.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/fields.go
  filebeat/module/kibana/_meta/config.yml
  filebeat/module/kibana/_meta/docs.asciidoc
  filebeat/module/kibana/_meta/fields.yml
  filebeat/module/kibana/log/_meta/config.reference.yml
  filebeat/module/kibana/log/_meta/config.yml
  filebeat/module/kibana/log/_meta/fields.yml
  filebeat/module/kibana/log/config/log.yml
  filebeat/module/kibana/log/ingest/pipeline.json
  filebeat/module/kibana/log/manifest.yml
  filebeat/module/kibana/log/test/log.624.log
  filebeat/module/kibana/log/test/log.verbose.624.log
  filebeat/module/kibana/log/test/test.expected.json
  filebeat/module/kibana/log/test/test.log
  filebeat/module/kibana/module.yml
  filebeat/modules.d/kibana.yml.disabled
  filebeat/tests/system/config/filebeat_modules.yml.j2
Labels: Filebeat, module, review

#7125 Cleanup fields generated code
  auditbeat/include/fields.go
  dev-tools/cmd/asset/asset.go
  filebeat/include/fields.go
  generator/beat/{beat}/main.go.tmpl
  heartbeat/include/fields.go
  metricbeat/include/fields.go
  packetbeat/include/fields.go
  winlogbeat/include/fields.go
Labels: review

#7136 Fix permission on Filebeat Kibana module files
  filebeat/module/kibana/_meta/config.yml
  filebeat/module/kibana/_meta/docs.asciidoc
  filebeat/module/kibana/_meta/fields.yml
  filebeat/module/kibana/log/_meta/config.reference.yml
  filebeat/module/kibana/log/_meta/config.yml
  filebeat/module/kibana/module.yml
  filebeat/modules.d/kibana.yml.disabled
Labels: Filebeat, in progress, module

#7137 Fix permissions on yaml files and add check
  filebeat/module/kibana/log/config/log.yml
  filebeat/module/kibana/log/manifest.yml
  filebeat/module/mongodb/_meta/fields.yml
  filebeat/module/mongodb/log/config/log.yml
  filebeat/module/mongodb/module.yml
  libbeat/scripts/Makefile
Labels: :Testing, review

#7092 Make beat.reference.yml optional.
  dev-tools/packer/Makefile
  dev-tools/packer/platforms/binary/build.sh
  dev-tools/packer/platforms/binary/run.sh.j2
  dev-tools/packer/platforms/centos/build.sh
  dev-tools/packer/platforms/centos/run.sh.j2
  dev-tools/packer/platforms/darwin/build.sh
  dev-tools/packer/platforms/darwin/run.sh.j2
  dev-tools/packer/platforms/dashboards/build.sh
  dev-tools/packer/platforms/debian/build.sh
  dev-tools/packer/platforms/debian/run.sh.j2
  dev-tools/packer/platforms/windows/build.sh
  dev-tools/packer/platforms/windows/run.sh.j2
  dev-tools/packer/xgo-scripts/before_build.sh
  libbeat/scripts/Makefile
Labels: :Packaging, review

#7140 Fix permissions of generated Filebeat filesets
  CHANGELOG-developer.asciidoc
  filebeat/scripts/generator/generator.go
Labels: Filebeat, needs_backport, review

#7144 Elasticsearch pending tasks metricset
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/elasticsearch/pending_tasks.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/list.go
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/pending_tasks/_meta/data.json
  metricbeat/module/elasticsearch/pending_tasks/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/pending_tasks/_meta/fields.yml
  metricbeat/module/elasticsearch/pending_tasks/_meta/test/empty.json
  metricbeat/module/elasticsearch/pending_tasks/_meta/test/invalid_format.json
  metricbeat/module/elasticsearch/pending_tasks/_meta/test/invalid_required_field.json
  metricbeat/module/elasticsearch/pending_tasks/_meta/test/task.622.json
  metricbeat/module/elasticsearch/pending_tasks/_meta/test/tasks.622.json
  metricbeat/module/elasticsearch/pending_tasks/data.go
  metricbeat/module/elasticsearch/pending_tasks/data_test.go
  metricbeat/module/elasticsearch/pending_tasks/pending_tasks.go
Labels: Metricbeat, module, review

#7133 Keep event when `add_docker_metadata` fails to extract container id
  CHANGELOG.asciidoc
  libbeat/processors/actions/extract_field.go
  libbeat/processors/actions/extract_field_test.go
Labels: Filebeat, bug, libbeat, needs_backport, v6.2.5, v6.3.0

#7039 Add support for loading the raw json template file
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/template-config.asciidoc
  libbeat/template/config.go
  libbeat/template/load.go
  libbeat/tests/files/template.json
  libbeat/tests/system/config/mockbeat.yml.j2
  libbeat/tests/system/test_template.py
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: libbeat, review

#7131 Add support for keyword multifields
  CHANGELOG.asciidoc
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: libbeat, review

#7134 Document username/password options for HTTP based modules
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/docs/modules/apache.asciidoc
  metricbeat/docs/modules/ceph.asciidoc
  metricbeat/docs/modules/couchbase.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/etcd.asciidoc
  metricbeat/docs/modules/golang.asciidoc
  metricbeat/docs/modules/http.asciidoc
  metricbeat/docs/modules/jolokia.asciidoc
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/docs/modules/nginx.asciidoc
  metricbeat/docs/modules/php_fpm.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/apache/_meta/config.yml
  metricbeat/module/ceph/_meta/config.yml
  metricbeat/module/couchbase/_meta/config.yml
  metricbeat/module/dropwizard/_meta/config.yml
  metricbeat/module/elasticsearch/_meta/config.yml
  metricbeat/module/etcd/_meta/config.yml
  metricbeat/module/http/_meta/config.yml
  metricbeat/module/jolokia/_meta/config.yml
  metricbeat/module/kibana/_meta/config.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/logstash/_meta/config.yml
  metricbeat/module/nginx/_meta/config.yml
  metricbeat/module/php_fpm/_meta/config.yml
  metricbeat/module/prometheus/_meta/config.yml
  metricbeat/modules.d/apache.yml.disabled
  metricbeat/modules.d/ceph.yml.disabled
  metricbeat/modules.d/couchbase.yml.disabled
  metricbeat/modules.d/dropwizard.yml.disabled
  metricbeat/modules.d/elasticsearch.yml.disabled
  metricbeat/modules.d/etcd.yml.disabled
  metricbeat/modules.d/http.yml.disabled
  metricbeat/modules.d/jolokia.yml.disabled
  metricbeat/modules.d/kibana.yml.disabled
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/modules.d/logstash.yml.disabled
  metricbeat/modules.d/nginx.yml.disabled
  metricbeat/modules.d/php_fpm.yml.disabled
  metricbeat/modules.d/prometheus.yml.disabled
  metricbeat/scripts/docs_collector.py
Labels: docs, needs_backport, v7.0.0-alpha1

#7165 Negotiate Docker API version
  CHANGELOG.asciidoc
  libbeat/common/docker/client.go
  libbeat/common/docker/watcher.go
  metricbeat/module/docker/docker.go
Labels: Metricbeat, bug, libbeat, review

#7102 Add xpack data structure for Elasticsearch index_summary metricset
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/index/_meta/test/stats.700-alpha1.json
  metricbeat/module/elasticsearch/index_summary/_meta/data-xpack.json
  metricbeat/module/elasticsearch/index_summary/data_xpack.go
  metricbeat/module/elasticsearch/index_summary/index_summary.go
Labels: Metricbeat, module, review

#7153 Add more Vagrant machines
  Vagrantfile
Labels: :Testing, review

#7107 Metricbeat: Set guest as default user in RabbitMQ module
  CHANGELOG.asciidoc
  metricbeat/mb/parse/url.go
  metricbeat/module/rabbitmq/url.go
Labels: Metricbeat, module, review

#7174 Mention TCP in DNS protocol docs
  packetbeat/docs/packetbeat-options.asciidoc
Labels: Packetbeat, docs, review

#7124 Add basic Elasticsearch server fileset
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/fields.go
  filebeat/module/elasticsearch/_meta/config.yml
  filebeat/module/elasticsearch/_meta/docs.asciidoc
  filebeat/module/elasticsearch/_meta/fields.yml
  filebeat/module/elasticsearch/module.yml
  filebeat/module/elasticsearch/server/_meta/fields.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/manifest.yml
  filebeat/module/elasticsearch/server/test/elasticsearch.624.log
  filebeat/module/elasticsearch/server/test/test.log
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/modules.d/elasticsearch.yml.disabled
Labels: Filebeat, module, review

#7178 spool to disk: more descriptive error message
  libbeat/publisher/queue/spool/spool.go
Labels: libbeat, review

#6746 [Kibana Module] Add additional metric fields
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/docs/modules/kibana/stats.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/list.go
  metricbeat/module/kibana/mtest/testing.go
  metricbeat/module/kibana/stats/_meta/data.json
  metricbeat/module/kibana/stats/_meta/docs.asciidoc
  metricbeat/module/kibana/stats/_meta/fields.yml
  metricbeat/module/kibana/stats/_meta/test/stats.700.json
  metricbeat/module/kibana/stats/data.go
  metricbeat/module/kibana/stats/data_test.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/module/kibana/status/status_integration_test.go
Labels: Metricbeat, module, review

#7055 Refactor: Move existing class to tlscommon
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/tcp/config.go
  heartbeat/scripts/generator/{{monitor}}/config.go.tmpl
  libbeat/monitoring/report/elasticsearch/config.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/outputs/elasticsearch/config.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/kafka/config.go
  libbeat/outputs/logstash/config.go
  libbeat/outputs/logstash/logstash.go
  libbeat/outputs/redis/config.go
  libbeat/outputs/redis/redis.go
  libbeat/outputs/transport/transptest/testing.go
  libbeat/setup/kibana/client.go
  libbeat/setup/kibana/config.go
  metricbeat/helper/http.go
  metricbeat/module/kafka/consumergroup/config.go
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/partition/config.go
  metricbeat/module/kafka/partition/partition.go
Labels: libbeat, refactoring, review

#7135 Packetbeat process monitor enhancements
  CHANGELOG.asciidoc
  libbeat/common/endpoint.go
  libbeat/common/tuples.go
  packetbeat/beater/packetbeat.go
  packetbeat/procs/procs.go
  packetbeat/procs/procs_linux.go
  packetbeat/procs/procs_linux_test.go
  packetbeat/procs/procs_other.go
  packetbeat/procs/procs_test.go
  packetbeat/procs/procs_windows.go
  packetbeat/procs/procs_windows_test.go
  packetbeat/procs/syscall_windows.go
  packetbeat/procs/zsyscall_windows.go
  packetbeat/protos/amqp/amqp.go
  packetbeat/protos/amqp/amqp_test.go
  packetbeat/protos/applayer/applayer.go
  packetbeat/protos/cassandra/pub.go
  packetbeat/protos/dns/dns.go
  packetbeat/protos/dns/dns_tcp_test.go
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
  packetbeat/protos/mongodb/mongodb.go
  packetbeat/protos/mongodb/mongodb_test.go
  packetbeat/protos/mysql/mysql.go
  packetbeat/protos/mysql/mysql_test.go
  packetbeat/protos/pgsql/pgsql.go
  packetbeat/protos/pgsql/pgsql_test.go
  packetbeat/protos/redis/redis.go
  packetbeat/protos/thrift/thrift.go
  packetbeat/protos/thrift/thrift_test.go
  packetbeat/protos/tls/tls.go
  packetbeat/protos/tls/tls_test.go
  packetbeat/publish/publish.go
  packetbeat/tests/system/test_0025_procs_config.py
Labels: Packetbeat, discuss, enhancement

#7180 Clarify max_retries description for Filebeat and Winlogbeat
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/shared-path-config.asciidoc
Labels: docs, needs_backport, review

#7170 libbeat: Stop autodiscover runners in a goroutine
  CHANGELOG.asciidoc
  libbeat/autodiscover/autodiscover.go
Labels: bug, discuss, libbeat, needs_backport, review, v6.3.0

#7190 Close changelog for 6.3.0
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.3.0

#7168 Fix `client_authentication` option in the documentation.
  filebeat/_meta/common.reference.p2.yml
  filebeat/filebeat.reference.yml
  libbeat/docs/shared-ssl-config.asciidoc
Labels: docs, review

#7186 Cherry-pick #7170 to 6.3: libbeat: Stop autodiscover runners in a goroutine
  CHANGELOG.asciidoc
  libbeat/autodiscover/autodiscover.go
Labels: backport, review

#7164 Update docs
  libbeat/docs/shared-configuring.asciidoc
Labels: docs, review

#7172 Unify Runner dynamic launching and reloading under RunnerList
  filebeat/tests/system/test_autodiscover.py
  filebeat/tests/system/test_deprecated.py
  filebeat/tests/system/test_reload_inputs.py
  filebeat/tests/system/test_reload_modules.py
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/cfgfile/list.go
  libbeat/cfgfile/list_test.go
  libbeat/cfgfile/registry.go
  libbeat/cfgfile/registry_test.go
  libbeat/cfgfile/reload.go
  metricbeat/tests/system/test_autodiscover.py
  metricbeat/tests/system/test_reload.py
Labels: libbeat, review

#7200 Error out on invalid Autodiscover template conditions settings
  CHANGELOG.asciidoc
  libbeat/autodiscover/appenders/config/config.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/template/config_test.go
  libbeat/processors/condition.go
  libbeat/processors/condition_test.go
  metricbeat/autodiscover/appender/kubernetes/token/token.go
Labels: libbeat, review

#7198 Comply with PostgreSQL database name format
  CHANGELOG.asciidoc
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
Labels: Filebeat, module, review

#7208 Rename traefik test directory to run tests
  filebeat/module/traefik/access/test/test.log
  filebeat/module/traefik/access/test/test.log-expected.json
Labels: :Testing, Filebeat, review

#6911 Port fields.yml collector to Golang
  CHANGELOG-developer.asciidoc
  auditbeat/Makefile
  auditbeat/include/fields.go
  filebeat/Makefile
  filebeat/include/fields.go
  generator/beat/Makefile
  generator/beat/{beat}/Makefile
  generator/common/Makefile
  generator/metricbeat/Makefile
  heartbeat/Makefile
  libbeat/Makefile
  libbeat/generator/fields/fields.go
  libbeat/generator/fields/module_fields_collector.go
  libbeat/scripts/Makefile
  libbeat/scripts/cmd/global_fields/main.go
  libbeat/scripts/cmd/global_fields/main_test.go
  metricbeat/Makefile
  metricbeat/include/fields.go
  packetbeat/Makefile
  packetbeat/_meta/fields.common.yml
  winlogbeat/Makefile
Labels: :Generator, review

#7155 Cherry-pick #6306 to 6.2: [metricbeat] Fix errors in process summary on latest Linux kernels
  CHANGELOG.asciidoc
  metricbeat/module/system/process_summary/process_summary.go
Labels: backport, review

#6923 Beats preference pane for macOS
  dev-tools/packer/platforms/darwin/preference-pane/Makefile
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane.xcodeproj/project.pbxproj
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane.xcodeproj/xcshareddata/IDETemplateMacros.plist
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane.xcodeproj/xcuserdata/adrian.xcuserdatad/xcschemes/xcschememanagement.plist
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Authorization.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Base.lproj/BeatView.xib
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Base.lproj/BeatsPrefPane.xib
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Base.lproj/EditorWindow.xib
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Base.lproj/pane.xib
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/BeatManager.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/BeatViewController.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/BeatViewController.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Beats.icns
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/BeatsPrefPane.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/BeatsPrefPane.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/EditorWindow.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/EditorWindow.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/Info.plist
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/TabViewDelegate.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/TabViewDelegate.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/beats/Beats.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/beats/BeatsService.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/beats/BeatsService.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/common/common.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/common/common.m
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/config.h
  dev-tools/packer/platforms/darwin/preference-pane/beats-preference-pane/en.lproj/beats_preference_pane.strings
  dev-tools/packer/platforms/darwin/preference-pane/helper/main.m
  dev-tools/packer/platforms/darwin/preference-pane/helper/setboot.m
Labels: :Infra, libbeat, review

#7215 Move crawler to the new input package instead of prospector
  filebeat/crawler/crawler.go
Labels: Filebeat, review

#7211 Make Kibana client reusable
  filebeat/beater/filebeat.go
  filebeat/fileset/modules.go
  libbeat/dashboards/kibana_loader.go
  libbeat/kibana/client.go
  libbeat/kibana/client_config.go
  libbeat/kibana/client_test.go
  libbeat/ml-importer/importer.go
Labels: libbeat, review

#7100 Refactor http.server metricset
  CHANGELOG.asciidoc
  metricbeat/helper/server/http/http.go
  metricbeat/module/http/server/_meta/docs.asciidoc
  metricbeat/module/http/server/config.go
  metricbeat/module/http/server/server.go
  metricbeat/tests/system/config/metricbeat.yml.j2
  metricbeat/tests/system/test_http.py
Labels: Metricbeat, module, review

#7226 Fix beat name in Filebeat hints autodiscover example
  filebeat/docs/autodiscover-hints.asciidoc
Labels: bug, docs, needs_backport, v6.3.0

#6902 Add file spool to queue docs
  libbeat/docs/queueconfig.asciidoc
Labels: docs, needs_backport
