Repository elastic/beats, pull requests merged in 2018-07, with the labels that each got.

#7480 Backport to 6.3: Updates to host field info in breaking changes docs
  libbeat/docs/breaking.asciidoc
Labels: backport, docs, review

#7335 libbeat: Refactor error handling in schema.Apply()
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/jolokia/discovery.go
  libbeat/common/schema/error.go
  libbeat/common/schema/error_test.go
  libbeat/common/schema/errors.go
  libbeat/common/schema/errors_test.go
  libbeat/common/schema/mapstriface/mapstriface.go
  libbeat/common/schema/mapstriface/mapstriface_test.go
  libbeat/common/schema/mapstrstr/mapstrstr.go
  libbeat/common/schema/mapstrstr/mapstrstr_test.go
  libbeat/common/schema/options.go
  libbeat/common/schema/options_test.go
  libbeat/common/schema/schema.go
  metricbeat/module/apache/status/data.go
  metricbeat/module/apache/status/status_test.go
  metricbeat/module/elasticsearch/index/data.go
  metricbeat/module/elasticsearch/index_summary/data.go
  metricbeat/module/elasticsearch/index_summary/data_test.go
  metricbeat/module/elasticsearch/node/data.go
  metricbeat/module/elasticsearch/node/data_test.go
  metricbeat/module/elasticsearch/node_stats/data.go
  metricbeat/module/elasticsearch/pending_tasks/_meta/test/invalid_format.json
  metricbeat/module/elasticsearch/pending_tasks/data.go
  metricbeat/module/elasticsearch/pending_tasks/data_test.go
  metricbeat/module/elasticsearch/shard/data.go
  metricbeat/module/elasticsearch/shard/data_xpack.go
  metricbeat/module/elasticsearch/testing.go
  metricbeat/module/kibana/stats/data.go
  metricbeat/module/kibana/stats/data_test.go
  metricbeat/module/logstash/node/data.go
  metricbeat/module/logstash/node_stats/data.go
  metricbeat/module/rabbitmq/connection/data.go
  metricbeat/module/rabbitmq/exchange/data.go
  metricbeat/module/rabbitmq/node/data.go
  metricbeat/module/rabbitmq/queue/data.go
Labels: Metricbeat, libbeat, refactoring, review

#7487 Add Filebeat modules to packages
  dev-tools/mage/common.go
  dev-tools/mage/copy.go
  dev-tools/mage/pkgtypes.go
  filebeat/Makefile
  filebeat/magefile.go
Labels: Packaging, review

#7413 Metricbeat module for Traefik
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/traefik.asciidoc
  metricbeat/docs/modules/traefik/health.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/fields.go
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/traefik/_meta/Dockerfile
  metricbeat/module/traefik/_meta/config.yml
  metricbeat/module/traefik/_meta/docs.asciidoc
  metricbeat/module/traefik/_meta/env
  metricbeat/module/traefik/_meta/fields.yml
  metricbeat/module/traefik/_meta/traefik.toml
  metricbeat/module/traefik/doc.go
  metricbeat/module/traefik/health/_meta/data.json
  metricbeat/module/traefik/health/_meta/docs.asciidoc
  metricbeat/module/traefik/health/_meta/fields.yml
  metricbeat/module/traefik/health/_meta/test/simple.json
  metricbeat/module/traefik/health/data.go
  metricbeat/module/traefik/health/data_test.go
  metricbeat/module/traefik/health/health.go
  metricbeat/module/traefik/health/health_integration_test.go
  metricbeat/module/traefik/health/health_test.go
  metricbeat/module/traefik/mtest/testing.go
  metricbeat/module/traefik/test_traefik.py
  metricbeat/modules.d/traefik.yml.disabled
Labels: Metricbeat, enhancement, module, review

#7468 Clarify autodiscover docs in relation to startup process
  libbeat/docs/shared-autodiscover.asciidoc
Labels: docs, enhancement, k8s

#7491 Remove reference to removed error type
  metricbeat/module/traefik/health/data.go
Labels: Metricbeat, module, review

#7495 Set logp default for keepfiles to 7
  CHANGELOG.asciidoc
  libbeat/logp/config.go
Labels: bug, libbeat, needs_backport

#7498 Update TLS protocol cipher suites (#7455)
  CHANGELOG.asciidoc
  packetbeat/protos/tls/algos.go
Labels: Packetbeat, review

#7490 Fix configuration-ssl docs for key param
  libbeat/docs/shared-ssl-config.asciidoc
Labels: docs, libbeat, needs_backport, review

#7485 Disable labels dedotting in default docker module configuration
  CHANGELOG.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/docker/_meta/config.reference.yml
  metricbeat/module/docker/_meta/config.yml
  metricbeat/modules.d/docker.yml.disabled
Labels: Metricbeat, discuss, module, review

#7499 Do not pass unused parameter when creating command for keystore
  libbeat/cmd/keystore.go
  libbeat/cmd/root.go
Labels: libbeat, review

#7500 Cherry-pick #7495 to 6.3: Set logp default for keepfiles to 7
  CHANGELOG.asciidoc
  libbeat/logp/config.go
Labels: backport, review

#7501 Cherry-pick #7498 to 6.3: Update TLS protocol cipher suites (#7455)
  CHANGELOG.asciidoc
  packetbeat/protos/tls/algos.go
Labels: backport, review

#7075 Add Beats state reporting
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/api/server.go
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/namespace.go
  libbeat/monitoring/report/elasticsearch/client.go
  libbeat/monitoring/report/elasticsearch/config.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/monitoring/snapshot.go
  libbeat/monitoring/visitor.go
  libbeat/monitoring/visitor_kv.go
  metricbeat/mb/module/runner.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: Metricbeat, libbeat, review

#7484 Add grok patterns for CMS Initial Mark and Final Remark GC phases
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/gc/_meta/fields.yml
  filebeat/module/elasticsearch/gc/ingest/pipeline.json
  filebeat/module/elasticsearch/gc/test/test.log
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
Labels: Filebeat, module

#7511 Disable colors on tests
  libbeat/testing/console_test.go
Labels: :Testing, review

#7510 Update go ucfg
  NOTICE.txt
  libbeat/autodiscover/providers/jolokia/config.go
  libbeat/common/config.go
  vendor/github.com/elastic/go-ucfg/CHANGELOG.md
  vendor/github.com/elastic/go-ucfg/cfgutil/cfgutil.go
  vendor/github.com/elastic/go-ucfg/doc.go
  vendor/github.com/elastic/go-ucfg/error.go
  vendor/github.com/elastic/go-ucfg/errpred.go
  vendor/github.com/elastic/go-ucfg/fieldset.go
  vendor/github.com/elastic/go-ucfg/flag/file.go
  vendor/github.com/elastic/go-ucfg/flag/flag.go
  vendor/github.com/elastic/go-ucfg/flag/util.go
  vendor/github.com/elastic/go-ucfg/flag/value.go
  vendor/github.com/elastic/go-ucfg/getset.go
  vendor/github.com/elastic/go-ucfg/internal/parse/parse.go
  vendor/github.com/elastic/go-ucfg/json/json.go
  vendor/github.com/elastic/go-ucfg/merge.go
  vendor/github.com/elastic/go-ucfg/opts.go
  vendor/github.com/elastic/go-ucfg/path.go
  vendor/github.com/elastic/go-ucfg/reify.go
  vendor/github.com/elastic/go-ucfg/types.go
  vendor/github.com/elastic/go-ucfg/ucfg.go
  vendor/github.com/elastic/go-ucfg/unpack.go
  vendor/github.com/elastic/go-ucfg/util.go
  vendor/github.com/elastic/go-ucfg/validator.go
  vendor/github.com/elastic/go-ucfg/variables.go
  vendor/github.com/elastic/go-ucfg/yaml/yaml.go
  vendor/vendor.json
Labels: libbeat, review

#7467 Update log builder settings unpack testing
  filebeat/autodiscover/builder/hints/logs_test.go
Labels: bug, k8s, review

#7515 Workaround system-tests failures for show-command
  auditbeat/tests/system/test_show_command.py
Labels: Auditbeat, review

#7517 Bump docs version for 6.3.1
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, release, review, v6.3.1

#7205 Add response fields to Kibana module based on ECS
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/kibana/log/ingest/pipeline.json
  filebeat/module/kibana/log/test/test.log-expected.json
Labels: Filebeat, module, review

#7520 Bump version for 6.3.2
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: release, review, v6.3.2

#7523 Fix update target to get pkg/errors
  Makefile
Labels: :Infra, review

#7447 Fix missing metadata in redis output
  libbeat/docs/outputconfig.asciidoc
  libbeat/outputs/redis/config.go
  libbeat/outputs/redis/config_test.go
  libbeat/outputs/redis/redis.go
  libbeat/outputs/redis/redis_integration_test.go
Labels: bug, review

#6725 Use `--mount` over `-v` syntax
  libbeat/docs/shared-docker.asciidoc
  metricbeat/docs/running-on-docker.asciidoc
Labels: docs, needs_backport, review

#7516 Remove duplicated entry from 6.3.1 changelog
  CHANGELOG.asciidoc
Labels: review

#7531 Following PR to improve SLowlog fileset
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/slowlog/_meta/fields.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/manifest.yml
  filebeat/module/elasticsearch/slowlog/test/auditlog_index_indexing_slowlog.log
  filebeat/module/elasticsearch/slowlog/test/test.log
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
Labels: Filebeat, module, review

#7530 Add input counters and names to Filebeat state API
  filebeat/input/input.go
Labels: Filebeat, monitoring, review

#7507 Add process monitor capabilities to flows (#541)
  CHANGELOG.asciidoc
  packetbeat/_meta/fields.yml
  packetbeat/flows/worker.go
Labels: Packetbeat, enhancement, review

#7540 Revert change from #7523 as not needed
  Makefile
Labels: :Infra, review

#7547 [DOCS] Adds shutdown pages for the Beats
  auditbeat/docs/setting-up-running.asciidoc
  filebeat/docs/setting-up-running.asciidoc
  heartbeat/docs/setting-up-running.asciidoc
  libbeat/docs/shared-shutdown.asciidoc
  metricbeat/docs/setting-up-running.asciidoc
  packetbeat/docs/setting-up-running.asciidoc
  winlogbeat/docs/setting-up-running.asciidoc
Labels: docs, v6.3.2, v6.4.0, v7.0.0-alpha1

#7544 Add tests to heartbeat's look.go
  heartbeat/look/look_test.go
Labels: :Testing, Heartbeat, refactoring, review

#7549 [Filebeat, ES module] Follow up to improve Server fileset
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/server/_meta/fields.yml
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/test/test.log
  filebeat/module/elasticsearch/server/test/test.log-expected.json
Labels: Filebeat, module, review

#7085 Clarify docs to indicate where processors are valid in the config
  libbeat/docs/processors-using.asciidoc
Labels: docs, needs_backport, review

#7538 Remove unneeded queue code
  libbeat/publisher/queue/queue_reg.go
Labels: libbeat, review

#7553 Bring back support for really old Docker versions
  CHANGELOG.asciidoc
  libbeat/common/docker/client.go
  libbeat/common/docker/client_test.go
Labels: enhancement, libbeat, needs_backport, review, v6.3.2, v6.4.0

#7196 Add ml_job metricset to Elasticsearch module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/elasticsearch/ml_job.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/elasticsearch/_meta/config.reference.yml
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
  metricbeat/module/elasticsearch/fields.go
  metricbeat/module/elasticsearch/ml_job/_meta/data.json
  metricbeat/module/elasticsearch/ml_job/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/ml_job/_meta/fields.yml
  metricbeat/module/elasticsearch/ml_job/_meta/test/ml.700.json
  metricbeat/module/elasticsearch/ml_job/_meta/test/test_job.json
  metricbeat/module/elasticsearch/ml_job/_meta/test/xpack.job.stats.json
  metricbeat/module/elasticsearch/ml_job/data.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/test_elasticsearch.py
Labels: Metricbeat, module, review

#7554 Update field naming for Elasticsearch server fileset
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/server/_meta/fields.yml
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
Labels: Filebeat, module, review

#7556 Update field naming for Elasticsearch slowlog fileset
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/_meta/fields.yml
  filebeat/module/elasticsearch/slowlog/_meta/fields.yml
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
Labels: Filebeat, module, review

#7331 Allow to specify auditd rules in separate files
  auditbeat/auditbeat.reference.yml
  auditbeat/auditbeat.yml
  auditbeat/docs/modules/auditd.asciidoc
  auditbeat/magefile.go
  auditbeat/module/auditd/_meta/audit.rules.d/sample-rules-linux-32bit.conf
  auditbeat/module/auditd/_meta/audit.rules.d/sample-rules-linux-64bit.conf
  auditbeat/module/auditd/_meta/config.yml.tmpl
  auditbeat/module/auditd/_meta/docs.asciidoc
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/config.go
  auditbeat/module/auditd/config_linux_test.go
Labels: Auditbeat, enhancement, in progress

#7567 Cherry-pick #7553 to 6.3: Bring back support for really old Docker versions
  CHANGELOG.asciidoc
  libbeat/common/docker/client.go
  libbeat/common/docker/client_test.go
Labels: backport, review

#7527 Add `bearer_token_file` paramter to HTTP helper
  CHANGELOG.asciidoc
  metricbeat/autodiscover/appender/kubernetes/token/token.go
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/helper/http.go
  metricbeat/helper/http_test.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/prometheus/_meta/config.reference.yml
  metricbeat/module/prometheus/_meta/config.yml
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/modules.d/prometheus.yml.disabled
Labels: Metricbeat, enhancement, needs_backport, review, v6.3.2, v6.4.0

#7577 Cherry-pick #7527 to 6.3: Add `bearer_token_file` paramter to HTTP helper
  CHANGELOG.asciidoc
  metricbeat/autodiscover/appender/kubernetes/token/token.go
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/helper/http.go
  metricbeat/helper/http_test.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/prometheus/_meta/config.reference.yml
  metricbeat/module/prometheus/_meta/config.yml
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/modules.d/prometheus.yml.disabled
Labels: backport, review

#7580 Disable headers check in generator tests
  generator/common/Makefile
Labels: :Generator, :Testing, discuss, libbeat, new beat, review

#7574 Add debug logging to file rotator
  libbeat/common/file/rotator.go
  libbeat/common/file/rotator_test.go
  libbeat/outputs/fileout/file.go
Labels: libbeat, review

#7572 add conditionals to support apm-server docs update
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/index.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-logstash-config.asciidoc
  libbeat/docs/shared-securing-beat.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: docs, libbeat

#7397 nfs: add support for v4.2 operations and error codes
  packetbeat/protos/nfs/nfs4.go
  packetbeat/protos/nfs/nfs_status.go
  packetbeat/tests/system/pcaps/nfsv42_clone.pcap
  packetbeat/tests/system/pcaps/nfsv42_layoutstats.pcap
  packetbeat/tests/system/test_0061_nfs.py
Labels: Packetbeat, review

#7561 Use a separate audit client for lost event monitoring
  auditbeat/module/auditd/audit_linux.go
Labels: Auditbeat, review

#7571 Add UDP support to packetbeat's process monitor
  CHANGELOG.asciidoc
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/flows/worker.go
  packetbeat/procs/procs.go
  packetbeat/procs/procs_linux.go
  packetbeat/procs/procs_other.go
  packetbeat/procs/procs_test.go
  packetbeat/procs/procs_windows.go
  packetbeat/procs/syscall_windows.go
  packetbeat/procs/zsyscall_windows.go
  packetbeat/protos/amqp/amqp_parser.go
  packetbeat/protos/cassandra/trans.go
  packetbeat/protos/dns/dns_tcp.go
  packetbeat/protos/dns/dns_udp.go
  packetbeat/protos/http/http.go
  packetbeat/protos/memcache/plugin_tcp.go
  packetbeat/protos/memcache/plugin_udp.go
  packetbeat/protos/mongodb/mongodb.go
  packetbeat/protos/mysql/mysql.go
  packetbeat/protos/pgsql/pgsql.go
  packetbeat/protos/redis/redis.go
  packetbeat/protos/thrift/thrift.go
  packetbeat/protos/tls/tls.go
Labels: Packetbeat, enhancement, review

#7586 XPack helper for naming monitoring indices
  metricbeat/helper/xpack/xpack.go
  metricbeat/helper/xpack/xpack_test.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, review, v7.0.0-alpha1

#7583 Nested fields for all types in common.Schema
  libbeat/common/schema/mapstriface/mapstriface.go
  libbeat/common/schema/mapstriface/mapstriface_test.go
Labels: libbeat, review

#7437 Autocreate `data` folder in Kubernetes deployments
  .travis.yml
  deploy/kubernetes/.travis/setup.sh
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
  filebeat/docs/running-on-kubernetes.asciidoc
  metricbeat/docs/running-on-kubernetes.asciidoc
Labels: discuss, enhancement, k8s, review

#7470 Automatically enrich Kubernetes module events
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-role.yaml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/common/kubernetes/types.go
  libbeat/common/kubernetes/watcher.go
  libbeat/processors/add_kubernetes_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/include/fields/fields.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/state_deployment/state_deployment.go
  metricbeat/module/kubernetes/state_node/state_node.go
  metricbeat/module/kubernetes/state_pod/state_pod.go
  metricbeat/module/kubernetes/state_replicaset/state_replicaset.go
  metricbeat/module/kubernetes/state_statefulset/state_statefulset.go
  metricbeat/module/kubernetes/util/kubernetes.go
  metricbeat/module/kubernetes/util/kubernetes_test.go
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/tests/system/test_kubernetes.py
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Metricbeat, enhancement, k8s, review

#7568 Fix MongoDB Filebeat module
  CHANGELOG.asciidoc
  filebeat/module/mongodb/log/ingest/pipeline.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
Labels: Filebeat, module, review

#7597 Add missing changlelog entry about missing logs
  CHANGELOG.asciidoc
Labels: Filebeat, review

#7585 Update Filebeat module dev guide
  docs/devguide/modules-dev-guide.asciidoc
Labels: docs, review

#7602 Add conditional coding to security topic
  libbeat/docs/security/securing-beats.asciidoc
Labels: docs, needs_backport, review

#7578 Filebeat: Add option to convert kafka module timezones to UTC
  CHANGELOG.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/kafka/_meta/config.yml
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/kafka/log/config/log.yml
  filebeat/module/kafka/log/ingest/pipeline.json
  filebeat/module/kafka/log/manifest.yml
  filebeat/modules.d/kafka.yml.disabled
Labels: Filebeat, enhancement, module, review

#7601 add kafkabeat2
  libbeat/docs/communitybeats.asciidoc
Labels: review

#7605 Add missing libbeat fields to imports in Metricbeat
  metricbeat/cmd/root.go
Labels: Metricbeat, bug, review

#7573 Ensure metadata updates don't replace existing pod metrics
  CHANGELOG.asciidoc
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
Labels: bug, k8s, needs_backport, review, v6.3.2, v6.4.0

#7608 Filebeat: Add patterns to support Kafka 1.1 logs
  CHANGELOG.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/kafka/log/ingest/pipeline.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
Labels: Filebeat, enhancement, module

#7609 Cherry-pick #7573 to 6.3: Ensure metadata updates don't replace existing pod metrics
  CHANGELOG.asciidoc
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
Labels: backport, review

#7616 Metricbeat: Kafka integration tests with 1.1
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/Dockerfile.0.10.2
  metricbeat/module/kafka/_meta/Dockerfile.1.1.0
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/env
  metricbeat/module/kafka/_meta/run.sh
  metricbeat/module/kafka/broker.go
  metricbeat/module/kafka/partition/partition_integration_test.go
  metricbeat/tests/system/requirements.txt
  metricbeat/tests/system/test_kafka.py
Labels: Metricbeat, module, review

#7619 Document tested kafka versions
  filebeat/docs/modules/kafka.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
Labels: backport, docs, module, review

#7622 Improves pipeline for Filebeat slowlog fileset
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
Labels: Filebeat, module, review

#7623 Improves pipeline Filebeat server fileset
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
Labels: Filebeat, module, review

#7615 Add more detail topic about downloading docker images
  libbeat/docs/shared-docker.asciidoc
Labels: docs, needs_backport, review

#7563 Fix breaking change in monitoring data
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
Labels: libbeat, monitoring, review

#7607 Add http.request.mehod to Kibana log filset
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/kibana/log/ingest/pipeline.json
  filebeat/module/kibana/log/test/test.log
  filebeat/module/kibana/log/test/test.log-expected.json
Labels: Filebeat, module, review

#7614 Fix rename log message
  libbeat/processors/actions/rename.go
Labels: :Processors, libbeat, review

#7596 Add missing host config in Ceph module
  CHANGELOG.asciidoc
  metricbeat/module/ceph/_meta/config.yml
  metricbeat/modules.d/ceph.yml.disabled
Labels: Metricbeat, bug, module, review

#7606 Add tests to verify template content
  metricbeat/tests/system/test_template.py
Labels: :Testing, Metricbeat, review

#7628 Basic support of ES GC metrics for jvm9
  filebeat/module/elasticsearch/gc/ingest/pipeline.json
  filebeat/module/elasticsearch/gc/test/gc.log.00
Labels: Filebeat, module, review

#7533 Improve fields.yml generator of modules
  filebeat/scripts/generator/fields/main.go
  filebeat/scripts/generator/fields/main_test.go
Labels: :Generator, Filebeat, review

#7637 Fix incorrect heading level to fix book structure
  CHANGELOG.asciidoc
Labels: docs, review

#7632 Fix filebeat registry meta being nil vs empty
  CHANGELOG.asciidoc
  filebeat/input/docker/input.go
  filebeat/input/file/state.go
  filebeat/input/input.go
  filebeat/input/log/input.go
  filebeat/registrar/registrar.go
  filebeat/registrar/registrar_test.go
  filebeat/tests/files/registry/test-2lines-registry-6.3.0
  filebeat/tests/files/registry/test-2lines-registry-6.3.1
  filebeat/tests/files/registry/test-2lines-registry-6.3.1-faulty
  filebeat/tests/files/registry/test-2lines-registry-latest
  filebeat/tests/system/test_registrar.py
  filebeat/tests/system/test_registrar_upgrade.py
Labels: blocker, bug, needs_backport, review, v6.3.2

#7587 Basic Heartbeat Job validation
  heartbeat/hbtest/hbtestutil.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/http/task_test.go
  heartbeat/monitors/active/tcp/tcp_test.go
  libbeat/common/mapval/core.go
  libbeat/common/mapval/core_test.go
  libbeat/common/mapval/is_defs.go
  libbeat/common/mapval/results.go
  libbeat/common/mapval/value.go
  libbeat/common/mapval/walk.go
  libbeat/testing/mapvaltest/mapvaltest.go
  libbeat/testing/mapvaltest/mapvaltest_test.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/forward_requirements.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/require_forward.go.tmpl
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/vendor.json
Labels: Heartbeat

#7635 Only fetch shard metrics from master node
  metricbeat/module/elasticsearch/shard/shard.go
Labels: Metricbeat, enhancement

#7642 Add kubernetes specs for auditbeat file integrity monitoring
  CHANGELOG.asciidoc
  deploy/kubernetes/Makefile
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/auditbeat/README.md
  deploy/kubernetes/auditbeat/auditbeat-daemonset-configmap.yaml
  deploy/kubernetes/auditbeat/auditbeat-daemonset.yaml
  deploy/kubernetes/auditbeat/auditbeat-role-binding.yaml
  deploy/kubernetes/auditbeat/auditbeat-role.yaml
  deploy/kubernetes/auditbeat/auditbeat-service-account.yaml
Labels: Auditbeat, k8s, review

#7653 Update testing env for 6.3.2
  testing/environments/args.yml
Labels: :Testing, release, review, v6.3.2

#7652 Close changelog for 6.3.2
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.3.2

#7656 Release the rename processor as GA
  CHANGELOG.asciidoc
  libbeat/processors/actions/rename.go
Labels: libbeat, review

#7631 Fix log message for Kibana beta state
  metricbeat/module/kibana/status/status.go
Labels: Metricbeat, module, review, v6.4.0, v7.0.0-alpha1

#7659 Clean up experimental and beta messages
  heartbeat/beater/heartbeat.go
  libbeat/plugin/cli.go
  metricbeat/module/ceph/osd_df/osd_df.go
Labels: review

#7658 Release raid and socket metricset from system module as GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/system/raid.asciidoc
  metricbeat/docs/modules/system/socket.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/system/fields.go
  metricbeat/module/system/raid/_meta/docs.asciidoc
  metricbeat/module/system/raid/_meta/fields.yml
  metricbeat/module/system/raid/raid.go
  metricbeat/module/system/socket/_meta/fields.yml
  metricbeat/module/system/socket/socket.go
Labels: Metricbeat, module, review

#7666 Edit breaking changes statement about monitoring schema changes
  libbeat/docs/breaking.asciidoc
Labels: docs, needs_backport

#7640 Update geoip config docs
  packetbeat/docs/images/kibana-update-map.png
  packetbeat/docs/packetbeat-geoip.asciidoc
Labels: Packetbeat, docs, needs_backport, review

#7669 Forward port to master: Monitoring breaking changes plus #7666
  libbeat/docs/breaking.asciidoc
Labels: backport, docs, review

#7662 Marking Elasticsearch module and its metricsets as beta
  CHANGELOG.asciidoc
  metricbeat/docs/modules/elasticsearch/index.asciidoc
  metricbeat/docs/modules/elasticsearch/index_recovery.asciidoc
  metricbeat/docs/modules/elasticsearch/index_summary.asciidoc
  metricbeat/docs/modules/elasticsearch/ml_job.asciidoc
  metricbeat/docs/modules/elasticsearch/pending_tasks.asciidoc
  metricbeat/docs/modules/elasticsearch/shard.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/elasticsearch/fields.go
  metricbeat/module/elasticsearch/index/_meta/fields.yml
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/index_recovery/_meta/fields.yml
  metricbeat/module/elasticsearch/index_recovery/index_recovery.go
  metricbeat/module/elasticsearch/index_summary/_meta/fields.yml
  metricbeat/module/elasticsearch/index_summary/index_summary.go
  metricbeat/module/elasticsearch/ml_job/_meta/fields.yml
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/pending_tasks/_meta/fields.yml
  metricbeat/module/elasticsearch/pending_tasks/pending_tasks.go
  metricbeat/module/elasticsearch/shard/_meta/fields.yml
Labels: Metricbeat, review, v6.4.0, v7.0.0-alpha1

#7655 Increase kafka version in tests to 1.1.1
  testing/environments/docker/kafka/Dockerfile
Labels: review

#7613 Add missing mongodb status fields
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/mongodb/fields.go
  metricbeat/module/mongodb/status/_meta/data.json
  metricbeat/module/mongodb/status/_meta/fields.yml
  metricbeat/module/mongodb/status/data.go
  metricbeat/module/mongodb/status/status.go
Labels: Metricbeat, module, review

#7676 Remove outdated vendor information.
  vendor/vendor.json
Labels: libbeat, review

#7678 Fix Filebeat tests with new region_iso_code field
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache2/access/_meta/fields.yml
  filebeat/module/auditd/log/_meta/fields.yml
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/iis/access/_meta/fields.yml
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/_meta/fields.yml
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
  filebeat/module/nginx/access/_meta/fields.yml
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/system/auth/_meta/fields.yml
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/traefik/access/_meta/fields.yml
  filebeat/module/traefik/access/test/test.log-expected.json
  testing/environments/args.yml
Labels: Filebeat, module, review

#7650 Fix duplicated module headers
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/kubernetes/apiserver.asciidoc
  metricbeat/docs/modules/kvm.asciidoc
  metricbeat/docs/modules/munin.asciidoc
  metricbeat/docs/modules/uwsgi.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/kubernetes/apiserver/_meta/docs.asciidoc
  metricbeat/module/kvm/_meta/docs.asciidoc
  metricbeat/module/kvm/dommemstat/_meta/docs.asciidoc
  metricbeat/module/munin/_meta/docs.asciidoc
  metricbeat/module/munin/node/_meta/docs.asciidoc
  metricbeat/module/traefik/health/_meta/docs.asciidoc
  metricbeat/module/uwsgi/_meta/docs.asciidoc
  metricbeat/scripts/module/docs.asciidoc
  metricbeat/scripts/module/metricset/docs.asciidoc
Labels: Metricbeat, docs, needs_backport, review

#7660 Release munin and traefik module as beta.
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/munin.asciidoc
  metricbeat/docs/modules/munin/node.asciidoc
  metricbeat/docs/modules/traefik.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/munin/_meta/fields.yml
  metricbeat/module/munin/fields.go
  metricbeat/module/munin/node/_meta/fields.yml
  metricbeat/module/munin/node/node.go
  metricbeat/module/traefik/_meta/fields.yml
  metricbeat/module/traefik/fields.go
  metricbeat/module/traefik/health/health.go
Labels: Metricbeat, module, review, v6.4.0, v7.0.0-alpha1

#7448 Cherry-pick #7379 to 6.3: Correctly parse ISO8601 dates with and without Timezone.
  CHANGELOG.asciidoc
  filebeat/input/syslog/event.go
  filebeat/input/syslog/parser.go
  filebeat/input/syslog/parser.rl
  filebeat/input/syslog/parser_test.go
  filebeat/input/syslog/syslog_rfc3164.rl
Labels: backport, review

#7677 Report k8s pct metrics from enrichment process
  CHANGELOG.asciidoc
  NOTICE.txt
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/util/kubernetes.go
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/vendor/github.com/gogo/protobuf/LICENSE
  metricbeat/vendor/github.com/gogo/protobuf/proto/Makefile
  metricbeat/vendor/github.com/gogo/protobuf/proto/clone.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/custom_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/decode.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/discard.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/duration.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/duration_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/encode.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/encode_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/equal.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/extensions.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/extensions_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/lib.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/lib_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/message_set.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/pointer_reflect.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/pointer_reflect_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/pointer_unsafe.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/pointer_unsafe_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/properties.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/properties_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/skip_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/table_marshal.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/table_marshal_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/table_merge.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/table_unmarshal.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/table_unmarshal_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/text.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/text_gogo.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/text_parser.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/timestamp.go
  metricbeat/vendor/github.com/gogo/protobuf/proto/timestamp_gogo.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/LICENSE
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/OWNERS
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/amount.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/generated.pb.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/generated.proto
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/math.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/quantity.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/quantity_proto.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/scale_int.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/suffix.go
  metricbeat/vendor/github.com/kubernetes/apimachinery/pkg/api/resource/zz_generated.deepcopy.go
  metricbeat/vendor/gopkg.in/inf.v0/LICENSE
  metricbeat/vendor/gopkg.in/inf.v0/dec.go
  metricbeat/vendor/gopkg.in/inf.v0/rounder.go
  metricbeat/vendor/vendor.json
Labels: enhancement, k8s, module, review, v6.4.0

#7679 Fix misspell in Beats repo
  filebeat/registrar/registrar.go
  filebeat/scripts/generator/fields/main.go
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kibana/fields.go
  metricbeat/module/kibana/stats/_meta/fields.yml
Labels: review

#7665 Update sarama (kafka client) to 1.17
  CHANGELOG.asciidoc
  NOTICE.txt
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/version.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  vendor/github.com/Shopify/sarama/CHANGELOG.md
  vendor/github.com/Shopify/sarama/LICENSE
  vendor/github.com/Shopify/sarama/Makefile
  vendor/github.com/Shopify/sarama/README.md
  vendor/github.com/Shopify/sarama/broker.go
  vendor/github.com/Shopify/sarama/client.go
  vendor/github.com/Shopify/sarama/config.go
  vendor/github.com/Shopify/sarama/consumer.go
  vendor/github.com/Shopify/sarama/consumer_metadata_request.go
  vendor/github.com/Shopify/sarama/consumer_metadata_response.go
  vendor/github.com/Shopify/sarama/delete_groups_request.go
  vendor/github.com/Shopify/sarama/delete_groups_response.go
  vendor/github.com/Shopify/sarama/delete_records_request.go
  vendor/github.com/Shopify/sarama/delete_records_response.go
  vendor/github.com/Shopify/sarama/delete_topics_request.go
  vendor/github.com/Shopify/sarama/errors.go
  vendor/github.com/Shopify/sarama/fetch_request.go
  vendor/github.com/Shopify/sarama/fetch_response.go
  vendor/github.com/Shopify/sarama/find_coordinator_request.go
  vendor/github.com/Shopify/sarama/find_coordinator_response.go
  vendor/github.com/Shopify/sarama/join_group_request.go
  vendor/github.com/Shopify/sarama/join_group_response.go
  vendor/github.com/Shopify/sarama/message.go
  vendor/github.com/Shopify/sarama/metadata_request.go
  vendor/github.com/Shopify/sarama/metadata_response.go
  vendor/github.com/Shopify/sarama/mockresponses.go
  vendor/github.com/Shopify/sarama/offset_commit_request.go
  vendor/github.com/Shopify/sarama/offset_commit_response.go
  vendor/github.com/Shopify/sarama/offset_fetch_request.go
  vendor/github.com/Shopify/sarama/offset_fetch_response.go
  vendor/github.com/Shopify/sarama/offset_request.go
  vendor/github.com/Shopify/sarama/offset_response.go
  vendor/github.com/Shopify/sarama/produce_request.go
  vendor/github.com/Shopify/sarama/produce_response.go
  vendor/github.com/Shopify/sarama/produce_set.go
  vendor/github.com/Shopify/sarama/record_batch.go
  vendor/github.com/Shopify/sarama/records.go
  vendor/github.com/Shopify/sarama/request.go
  vendor/github.com/Shopify/sarama/utils.go
  vendor/vendor.json
  winlogbeat/winlogbeat.reference.yml
Labels: :Outputs, review, v6.4.0

#7599 Update go-ucfg to 0.6.1
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-ucfg/CHANGELOG.md
  vendor/github.com/elastic/go-ucfg/README.md
  vendor/github.com/elastic/go-ucfg/flag/value.go
  vendor/vendor.json
Labels: review, v6.4.0

#7686 Backport to 6.3: Add modules.d layout to getting started and fix Windows command (#6941)
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-configuring.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/metricbeat-options.asciidoc
Labels: backport, docs, review

#7675 Docs: Add deprecation check for dashboard loading.
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/dashboardsconfig.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/shared-kibana-config.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: v6.4.0

#7569 Add envoyproxy module
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/envoyproxy.asciidoc
  metricbeat/docs/modules/envoyproxy/server.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/envoyproxy/_meta/Dockerfile
  metricbeat/module/envoyproxy/_meta/config.reference.yml
  metricbeat/module/envoyproxy/_meta/config.yml
  metricbeat/module/envoyproxy/_meta/docs.asciidoc
  metricbeat/module/envoyproxy/_meta/env
  metricbeat/module/envoyproxy/_meta/envoy.json
  metricbeat/module/envoyproxy/_meta/fields.yml
  metricbeat/module/envoyproxy/_meta/test/serverstats
  metricbeat/module/envoyproxy/doc.go
  metricbeat/module/envoyproxy/fields.go
  metricbeat/module/envoyproxy/server/_meta/data.json
  metricbeat/module/envoyproxy/server/_meta/docs.asciidoc
  metricbeat/module/envoyproxy/server/_meta/fields.yml
  metricbeat/module/envoyproxy/server/data.go
  metricbeat/module/envoyproxy/server/server.go
  metricbeat/module/envoyproxy/server/server_integration_test.go
  metricbeat/module/envoyproxy/server/server_test.go
  metricbeat/modules.d/envoyproxy.yml.disabled
  metricbeat/tests/system/test_envoyproxy.py
Labels: Metricbeat, module, review

#7691 Exclude IOWait time from the CPU total
  CHANGELOG.asciidoc
  libbeat/metric/system/cpu/cpu.go
  metricbeat/docs/fields.asciidoc
  metricbeat/module/system/cpu/_meta/fields.yml
  metricbeat/module/system/fields.go
Labels: review, v6.4.0

#7645 Add support for alias field type to fields.yml
  libbeat/common/field.go
  libbeat/template/processor.go
  libbeat/template/processor_test.go
  libbeat/template/testdata/fields.yml
Labels: libbeat, review

#7694 Add jsondiff to test requirements.
  libbeat/tests/system/requirements.txt
Labels: :Infra, review

#7698 Moving Prometheus collector metricset to GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/docs/modules/prometheus/collector.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/prometheus/_meta/fields.yml
  metricbeat/module/prometheus/collector/_meta/fields.yml
  metricbeat/module/prometheus/fields.go
Labels: Metricbeat, module, review

#7693 Refactoring: extracting helper function for broader usage
  metricbeat/helper/elastic/elastic.go
  metricbeat/helper/elastic/elastic_test.go
  metricbeat/helper/xpack/xpack_test.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/stats/data.go
  metricbeat/module/kibana/stats/data_xpack.go
Labels: Metricbeat, review, v6.4.0, v7.0.0-alpha1

#7584 Add docs for the show command and backpressure_strategy options
  auditbeat/docs/modules/auditd.asciidoc
  auditbeat/module/auditd/_meta/docs.asciidoc
Labels: Auditbeat, docs, review, v6.4.0

#7663 Add Openstack Nova cloud_metadata Processor (#7649)
  CHANGELOG.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
  libbeat/processors/add_cloud_metadata/provider_openstack_nova.go
  libbeat/processors/add_cloud_metadata/provider_openstack_nova_test.go
Labels: :Processors, review

#7702 Bump version to 6.3.3
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: release, review, v6.3.3

#7638 Adding cluster_stats metricset for elasticsearch module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/elasticsearch/cluster_stats.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/elasticsearch/cluster_stats/_meta/data.json
  metricbeat/module/elasticsearch/cluster_stats/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/cluster_stats/_meta/fields.yml
  metricbeat/module/elasticsearch/cluster_stats/_meta/test/cluster_stats.630.json
  metricbeat/module/elasticsearch/cluster_stats/_meta/test/cluster_stats.700.json
  metricbeat/module/elasticsearch/cluster_stats/cluster_stats.go
  metricbeat/module/elasticsearch/cluster_stats/data.go
  metricbeat/module/elasticsearch/cluster_stats/data_test.go
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
  metricbeat/module/elasticsearch/fields.go
Labels: Metricbeat, review, v6.4.0, v7.0.0-alpha1

#7708 Update github.com/OneOfOne/xxhash
  NOTICE.txt
  vendor/vendor.json
Labels: review

#7697 Check Kibana version for stats API availability
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/tests/system/requirements.txt
  metricbeat/tests/system/test_kibana.py
Labels: Metricbeat, review, v6.4.0, v7.0.0-alpha1

#7717 clear_event_log before removing it from registry
  winlogbeat/tests/system/winlogbeat.py
Labels: Winlogbeat, flaky-test, review

#7476 Overwrite feature
  libbeat/feature/feature.go
  libbeat/feature/registry.go
  libbeat/feature/registry_test.go
Labels: libbeat, review

#7724 Make oid, id and port optional in Postgresql activity metricset
  metricbeat/module/postgresql/activity/data.go
Labels: Metricbeat, module, review

#7735 Set version to 6.5.0 in the 6.x branch
  libbeat/version/version.go
Labels: release, review, v6.5.0

#7737 Make heartbeat test error checks handle platform differences better
  heartbeat/hbtest/hbtestutil.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tcp_test.go
Labels: :Testing, Heartbeat

#7748 Refactoring: use common helper function in place of old custom ones
  metricbeat/module/elasticsearch/cluster_stats/data.go
  metricbeat/module/kibana/kibana.go
Labels: Metricbeat, needs_backport, refactoring, review, v6.5.0, v7.0.0-alpha1

#7741 Clarify unit test failures on windows
  dev-tools/jenkins_ci.ps1
Labels: :Testing, :Windows

#7740 Metricbeat: Add memcached used bytes metrics
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/memcached/fields.go
  metricbeat/module/memcached/stats/_meta/data.json
  metricbeat/module/memcached/stats/_meta/fields.yml
  metricbeat/module/memcached/stats/data.go
Labels: Metricbeat, module, review

#7713 Simplify fields.yml generator
  auditbeat/Makefile
  auditbeat/include/fields.go
  dev-tools/cmd/asset/asset.go
  dev-tools/jenkins_ci.ps1
  dev-tools/mage/fields.go
  filebeat/Makefile
  filebeat/include/fields.go
  generator/beat/{beat}/Makefile
  generator/metricbeat/Makefile
  heartbeat/Makefile
  heartbeat/include/fields.go
  libbeat/Makefile
  libbeat/generator/fields/fields.go
  libbeat/generator/fields/module_fields_collector.go
  libbeat/kibana/fields_transformer.go
  libbeat/scripts/Makefile
  libbeat/scripts/cmd/global_fields/main.go
  libbeat/tests/system/beat/beat.py
  metricbeat/Makefile
  metricbeat/include/fields/fields.go
  packetbeat/Makefile
  packetbeat/_meta/fields.yml
  packetbeat/include/fields.go
  winlogbeat/Makefile
  winlogbeat/_meta/fields.common.yml
  winlogbeat/include/fields.go
Labels: :Generator, libbeat, needs_backport, review

#7727 Remove fields collector script as not needed anymore
  metricbeat/scripts/fields_collector.py
Labels: Metricbeat, review

#7754 file_integrity module: Protect against nil errors from inotify
  CHANGELOG.asciidoc
  auditbeat/module/file_integrity/eventreader_fsnotify.go
Labels: Auditbeat, bug, review

#7759 Update CHANGELOG in the 6.x branch
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.5.0

#7758 Close changelog for 6.4.0
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.4.0

#7757 Update CHANGELOG in the master branch
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.0.0-alpha1

#7752 Documenting HTTP `headers` setting
  metricbeat/docs/metricbeat-options.asciidoc
Labels: Metricbeat, docs, needs_backport, review, v6.3.3, v6.4.0, v6.5.0, v7.0.0-alpha1

#7749 [Kibana metricset] Make integration test conditional on Kibana version
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/kibana_test.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
Labels: Metricbeat, needs_backport, review, v6.5.0, v7.0.0-alpha1

#7772 Documenting HTTP `headers` setting (#7752)
  metricbeat/docs/metricbeat-options.asciidoc
Labels: backport, review

#7771 Adding requests dependency
  dev-tools/requirements.txt
Labels: review, v6.5.0, v7.0.0-alpha1

#7750 [Kibana metricset] Make system test conditional on Kibana version
  metricbeat/tests/system/test_kibana.py
Labels: Metricbeat, needs_backport, review, v6.5.0, v7.0.0-alpha1

#7773 Documenting HTTP `headers` setting (#7752)
  metricbeat/docs/metricbeat-options.asciidoc
Labels: backport, review

#7774 Documenting HTTP `headers` setting (#7752)
  metricbeat/docs/metricbeat-options.asciidoc
Labels: backport, review

#7728 Use go run in tests to export dashboards
  dev-tools/cmd/dashboards/export_dashboards.go
  docs/devguide/newdashboards.asciidoc
  libbeat/scripts/Makefile
  libbeat/tests/system/test_dashboard.py
Labels: :Dashboards, :Testing, review

#7764 Cherry-pick #7763 to 6.4: Updating go-windows and go-sysinfo vendor packages
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-windows/CHANGELOG.md
  vendor/github.com/elastic/go-windows/doc.go
  vendor/github.com/elastic/go-windows/kernel32.go
  vendor/github.com/elastic/go-windows/psapi.go
  vendor/github.com/elastic/go-windows/utf16.go
  vendor/github.com/elastic/go-windows/zsyscall_windows.go
  vendor/vendor.json
Labels: backport, review

#7703 Adding more flexibility to describe a feature
  libbeat/feature/bundle.go
  libbeat/feature/bundle_test.go
  libbeat/feature/details.go
  libbeat/feature/feature.go
  libbeat/feature/registry_test.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/queue_reg.go
  libbeat/publisher/queue/spool/module.go
Labels: libbeat, review

#7756 Cherry-pick #7754 to 6.4: file_integrity module: Protect against nil errors from inotify
  CHANGELOG.asciidoc
  auditbeat/module/file_integrity/eventreader_fsnotify.go
Labels: backport, review

#7464 Migrate: Queue to the global registry
  libbeat/cmd/instance/beat.go
  libbeat/include/include.go
  libbeat/publisher/includes/includes.go
  libbeat/publisher/queue/feature.go
  libbeat/publisher/queue/memqueue/broker.go
  libbeat/publisher/queue/spool/module.go
Labels: libbeat, review

#7778 Cherry-pick #7713 to 6.x: Simplify fields.yml generator
  auditbeat/Makefile
  auditbeat/include/fields.go
  dev-tools/cmd/asset/asset.go
  dev-tools/jenkins_ci.ps1
  dev-tools/mage/fields.go
  filebeat/Makefile
  filebeat/include/fields.go
  generator/beat/{beat}/Makefile
  generator/metricbeat/Makefile
  heartbeat/Makefile
  heartbeat/include/fields.go
  libbeat/Makefile
  libbeat/generator/fields/fields.go
  libbeat/generator/fields/module_fields_collector.go
  libbeat/kibana/fields_transformer.go
  libbeat/scripts/Makefile
  libbeat/scripts/cmd/global_fields/main.go
  libbeat/tests/system/beat/beat.py
  metricbeat/Makefile
  metricbeat/include/fields/fields.go
  packetbeat/Makefile
  packetbeat/_meta/fields.yml
  packetbeat/include/fields.go
  winlogbeat/Makefile
  winlogbeat/_meta/fields.common.yml
  winlogbeat/include/fields.go
Labels: backport, review

#7776 Cherry-pick #7740 to 6.x: Metricbeat: Add memcached used bytes metrics
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/memcached/fields.go
  metricbeat/module/memcached/stats/_meta/data.json
  metricbeat/module/memcached/stats/_meta/fields.yml
  metricbeat/module/memcached/stats/data.go
Labels: backport, review

#7765 Cherry-pick #7763 to 6.x: Updating go-windows and go-sysinfo vendor packages
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-windows/CHANGELOG.md
  vendor/github.com/elastic/go-windows/doc.go
  vendor/github.com/elastic/go-windows/kernel32.go
  vendor/github.com/elastic/go-windows/psapi.go
  vendor/github.com/elastic/go-windows/utf16.go
  vendor/github.com/elastic/go-windows/zsyscall_windows.go
  vendor/vendor.json
Labels: backport, review

#7761 Cherry-pick #7754 to 6.x: file_integrity module: Protect against nil errors from inotify
  CHANGELOG.asciidoc
  auditbeat/module/file_integrity/eventreader_fsnotify.go
Labels: backport, review

#7710 Add custom unpack to log hints config to avoid env resolution
  CHANGELOG.asciidoc
  filebeat/autodiscover/builder/hints/config.go
Labels: k8s, libbeat, review

#7779 Show deprecated fields in documentation
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  metricbeat/module/docker/diskio/_meta/fields.yml
  metricbeat/module/docker/fields.go
  metricbeat/module/docker/network/_meta/fields.yml
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
Labels: docs, review

#7787 Cherry-pick #7727 to 6.x: Remove fields collector script as not needed anymore
  metricbeat/scripts/fields_collector.py
Labels: backport, review

#7786 Cherry-pick #7728 to 6.x: Use go run in tests to export dashboards
  dev-tools/cmd/dashboards/export_dashboards.go
  docs/devguide/newdashboards.asciidoc
  libbeat/scripts/Makefile
  libbeat/tests/system/test_dashboard.py
Labels: backport, review

#7795 Fix flaky generator tests, no git users
  generator/common/Makefile
Labels: :Generator, :Testing, review
