Repository elastic/beats, pull requests merged in 2018-08, with the labels that each got.

#7804 Disable fields.asciidoc generator for libbeat
  libbeat/scripts/Makefile
Labels: libbeat, review

#7826 Force use of old osx image
  .travis.yml
Labels: :Testing

#7767 Add kafka common fields at the module level
  CHANGELOG.asciidoc
  NOTICE.txt
  dev-tools/generate_notice.py
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kafka/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/_meta/data.json
  metricbeat/module/kafka/consumergroup/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/consumergroup/consumergroup_integration_test.go
  metricbeat/module/kafka/fields.go
  metricbeat/module/kafka/partition/_meta/data.json
  metricbeat/module/kafka/partition/_meta/fields.yml
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kafka/partition/partition_integration_test.go
  vendor/github.com/bsm/sarama-cluster/Gopkg.lock
  vendor/github.com/bsm/sarama-cluster/Gopkg.toml
  vendor/github.com/bsm/sarama-cluster/LICENSE
  vendor/github.com/bsm/sarama-cluster/Makefile
  vendor/github.com/bsm/sarama-cluster/README.md
  vendor/github.com/bsm/sarama-cluster/README.md.tpl
  vendor/github.com/bsm/sarama-cluster/balancer.go
  vendor/github.com/bsm/sarama-cluster/client.go
  vendor/github.com/bsm/sarama-cluster/cluster.go
  vendor/github.com/bsm/sarama-cluster/config.go
  vendor/github.com/bsm/sarama-cluster/consumer.go
  vendor/github.com/bsm/sarama-cluster/doc.go
  vendor/github.com/bsm/sarama-cluster/offsets.go
  vendor/github.com/bsm/sarama-cluster/partitions.go
  vendor/github.com/bsm/sarama-cluster/util.go
  vendor/vendor.json
Labels: Metricbeat, module, needs_backport, review

#7820 Fix goroutine leak in SubOutlet
  CHANGELOG.asciidoc
  filebeat/channel/util.go
Labels: Filebeat, bug, needs_backport, review

#7816 Detailed information about number of files
  libbeat/docs/outputconfig.asciidoc
Labels: docs, needs_backport, review

#6782 Socket summary module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/docs/modules/system/socket_summary.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/system/fields.go
  metricbeat/module/system/socket_summary/_meta/docs.asciidoc
  metricbeat/module/system/socket_summary/_meta/fields.yml
  metricbeat/module/system/socket_summary/socket_summary.go
  metricbeat/module/system/socket_summary/socket_summary_test.go
  metricbeat/tests/system/test_system.py
Labels: Metricbeat, module, review

#7845 Fix autodiscover appenders example indentation
  libbeat/docs/shared-autodiscover.asciidoc
Labels: bug, docs, k8s, needs_backport, review, v6.4.0, v6.5.0, v7.0.0-alpha1

#7684 Make usage field passthrough
  metricbeat/module/kibana/stats/_meta/test/stats-legacy.700.json
  metricbeat/module/kibana/stats/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack_test.go
  metricbeat/module/kibana/stats/stats.go
Labels: Metricbeat, review, v6.5.0, v7.0.0-alpha1

#7864 Trim space from debug selectors in -d
  CHANGELOG.asciidoc
  libbeat/logp/core.go
  libbeat/logp/core_test.go
Labels: libbeat, review

#7865 Update to github.com/miekg/dns v1.0.8
  NOTICE.txt
  packetbeat/protos/dns/dns.go
  vendor/github.com/miekg/dns/CONTRIBUTORS
  vendor/github.com/miekg/dns/Gopkg.lock
  vendor/github.com/miekg/dns/Gopkg.toml
  vendor/github.com/miekg/dns/Makefile.fuzz
  vendor/github.com/miekg/dns/Makefile.release
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/clientconfig.go
  vendor/github.com/miekg/dns/compress_generate.go
  vendor/github.com/miekg/dns/dane.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/fuzz.go
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_generate.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/reverse.go
  vendor/github.com/miekg/dns/sanitize.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/scanner.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/smimea.go
  vendor/github.com/miekg/dns/tlsa.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/types_generate.go
  vendor/github.com/miekg/dns/udp.go
  vendor/github.com/miekg/dns/udp_linux.go
  vendor/github.com/miekg/dns/udp_other.go
  vendor/github.com/miekg/dns/udp_plan9.go
  vendor/github.com/miekg/dns/udp_windows.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/xfr.go
  vendor/github.com/miekg/dns/zcompress.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/golang.org/x/crypto/ed25519/ed25519.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/const.go
  vendor/golang.org/x/crypto/ed25519/internal/edwards25519/edwards25519.go
  vendor/vendor.json
Labels: Packetbeat, review

#7866 Install virtualenv in OSX travis builds
  .travis.yml
Labels: :Testing, review

#7837 Beatless initial PR
  .travis.yml
  Makefile
  libbeat/scripts/Makefile
  x-pack/beatless/.gitignore
  x-pack/beatless/Makefile
  x-pack/beatless/_meta/beat.yml
  x-pack/beatless/_meta/fields.yml
  x-pack/beatless/beater/beatless.go
  x-pack/beatless/beatless.reference.yml
  x-pack/beatless/beatless.yml
  x-pack/beatless/bus/bus.go
  x-pack/beatless/bus/bus_test.go
  x-pack/beatless/cmd/root.go
  x-pack/beatless/config/config.go
  x-pack/beatless/config/config_test.go
  x-pack/beatless/docs/fields.asciidoc
  x-pack/beatless/docs/index.asciidoc
  x-pack/beatless/include/fields.go
  x-pack/beatless/magefile.go
  x-pack/beatless/main.go
  x-pack/beatless/main_test.go
  x-pack/beatless/make.bat
  x-pack/beatless/tests/system/beatless.py
  x-pack/beatless/tests/system/config/beatless.yml.j2
  x-pack/beatless/tests/system/requirements.txt
  x-pack/beatless/tests/system/test_base.py
Labels: Beatless, review

#7861 Forward port to 6.3: Fix anchor ID in docs
  auditbeat/docs/setting-up-running.asciidoc
  filebeat/docs/setting-up-running.asciidoc
  heartbeat/docs/setting-up-running.asciidoc
  metricbeat/docs/setting-up-running.asciidoc
  packetbeat/docs/setting-up-running.asciidoc
  winlogbeat/docs/setting-up-running.asciidoc
Labels: backport, docs, review

#7858 Forward port to 6.2: Fix anchor ID in docs
  auditbeat/docs/setting-up-running.asciidoc
  filebeat/docs/setting-up-running.asciidoc
  heartbeat/docs/setting-up-running.asciidoc
  metricbeat/docs/setting-up-running.asciidoc
  packetbeat/docs/setting-up-running.asciidoc
  winlogbeat/docs/setting-up-running.asciidoc
Labels: backport, docs, review

#7857 Forward port to 6.1: Fix anchor ID in docs
  auditbeat/docs/setting-up-running.asciidoc
  filebeat/docs/setting-up-running.asciidoc
  heartbeat/docs/setting-up-running.asciidoc
  metricbeat/docs/setting-up-running.asciidoc
  packetbeat/docs/setting-up-running.asciidoc
  winlogbeat/docs/setting-up-running.asciidoc
Labels: backport, docs, review

#7854 Update Packetbeat and Heartbeat screen captures
  auditbeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  heartbeat/docs/images/heartbeat-statistics.png
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/images/packetbeat-statistics.png
  winlogbeat/docs/getting-started.asciidoc
Labels: docs, needs_backport, review

#7856 Fix anchor ID in docs
  auditbeat/docs/setting-up-running.asciidoc
  filebeat/docs/setting-up-running.asciidoc
  heartbeat/docs/setting-up-running.asciidoc
  metricbeat/docs/setting-up-running.asciidoc
  packetbeat/docs/setting-up-running.asciidoc
  winlogbeat/docs/setting-up-running.asciidoc
Labels: docs, review

#7813 Add info to support cloud config
  auditbeat/docs/getting-started.asciidoc
  filebeat/docs/filebeat-modules-options.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/config-option-intro.asciidoc
  filebeat/docs/include/enable-modules-command.asciidoc
  filebeat/docs/include/list-modules-command.asciidoc
  filebeat/docs/include/run-command.asciidoc
  filebeat/docs/include/running-modules.asciidoc
  filebeat/docs/include/set-paths.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  filebeat/docs/include/visualize-data.asciidoc
  filebeat/docs/modules-getting-started.asciidoc
  filebeat/docs/modules/apache2.asciidoc
  filebeat/docs/modules/auditd.asciidoc
  filebeat/docs/modules/icinga.asciidoc
  filebeat/docs/modules/iis.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/docs/modules/logstash.asciidoc
  filebeat/docs/modules/mongodb.asciidoc
  filebeat/docs/modules/mysql.asciidoc
  filebeat/docs/modules/nginx.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/docs/modules/postgresql.asciidoc
  filebeat/docs/modules/redis.asciidoc
  filebeat/docs/modules/system.asciidoc
  filebeat/docs/modules/traefik.asciidoc
  filebeat/module/apache2/_meta/docs.asciidoc
  filebeat/module/auditd/_meta/docs.asciidoc
  filebeat/module/icinga/_meta/docs.asciidoc
  filebeat/module/iis/_meta/docs.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/logstash/_meta/docs.asciidoc
  filebeat/module/mongodb/_meta/docs.asciidoc
  filebeat/module/mysql/_meta/docs.asciidoc
  filebeat/module/nginx/_meta/docs.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  filebeat/module/postgresql/_meta/docs.asciidoc
  filebeat/module/redis/_meta/docs.asciidoc
  filebeat/module/system/_meta/docs.asciidoc
  filebeat/module/traefik/_meta/docs.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/gettingstarted.asciidoc
  libbeat/docs/opendashboards.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/shared-getting-started-intro.asciidoc
  libbeat/docs/step-configure-credentials.asciidoc
  libbeat/docs/step-configure-kibana-endpoint.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/docs/step-look-at-config.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  winlogbeat/docs/getting-started.asciidoc
Labels: docs, review

#7828 Cherry-pick #7826 to 6.x: Force use of old osx image
  .travis.yml
Labels: backport, review

#7834 Cherry-pick #7825 to 6.x: Fix panic in case of failing test
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: backport, review

#7869 Skip sockets summary system tests on Windows
  metricbeat/module/system/socket_summary/_meta/docs.asciidoc
  metricbeat/module/system/socket_summary/socket_summary.go
  metricbeat/tests/system/test_system.py
Labels: Metricbeat, flaky-test, module, review

#7829 Auditbeat: Add include_paths to file integrity module
  auditbeat/auditbeat.reference.yml
  auditbeat/docs/modules/file_integrity.asciidoc
  auditbeat/module/file_integrity/_meta/config.yml.tmpl
  auditbeat/module/file_integrity/_meta/docs.asciidoc
  auditbeat/module/file_integrity/config.go
  auditbeat/module/file_integrity/config_test.go
  auditbeat/module/file_integrity/eventreader_fsevents.go
  auditbeat/module/file_integrity/eventreader_fsnotify.go
  auditbeat/module/file_integrity/metricset_test.go
Labels: Auditbeat, review

#6404 Log reconnect attempts
  libbeat/monitoring/report/elasticsearch/client.go
  libbeat/outputs/backoff.go
  libbeat/outputs/console/console.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/failover.go
  libbeat/outputs/fileout/file.go
  libbeat/outputs/kafka/client.go
  libbeat/outputs/logstash/async.go
  libbeat/outputs/outputs.go
  libbeat/outputs/redis/client.go
  libbeat/outputs/transport/client.go
  libbeat/publisher/pipeline/output.go
  libbeat/publisher/pipeline/stress/out.go
Labels: libbeat, review

#7875 Cherry-pick #7820 to 6.4: Fix goroutine leak in SubOutlet
  CHANGELOG.asciidoc
  filebeat/channel/util.go
Labels: backport, review

#7853 Replace freeport with independent impl.
  NOTICE.txt
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tcp_test.go
  libbeat/testing/available_port.go
  vendor/github.com/phayes/freeport/LICENSE.md
  vendor/github.com/phayes/freeport/README.md
  vendor/github.com/phayes/freeport/freeport.go
  vendor/vendor.json
Labels: libbeat, review

#7798 Document HTTP endpoint
  auditbeat/docs/configuring-howto.asciidoc
  filebeat/docs/configuring-howto.asciidoc
  heartbeat/docs/configuring-howto.asciidoc
  libbeat/docs/http-endpoint.asciidoc
  metricbeat/docs/configuring-howto.asciidoc
  packetbeat/docs/configuring-howto.asciidoc
  winlogbeat/docs/configuring-howto.asciidoc
Labels: docs, libbeat, needs_backport, review, v6.4.0, v6.5.0, v7.0.0-alpha1

#7838 Indicate file location
  docs/devguide/newbeat.asciidoc
Labels: docs, needs CLA

#7890 Add missing namespace field in http server metricset
  CHANGELOG.asciidoc
  metricbeat/module/http/server/server.go
Labels: Metricbeat, module, review

#7894 Removes redundant pattern character '*' in ingest pipeline
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
Labels: Filebeat, module, review

#7863 Used named logger in condition package
  libbeat/conditions/conditions.go
  libbeat/conditions/conditions_test.go
  libbeat/conditions/equals.go
  libbeat/conditions/extractors.go
  libbeat/conditions/matcher.go
  libbeat/conditions/not.go
  libbeat/conditions/not_test.go
  libbeat/conditions/range.go
Labels: libbeat, review

#7884 Make usage field passthrough (#7684)
  metricbeat/module/kibana/stats/_meta/test/stats-legacy.700.json
  metricbeat/module/kibana/stats/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack_test.go
  metricbeat/module/kibana/stats/stats.go
Labels: backport, review

#7885 Cherry-pick #7866 to 6.4: Install virtualenv in OSX travis builds
  .travis.yml
Labels: backport, review

#7873 Fix permissions at systemd unit file
  dev-tools/packaging/package_test.go
  dev-tools/packaging/packages.yml
Labels: :Packaging

#7899 Update vendored elastic/go-libaudit
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/aucoalesce/id_lookup.go
  vendor/vendor.json
Labels: Auditbeat, bug, needs_backport, review

#7887 Allow custom port in cloud.id
  CHANGELOG.asciidoc
  libbeat/cloudid/cloudid.go
  libbeat/cloudid/cloudid_test.go
Labels: bug, needs_backport, review, v6.4.0

#7900 Cherry-pick #7899 to 6.4: Update vendored elastic/go-libaudit
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/aucoalesce/id_lookup.go
  vendor/vendor.json
Labels: backport, review

#7901 Cherry-pick #7899 to 6.x: Update vendored elastic/go-libaudit
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/aucoalesce/id_lookup.go
  vendor/vendor.json
Labels: backport, review

#7871 Recover metrics for old apache versions
  CHANGELOG.asciidoc
  metricbeat/module/apache/status/data.go
  metricbeat/tests/system/test_apache.py
Labels: Metricbeat, bug, module, needs_backport, review, v6.3.3, v6.4.0, v6.5.0

#7832 Keep raw user agent information after parsing as user_agent_raw in Filebeat modules
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache2/access/_meta/fields.yml
  filebeat/module/apache2/access/ingest/default.json
  filebeat/module/apache2/access/test/test.log-expected.json
  filebeat/module/iis/access/_meta/fields.yml
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/nginx/access/_meta/fields.yml
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/traefik/access/_meta/fields.yml
  filebeat/module/traefik/access/ingest/pipeline.json
  filebeat/module/traefik/access/test/test.log-expected.json
Labels: Filebeat, module, needs_backport, review

#7904 Cherry-pick #7887 to 6.4: Allow custom port in cloud.id
  CHANGELOG.asciidoc
  libbeat/cloudid/cloudid.go
  libbeat/cloudid/cloudid_test.go
Labels: backport, review

#7905 Cherry-pick #7887 to 6.x: Allow custom port in cloud.id
  CHANGELOG.asciidoc
  libbeat/cloudid/cloudid.go
  libbeat/cloudid/cloudid_test.go
Labels: backport, review

#7907 Remove beta label from add_kubernetes_metadata docs
  libbeat/docs/processors-using.asciidoc
Labels: docs, needs_backport, review

#7893 Deregister pipeline loader callback when inputsRunner is stopped
  CHANGELOG.asciidoc
  filebeat/fileset/factory.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/elasticsearch/elasticsearch_test.go
Labels: Filebeat, libbeat, needs_backport, review

#7840 Add fcntl64 to the default seccomp policy for 32-bit binaries
  CHANGELOG.asciidoc
  libbeat/common/seccomp/policy_linux_386.go
  libbeat/common/seccomp/seccomp-profiler-allow.txt
  libbeat/scripts/Makefile
Labels: Packetbeat, bug, needs_backport, review

#7593 Update shared-docker.asciidoc
  libbeat/docs/shared-docker.asciidoc
Labels: docs, libbeat, needs_backport

#7924 Backport to 6.2: Remove beta label from add_kubernetes_metadata docs (#7907)
  libbeat/docs/processors-using.asciidoc
Labels: backport, docs, review

#7921 Backport to 6.3: Fix duplicated module headers (#7650)
  metricbeat/docs/modules/kvm.asciidoc
  metricbeat/docs/modules/munin.asciidoc
  metricbeat/docs/modules/uwsgi.asciidoc
  metricbeat/module/kvm/_meta/docs.asciidoc
  metricbeat/module/kvm/dommemstat/_meta/docs.asciidoc
  metricbeat/module/munin/_meta/docs.asciidoc
  metricbeat/module/munin/node/_meta/docs.asciidoc
  metricbeat/module/uwsgi/_meta/docs.asciidoc
  metricbeat/scripts/module/docs.asciidoc
  metricbeat/scripts/module/metricset/docs.asciidoc
Labels: backport, docs, review

#7889 Add safeguard related statements for max_backoff setting
  filebeat/docs/inputs/input-common-file-options.asciidoc
Labels: docs, needs_backport, review

#7903 Add docs about append_fields
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/template-config.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: docs, needs_backport, review

#7878 Cherry-pick #7866 to 6.3: Install virtualenv in OSX travis builds
  .travis.yml
Labels: backport, review

#7877 Cherry-pick #7866 to 6.x: Install virtualenv in OSX travis builds
  .travis.yml
Labels: backport, review

#7876 Cherry-pick #6782 to 6.x: Socket summary module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/docs/modules/system/socket_summary.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/system/fields.go
  metricbeat/module/system/socket_summary/_meta/docs.asciidoc
  metricbeat/module/system/socket_summary/_meta/fields.yml
  metricbeat/module/system/socket_summary/socket_summary.go
  metricbeat/module/system/socket_summary/socket_summary_test.go
  metricbeat/tests/system/test_system.py
Labels: backport, review

#7852 Cherry-pick #7781 to 6.3: Add backoff support to the redis output
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  libbeat/outputs/redis/backoff.go
  libbeat/outputs/redis/client.go
  libbeat/outputs/redis/config.go
  libbeat/outputs/redis/redis.go
  libbeat/outputs/redis/redis_integration_test.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: backport, review

#7917 Cherry-pick #7840 to 6.4: Add fcntl64 to the default seccomp policy for 32-bit binaries
  CHANGELOG.asciidoc
  libbeat/common/seccomp/policy_linux_386.go
  libbeat/common/seccomp/seccomp-profiler-allow.txt
  libbeat/scripts/Makefile
Labels: backport, review

#7912 Cherry-pick #7893 to 6.4: Deregister pipeline loader callback when inputsRunner is stopped
  CHANGELOG.asciidoc
  filebeat/fileset/factory.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/elasticsearch/elasticsearch_test.go
Labels: backport, review

#7930 Cherry-pick #7767 to 6.x: Add kafka common fields at the module level
  CHANGELOG.asciidoc
  NOTICE.txt
  dev-tools/generate_notice.py
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kafka/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/_meta/data.json
  metricbeat/module/kafka/consumergroup/_meta/fields.yml
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/consumergroup/consumergroup_integration_test.go
  metricbeat/module/kafka/fields.go
  metricbeat/module/kafka/partition/_meta/data.json
  metricbeat/module/kafka/partition/_meta/fields.yml
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kafka/partition/partition_integration_test.go
  vendor/github.com/bsm/sarama-cluster/Gopkg.lock
  vendor/github.com/bsm/sarama-cluster/Gopkg.toml
  vendor/github.com/bsm/sarama-cluster/LICENSE
  vendor/github.com/bsm/sarama-cluster/Makefile
  vendor/github.com/bsm/sarama-cluster/README.md
  vendor/github.com/bsm/sarama-cluster/README.md.tpl
  vendor/github.com/bsm/sarama-cluster/balancer.go
  vendor/github.com/bsm/sarama-cluster/client.go
  vendor/github.com/bsm/sarama-cluster/cluster.go
  vendor/github.com/bsm/sarama-cluster/config.go
  vendor/github.com/bsm/sarama-cluster/consumer.go
  vendor/github.com/bsm/sarama-cluster/doc.go
  vendor/github.com/bsm/sarama-cluster/offsets.go
  vendor/github.com/bsm/sarama-cluster/partitions.go
  vendor/github.com/bsm/sarama-cluster/util.go
  vendor/vendor.json
Labels: backport, review

#7916 Added a BWC test case for cloud-id
  libbeat/cloudid/cloudid_test.go
Labels: :Testing, review

#7929 Replace index patterns in TSVB visualizations
  CHANGELOG.asciidoc
  libbeat/dashboards/es_loader.go
  libbeat/dashboards/modify_json.go
  libbeat/dashboards/modify_json_test.go
Labels: :Dashboards, bug, in progress, libbeat, needs_backport

#7664 Report kibana_settings to X-Pack Monitoring
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/stats/_meta/test/settings.700.json
  metricbeat/module/kibana/stats/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack_test.go
  metricbeat/module/kibana/stats/stats.go
Labels: Metricbeat, monitoring, needs_backport, review, v6.5.0, v7.0.0-alpha1

#7931 Cherry-pick #7929 to 6.x: Replace index patterns in TSVB visualizations
  CHANGELOG.asciidoc
  libbeat/dashboards/es_loader.go
  libbeat/dashboards/modify_json.go
  libbeat/dashboards/modify_json_test.go
Labels: backport, review

#7932 Cherry-pick #7929 to 6.4: Replace index patterns in TSVB visualizations
  CHANGELOG.asciidoc
  libbeat/dashboards/es_loader.go
  libbeat/dashboards/modify_json.go
  libbeat/dashboards/modify_json_test.go
Labels: backport, review

#7928 Update latest test environment to 6.3.2
  testing/environments/latest.yml
Labels: :Testing, review

#7913 Cherry-pick #7893 to 6.x: Deregister pipeline loader callback when inputsRunner is stopped
  CHANGELOG.asciidoc
  filebeat/fileset/factory.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/outputs/elasticsearch/elasticsearch_test.go
Labels: backport, review

#7934 Add a sync client
  x-pack/beatless/core/sync_client.go
  x-pack/beatless/core/sync_client_test.go
Labels: Beatless, in progress

#7830 [6.x] clean obsolote artifacts ingering around, fixes Jenkins builds (#7827)
  libbeat/scripts/Makefile
Labels: backport

#7943 Report kibana_settings to X-Pack Monitoring (#7664)
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/stats/_meta/test/settings.700.json
  metricbeat/module/kibana/stats/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack_test.go
  metricbeat/module/kibana/stats/stats.go
Labels: backport, review

#7883 Add missing config options to Logstash section of reference.yml
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: docs, needs_backport, review

#7783 X-Pack binaries
  CHANGELOG-developer.asciidoc
  Makefile
  auditbeat/magefile.go
  dev-tools/mage/clean.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgspecs.go
  dev-tools/packaging/packages.yml
  filebeat/magefile.go
  heartbeat/magefile.go
  metricbeat/magefile.go
  packetbeat/magefile.go
  winlogbeat/magefile.go
  x-pack/.gitignore
  x-pack/auditbeat/cmd/root.go
  x-pack/auditbeat/main.go
  x-pack/filebeat/cmd/root.go
  x-pack/filebeat/main.go
  x-pack/heartbeat/cmd/root.go
  x-pack/heartbeat/main.go
  x-pack/metricbeat/cmd/root.go
  x-pack/metricbeat/main.go
  x-pack/packetbeat/cmd/root.go
  x-pack/packetbeat/main.go
  x-pack/winlogbeat/cmd/root.go
  x-pack/winlogbeat/main.go
Labels: :Packaging, needs_backport, review, v6.5.0, v7.0.0-alpha1

#7915 Add support for HTTP encodings
  CHANGELOG.asciidoc
  packetbeat/_meta/beat.reference.yml
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.reference.yml
  packetbeat/protos/http/config.go
  packetbeat/protos/http/decode.go
  packetbeat/protos/http/http.go
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, enhancement, review

#7948 Replace golang with Go
  docs/devguide/contributing.asciidoc
  docs/devguide/create-metricset.asciidoc
  docs/devguide/creating-beat-from-metricbeat.asciidoc
  docs/devguide/metricset-details.asciidoc
  docs/devguide/modules-dev-guide.asciidoc
  docs/devguide/newbeat.asciidoc
  docs/devguide/newdashboards.asciidoc
  docs/devguide/testing.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/inputs/input-log.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/overview.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/golang/expvar/_meta/docs.asciidoc
  metricbeat/module/golang/expvar/_meta/fields.yml
  metricbeat/module/golang/fields.go
  metricbeat/module/golang/heap/_meta/fields.yml
Labels: backport, docs, needs_backport

#7822 Replace libcompose by a docker compose wrapper
  dev-tools/jenkins_ci.ps1
  libbeat/scripts/Makefile
  libbeat/tests/compose/compose.go
  libbeat/tests/compose/project.go
  libbeat/tests/compose/wrapper.go
  libbeat/tests/system/beat/compose.py
  metricbeat/Dockerfile
Labels: :Testing, discuss, libbeat, review

#7949 Minor fixes to attributes in module docs
  filebeat/docs/modules/kibana.asciidoc
  filebeat/module/kibana/_meta/docs.asciidoc
  filebeat/scripts/module/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#7971 Make kubernetes autodiscover ignore events with empty container IDs
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
Labels: k8s, review

#7965 Add debug check to logp.Logger
  CHANGELOG.asciidoc
  libbeat/logp/logger.go
Labels: enhancement, libbeat, review

#7937 Fix processor autodiscovery docs for Filebeat
  filebeat/docs/autodiscover-hints.asciidoc
Labels: Filebeat, docs, needs_backport

#7974 Fix date format in Mongodb Ingest pipeline
  CHANGELOG.asciidoc
  filebeat/module/mongodb/log/ingest/pipeline.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
Labels: Filebeat, module, needs_backport, review

#7545 Heartbeat TLS metadata
  CHANGELOG.asciidoc
  heartbeat/docs/fields.asciidoc
  heartbeat/hbtest/hbtestutil.go
  heartbeat/include/fields.go
  heartbeat/monitors/active/dialchain/_meta/fields.yml
  heartbeat/monitors/active/dialchain/tls.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tcp_test.go
  libbeat/common/mapval/is_defs.go
  libbeat/common/mapval/is_defs_test.go
  libbeat/common/mapval/path.go
  libbeat/common/mapval/path_test.go
  libbeat/common/mapval/results.go
  libbeat/common/mapval/walk.go
  libbeat/common/x509util/x509util.go
  libbeat/common/x509util/x509util_test.go
  packetbeat/protos/tls/parse.go
Labels: Heartbeat, review

#7960 Make docker input check if container strings are empty
  CHANGELOG.asciidoc
  filebeat/input/docker/input.go
Labels: Filebeat, bug, review

#7978 Cherry-pick #7974 to 6.x: Fix date format in Mongodb Ingest pipeline
  CHANGELOG.asciidoc
  filebeat/module/mongodb/log/ingest/pipeline.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
Labels: backport, review

#7954 Auditbeat: `initial_scan` action for new paths
  CHANGELOG.asciidoc
  auditbeat/_meta/fields.common.yml
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  auditbeat/module/file_integrity/action.go
  auditbeat/module/file_integrity/metricset.go
  auditbeat/module/file_integrity/metricset_test.go
  auditbeat/module/file_integrity/scanner.go
  auditbeat/module/file_integrity/scanner_test.go
Labels: Auditbeat, review

#7696 Add document for beat export dashboard
  libbeat/docs/command-reference.asciidoc
Labels: docs, libbeat, needs_backport, review

#7992 Test metricbeat kafka module with kafka 2.0.0
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/Dockerfile
  metricbeat/module/kafka/_meta/Dockerfile.1.1.0
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/tests/system/test_kafka.py
Labels: Metricbeat, module, needs_backport, review

#7810 Adding xpack code for ES cluster stats metricset
  metricbeat/helper/elastic/elastic.go
  metricbeat/module/elasticsearch/cluster_stats/cluster_stats.go
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: Metricbeat, monitoring, review, v7.0.0-alpha1

#7996 Backport to 6.4: Multiple doc changes (#7696 #7889 #7903 #7937 #7949)
  auditbeat/auditbeat.reference.yml
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/inputs/input-common-file-options.asciidoc
  filebeat/docs/modules/kibana.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/kibana/_meta/docs.asciidoc
  filebeat/scripts/module/_meta/docs.asciidoc
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/template-config.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: backport, review, v5.6.4

#8001 Fix changelog entry
  CHANGELOG.asciidoc
Labels: needs_backport, review

#8002 Cherry-pick #8001 to 6.x: Fix changelog entry
  CHANGELOG.asciidoc
Labels: backport, review

#8003 Cherry-pick #8001 to 6.4: Fix changelog entry
  CHANGELOG.asciidoc
Labels: backport, review

#8000 Adding xpack code for ES cluster stats metricset (#7810)
  metricbeat/helper/elastic/elastic.go
  metricbeat/module/elasticsearch/cluster_stats/cluster_stats.go
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: backport, review

#7950 Recommend that users avoid harvesting symlinks when files are rotated
  filebeat/docs/inputs/input-log.asciidoc
Labels: docs, needs_backport, review

#7918 Cherry-pick #7840 to 6.x: Add fcntl64 to the default seccomp policy for 32-bit binaries
  CHANGELOG.asciidoc
  libbeat/common/seccomp/policy_linux_386.go
  libbeat/common/seccomp/seccomp-profiler-allow.txt
  libbeat/scripts/Makefile
Labels: backport, review

#7969 Improve Jolokia docs and remove proxy restriction
  metricbeat/docs/modules/jolokia.asciidoc
  metricbeat/module/jolokia/_meta/docs.asciidoc
  metricbeat/module/jolokia/jmx/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#8005 Fix testify vendor to use same version for sub-packages
  NOTICE.txt
  vendor/github.com/stretchr/objx/Gopkg.lock
  vendor/github.com/stretchr/objx/Gopkg.toml
  vendor/github.com/stretchr/objx/LICENSE
  vendor/github.com/stretchr/objx/README.md
  vendor/github.com/stretchr/objx/Taskfile.yml
  vendor/github.com/stretchr/objx/accessors.go
  vendor/github.com/stretchr/objx/conversions.go
  vendor/github.com/stretchr/objx/doc.go
  vendor/github.com/stretchr/objx/map.go
  vendor/github.com/stretchr/objx/mutations.go
  vendor/github.com/stretchr/objx/security.go
  vendor/github.com/stretchr/objx/tests.go
  vendor/github.com/stretchr/objx/type_specific.go
  vendor/github.com/stretchr/objx/type_specific_codegen.go
  vendor/github.com/stretchr/objx/value.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go.tmpl
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/mock/doc.go
  vendor/github.com/stretchr/testify/mock/mock.go
  vendor/vendor.json
Labels: review

#8006 Use unique event log for Winlogbeat system tests
  winlogbeat/tests/system/winlogbeat.py
Labels: Winlogbeat, flaky-test, review

#7984 Cherry-pick #7822 to 6.x: Replace libcompose by a docker compose wrapper
  libbeat/scripts/Makefile
  libbeat/tests/compose/compose.go
  libbeat/tests/compose/project.go
  libbeat/tests/compose/wrapper.go
  libbeat/tests/system/beat/compose.py
  metricbeat/Dockerfile
Labels: backport, review

#8008 Add details to windows/service metricset test failures
  metricbeat/module/windows/service/service_integration_windows_test.go
Labels: Metricbeat, flaky-test, review

#7604 Add oplog metricset to mongodb module
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/mongodb.asciidoc
  metricbeat/docs/modules/mongodb/replstatus.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/mongodb/_meta/config.reference.yml
  metricbeat/module/mongodb/_meta/config.yml
  metricbeat/module/mongodb/fields.go
  metricbeat/module/mongodb/replstatus/_meta/data.json
  metricbeat/module/mongodb/replstatus/_meta/docs.asciidoc
  metricbeat/module/mongodb/replstatus/_meta/fields.yml
  metricbeat/module/mongodb/replstatus/data.go
  metricbeat/module/mongodb/replstatus/info.go
  metricbeat/module/mongodb/replstatus/replstatus.go
  metricbeat/module/mongodb/replstatus/replstatus_integration_test.go
  metricbeat/module/mongodb/replstatus/status.go
  metricbeat/modules.d/mongodb.yml.disabled
Labels: Metricbeat, module, review

#8030 Update Auditbeat Running on Kubernetes docs
  auditbeat/docs/running-on-kubernetes.asciidoc
  auditbeat/docs/setting-up-running.asciidoc
  deploy/kubernetes/auditbeat/auditbeat-configmap.yaml
Labels: Auditbeat, docs, k8s, needs_backport, v6.4.0

#8029 Add an example of autodiscover to deployment manifests
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset-configmap.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment-configmap.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment.yaml
  deploy/kubernetes/metricbeat/metricbeat-role.yaml
Labels: docs, enhancement, k8s, needs_backport, v6.4.0

#7961 Implement CheckConfig in RunnerFactory to make autodiscover check configs
  CHANGELOG.asciidoc
  filebeat/autodiscover/autodiscover.go
  filebeat/fileset/factory.go
  filebeat/input/runnerfactory.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/cfgfile/list_test.go
  libbeat/cfgfile/reload.go
  metricbeat/autodiscover/autodiscover.go
  metricbeat/mb/module/factory.go
Labels: libbeat, review

#8025 Update testing env for 5.6.11
  testing/environments/args.yml
Labels: release, review

#8024 Close changelog for 5.6.11
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: release, review

#7879 Cherry-pick #7866 to 5.6: Install virtualenv in OSX travis builds
  .travis.yml
Labels: backport, review

#8038 Cherry-pick #8006 to 6.x: Use unique event log for Winlogbeat system tests
  winlogbeat/tests/system/winlogbeat.py
Labels: backport, review

#8007 Add RW lock to Winlogbeat checkpoint
  winlogbeat/checkpoint/checkpoint.go
Labels: Winlogbeat, flaky-test, review

#8044 Metricbeat: Replace ceph image from demo to daemon
  metricbeat/module/ceph/_meta/Dockerfile
Labels: :Testing, Metricbeat, module, needs_backport, review, v6.4.0

#8047 Cherry-pick #8044 to 6.4: Metricbeat: Replace ceph image from demo to daemon
  metricbeat/module/ceph/_meta/Dockerfile
Labels: backport, review

#8046 Cherry-pick #8044 to 6.x: Metricbeat: Replace ceph image from demo to daemon
  metricbeat/module/ceph/_meta/Dockerfile
Labels: backport, review

#8048 Cherry-pick #8044 to 5.6: Metricbeat: Replace ceph image from demo to daemon
  metricbeat/module/ceph/_meta/Dockerfile
Labels: backport, review

#8058 Fixed the dev-tools/set_version script
  dev-tools/set_version
Labels: needs_backport, review, v7.0.0-alpha1

#7999 Fix #7998: ignore event fields that contains a nil interface of type encoding.TextMarshaler
  libbeat/common/event.go
  libbeat/common/event_test.go
Labels: libbeat, review

#8037 Cherry-pick #8029 to 6.4: Add an example of autodiscover to deployment manifests
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset-configmap.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment-configmap.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment.yaml
  deploy/kubernetes/metricbeat/metricbeat-role.yaml
Labels: backport, review

#8012 Backport to 6.4: Doc changes (#7883 and #7950)
  auditbeat/auditbeat.reference.yml
  filebeat/docs/inputs/input-log.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: backport, docs, review

#8035 Cherry-pick #8030 to 6.4: Update Auditbeat Running on Kubernetes docs
  auditbeat/docs/running-on-kubernetes.asciidoc
  auditbeat/docs/setting-up-running.asciidoc
  deploy/kubernetes/auditbeat/auditbeat-configmap.yaml
Labels: backport, review

#8050 Cherry-pick #8028 to 6.x: Fix flakey apache module timeout test
  metricbeat/module/apache/status/status_test.go
Labels: backport, review

#8036 Fix description of host setting in kubernetes configurations
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: docs, needs_backport, review, v6.4.0

#8021 Cherry-pick #7695 to 6.x: Add fields to info metricset of Redis module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/redis/fields.go
  metricbeat/module/redis/info/_meta/fields.yml
  metricbeat/module/redis/info/data.go
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/info/info_integration_test.go
  metricbeat/module/redis/redis.go
  metricbeat/tests/system/test_redis.py
Labels: backport, review

#8020 Cherry-pick #7611 to 6.x: Add metrics metricset to MongoDB module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/mongodb.asciidoc
  metricbeat/docs/modules/mongodb/metrics.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/mongodb/_meta/config.reference.yml
  metricbeat/module/mongodb/_meta/config.yml
  metricbeat/module/mongodb/fields.go
  metricbeat/module/mongodb/metrics/_meta/data.json
  metricbeat/module/mongodb/metrics/_meta/docs.asciidoc
  metricbeat/module/mongodb/metrics/_meta/fields.yml
  metricbeat/module/mongodb/metrics/data.go
  metricbeat/module/mongodb/metrics/metrics.go
  metricbeat/module/mongodb/metrics/metrics_intergration_test.go
  metricbeat/modules.d/mongodb.yml.disabled
Labels: backport, review

#8059 Bump version to 5.6.12 in the 5.6 branch
  dev-tools/packer/version.yml
  filebeat/filebeat.template-es2x.json
  filebeat/filebeat.template-es6x.json
  filebeat/filebeat.template.json
  heartbeat/heartbeat.template-es2x.json
  heartbeat/heartbeat.template-es6x.json
  heartbeat/heartbeat.template.json
  libbeat/beat/version.go
  libbeat/libbeat.template-es6x.json
  metricbeat/metricbeat.template-es2x.json
  metricbeat/metricbeat.template-es6x.json
  metricbeat/metricbeat.template.json
  packetbeat/packetbeat.template-es2x.json
  packetbeat/packetbeat.template-es6x.json
  packetbeat/packetbeat.template.json
  winlogbeat/winlogbeat.template-es2x.json
  winlogbeat/winlogbeat.template-es6x.json
  winlogbeat/winlogbeat.template.json
Labels: in progress, release, review

#8055 Set docs to released in branch 6.4
  libbeat/docs/version.asciidoc
Labels: docs, release, review, v6.4.0

#8026 Bump docs version for 5.6.11
  libbeat/docs/version.asciidoc
Labels: docs, release, review

#8063 Cherry-pick #8036 to 6.x: Fix description of host setting in kubernetes configurations
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, review

#8057 Version bump for 6.4.1
  libbeat/version/version.go
Labels: in progress, release, review, v6.4.1

#8067 Cherry-pick #8036 to 6.4: Fix description of host setting in kubernetes configurations
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, review

#8065 Cherry-pick #7971 to 6.x: Make kubernetes autodiscover ignore events with empty container IDs
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
Labels: backport, review

#8071 Fix set_version script
  dev-tools/set_version
Labels: needs_backport, review, v7.0.0-alpha1

#8078 Fix config files in RPM spec
  CHANGELOG.asciidoc
  auditbeat/magefile.go
  metricbeat/magefile.go
  packetbeat/magefile.go
Labels: Packaging, bug, needs_backport, review

#8064 Cherry-pick #7971 to 6.4: Make kubernetes autodiscover ignore events with empty container IDs
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
Labels: backport, review

#8079 Always get a fresh copy of the go-licenser dep
  Makefile
  libbeat/scripts/Makefile
Labels: :Infra, review

#8085 Make fb BOM test lest flaky through parameterization
  filebeat/tests/system/test_harvester.py
Labels: Filebeat, flaky-test, review

#8081 Cherry-pick #8078 to 6.4: Fix config files in RPM spec
  CHANGELOG.asciidoc
  auditbeat/magefile.go
  metricbeat/magefile.go
  packetbeat/magefile.go
Labels: backport, review

#8096 Cherry-pick #7791 to 6.x: Fix flaky couchbase test
  metricbeat/module/couchbase/_meta/Dockerfile
Labels: backport, review

#8097 Cherry-pick #7791 to 6.4: Fix flaky couchbase test
  metricbeat/module/couchbase/_meta/Dockerfile
Labels: backport, review

#8098 Cherry-pick #7795 to 6.x: Fix flaky generator tests, no git users
  generator/common/Makefile
Labels: backport, review

#8099 Cherry-pick #7795 to 6.4: Fix flaky generator tests, no git users
  generator/common/Makefile
Labels: backport, review

#8093 Fix test_clean_removed_with_clean_inactive test
  filebeat/tests/system/test_registrar.py
Labels: :Testing, Filebeat, flaky-test, needs_backport, review

#7844 Fixed Support add_docker_metadata in Windows [#7797]
  CHANGELOG.asciidoc
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
Labels: Filebeat, enhancement, review

#8056 count 429s in elasticsearch output
  CHANGELOG.asciidoc
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_test.go
  libbeat/outputs/metrics.go
  libbeat/outputs/observer.go
Labels: libbeat

#8101 Increase ignore_above to 2048 for system.process.cmdline
  CHANGELOG.asciidoc
  metricbeat/module/system/fields.go
  metricbeat/module/system/process/_meta/fields.yml
Labels: Metricbeat, module, needs_backport, review

#8094 Cherry-pick #7789 to 6.x: Fix golang.heap.gc.cpu_fraction type to float
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/golang/fields.go
  metricbeat/module/golang/heap/_meta/fields.yml
Labels: backport, review

#8095 Cherry-pick #7789 to 6.4: Fix golang.heap.gc.cpu_fraction type to float
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/golang/fields.go
  metricbeat/module/golang/heap/_meta/fields.yml
Labels: backport, review

#8013 Backport to 6.3: Doc changes (#7883 #7889 #7950)
  auditbeat/auditbeat.reference.yml
  filebeat/docs/inputs/input-common-file-options.asciidoc
  filebeat/docs/inputs/input-log.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: backport, docs, review

#8107 Test modules and modules.d folder contents in resulting packages
  dev-tools/mage/pkg.go
  dev-tools/packaging/package_test.go
  filebeat/magefile.go
  metricbeat/magefile.go
Labels: :Testing, Filebeat, Metricbeat, needs_backport, review

#8113 Cherry-pick #7961 to 6.4: Implement CheckConfig in RunnerFactory to make autodiscover check configs
  CHANGELOG.asciidoc
  filebeat/autodiscover/autodiscover.go
  filebeat/fileset/factory.go
  filebeat/input/runnerfactory.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/cfgfile/list_test.go
  libbeat/cfgfile/reload.go
  metricbeat/autodiscover/autodiscover.go
  metricbeat/mb/module/factory.go
Labels: backport, review

#8092 Fix flaky clean_removed test
  filebeat/tests/system/test_registrar.py
Labels: :Testing, Filebeat, flaky-test, needs_backport, review

#8074 Wait for context finalization to provoke http timeouts on tests
  metricbeat/module/apache/status/status_test.go
  metricbeat/module/envoyproxy/server/server_test.go
Labels: Metricbeat, flaky-test, module, needs_backport, review, v6.4.1, v6.5.0

#8116 Cherry-pick #8101 to 6.x: Increase ignore_above to 2048 for system.process.cmdline
  CHANGELOG.asciidoc
  metricbeat/module/system/fields.go
  metricbeat/module/system/process/_meta/fields.yml
Labels: backport, review

#8120 Cherry-pick #8093 to 6.4: Fix test_clean_removed_with_clean_inactive test
  filebeat/tests/system/test_registrar.py
Labels: backport, review

#8119 Cherry-pick #8092 to 6.4: Fix flaky clean_removed test
  filebeat/tests/system/test_registrar.py
Labels: backport, review

#8118 Cherry-pick #8092 to 6.x: Fix flaky clean_removed test
  filebeat/tests/system/test_registrar.py
Labels: backport, review

#8087 Improve error catching for recursiveWatcher
  auditbeat/module/file_integrity/monitor/monitor.go
  auditbeat/module/file_integrity/monitor/recursive.go
  auditbeat/tests/system/test_file_integrity.py
Labels: Auditbeat, review
