Repository elastic/beats, pull requests merged in 2018-03, with the labels that each got.

#6423 Update Makefile add python-env to fields
  filebeat/Makefile
Labels: needs CLA, review

#6487 add_kubernetes_metadata: Do not process nil pod events
  CHANGELOG.asciidoc
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Labels: :Processors, bug, libbeat, review

#6500 Filebeat module generator: add missing file
  filebeat/scripts/generator/module/main.go
  filebeat/scripts/module/_meta/config.yml
Labels: :Generator, Filebeat, review

#6479 Make the url field of heartbeat aggregatable.
  CHANGELOG.asciidoc
  heartbeat/docs/fields.asciidoc
  heartbeat/monitors/active/http/_meta/fields.yml
Labels: Heartbeat, review

#6491 Remove unnecessary double-slashes in Windows script
  CHANGELOG.asciidoc
  dev-tools/packer/platforms/windows/install-service.ps1.j2
Labels: :Packaging, Packaging, review

#6471 Making http/json metrics GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/http.asciidoc
  metricbeat/docs/modules/http/json.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/http/_meta/fields.yml
  metricbeat/module/http/json/_meta/fields.yml
  metricbeat/module/http/json/json.go
Labels: Metricbeat, review

#6432 Perfmon ignore non existent counters
  CHANGELOG.asciidoc
  metricbeat/module/windows/perfmon/_meta/docs.asciidoc
  metricbeat/module/windows/perfmon/pdh_integration_windows_test.go
  metricbeat/module/windows/perfmon/pdh_windows.go
  metricbeat/module/windows/perfmon/perfmon.go
Labels: Metricbeat, module, review

#6521 Fix mispelling of integration test file
  metricbeat/module/haproxy/stat/stat_integration_test.go
Labels: review

#6456 Preserve runtime from container statuses in Kubernetes autodiscover
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/common/kubernetes/types.go
  libbeat/common/kubernetes/types_test.go
Labels: libbeat, review

#6415 Fix Kubernetes dashboard views for non default time ranges
  CHANGELOG.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-overview.json
Labels: Metricbeat, bug, in progress, needs_backport, v6.2.2, v6.3.0

#6527 Cherry-pick #6415 to 6.2: Fix Kubernetes dashboard views for non default time ranges
  CHANGELOG.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/6/dashboard/Metricbeat-kubernetes-overview.json
Labels: backport, review

#6523 Cherry-pick #6508 to 6.2: update build image from debian 6 to 7
  dev-tools/packer/.gitignore
  dev-tools/packer/Makefile
  dev-tools/packer/docker/xgo-image-deb6/base/sources.list
  dev-tools/packer/docker/xgo-image-deb7/.gitignore
  dev-tools/packer/docker/xgo-image-deb7/base/Dockerfile
  dev-tools/packer/docker/xgo-image-deb7/base/bootstrap.sh
  dev-tools/packer/docker/xgo-image-deb7/base/bootstrap_pure.sh
  dev-tools/packer/docker/xgo-image-deb7/base/build_deps.sh
  dev-tools/packer/docker/xgo-image-deb7/base/fetch.sh
  dev-tools/packer/docker/xgo-image-deb7/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image-deb7/beats-builder/gopacket_pcap.patch
  dev-tools/packer/docker/xgo-image-deb7/build.sh
  dev-tools/packer/docker/xgo-image-deb7/go-1.9.2/Dockerfile
  libbeat/scripts/Makefile
Labels: :Packaging, backport, review

#6526 Add a warning message about emptyDir in Kubernetes manifests
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
Labels: docs, review

#6504 Fix infinite failure on Kubernetes watch
  CHANGELOG.asciidoc
  libbeat/common/kubernetes/watcher.go
Labels: bug, libbeat, needs_backport, v6.2.3, v6.3.0

#6481 Cleanup Metricbeat composer and Makefile
  .travis.yml
  metricbeat/Makefile
  metricbeat/docker-compose.yml
Labels: :Infra, :Testing, review

#6530 Cherry-pick #6504 to 6.2: Fix infinite failure on Kubernetes watch
  CHANGELOG.asciidoc
  libbeat/common/kubernetes/watcher.go
Labels: backport, review

#6434 Add `safemapstr.Put`
  libbeat/common/mapstr.go
  libbeat/common/safemapstr/safemapstr.go
  libbeat/common/safemapstr/safemapstr_test.go
Labels: enhancement, libbeat, review

#6532 Remove unused packer deb6 files
  dev-tools/packer/docker/xgo-image-deb6/build.sh
  dev-tools/packer/docker/xgo-image-deb6/go-1.9.2/Dockerfile
Labels: review

#6533 Remove unused packer deb6 files
  dev-tools/packer/docker/xgo-image-deb6/build.sh
  dev-tools/packer/docker/xgo-image-deb6/go-1.9.2/Dockerfile
Labels: review

#6510 Describe accurate default val in libbeat reference.yml.
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/queueconfig.asciidoc
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: libbeat, review

#6490 Use safe put for k8s metadata
  CHANGELOG.asciidoc
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  metricbeat/module/kubernetes/event/event.go
Labels: Metricbeat, libbeat, review

#6480 Metricbeat/HTTP: Support array in http/json metricset
  CHANGELOG.asciidoc
  metricbeat/docs/modules/http.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/http/_meta/config.yml
  metricbeat/module/http/_meta/test/main.go
  metricbeat/module/http/json/_meta/data.json
  metricbeat/module/http/json/_meta/test/config.yml
  metricbeat/module/http/json/json.go
  metricbeat/module/http/json/json_integration_test.go
  metricbeat/modules.d/http.yml.disabled
Labels: module, review

#5945 Enable system tests for auditbeat
  auditbeat/Dockerfile
  auditbeat/Makefile
  auditbeat/docker-compose.yml
  auditbeat/module/file_integrity/monitor/filetree_test.go
  auditbeat/module/file_integrity/monitor/monitor_test.go
  auditbeat/tests/system/auditbeat.py
  auditbeat/tests/system/test_base.py
Labels: Auditbeat, review

#6529 [6.x] Make normalization processor optional (#6513)
  libbeat/beat/event.go
  libbeat/beat/pipeline.go
  libbeat/publisher/pipeline/processor.go
  libbeat/publisher/pipeline/processor_test.go
Labels: backport, libbeat, review

#6501 Do not build internal metrics without CGO
  CHANGELOG.asciidoc
  libbeat/cmd/instance/metrics.go
  libbeat/cmd/instance/metrics_common.go
  libbeat/cmd/instance/metrics_other.go
Labels: libbeat, needs_backport, review

#6417 Update Ingest pipelines if enabled
  docs/devguide/modules-dev-guide.asciidoc
  filebeat/beater/filebeat.go
  filebeat/cmd/root.go
  filebeat/crawler/crawler.go
  filebeat/fileset/factory.go
  filebeat/fileset/modules.go
  filebeat/fileset/modules_integration_test.go
Labels: Filebeat, review

#6143 Removing beta label from jolokia/jmx metricset
  CHANGELOG.asciidoc
  metricbeat/docs/modules/jolokia.asciidoc
  metricbeat/docs/modules/jolokia/jmx.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/jolokia/_meta/fields.yml
  metricbeat/module/jolokia/jmx/_meta/fields.yml
  metricbeat/module/jolokia/jmx/jmx.go
Labels: Metricbeat, module, review

#6024 Add support for setting fields in the config file
  CHANGELOG.asciidoc
  libbeat/common/field.go
  libbeat/common/field_test.go
  libbeat/docs/template-config.asciidoc
  libbeat/template/config.go
  libbeat/template/template.go
  libbeat/template/template_test.go
Labels: libbeat, review

#6449 Rename *.time metrics to *.time_ms
  CHANGELOG.asciidoc
  libbeat/cmd/instance/metrics.go
Labels: libbeat, review

#6469 Add appender support to autodiscover
  CHANGELOG.asciidoc
  filebeat/autodiscover/builder/logs/logs.go
  filebeat/docs/autodiscover-builder-config.asciidoc
  libbeat/autodiscover/appender.go
  libbeat/autodiscover/appender_test.go
  libbeat/autodiscover/appenders/config/config.go
  libbeat/autodiscover/appenders/config/config_test.go
  libbeat/autodiscover/appenders/registry.go
  libbeat/autodiscover/config.go
  libbeat/autodiscover/providers/docker/config.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/kubernetes/config.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/registry.go
  libbeat/docs/shared-autodiscover.asciidoc
  metricbeat/autodiscover/appender/kubernetes/token/config.go
  metricbeat/autodiscover/appender/kubernetes/token/token.go
  metricbeat/autodiscover/appender/kubernetes/token/token_test.go
  metricbeat/autodiscover/builder/metrics/metrics.go
  metricbeat/autodiscover/include.go
  metricbeat/docs/autodiscover-builder-config.asciidoc
Labels: libbeat, review

#6547 Add json.ignore_decoding_error to not log decoding errors
  CHANGELOG.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  filebeat/harvester/reader/json.go
  filebeat/harvester/reader/json_config.go
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/test_json.py
  libbeat/tests/system/beat/beat.py
Labels: Filebeat, review

#6548 Switch elastic/procfs to prometheus/procfs
  NOTICE.txt
  auditbeat/module/auditd/audit_linux_test.go
  metricbeat/module/system/raid/raid.go
  metricbeat/module/system/socket/ptable.go
  vendor/github.com/elastic/procfs/AUTHORS.md
  vendor/github.com/elastic/procfs/Makefile
  vendor/github.com/elastic/procfs/fs.go
  vendor/github.com/elastic/procfs/stat.go
  vendor/github.com/prometheus/procfs/CONTRIBUTING.md
  vendor/github.com/prometheus/procfs/LICENSE
  vendor/github.com/prometheus/procfs/MAINTAINERS.md
  vendor/github.com/prometheus/procfs/Makefile
  vendor/github.com/prometheus/procfs/NOTICE
  vendor/github.com/prometheus/procfs/README.md
  vendor/github.com/prometheus/procfs/buddyinfo.go
  vendor/github.com/prometheus/procfs/doc.go
  vendor/github.com/prometheus/procfs/fixtures.ttar
  vendor/github.com/prometheus/procfs/fs.go
  vendor/github.com/prometheus/procfs/internal/util/parse.go
  vendor/github.com/prometheus/procfs/ipvs.go
  vendor/github.com/prometheus/procfs/mdstat.go
  vendor/github.com/prometheus/procfs/mountstats.go
  vendor/github.com/prometheus/procfs/net_dev.go
  vendor/github.com/prometheus/procfs/nfs/nfs.go
  vendor/github.com/prometheus/procfs/nfs/parse.go
  vendor/github.com/prometheus/procfs/nfs/parse_nfs.go
  vendor/github.com/prometheus/procfs/nfs/parse_nfsd.go
  vendor/github.com/prometheus/procfs/proc.go
  vendor/github.com/prometheus/procfs/proc_io.go
  vendor/github.com/prometheus/procfs/proc_limits.go
  vendor/github.com/prometheus/procfs/proc_ns.go
  vendor/github.com/prometheus/procfs/proc_stat.go
  vendor/github.com/prometheus/procfs/stat.go
  vendor/github.com/prometheus/procfs/ttar
  vendor/github.com/prometheus/procfs/xfrm.go
  vendor/github.com/prometheus/procfs/xfs/parse.go
  vendor/github.com/prometheus/procfs/xfs/xfs.go
  vendor/vendor.json
Labels: Metricbeat, libbeat, review

#6392 Typos in filebeat.migration documentation
  filebeat/docs/migration.asciidoc
Labels: docs, review

#6549 Fix snapshot builds for 5.6
  dev-tools/packer/docker/xgo-image-deb6/base/Dockerfile
  dev-tools/packer/docker/xgo-image-deb6/beats-builder/Dockerfile
Labels: :Packaging, review

#6552 Fix names in changelog
  CHANGELOG.asciidoc
Labels: review

#6554 Move MongoDB module to GA
  CHANGELOG.asciidoc
  metricbeat/docs/modules/mongodb.asciidoc
  metricbeat/docs/modules/mongodb/collstats.asciidoc
  metricbeat/docs/modules/mongodb/dbstats.asciidoc
  metricbeat/docs/modules/mongodb/status.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/mongodb/_meta/fields.yml
  metricbeat/module/mongodb/collstats/_meta/fields.yml
  metricbeat/module/mongodb/collstats/collstats.go
  metricbeat/module/mongodb/dbstats/_meta/fields.yml
  metricbeat/module/mongodb/dbstats/dbstats.go
  metricbeat/module/mongodb/status/_meta/fields.yml
  metricbeat/module/mongodb/status/status.go
Labels: Metricbeat, module

#5938 Add dashboard test loading for auditbeat
  auditbeat/docker-compose.yml
  auditbeat/tests/system/config/auditbeat.yml.j2
  auditbeat/tests/system/test_base.py
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/test_base.py
  libbeat/tests/system/beat/beat.py
  libbeat/tests/system/config/libbeat.yml.j2
  metricbeat/tests/system/config/metricbeat.yml.j2
Labels: :Testing, review

#6455 Filebeat: Makes registry_file_permission configurable
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/beater/filebeat.go
  filebeat/config/config.go
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/registrar/registrar.go
  filebeat/tests/load/filebeat.yml
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/test_registrar.py
Labels: Filebeat, in progress, review

#6542 Send available perfmon data on error
  CHANGELOG.asciidoc
  metricbeat/mb/testing/modules.go
  metricbeat/module/windows/perfmon/_meta/data.json
  metricbeat/module/windows/perfmon/_meta/docs.asciidoc
  metricbeat/module/windows/perfmon/pdh_integration_windows_test.go
  metricbeat/module/windows/perfmon/pdh_windows.go
  metricbeat/module/windows/perfmon/perfmon.go
Labels: Metricbeat, enhancement, review

#6558 Add k8s ssl example
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/modules.d/kubernetes.yml.disabled
Labels: Metricbeat, docs, review

#6553 Update screens and instructions to match latest version of Kibana
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/images/discovery-packetbeat-flows.png
  packetbeat/docs/images/discovery-packetbeat-transactions.png
  packetbeat/docs/images/filter_from_context.png
  packetbeat/docs/images/filterforval_icon.png
  packetbeat/docs/images/filteroutval_icon.png
  packetbeat/docs/images/kibana-filters.png
  packetbeat/docs/images/kibana-query-filtering.png
  packetbeat/docs/images/saved-packetbeat-searches.png
  packetbeat/docs/visualizing-data-packetbeat.asciidoc
Labels: docs, review

#6567 Fix config reload example
  auditbeat/docs/reload-configuration.asciidoc
Labels: Auditbeat, docs, needs_backport, review

#6559 Move Filebeat iis dashboard in correct directory
  filebeat/module/iis/_meta/kibana/default/6/Filebeat-iis.json
Labels: :Dashboards, Filebeat, review

#6557 Remove additional slash in shared-directory-layout
  libbeat/docs/shared-directory-layout.asciidoc
Labels: docs, libbeat, review

#6563 Fix data race in harvester termination
  filebeat/input/log/harvester.go
Labels: Filebeat, bug, review

#6576 [6.2] Packetbeat HTTP parsing fails on empty status phrase.
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, backport, bug, review

#6545 Use safemapstr.Put for docker labels
  CHANGELOG.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/docker/_meta/config.yml
  metricbeat/module/docker/config.go
  metricbeat/module/docker/container/container.go
  metricbeat/module/docker/container/data.go
  metricbeat/module/docker/cpu/cpu.go
  metricbeat/module/docker/cpu/helper.go
  metricbeat/module/docker/diskio/diskio.go
  metricbeat/module/docker/diskio/diskio_test.go
  metricbeat/module/docker/diskio/helper.go
  metricbeat/module/docker/healthcheck/data.go
  metricbeat/module/docker/healthcheck/healthcheck.go
  metricbeat/module/docker/helper.go
  metricbeat/module/docker/helper_test.go
  metricbeat/module/docker/image/data.go
  metricbeat/module/docker/image/image.go
  metricbeat/module/docker/memory/helper.go
  metricbeat/module/docker/memory/memory.go
  metricbeat/module/docker/memory/memory_test.go
  metricbeat/module/docker/network/helper.go
  metricbeat/module/docker/network/network.go
  metricbeat/modules.d/docker.yml.disabled
Labels: Metricbeat, review

#6566 Fix `state_container` metrics when several containers have the same name
  metricbeat/module/kubernetes/state_container/data.go
  metricbeat/module/kubernetes/state_container/state_container_test.go
Labels: Metricbeat, bug, review

#6574 Queuetest improvements
  libbeat/publisher/queue/memqueue/queue_test.go
  libbeat/publisher/queue/queuetest/producer_cancel.go
  libbeat/publisher/queue/queuetest/queuetest.go
Labels: review

#6571 Update testing env for 6.1.4
  testing/environments/args.yml
Labels: release, review, v6.1.4

#6570 Close changelog for 6.1.4
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: release, review, v6.1.4

#6569 Update testing env for 6.2.3
  testing/environments/args.yml
Labels: release, review, v6.2.3

#6568 Close changelog for 6.2.3
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: release, review, v6.2.3

#6517 Metricbeat: Add munin module
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/munin.asciidoc
  metricbeat/docs/modules/munin/node.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/munin/_meta/Dockerfile
  metricbeat/module/munin/_meta/config.yml
  metricbeat/module/munin/_meta/docs.asciidoc
  metricbeat/module/munin/_meta/env
  metricbeat/module/munin/_meta/fields.yml
  metricbeat/module/munin/_meta/munin-node.conf
  metricbeat/module/munin/doc.go
  metricbeat/module/munin/munin.go
  metricbeat/module/munin/munin_test.go
  metricbeat/module/munin/node/_meta/docs.asciidoc
  metricbeat/module/munin/node/_meta/fields.yml
  metricbeat/module/munin/node/node.go
  metricbeat/modules.d/munin.yml.disabled
  metricbeat/tests/system/test_munin.py
Labels: Metricbeat, docs, enhancement, module, review

#6565 Add new community beat vaultbeat
  libbeat/docs/communitybeats.asciidoc
Labels: libbeat, review

#6589 Mark the system.syslog.message field as text
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/system/auth/_meta/fields.yml
  filebeat/module/system/syslog/_meta/fields.yml
Labels: Filebeat, bug, review

#6593 Remove unused TESTING_ENVIRONMENT varible from metricbeat
  metricbeat/Makefile
Labels: :Testing, review

#6579 Cherry-pick #6217 to 6.2: Fix event_logs.processors config being rejected
  CHANGELOG.asciidoc
  winlogbeat/eventlog/factory.go
  winlogbeat/tests/system/config/winlogbeat.yml.j2
  winlogbeat/tests/system/test_eventlogging.py
  winlogbeat/tests/system/test_wineventlog.py
Labels: backport, review

#6592 Change auditbeat dashboards tests in 6.x to latest
  auditbeat/Makefile
Labels: :Testing, review

#6588 Fix SSL config generation for metrics builder
  metricbeat/autodiscover/builder/metrics/metrics.go
Labels: Metricbeat, review

#6583 Updated dependency `github.com/tsg/gopacket`
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/tsg/gopacket/afpacket/afpacket.go
  vendor/github.com/tsg/gopacket/layers/lldp.go
  vendor/github.com/tsg/gopacket/pcap/pcap.go
  vendor/github.com/tsg/gopacket/pcap/pcap_poll_common.go
  vendor/github.com/tsg/gopacket/pcap/pcap_poll_linux.go
  vendor/vendor.json
Labels: Packetbeat, bug, review

#6590 Fix docker autodiscover hint generation autodiscover logging
  libbeat/autodiscover/appenders/registry.go
  libbeat/autodiscover/builder.go
  libbeat/autodiscover/builder/helper.go
  libbeat/autodiscover/builder/helper_test.go
  libbeat/autodiscover/builder/plugin.go
  libbeat/autodiscover/providers/docker/config.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_test.go
  libbeat/autodiscover/providers/kubernetes/config.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: k8s, libbeat, review

#6560 Configuration to allow users to retry loading dashboards
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/cmd/instance/beat.go
  libbeat/dashboards/config.go
  libbeat/dashboards/dashboards.go
  libbeat/dashboards/kibana_loader.go
  libbeat/docs/dashboardsconfig.asciidoc
  libbeat/service/service.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: :Dashboards, libbeat, review

#6450 Metricbeat: Support multiple apache status page versions
  CHANGELOG.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/apache.asciidoc
  metricbeat/module/apache/_meta/Dockerfile.2.4.12
  metricbeat/module/apache/_meta/docs.asciidoc
  metricbeat/module/apache/_meta/env
  metricbeat/module/apache/status/data.go
  metricbeat/module/apache/status/status_test.go
  metricbeat/tests/system/test_apache.py
Labels: Metricbeat, enhancement, review

#6599 Bump docs version for 6.2.3
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, release, review

#6600 Bump docs version for 6.1.4
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/_meta/kibana/default/index-pattern/libbeat.json
  libbeat/docs/version.asciidoc
Labels: docs, release, review

#6598 Fix types in host.os fields
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  heartbeat/docs/fields.asciidoc
  libbeat/processors/add_host_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  winlogbeat/docs/fields.asciidoc
Labels: :Processors, libbeat, review

#6610 Bump version to 6.1.5 in the 6.1 branch
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: release, review

#6612 Bump version to 6.2.4 in the 6.2 branch
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: release, review

#6564 Fix timings in `kubernetes` module cache cleaning
  CHANGELOG.asciidoc
  metricbeat/module/kubernetes/util/metrics_cache.go
  metricbeat/module/kubernetes/util/metrics_cache_test.go
Labels: Metricbeat, review

#6614 Update hosts example
  metricbeat/docs/running-on-docker.asciidoc
Labels: Metricbeat, docs, module, review

#6609 Stop if autodiscover configuration is wrong
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  metricbeat/tests/system/test_autodiscover.py
Labels: k8s, review

#6622 Fix license for go-digest
  NOTICE.txt
  dev-tools/generate_notice.py
Labels: :Packaging, review

#6596 Fix docker metrics discovery by converting port to int64
  libbeat/common/coerce.go
  libbeat/common/coerce_test.go
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  metricbeat/autodiscover/builder/metrics/metrics.go
Labels: k8s, libbeat, review

#6630 Revert "Revert "move compile time version information (#6050)" (#6087)"
  dev-tools/set_version
  libbeat/cmd/version.go
  libbeat/scripts/Makefile
  libbeat/version/helper.go
  libbeat/version/version.go
Labels: :Packaging, libbeat, review

#6632 Add markdown-formatted Apache 2 title fo notice generator
  dev-tools/generate_notice.py
Labels: libbeat, review

#6537 Refactor input docs
  docs/devguide/modules-dev-guide.asciidoc
  filebeat/docs/autodiscover-docker-config.asciidoc
  filebeat/docs/autodiscover-kubernetes-config.asciidoc
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/faq.asciidoc
  filebeat/docs/filebeat-filtering.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/filebeat-modules-options.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/how-filebeat-works.asciidoc
  filebeat/docs/images/filebeat.png
  filebeat/docs/inputs/input-common-file-options.asciidoc
  filebeat/docs/inputs/input-common-harvester-options.asciidoc
  filebeat/docs/inputs/input-common-options.asciidoc
  filebeat/docs/inputs/input-docker.asciidoc
  filebeat/docs/inputs/input-log.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/inputs/input-stdin.asciidoc
  filebeat/docs/inputs/input-udp.asciidoc
  filebeat/docs/load-balancing.asciidoc
  filebeat/docs/migration.asciidoc
  filebeat/docs/modules-overview.asciidoc
  filebeat/docs/multiline.asciidoc
  filebeat/docs/multiple-prospectors.asciidoc
  filebeat/docs/overview.asciidoc
  filebeat/docs/reload-configuration.asciidoc
  filebeat/docs/running-on-kubernetes.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/regexp.asciidoc
Labels: docs, review

#6647 Fix build error related to input refactoring
  docs/devguide/modules-dev-guide.asciidoc
Labels: docs, review

#6648 Fix build error related to input refactoring (#6647)
  docs/devguide/modules-dev-guide.asciidoc
Labels: docs, review

#6652 Change title for SEO
  libbeat/docs/keystore.asciidoc
Labels: docs, needs_backport, review

#6651 Indicate that Beats monitoring requires ES 6.2 or later
  libbeat/docs/monitoring/monitoring-beats.asciidoc
Labels: docs, needs_backport, review

#6650 Modify title to indicate that ingest node is used for more than logs
  libbeat/docs/shared-config-ingest.asciidoc
Labels: docs, needs_backport, review

#6604 Load ML using Kibana API
  filebeat/beater/filebeat.go
  filebeat/fileset/modules.go
  libbeat/beat/beat.go
  libbeat/cmd/instance/beat.go
  libbeat/ml-importer/importer.go
  libbeat/outputs/elasticsearch/estest/estest.go
Labels: Filebeat, review

#6631 http: support broken status line
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, needs_backport, review

#6621 Rename metrics/logs builders to `hints`
  filebeat/autodiscover/builder/hints/config.go
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/autodiscover/builder/hints/logs_test.go
  filebeat/autodiscover/include.go
  filebeat/docs/autodiscover-hints.asciidoc
  libbeat/autodiscover/appender.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/builder.go
  libbeat/autodiscover/providers/docker/config.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/kubernetes/config.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/docs/shared-autodiscover.asciidoc
  metricbeat/autodiscover/builder/hints/config.go
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  metricbeat/autodiscover/include.go
  metricbeat/docs/autodiscover-hints.asciidoc
  metricbeat/tests/system/config/metricbeat.yml.j2
  metricbeat/tests/system/test_autodiscover.py
Labels: k8s, review

#6462 Metricbeat: Support wildcards in jolokia (#6453)
  CHANGELOG.asciidoc
  metricbeat/module/jolokia/jmx/_meta/docs.asciidoc
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_response_wildcard.json
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: Metricbeat, enhancement, module, review

#6388 Update shirou/gopsutil to support golang 1.9.4
  vendor/github.com/shirou/gopsutil/disk/disk_darwin_cgo.go
Labels: in progress, review

#6636 Make `collector` default prometheus metricset
  CHANGELOG.asciidoc
  metricbeat/module/prometheus/collector/collector.go
Labels: Metricbeat, module, review

#6634 Use default metricsets in hints based autodiscover
  metricbeat/autodiscover/builder/hints/config.go
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  metricbeat/docs/autodiscover-hints.asciidoc
  metricbeat/mb/builders.go
  metricbeat/mb/registry.go
  metricbeat/mb/registry_test.go
Labels: Metricbeat, k8s, review

#6597 Update latest test env to 6.2.3
  testing/environments/latest.yml
Labels: :Testing, review

#6436 Add support for huge pages on Linux
  CHANGELOG.asciidoc
  NOTICE.txt
  libbeat/metric/system/memory/memory.go
  metricbeat/docs/fields.asciidoc
  metricbeat/module/system/memory/_meta/fields.yml
  metricbeat/module/system/memory/memory.go
  metricbeat/tests/system/test_system.py
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/README.md
  vendor/github.com/elastic/gosigar/codecov.yml
  vendor/github.com/elastic/gosigar/concrete_sigar.go
  vendor/github.com/elastic/gosigar/sigar_darwin.go
  vendor/github.com/elastic/gosigar/sigar_freebsd.go
  vendor/github.com/elastic/gosigar/sigar_interface.go
  vendor/github.com/elastic/gosigar/sigar_linux.go
  vendor/github.com/elastic/gosigar/sigar_linux_common.go
  vendor/github.com/elastic/gosigar/sigar_openbsd.go
  vendor/github.com/elastic/gosigar/sigar_stub.go
  vendor/github.com/elastic/gosigar/sigar_windows.go
  vendor/github.com/elastic/gosigar/sys/endian.go
  vendor/github.com/elastic/gosigar/sys/linux/inetdiag.go
  vendor/github.com/elastic/gosigar/sys/linux/netlink.go
  vendor/vendor.json
Labels: Metricbeat, enhancement, libbeat, review

#6667 Remove legacy uptime reporting from Winlogbeat
  winlogbeat/beater/winlogbeat.go
Labels: Winlogbeat, review

#6662 Remove double `password` and `username` in the Redis input config opt…
  CHANGELOG.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/input/redis/config.go
Labels: Filebeat, docs

#6655 Remove old reviewer notes
  filebeat/docs/inputs/input-common-harvester-options.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/docs/modules/traefik.asciidoc
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/traefik/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#6633 Do not build internal metrics without CGO (#6501)
  CHANGELOG.asciidoc
  libbeat/cmd/instance/metrics.go
  libbeat/cmd/instance/metrics_common.go
  libbeat/cmd/instance/metrics_other.go
Labels: backport, review

#6623 Update link to support matrix
  libbeat/docs/outputconfig.asciidoc
Labels: docs, needs_backport, review

#6641 Fix self metrix when containerised #6620
  libbeat/cmd/instance/metrics.go
  libbeat/metric/system/process/process.go
  libbeat/metric/system/process/process_linux.go
  libbeat/metric/system/process/process_other.go
  libbeat/metric/system/process/process_test.go
Labels: monitoring, review

#6677 Fix metric hints test
  metricbeat/autodiscover/builder/hints/metrics_test.go
Labels: :Testing, Metricbeat, review

#6670 Fix appenders typo in appender creation
  libbeat/autodiscover/appender.go
  libbeat/autodiscover/appender_test.go
Labels: k8s, libbeat, review

#6681 Fix docker prefix config typo
  libbeat/autodiscover/providers/docker/config.go
Labels: libbeat, review

#6463 Prevent to start filebeat when STDIN is used with other inputs
  CHANGELOG.asciidoc
  filebeat/beater/filebeat.go
  filebeat/config/config.go
  filebeat/config/config_test.go
  filebeat/docs/inputs/input-stdin.asciidoc
  filebeat/tests/system/test_input.py
  filebeat/tests/system/test_stdin.py
Labels: Filebeat, in progress

#6608 Metricbeat: Use system-wide ticks to calculate docker cpu usage
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/docker/cpu/_meta/fields.yml
  metricbeat/module/docker/cpu/cpu_test.go
  metricbeat/module/docker/cpu/helper.go
Labels: Metricbeat, enhancement, feedback needed, in progress, module

#6669 Set namespace as default metricset in Aerospike module
  CHANGELOG.asciidoc
  metricbeat/docs/modules/aerospike.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/aerospike/_meta/config.reference.yml
  metricbeat/module/aerospike/_meta/config.yml
  metricbeat/module/aerospike/_meta/docs.asciidoc
  metricbeat/module/aerospike/namespace/namespace.go
  metricbeat/modules.d/aerospike.yml.disabled
Labels: Metricbeat, module, review

#6673 Set `status` as default metricset in Apache module
  CHANGELOG.asciidoc
  metricbeat/docs/modules/apache.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/apache/_meta/config.reference.yml
  metricbeat/module/apache/_meta/config.yml
  metricbeat/module/apache/_meta/docs.asciidoc
  metricbeat/module/apache/status/status.go
  metricbeat/modules.d/apache.yml.disabled
Labels: Metricbeat, docs, review

#6690 Use random sentence instead of random characters in test
  winlogbeat/eventlog/bench_test.go
  winlogbeat/eventlog/wineventlog_test.go
Labels: Winlogbeat, review

#6675 Set default metricset in windows module to `service`
  CHANGELOG.asciidoc
  metricbeat/docs/modules/windows.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/windows/_meta/config.reference.yml
  metricbeat/module/windows/_meta/config.yml
  metricbeat/module/windows/_meta/docs.asciidoc
  metricbeat/module/windows/perfmon/perfmon.go
  metricbeat/module/windows/service/service.go
  metricbeat/modules.d/windows.yml.disabled
Labels: Metricbeat, docs, review

#6697 Cherry-pick #6567 to 6.2: Fix config reload example
  auditbeat/docs/reload-configuration.asciidoc
Labels: backport, review

#6707 Make cherrypick_pr and open_pr scripts add version labels
  dev-tools/cherrypick_pr
  dev-tools/open_pr
Labels: review, v7.0.0-alpha1

#6706 Cherry-pick #6165 to 6.2: Add a dev-tools/set_docs_version script
  dev-tools/set_docs_version
Labels: backport, review

#6691 allow forcing dynamic object type mapping
  CHANGELOG.asciidoc
  libbeat/common/field.go
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: enhancement, libbeat, review

#6688 Set default metricset for uwsgi module
  CHANGELOG.asciidoc
  metricbeat/docs/modules/uwsgi.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/uwsgi/_meta/config.reference.yml
  metricbeat/module/uwsgi/_meta/config.yml
  metricbeat/module/uwsgi/_meta/docs.asciidoc
  metricbeat/module/uwsgi/status/status.go
  metricbeat/modules.d/uwsgi.yml.disabled
Labels: Metricbeat, module, review

#6687 Add hex decoding to name field in audit path records
  CHANGELOG.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-libaudit/CHANGELOG.md
  vendor/github.com/elastic/go-libaudit/auparse/auparse.go
  vendor/vendor.json
Labels: Auditbeat, bug, needs_backport, review
