Repository elastic/beats, pull requests merged in 2018-02, with the labels that each got.

#6339 Update golang.org/x/crypto to 5119cf507ed5294cc409c092980c7497ee5d6fd2 (latest version on master branch)
  NOTICE.txt
  vendor/golang.org/x/crypto/ssh/terminal/util_windows.go
  vendor/vendor.json
Labels: libbeat, review

#6338 Update golang.org/x/tools to release-branch.go1.9
  NOTICE.txt
  vendor/golang.org/x/tools/go/loader/loader.go
  vendor/vendor.json
Labels: libbeat

#6290 Update Filebeat.*.yml file to use input(s) instead of prospector(s)
  filebeat/_meta/common.p2.yml
  filebeat/_meta/common.reference.p2.yml
  filebeat/filebeat.reference.yml
  filebeat/filebeat.yml
Labels: Filebeat, review

#6287 Cherry-pick #6279 to 6.1: Metricbeat, include the logstash port in the metricbeat configuration
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/logstash/_meta/config.yml
  metricbeat/modules.d/logstash.yml.disabled
Labels: backport, review

#6286 Cherry-pick #6279 to 6.2: Metricbeat, include the logstash port in the metricbeat configuration
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/logstash/_meta/config.yml
  metricbeat/modules.d/logstash.yml.disabled
Labels: backport, review

#6284 Update filebeat python tests to use the new field `input(s)` instead of `prospector(s)`
  filebeat/beater/filebeat.go
  filebeat/config/config.go
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/config/filebeat_inputs.yml.j2
  filebeat/tests/system/module/test/test/manifest.yml
  filebeat/tests/system/test_autodiscover.py
  filebeat/tests/system/test_base.py
  filebeat/tests/system/test_crawler.py
  filebeat/tests/system/test_deprecated.py
  filebeat/tests/system/test_input.py
  filebeat/tests/system/test_modules.py
  filebeat/tests/system/test_redis.py
  filebeat/tests/system/test_registrar.py
  filebeat/tests/system/test_reload_inputs.py
  filebeat/tests/system/test_reload_modules.py
  filebeat/tests/system/test_shutdown.py
  filebeat/tests/system/test_udp.py
Labels: Filebeat, review

#6343 Optimize filebeat state ID generation
  libbeat/common/file/file_other.go
  libbeat/common/file/file_other_test.go
  libbeat/common/file/file_windows.go
Labels: Filebeat, review

#6085 Add diskio and raid filtering using regular expressions
  CHANGELOG.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
  metricbeat/module/system/diskio/_meta/docs.asciidoc
  metricbeat/module/system/diskio/_meta/testdata/proc/diskstats
  metricbeat/module/system/diskio/diskio.go
  metricbeat/module/system/diskio/diskstat_linux_test.go
  metricbeat/module/system/raid/_meta/testdata/proc/mdstat
  metricbeat/module/system/raid/raid.go
  metricbeat/module/system/raid/raid_test.go
Labels: Metricbeat, discuss, in progress, module, review

#4584 Improve close_timeout logging
  filebeat/input/log/harvester.go
Labels: Filebeat, review

#6330 6.2: Fix http parsing of repeated headers
  CHANGELOG.asciidoc
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, backport, bug, review

#6350 Update latest test env to 6.2.1
  testing/environments/latest.yml
Labels: :Testing, review

#6356 Resolve attr vars in logging docs.
  libbeat/docs/loggingconfig.asciidoc
Labels: docs, libbeat, needs_backport

#6365 Add logging when monitoring cannot connect
  CHANGELOG.asciidoc
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
Labels: libbeat, needs_backport, review

#6364 Fix incorrect default type for metricbeat
  metricbeat/_meta/fields.common.yml
  metricbeat/docs/fields.asciidoc
Labels: docs, needs_backport, review

#6358 Update gettingstarted.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
Labels: docs, needs_backport, review

#6321 Enable plugins on darwin/go1.10
  libbeat/plugin/cli.go
  libbeat/plugin/cli_stub.go
  libbeat/plugin/load.go
  libbeat/plugin/load_stub.go
Labels: discuss, libbeat

#6352 5.6: Fix event formatting with missing params
  CHANGELOG.asciidoc
  winlogbeat/eventlog/eventlogging.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/eventlogging/stringinserts_windows.go
Labels: backport, bug, review

#6367 Cherry-pick #6365 to 6.2: Add logging when monitoring cannot connect
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
Labels: backport, review

#6368 Close changelog for 6.2.2
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review

#6348 [Filebeat] create-module command
  docs/devguide/modules-dev-guide.asciidoc
  filebeat/Makefile
  filebeat/scripts/fileset/config/config.yml
  filebeat/scripts/fileset/fields.yml
  filebeat/scripts/fileset/ingest/pipeline.json
  filebeat/scripts/fileset/manifest.yml
  filebeat/scripts/fileset/module-fileset.yml
  filebeat/scripts/generator/fileset/main.go
  filebeat/scripts/generator/generator.go
  filebeat/scripts/generator/module/main.go
Labels: :Generator, Filebeat

#6127 Add IIS Filebeat module
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/images/kibana-iis.png
  filebeat/docs/modules/iis.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/iis/_meta/config.reference.yml
  filebeat/module/iis/_meta/config.yml
  filebeat/module/iis/_meta/docs.asciidoc
  filebeat/module/iis/_meta/fields.yml
  filebeat/module/iis/_meta/kibana/default/dashboard/Filebeat-iis.json
  filebeat/module/iis/access/_meta/fields.yml
  filebeat/module/iis/access/config/iis-access.yml
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/manifest.yml
  filebeat/module/iis/access/test/test.log
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/_meta/fields.yml
  filebeat/module/iis/error/config/iis-error.yml
  filebeat/module/iis/error/ingest/default.json
  filebeat/module/iis/error/manifest.yml
  filebeat/module/iis/error/test/test.log
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/modules.d/iis.yml.disabled
Labels: Filebeat, module, review

#6374 Remaining updates for the changelog concerning the prospector -> inputs
  CHANGELOG.asciidoc
Labels: Filebeat, review

#6326 Update to Golang 1.9.4
  .go-version
  CHANGELOG.asciidoc
  NOTICE.txt
  Vagrantfile
  dev-tools/packer/docker/xgo-image-deb6/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image-deb6/build.sh
  dev-tools/packer/docker/xgo-image-deb6/go-1.9.4/Dockerfile
  dev-tools/packer/docker/xgo-image/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image/build.sh
  dev-tools/packer/docker/xgo-image/go-1.9.4/Dockerfile
  filebeat/Dockerfile
  generator/beat/{beat}/.travis.yml
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  libbeat/scripts/Makefile
  metricbeat/Dockerfile
  metricbeat/Makefile
  metricbeat/module/http/_meta/Dockerfile
  vendor/github.com/shirou/gopsutil/disk/disk_darwin.go
  vendor/github.com/shirou/gopsutil/disk/disk_darwin_cgo.go
  vendor/github.com/shirou/gopsutil/disk/disk_darwin_nocgo.go
  vendor/github.com/shirou/gopsutil/disk/disk_fallback.go
  vendor/github.com/shirou/gopsutil/disk/disk_freebsd.go
  vendor/github.com/shirou/gopsutil/disk/disk_linux.go
  vendor/github.com/shirou/gopsutil/disk/disk_openbsd.go
  vendor/github.com/shirou/gopsutil/disk/disk_solaris.go
  vendor/github.com/shirou/gopsutil/disk/disk_unix.go
  vendor/github.com/shirou/gopsutil/disk/disk_windows.go
  vendor/github.com/shirou/gopsutil/disk/types_freebsd.go
  vendor/github.com/shirou/gopsutil/disk/types_openbsd.go
  vendor/github.com/shirou/gopsutil/doc.go
  vendor/github.com/shirou/gopsutil/internal/common/common.go
  vendor/github.com/shirou/gopsutil/internal/common/common_darwin.go
  vendor/github.com/shirou/gopsutil/internal/common/common_freebsd.go
  vendor/github.com/shirou/gopsutil/internal/common/common_linux.go
  vendor/github.com/shirou/gopsutil/internal/common/common_openbsd.go
  vendor/github.com/shirou/gopsutil/internal/common/common_windows.go
  vendor/github.com/shirou/gopsutil/net/net.go
  vendor/github.com/shirou/gopsutil/net/net_darwin.go
  vendor/github.com/shirou/gopsutil/net/net_fallback.go
  vendor/github.com/shirou/gopsutil/net/net_freebsd.go
  vendor/github.com/shirou/gopsutil/net/net_linux.go
  vendor/github.com/shirou/gopsutil/net/net_openbsd.go
  vendor/github.com/shirou/gopsutil/net/net_unix.go
  vendor/github.com/shirou/gopsutil/net/net_windows.go
  vendor/vendor.json
Labels: libbeat, needs_backport, review

#6360 set compile time version options in package builds
  dev-tools/packer/docker/xgo-image/base/build.sh
Labels: libbeat, review

#6353 Avoid infinite loop in Kubernetes watcher
  CHANGELOG.asciidoc
  libbeat/common/kubernetes/watcher.go
Labels: bug, libbeat, review

#6387 Use sha1 instead of sha256 and fix libpcap
  dev-tools/packer/docker/xgo-image-deb6/beats-builder/gopacket_pcap.patch
  dev-tools/packer/docker/xgo-image-deb6/go-1.9.4/Dockerfile
  dev-tools/packer/docker/xgo-image/go-1.9.4/Dockerfile
Labels: bug, review

#6384 AMQP: Fix panic during parse of partial message
  CHANGELOG.asciidoc
  packetbeat/protos/amqp/amqp_parser.go
  packetbeat/protos/amqp/amqp_test.go
Labels: Packetbeat, bug, needs_backport, review

#6386 Typos in filebeat.autodiscover documentation
  filebeat/docs/autodiscover-kubernetes-config.asciidoc
Labels: Filebeat, docs

#6333 Update prometheus dependencies to latest
  CHANGELOG.asciidoc
  NOTICE.txt
  metricbeat/vendor/bitbucket.org/ww/goautoneg/Makefile
  metricbeat/vendor/bitbucket.org/ww/goautoneg/README.txt
  metricbeat/vendor/bitbucket.org/ww/goautoneg/autoneg.go
  metricbeat/vendor/github.com/golang/protobuf/proto/discard.go
  metricbeat/vendor/github.com/golang/protobuf/proto/encode.go
  metricbeat/vendor/github.com/golang/protobuf/proto/lib.go
  metricbeat/vendor/github.com/golang/protobuf/proto/text_parser.go
  metricbeat/vendor/github.com/prometheus/common/expfmt/text_parse.go
  metricbeat/vendor/github.com/prometheus/common/model/time.go
  metricbeat/vendor/vendor.json
Labels: Metricbeat, review

#6346 Filebeat in memory states registry improvements
  filebeat/input/file/state.go
  filebeat/input/file/states.go
  filebeat/input/file/states_test.go
  filebeat/input/log/input.go
  filebeat/input/log/input_other_test.go
  filebeat/registrar/registrar.go
Labels: Filebeat, review

#6379 Update filebeat kubernetes autodiscover documentation
  filebeat/docs/autodiscover-kubernetes-config.asciidoc
Labels: docs

#6340 Update golang/x/text to 4e4a3210bb54bb31f6ab2cdca2edcc0b50c420c1 (latest version on master branch)
  NOTICE.txt
  filebeat/tests/system/test_harvester.py
  vendor/golang.org/x/text/AUTHORS
  vendor/golang.org/x/text/CONTRIBUTING.md
  vendor/golang.org/x/text/CONTRIBUTORS
  vendor/golang.org/x/text/README.md
  vendor/golang.org/x/text/codereview.cfg
  vendor/golang.org/x/text/doc.go
  vendor/golang.org/x/text/encoding/charmap/charmap.go
  vendor/golang.org/x/text/encoding/charmap/maketables.go
  vendor/golang.org/x/text/encoding/charmap/tables.go
  vendor/golang.org/x/text/encoding/encoding.go
  vendor/golang.org/x/text/encoding/htmlindex/gen.go
  vendor/golang.org/x/text/encoding/htmlindex/htmlindex.go
  vendor/golang.org/x/text/encoding/htmlindex/tables.go
  vendor/golang.org/x/text/encoding/internal/identifier/gen.go
  vendor/golang.org/x/text/encoding/internal/identifier/identifier.go
  vendor/golang.org/x/text/encoding/internal/identifier/mib.go
  vendor/golang.org/x/text/encoding/japanese/eucjp.go
  vendor/golang.org/x/text/encoding/japanese/iso2022jp.go
  vendor/golang.org/x/text/encoding/japanese/maketables.go
  vendor/golang.org/x/text/encoding/japanese/shiftjis.go
  vendor/golang.org/x/text/encoding/korean/euckr.go
  vendor/golang.org/x/text/encoding/korean/maketables.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/gbk.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/hzgb2312.go
  vendor/golang.org/x/text/encoding/simplifiedchinese/maketables.go
  vendor/golang.org/x/text/encoding/traditionalchinese/big5.go
  vendor/golang.org/x/text/encoding/traditionalchinese/maketables.go
  vendor/golang.org/x/text/language/common.go
  vendor/golang.org/x/text/language/doc.go
  vendor/golang.org/x/text/language/gen_common.go
  vendor/golang.org/x/text/language/gen_index.go
  vendor/golang.org/x/text/language/index.go
  vendor/golang.org/x/text/language/language.go
  vendor/golang.org/x/text/language/maketables.go
  vendor/golang.org/x/text/language/match.go
  vendor/golang.org/x/text/language/parse.go
  vendor/golang.org/x/text/language/tables.go
  vendor/golang.org/x/text/runes/cond.go
  vendor/golang.org/x/text/runes/runes.go
  vendor/golang.org/x/text/transform/transform.go
  vendor/vendor.json
Labels: libbeat, review

#6221 Add tests for Filebeat generators && minor fixes
  filebeat/scripts/generator/fields/main.go
  filebeat/scripts/generator/fields/main_test.go
  filebeat/scripts/generator/module/main.go
Labels: :Generator, :Testing, Filebeat

#6255 Print unknown MongoDB opcodes
  packetbeat/protos/mongodb/mongodb_structs.go
  packetbeat/protos/mongodb/mongodb_test.go
Labels: Packetbeat, review

#6396 Move loadbalance example under loadbalance section
  libbeat/docs/outputconfig.asciidoc
Labels: docs, libbeat

#6332 Refactor prometheus endpoint parsing to look similar to upstream prometheus
  CHANGELOG.asciidoc
  metricbeat/helper/prometheus.go
Labels: Metricbeat, in progress, review

#6398 Fix fileset generator config.yml naming
  filebeat/scripts/generator/fileset/main.go
  filebeat/scripts/generator/generator.go
Labels: :Generator, Filebeat, review

#6256 Fix out of bounds access to slice in MongoDB parser
  CHANGELOG.asciidoc
  packetbeat/protos/mongodb/mongodb_parser.go
  packetbeat/protos/mongodb/mongodb_test.go
Labels: Packetbeat, bug, needs_backport, review

#6172 Add short ID matching to add_docker_metadata
  CHANGELOG.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/common/docker/watcher.go
  libbeat/common/docker/watcher_test.go
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
  libbeat/processors/add_docker_metadata/config.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
Labels: :Processors, libbeat, review

#6261 Ingest Pipeline tester using Simulate API
  filebeat/scripts/tester/main.go
  filebeat/scripts/tester/main_test.go
Labels: Filebeat, review

#6406 Rework MapStr.walkMap to support dotted keys
  libbeat/common/mapstr.go
  libbeat/common/mapstr_test.go
  libbeat/processors/actions/include_fields_test.go
Labels: libbeat, review

#6412 Fix conditions checking on autodiscover Docker labels
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/tests/docker/docker.go
Labels: bug, libbeat, needs_backport, review, v6.2.2, v6.3.0

#6403 Cherrypick into 5.6: #5812
  filebeat/docs/modules-overview.asciidoc
Labels: backport, docs, review

#6410 Prepare 6.2.2 release
  CHANGELOG.asciidoc
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, release, review

#6411 Prepare 5.6.8 release
  CHANGELOG.asciidoc
  libbeat/docs/release.asciidoc
  libbeat/docs/version.asciidoc
  testing/environments/args.yml
Labels: docs, release, review

#6402 Cherrypick into 5.5: PR #5812
  filebeat/docs/modules-overview.asciidoc
Labels: backport, docs, review

#6401 Cherrypick into 5.4: PR #5812
  filebeat/docs/modules-overview.asciidoc
Labels: backport, docs, review

#6420 Cherry-pick #6412 to 6.2: Fix conditions checking on autodiscover Docker labels
  CHANGELOG.asciidoc
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/tests/docker/docker.go
Labels: backport, review

#6425 Bump version to 6.2.3 in the 6.2 branch
  dev-tools/packer/version.yml
  libbeat/version/version.go
Labels: release, review

#6424 Bump version to 5.6.8 in the 5.6 branch
  dev-tools/packer/version.yml
  filebeat/filebeat.template-es2x.json
  filebeat/filebeat.template-es6x.json
  filebeat/filebeat.template.json
  heartbeat/heartbeat.template-es2x.json
  heartbeat/heartbeat.template-es6x.json
  heartbeat/heartbeat.template.json
  libbeat/beat/version.go
  libbeat/libbeat.template-es6x.json
  metricbeat/metricbeat.template-es2x.json
  metricbeat/metricbeat.template-es6x.json
  metricbeat/metricbeat.template.json
  packetbeat/packetbeat.template-es2x.json
  packetbeat/packetbeat.template-es6x.json
  packetbeat/packetbeat.template.json
  winlogbeat/winlogbeat.template-es2x.json
  winlogbeat/winlogbeat.template-es6x.json
  winlogbeat/winlogbeat.template.json
Labels: release, review

#6427 Remove unnecessary line in the changelog
  CHANGELOG.asciidoc
Labels: review

#6419 Make normalization processor optional.
  libbeat/beat/event.go
  libbeat/publisher/pipeline/processor.go
  libbeat/publisher/pipeline/processor_test.go
Labels: libbeat

#6430 Fix for kafka logger
  CHANGELOG.asciidoc
  libbeat/outputs/kafka/log.go
Labels: needs_backport

#6429 More verbose error logs for collecting monitoring metrics
  libbeat/cmd/instance/metrics.go
Labels: libbeat, needs_backport, review

#6437 Backport to 6.2: More verbose error logs for collecting monitoring metrics (#6429)
  libbeat/cmd/instance/metrics.go
Labels: backport, review

#6385 Update running-on-docker.asciidoc
  metricbeat/docs/running-on-docker.asciidoc
Labels: docs

#6184 More generic docs for use in APM Server
  .gitignore
  auditbeat/docs/index.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/dashboardsconfig.asciidoc
  libbeat/docs/index.asciidoc
  libbeat/docs/loggingconfig.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/repositories.asciidoc
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/user-access.asciidoc
  libbeat/docs/shared-env-vars.asciidoc
  libbeat/docs/shared-kibana-config.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/shared-ssl-config.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/template-config.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/index.asciidoc
  winlogbeat/docs/index.asciidoc
Labels: docs, review

#6444 Attempt to fix a transient packaging error
  dev-tools/packer/docker/xgo-image/base/Dockerfile
Labels: :Packaging, review

#6447 Remove appveyor badge and config
  .appveyor.yml
  README.md
Labels: :Testing, review

#6448 Use the tudorg/xgo-base image from docker hub
  dev-tools/packer/docker/xgo-image/build.sh
  dev-tools/packer/docker/xgo-image/push_image.md
Labels: :Packaging, review

#6347 Defer registry state cleanup
  filebeat/registrar/registrar.go
  filebeat/tests/system/test_harvester.py
Labels: Filebeat, review

#6451 Fix examples by removing old syntax
  filebeat/docs/filebeat-filtering.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  libbeat/docs/outputconfig.asciidoc
Labels: docs, review

#6435 Add Hackerbeat to community beats list
  libbeat/docs/communitybeats.asciidoc
Labels: review

#6452 Add back missing packetbeat dashboard for TLS
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-tls.json
Labels: Packetbeat, needs_backport, review

#6459 Avoid git cloning from the deb6 image
  dev-tools/packer/docker/xgo-image-deb6/.gitignore
  dev-tools/packer/docker/xgo-image-deb6/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image-deb6/build.sh
  dev-tools/vendor/github.com/tsg/gotpl/LICENSE
  dev-tools/vendor/github.com/tsg/gotpl/README.md
  dev-tools/vendor/github.com/tsg/gotpl/tpl.go
  dev-tools/vendor/gopkg.in/yaml.v2/LICENSE
  dev-tools/vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  dev-tools/vendor/gopkg.in/yaml.v2/README.md
  dev-tools/vendor/gopkg.in/yaml.v2/apic.go
  dev-tools/vendor/gopkg.in/yaml.v2/decode.go
  dev-tools/vendor/gopkg.in/yaml.v2/emitterc.go
  dev-tools/vendor/gopkg.in/yaml.v2/encode.go
  dev-tools/vendor/gopkg.in/yaml.v2/parserc.go
  dev-tools/vendor/gopkg.in/yaml.v2/readerc.go
  dev-tools/vendor/gopkg.in/yaml.v2/resolve.go
  dev-tools/vendor/gopkg.in/yaml.v2/scannerc.go
  dev-tools/vendor/gopkg.in/yaml.v2/sorter.go
  dev-tools/vendor/gopkg.in/yaml.v2/writerc.go
  dev-tools/vendor/gopkg.in/yaml.v2/yaml.go
  dev-tools/vendor/gopkg.in/yaml.v2/yamlh.go
  dev-tools/vendor/gopkg.in/yaml.v2/yamlprivateh.go
  dev-tools/vendor/vendor.json
Labels: :Packaging, review

#6461 Remove dependency on gopkg.in
  dev-tools/packer/Makefile
  dev-tools/packer/docker/xgo-image/.gitignore
  dev-tools/packer/docker/xgo-image/beats-builder/Dockerfile
  dev-tools/packer/docker/xgo-image/build.sh
Labels: :Packaging, review

#6458 Metricbeat/RabbitMQ: Adds connections metricset
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/docs/modules/rabbitmq/connection.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/rabbitmq/_meta/config.yml
  metricbeat/module/rabbitmq/_meta/testdata/connection_sample_response.json
  metricbeat/module/rabbitmq/connection/_meta/data.json
  metricbeat/module/rabbitmq/connection/_meta/docs.asciidoc
  metricbeat/module/rabbitmq/connection/_meta/fields.yml
  metricbeat/module/rabbitmq/connection/connection.go
  metricbeat/module/rabbitmq/connection/connection_integration_test.go
  metricbeat/module/rabbitmq/connection/connection_test.go
  metricbeat/module/rabbitmq/connection/data.go
  metricbeat/modules.d/rabbitmq.yml.disabled
Labels: Metricbeat, module, review

#6438 Update error message to reflect correct flow value allowed
  packetbeat/flows/worker.go
Labels: review

#6249 How Filebeat works not up-to-date on prospector types.
  filebeat/docs/filebeat-options.asciidoc
  filebeat/docs/how-filebeat-works.asciidoc
Labels: Filebeat, docs

#6183 Add script for promoting doc branch and version
  dev-tools/promote_docs
Labels: libbeat, review

#6483 Fix Metricbat running on Docker docs
  metricbeat/docs/running-on-docker.asciidoc
Labels: Metricbeat, bug, docs
