Repository elastic/beats, pull requests merged in 2019-01, with the labels that each got.

#9758 Cherry-pick #9566 to 6.x: [Heartbeat] Handle TLS certs missing notBefore/notAfter
  CHANGELOG.asciidoc
  heartbeat/monitors/active/dialchain/tls.go
  heartbeat/monitors/active/dialchain/tls_test.go
Labels: backport, review

#9769 Update magefile/mage to v1.8.0
  Makefile
  NOTICE.txt
  dev-tools/mage/common.go
  dev-tools/mage/crossbuild.go
  dev-tools/make/mage.mk
  libbeat/scripts/Makefile
  vendor/github.com/magefile/mage/README.md
  vendor/github.com/magefile/mage/build/build.go
  vendor/github.com/magefile/mage/build/doc.go
  vendor/github.com/magefile/mage/build/read.go
  vendor/github.com/magefile/mage/build/syslist.go
  vendor/github.com/magefile/mage/build/zcgo.go
  vendor/github.com/magefile/mage/internal/run.go
  vendor/github.com/magefile/mage/mage/main.go
  vendor/github.com/magefile/mage/mage/template.go
  vendor/github.com/magefile/mage/mg/deps.go
  vendor/github.com/magefile/mage/mg/errors.go
  vendor/github.com/magefile/mage/mg/runtime.go
  vendor/github.com/magefile/mage/parse/import_go1.9.go
  vendor/github.com/magefile/mage/parse/import_not_go1.9.go
  vendor/github.com/magefile/mage/parse/parse.go
  vendor/github.com/magefile/mage/parse/srcimporter/sizes.go
  vendor/github.com/magefile/mage/parse/srcimporter/srcimporter.go
  vendor/github.com/magefile/mage/sh/cmd.go
  vendor/github.com/magefile/mage/sh/helpers.go
  vendor/github.com/magefile/mage/target/target.go
  vendor/github.com/magefile/mage/types/funcs.go
  vendor/vendor.json
Labels: review

#9841 Update NOTICE file for 2019
  NOTICE.txt
Labels: review

#9804 Cherry-pick #9802 to 6.6: Remove X-Pack foo Metricbeat module from reference file
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, review

#9803 Cherry-pick #9802 to 6.x: Remove X-Pack foo Metricbeat module
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, review

#9833 Add support for ssl_request_log in apache2 module
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/apache2/access/_meta/fields.yml
  filebeat/module/apache2/access/ingest/default.json
  filebeat/module/apache2/access/test/ssl-request.log
  filebeat/module/apache2/access/test/ssl-request.log-expected.json
  filebeat/module/apache2/fields.go
Labels: :infrastructure, Filebeat, module, needs_backport, review

#9693 [Auditbeat] Report process errors
  x-pack/auditbeat/module/system/process/process.go
Labels: Auditbeat, SecOps, needs_backport, review

#9828 Cherry-pick #9797 to 6.x: Allow users to convert timezone in logstash module filesets
  CHANGELOG.asciidoc
  filebeat/module/logstash/_meta/config.yml
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/log/ingest/pipeline-plain.json
  filebeat/module/logstash/log/manifest.yml
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/config/slowlog.yml
  filebeat/module/logstash/slowlog/ingest/pipeline-plain.json
  filebeat/module/logstash/slowlog/manifest.yml
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/modules.d/logstash.yml.disabled
Labels: backport, review

#9855 Ignore timestamp in redis, haproxy and system filebeat module
  filebeat/tests/system/test_modules.py
Labels: :infrastructure

#9404 Add agent.{id,ephemeral_id} to all beat events
  CHANGELOG.next.asciidoc
  auditbeat/include/fields.go
  filebeat/include/fields.go
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/mysql/slowlog/test/mysql-5.7.22.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/tests/system/test_modules.py
  heartbeat/include/fields.go
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  libbeat/beat/info.go
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/beat_test.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/publisher/pipeline/module.go
  libbeat/tests/system/test_base.py
  metricbeat/include/fields/fields.go
  packetbeat/include/fields.go
  winlogbeat/include/fields.go
  x-pack/functionbeat/include/fields.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/api/enroll_test.go
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/tests/system/test_management.py
Labels: :uptime, ecs, enhancement, libbeat, needs_backport

#9852 Cherry-pick #9841 to 6.x: Update NOTICE file for 2019
  NOTICE.txt
Labels: backport, review

#9853 Cherry-pick #9841 to 6.6: Update NOTICE file for 2019
  NOTICE.txt
Labels: backport, review

#9862 Regenerate expectations for logs without timestamps
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/haproxy/log/test/haproxy.log-expected.json
  filebeat/module/haproxy/log/test/tcplog.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: :infrastructure, Filebeat, module, needs_backport, review

#9732 [Auditbeat] User metricset: Fetch groups by user
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/_meta/fields.yml
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, needs_backport, review

#9763 Importing changes to `os` file set from ECS Beta 2
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: ecs, review

#9858 Cherry-pick to 6.6: Ignore timestamp in redis, haproxy and system filebeat module (#9855)
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/haproxy/log/test/haproxy.log-expected.json
  filebeat/module/haproxy/log/test/tcplog.log-expected.json
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: backport, review

#9856 Add docker `event` metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/docker/event.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/docker/_meta/config.reference.yml
  metricbeat/module/docker/_meta/config.yml
  metricbeat/module/docker/event/_meta/data.json
  metricbeat/module/docker/event/_meta/docs.asciidoc
  metricbeat/module/docker/event/_meta/fields.yml
  metricbeat/module/docker/event/event.go
  metricbeat/module/docker/event/event_integration_test.go
  metricbeat/module/docker/fields.go
  metricbeat/modules.d/docker.yml.disabled
  metricbeat/tests/system/test_docker.py
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :infrastructure, Metricbeat, containers, enhancement, needs_backport, review, v6.7.0

#9870 [Auditbeat] Cherry-pick #9732 to 6.x: User metricset: Fetch groups by user
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/_meta/fields.yml
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#9872 [Auditbeat] Cherry-pick #9732 to 6.6: User metricset: Fetch groups by user
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/_meta/fields.yml
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#9844 [Auditbeat] Cherry-pick #9693 to 6.x: Report process errors
  x-pack/auditbeat/module/system/process/process.go
Labels: Auditbeat, SecOps, backport, review

#9845 [Auditbeat] Cherry-pick #9693 to 6.6: Report process errors
  x-pack/auditbeat/module/system/process/process.go
Labels: Auditbeat, SecOps, backport, review

#9863 [Auditbeat] Process metricset: Skip permission errors on Windows
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, needs_backport, review

#9838 Close handle on signalEvent
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/wineventlog.go
Labels: Winlogbeat, review

#9848 Cherry-pick to 6.x: Add support for ssl_request_log in apache2 module (#9833)
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache2/access/_meta/fields.yml
  filebeat/module/apache2/access/ingest/default.json
  filebeat/module/apache2/access/test/ssl-request.log
  filebeat/module/apache2/access/test/ssl-request.log-expected.json
Labels: backport

#9884 Replace beat binary in Elastic DMG distribution
  dev-tools/packaging/packages.yml
Labels: :Packaging, Packaging, needs_backport, review

#9843 Cherry-pick to 6.x: Fix mysql slowlog template to support mysql 5.7.22 (#9647)
  CHANGELOG.next.asciidoc
  filebeat/module/mysql/slowlog/config/slowlog.yml
  filebeat/module/mysql/slowlog/test/mysql-5.7.22.log
  filebeat/module/mysql/slowlog/test/mysql-5.7.22.log-expected.json
Labels: backport

#9889 Cherry-pick #9884 to 6.x: Replace beat binary in Elastic DMG distribution
  dev-tools/packaging/packages.yml
Labels: backport, review

#9890 Cherry-pick #9884 to 6.6: Replace beat binary in Elastic DMG distribution
  dev-tools/packaging/packages.yml
Labels: backport, review

#9888 Minor fixes to error handling
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: :Testing, Stack monitoring, needs_backport, review, v6.6.0, v7.0.0

#9886 [Auditbeat] Cherry-pick #9863 to 6.x: Process metricset: Skip permission errors on Windows
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#9887 [Auditbeat] Cherry-pick #9863 to 6.6: Process metricset: Skip permission errors on Windows
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#9891 [Netflow] Fix flow ID and locality calculation
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/netflow_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
Labels: Filebeat, SecOps, bug, needs_backport, review

#9904 Cherry-pick #9891 to 6.6: [Netflow] Fix flow ID and locality calculation
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/netflow_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
Labels: backport, review

#9893 Add missing panelsJSON to DHCPv4 dashboard
  CHANGELOG.next.asciidoc
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dhcpv4.json
Labels: :Dashboards, Packetbeat, bug, needs_backport, review

#9902 Upgrade PyYAML
  libbeat/tests/system/requirements.txt
Labels: :Testing, libbeat, review, v6.7.0, v7.0.0

#9903 Cherry-pick #9891 to 6.x: [Netflow] Fix flow ID and locality calculation
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/netflow_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
Labels: backport, review

#9892 Remove _meta/kibana.generated symlink
  dev-tools/mage/kibana.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Labels: needs_backport, review

#9898 Cherry-pick #9511 to 6.x: Minor grammatical fixes to libbeats configuration file
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, review

#9917 Cherry-pick #9892 to 6.x: Remove _meta/kibana.generated symlink
  dev-tools/mage/kibana.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Labels: backport, review

#9918 Cherry-pick #9892 to 6.6: Remove _meta/kibana.generated symlink
  dev-tools/mage/kibana.go
  dev-tools/mage/pkgtypes.go
  magefile.go
Labels: backport, review

#9878 Add two migrated fields to ecs-migration.yml from #9645.
  dev-tools/ecs-migration.yml
Labels: ecs, review

#9923 Remove duplicated import from magefile
  magefile.go
Labels: blocker, bug

#9697 [heartbeat] Set IDs explicitly
  CHANGELOG.next.asciidoc
  heartbeat/beater/heartbeat.go
  heartbeat/docs/heartbeat-options.asciidoc
  heartbeat/hbtest/hbtestutil.go
  heartbeat/monitors/active/dialchain/builder.go
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/icmp/config.go
  heartbeat/monitors/active/icmp/icmp.go
  heartbeat/monitors/active/tcp/config.go
  heartbeat/monitors/active/tcp/tcp.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/monitors/job.go
  heartbeat/monitors/mocks_test.go
  heartbeat/monitors/monitor.go
  heartbeat/monitors/monitor_test.go
  heartbeat/monitors/plugin.go
  heartbeat/monitors/pluginconf.go
  heartbeat/monitors/task.go
  heartbeat/monitors/util.go
  heartbeat/scheduler/scheduler.go
  heartbeat/tests/system/heartbeat.py
  heartbeat/tests/system/test_autodiscovery.py
  heartbeat/tests/system/test_reload.py
  libbeat/common/mapval/is_defs.go
  libbeat/common/mapval/is_defs_test.go
Labels: :uptime, Heartbeat, review

#9757 Cherry-pick #9004 to 6.x: Add monitors.d directory + config to default configuration
  CHANGELOG.next.asciidoc
  dev-tools/mage/pkg.go
  dev-tools/packaging/package_test.go
  heartbeat/_meta/beat.docker.yml
  heartbeat/_meta/beat.reference.yml
  heartbeat/_meta/beat.yml
  heartbeat/heartbeat.docker.yml
  heartbeat/heartbeat.reference.yml
  heartbeat/heartbeat.yml
  heartbeat/magefile.go
  heartbeat/monitors.d/sample.http.yml.disabled
  heartbeat/monitors.d/sample.icmp.yml.disabled
  heartbeat/monitors.d/sample.tcp.yml.disabled
Labels: Heartbeat, backport, review

#9926 [Heartbeat] Clean up some nits from Explicit IDs (9697)
  heartbeat/monitors/monitor.go
Labels: :uptime, Heartbeat, bug

#9869 Handle IPv6 zone id in IIS filebeat ingest pipeline
  CHANGELOG.next.asciidoc
  filebeat/module/iis/error/ingest/default.json
  filebeat/module/iis/error/test/ipv6_zone_id.log
  filebeat/module/iis/error/test/ipv6_zone_id.log-expected.json
Labels: :infrastructure, Filebeat, blocked, discuss, module

#9885 Cherry-pick #9657 to 6.x: Add redis key metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/images/metricbeat_redis_key_dashboard.png
  metricbeat/docs/modules/redis.asciidoc
  metricbeat/docs/modules/redis/key.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/redis/_meta/kibana/6/dashboard/Metricbeat-redis-keys.json
  metricbeat/module/redis/fields.go
  metricbeat/module/redis/key/_meta/data.json
  metricbeat/module/redis/key/_meta/docs.asciidoc
  metricbeat/module/redis/key/_meta/fields.yml
  metricbeat/module/redis/key/data.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/key/key_integration_test.go
  metricbeat/module/redis/redis.go
  metricbeat/module/redis/redis_integration_test.go
  metricbeat/tests/system/test_redis.py
Labels: backport, review

#9909 Make watcher threadpool stats optional
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, bug, needs_backport, review, v6.7.0, v7.0.0

#9911 Cherry-pick #9893 to 6.6: Add missing panelsJSON to DHCPv4 dashboard
  CHANGELOG.next.asciidoc
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dhcpv4.json
Labels: backport, review

#9937 Skip filebeat ml tests
  filebeat/tests/system/test_ml.py
Labels: review

#9795 Replace missing field names from status Metricset in MongoDB Dashboard
  CHANGELOG.asciidoc
  metricbeat/module/mongodb/_meta/kibana/6/dashboard/Metricbeat-mongodb-overview.json
Labels: :Dashboards, Metricbeat, bug, needs_backport, review

#9942 Fix and reenable ml tests
  filebeat/module/iis/error/test/ipv6_zone_id.log-expected.json
  filebeat/tests/system/test_ml.py
Labels: :Testing, Filebeat, review

#9831 Cherry-pick #9770 to 6.x: Parameterizing Painless script literals
  filebeat/module/auditd/log/ingest/pipeline.json
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/redis/log/ingest/pipeline.json
Labels: backport, review

#9896 Refactoring: Elasticsearch metricbeat module
  metricbeat/module/elasticsearch/ccr/ccr.go
  metricbeat/module/elasticsearch/index_recovery/index_recovery.go
  metricbeat/module/elasticsearch/metricset.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
  metricbeat/module/elasticsearch/pending_tasks/pending_tasks.go
Labels: Metricbeat, Stack monitoring, needs_backport, refactoring, review, v6.7.0, v7.0.0

#9927 Cherry-pick #9879 to 6.x: [Heartbeat] Cleanup monitors.d sample files
  heartbeat/monitors.d/sample.http.yml.disabled
  heartbeat/monitors.d/sample.icmp.yml.disabled
  heartbeat/monitors.d/sample.tcp.yml.disabled
Labels: backport, review

#9810 Cherry-pick #9603 to 6.x: Fixes parsing of GC entries in elasticsearch server log
  CHANGELOG.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/elasticsearch/server/_meta/fields.yml
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
Labels: backport, review

#9945 Cherry-pick #9795 to 6.x: Replace missing field names from status Metricset in MongoDB Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/module/mongodb/_meta/kibana/6/dashboard/Metricbeat-mongodb-overview.json
Labels: backport, review

#9830 Cherry-pick #9761 to 6.x: Allow users to convert timezone in elasticsearch module filesets
  CHANGELOG.next.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/elasticsearch/_meta/config.yml
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/audit/manifest.yml
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/manifest.yml
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/manifest.yml
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/manifest.yml
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/modules.d/elasticsearch.yml.disabled
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, review

#9790 Cherry-pick #9624 to 6.5: Be more strict when handling the access token
  CHANGELOG.asciidoc
  x-pack/libbeat/management/api/enroll.go
  x-pack/libbeat/management/api/enroll_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/config_test.go
Labels: backport, review

#9947 Disable migration in docker event fields
  metricbeat/module/docker/event/_meta/fields.yml
  metricbeat/module/docker/fields.go
Labels: needs_backport, review, v6.7.0

#9925 Pretty print exported dashboards to output
  dev-tools/cmd/dashboards/export_dashboards.go
  libbeat/dashboards/export.go
Labels: libbeat, review

#9932 Cherry-pick #9869 to 6.x: Handle IPv6 zone id in IIS filebeat ingest pipeline
  CHANGELOG.next.asciidoc
  filebeat/module/iis/error/ingest/default.json
  filebeat/module/iis/error/test/ipv6_zone_id.log
  filebeat/module/iis/error/test/ipv6_zone_id.log-expected.json
Labels: backport, review

#9933 Cherry-pick #9869 to 6.6: Handle IPv6 zone id in IIS filebeat ingest pipeline
  CHANGELOG.next.asciidoc
  filebeat/module/iis/error/ingest/default.json
  filebeat/module/iis/error/test/ipv6_zone_id.log
  filebeat/module/iis/error/test/ipv6_zone_id.log-expected.json
Labels: backport, review

#9873 Fix config appender registration
  libbeat/autodiscover/appenders/config/config.go
  libbeat/autodiscover/appenders/config/config_test.go
  libbeat/autodiscover/config.go
  libbeat/cmd/instance/imports.go
  metricbeat/tests/system/test_autodiscover.py
Labels: :infrastructure, bug, libbeat, needs_backport, review, v6.6.0, v6.7.0

#9959 Allow to test Logstash logs with json formatted
  filebeat/module/logstash/log/test/logstash-json.log
  filebeat/module/logstash/log/test/logstash-json.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-json.log
  filebeat/module/logstash/slowlog/test/slowlog-json.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: :infrastructure, Filebeat, module, review

#9946 Cherry-pick #9896 to 6.x: Refactoring: Elasticsearch metricbeat module
  metricbeat/module/elasticsearch/ccr/ccr.go
  metricbeat/module/elasticsearch/index_recovery/index_recovery.go
  metricbeat/module/elasticsearch/metricset.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
  metricbeat/module/elasticsearch/pending_tasks/pending_tasks.go
Labels: backport, review

#9961 Add changelog for #9873
  CHANGELOG.next.asciidoc
Labels: needs_backport, review

#9958 Support haproxy log lines without captured headers
  CHANGELOG.next.asciidoc
  filebeat/module/haproxy/log/ingest/pipeline.json
  filebeat/module/haproxy/log/test/httplog-no-headers.log
  filebeat/module/haproxy/log/test/httplog-no-headers.log-expected.json
Labels: :infrastructure, Filebeat, bug, module, needs_backport, review

#9595 [Docs] Update documentation for APM
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/shared-beats-attributes.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-logstash-config.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/shared-ssl-config.asciidoc
Labels: docs

#9974 [docs] Move APM Cloud note
  libbeat/docs/outputconfig.asciidoc
Labels: docs

#9936 Cherry-pick #9909 to 6.x: Make watcher threadpool stats optional
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport, review

#9940 [Docs] Remove duplicate metricset pages
  metricbeat/module/elasticsearch/ml_job/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/pending_tasks/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#9386 [Docs] Add topic about running Journalbeat on docker
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
  journalbeat/docs/setting-up-running.asciidoc
  libbeat/docs/shared-docker.asciidoc
Labels: docs, needs_backport, review, v6.6.0

#9900 Refactoring: Using common.Version instead of strings
  libbeat/common/version.go
  metricbeat/helper/elastic/elastic.go
  metricbeat/module/elasticsearch/ccr/ccr.go
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
  metricbeat/module/kibana/kibana.go
  metricbeat/module/kibana/kibana_test.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
Labels: Metricbeat, Stack monitoring, needs_backport, refactoring, review, v6.7.0, v7.0.0

#9913 Cherry-pick #9893 to 6.x: Add missing panelsJSON to DHCPv4 dashboard
  CHANGELOG.next.asciidoc
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dhcpv4.json
Labels: backport, review

#9943 Rename host.name to host.hostname and add config option for name
  CHANGELOG.next.asciidoc
  libbeat/metric/system/host/host.go
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/add_host_metadata/config.go
Labels: ecs, libbeat, review

#9986 Fix asset registry slice generation
  libbeat/asset/registry.go
Labels: libbeat, review

#9970 Add changelog entry for #9920
  CHANGELOG.next.asciidoc
Labels: review

#9971 [Auditbeat] Cherry-pick #9954 to 6.x: Add Windows to docs for host dataset
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, backport, review

#9972 [Auditbeat] Cherry-pick #9954 to 6.6: Add Windows to docs for host dataset
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, backport, review

#9965 Cherry-pick #9873 to 6.x: Fix config appender registration
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/appenders/config/config.go
  libbeat/autodiscover/appenders/config/config_test.go
  libbeat/autodiscover/config.go
  libbeat/cmd/instance/imports.go
  metricbeat/tests/system/test_autodiscover.py
Labels: backport, review

#9953 [Auditbeat] Sort IPv4 addresses before IPv6
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, needs_backport, review

#9826 Performance Metricset on X-Pack MSSQL Metricbeat module
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/mssql/_meta/config.yml
  x-pack/metricbeat/module/mssql/connection.go
  x-pack/metricbeat/module/mssql/fields.go
  x-pack/metricbeat/module/mssql/performance/_meta/data.json
  x-pack/metricbeat/module/mssql/performance/_meta/docs.asciidoc
  x-pack/metricbeat/module/mssql/performance/_meta/fields.yml
  x-pack/metricbeat/module/mssql/performance/data.go
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
  x-pack/metricbeat/module/mssql/performance/performance.go
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
  x-pack/metricbeat/modules.d/mssql.yml.disabled
  x-pack/metricbeat/tests/system/test_mssql.py
Labels: Metricbeat, enhancement, module, review

#9967 Add grok pattern support for iis 7.5 log format
  CHANGELOG.next.asciidoc
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/test/test-iis-7.5.log
  filebeat/module/iis/access/test/test-iis-7.5.log-expected.json
Labels: :infrastructure, Filebeat, needs_backport

#9941 [Packetbeat] Update DNS protocol to use ECS fields
  CHANGELOG.next.asciidoc
  NOTICE.txt
  dev-tools/ecs-migration.yml
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dns-tunneling.json
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-dns.json
  packetbeat/dashboards.yml
  packetbeat/pb/event.go
  packetbeat/pb/event_test.go
  packetbeat/protos/dns/dns.go
  packetbeat/protos/dns/dns_tcp_test.go
  packetbeat/protos/dns/dns_test.go
  packetbeat/protos/dns/dns_udp_test.go
  packetbeat/protos/dns/names_test.go
  packetbeat/publish/publish.go
  packetbeat/publish/publish_test.go
  packetbeat/tests/system/test_0032_dns.py
  vendor/github.com/elastic/ecs/LICENSE.txt
  vendor/github.com/elastic/ecs/NOTICE.txt
  vendor/github.com/elastic/ecs/code/go/ecs/README.md
  vendor/github.com/elastic/ecs/code/go/ecs/agent.go
  vendor/github.com/elastic/ecs/code/go/ecs/base.go
  vendor/github.com/elastic/ecs/code/go/ecs/client.go
  vendor/github.com/elastic/ecs/code/go/ecs/cloud.go
  vendor/github.com/elastic/ecs/code/go/ecs/container.go
  vendor/github.com/elastic/ecs/code/go/ecs/destination.go
  vendor/github.com/elastic/ecs/code/go/ecs/doc.go
  vendor/github.com/elastic/ecs/code/go/ecs/ecs.go
  vendor/github.com/elastic/ecs/code/go/ecs/error.go
  vendor/github.com/elastic/ecs/code/go/ecs/event.go
  vendor/github.com/elastic/ecs/code/go/ecs/file.go
  vendor/github.com/elastic/ecs/code/go/ecs/geo.go
  vendor/github.com/elastic/ecs/code/go/ecs/group.go
  vendor/github.com/elastic/ecs/code/go/ecs/host.go
  vendor/github.com/elastic/ecs/code/go/ecs/http.go
  vendor/github.com/elastic/ecs/code/go/ecs/log.go
  vendor/github.com/elastic/ecs/code/go/ecs/network.go
  vendor/github.com/elastic/ecs/code/go/ecs/observer.go
  vendor/github.com/elastic/ecs/code/go/ecs/organization.go
  vendor/github.com/elastic/ecs/code/go/ecs/os.go
  vendor/github.com/elastic/ecs/code/go/ecs/process.go
  vendor/github.com/elastic/ecs/code/go/ecs/related.go
  vendor/github.com/elastic/ecs/code/go/ecs/server.go
  vendor/github.com/elastic/ecs/code/go/ecs/service.go
  vendor/github.com/elastic/ecs/code/go/ecs/source.go
  vendor/github.com/elastic/ecs/code/go/ecs/url.go
  vendor/github.com/elastic/ecs/code/go/ecs/user.go
  vendor/github.com/elastic/ecs/code/go/ecs/user_agent.go
  vendor/github.com/elastic/ecs/code/go/ecs/version.go
  vendor/vendor.json
Labels: Packetbeat, ecs, review

#9992 Do not configure aliases in unsupported Elasticsearch versions
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: blocker, libbeat, needs_backport, review, v6.6.0

#9728 Cherry-pick #9516 to 6.x: Allow the Host header to be overriden (fixes #9376)
  CHANGELOG.next.asciidoc
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/http/task_test.go
Labels: backport, review

#9996 Cherry-pick #9992 to 6.6: Do not configure aliases in unsupported Elasticsearch versions
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: backport, blocker, review

#9997 Cherry-pick #9992 to 6.x: Do not configure aliases in unsupported Elasticsearch versions
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: backport, review

#9990 [Auditbeat] Cherry-pick #9953 to 6.x: Sort IPv4 addresses before IPv6
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, backport, review

#9570 [Heartbeat] Migrate to ECS url.* fields for 7.0.0 Release
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  heartbeat/_meta/fields.common.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/hbtest/hbtestutil.go
  heartbeat/include/fields.go
  heartbeat/monitors/active/dialchain/builder.go
  heartbeat/monitors/active/dialchain/net.go
  heartbeat/monitors/active/http/_meta/fields.yml
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/http/task.go
  heartbeat/monitors/active/icmp/icmp.go
  heartbeat/monitors/active/tcp/_meta/fields.yml
  heartbeat/monitors/active/tcp/task.go
  heartbeat/monitors/active/tcp/tcp.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/monitors/util.go
  heartbeat/monitors/util_test.go
  heartbeat/tests/system/test_reload.py
Labels: :uptime, Heartbeat, enhancement, review

#9968 Cherry-pick #9958 to 6.x: Support haproxy log lines without captured headers
  CHANGELOG.next.asciidoc
  filebeat/module/haproxy/log/ingest/pipeline.json
  filebeat/module/haproxy/log/test/httplog-no-headers.log
  filebeat/module/haproxy/log/test/httplog-no-headers.log-expected.json
Labels: backport, review

#9969 Cherry-pick #9958 to 6.6: Support haproxy log lines without captured headers
  CHANGELOG.next.asciidoc
  filebeat/module/haproxy/log/ingest/pipeline.json
  filebeat/module/haproxy/log/test/httplog-no-headers.log
  filebeat/module/haproxy/log/test/httplog-no-headers.log-expected.json
Labels: backport, review

#9960 Fix apache fields config for ECS migration
  dev-tools/ecs-migration.yml
Labels: :infrastructure, Filebeat, ecs, module, review

#9752 [CM] Gracefully handle TLS options when enrolling a beats
  CHANGELOG.next.asciidoc
  libbeat/common/config.go
  libbeat/common/transport/tlscommon/config.go
  libbeat/common/transport/tlscommon/types.go
  libbeat/kibana/client_config.go
  x-pack/libbeat/cmd/enroll.go
  x-pack/libbeat/management/api/client.go
  x-pack/libbeat/management/api/client_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/config_test.go
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: Management, needs_backport, review

#9935 Convert Filebeat logstash.* to ECS
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/module/logstash/fields.go
  filebeat/module/logstash/log/_meta/fields.yml
  filebeat/module/logstash/log/ingest/pipeline-json.json
  filebeat/module/logstash/log/ingest/pipeline-plain.json
  filebeat/module/logstash/log/test/logstash-json.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/_meta/fields.yml
  filebeat/module/logstash/slowlog/ingest/pipeline-json.json
  filebeat/module/logstash/slowlog/ingest/pipeline-plain.json
  filebeat/module/logstash/slowlog/test/slowlog-json.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
Labels: Filebeat, ecs, module

#10010 [6.x] Allow multiple object types per field. (#9772)
  CHANGELOG-developer.next.asciidoc
  libbeat/common/field.go
  libbeat/common/field_test.go
  libbeat/template/processor.go
  libbeat/template/processor_test.go
Labels: backport, review

#9991 [Auditbeat] Cherry-pick #9953 to 6.6: Sort IPv4 addresses before IPv6
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, backport, review

#9999 Cherry-pick to 6.x: Add grok pattern support for iis 7.5 log format (#9967)
  CHANGELOG.next.asciidoc
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/test/test-iis-7.5.log
  filebeat/module/iis/access/test/test-iis-7.5.log-expected.json
Labels: backport, review

#9949 Rename process.exe to process.executable for ECS
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  auditbeat/module/auditd/_meta/accept.json
  auditbeat/module/auditd/_meta/data.json
  auditbeat/module/auditd/_meta/execve.json
  auditbeat/module/auditd/_meta/fields.yml
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/fields.go
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/processors/add_process_metadata/_meta/fields.yml
  libbeat/processors/add_process_metadata/add_process_metadata.go
  libbeat/processors/add_process_metadata/add_process_metadata_test.go
  libbeat/processors/add_process_metadata/config.go
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: ecs, libbeat, review

#10007 Convert Filebeat nginx.error to ECS
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/module/nginx/error/_meta/fields.yml
  filebeat/module/nginx/error/ingest/pipeline.json
  filebeat/module/nginx/error/test/error.log-expected.json
  filebeat/module/nginx/fields.go
Labels: Filebeat, ecs, module, review

#10009 Convert Filebeat mongodb.log to ECS
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/module/mongodb/fields.go
  filebeat/module/mongodb/log/_meta/fields.yml
  filebeat/module/mongodb/log/ingest/pipeline.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
Labels: Filebeat, ecs, module, review

#10008 Convert Filebeat mysql.* to ECS
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/module/mysql/error/_meta/fields.yml
  filebeat/module/mysql/error/ingest/pipeline.json
  filebeat/module/mysql/error/test/error.log
  filebeat/module/mysql/error/test/error.log-expected.json
  filebeat/module/mysql/fields.go
  filebeat/module/mysql/slowlog/_meta/fields.yml
  filebeat/module/mysql/slowlog/ingest/pipeline.json
  filebeat/module/mysql/slowlog/test/mysql-5.7.22.log
  filebeat/module/mysql/slowlog/test/mysql-5.7.22.log-expected.json
Labels: Filebeat, ecs, module, review

#10003 configure union merge for Changelog*.next.asciidoc
  .gitattributes
Labels: needs_backport, review

#9973 Introduce add_labels and add_tags processors
  CHANGELOG.next.asciidoc
  libbeat/processors/actions/add_labels.go
  libbeat/processors/actions/add_labels_test.go
  libbeat/processors/actions/add_tags.go
  libbeat/processors/actions/add_tags_test.go
  libbeat/publisher/pipeline/processor.go
Labels: libbeat, needs_backport, review

#9402 Rename filebeat apache2 module to apache
  CHANGELOG.asciidoc
  dev-tools/cmd/module_fields/module_fields.go
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-modules-options.asciidoc
  filebeat/docs/images/kibana-apache.png
  filebeat/docs/modules/apache.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/docs/reload-configuration.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/include/list.go
  filebeat/module/apache/_meta/config.reference.yml
  filebeat/module/apache/_meta/config.yml
  filebeat/module/apache/_meta/docs.asciidoc
  filebeat/module/apache/_meta/fields.yml
  filebeat/module/apache/_meta/kibana/6/dashboard/Filebeat-apache.json
  filebeat/module/apache/access/_meta/fields.yml
  filebeat/module/apache/access/config/access.yml
  filebeat/module/apache/access/ingest/default.json
  filebeat/module/apache/access/manifest.yml
  filebeat/module/apache/access/test/darwin-2.4.23.log
  filebeat/module/apache/access/test/ssl-request.log
  filebeat/module/apache/access/test/ssl-request.log-expected.json
  filebeat/module/apache/access/test/test.log
  filebeat/module/apache/access/test/test.log-expected.json
  filebeat/module/apache/access/test/ubuntu-2.2.22.log
  filebeat/module/apache/error/_meta/fields.yml
  filebeat/module/apache/error/config/error.yml
  filebeat/module/apache/error/ingest/pipeline.json
  filebeat/module/apache/error/manifest.yml
  filebeat/module/apache/error/test/darwin-2.4.23.log
  filebeat/module/apache/error/test/test.log
  filebeat/module/apache/error/test/test.log-expected.json
  filebeat/module/apache/error/test/ubuntu-2.2.22.log
  filebeat/module/apache/fields.go
  filebeat/module/apache/module.yml
  filebeat/module/apache2/_meta/fields.yml
  filebeat/module/apache2/access/_meta/fields.yml
  filebeat/module/apache2/error/_meta/fields.yml
  filebeat/module/apache2/fields.go
  filebeat/module/apache2/module.yml
  filebeat/modules.d/apache.yml.disabled
  x-pack/filebeat/filebeat.reference.yml
Labels: :infrastructure, Filebeat, breaking change, in progress, module, v7.0.0

#10015 Cherry-pick #9752 to 6.x: [CM] Gracefully handle TLS options when enrolling a beats
  CHANGELOG.next.asciidoc
  libbeat/common/config.go
  libbeat/common/transport/tlscommon/config.go
  libbeat/common/transport/tlscommon/types.go
  libbeat/kibana/client_config.go
  x-pack/libbeat/cmd/enroll.go
  x-pack/libbeat/management/api/client.go
  x-pack/libbeat/management/api/client_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/config_test.go
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#10001 Emit error if fileset with multiple pipelines is being used with ES < 6.5
  CHANGELOG.next.asciidoc
  filebeat/fileset/pipelines.go
  filebeat/fileset/pipelines_test.go
  filebeat/fileset/test/mod/fls/pipeline-json.json
  filebeat/fileset/test/mod/fls/pipeline-plain.json
  filebeat/fileset/test/pipeline-plain.json
Labels: Filebeat, needs_backport, review, v6.7.0, v7.0.0

#10017 Cherry-pick #9752 to 6.5: [CM] Gracefully handle TLS options when enrolling a beats
  CHANGELOG.next.asciidoc
  NOTICE.txt
  libbeat/common/config.go
  libbeat/common/transport/tlscommon/config.go
  libbeat/common/transport/tlscommon/types.go
  libbeat/kibana/client_config.go
  x-pack/libbeat/cmd/enroll.go
  x-pack/libbeat/management/api/client.go
  x-pack/libbeat/management/api/client_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/config_test.go
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#10016 Cherry-pick #9752 to 6.6: [CM] Gracefully handle TLS options when enrolling a beats
  CHANGELOG.next.asciidoc
  libbeat/common/config.go
  libbeat/common/transport/tlscommon/config.go
  libbeat/common/transport/tlscommon/types.go
  libbeat/kibana/client_config.go
  x-pack/libbeat/cmd/enroll.go
  x-pack/libbeat/management/api/client.go
  x-pack/libbeat/management/api/client_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/config_test.go
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#9939 Add Dedot for Kubernetes labels and annotations
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/docs/shared-autodiscover.asciidoc
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/event/config.go
  metricbeat/module/kubernetes/event/event.go
  metricbeat/module/kubernetes/event/event_test.go
  metricbeat/modules.d/kubernetes.yml.disabled
Labels: :infrastructure, Metricbeat, in progress, needs_backport

#10025 Cherry-pick #9729 to 6.x: [CM] Allow to unenroll a beats
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/configuration.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/cache.go
  x-pack/libbeat/management/cache_test.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#10027 Cherry-pick #9729 to 6.6: [CM] Allow to unenroll a beats
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/configuration.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/cache.go
  x-pack/libbeat/management/cache_test.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#10028 Cherry-pick #9729 to 6.5: [CM] Allow to unenroll a beats
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/configuration.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/cache.go
  x-pack/libbeat/management/cache_test.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
Labels: backport, review

#9625 Enable CM integration tests
  x-pack/libbeat/management/config_test.go
  x-pack/libbeat/tests/system/test_management.py
Labels: :Testing, Management, in progress, needs_backport, review

#10011 Add more metrics to Performance Metricset on MSSQL Module
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/mssql/fields.go
  x-pack/metricbeat/module/mssql/performance/_meta/data.json
  x-pack/metricbeat/module/mssql/performance/_meta/docs.asciidoc
  x-pack/metricbeat/module/mssql/performance/_meta/fields.yml
  x-pack/metricbeat/module/mssql/performance/data.go
  x-pack/metricbeat/module/mssql/performance/performance.go
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
  x-pack/metricbeat/tests/system/test_mssql.py
Labels: :infrastructure, Metricbeat, enhancement

#10038 Cherry-pick #10001 to 6.x: Emit error if fileset with multiple pipelines is being used with ES < 6.5
  CHANGELOG.next.asciidoc
  filebeat/fileset/pipelines.go
  filebeat/fileset/pipelines_test.go
  filebeat/fileset/test/mod/fls/pipeline-json.json
  filebeat/fileset/test/mod/fls/pipeline-plain.json
  filebeat/fileset/test/pipeline-plain.json
Labels: backport, review

#10029 Backport to 6.x: Handle IPv6 zone id in IIS filebeat ingest pipeline for access logs too
  CHANGELOG.next.asciidoc
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/test/test-ipv6zone.log
  filebeat/module/iis/access/test/test-ipv6zone.log-expected.json
Labels: Filebeat, backport, module

#10030 Cherry-pick #10029 to 6.6: Handle IPv6 zone id in IIS filebeat ingest pipeline for access logs too
  CHANGELOG.next.asciidoc
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/test/test-ipv6zone.log
  filebeat/module/iis/access/test/test-ipv6zone.log-expected.json
Labels: Filebeat, backport, module

#10032 Change iis module doc to add iis 7.5 version
  filebeat/docs/modules/iis.asciidoc
  filebeat/module/iis/_meta/docs.asciidoc
Labels: :infrastructure, Filebeat, needs_backport, review

#10039 Cherry-pick to 6.x: Add Dedot for Kubernetes labels and annotations (#9939)
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/metadata.go
  libbeat/common/kubernetes/metadata_test.go
  libbeat/docs/shared-autodiscover.asciidoc
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/event/config.go
  metricbeat/module/kubernetes/event/event.go
  metricbeat/module/kubernetes/event/event_test.go
  metricbeat/modules.d/kubernetes.yml.disabled
Labels: backport, review

#10018 [Auditbeat] Change module configuration from "metricsets" to "datasets"
  auditbeat/tests/system/config/auditbeat.yml.j2
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/tests/system/auditbeat_xpack.py
Labels: Auditbeat, SecOps, needs_backport, review

#10048 [Auditbeat] Fix skipping processes on permission error
  x-pack/auditbeat/module/system/process/process.go
Labels: Auditbeat, SecOps, bug, review

#10033 Add grok pattern to support different timestamp fmt in redis log
  CHANGELOG.next.asciidoc
  filebeat/module/redis/log/ingest/pipeline.json
  filebeat/module/redis/log/test/redis-5.0.3.log
  filebeat/module/redis/log/test/redis-5.0.3.log-expected.json
Labels: :infrastructure, Filebeat, needs_backport, review

#9907 Metricbeat redis refactors
  metricbeat/module/redis/info/data.go
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/info/info_integration_test.go
  metricbeat/module/redis/key/data.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/data.go
  metricbeat/module/redis/keyspace/keyspace.go
  metricbeat/module/redis/keyspace/keyspace_integration_test.go
  metricbeat/module/redis/metricset.go
  metricbeat/module/redis/metricset_integration_test.go
  metricbeat/module/redis/redis.go
  metricbeat/module/redis/redis_integration_test.go
Labels: :infrastructure, Metricbeat, module, needs_backport, refactoring, review, v6.7.0

#9980 Update TLS protocol to use ECS fields
  CHANGELOG.next.asciidoc
  packetbeat/_meta/beat.docker.yml
  packetbeat/_meta/beat.reference.yml
  packetbeat/_meta/beat.yml
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-tls.json
  packetbeat/_meta/sample_outputs/tls.json
  packetbeat/docs/fields.asciidoc
  packetbeat/docs/images/dashboard-packetbeat-tls.png
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.docker.yml
  packetbeat/packetbeat.reference.yml
  packetbeat/packetbeat.yml
  packetbeat/protos/tls/_meta/fields.yml
  packetbeat/protos/tls/fields.go
  packetbeat/protos/tls/tls.go
  packetbeat/protos/tls/tls_test.go
  packetbeat/tests/system/config/packetbeat.yml.j2
  packetbeat/tests/system/pcaps/http2-16-ssl.pcap
  packetbeat/tests/system/test_0068_tls.py
Labels: Packetbeat, ecs, review

#10050 [Auditbeat] Cherry-pick #10018 to 6.6: Change module configuration from "metricsets" to "datasets"
  auditbeat/tests/system/config/auditbeat.yml.j2
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/tests/system/auditbeat_xpack.py
Labels: Auditbeat, SecOps, backport, review

#9977 Forward port to master: Fixed small typo (#9534)
  filebeat/docs/modules-overview.asciidoc
Labels: backport, docs, review

#9924 Rename Redis input read_timestamp to event.created
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/input/redis/harvester.go
Labels: :infrastructure, Filebeat, ecs, review

#10043 Convert read_timestamp to event.created in Journalbeat
  CHANGELOG.next.asciidoc
  journalbeat/reader/fields.go
  journalbeat/reader/journal.go
  journalbeat/reader/journal_test.go
Labels: Journalbeat, ecs, review

#10051 [Auditbeat] Cherry-pick #10018 to 6.x: Change module configuration from "metricsets" to "datasets"
  auditbeat/tests/system/config/auditbeat.yml.j2
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/tests/system/auditbeat_xpack.py
Labels: Auditbeat, SecOps, backport, review

#10068 Skip x-pack libbeat tests again as flaky
  .travis.yml
Labels: flaky-test, libbeat

#10074 Rename metrics names in Performance Metricset of MSSQL Module
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/mssql/fields.go
  x-pack/metricbeat/module/mssql/performance/_meta/data.json
  x-pack/metricbeat/module/mssql/performance/_meta/docs.asciidoc
  x-pack/metricbeat/module/mssql/performance/_meta/fields.yml
  x-pack/metricbeat/module/mssql/performance/data.go
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
  x-pack/metricbeat/tests/system/test_mssql.py
Labels: :infrastructure, Metricbeat, bug

#10042 Introduce service.type field for all Filebeat modules
  CHANGELOG.next.asciidoc
  filebeat/channel/factory.go
  filebeat/module/apache/access/test/ssl-request.log-expected.json
  filebeat/module/apache/access/test/test.log-expected.json
  filebeat/module/apache/error/test/test.log-expected.json
  filebeat/module/auditd/log/test/test.log-expected.json
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/gc/config/gc.yml
  filebeat/module/elasticsearch/gc/test/test.log-expected.json
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/haproxy/log/test/default.log-expected.json
  filebeat/module/haproxy/log/test/haproxy.log-expected.json
  filebeat/module/haproxy/log/test/httplog-no-headers.log-expected.json
  filebeat/module/haproxy/log/test/tcplog.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/icinga/startup/test/test.log-expected.json
  filebeat/module/iis/access/test/test-iis-7.5.log-expected.json
  filebeat/module/iis/access/test/test-ipv6zone.log-expected.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/error/test/ipv6_zone_id.log-expected.json
  filebeat/module/iis/error/test/test.log-expected.json
  filebeat/module/kafka/log/test/controller.log-expected.json
  filebeat/module/kafka/log/test/server.log-expected.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/state-change.log-expected.json
  filebeat/module/kibana/log/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-json.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-json.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/mysql/error/test/error.log-expected.json
  filebeat/module/mysql/slowlog/test/mysql-5.7.22.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/nginx/error/test/error.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-multi-core.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-new-timestamp.log-expected.json
  filebeat/module/redis/log/test/redis-5.0.3.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  filebeat/module/santa/log/test/santa.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
Labels: :infrastructure, Filebeat, ecs, module, review

#8084 Support mysql prepare statement command
  CHANGELOG.asciidoc
  packetbeat/_meta/beat.reference.yml
  packetbeat/_meta/beat.yml
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.reference.yml
  packetbeat/packetbeat.yml
  packetbeat/protos/mysql/config.go
  packetbeat/protos/mysql/mysql.go
  packetbeat/protos/mysql/mysql_test.go
  packetbeat/tests/system/pcaps/mysql_prepare_statement.pcap
  packetbeat/tests/system/test_0064_mysql_prepare_statement.py
Labels: Packetbeat, enhancement, review

#10046 Cherry-pick to 6.x: Change iis module doc to add iis 7.5 version (#10032)
  filebeat/docs/modules/iis.asciidoc
  filebeat/module/iis/_meta/docs.asciidoc
Labels: backport, review

#10082 [Heartbeat] Fix NPE in HTTP responses.
  heartbeat/monitors/active/http/simple_transp.go
Labels: :uptime, Heartbeat, bug, v6.6.0, v6.7.0

#10081 Fix Pod UID automatic enriching
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/pod/_meta/data.json
  metricbeat/module/kubernetes/state_pod/_meta/data.json
  metricbeat/module/kubernetes/util/kubernetes.go
  metricbeat/module/kubernetes/util/kubernetes_test.go
Labels: :infrastructure, blocker, bug, needs_backport, review, v6.5.5, v6.6.0

#10062 Update ICMP protocol to use ECS fields
  CHANGELOG.next.asciidoc
  packetbeat/pb/event.go
  packetbeat/protos/icmp/icmp.go
  packetbeat/protos/icmp/transaction.go
  packetbeat/protos/icmp/transaction_test.go
  packetbeat/tests/system/test_0050_icmp.py
Labels: Packetbeat, ecs, review

#10063 Update flows to use event.dataset
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  packetbeat/_meta/fields.common.yml
  packetbeat/_meta/kibana/6/dashboard/Packetbeat-flows.json
  packetbeat/docs/fields.asciidoc
  packetbeat/flows/worker.go
  packetbeat/flows/worker_test.go
  packetbeat/include/fields.go
  packetbeat/tests/system/packetbeat.py
  packetbeat/tests/system/test_0060_flows.py
Labels: Packetbeat, review

#9975 Enhance dashboard tooling
  dev-tools/cmd/dashboards/export_dashboards.go
  dev-tools/mage/kibana.go
  libbeat/dashboards/export.go
  libbeat/tests/system/test_dashboard.py
Labels: :Dashboards, review

#10079 make replaced with "mage build"
  docs/devguide/newbeat.asciidoc
Labels: docs

#10100 Fix failing template tests based on doc type change in Elasticsearch
  libbeat/template/load_integration_test.go
  libbeat/tests/files/template.json
Labels: flaky-test, review

#10101 [Auditbeat] Rename "metricset" to "dataset" in docs
  auditbeat/_meta/common.reference.yml
  auditbeat/auditbeat.reference.yml
  auditbeat/scripts/docs_collector.py
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/docs/modules/system/host.asciidoc
  x-pack/auditbeat/docs/modules/system/process.asciidoc
  x-pack/auditbeat/docs/modules/system/socket.asciidoc
  x-pack/auditbeat/docs/modules/system/user.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/packages/_meta/docs.asciidoc.disabled
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, needs_backport, review

#10067 Rename id of Kafka overview dashboard
  filebeat/module/kafka/_meta/kibana/6/dashboard/Filebeat-Kafka-overview.json
Labels: :Dashboards, :infrastructure, Metricbeat, module

#10080 Add missing file encodings to readers
  CHANGELOG.next.asciidoc
  libbeat/reader/readfile/encoding/encoding.go
  libbeat/reader/readfile/line_test.go
Labels: libbeat, review

#10104 Skip duplicate flaky tests in journalbeat/checkpoint
  journalbeat/checkpoint/checkpoint_test.go
Labels: :Testing, Journalbeat, flaky-test, review

#10107 Add suffix to kafka visualization title
  filebeat/module/kafka/_meta/kibana/6/dashboard/Filebeat-Kafka-overview.json
Labels: :Dashboards, :infrastructure, Filebeat, module, needs_backport, review

#10106 [Auditbeat] Cherry-pick #10101 to 6.6: Rename "metricset" to "dataset" in docs
  auditbeat/_meta/common.reference.yml
  auditbeat/auditbeat.reference.yml
  auditbeat/scripts/docs_collector.py
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/docs/modules/system/host.asciidoc
  x-pack/auditbeat/docs/modules/system/process.asciidoc
  x-pack/auditbeat/docs/modules/system/socket.asciidoc
  x-pack/auditbeat/docs/modules/system/user.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, backport, review

#10105 [Auditbeat] Cherry-pick #10101 to 6.x: Rename "metricset" to "dataset" in docs
  auditbeat/_meta/common.reference.yml
  auditbeat/auditbeat.reference.yml
  auditbeat/scripts/docs_collector.py
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/docs/modules/system/host.asciidoc
  x-pack/auditbeat/docs/modules/system/process.asciidoc
  x-pack/auditbeat/docs/modules/system/socket.asciidoc
  x-pack/auditbeat/docs/modules/system/user.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, backport, review
