Repository elastic/beats, pull requests merged in 2019-08, with the labels that each got.

#13099 [7.3] Adding docs for beat Metricbeat module (#13087)
  metricbeat/docs/modules/beat.asciidoc
  metricbeat/docs/modules/beat/state.asciidoc
  metricbeat/docs/modules/beat/stats.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/beat/_meta/docs.asciidoc
  metricbeat/module/beat/state/_meta/docs.asciidoc
  metricbeat/module/beat/stats/_meta/docs.asciidoc
Labels: backport

#13098 [7.3] Also collect logstash_stats.events.duration_in_millis (#13082)
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: backport

#13115 [Heartbeat][Docs] Add AWS credentials info to ELB docs for heartbeat
  heartbeat/docs/autodiscover-aws-elb-config.asciidoc
  heartbeat/docs/aws-credentials-examples.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
  metricbeat/docs/aws-credentials-examples.asciidoc
  x-pack/libbeat/docs/aws-credentials-config.asciidoc
Labels: :uptime, Heartbeat, docs

#13132 Remove `cluster_uuid` from vertices
  metricbeat/module/logstash/node/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.3.1, v7.4.0, v8.0.0

#13138 [DOCS] Add 7.3 release highlights
  libbeat/docs/highlights-7.3.0.asciidoc
  libbeat/docs/highlights.asciidoc
Labels: docs, needs_backport, review, v7.3.0

#12882 [DOCS] Replace deprecated --template option with --index-management
  docs/devguide/newdashboards.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: docs, needs_backport, review

#13090 [DOCS] Describe how to use Metricbeat to collect monitoring data
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
  libbeat/docs/monitoring/monitoring-metricbeat.asciidoc
  libbeat/docs/monitoring/shared-monitor-config.asciidoc
  libbeat/docs/security/users.asciidoc
Labels: docs, needs_backport, review

#13135 Fix 404 page not found under generator/metricbeat
  generator/metricbeat/README.md
Labels: automation, devguide, docs

#13150 [7.3][DOCS] Backport: Replace deprecated --template option with --index-management
  docs/devguide/newdashboards.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: backport, docs, v7.3.0

#13157 [7.3][DOCS] Backport: Add 7.3 release highlights (#13138)
  libbeat/docs/highlights-7.3.0.asciidoc
  libbeat/docs/highlights.asciidoc
Labels: backport, docs, v7.3.0

#13152 [7.3][DOCS] Backport: Add pointer to ILM docs from index setting (#13035)
  libbeat/docs/outputconfig.asciidoc
Labels: backport, docs

#13156 [7.3][DOCS] Backport: Describe how to use Metricbeat to collect monitoring data (#13…
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
  libbeat/docs/monitoring/monitoring-metricbeat.asciidoc
  libbeat/docs/monitoring/shared-monitor-config.asciidoc
  libbeat/docs/security/users.asciidoc
Labels: backport, docs, v7.3.0

#13113 Cherry-pick #13069 to 7.2: [Filebeat] Postgres uses a too permissive multiline pattern
  CHANGELOG.next.asciidoc
  filebeat/module/postgresql/log/config/log.yml
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
Labels: :infrastructure, Filebeat, backport, in progress

#13004 Cherry-pick #12816 to 7.2: [Metricbeat] Avoid omitting of errors in Vsphere module and upgrade to use context.Context
  CHANGELOG.next.asciidoc
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
Labels: backport, review

#12640 Add S3 input to retrieve logs from AWS S3 buckets
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  metricbeat/docs/modules/aws.asciidoc
  vendor/github.com/aws/aws-sdk-go-v2/service/s3/s3iface/interface.go
  vendor/vendor.json
  x-pack/filebeat/_meta/common.reference.inputs.yml
  x-pack/filebeat/docs/filebeat-s3-input-config.asciidoc
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/input/s3/_meta/fields.yml
  x-pack/filebeat/input/s3/_meta/s3-input.asciidoc
  x-pack/filebeat/input/s3/config.go
  x-pack/filebeat/input/s3/fields.go
  x-pack/filebeat/input/s3/input.go
  x-pack/filebeat/input/s3/input_test.go
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
Labels: :infrastructure, Filebeat, [zube]: In Review, review, v7.4.0

#12952 [Metricbeat] Create elb metricset using light weight module
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/images/metricbeat-aws-elb-overview.png
  metricbeat/docs/modules/aws.asciidoc
  metricbeat/docs/modules/aws/elb.asciidoc
  metricbeat/docs/modules/cockroachdb/status.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/magefile.go
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-elb-overview.json
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_integration_test.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/elb/_meta/data.json
  x-pack/metricbeat/module/aws/elb/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/elb/_meta/fields.yml
  x-pack/metricbeat/module/aws/elb/elb_integration_test.go
  x-pack/metricbeat/module/aws/elb/elb_test.go
  x-pack/metricbeat/module/aws/elb/manifest.yml
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/module.yml
  x-pack/metricbeat/module/aws/rds/_meta/data.json
  x-pack/metricbeat/module/aws/rds/rds.go
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/data.json
  x-pack/metricbeat/module/aws/s3_daily_storage/s3_daily_storage.go
  x-pack/metricbeat/module/aws/s3_request/_meta/data.json
  x-pack/metricbeat/module/aws/s3_request/s3_request.go
  x-pack/metricbeat/module/aws/sqs/_meta/data.json
  x-pack/metricbeat/module/aws/sqs/sqs.go
  x-pack/metricbeat/module/cockroachdb/status/_meta/data.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, review, v7.4.0

#13144 Fix/refactor decode_base64_field processor (libbeat)
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/actions/decode_base64_field.go
  libbeat/processors/actions/decode_base64_field_test.go
Labels: needs_backport, review

#12992 [DOCS] Make each troubleshooting item a separate topic
  auditbeat/docs/faq-ulimit.asciidoc
  auditbeat/docs/faq.asciidoc
  filebeat/docs/faq.asciidoc
  heartbeat/docs/faq.asciidoc
  journalbeat/docs/faq.asciidoc
  libbeat/docs/faq-limit-bandwidth.asciidoc
  libbeat/docs/faq-refresh-index.asciidoc
  libbeat/docs/shared-faq.asciidoc
  metricbeat/docs/faq.asciidoc
  packetbeat/docs/faq-mysql-ssl.asciidoc
  packetbeat/docs/faq.asciidoc
  winlogbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
Labels: docs, needs_backport, review

#13151 [7.3][DOCS] Backport: Add link to blog post about migrating to ECS (#12932)
  libbeat/docs/upgrading.asciidoc
Labels: backport, docs, v7.3.0

#13158 [7.0][DOCS] Backport: Fix make docs (#13063)
  script/build_docs.sh
Labels: docs, review

#13159 [7.1][DOCS] Backport: Fix make docs (#13063)
  script/build_docs.sh
Labels: docs, review

#13096 [Metricbeat] Fix error logging in mb/registry
  metricbeat/mb/registry.go
Labels: :infrastructure, [zube]: In Review, bug, review

#13133 Collecting missing fields for `type:logstash_state` docs
  metricbeat/module/logstash/logstash.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.3.1, v7.4.0, v8.0.0

#13176 Upgrade containers of the stack used for metricbeat tests
  metricbeat/docs/modules/beat.asciidoc
  metricbeat/module/beat/_meta/Dockerfile
  metricbeat/module/beat/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/module/logstash/_meta/Dockerfile
Labels: :Dashboards, :Testing, Metricbeat, Stack monitoring, review

#13174 Cherry-pick #13144 to 7.3
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/actions/decode_base64_field.go
  libbeat/processors/actions/decode_base64_field_test.go
Labels: backport, review

#13148 Remove beta label from add_host_metadata
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
Labels: docs, review

#12876 Memlog timestamp
  libbeat/registry/backend/memlog/typeconv.go
  libbeat/registry/backend/memlog/typeconv_test.go
Labels: libbeat, review

#13153 [7.0][DOCS] Backport: Add pointer to ILM docs from index setting (#13035)
  libbeat/docs/outputconfig.asciidoc
Labels: backport, docs, v7.0.0

#13154 [7.1][DOCS] Backport: Add pointer to ILM docs from index setting (#13035)
  libbeat/docs/outputconfig.asciidoc
Labels: backport, docs, v7.1.0

#13155 [7.2][DOCS] Backport: Add pointer to ILM docs from index setting (#13035)
  libbeat/docs/outputconfig.asciidoc
Labels: backport, docs, v7.2.0

#13179 Slow log examples with extracted fields from message
  filebeat/module/elasticsearch/slowlog/test/slowlogs-json.log
  filebeat/module/elasticsearch/slowlog/test/slowlogs-json.log-expected.json
Labels: Filebeat, module, needs_backport, v7.4.0, v8.0.0

#13163 [Auditbeat] Fix broken visualisations in file_integrity module
  auditbeat/module/file_integrity/_meta/kibana/7/dashboard/auditbeat-file-integrity.json
Labels: Auditbeat, review

#13173 Added space after start= needed for start services using sc.exe under Windows
  CHANGELOG.next.asciidoc
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Labels: needs_backport

#13001 [metricbeat]kubernetes cronjob through kube-state-metrics
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/kubernetes/state_cronjob.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_cronjob/README.md
  metricbeat/module/kubernetes/state_cronjob/_meta/data.json
  metricbeat/module/kubernetes/state_cronjob/_meta/docs.asciidoc
  metricbeat/module/kubernetes/state_cronjob/_meta/fields.yml
  metricbeat/module/kubernetes/state_cronjob/_meta/test/kube-state-metrics.1.7
  metricbeat/module/kubernetes/state_cronjob/_meta/test/kube-state-metrics.1.7.expected
  metricbeat/module/kubernetes/state_cronjob/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_cronjob/_meta/testdata/kube-state-metrics.1.7.plain
  metricbeat/module/kubernetes/state_cronjob/_meta/testdata/kube-state-metrics.1.7.plain-expected.json
  metricbeat/module/kubernetes/state_cronjob/state_cronjob.go
  metricbeat/module/kubernetes/state_cronjob/state_cronjob_test.go
  metricbeat/modules.d/kubernetes.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :infrastructure, Metricbeat, [zube]: In Progress, containers, review

#13190 Add alias required by windows job on jenkins
  x-pack/metricbeat/magefile.go
Labels: :Testing, :Windows, Metricbeat

#13126 Add Prometheus Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-prometheus-overview.png
  metricbeat/docs/modules/prometheus.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/prometheus/_meta/docs.asciidoc
  metricbeat/module/prometheus/_meta/kibana/7/dashboard/Metricbeat-prometheus-overview.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#13199 [Metricbeat] Remove mb.DefaultMetricSet() from some metricsets in aws
  x-pack/metricbeat/module/aws/rds/rds.go
  x-pack/metricbeat/module/aws/s3_daily_storage/s3_daily_storage.go
  x-pack/metricbeat/module/aws/s3_request/s3_request.go
  x-pack/metricbeat/module/aws/sqs/sqs.go
Labels: :infrastructure, [zube]: Inbox, review

#13167 [Metricbeat] Create ebs metricset using light module
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/images/metricbeat-aws-ebs-overview.png
  metricbeat/docs/modules/aws.asciidoc
  metricbeat/docs/modules/aws/ebs.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/magefile.go
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ebs-overview.json
  x-pack/metricbeat/module/aws/ebs/_meta/data.json
  x-pack/metricbeat/module/aws/ebs/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ebs/_meta/fields.yml
  x-pack/metricbeat/module/aws/ebs/ebs_integration_test.go
  x-pack/metricbeat/module/aws/ebs/ebs_test.go
  x-pack/metricbeat/module/aws/ebs/manifest.yml
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/module.yml
Labels: :infrastructure, Metricbeat, [zube]: In Review, review, v7.4.0

#13204 Cherry-pick #12716 to 6.8: Refactoring of entry reading
  CHANGELOG.next.asciidoc
  journalbeat/reader/journal.go
Labels: backport, review

#13172 Fix s3 input documentation
  filebeat/docs/aws-credentials-examples.asciidoc
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
  x-pack/filebeat/input/s3/input.go
Labels: :infrastructure, Filebeat, [zube]: In Review, docs, review

#13191 Accept 0 as valid value for lock_waits_per_sec on mssql tests
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, flaky-test, module, review

#13201 Try to make jolokia downloads more robust
  metricbeat/module/jolokia/_meta/Dockerfile
Labels: :Testing, :infrastructure, Metricbeat, [zube]: In Review, flaky-test, module, review

#13200 Update IBM MQ module documentation
  filebeat/docs/modules/ibmmq.asciidoc
  x-pack/filebeat/module/ibmmq/_meta/docs.asciidoc
Labels: :infrastructure, Filebeat, docs

#13053 [Filebeat] Upgrade Postgres module to work with version 11
  filebeat/docs/fields.asciidoc
  filebeat/module/postgresql/fields.go
  filebeat/module/postgresql/log/_meta/fields.yml
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/module/postgresql/log/test/postgresql-11.4.log
  filebeat/module/postgresql/log/test/postgresql-11.4.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, review

#13178 [7.3] Collecting missing fields for `type:logstash_state` docs (#13133)
  metricbeat/module/logstash/logstash.go
Labels: backport

#13189 [Metricbeat] Fix date format parsing in Zookeeper server Metricset
  metricbeat/module/zookeeper/_meta/Dockerfile
  metricbeat/module/zookeeper/mntr/_meta/data.json
  metricbeat/module/zookeeper/server/_meta/data.json
  metricbeat/module/zookeeper/server/data.go
  metricbeat/module/zookeeper/server/server_integration_test.go
  metricbeat/module/zookeeper/server/server_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, review

#13193 Use git archive to copy beats on community beats
  CHANGELOG-developer.next.asciidoc
  generator/beat/{beat}/Makefile
  generator/common/Makefile
Labels: :Generator, review

#13026 Skip flaky test test_clean_inactive on Darwin. See issue #8102
  filebeat/tests/system/test_registrar.py
Labels: flaky-test, review

#13168 Check dashboard formats on mage check
  auditbeat/module/auditd/_meta/kibana/7/dashboard/auditbeat-kernel-executions.json
  auditbeat/module/auditd/_meta/kibana/7/dashboard/auditbeat-kernel-overview.json
  dev-tools/mage/check.go
  x-pack/filebeat/input/netflow/_meta/kibana/7/dashboard/filebeat-network-flows-top-n.json
  x-pack/filebeat/module/cisco/_meta/kibana/7/dashboard/Filebeat-Cisco-ASA.json
  x-pack/filebeat/module/coredns/_meta/kibana/7/dashboard/Coredns-Overview-Dashboard.json
  x-pack/filebeat/module/envoyproxy/_meta/kibana/7/dashboard/Filebeat-Envoyproxy-Overview.json
  x-pack/filebeat/module/ibmmq/_meta/kibana/7/dashboard/Filebeat-IBMMQ-Overview.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-autonomous-systems.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-conversation-partners.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-flow-exporters.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-flow-records.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-geo-location.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-overview.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-top-n.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-traffic-analysis.json
  x-pack/filebeat/module/panw/_meta/kibana/7/dashboard/Filebeat-panw-network-overview.json
  x-pack/filebeat/module/panw/_meta/kibana/7/dashboard/Filebeat-panw-threat-overview.json
  x-pack/filebeat/module/suricata/_meta/kibana/7/dashboard/Filebeat-Suricata-Alert-Overview.json
  x-pack/filebeat/module/suricata/_meta/kibana/7/dashboard/Filebeat-Suricata-Overview.json
  x-pack/filebeat/module/zeek/_meta/kibana/7/dashboard/Filebeat-Zeek-Overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ebs-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ec2-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-elb-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-rds-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-s3-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-sqs-overview.json
  x-pack/metricbeat/module/oracle/_meta/kibana/7/dashboard/Metricbet-Oracle-tablespaces.json
Labels: :Testing, :infrastructure, [zube]: In Review, review

#13221 Do not collect dashboards from Functionbeat
  magefile.go
Labels: Functionbeat, review

#13109 Add statsd module
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/statsd.asciidoc
  metricbeat/docs/modules/statsd/server.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/helper/server/udp/udp.go
  metricbeat/module/http/server/server.go
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/statsd/_meta/config.yml
  x-pack/metricbeat/module/statsd/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/_meta/fields.yml
  x-pack/metricbeat/module/statsd/doc.go
  x-pack/metricbeat/module/statsd/fields.go
  x-pack/metricbeat/module/statsd/server/_meta/data.json
  x-pack/metricbeat/module/statsd/server/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/server/_meta/fields.yml
  x-pack/metricbeat/module/statsd/server/data.go
  x-pack/metricbeat/module/statsd/server/data_test.go
  x-pack/metricbeat/module/statsd/server/registry.go
  x-pack/metricbeat/module/statsd/server/server.go
  x-pack/metricbeat/modules.d/statsd.yml.disabled
Labels: :infrastructure, Metricbeat, [zube]: In Progress, in progress, module

#13166 upgrade docker-compose
  libbeat/tests/system/requirements.txt
Labels: :Testing, libbeat

#13194 Cherry-pick #13173 to 7.3: Added space after start= needed for start services using sc.exe under Windows
  CHANGELOG.next.asciidoc
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Labels: backport, review

#13185 Allow path variables in modules.d files
  CHANGELOG.next.asciidoc
  filebeat/fileset/config.go
  filebeat/fileset/fileset.go
  filebeat/fileset/modules.go
  x-pack/filebeat/module/googlecloud/vpcflow/config/input.yml
Labels: Filebeat, needs_backport, review

#13127 Abort delayed stop autodiscover events on docker restart
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/docker/config.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/kubernetes/config.go
Labels: :infrastructure, [zube]: In Review, bug, containers, libbeat, qa, review, v7.4.0

#13234 Use NewLazySystemDLL instead of NewLazyDLL
  CHANGELOG.next.asciidoc
  libbeat/common/file/file_windows.go
  metricbeat/module/system/diskio/diskstat_windows_helper.go
Labels: review

#13229 add readme and fix logic problems
  x-pack/metricbeat/module/statsd/README.md
  x-pack/metricbeat/module/statsd/server/_meta/data.json
  x-pack/metricbeat/module/statsd/server/data.go
  x-pack/metricbeat/module/statsd/server/data_test.go
  x-pack/metricbeat/module/statsd/server/registry.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, in progress

#13188 Check fields type and format
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/kibana/testdata/extensive/fields.yml
  libbeat/kibana/testdata/extensive/metricbeat-6.json
  libbeat/mapping/field.go
  libbeat/scripts/cmd/global_fields/main.go
  metricbeat/docs/fields.asciidoc
  metricbeat/module/docker/cpu/_meta/fields.yml
  metricbeat/module/docker/fields.go
  metricbeat/module/docker/memory/_meta/fields.yml
  metricbeat/module/haproxy/fields.go
  metricbeat/module/haproxy/stat/_meta/fields.yml
  metricbeat/module/kubernetes/container/_meta/fields.yml
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/pod/_meta/fields.yml
  metricbeat/module/php_fpm/fields.go
  metricbeat/module/php_fpm/pool/_meta/fields.yml
  metricbeat/module/php_fpm/process/_meta/fields.yml
  metricbeat/module/rabbitmq/fields.go
  metricbeat/module/rabbitmq/queue/_meta/fields.yml
  metricbeat/module/redis/fields.go
  metricbeat/module/redis/info/_meta/fields.yml
Labels: :infrastructure, [zube]: In Review, libbeat, review

#13195 Override vendor in community beats
  generator/beat/{beat}/magefile.go.tmpl
Labels: :Generator, review

#12850 [filebeat] Add a Kafka input
  filebeat/_meta/fields.common.yml
  filebeat/docker-compose.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/inputs/input-kafka.asciidoc
  filebeat/include/fields.go
  filebeat/include/list.go
  filebeat/input/kafka/config.go
  filebeat/input/kafka/input.go
  filebeat/input/kafka/kafka_integration_test.go
Labels: Filebeat, docs

#13247 Adding beat Metricbeat module folder to CODEOWNERS
  .github/CODEOWNERS
Labels: review

#13170 [Filebeat] Add module for AWS S3 server access log
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/images/filebeat-aws-s3access-overview.png
  filebeat/docs/modules/aws.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/input/s3/_meta/fields.yml
  x-pack/filebeat/input/s3/fields.go
  x-pack/filebeat/module/aws/_meta/config.yml
  x-pack/filebeat/module/aws/_meta/docs.asciidoc
  x-pack/filebeat/module/aws/_meta/fields.yml
  x-pack/filebeat/module/aws/_meta/kibana/7/dashboard/Filebeat-aws-s3access-overview.json
  x-pack/filebeat/module/aws/fields.go
  x-pack/filebeat/module/aws/s3access/_meta/fields.yml
  x-pack/filebeat/module/aws/s3access/config/file.yml
  x-pack/filebeat/module/aws/s3access/config/s3.yml
  x-pack/filebeat/module/aws/s3access/ingest/pipeline.yml
  x-pack/filebeat/module/aws/s3access/manifest.yml
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log-expected.json
  x-pack/filebeat/module/aws/s3access/test/test.log
  x-pack/filebeat/module/aws/s3access/test/test.log-expected.json
  x-pack/filebeat/modules.d/aws.yml.disabled
Labels: :infrastructure, Filebeat, [zube]: In Review, in progress, qa, v7.4.0

#13233 Docs fixes for creating a new metricbeat module
  docs/devguide/create-metricset.asciidoc
  docs/devguide/create-module.asciidoc
Labels: :Generator, docs, review

#13239 Move more parts of make check to mage
  auditbeat/magefile.go
  auditbeat/module/auditd/_meta/kibana/7/dashboard/auditbeat-kernel-executions.json
  dev-tools/cmd/module_include_list/module_include_list.go
  dev-tools/mage/check.go
  dev-tools/mage/fmt.go
  dev-tools/magefile.go
  filebeat/magefile.go
  filebeat/module/logstash/_meta/kibana/7/dashboard/Filebeat-logstash-log.json
  filebeat/module/logstash/_meta/kibana/7/dashboard/Filebeat-logstash-slowlog.json
  filebeat/module/mongodb/_meta/kibana/7/dashboard/Filebeat-Mongodb-overview.json
  filebeat/module/osquery/_meta/kibana/7/dashboard/osquery-compliance.json
  filebeat/module/osquery/_meta/kibana/7/dashboard/osquery-rootkit.json
  generator/beat/{beat}/Makefile
  generator/beat/{beat}/magefile.go.tmpl
  generator/common/Makefile
  generator/metricbeat/{beat}/Makefile
  generator/metricbeat/{beat}/magefile.go
  heartbeat/magefile.go
  journalbeat/magefile.go
  libbeat/magefile.go
  libbeat/scripts/Makefile
  metricbeat/magefile.go
  metricbeat/module/consul/_meta/kibana/7/dashboard/Metricbeat-consul-overview.json
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-apiserver.json
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-controller-manager.json
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-overview.json
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-scheduler.json
  metricbeat/module/prometheus/_meta/kibana/7/dashboard/Metricbeat-prometheus-overview.json
  metricbeat/module/redis/_meta/kibana/7/dashboard/Metricbeat-redis-keys.json
  metricbeat/module/system/_meta/kibana/7/dashboard/Metricbeat-host-overview.json
  metricbeat/module/zookeeper/_meta/kibana/7/dashboard/Metricbeat-zookeeper-overview.json
  packetbeat/magefile.go
  x-pack/auditbeat/magefile.go
  x-pack/filebeat/magefile.go
  x-pack/libbeat/magefile.go
  x-pack/metricbeat/magefile.go
Labels: :Testing, :infrastructure, [zube]: In Review, review

#13258 Strip debug symbols from binaries
  CHANGELOG-developer.next.asciidoc
  dev-tools/mage/build.go
Labels: review

#13226 Add `.*` to kubernetes labels and annotations in fields.yml mapping
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/processors/add_kubernetes_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: :infrastructure, [zube]: In Review, libbeat, review

#13203 Add calculate_rate for NetworkIn/Out, DiskRead/WriteBytes and DiskRead/WriteOps
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/_meta/fields.yml
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/mtest/integration.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, review

#13261 Update testing env 7.3.1
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v7.3.1

#13266 Fix make assets error in metricbeat
  libbeat/generator/fields/fields.go
  libbeat/scripts/cmd/global_fields/main.go
Labels: Metricbeat, bug, review

#13253 Update CODEOWNERS for SIEM team
  .github/CODEOWNERS
Labels: Team:SIEM

#13212 [Metricbeat] Add Couchbase Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-couchbase-overview.png
  metricbeat/docs/modules/couchbase.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/couchbase/_meta/docs.asciidoc
  metricbeat/module/couchbase/_meta/kibana/7/dashboard/Metricbeat-couchbase-overview.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#13280 [Generator] Make the metricbeat gen makefile use update instead of collect
  generator/metricbeat/{beat}/Makefile
Labels: :Generator, :infrastructure, Metricbeat

#13271 [docs] Add x-pack role to x-pack module docs
  metricbeat/docs/modules/aws.asciidoc
  metricbeat/docs/modules/cockroachdb.asciidoc
  metricbeat/docs/modules/coredns.asciidoc
  metricbeat/docs/modules/mssql.asciidoc
  metricbeat/docs/modules/oracle.asciidoc
  metricbeat/docs/modules/statsd.asciidoc
  metricbeat/scripts/mage/docs_collector.go
  metricbeat/scripts/mage/template/moduleDoc.tmpl
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, docs, v7.4.0

#13217 [Metricbeat] Add Aerospike Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-aerospike-overview.png
  metricbeat/docs/modules/aerospike.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/aerospike/_meta/docs.asciidoc
  metricbeat/module/aerospike/_meta/kibana/7/dashboard/Metricbeat-aerospike-overview.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#13250 Fix matching case insensitive strings
  CHANGELOG.next.asciidoc
  libbeat/common/match/cmp.go
  libbeat/common/match/compile.go
  libbeat/common/match/matcher_test.go
Labels: bug, review

#13298 Add missing changelog entry for #13092 and #13144
  CHANGELOG.next.asciidoc
Labels: review

#13277 Close changelog for 7.3.1
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v7.3.1

#13214 Update metricbeat-options.asciidoc
  metricbeat/docs/metricbeat-options.asciidoc
Labels: docs, needs_backport

#12878 [DOCS] Add conditional coding to remove references to LS
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
  libbeat/docs/shared-config-ingest.asciidoc
  libbeat/docs/shared-geoip.asciidoc
  libbeat/docs/shared-getting-started-intro.asciidoc
Labels: docs, needs_backport, review

#13208 [7.3][DOCS] Backport: Make each troubleshooting item a separate topic (#12992)
  auditbeat/docs/faq-ulimit.asciidoc
  auditbeat/docs/faq.asciidoc
  filebeat/docs/faq.asciidoc
  heartbeat/docs/faq.asciidoc
  journalbeat/docs/faq.asciidoc
  libbeat/docs/faq-limit-bandwidth.asciidoc
  libbeat/docs/faq-refresh-index.asciidoc
  libbeat/docs/shared-faq.asciidoc
  metricbeat/docs/faq.asciidoc
  packetbeat/docs/faq-mysql-ssl.asciidoc
  packetbeat/docs/faq.asciidoc
  winlogbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
Labels: backport, docs, v7.3.0

#13209 [7.2][DOCS] Backport: Make each troubleshooting item a separate topic (#12992)
  auditbeat/docs/faq-ulimit.asciidoc
  auditbeat/docs/faq.asciidoc
  filebeat/docs/faq.asciidoc
  heartbeat/docs/faq.asciidoc
  journalbeat/docs/faq.asciidoc
  libbeat/docs/faq-limit-bandwidth.asciidoc
  libbeat/docs/faq-refresh-index.asciidoc
  libbeat/docs/shared-faq.asciidoc
  metricbeat/docs/faq.asciidoc
  packetbeat/docs/faq-mysql-ssl.asciidoc
  packetbeat/docs/faq.asciidoc
  winlogbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
Labels: backport, docs, v7.2.0

#13216 [Metricbeat] Add Ceph Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/ceph-overview-dashboard.png
  metricbeat/docs/modules/ceph.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/ceph/_meta/docs.asciidoc
  metricbeat/module/ceph/_meta/kibana/7/dashboard/Metricbeat-ceph-overview.json
Labels: :infrastructure, Metricbeat, [zube]: Ready, enhancement, review

#13295 In mysql.yml, clarify DSN format
  docs/devguide/create-module.asciidoc
  metricbeat/docs/modules/mysql.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/mysql/_meta/config.reference.yml
  metricbeat/module/mysql/_meta/config.yml
  metricbeat/modules.d/mysql.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :infrastructure, Metricbeat, docs, module, review

#13303 Check dashboards index pattern
  CHANGELOG.next.asciidoc
  dev-tools/mage/check.go
  metricbeat/module/redis/_meta/kibana/7/dashboard/Metricbeat-redis-keys.json
  x-pack/filebeat/module/aws/_meta/kibana/7/dashboard/Filebeat-aws-s3access-overview.json
  x-pack/filebeat/module/coredns/_meta/kibana/7/dashboard/Coredns-Overview-Dashboard.json
Labels: :Dashboards, :infrastructure, review

#13313 Add explanations about timezone support to filebeat modules
  filebeat/docs/modules/cisco.asciidoc
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/docs/modules/iptables.asciidoc
  filebeat/docs/modules/logstash.asciidoc
  filebeat/docs/modules/mssql.asciidoc
  filebeat/docs/modules/nginx.asciidoc
  filebeat/docs/modules/panw.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
  filebeat/module/logstash/_meta/docs.asciidoc
  filebeat/module/nginx/_meta/docs.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
  x-pack/filebeat/module/mssql/_meta/docs.asciidoc
  x-pack/filebeat/module/panw/_meta/docs.asciidoc
Labels: :infrastructure, Filebeat, docs, needs_backport, review, v7.3.2, v7.4.0

#13262 Bump docs version for 7.3.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v7.3.1

#13263 Bump version to 7.3.2
  libbeat/version/version.go
Labels: in progress, release, review, v7.3.2

#13198 [Metricbeat] Add CouchDB Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-couchdb-overview.png
  metricbeat/docs/modules/couchdb.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/couchdb/_meta/docs.asciidoc
  metricbeat/module/couchdb/_meta/kibana/7/dashboard/Metricbeat-couchdb-overview.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#13210 Add generator tests to OSX travis builds
  .travis.yml
Labels: :Generator, :Testing, review

#13315 [docs] Add missing link to 7.3.1 RNs
  libbeat/docs/release.asciidoc
Labels: docs

#13187 [Metricbeat] Add PostgreSQL Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-postgresql-overview.png
  metricbeat/docs/modules/postgresql.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/postgresql/_meta/docs.asciidoc
  metricbeat/module/postgresql/_meta/kibana/7/dashboard/Metricbeat-postgresql-overview.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#13205 [docs] Update YML files and related docs
  auditbeat/auditbeat.reference.yml
  auditbeat/auditbeat.yml
  filebeat/filebeat.reference.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.reference.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/_meta/config.yml.tmpl
  libbeat/docs/monitoring/shared-monitor-config.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/tests/system/input/libbeat.yml
  metricbeat/metricbeat.reference.yml
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.reference.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.reference.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/libbeat/management/config.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: docs

#13327 [Docs] Fix aws cloudwatch metricset documentation
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
Labels: :infrastructure, Metricbeat, [zube]: Inbox, docs, review

#13293 [Generator] Fix metricbeat-style custom beats
  generator/metricbeat/{beat}/Makefile
  generator/metricbeat/{beat}/_meta/docker.yml
  generator/metricbeat/{beat}/_meta/reference.yml
  generator/metricbeat/{beat}/_meta/short.yml
  generator/metricbeat/{beat}/cmd/modules.go
  generator/metricbeat/{beat}/cmd/root.go.tmpl
  generator/metricbeat/{beat}/magefile.go
  generator/metricbeat/{beat}/main.go.tmpl
Labels: :Generator, :infrastructure, bug

#13292 [docs] Documentation changes from APM Server
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
  libbeat/docs/monitoring/monitoring-metricbeat.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/security/users.asciidoc
Labels: docs

#13333 [Cherry-pick #13294 to 7.3] [Metricbeat] Check if fields in DBInstance struct is nil
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/rds/rds.go
Labels: :infrastructure, [zube]: In Review, backport, review

#13206 [DOCS] Document AIM permissions required for Functionbeat
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/faq-resource-limit.asciidoc
  x-pack/functionbeat/docs/faq.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/iam-permissions.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
Labels: docs, needs_backport, review

#12547 [Metricbeat] Add performance metricset to Oracle module
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/oracle.asciidoc
  metricbeat/docs/modules/oracle/performance.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/oracle/fields.go
  x-pack/metricbeat/module/oracle/performance/_meta/cache_data.json
  x-pack/metricbeat/module/oracle/performance/_meta/cursor_by_username_and_machine_data.json
  x-pack/metricbeat/module/oracle/performance/_meta/data.json
  x-pack/metricbeat/module/oracle/performance/_meta/docs.asciidoc
  x-pack/metricbeat/module/oracle/performance/_meta/fields.yml
  x-pack/metricbeat/module/oracle/performance/buffer_cache_hit_ratio.go
  x-pack/metricbeat/module/oracle/performance/cursors.go
  x-pack/metricbeat/module/oracle/performance/data.go
  x-pack/metricbeat/module/oracle/performance/extractor.go
  x-pack/metricbeat/module/oracle/performance/library_cache.go
  x-pack/metricbeat/module/oracle/performance/metricset.go
  x-pack/metricbeat/module/oracle/performance/metricset_test.go
  x-pack/metricbeat/module/oracle/sql.go
  x-pack/metricbeat/module/oracle/tablespace/data.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, enhancement, review

#13318 Add ignore_missing to drop_fields
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/actions/drop_fields.go
Labels: enhancement, libbeat, review

#13319 Add unix epoch time support
  CHANGELOG.next.asciidoc
  libbeat/common/coerce.go
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/timestamp/error.go
  libbeat/processors/timestamp/timestamp.go
  libbeat/processors/timestamp/timestamp_test.go
Labels: :Processors, enhancement, libbeat, review

#13340 Fix Oracle performance fields.yml
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/oracle/fields.go
  x-pack/metricbeat/module/oracle/performance/_meta/fields.yml
Labels: Metricbeat, bug, review

#13326 Add registered_domain processor
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/imports.go
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/registered_domain/config.go
  libbeat/processors/registered_domain/registered_domain.go
  libbeat/processors/registered_domain/registered_domain_test.go
  libbeat/processors/script/javascript/module/processor/processor.go
Labels: :Processors, Team:SIEM, enhancement, libbeat, review

#13351 Add timeout option to reference configuration
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/_meta/beat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
Labels: Functionbeat, review

#13291 [Functionbeat] fix cloudwatch logs timestamp to use logRecord timestamp…
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/provider/aws/aws/transformer/transformer.go
Labels: Functionbeat, review

#13308 Fix filebeat system module timezone parsing
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/syslog/ingest/pipeline.json
Labels: :infrastructure, Filebeat, [zube]: In Review, bug, module, needs_backport, v7.3.2, v7.4.0

#13317 Add input for Cloudwatch logs via Kinesis
  x-pack/functionbeat/_meta/beat.reference.yml
  x-pack/functionbeat/_meta/beat.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/functionbeat/manager/aws/aws.go
  x-pack/functionbeat/provider/aws/aws/cloudwatch_kinesis.go
  x-pack/functionbeat/provider/aws/aws/transformer/transformer.go
  x-pack/functionbeat/provider/aws/aws/transformer/transformer_test.go
  x-pack/functionbeat/provider/aws/include/feature.go
Labels: Functionbeat, needs_docs, review

#13358 Cherry-pick #13308 to 7.3: Fix filebeat system module timezone parsing
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/syslog/ingest/pipeline.json
Labels: :infrastructure, [zube]: Inbox, backport, review

#13355 Add test for cloudwatch timestamp
  x-pack/functionbeat/provider/aws/aws/transformer/transformer_test.go
Labels: Functionbeat, review

#13345 Enable Logstash output
  libbeat/cfgfile/cfgfile.go
  libbeat/cmd/instance/settings.go
  x-pack/functionbeat/config/config.go
  x-pack/functionbeat/function/beater/functionbeat.go
  x-pack/functionbeat/function/cmd/root.go
  x-pack/functionbeat/function/core/license_client.go
  x-pack/functionbeat/function/core/license_client_test.go
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/functionbeat/magefile.go
  x-pack/functionbeat/manager/cmd/provider_cmd.go
  x-pack/functionbeat/manager/cmd/root.go
  x-pack/functionbeat/manager/core/makezip.go
  x-pack/functionbeat/scripts/mage/config.go
Labels: Functionbeat, review

#13356 Add container image in Kubernetes metadata
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/common/kubernetes/metadata.go
  libbeat/processors/add_kubernetes_metadata/indexers.go
  libbeat/processors/add_kubernetes_metadata/indexers_test.go
Labels: :infrastructure, [zube]: In Review, in progress

#13332 Look for keystore under the correct path
  CHANGELOG.next.asciidoc
  libbeat/keystore/file_keystore.go
  libbeat/keystore/keystore.go
  x-pack/functionbeat/config/config.go
  x-pack/functionbeat/manager/core/makezip.go
Labels: Functionbeat, review

#13379 Missing changes for Cisco FTD (#13286)
  filebeat/docs/modules/cisco.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/cisco/shared/gen.go
Labels: review

#13382 Remove duplicate field defs for DNS, after ECS 1.1.0 import
  packetbeat/docs/fields.asciidoc
  packetbeat/protos/dns/_meta/fields.yml
  packetbeat/protos/dns/fields.go
Labels: Team:SIEM, needs_backport, v7.4.0

#13383 Remove duplicate definitions of fields that are now in ECS
  auditbeat/docs/fields.asciidoc
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/auditbeat/module/system/_meta/fields.yml
  x-pack/auditbeat/module/system/fields.go
Labels: Auditbeat, Winlogbeat, ecs, review

#13377 Add module for receiving CEF data
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/cef.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/tests/system/test_modules.py
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/cef/_meta/config.yml
  x-pack/filebeat/module/cef/_meta/docs.asciidoc
  x-pack/filebeat/module/cef/_meta/fields.yml
  x-pack/filebeat/module/cef/fields.go
  x-pack/filebeat/module/cef/log/config/input.yml
  x-pack/filebeat/module/cef/log/ingest/pipeline.yml
  x-pack/filebeat/module/cef/log/manifest.yml
  x-pack/filebeat/module/cef/log/test/cef.log
  x-pack/filebeat/module/cef/log/test/cef.log-expected.json
  x-pack/filebeat/modules.d/cef.yml.disabled
Labels: Filebeat, Team:SIEM, enhancement, module, review

#13384 Update go-windows and gosigar to load DLLs from system dirs
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-windows/CHANGELOG.md
  vendor/github.com/elastic/go-windows/NOTICE.txt
  vendor/github.com/elastic/go-windows/Vagrantfile
  vendor/github.com/elastic/go-windows/constants.go
  vendor/github.com/elastic/go-windows/doc.go
  vendor/github.com/elastic/go-windows/go.mod
  vendor/github.com/elastic/go-windows/go.sum
  vendor/github.com/elastic/go-windows/kernel32.go
  vendor/github.com/elastic/go-windows/ntdll.go
  vendor/github.com/elastic/go-windows/psapi.go
  vendor/github.com/elastic/go-windows/utf16.go
  vendor/github.com/elastic/go-windows/version.go
  vendor/github.com/elastic/go-windows/zsyscall_windows.go
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/README.md
  vendor/github.com/elastic/gosigar/sigar_darwin.go
  vendor/github.com/elastic/gosigar/sigar_darwin_386.go
  vendor/github.com/elastic/gosigar/sigar_darwin_amd64.go
  vendor/github.com/elastic/gosigar/sigar_interface.go
  vendor/github.com/elastic/gosigar/sys/windows/doc.go
  vendor/github.com/elastic/gosigar/sys/windows/fix_generated.go
  vendor/github.com/elastic/gosigar/sys/windows/syscall_windows.go
  vendor/github.com/elastic/gosigar/sys/windows/zsyscall_windows.go
  vendor/vendor.json
Labels: review

#12592 fix ilm.policy_name default value
  libbeat/docs/shared-ilm.asciidoc
Labels: docs, needs_backport, review

#13368 Fix filebeat kafka module ingest timezone
  filebeat/module/kafka/log/ingest/pipeline.json
Labels: :infrastructure, Filebeat, module, needs_backport, review, v7.3.2, v7.4.0

#13403 Revert "Update license test for the repository"
  LICENSE.txt
Labels: review

#13396 Fix keystore name
  x-pack/functionbeat/config/config.go
Labels: Functionbeat, review

#13405 Revert "Update license test for the repository (#13347)"
  LICENSE.txt
Labels: review

#13404 Revert "Update license test for the repository (#13347)"
  LICENSE.txt
Labels: review

#13402 Disable freebsd cross-compile
  libbeat/Makefile
Labels: bug, needs_backport, review

#13407 Cherry-pick #13402 to 7.4: Disable freebsd cross-compile
  libbeat/Makefile
Labels: backport, review

#13398 Cherry-pick #13368 to 7.4: Fix filebeat kafka module ingest timezone
  filebeat/module/kafka/log/ingest/pipeline.json
Labels: backport, review, v7.4.0

#13399 Cherry-pick #13368 to 7.3: Fix filebeat kafka module ingest timezone
  filebeat/module/kafka/log/ingest/pipeline.json
Labels: backport, review, v7.3.2

#13365 Add support for sampling rate and various fixes
  metricbeat/docs/modules/statsd.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/statsd/README.md
  x-pack/metricbeat/module/statsd/_meta/config.yml
  x-pack/metricbeat/module/statsd/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/server/_meta/data.json
  x-pack/metricbeat/module/statsd/server/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/server/data.go
  x-pack/metricbeat/module/statsd/server/data_test.go
  x-pack/metricbeat/module/statsd/server/registry.go
  x-pack/metricbeat/module/statsd/server/server.go
  x-pack/metricbeat/modules.d/statsd.yml.disabled
Labels: :infrastructure, Metricbeat, [zube]: Inbox, module, needs_backport, review, v7.4.0

#13322 [metricbeat] first pass at adding vmstats to system/memory
  CHANGELOG.next.asciidoc
  NOTICE.txt
  libbeat/metric/system/memory/memory.go
  metricbeat/docs/fields.asciidoc
  metricbeat/module/system/fields.go
  metricbeat/module/system/memory/_meta/data.json
  metricbeat/module/system/memory/_meta/fields.yml
  metricbeat/module/system/memory/memory.go
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/Makefile
  vendor/github.com/elastic/go-sysinfo/README.md
  vendor/github.com/elastic/go-sysinfo/providers/linux/host_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/memory_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/util.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/vmstat.go
  vendor/github.com/elastic/go-sysinfo/types/errors.go
  vendor/github.com/elastic/go-sysinfo/types/go.go
  vendor/github.com/elastic/go-sysinfo/types/host.go
  vendor/github.com/elastic/go-sysinfo/types/process.go
  vendor/vendor.json
Labels: :infrastructure, [zube]: In Review, enhancement, review

#13381 Add a warning for uncommitted changes in copy-vendor, and quiet git commit
  generator/beat/{beat}/Makefile
  generator/metricbeat/{beat}/Makefile
Labels: :Generator, :infrastructure

#13421 [filebeat] Fix incorrect field references in envoyproxy dashboard
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/envoyproxy/_meta/kibana/7/dashboard/Filebeat-Envoyproxy-Overview.json
Labels: :infrastructure, Filebeat

#13378 [Filebeat] Change url grok pattern in iis error fileset to accept malformed url paths
  CHANGELOG.next.asciidoc
  filebeat/module/iis/error/ingest/default.json
  filebeat/module/iis/error/test/iis_error_url.log
  filebeat/module/iis/error/test/iis_error_url.log-expected.json
  filebeat/module/iis/error/test/ipv6_zone_id.log-expected.json
  filebeat/module/iis/error/test/test.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, bug, review

#13411 Update testing env 6.8.3
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v6.8.3

#13422 Populate dns.type in Zeek pipeline
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dns/test/dns-json.log
  x-pack/filebeat/module/zeek/dns/test/dns-json.log-expected.json
Labels: Filebeat, Team:SIEM, bug, ecs, needs_backport, v7.4.0

#13406 Cherry-pick #13396 to 7.4: Fix keystore name
  x-pack/functionbeat/config/config.go
Labels: backport, review

#13418 [7.4] Add support for sampling rate and various fixes (#13365)
  metricbeat/docs/modules/statsd.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/statsd/README.md
  x-pack/metricbeat/module/statsd/_meta/config.yml
  x-pack/metricbeat/module/statsd/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/server/_meta/data.json
  x-pack/metricbeat/module/statsd/server/_meta/docs.asciidoc
  x-pack/metricbeat/module/statsd/server/data.go
  x-pack/metricbeat/module/statsd/server/data_test.go
  x-pack/metricbeat/module/statsd/server/registry.go
  x-pack/metricbeat/module/statsd/server/server.go
  x-pack/metricbeat/modules.d/statsd.yml.disabled
Labels: backport

#13426 Fix panic in Redis key metricset
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/key/key.go
Labels: :infrastructure, Metricbeat, bug, module, needs_backport, v6.8.4, v7.2.2, v7.3.2, v7.4.0

#13431 Add missing changelog entries
  CHANGELOG.next.asciidoc
Labels: Functionbeat, needs_backport, review

#13429 Backport #13422 to 7.x: Populate dns.type in Zeek pipeline
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dns/test/dns-json.log
  x-pack/filebeat/module/zeek/dns/test/dns-json.log-expected.json
Labels: Filebeat, Team:SIEM, backport, ecs

#13430 Backport #13422 to 7.4: Populate dns.type in Zeek pipeline
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dns/test/dns-json.log
  x-pack/filebeat/module/zeek/dns/test/dns-json.log-expected.json
Labels: Filebeat, Team:SIEM, backport, ecs, v7.4.0

#13433 Fix conversions of events with module fields
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/system/system.go
  metricbeat/module/kubernetes/volume/volume.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, module, needs_backport, qa, review, v7.2.2, v7.3.2, v7.4.0

#13439 Cherry-pick #13431 to 7.4: Add missing changelog entries
  CHANGELOG.next.asciidoc
Labels: backport, review

#13427 Add dns.type to Packetbeat
  packetbeat/protos/dns/dns.go
Labels: Packetbeat, needs_backport, review

#13414 Use DefaultMetaGeneratorConfig in MetadataEnrichers to initialize configurations
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/metadata.go
  metricbeat/module/kubernetes/util/kubernetes.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, module, needs_backport, qa, review, v7.4.0

#13443 Add missing changelog for #13433
  CHANGELOG.next.asciidoc
Labels: Metricbeat, review

#13296 [Filebeat] Fix filebeat autodiscover fileset hint for container input
  CHANGELOG.next.asciidoc
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/autodiscover/builder/hints/logs_test.go
Labels: :infrastructure, [zube]: In Review, libbeat, needs_backport, review, v7.2.2, v7.3.2, v7.4.0

#13389 Aws cloudwatch msk
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
Labels: :infrastructure, Metricbeat, needs_backport, review

#13445 [Auditbeat] system/socket: Add changelog entry
  CHANGELOG.next.asciidoc
Labels: review

#13456 Cherry-pick #13445 to 7.4: [Auditbeat] system/socket: Add changelog entry
  CHANGELOG.next.asciidoc
Labels: backport, review

#13453 Cherry-pick #13427 to 7.4: Add dns.type to Packetbeat
  packetbeat/protos/dns/dns.go
Labels: backport, review

#13446 Use DefaultMetaGeneratorConfig in MetadataEnrichers to initialize con…
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/metadata.go
  metricbeat/module/kubernetes/util/kubernetes.go
Labels: backport, review, v7.4.0
