Repository elastic/beats, pull requests merged in 2019-10, with the labels that each got.

#13853 [DOCS] Remove accidental include
  x-pack/functionbeat/docs/configuring-howto.asciidoc
Labels: docs, needs_backport, review

#13854 [7.4][DOCS] Backport: Remove accidental include
  x-pack/functionbeat/docs/configuring-howto.asciidoc
Labels: backport, docs, v7.4.0

#13803 Add breaking changes and release highlights
  libbeat/docs/breaking-7.0.asciidoc
  libbeat/docs/breaking-7.2.asciidoc
  libbeat/docs/breaking-7.3.asciidoc
  libbeat/docs/breaking-7.4.asciidoc
  libbeat/docs/breaking.asciidoc
  libbeat/docs/highlights-7.4.0.asciidoc
  libbeat/docs/highlights.asciidoc
Labels: docs, review

#13855 [7.4][DOCS] Backport: Add breaking changes and release highlights (#13803)
  libbeat/docs/breaking-7.0.asciidoc
  libbeat/docs/breaking-7.2.asciidoc
  libbeat/docs/breaking-7.3.asciidoc
  libbeat/docs/breaking-7.4.asciidoc
  libbeat/docs/breaking.asciidoc
  libbeat/docs/highlights-7.4.0.asciidoc
  libbeat/docs/highlights.asciidoc
Labels: backport, docs, v7.4.0

#13775 Tag image names in metricbeat docker compose files
  libbeat/tests/compose/compose.go
  libbeat/tests/compose/wrapper.go
  libbeat/tests/system/beat/compose.py
  metricbeat/docker-compose.yml
  metricbeat/module/aerospike/_meta/Dockerfile
  metricbeat/module/apache/_meta/Dockerfile
  metricbeat/module/apache/docker-compose.yml
  metricbeat/module/apache/test_apache.py
  metricbeat/module/beat/_meta/Dockerfile
  metricbeat/module/ceph/_meta/Dockerfile
  metricbeat/module/consul/_meta/Dockerfile
  metricbeat/module/couchbase/_meta/Dockerfile
  metricbeat/module/couchdb/_meta/Dockerfile
  metricbeat/module/dropwizard/_meta/Dockerfile
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/envoyproxy/_meta/Dockerfile
  metricbeat/module/etcd/_meta/Dockerfile
  metricbeat/module/etcd/test_etcd.py
  metricbeat/module/haproxy/_meta/Dockerfile
  metricbeat/module/haproxy/_meta/Dockerfile.1.6
  metricbeat/module/haproxy/_meta/Dockerfile.1.7
  metricbeat/module/jolokia/_meta/Dockerfile
  metricbeat/module/kafka/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/module/logstash/_meta/Dockerfile
  metricbeat/module/memcached/_meta/Dockerfile
  metricbeat/module/mongodb/_meta/Dockerfile
  metricbeat/module/mysql/_meta/Dockerfile
  metricbeat/module/nginx/_meta/Dockerfile
  metricbeat/module/php_fpm/_meta/Dockerfile
  metricbeat/module/postgresql/_meta/Dockerfile
  metricbeat/module/prometheus/_meta/Dockerfile
  metricbeat/module/rabbitmq/_meta/Dockerfile
  metricbeat/module/redis/_meta/Dockerfile
  metricbeat/module/traefik/_meta/Dockerfile
  metricbeat/module/zookeeper/_meta/Dockerfile
  metricbeat/tests/system/test_haproxy.py
  metricbeat/tests/system/test_kafka.py
  metricbeat/tests/system/test_mysql.py
  metricbeat/tests/system/test_redis.py
  x-pack/metricbeat/docker-compose.yml
  x-pack/metricbeat/module/cockroachdb/_meta/Dockerfile
  x-pack/metricbeat/module/mssql/_meta/Dockerfile
Labels: :Testing, :infrastructure, Metricbeat, [zube]: In Review, module, review

#13336 [DOCS] Add role and vpc settings to the config reference
  x-pack/functionbeat/docs/config-options.asciidoc
Labels: Functionbeat, docs, needs_backport, review

#13861 [DOCS] Bump docs version for 7.4.0
  libbeat/docs/version.asciidoc
Labels: docs, release, review, v7.4.0

#13863 Revert "[DOCS] Add role and vpc settings to the config reference (#13…
  x-pack/functionbeat/docs/config-options.asciidoc
Labels: docs

#13657 Bump version to 7.4.1
  libbeat/version/version.go
Labels: in progress, release, review, v7.4.1

#13866 [DOCS] Add role and vpc settings to the config reference
  x-pack/functionbeat/docs/config-options.asciidoc
Labels: docs, needs_backport, review

#13871 [7.3][DOCS] Backport: Add role and vpc settings to the config reference (#13866)
  x-pack/functionbeat/docs/config-options.asciidoc
Labels: backport, docs, v7.3.0

#13869 [7.4][DOCS] Backport: Add role and vpc settings to the config reference (#13866)
  x-pack/functionbeat/docs/config-options.asciidoc
Labels: backport, docs, v7.4.0

#13870 [7.2][DOCS] Backport: Add role and vpc settings to the config reference (#13866)
  x-pack/functionbeat/docs/config-options.asciidoc
Labels: backport, docs, v7.2.0

#13813 Fix _source query in integration test.
  libbeat/outputs/elasticsearch/api_integration_test.go
Labels: libbeat, review

#13875 Cherry-pick #13781 to master: Fix issue installing libsystemd-dev:i386 for journalbeat
  journalbeat/magefile.go
Labels: backport, review

#13771 Change the wording on the Licenser.Enforce when the endpoint is not reachable.
  CHANGELOG.next.asciidoc
  x-pack/libbeat/licenser/es_callback.go
Labels: libbeat

#13857 Make script processor Run method concurrency safe
  CHANGELOG.next.asciidoc
  libbeat/processors/script/javascript/javascript.go
  libbeat/processors/script/javascript/session.go
  libbeat/processors/script/javascript/session_test.go
Labels: :Processors, libbeat, review

#13878 Add `job` label by default when using Prometheus collector
  CHANGELOG.next.asciidoc
  metricbeat/module/prometheus/collector/_meta/data.json
  metricbeat/module/prometheus/collector/_meta/testdata/docs.plain-expected.json
  metricbeat/module/prometheus/collector/_meta/testdata/etcd-3.3.10-partial.plain-expected.json
  metricbeat/module/prometheus/collector/_meta/testdata/metrics-with-naninf.plain-expected.json
  metricbeat/module/prometheus/collector/_meta/testdata/prometheus-2.6.0-partial.plain-expected.json
  metricbeat/module/prometheus/collector/collector.go
  x-pack/metricbeat/module/cockroachdb/status/_meta/testdata/cockroachdb-status.v19.1.1.plain-expected.json
Labels: :infrastructure, [zube]: Inbox, enhancement, review

#13847 Use less restrictive API to check if template exists
  CHANGELOG.next.asciidoc
  libbeat/template/load.go
Labels: libbeat

#13883 Fix conditions for date processors without timezones
  CHANGELOG.next.asciidoc
  filebeat/module/apache/error/ingest/pipeline.json
  filebeat/module/elasticsearch/audit/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/server/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-plaintext.json
  filebeat/module/kafka/log/ingest/pipeline.json
  filebeat/module/nginx/error/ingest/pipeline.json
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/syslog/ingest/pipeline.json
Labels: :infrastructure, Filebeat, [zube]: In Review, module, review, v7.5.0

#13848 Do not check for alias when setup.ilm.check_exists is false
  CHANGELOG.next.asciidoc
  libbeat/idxmgmt/ilm/std.go
Labels: libbeat

#13881 Mark usage as collected only if API call succeeds
  metricbeat/module/kibana/mtest/testing.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/module/kibana/stats/stats_test.go
  metricbeat/module/kibana/status/status_integration_test.go
Labels: Stack monitoring, needs_backport, review, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#13246 correct indentation for OS in docs.asciidoc
  metricbeat/module/system/raid/_meta/docs.asciidoc
Labels: Metricbeat, docs, needs_backport

#13890 Fix timezone parsing of logstash module ingest pipelines
  CHANGELOG.next.asciidoc
  filebeat/module/logstash/log/ingest/pipeline-plain.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/ingest/pipeline-plain.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, bug, module, review

#13905 [Libbeat]Kubernetes: fix statefulset watcher typo
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/watcher.go
Labels: :infrastructure, containers, needs_backport, review

#13895 [7.4] Mark usage as collected only if API call succeeds (#13881)
  metricbeat/module/kibana/mtest/testing.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/module/kibana/stats/stats_test.go
  metricbeat/module/kibana/status/status_integration_test.go
Labels: backport

#13896 [6.8] Mark usage as collected only if API call succeeds (#13881)
  metricbeat/module/kibana/mtest/testing.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/module/kibana/stats/stats_test.go
  metricbeat/module/kibana/status/status_integration_test.go
Labels: backport

#13912 Cherry-pick #13903 to 7.4: [SIEM] Fix Cisco ASA and FTD message 106001 producing bad network.direction
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/asa/test/filtered.log
  x-pack/filebeat/module/cisco/asa/test/filtered.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
Labels: backport, review

#13876 Fix bad variable in Netflow docs
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
Labels: Filebeat, docs, review

#13923 Regenerate expected json for Cisco logs
  x-pack/filebeat/module/cisco/asa/test/filtered.log-expected.json
Labels: :Testing, review

#13902 Add support for numeric time zone offsets in timestamp processor
  CHANGELOG.next.asciidoc
  libbeat/processors/timestamp/timestamp.go
  libbeat/processors/timestamp/timestamp_test.go
Labels: :Processors, libbeat, review

#13879 Fix timezone parsing in Rabbitmq logs
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/rabbitmq/log/ingest/pipeline.yml
  x-pack/filebeat/module/rabbitmq/log/test/test.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: Inbox, bug, module, review

#13918 Remove event.timezone from events from some json logs
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/audit/test/test-audit-730.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit-docker.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit.log-expected.json
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/deprecation/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/test/test-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/elasticsearch/slowlog/test/es74_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es74_index_search_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_search_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/slowlogs-json.log-expected.json
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/log/test/logstash-json.log-expected.json
  filebeat/module/logstash/slowlog/config/slowlog.yml
  filebeat/module/logstash/slowlog/test/slowlog-json.log-expected.json
Labels: :infrastructure, Filebeat, Stack monitoring, [zube]: In Review, module, review

#13693 [Metricbeat]Kubernetes: add resource quotas via kube-state-metrics
  CHANGELOG.next.asciidoc
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment-configmap.yaml
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/kubernetes/state_resourcequota.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_docker.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/module/kubernetes/_meta/test/docs/02_objects/resourcequota.yaml
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_resourcequota/README.md
  metricbeat/module/kubernetes/state_resourcequota/_meta/data.json
  metricbeat/module/kubernetes/state_resourcequota/_meta/docs.asciidoc
  metricbeat/module/kubernetes/state_resourcequota/_meta/fields.yml
  metricbeat/module/kubernetes/state_resourcequota/_meta/test/kube-state-metrics.1.7
  metricbeat/module/kubernetes/state_resourcequota/_meta/test/kube-state-metrics.1.7.expected
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata/kube-state-metrics.1.7.plain
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata/kube-state-metrics.1.7.plain-expected.json
  metricbeat/module/kubernetes/state_resourcequota/state_resourcequota.go
  metricbeat/module/kubernetes/state_resourcequota/state_resourcequota_test.go
  metricbeat/modules.d/kubernetes.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :infrastructure, Metricbeat, [zube]: In Review, containers, review, v7.5.0

#13884 [Metricbeat]Kubernetes: make state_container metricset ECS compliant
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_container/_meta/data.json
  metricbeat/module/kubernetes/state_container/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_container/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm-v1_3_0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
Labels: :infrastructure, Metricbeat, containers, qa, review, v7.5.0

#13899 Cherry-pick #13857 to 7.4: Make script processor Run method concurrency safe
  CHANGELOG.next.asciidoc
  libbeat/processors/script/javascript/javascript.go
  libbeat/processors/script/javascript/session.go
  libbeat/processors/script/javascript/session_test.go
Labels: backport, review

#13898 Cherry-pick #13746 to 7.4: Add panic recover to JS script processor
  CHANGELOG.next.asciidoc
  libbeat/processors/script/javascript/session.go
Labels: backport, review

#13909 Implement deep merging of fields
  CHANGELOG.next.asciidoc
  libbeat/common/mapstr.go
  libbeat/common/mapstr_test.go
  libbeat/publisher/processing/default.go
Labels: Filebeat, bug, libbeat, review, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#13942 Adding missed CHANGELOG entry
  CHANGELOG.next.asciidoc
Labels: review

#13941 Add POST and response.body examples
  heartbeat/docs/heartbeat-options.asciidoc
Labels: Heartbeat, docs, needs_backport

#13943 Adding missed CHANGELOG entry
  CHANGELOG.next.asciidoc
Labels: review

#13794 [DOCS] Change intro to avoid mentioning number of sniffer types
  packetbeat/docs/packetbeat-options.asciidoc
Labels: docs, needs_backport

#13900 [DOCS] Fix typo in Graphite module docs
  metricbeat/docs/modules/graphite.asciidoc
  metricbeat/module/graphite/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#13837 [6.3][DOCS] Backport: Switch over local build to use asciidoctor (#13772)
  script/build_docs.sh
Labels: backport, docs, v6.3.0

#13836 [6.4][DOCS] Backport: Switch over local build to use asciidoctor (#13772)
  script/build_docs.sh
Labels: backport, docs, v6.4.0

#13952 [DOCS] Forward port: Add POST and response.body examples (#13941)
  heartbeat/docs/heartbeat-options.asciidoc
Labels: backport, docs

#13907 Check if file has disappeared sooner in Log reader
  CHANGELOG.next.asciidoc
  filebeat/input/log/log.go
Labels: Filebeat, bug, needs_backport, review, v6.8.4, v7.4.1, v7.5.0, v8.0.0

#13957 [7.4][DOCS] Backport: Fix typo in Graphite module docs (#13900)
  metricbeat/docs/modules/graphite.asciidoc
  metricbeat/module/graphite/_meta/docs.asciidoc
Labels: backport, docs, v7.4.2

#13956 [7.4][DOCS] Backport: Change intro to avoid mentioning number of sniffer types
  packetbeat/docs/packetbeat-options.asciidoc
Labels: Packetbeat, backport, docs, v7.4.2

#13954 [7.3][DOCS] Backport: Change intro to avoid mentioning number of sniffer types (#13794)
  packetbeat/docs/packetbeat-options.asciidoc
Labels: Packetbeat, backport, docs, v7.3.3

#13945 [7.4] Implement deep merging of fields (#13909)
  CHANGELOG.next.asciidoc
  libbeat/common/mapstr.go
  libbeat/common/mapstr_test.go
  libbeat/publisher/processing/default.go
Labels: backport

#13915 [AllBeats]Kubernetes - Travis tests: Remove 1.8 - Add 1.15
  .travis.yml
  deploy/kubernetes/.travis/setup.sh
Labels: :Testing, :infrastructure, containers, review

#13926 Fix timezone parsing in iptables, mssql and panw modules
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/iptables/log/ingest/pipeline.json
  x-pack/filebeat/module/iptables/log/test/geo.log-expected.json
  x-pack/filebeat/module/iptables/log/test/icmp.log-expected.json
  x-pack/filebeat/module/iptables/log/test/iptables.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ipv6.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ubiquiti.log-expected.json
  x-pack/filebeat/module/mssql/log/ingest/pipeline.json
  x-pack/filebeat/module/mssql/log/test/test.log-expected.json
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/test/pan_inc_other.log-expected.json
  x-pack/filebeat/module/panw/panos/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/panw/panos/test/pan_inc_traffic.log-expected.json
  x-pack/filebeat/module/panw/panos/test/threat.log-expected.json
  x-pack/filebeat/module/panw/panos/test/traffic.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, review

#13872 [Metricbeat] Add tags as filter in ec2 metricset
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/aws_test.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/s3_daily_storage/s3_daily_storage.go
  x-pack/metricbeat/module/aws/s3_request/s3_request.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, in progress, review, v7.5.0

#13955 Close changelog for 7.4.1
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.4.1

#13948 Update testing env 7.4.1
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v7.4.1

#13328 [DOCS] Clarify how to disable the default system module metricsets
  metricbeat/docs/faq-unexpected-metrics.asciidoc
  metricbeat/docs/faq.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/module/system/_meta/docs.asciidoc
Labels: Metricbeat, docs, needs_backport, review

#13961 [7.0][DOCS] Backport: Fix markup issues for asciidoctor migration
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  journalbeat/docs/general-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/shared-ilm.asciidoc
  libbeat/docs/shared-ssl-config.asciidoc
  libbeat/docs/template-config.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v7.0.2

#13972 [7.2][DOCS] Backport: keystore dir is path.data (#12222)
  libbeat/docs/keystore.asciidoc
Labels: backport, docs, v7.2.2

#10335 Provide proxy_url example
  heartbeat/docs/heartbeat-options.asciidoc
Labels: :uptime, [zube]: Backlog, docs, review

#13974 Provide proxy_url example (#10335)
  heartbeat/docs/heartbeat-options.asciidoc
Labels: :uptime, Heartbeat, backport, docs, v7.4.1

#13965 Modify kafka input to include parsing multiple messages
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-kafka.asciidoc
  filebeat/input/kafka/config.go
  filebeat/input/kafka/input.go
  filebeat/input/kafka/kafka_integration_test.go
Labels: :infrastructure, Filebeat, [zube]: Inbox

#13964 Change kubernetes.event.message to text
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/event/_meta/fields.yml
  metricbeat/module/kubernetes/fields.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, containers, qa, review, v7.5.0

#13859 Small improvements on the azure module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/azure.asciidoc
  x-pack/metricbeat/module/azure/_meta/config.yml
  x-pack/metricbeat/module/azure/_meta/docs.asciidoc
  x-pack/metricbeat/module/azure/_meta/shared-azure.asciidoc
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/client_utils.go
  x-pack/metricbeat/module/azure/client_utils_test.go
  x-pack/metricbeat/module/azure/compute_vm/_meta/docs.asciidoc
  x-pack/metricbeat/module/azure/compute_vm/client_helper.go
  x-pack/metricbeat/module/azure/compute_vm/compute_vm.go
  x-pack/metricbeat/module/azure/compute_vm/compute_vm_test.go
  x-pack/metricbeat/module/azure/compute_vm_scaleset/_meta/docs.asciidoc
  x-pack/metricbeat/module/azure/compute_vm_scaleset/client_helper.go
  x-pack/metricbeat/module/azure/compute_vm_scaleset/compute_vm_scaleset.go
  x-pack/metricbeat/module/azure/compute_vm_scaleset/compute_vm_scaleset_test.go
  x-pack/metricbeat/module/azure/monitor/_meta/docs.asciidoc
  x-pack/metricbeat/module/azure/monitor/monitor.go
  x-pack/metricbeat/modules.d/azure.yml.disabled
Labels: :infrastructure, Metricbeat, [zube]: In Review

#13978 [AllBeats]Flaky: remove kubernetes state_resourceqouta unit test
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata.flaky/config.yml
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata.flaky/kube-state-metrics.1.7.plain
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata.flaky/kube-state-metrics.1.7.plain-expected.json
  metricbeat/module/kubernetes/state_resourcequota/state_resourcequota_test.go
Labels: :infrastructure, Metricbeat, flaky-test

#13935 Fix add_cloud_metadata provider names list
  libbeat/docs/processors-using.asciidoc
Labels: docs, needs_backport

#13141 Mention latest 6.x version in upgrade docs
  libbeat/docs/upgrading.asciidoc
Labels: docs, review

#13975 [6.8][DOCS] Backport: Fix markup issues for asciidoctor migration
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  journalbeat/docs/general-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/template-config.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v6.8.5

#13973 [DOCS] Fix typo
  metricbeat/docs/metricbeat-options.asciidoc
Labels: docs, needs_backport, review

#13971 Close changelog for 6.8.4
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.8.4

#13968 Update testing env 6.8.4
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v6.8.4

#13988 Update the azure module fields
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/azure/_meta/fields.yml
  x-pack/metricbeat/module/azure/compute_vm/_meta/fields.yml
  x-pack/metricbeat/module/azure/compute_vm_scaleset/_meta/fields.yml
  x-pack/metricbeat/module/azure/fields.go
  x-pack/metricbeat/module/azure/monitor/_meta/fields.yml
Labels: :infrastructure, Metricbeat

#13925 Cherry-pick #13876 to 7.4: Fix bad variable in Netflow docs
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
Labels: backport, review

#13893 Fix timezone parsing of Cisco module ingest pipelines
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/asa/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/filtered.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/hostnames.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/filtered.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/firepower-management.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/no-type-id.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/security-connection.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/security-file-malware.log-expected.json
  x-pack/filebeat/module/cisco/ios/config/input.yml
  x-pack/filebeat/module/cisco/ios/config/pipeline.js
  x-pack/filebeat/module/cisco/ios/test/cisco-ios-syslog.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
Labels: :infrastructure, Filebeat, [zube]: In Review, module, review

#13776 [Filebeat]Azure module - activity logs
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/azure.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/azure/_meta/config.yml
  x-pack/filebeat/module/azure/_meta/docs.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/config/activitylogs.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/activitylogs/manifest.yml
  x-pack/filebeat/module/azure/activitylogs/test/activity_log.json
  x-pack/filebeat/module/azure/activitylogs/test/activity_log_expected.json
  x-pack/filebeat/module/azure/auditlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/auditlogs/config/auditlogs.yml
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/auditlogs/manifest.yml
  x-pack/filebeat/module/azure/auditlogs/test/audit_log.json
  x-pack/filebeat/module/azure/auditlogs/test/audit_log_expected.json
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/module.yml
  x-pack/filebeat/module/azure/signinlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/signinlogs/config/signinlogs.yml
  x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/signinlogs/manifest.yml
  x-pack/filebeat/module/azure/signinlogs/test/signin_log.json
  x-pack/filebeat/module/azure/signinlogs/test/signin_log_expected.json
  x-pack/filebeat/modules.d/azure.yml.disabled
Labels: :infrastructure, Filebeat, [zube]: In Progress, x-pack

#13851 [All Beats]move from extensions/v1beta1 to apps/v1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/auditbeat/auditbeat-daemonset.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-daemonset.yaml
  deploy/kubernetes/metricbeat/metricbeat-deployment.yaml
  x-pack/filebeat/module/coredns/README.md
  x-pack/filebeat/module/envoyproxy/README.md
Labels: :infrastructure, [zube]: In Progress, containers, qa, review, v7.5.0

#13916 Leverage KUBECONFIG when creating k8s client
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/util.go
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/config.yml
  metricbeat/modules.d/kubernetes.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :infrastructure, [zube]: In Review, containers, enhancement, v7.5.0

#13922 Fix race in publisher/pipeline retry loop
  libbeat/publisher/pipeline/controller.go
  libbeat/publisher/pipeline/retry.go
Labels: :infrastructure, [zube]: In Review, bug, libbeat, review

#13989 [6.7][DOCS] Backport: Fix markup issues for asciidoctor migration
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  journalbeat/docs/general-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/template-config.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v6.7.3

#14009 [6.6][DOCS] Backport: Fix markup issues for asciidoctor migration
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/template-config.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v6.6.3

#14011 [6.5][DOCS] Backport: Fix markup issues for asciidoctor migration
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/template-config.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v6.5.5

#14012 [6.4][DOCS] Backport: Fix markup issues for asdciidoctor
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/template-config.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v6.4.4

#14013 [6.3][DOCS] Backport: Fix markup issues for asdciidoctor (#14011) (#14012)
  auditbeat/docs/modules.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/docs/modules.asciidoc
  filebeat/docs/modules/osquery.asciidoc
  filebeat/module/osquery/_meta/docs.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  libbeat/docs/config-file-format.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/regexp.asciidoc
  libbeat/docs/template-config.asciidoc
  metricbeat/docs/modules.asciidoc
  packetbeat/docs/faq.asciidoc
Labels: backport, docs, v6.3.3

#13946 [6.8] Implement deep merging of fields (#13909)
  CHANGELOG.next.asciidoc
  libbeat/common/mapstr.go
  libbeat/common/mapstr_test.go
  libbeat/publisher/pipeline/pipeline.go
  libbeat/publisher/pipeline/processor.go
Labels: backport

#14017 Update metricbeat tests to use 7.4 version of the stack
  metricbeat/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Labels: :Testing, :infrastructure, review

#14015 [6.8] Remove CAP_AUDIT_READ from docker-compose.yml (#13077)
  auditbeat/docker-compose.yml
  x-pack/auditbeat/docker-compose.yml
Labels: backport

#13999 Document monitoring.cluster_uuid setting
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
Labels: Stack monitoring, docs, libbeat, needs_backport, v7.3.3, v7.4.2, v7.5.0, v8.0.0

#14025 [7.3] Document monitoring.cluster_uuid setting (#13999)
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
Labels: backport

#14000 Add Azure Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-azure-vm-guestmetrics-overview.png
  metricbeat/docs/images/metricbeat-azure-vm-overview.png
  metricbeat/docs/images/metricbeat-azure-vmss-overview.png
  metricbeat/docs/modules/azure.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/module/azure/_meta/docs.asciidoc
  x-pack/metricbeat/module/azure/_meta/kibana/7/dashboard/Metricbeat-azure-vm-guestmetrics-overview.json
  x-pack/metricbeat/module/azure/_meta/kibana/7/dashboard/Metricbeat-azure-vm-overview.json
  x-pack/metricbeat/module/azure/_meta/kibana/7/dashboard/Metricbeat-azure-vmss-overview.json
Labels: :infrastructure, Metricbeat, enhancement

#14024 [7.4] Document monitoring.cluster_uuid setting (#13999)
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
Labels: backport

#13980 [Filebeat] Support for gzipped files in S3 input
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/s3/input.go
Labels: :infrastructure, Filebeat, enhancement

#14007 [Metricbeat] Add permissions for getting account id and name
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ebs/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/elb/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/rds/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/s3_request/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/sqs/_meta/docs.asciidoc
Labels: :infrastructure, Metricbeat, [zube]: In Review, review

#13937 Winlogbeat: Fill event.provider
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/eventlog.go
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012r2-logon.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016-4672.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016-logoff.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-10.2-dns.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Team:SIEM, Winlogbeat

#14016 Improve logging and docs regarding Kubernetes watchers' scope
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  metricbeat/module/kubernetes/util/kubernetes.go
Labels: :infrastructure, [zube]: (7.5) Planned for release, [zube]: In Review, autodiscovery, containers, docs, v7.5.0

#13914 Field registry: Don't overwrite fields with same name
  CHANGELOG.next.asciidoc
  libbeat/asset/registry.go
Labels: discuss, libbeat, review

#13936 Always use create op_type with ES 7.5+
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_test.go
Labels: :Outputs, libbeat, review

#14018 Log CM deprecated
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/management/manager.go
Labels: Management, review

#14037 Cherry-pick #13914 to 7.4: Field registry: Don't overwrite fields with same name
  CHANGELOG.next.asciidoc
  libbeat/asset/registry.go
Labels: backport, review

#13849 Docs: Update writer role with least required privileges
  libbeat/docs/security/users.asciidoc
Labels: docs, libbeat

#14032 Cherry-pick #13821 to 6.8: [Filebeat] Fix bugs in Netflow input
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/netflow/decoder/ipfix/ipfix_test.go
  x-pack/filebeat/input/netflow/decoder/v9/session.go
  x-pack/filebeat/input/netflow/decoder/v9/session_test.go
  x-pack/filebeat/input/netflow/decoder/v9/v9.go
  x-pack/filebeat/input/netflow/decoder/v9/v9_test.go
  x-pack/filebeat/input/netflow/input.go
Labels: backport, review

#14035 Fix Cisco ASA and FTD parsing of unexpected domain names
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/cisco.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/cisco/asa/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/filtered.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/not-ip.log
  x-pack/filebeat/module/cisco/asa/test/not-ip.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/dns.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/intrusion.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/no-type-id.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/security-connection.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/security-file-malware.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
  x-pack/filebeat/module/cisco/shared/security-mappings.csv
Labels: Team:SIEM, bug, needs_backport, review

#13966 [SIEM][Auditbeat] Fix socket dataset startup when IPv6 is disabled
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/socket/guess/guess.go
  x-pack/auditbeat/module/system/socket/guess/inetsockaf.go
  x-pack/auditbeat/module/system/socket/guess/sockaddrin.go
  x-pack/auditbeat/module/system/socket/guess/sockaddrin6.go
  x-pack/auditbeat/module/system/socket/socket_linux.go
Labels: Auditbeat, bug, in progress, needs_backport

#13924 [SIEM] Fix wrong Netflow field names in template
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/input/netflow/_meta/fields.header.yml
  x-pack/filebeat/input/netflow/_meta/fields.yml
  x-pack/filebeat/input/netflow/fields.go
Labels: Filebeat, Team:SIEM, bug, needs_backport, review

#13758 [Metricbeat] Add tags as a filter for cloudwatch metricset
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, review, v7.5.0

#13530 Add events 4720 4722 4723 4724 4725 4726 4738 4740 4767 4781 - LogonID correlation
  CHANGELOG.next.asciidoc
  winlogbeat/docs/modules/security.asciidoc
  x-pack/winlogbeat/module/security/_meta/docs.asciidoc
  x-pack/winlogbeat/module/security/config/winlogbeat-security.js
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012r2-logon.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016-4672.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016-logoff.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4720_Account_Created.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4720_Account_Created.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4722_Account_Enabled.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4722_Account_Enabled.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4723_Password_Change.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4723_Password_Change.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4724_Password_Reset.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4724_Password_Reset.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4725_Account_Disabled.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4725_Account_Disabled.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4726_Account_Deleted.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4726_Account_Deleted.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4738_Account_Changed.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4738_Account_Changed.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4740_Account_Locked_Out.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4740_Account_Locked_Out.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4767_Account_Unlocked.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4767_Account_Unlocked.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4781_Account_Renamed.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4781_Account_Renamed.evtx.golden.json
Labels: Team:SIEM, Winlogbeat, module, review, x-pack

#13805 Add Filebeat misp module
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/misp.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/misp/_meta/config.yml
  x-pack/filebeat/module/misp/_meta/docs.asciidoc
  x-pack/filebeat/module/misp/_meta/fields.yml
  x-pack/filebeat/module/misp/fields.go
  x-pack/filebeat/module/misp/threat/_meta/fields.yml
  x-pack/filebeat/module/misp/threat/config/input.yml
  x-pack/filebeat/module/misp/threat/config/pipeline.js
  x-pack/filebeat/module/misp/threat/manifest.yml
  x-pack/filebeat/module/misp/threat/test/misp-test.json.log
  x-pack/filebeat/module/misp/threat/test/misp-test.json.log-expected.json
  x-pack/filebeat/modules.d/misp.yml.disabled
Labels: Filebeat, Team:SIEM, module, review

#13928 Implement setting to keep null values in events
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  auditbeat/docs/modules/auditd.asciidoc
  auditbeat/docs/modules/file_integrity.asciidoc
  auditbeat/module/auditd/_meta/config.yml.tmpl
  auditbeat/module/auditd/_meta/docs.asciidoc
  auditbeat/module/file_integrity/_meta/config.yml.tmpl
  auditbeat/module/file_integrity/_meta/docs.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/channel/connector.go
  filebeat/channel/factory.go
  filebeat/docs/inputs/input-common-options.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/_meta/beat.reference.yml
  heartbeat/docs/heartbeat-options.asciidoc
  heartbeat/heartbeat.reference.yml
  heartbeat/monitors/task.go
  libbeat/beat/pipeline.go
  libbeat/common/event.go
  libbeat/common/event_test.go
  libbeat/publisher/processing/default.go
  libbeat/publisher/processing/processors.go
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/mb/module/connector.go
  packetbeat/_meta/beat.reference.yml
  packetbeat/beater/packetbeat.go
  packetbeat/config/config.go
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.reference.yml
  packetbeat/publish/publish.go
  winlogbeat/_meta/beat.yml.tmpl
  winlogbeat/beater/eventlogger.go
  winlogbeat/docs/winlogbeat-options.asciidoc
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/googlepubsub/config.go
  x-pack/filebeat/input/netflow/input.go
  x-pack/functionbeat/_meta/beat.reference.yml
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/function/beater/functionbeat.go
  x-pack/functionbeat/functionbeat.reference.yml
Labels: enhancement, in progress, libbeat, needs_backport, v7.5.0, v8.0.0

#13738 [Metricbeat] Add metricbeat module for App Search
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/appsearch.asciidoc
  metricbeat/docs/modules/appsearch/stats.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/docker-compose.yml
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/appsearch/_meta/Dockerfile
  x-pack/metricbeat/module/appsearch/_meta/config.yml
  x-pack/metricbeat/module/appsearch/_meta/docs.asciidoc
  x-pack/metricbeat/module/appsearch/_meta/fields.yml
  x-pack/metricbeat/module/appsearch/doc.go
  x-pack/metricbeat/module/appsearch/fields.go
  x-pack/metricbeat/module/appsearch/stats/_meta/data.json
  x-pack/metricbeat/module/appsearch/stats/_meta/docs.asciidoc
  x-pack/metricbeat/module/appsearch/stats/_meta/fields.yml
  x-pack/metricbeat/module/appsearch/stats/_meta/test/required.stats.json
  x-pack/metricbeat/module/appsearch/stats/_meta/test/stats.json
  x-pack/metricbeat/module/appsearch/stats/data.go
  x-pack/metricbeat/module/appsearch/stats/data_test.go
  x-pack/metricbeat/module/appsearch/stats/stats.go
  x-pack/metricbeat/module/appsearch/stats/stats_integration_test.go
  x-pack/metricbeat/modules.d/appsearch.yml.disabled
  x-pack/metricbeat/tests/system/test_appsearch.py
Labels: :infrastructure, Metricbeat, Stack monitoring, [zube]: In Review, module, review

#14040 Cherry-pick #14035 to 7.4: Fix Cisco ASA and FTD parsing of unexpected domain names
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/cisco.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/cisco/asa/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/filtered.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/not-ip.log
  x-pack/filebeat/module/cisco/asa/test/not-ip.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/dns.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/intrusion.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/no-type-id.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/security-connection.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/security-file-malware.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
  x-pack/filebeat/module/cisco/shared/security-mappings.csv
Labels: backport, review

#14020 Add fileset for AWS ELB logs
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/aws.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/module/aws/_meta/config.yml
  x-pack/filebeat/module/aws/_meta/docs.asciidoc
  x-pack/filebeat/module/aws/elb/README.md
  x-pack/filebeat/module/aws/elb/_meta/fields.yml
  x-pack/filebeat/module/aws/elb/_meta/terraform/.gitignore
  x-pack/filebeat/module/aws/elb/_meta/terraform/aws.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/bucket.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/elb.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/install_webserver.sh
  x-pack/filebeat/module/aws/elb/_meta/terraform/instance.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/lb.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/securitygroup.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/tcplb.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/vars.tf
  x-pack/filebeat/module/aws/elb/_meta/terraform/vpc.tf
  x-pack/filebeat/module/aws/elb/config/file.yml
  x-pack/filebeat/module/aws/elb/config/s3.yml
  x-pack/filebeat/module/aws/elb/ingest/pipeline.yml
  x-pack/filebeat/module/aws/elb/manifest.yml
  x-pack/filebeat/module/aws/elb/test/application-lb-http.log
  x-pack/filebeat/module/aws/elb/test/application-lb-http.log-expected.json
  x-pack/filebeat/module/aws/elb/test/elb-http.log
  x-pack/filebeat/module/aws/elb/test/elb-http.log-expected.json
  x-pack/filebeat/module/aws/elb/test/example-alb-http.log
  x-pack/filebeat/module/aws/elb/test/example-alb-http.log-expected.json
  x-pack/filebeat/module/aws/elb/test/example-http.log
  x-pack/filebeat/module/aws/elb/test/example-http.log-expected.json
  x-pack/filebeat/module/aws/elb/test/example-https.log
  x-pack/filebeat/module/aws/elb/test/example-https.log-expected.json
  x-pack/filebeat/module/aws/elb/test/example-nlb-tcp.log
  x-pack/filebeat/module/aws/elb/test/example-nlb-tcp.log-expected.json
  x-pack/filebeat/module/aws/elb/test/example-ssl.log
  x-pack/filebeat/module/aws/elb/test/example-ssl.log-expected.json
  x-pack/filebeat/module/aws/elb/test/example-tcp.log
  x-pack/filebeat/module/aws/elb/test/example-tcp.log-expected.json
  x-pack/filebeat/module/aws/fields.go
  x-pack/filebeat/modules.d/aws.yml.disabled
Labels: :infrastructure, Filebeat, [zube]: In Review, module, qa, review, v7.5.0

#14027 make locking more fine-grained on client close
  NOTICE.txt
  x-pack/dockerlogbeat/pipelinemanager/libbeattools.go
  x-pack/dockerlogbeat/pipelinemanager/pipelineManager.go
Labels: :infrastructure, [zube]: In Review

#14041 Cherry-pick #13966 to 7.4: [SIEM][Auditbeat] Fix socket dataset startup when IPv6 is disabled
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/socket/guess/guess.go
  x-pack/auditbeat/module/system/socket/guess/inetsockaf.go
  x-pack/auditbeat/module/system/socket/guess/sockaddrin.go
  x-pack/auditbeat/module/system/socket/guess/sockaddrin6.go
  x-pack/auditbeat/module/system/socket/socket_linux.go
Labels: backport, review

#14043 Cherry-pick #13924 to 7.4: [SIEM] Fix wrong Netflow field names in template
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/input/netflow/_meta/fields.header.yml
  x-pack/filebeat/input/netflow/_meta/fields.yml
  x-pack/filebeat/input/netflow/fields.go
Labels: backport, review

#14046 Move rbac to v1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/auditbeat/auditbeat-role-binding.yaml
  deploy/kubernetes/auditbeat/auditbeat-role.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-role-binding.yaml
  deploy/kubernetes/filebeat/filebeat-role.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat/metricbeat-role-binding.yaml
  deploy/kubernetes/metricbeat/metricbeat-role.yaml
Labels: containers

#14068 [Filebeat] Reduce memory usage of multiline
  CHANGELOG.next.asciidoc
  libbeat/reader/readfile/timeout.go
Labels: Filebeat, bug, review

#14071 Fix changelog for 6.8.4
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v6.8.4

#14072 Fix changelog for 7.4.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v7.4.1

#14073 Cherry-pick #14068 to 7.4: [Filebeat] Reduce memory usage of multiline
  CHANGELOG.next.asciidoc
  libbeat/reader/readfile/timeout.go
Labels: backport, review

#14074 Cherry-pick #14068 to 6.8: [Filebeat] Reduce memory usage of multiline
  CHANGELOG.next.asciidoc
  filebeat/reader/readfile/timeout.go
Labels: backport, review

#14056 Add condition to the config file template for add_kubernetes_metadata
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.yml
  dev-tools/mage/config.go
  filebeat/scripts/mage/config.go
  journalbeat/journalbeat.yml
  libbeat/_meta/config.yml.tmpl
  metricbeat/scripts/mage/config.go
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: :infrastructure, [zube]: In Review, containers, review, v7.5.0

#14070 Remove/replace _type in tests
  libbeat/outputs/elasticsearch/api_integration_test.go
  libbeat/outputs/elasticsearch/bulkapi_integration_test.go
Labels: :Testing, review, v8.0.0

#14082 [SIEM] PANW: Use geo.name instead of geo.country_iso_code
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/panw.asciidoc
  x-pack/filebeat/module/panw/_meta/docs.asciidoc
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/panw/panos/test/threat.log-expected.json
Labels: Team:SIEM, bug, needs_backport, review

#14052 Add ECS 1.2.0 fields.ecs.yml
  NOTICE.txt
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  vendor/github.com/elastic/ecs/NOTICE.txt
  vendor/github.com/elastic/ecs/code/go/ecs/client.go
  vendor/github.com/elastic/ecs/code/go/ecs/destination.go
  vendor/github.com/elastic/ecs/code/go/ecs/dns.go
  vendor/github.com/elastic/ecs/code/go/ecs/error.go
  vendor/github.com/elastic/ecs/code/go/ecs/event.go
  vendor/github.com/elastic/ecs/code/go/ecs/group.go
  vendor/github.com/elastic/ecs/code/go/ecs/log.go
  vendor/github.com/elastic/ecs/code/go/ecs/observer.go
  vendor/github.com/elastic/ecs/code/go/ecs/package.go
  vendor/github.com/elastic/ecs/code/go/ecs/server.go
  vendor/github.com/elastic/ecs/code/go/ecs/service.go
  vendor/github.com/elastic/ecs/code/go/ecs/source.go
  vendor/github.com/elastic/ecs/code/go/ecs/threat.go
  vendor/github.com/elastic/ecs/code/go/ecs/url.go
  vendor/github.com/elastic/ecs/code/go/ecs/version.go
  vendor/vendor.json
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: ecs, review

#14033 Expand filebeat azure module events format
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/activitylogs/manifest.yml
  x-pack/filebeat/module/azure/activitylogs/test/activity_log_expected.json
  x-pack/filebeat/module/azure/auditlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/auditlogs/manifest.yml
  x-pack/filebeat/module/azure/auditlogs/test/audit_log_expected.json
  x-pack/filebeat/module/azure/azure-shared-pipeline.json
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/signinlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/signinlogs/manifest.yml
  x-pack/filebeat/module/azure/signinlogs/test/signin_log_expected.json
Labels: :integrations, Filebeat, [zube]: In Review

#14039 Fix performance counter values
  CHANGELOG.next.asciidoc
  metricbeat/module/windows/perfmon/reader.go
Labels: :integrations, Metricbeat, [zube]: In Review

#14084 Cherry-pick #14082 to 7.4: [SIEM] PANW: Use geo.name instead of geo.country_iso_code
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/panw.asciidoc
  x-pack/filebeat/module/panw/_meta/docs.asciidoc
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/panw/panos/test/threat.log-expected.json
Labels: backport, review

#14066 [docs] mention different levels of update commands
  docs/devguide/contributing.asciidoc
Labels: :integrations, docs

#14089 Remove observer.product from decode_cef fields.yml
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/processors/decode_cef/_meta/fields.yml
  x-pack/filebeat/processors/decode_cef/fields.go
Labels: Filebeat, review

#14096 Close changelog for 6.8.4
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v6.8.4

#14097 WIP: Close changelog for 7.5.0
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.5.0

#14095 Close changelog for 7.4.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v7.4.1

#13886 Add docs about manual Functionbeat deployment
  libbeat/docs/step-look-at-config.asciidoc
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/deploying.asciidoc
  x-pack/functionbeat/docs/export-cloudformation-template.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
Labels: Functionbeat, docs, needs_backport, review

#14108 Fix performance counter values (#14039)
  CHANGELOG.next.asciidoc
  metricbeat/module/windows/perfmon/reader.go
Labels: backport, v7.5.0

#14107 Expand filebeat azure module events format (#14033)
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/activitylogs/manifest.yml
  x-pack/filebeat/module/azure/activitylogs/test/activity_log_expected.json
  x-pack/filebeat/module/azure/auditlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/auditlogs/manifest.yml
  x-pack/filebeat/module/azure/auditlogs/test/audit_log_expected.json
  x-pack/filebeat/module/azure/azure-shared-pipeline.json
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/signinlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/signinlogs/manifest.yml
  x-pack/filebeat/module/azure/signinlogs/test/signin_log_expected.json
Labels: backport, v7.5.0

#13888 Update path to the container logs in Kubernetes
  filebeat/docs/autodiscover-kubernetes-config.asciidoc
Labels: docs, needs_backport

#14077 [Filebeat] Add support for events triggered by S3 uploads from the AWS console in S3 input
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/s3/input.go
  x-pack/filebeat/input/s3/input_test.go
Labels: :integrations, Filebeat, [zube]: In Review, needs_backport, review, v7.5.0

#14103 Revise dev changelog for 7.5.0
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
Labels: docs, release, review, v7.5.0

#13927 [DOCS] Fixes link to role mapping
  libbeat/docs/security/basic-auth.asciidoc
Labels: docs, v7.3.3, v7.4.2, v7.5.0, v8.0.0

#14080 [DOCS] Use shared versions
  auditbeat/docs/getting-started.asciidoc
  auditbeat/docs/index.asciidoc
  auditbeat/docs/running-on-kubernetes.asciidoc
  dev-tools/promote_docs
  docs/devguide/index.asciidoc
  filebeat/docs/index.asciidoc
  filebeat/docs/running-on-kubernetes.asciidoc
  heartbeat/docs/index.asciidoc
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/index.asciidoc
  libbeat/docs/outputs/output-logstash.asciidoc
  libbeat/docs/repositories.asciidoc
  libbeat/docs/shared-beats-attributes.asciidoc
  libbeat/docs/shared-brew-install.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/upgrading.asciidoc
  libbeat/docs/version.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/index.asciidoc
  metricbeat/docs/running-on-kubernetes.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
  packetbeat/docs/packetbeat-options.asciidoc
  winlogbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: docs, needs_backport, review

#14109 Cherry-pick #14077 to 7.5: [Filebeat] Add support for events triggered by S3 uploads from the AWS console in S3 input
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/s3/input.go
  x-pack/filebeat/input/s3/input_test.go
Labels: backport, review

#14069 Prevent two beat instances with same data path from running concurrently
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/locker.go
  libbeat/cmd/instance/locker_test.go
Labels: enhancement, libbeat, review, v8.0.0

#14105 [7.4][DOCS] Backport: Add docs about manual Functionbeat deployment (#13886)
  libbeat/docs/step-look-at-config.asciidoc
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/deploying.asciidoc
  x-pack/functionbeat/docs/export-cloudformation-template.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
Labels: backport, docs, v7.4.0

#14106 [7.5][DOCS] Add docs about manual Functionbeat deployment (#13886)
  libbeat/docs/step-look-at-config.asciidoc
  x-pack/functionbeat/docs/config-options.asciidoc
  x-pack/functionbeat/docs/deploying.asciidoc
  x-pack/functionbeat/docs/export-cloudformation-template.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
Labels: backport, docs, v7.5.0

#14021 [Metricbeat] Add Oracle overview dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/images/metricbeat-oracle-overview.png
  metricbeat/docs/modules/oracle.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/oracle/_meta/config.yml
  x-pack/metricbeat/module/oracle/_meta/docs.asciidoc
  x-pack/metricbeat/module/oracle/_meta/kibana/7/dashboard/Metricbeat-Oracle-overview.json
  x-pack/metricbeat/module/oracle/_meta/kibana/7/dashboard/Metricbeat-Oracle-tablespaces.json
  x-pack/metricbeat/module/oracle/fields.go
  x-pack/metricbeat/module/oracle/performance/_meta/docs.asciidoc
  x-pack/metricbeat/module/oracle/performance/_meta/fields.yml
  x-pack/metricbeat/modules.d/oracle.yml.disabled
Labels: :Dashboards, Metricbeat, [zube]: In Review, enhancement, review

#14098 Fix azure fields names
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/activitylogs/test/activity_log_expected.json
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/azure-shared-pipeline.json
  x-pack/filebeat/module/azure/fields.go
Labels: :integrations, Filebeat, [zube]: In Review, needs_backport, v7.5.0

#13610 Converting generator.py to mage
  CHANGELOG-developer.next.asciidoc
  dev-tools/mage/settings.go
  docs/devguide/creating-beat-from-metricbeat.asciidoc
  docs/devguide/newbeat.asciidoc
  generator/beat/{beat}/Makefile
  generator/beat/{beat}/beater/{beat}.go
  generator/beat/{beat}/magefile.go
  generator/common/Makefile
  generator/common/beatgen/beatgen.go
  generator/common/beatgen/setup/creator.go
  generator/common/beatgen/setup/setup.go
  generator/metricbeat/Makefile
  generator/metricbeat/{beat}/Makefile
  generator/metricbeat/{beat}/magefile.go
  generator/metricbeat/{beat}/main.go
  heartbeat/magefile.go
  magefile.go
  script/generate.py
Labels: :Generator, :integrations, [zube]: In Review, technical_debt

#14067 Unskip close_* flaky tests
  filebeat/tests/system/test_harvester.py
Labels: :Testing, flaky-test, review, v7.6.0, v8.0.0

#14130 Fix date parsing in MySQL error fileset
  CHANGELOG.next.asciidoc
  filebeat/module/mysql/error/config/error.yml
  filebeat/module/mysql/error/ingest/pipeline.json
  filebeat/module/mysql/error/test/error.log-expected.json
  filebeat/module/mysql/error/test/mariadb-10.4.8.log
  filebeat/module/mysql/error/test/mariadb-10.4.8.log-expected.json
  filebeat/module/mysql/error/test/mysql-darwin-brew-5.7.10.log-expected.json
  filebeat/module/mysql/error/test/mysql-ubuntu-5.5.53.log
  filebeat/module/mysql/error/test/mysql-ubuntu-5.5.53.log-expected.json
  filebeat/module/mysql/error/test/mysql-ubuntu-8.0.15.log-expected.json
Labels: :integrations, Filebeat, [zube]: In Review, bug, module, needs_backport, review, v7.5.0

#14128 [Auditbeat] Fix system/socket DNS capture on x86 32-bit
  vendor/github.com/google/gopacket/afpacket/afpacket.go
  vendor/github.com/google/gopacket/afpacket/sockopt_linux.go
  vendor/vendor.json
Labels: Auditbeat, review

#14132 Fix azure fields names (#14098)
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/activitylogs/test/activity_log_expected.json
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.json
  x-pack/filebeat/module/azure/azure-shared-pipeline.json
  x-pack/filebeat/module/azure/fields.go
Labels: :integrations, Filebeat, v7.5.0
