Repository elastic/beats, pull requests merged in 2019-09, with the labels that each got.

#13452 [Cherry-pick #13389 to 7.4]Aws cloudwatch msk
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
Labels: backport, review

#13348 fix number transformation from json files in heartbeat
  CHANGELOG.next.asciidoc
  heartbeat/monitors/active/http/check.go
  heartbeat/monitors/active/http/check_test.go
  heartbeat/tests/system/test_monitor.py
Labels: :uptime, Heartbeat, bug

#13465 fix number transformation from json files in heartbeat (#13348)
  CHANGELOG.next.asciidoc
  heartbeat/monitors/active/http/check.go
  heartbeat/monitors/active/http/check_test.go
  heartbeat/tests/system/test_monitor.py
Labels: :uptime, Heartbeat, v7.4.0

#13441 Cherry-pick #13433 to 7.3: Fix conversions of events with module fields
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/system/system.go
  metricbeat/module/kubernetes/volume/volume.go
Labels: backport, review

#13442 Cherry-pick #13433 to 7.2: Fix conversions of events with module fields
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/node/node.go
  metricbeat/module/kubernetes/pod/pod.go
  metricbeat/module/kubernetes/system/system.go
  metricbeat/module/kubernetes/volume/volume.go
Labels: backport, review

#13475 Adding missing CHANGELOG entries
  CHANGELOG.next.asciidoc
Labels: review

#13458 [Metricbeat] Ignore empty events when reporting from cloudwatch metricset
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/_meta/config.yml
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
  x-pack/metricbeat/modules.d/aws.yml.disabled
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, needs_backport, review, v7.4.0

#13459 [7.3][DOCS] Backport: remove active link to fix asciidoctor issue (#13312)
  libbeat/docs/monitoring/monitoring-internal-collection.asciidoc
  libbeat/docs/monitoring/monitoring-metricbeat.asciidoc
Labels: backport, docs, v7.3.1

#13149 [DOCS] Document export function command
  libbeat/docs/command-reference.asciidoc
  x-pack/functionbeat/docs/export-cloudformation-template.asciidoc
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
  x-pack/functionbeat/docs/setting-up-running.asciidoc
Labels: docs, needs_backport, review

#13419 Close changelog for 6.8.3
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.8.3

#13249 Add integration test for s3 input
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/s3/_meta/s3-input.asciidoc
  x-pack/filebeat/input/s3/ftest/sample1.txt
  x-pack/filebeat/input/s3/input.go
  x-pack/filebeat/input/s3/input_test.go
  x-pack/filebeat/input/s3/s3_integration_test.go
  x-pack/filebeat/module/aws/_meta/config.yml
  x-pack/filebeat/modules.d/aws.yml.disabled
Labels: :infrastructure, Filebeat, [zube]: In Review, in progress, review

#13182 Add ability to override cluster_uuid to be used in monitoring data
  auditbeat/auditbeat.reference.yml
  auditbeat/auditbeat.yml
  filebeat/filebeat.reference.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.reference.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/_meta/config.yml.tmpl
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/monitoring.go
  libbeat/monitoring/report/elasticsearch/config.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/monitoring/report/report.go
  metricbeat/metricbeat.reference.yml
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.reference.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.reference.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: Stack monitoring, enhancement, review, v7.3.1, v7.4.0, v8.0.0

#13369 Fix filebeat nginx module ingest timezone
  CHANGELOG.next.asciidoc
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/error/ingest/pipeline.json
Labels: :infrastructure, Filebeat, [zube]: In Review, module, needs_backport, review, v7.3.2, v7.4.0

#13374 Add autodetection mode for add_docker_metadata
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.docker.yml
  auditbeat/auditbeat.yml
  filebeat/filebeat.docker.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.docker.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.docker.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.docker.yml
  libbeat/_meta/config.yml.tmpl
  libbeat/common/docker/watcher.go
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
  metricbeat/metricbeat.docker.yml
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.docker.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.docker.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.docker.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.docker.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: :infrastructure, [zube]: In Review, containers, in progress, qa, v7.5.0

#13480 [7.3] Add ability to override cluster_uuid to be used in monitoring data (#13182)
  auditbeat/auditbeat.reference.yml
  auditbeat/auditbeat.yml
  filebeat/filebeat.reference.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.reference.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.reference.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/_meta/config.yml.tmpl
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/monitoring.go
  libbeat/monitoring/report/elasticsearch/config.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/monitoring/report/report.go
  metricbeat/metricbeat.reference.yml
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.reference.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.reference.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: backport

#13463 added statsd module changelog entry
  CHANGELOG.next.asciidoc
Labels: :infrastructure, [zube]: In Review, needs_backport, review

#13477 Cherrypick #13458 to 7.4 [Metricbeat] Ignore empty events when reporting from cloudwatch metricset
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/_meta/config.yml
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
  x-pack/metricbeat/modules.d/aws.yml.disabled
Labels: backport, review

#13478 Cherry-pick #13249 to 7.4: Add integration test for s3 input
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/s3/_meta/s3-input.asciidoc
  x-pack/filebeat/input/s3/ftest/sample1.txt
  x-pack/filebeat/input/s3/input.go
  x-pack/filebeat/input/s3/input_test.go
  x-pack/filebeat/input/s3/s3_integration_test.go
  x-pack/filebeat/module/aws/_meta/config.yml
  x-pack/filebeat/modules.d/aws.yml.disabled
Labels: backport, review

#13479 Cherry-pick #13376 to 7.4: Add more error messages in kafka module
  metricbeat/module/kafka/broker.go
Labels: backport, review

#13367 Fix filebeat elasticsearch module ingest timezone
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/ingest/pipeline-json.json
  filebeat/module/elasticsearch/audit/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-json.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/server/ingest/pipeline-json.json
  filebeat/module/elasticsearch/server/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-json.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
Labels: :infrastructure, Filebeat, [zube]: In Review, module, needs_backport, review, v7.3.2, v7.4.0

#13490 [7.4] added statsd module changelog entry (#13463)
  CHANGELOG.next.asciidoc
Labels: backport

#13460 [7.1][DOCS] Backport: Fix asciidoctor build
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/index.asciidoc
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v7.1.2

#13470 [SIEM] [Auditbeat] system/socket: Fix UDP flows
  x-pack/auditbeat/module/system/socket/events.go
  x-pack/auditbeat/module/system/socket/kprobes.go
  x-pack/auditbeat/module/system/socket/state.go
  x-pack/auditbeat/tests/system/test_system_socket.py
Labels: Auditbeat, Team:SIEM, needs_backport, review, x-pack

#13386 Adds troubleshooting topic about log rotation
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/faq.asciidoc
  filebeat/docs/filebeat-log-rotation.asciidoc
  filebeat/docs/inputs/input-log.asciidoc
Labels: docs, needs_backport, review

#13500 [7.0][DOCS] Backports asciidoctor build fixes
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/index.asciidoc
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v7.0.2

#13502 [6.8][DOCS] Backport: Fix asciidoctor build
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/fields.asciidoc
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.8.4

#13486 Cherry-pick #13369 to 7.4: Fix filebeat nginx module ingest timezone
  CHANGELOG.next.asciidoc
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/error/ingest/pipeline.json
Labels: backport, review

#13488 Cherry-pick #13369 to 7.3: Fix filebeat nginx module ingest timezone
  CHANGELOG.next.asciidoc
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/error/ingest/pipeline.json
Labels: backport, review

#13494 Cherry-pick #13367 to 7.4: Fix filebeat elasticsearch module ingest timezone
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/ingest/pipeline-json.json
  filebeat/module/elasticsearch/audit/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-json.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/server/ingest/pipeline-json.json
  filebeat/module/elasticsearch/server/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-json.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
Labels: backport, review

#13495 Cherry-pick #13367 to 7.3: Fix filebeat elasticsearch module ingest timezone
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/ingest/pipeline-json.json
  filebeat/module/elasticsearch/audit/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-json.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/server/ingest/pipeline-json.json
  filebeat/module/elasticsearch/server/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-json.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
Labels: backport, review

#13497 [SIEM][Auditbeat] Fix IPv6 for kernels older than 3.13
  x-pack/auditbeat/module/system/socket/guess/cskxmit6.go
  x-pack/auditbeat/module/system/socket/guess/inetsock.go
  x-pack/auditbeat/module/system/socket/guess/inetsock6.go
  x-pack/auditbeat/module/system/socket/guess/inetsockaf.go
  x-pack/auditbeat/module/system/socket/kprobes.go
  x-pack/auditbeat/module/system/socket/template.go
Labels: Auditbeat, Team:SIEM, needs_backport, review

#12778 Add Filebeat apache access vhost
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/apache.asciidoc
  filebeat/module/apache/_meta/docs.asciidoc
  filebeat/module/apache/access/ingest/default.json
  filebeat/module/apache/access/test/test-vhost.log
  filebeat/module/apache/access/test/test-vhost.log-expected.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, module, review, v7.5.0

#13481 Fix typos + add CHANGELOG
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.yml.tmpl
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: Stack monitoring, libbeat, review, v7.3.2, v7.4.0, v8.0.0

#13412 Bump docs version for 6.8.3
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.8.3

#13413 Bump version to 6.8.4
  libbeat/version/version.go
Labels: in progress, release, review, v6.8.4

#13522 [SIEM][Auditbeat] System/socket: Fix detection of functions provided by modules
  x-pack/auditbeat/module/system/socket/template.go
Labels: Auditbeat, Team:SIEM, needs_backport, review

#13513 Cherry-pick #13470 to 7.4: [SIEM] [Auditbeat] system/socket: Fix UDP flows
  x-pack/auditbeat/module/system/socket/events.go
  x-pack/auditbeat/module/system/socket/kprobes.go
  x-pack/auditbeat/module/system/socket/state.go
  x-pack/auditbeat/tests/system/test_system_socket.py
Labels: backport, review

#13524 Cherry-pick #13522 to 7.4: [SIEM][Auditbeat] System/socket: Fix detection of functions provided by modules
  x-pack/auditbeat/module/system/socket/template.go
Labels: backport, review

#13523 Cherry-pick #13497 to 7.4: [SIEM][Auditbeat] Fix IPv6 for kernels older than 3.13
  x-pack/auditbeat/module/system/socket/guess/cskxmit6.go
  x-pack/auditbeat/module/system/socket/guess/inetsock.go
  x-pack/auditbeat/module/system/socket/guess/inetsock6.go
  x-pack/auditbeat/module/system/socket/guess/inetsockaf.go
  x-pack/auditbeat/module/system/socket/kprobes.go
  x-pack/auditbeat/module/system/socket/template.go
Labels: backport, review

#13504 Update the list of available cloud platforms
  libbeat/docs/gettingstarted.asciidoc
Labels: docs, loe:hours, needs_backport

#13510 [7.3] Fix typos + add CHANGELOG (#13481)
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.yml.tmpl
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: backport

#13518 [metricbeat] Migrate nginx/substatus to reporterv2 with error
  metricbeat/module/nginx/stubstatus/stubstatus.go
  metricbeat/module/nginx/stubstatus/stubstatus_integration_test.go
  metricbeat/tests/system/test_cmd.py
Labels: :infrastructure, technical_debt

#13503 [6.7][DOCS] Backport asciidoctor build fixes
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/fields.asciidoc
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.7.3

#13527 [6.6][DOCS] Backport asciidoctor build fixes
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/fields.asciidoc
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.6.3

#13498 [libbeat] Update lookslike to 0.3.0
  NOTICE.txt
  heartbeat/monitors/active/http/http_test.go
  vendor/github.com/elastic/go-lookslike/README.md
  vendor/github.com/elastic/go-lookslike/compiled_schema.go
  vendor/github.com/elastic/go-lookslike/core.go
  vendor/github.com/elastic/go-lookslike/internal/llreflect/chase.go
  vendor/github.com/elastic/go-lookslike/llpath/path.go
  vendor/github.com/elastic/go-lookslike/walk.go
  vendor/vendor.json
Labels: :uptime, Heartbeat, [zube]: In Review, libbeat, technical debt

#13517 [metricbeat] Migrate windows/perfmon to reporterv2 with error
  metricbeat/module/windows/perfmon/pdh_integration_windows_test.go
  metricbeat/module/windows/perfmon/perfmon.go
Labels: :infrastructure, technical_debt

#13526 [SIEM][Auditbeat] System/socket: mount tracefs/debugfs
  x-pack/auditbeat/module/system/socket/socket_linux.go
  x-pack/auditbeat/seccomp_linux.go
  x-pack/auditbeat/tracing/tracefs.go
Labels: Auditbeat, Team:SIEM, review

#13514 Remove subcommand run from manager
  x-pack/functionbeat/manager/cmd/root.go
Labels: Functionbeat, needs_backport, needs_docs, review

#13544 Fix conversion of events with module fields
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_node/state_node.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, containers, module, needs_backport, review, v7.4.0

#13550 Cherry-pick #13526 to 7.4: [SIEM][Auditbeat] System/socket: mount tracefs/debugfs
  x-pack/auditbeat/module/system/socket/socket_linux.go
  x-pack/auditbeat/seccomp_linux.go
  x-pack/auditbeat/tracing/tracefs.go
Labels: Auditbeat, Team:SIEM, backport, review

#13537 [SIEM][Auditbeat] Docs for system/socket dataset
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/config.go
Labels: Auditbeat, Team:SIEM, docs, needs_backport, review

#13476 [SIEM] [Filebeat] Fix Cisco FTD/ASA parsing of msg 302021
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/asa/test/hostnames.log
  x-pack/filebeat/module/cisco/asa/test/hostnames.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
Labels: Filebeat, Team:SIEM, bug, needs_backport, review

#13552 Cherry-pick #13544 to 7.4: Fix conversion of events with module fields
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_node/state_node.go
Labels: backport, review

#13570 [1.3][DOCS] Fix asciidoctor build errors
  filebeat/docs/command-line.asciidoc
  libbeat/docs/command-line.asciidoc
  packetbeat/docs/command-line.asciidoc
  packetbeat/docs/filtering.asciidoc
  topbeat/docs/command-line.asciidoc
  winlogbeat/docs/command-line.asciidoc
Labels: backport, docs

#13572 [1.1][DOCS] Fix asciidoctor build errors
  filebeat/docs/command-line.asciidoc
  libbeat/docs/command-line.asciidoc
  packetbeat/docs/command-line.asciidoc
  packetbeat/docs/filtering.asciidoc
  topbeat/docs/command-line.asciidoc
  winlogbeat/docs/command-line.asciidoc
Labels: backport, docs

#13571 [1.2][DOCS] Fix asciidoctor build errors
  filebeat/docs/command-line.asciidoc
  libbeat/docs/command-line.asciidoc
  packetbeat/docs/command-line.asciidoc
  packetbeat/docs/filtering.asciidoc
  topbeat/docs/command-line.asciidoc
  winlogbeat/docs/command-line.asciidoc
Labels: backport, docs

#13569 [5.0][DOCS] Fix asciidoctor build errors
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs

#13568 [5.1][DOCS] Fix asciidoctor build errors
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs

#13567 [5.2][DOCS] Fix asciidoctor build errors
  heartbeat/docs/faq.asciidoc
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs

#13565 [5.3][DOCS] Fix asciidoctor build errors
  heartbeat/docs/faq.asciidoc
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs

#13564 [5.4][DOCS] Fix asciidoctor build errors
  heartbeat/docs/faq.asciidoc
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs

#13563 [5.5][DOCS] Fix asciidoctor build errors
  heartbeat/docs/faq.asciidoc
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs

#13562 [5.6][DOCS] Fix asciidoctor build errors
  heartbeat/docs/faq.asciidoc
  libbeat/docs/newdashboards.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs, v5.6.16

#13573 [1.0.1][DOCS] Fix asciidoctor build errors
  filebeat/docs/command-line.asciidoc
  packetbeat/docs/command-line.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/https.asciidoc
  topbeat/docs/command-line.asciidoc
Labels: backport, docs

#13557 Cherry-pick #13476 to 7.4: [SIEM] [Filebeat] Fix Cisco FTD/ASA parsing of msg 302021
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/asa/test/hostnames.log
  x-pack/filebeat/module/cisco/asa/test/hostnames.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
Labels: backport, review

#13553 Cherry-pick #13544 to 7.3: Fix conversion of events with module fields
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_node/state_node.go
Labels: backport, review

#13554 Cherry-pick #13544 to 7.2: Fix conversion of events with module fields
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_node/state_node.go
Labels: backport, review

#13549 Cherry-pick #13514 to 7.4: Remove subcommand run from manager
  x-pack/functionbeat/manager/cmd/root.go
Labels: backport, review

#13254 Expose `monitoring.cluster_uuid` in State API
  libbeat/cmd/instance/beat.go
  metricbeat/module/beat/beat.go
  metricbeat/module/beat/state/data_xpack.go
  metricbeat/module/beat/stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, libbeat, module, review, v7.3.2, v7.4.0, v8.0.0

#13521 [metricbeat] Migrate prometheus/collector to reporterv2 with error
  metricbeat/module/prometheus/collector/collector.go
  x-pack/metricbeat/module/cockroachdb/status/status_integration_test.go
Labels: :infrastructure, [zube]: In Progress, technical_debt

#13556 Cherry-pick #13537 to 7.4: [SIEM][Auditbeat] Docs for system/socket dataset
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/config.go
Labels: backport, review

#13528 [6.5][DOCS] Backport asciidoctor build fixes
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/fields.asciidoc
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.5.5

#13580 [Doc]Add and set ecs-version for 7.4
  libbeat/docs/version.asciidoc
Labels: backport, docs

#13548 [6.0][DOCS] Fix asciidoctor build errors
  NOTICE.txt
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/faq.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs, v6.0.2

#13547 [6.1][DOCS] Fix asciidoctor build errors
  NOTICE.txt
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/faq.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
Labels: backport, docs, v6.1.4

#13543 [6.2][DOCS] Migrate 6.2 asciidoctor
  NOTICE.txt
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/faq.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.2.5

#13542 [6.3][DOCS] Fix asciidoctor build errors
  NOTICE.txt
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/fields.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.3.2

#13541 [6.4][DOCS] Fix asciidoctor build errors
  NOTICE.txt
  auditbeat/docs/fields.asciidoc
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  heartbeat/docs/fields.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/index.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
  script/build_docs.sh
  winlogbeat/docs/index.asciidoc
Labels: backport, docs, v6.4.4

#13583 [Doc]Add ecs attribute and set to 1.0 for 7.1
  libbeat/docs/version.asciidoc
Labels: backport, docs

#13584 [Doc]Add ecs attribute and set to 1.0 for 7.0
  libbeat/docs/version.asciidoc
Labels: backport, docs

#13582 [Doc]Add ecs attribute and set to 1.0 for 7.2
  libbeat/docs/version.asciidoc
Labels: backport, docs

#13590 Close changelog for 7.3.2
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.3.2

#13505 [Filebeat] Update CoreDNS pipelines for ECS DNS
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/coredns/log/ingest/pipeline-entry.json
  x-pack/filebeat/module/coredns/log/ingest/pipeline-entry.yml
  x-pack/filebeat/module/coredns/log/ingest/pipeline-json.json
  x-pack/filebeat/module/coredns/log/ingest/pipeline-json.yml
  x-pack/filebeat/module/coredns/log/ingest/pipeline-plaintext.json
  x-pack/filebeat/module/coredns/log/ingest/pipeline-plaintext.yml
  x-pack/filebeat/module/coredns/log/manifest.yml
  x-pack/filebeat/module/coredns/log/test/coredns-json.log-expected.json
  x-pack/filebeat/module/coredns/log/test/coredns.log-expected.json
Labels: Filebeat, Team:SIEM, ecs, review

#13515 [Metricbeat]Add kubernetes test guidelines
  metricbeat/module/kubernetes/_meta/test/docs/01_playground/playground-ubuntu.yaml
  metricbeat/module/kubernetes/_meta/test/docs/02_objects/cronjob.yaml
  metricbeat/module/kubernetes/_meta/test/docs/README.md
  metricbeat/module/kubernetes/_meta/test/docs/darwin.md
Labels: :infrastructure, Metricbeat, [zube]: In Progress, containers

#13493 Make bulk_max_size configurable in outputs of Functionbeat
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/config/config.go
Labels: Functionbeat, review

#13499 [Generator] Refactor generator mage files again, add dev-tools targets
  Makefile
  dev-tools/mage/target/collectors/collect.go
  dev-tools/mage/target/update/update.go
  generator/beat/{beat}/beater/{beat}.go
  generator/beat/{beat}/cmd/root.go
  generator/beat/{beat}/config/config.go
  generator/beat/{beat}/config/config_test.go
  generator/beat/{beat}/magefile.go
  generator/beat/{beat}/magefile.go.tmpl
  generator/beat/{beat}/main.go
  generator/beat/{beat}/main_test.go
  generator/metricbeat/{beat}/cmd/root.go
  generator/metricbeat/{beat}/magefile.go
  generator/metricbeat/{beat}/main.go
Labels: :Generator, :infrastructure, [zube]: In Progress, technical_debt

#13593 [7.2][DOCS] Fix 7.2 asciidoctor
  journalbeat/docs/config-options.asciidoc
  journalbeat/docs/filtering.asciidoc
  journalbeat/docs/general-options.asciidoc
  journalbeat/docs/getting-started.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/reference-yml.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/scripts/docs_collector.py
  packetbeat/docs/packetbeat-filtering.asciidoc
Labels: backport, docs, v7.2.2

#13592 [Filebeat] Adjust s3access grok pattern for optional fields
  x-pack/filebeat/module/aws/_meta/kibana/7/dashboard/Filebeat-aws-s3access-overview.json
  x-pack/filebeat/module/aws/s3access/ingest/pipeline.yml
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log-expected.json
Labels: :infrastructure, Filebeat, bug, needs_backport, v7.4.0

#13608 [DOCS] Add named anchor to fix links for asciidoctor migration
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: docs, needs_backport

#13609 Cherry-pick #13592 to 7.4: [Filebeat] Adjust s3access grok pattern for optional fields
  x-pack/filebeat/module/aws/_meta/kibana/7/dashboard/Filebeat-aws-s3access-overview.json
  x-pack/filebeat/module/aws/s3access/ingest/pipeline.yml
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log-expected.json
Labels: backport, review

#13612 [7.3][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v7.3.3

#13611 [7.4][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v7.4.0

#13613 [7.2][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v7.2.2

#13614 [7.1][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v7.1.2

#13615 [7.0][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v7.0.2

#13616 [6.8][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.8.0

#13617 [6.7][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.7.3

#13618 [6.6][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.6.3

#13619 [6.5][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.5.5

#13620 [6.4][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.4.4

#13621 [6.3][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.6.3

#13622 [6.2][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.6.2

#13623 [6.1][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v6.1.4

#13624 [6.0][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13625 [5.6][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs, v5.6.16

#13626 [5.5][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13627 [5.4][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13628 [5.3][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13629 [5.2][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13630 [5.1][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13631 [5.0][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13632 [1.3][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13633 [1.2][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13634 [1.1][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13635 [1.0.1][DOCS] Add named anchor to fix links for asciidoctor migration (#13608)
  libbeat/docs/index.asciidoc
  libbeat/docs/overview.asciidoc
Labels: backport, docs

#13661 [1.1][DOCS] Add ID to fix asciidoctor migration
  filebeat/docs/faq.asciidoc
Labels: backport, docs

#13078 Fail with error when autodiscover providers have no defined configs
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/providers/jolokia/jolokia.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
Labels: autodiscovery, enhancement, libbeat

#13601 Update NATS compatibility versions in docs for NATS Metricbeat module
  CHANGELOG.next.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/nats.asciidoc
  metricbeat/module/nats/_meta/Dockerfile.1.3
  metricbeat/module/nats/_meta/Dockerfile.2.0.X
  metricbeat/module/nats/_meta/docs.asciidoc
  metricbeat/tests/system/test_nats.py
Labels: :infrastructure, Metricbeat, [zube]: In Review, review

#13665 Fix some formats in debug logs
  libbeat/publisher/pipeline/client.go
  metricbeat/module/system/fsstat/fsstat.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, libbeat, module, needs_backport, review, v7.3.2, v7.4.0

#13666 Remove space between PR number and link
  CHANGELOG.next.asciidoc
Labels: [zube]: In Review, review

#13659 Cherry-pick #13534 to 7.4: Update aws credentials for s3 input
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
Labels: backport, review

#13673 Cherry-pick #13666 to 7.4: Remove space between PR number and link
  CHANGELOG.next.asciidoc
Labels: :infrastructure, [zube]: In Review, backport, review

#13581 [Metricbeat] Add bucket name to aws.s3.bucket.name
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/_meta/fields.yml
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-s3-overview.json
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/data.json
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/fields.yml
  x-pack/metricbeat/module/aws/s3_daily_storage/s3_daily_storage.go
  x-pack/metricbeat/module/aws/s3_request/_meta/data.json
  x-pack/metricbeat/module/aws/s3_request/_meta/fields.yml
  x-pack/metricbeat/module/aws/s3_request/s3_request.go
Labels: :infrastructure, Metricbeat

#13671 Cherry-pick #13665 to 7.4: Fix some formats in debug logs
  libbeat/publisher/pipeline/client.go
  metricbeat/module/system/fsstat/fsstat.go
Labels: backport, review

#13670 Cherry-pick #13665 to 7.3: Fix some formats in debug logs
  libbeat/publisher/pipeline/client.go
  metricbeat/module/system/fsstat/fsstat.go
Labels: backport, review

#13660 Restructure consul agent topic to fix URL for asciidoctor migration
  metricbeat/docs/modules/beat.asciidoc
  metricbeat/docs/modules/consul.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/envoyproxy.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/module/beat/_meta/docs.asciidoc
  metricbeat/module/beat/docs.asciidoc
  metricbeat/module/consul/_meta/docs.asciidoc
  metricbeat/module/consul/agent/_meta/docs.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
  metricbeat/module/dropwizard/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/_meta/docs.asciidoc
  metricbeat/module/envoyproxy/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/logstash/_meta/docs.asciidoc
Labels: docs, needs_backport, review

#13662 [DOCS] Add float tags to fix asciidoctor build problems
  metricbeat/docs/modules/mssql.asciidoc
  x-pack/metricbeat/module/mssql/_meta/docs.asciidoc
Labels: backport, docs

#13640 [Metricbeat] Fix elb and ebs overview dashboard
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ebs-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-elb-overview.json
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/ebs/_meta/data.json
  x-pack/metricbeat/module/aws/elb/_meta/data.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, review, v7.4.0

#13680 [7.3][DOCS] Restructure consul agent topic to fix URL for asciidoctor migration (…
  metricbeat/docs/modules/beat.asciidoc
  metricbeat/docs/modules/consul.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/envoyproxy.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/module/beat/_meta/docs.asciidoc
  metricbeat/module/beat/docs.asciidoc
  metricbeat/module/consul/_meta/docs.asciidoc
  metricbeat/module/consul/agent/_meta/docs.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
  metricbeat/module/dropwizard/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/_meta/docs.asciidoc
  metricbeat/module/envoyproxy/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/logstash/_meta/docs.asciidoc
Labels: backport, docs, v7.3.3

#13677 [SIEM][Winlogbeat] Fix sysmon event.type with a colon
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Winlogbeat, bug, needs_backport, review

#13679 [7.4][DOCS] Restructure consul agent topic to fix URL for asciidoctor migration (…
  metricbeat/docs/modules/beat.asciidoc
  metricbeat/docs/modules/consul.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/envoyproxy.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/module/beat/_meta/docs.asciidoc
  metricbeat/module/beat/docs.asciidoc
  metricbeat/module/consul/_meta/docs.asciidoc
  metricbeat/module/consul/agent/_meta/docs.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
  metricbeat/module/dropwizard/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/_meta/docs.asciidoc
  metricbeat/module/envoyproxy/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/logstash/_meta/docs.asciidoc
Labels: backport, docs, v7.4.0

#13678 [7.4][DOCS] Add hook to build Kafka input docs (#13454)
  filebeat/docs/filebeat-options.asciidoc
  filebeat/docs/inputs/input-kafka.asciidoc
Labels: backport, docs, v7.4.0

#13681 [7.2][DOCS] Restructure consul agent topic to fix URL for asciidoctor migration (…
  metricbeat/docs/modules/consul.asciidoc
  metricbeat/docs/modules/docker.asciidoc
  metricbeat/docs/modules/dropwizard.asciidoc
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/envoyproxy.asciidoc
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/docs/modules/logstash.asciidoc
  metricbeat/module/consul/_meta/docs.asciidoc
  metricbeat/module/consul/agent/_meta/docs.asciidoc
  metricbeat/module/docker/_meta/docs.asciidoc
  metricbeat/module/dropwizard/_meta/docs.asciidoc
  metricbeat/module/elasticsearch/_meta/docs.asciidoc
  metricbeat/module/envoyproxy/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/logstash/_meta/docs.asciidoc
Labels: backport, docs, v7.2.2

#13684 Cherry-pick #13677 to 7.4: [SIEM][Winlogbeat] Fix sysmon event.type with a colon
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Winlogbeat, backport, review

#13651 Remove in_cluster from doc examples
  CHANGELOG.next.asciidoc
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  metricbeat/module/kubernetes/state_cronjob/README.md
  x-pack/filebeat/module/coredns/README.md
  x-pack/filebeat/module/envoyproxy/README.md
Labels: :infrastructure, [zube]: In Review, containers, docs, needs_backport, review, v7.4.0

#13688 Cherry-pick #13651 to 7.4: Remove `in_cluster` from Kuberentes configuration examples
  CHANGELOG.next.asciidoc
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  metricbeat/module/kubernetes/state_cronjob/README.md
  x-pack/filebeat/module/coredns/README.md
  x-pack/filebeat/module/envoyproxy/README.md
Labels: :infrastructure, backport, review, v7.4.0

#13682 Cherry-pick #13640 to 7.4: [Metricbeat] Fix elb and ebs overview dashboard
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ebs-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-elb-overview.json
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/ebs/_meta/data.json
  x-pack/metricbeat/module/aws/elb/_meta/data.json
Labels: backport, review

#13702 Cherry-pick #13667 to 7.4: [SIEM][Auditbeat] Make socket dataset work with IPv6 disabled
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/config.go
  x-pack/auditbeat/module/system/socket/events.go
  x-pack/auditbeat/module/system/socket/guess/cskxmit6.go
  x-pack/auditbeat/module/system/socket/guess/guess.go
  x-pack/auditbeat/module/system/socket/guess/helpers.go
  x-pack/auditbeat/module/system/socket/guess/inetsock6.go
  x-pack/auditbeat/module/system/socket/guess/skbuff.go
  x-pack/auditbeat/module/system/socket/guess/sockaddrin6.go
  x-pack/auditbeat/module/system/socket/helper/loopback.go
  x-pack/auditbeat/module/system/socket/kprobes.go
  x-pack/auditbeat/module/system/socket/kprobes_test.go
  x-pack/auditbeat/module/system/socket/socket_linux.go
  x-pack/auditbeat/tests/system/test_system_socket.py
Labels: backport, review

#13696 [7.4] Fix typos + add CHANGELOG (#13481)
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.yml.tmpl
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: backport

#13694 [7.4] Add ability to override cluster_uuid to be used in monitoring data (#13182)
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/monitoring.go
  libbeat/monitoring/report/elasticsearch/config.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/monitoring/report/report.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: backport

#13704 Add winlog.event_data.* parameters to index template
  CHANGELOG.next.asciidoc
  dev-tools/mage/docs.go
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Team:SIEM, Winlogbeat, needs_backport, review

#13579 [Filebeat] Fix CEF time parsing
  x-pack/filebeat/processors/decode_cef/cef/keys.go
  x-pack/filebeat/processors/decode_cef/decode_cef.go
  x-pack/filebeat/processors/decode_cef/keys.ecs.go
  x-pack/filebeat/processors/decode_cef/testdata/samples.log
  x-pack/filebeat/processors/decode_cef/testdata/samples.log.golden.json
Labels: Filebeat, Team:SIEM, bug, needs_backport, review

#13710 Cherry-pick #13704 to 7.4: Add winlog.event_data.* parameters to index template
  CHANGELOG.next.asciidoc
  dev-tools/mage/docs.go
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Team:SIEM, backport, review

#13711 Cherry-pick #13579 to 7.4: [Filebeat] Fix CEF time parsing
  x-pack/filebeat/processors/decode_cef/cef/keys.go
  x-pack/filebeat/processors/decode_cef/decode_cef.go
  x-pack/filebeat/processors/decode_cef/keys.ecs.go
  x-pack/filebeat/processors/decode_cef/testdata/samples.log
  x-pack/filebeat/processors/decode_cef/testdata/samples.log.golden.json
Labels: Team:SIEM, backport, review

#13701 Parse query steps in postgresql slowlog
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/postgresql/fields.go
  filebeat/module/postgresql/log/_meta/fields.yml
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-multi-core.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-query-steps-slowlog.log
  filebeat/module/postgresql/log/test/postgresql-query-steps-slowlog.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, module, review, v7.5.0

#13709 Disable `add_kubernetes_metadata` if no matchers found
  CHANGELOG.next.asciidoc
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
Labels: :infrastructure, [zube]: In Review, bug, review

#13691 Fix docker.cpu.system.pct calculation
  CHANGELOG.next.asciidoc
  metricbeat/module/docker/cpu/cpu_test.go
  metricbeat/module/docker/cpu/helper.go
Labels: :infrastructure, [zube]: In Review, containers, review

#13698 Close changelog for 7.4.0
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.4.0

#13703 Allow `hosts` to be used to configure http monitors
  CHANGELOG.next.asciidoc
  heartbeat/docs/autodiscover-kubernetes-config.asciidoc
  heartbeat/docs/heartbeat-options.asciidoc
  heartbeat/monitors.d/sample.http.yml.disabled
  heartbeat/monitors/active/http/config.go
  heartbeat/monitors/active/http/config_test.go
  heartbeat/monitors/active/http/http.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/tests/system/test_monitor.py
Labels: :uptime, Heartbeat, enhancement

#13468 Port modules collection script to golang
  generator/metricbeat/{beat}/magefile.go
  metricbeat/Makefile
  script/modules_collector.py
Labels: :infrastructure, Metricbeat, [zube]: In Review, review
