Repository elastic/beats, pull requests merged in 2019-07, with the labels that each got.

#12695 Filebeat - Modules Apache - Error : Fix Client IP - missing PORT
  CHANGELOG.next.asciidoc
  filebeat/module/apache/error/ingest/pipeline.json
  filebeat/module/apache/error/test/test.log
  filebeat/module/apache/error/test/test.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, bug, needs_backport, review

#12720 Add changelog entry for #11966
  CHANGELOG.next.asciidoc
Labels: Filebeat, review

#12733 Add decompress_gzip_field processor
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/actions/decompress_gzip_field.go
  libbeat/processors/actions/decompress_gzip_field_test.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/_meta/beat.reference.yml
  x-pack/functionbeat/_meta/beat.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: :Processors, libbeat, review

#12728 [metricbeat]fix bucket naming for kubeproxy network programming
  metricbeat/module/kubernetes/proxy/_meta/data.json
  metricbeat/module/kubernetes/proxy/_meta/test/metrics.proxy.1.14.expected
  metricbeat/module/kubernetes/proxy/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/proxy/proxy.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, containers, review, v7.3.0

#12691 Add max_connections to TCP input
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  filebeat/inputsource/tcp/config.go
  filebeat/inputsource/tcp/server.go
  vendor/golang.org/x/net/netutil/listen.go
  vendor/vendor.json
  x-pack/filebeat/filebeat.reference.yml
Labels: Filebeat, review

#12632 Use CRI paths in kubernetes manifests
  CHANGELOG.next.asciidoc
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
Labels: :infrastructure, [zube]: In Review, enhancement, needs_backport, review, v7.2.0

#12723 Dr. Web reports install-service-filebeat.ps1 as malicious
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Labels: :Packaging, needs_backport

#12629 Cherry-pick #12561 to 6.8: Redirect stderr by default for Windows service
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Labels: backport, review

#12750 [metricbeat]Kubescheduler - replace fields group naming
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/scheduler/_meta/data.json
  metricbeat/module/kubernetes/scheduler/_meta/fields.yml
  metricbeat/module/kubernetes/scheduler/_meta/test/metrics.scheduler.1.14.expected
  metricbeat/module/kubernetes/scheduler/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/scheduler/scheduler.go
Labels: :infrastructure, Metricbeat, containers, review

#12741 [Packetbeat] Redis: Limit memory used by replication
  CHANGELOG.next.asciidoc
  packetbeat/_meta/beat.reference.yml
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.reference.yml
  packetbeat/protos/redis/config.go
  packetbeat/protos/redis/messagequeue.go
  packetbeat/protos/redis/messagequeue_test.go
  packetbeat/protos/redis/redis.go
  packetbeat/protos/redis/redis_parse.go
Labels: Packetbeat, bug, review

#12700 Omit empty process field from syslog input
  CHANGELOG.next.asciidoc
  filebeat/input/syslog/input.go
  filebeat/input/syslog/input_test.go
Labels: Filebeat, SecOps, bug, review

#12702 Add network.iana_number to community_id processor defaults
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/communityid/communityid.go
  libbeat/processors/communityid/communityid_test.go
  libbeat/processors/communityid/config.go
Labels: :Processors, SecOps, libbeat, review

#12729 Cherry-pick #12695 to 7.2: Filebeat - Modules Apache - Error : Fix Client IP - missing PORT
  CHANGELOG.next.asciidoc
  filebeat/module/apache/error/ingest/pipeline.json
  filebeat/module/apache/error/test/test.log
  filebeat/module/apache/error/test/test.log-expected.json
Labels: backport, review

#12730 Cherry-pick #12695 to 7.1: Filebeat - Modules Apache - Error : Fix Client IP - missing PORT
  CHANGELOG.next.asciidoc
  filebeat/module/apache/error/ingest/pipeline.json
  filebeat/module/apache/error/test/test.log
  filebeat/module/apache/error/test/test.log-expected.json
Labels: backport, review

#12738 Update kafka output metadata fetch
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/docs/outputconfig.asciidoc
  libbeat/outputs/kafka/config.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: review

#12699 Add timestamp processor
  CHANGELOG.next.asciidoc
  Makefile
  NOTICE.txt
  filebeat/cmd/root.go
  filebeat/docs/index.asciidoc
  journalbeat/cmd/root.go
  journalbeat/docs/index.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/script/javascript/module/processor/chain.go
  libbeat/processors/script/javascript/module/processor/processor.go
  libbeat/processors/timestamp/config.go
  libbeat/processors/timestamp/error.go
  libbeat/processors/timestamp/timestamp.go
  libbeat/processors/timestamp/timestamp_test.go
  libbeat/scripts/Makefile
  vendor/4d63.com/tz/LICENSE
  vendor/4d63.com/tz/README.md
  vendor/4d63.com/tz/go.mod
  vendor/4d63.com/tz/tz.go
  vendor/4d63.com/tz/zoneinfo.go
  vendor/vendor.json
  winlogbeat/cmd/root.go
  winlogbeat/docs/index.asciidoc
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
Labels: :Processors, SecOps, enhancement, review

#12740 [Auditbeat] Process dataset: Do not show non-root warning on Windows
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/process/process.go
Labels: Auditbeat, SecOps, review

#12748 Module for Cisco IOS Access List Logs
  CHANGELOG.next.asciidoc
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/cisco.asciidoc
  filebeat/include/fields.go
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/module/cisco/_meta/config.yml
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/cisco/fields.go
  x-pack/filebeat/module/cisco/ios/_meta/fields.yml
  x-pack/filebeat/module/cisco/ios/config/input.yml
  x-pack/filebeat/module/cisco/ios/config/pipeline.js
  x-pack/filebeat/module/cisco/ios/ingest/pipeline.yml
  x-pack/filebeat/module/cisco/ios/manifest.yml
  x-pack/filebeat/module/cisco/ios/pipeline_test.go
  x-pack/filebeat/module/cisco/ios/test/cisco-ios-syslog.log
  x-pack/filebeat/module/cisco/ios/test/cisco-ios-syslog.log-expected.json
  x-pack/filebeat/modules.d/cisco.yml.disabled
Labels: Filebeat, SecOps, enhancement, module, review

#12756 Fix location of cockroachdb dashboard
  x-pack/metricbeat/module/cockroachdb/_meta/kibana/7/dashboard/Metricbeat-cockroachdb-overview.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, module, review, v7.3.0

#12757 [Metricbeat] Oracle tablespace lacks types on fields
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/oracle/fields.go
  x-pack/metricbeat/module/oracle/tablespace/_meta/fields.yml
Labels: :infrastructure, Metricbeat, review, v7.3.0

#12755 [Metricbeat]bump ELK image tags to 7.2.0
  metricbeat/module/beat/_meta/Dockerfile
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/module/logstash/_meta/Dockerfile
Labels: Metricbeat, Stack monitoring, review

#12714 Preserve remote host name if reading from remote journal
  CHANGELOG.next.asciidoc
  journalbeat/_meta/beat.reference.yml
  journalbeat/input/config.go
  journalbeat/input/input.go
  journalbeat/journalbeat.reference.yml
  journalbeat/reader/config.go
  journalbeat/reader/journal.go
Labels: Journalbeat, review

#12758 Make helper functions implementation consistent with beat module
  metricbeat/module/logstash/logstash.go
  metricbeat/module/logstash/node/node.go
  metricbeat/module/logstash/node_stats/node_stats.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.3.0, v8.0.0

#12747 Add module for GCP VPC flow logs
  CHANGELOG.next.asciidoc
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/googlecloud.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/fileset/fileset.go
  filebeat/include/fields.go
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/googlecloud/_meta/config.yml
  x-pack/filebeat/module/googlecloud/_meta/docs.asciidoc
  x-pack/filebeat/module/googlecloud/_meta/fields.yml
  x-pack/filebeat/module/googlecloud/fields.go
  x-pack/filebeat/module/googlecloud/vpcflow/_meta/fields.yml
  x-pack/filebeat/module/googlecloud/vpcflow/config/input.yml
  x-pack/filebeat/module/googlecloud/vpcflow/config/pipeline.js
  x-pack/filebeat/module/googlecloud/vpcflow/ingest/pipeline.yml
  x-pack/filebeat/module/googlecloud/vpcflow/manifest.yml
  x-pack/filebeat/module/googlecloud/vpcflow/test/vpc-flow-log-entries.json.log
  x-pack/filebeat/module/googlecloud/vpcflow/test/vpc-flow-log-entries.json.log-expected.json
  x-pack/filebeat/modules.d/googlecloud.yml.disabled
Labels: Filebeat, SecOps, enhancement, module, review

#12759 [Auditbeat] Cherry-pick #12740 to 6.8: Process dataset: Do not show non-root warning on Windows
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/process/process.go
Labels: Auditbeat, SecOps, backport, review

#12770 Anchor config file path with path.home var
  x-pack/filebeat/module/cisco/ios/config/input.yml
Labels: Filebeat, bug, needs_backport, review

#12771 Cherry-pick #12741 to 6.8: [Packetbeat] Redis: Limit memory used by replication
  CHANGELOG.next.asciidoc
  packetbeat/_meta/beat.reference.yml
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.reference.yml
  packetbeat/protos/redis/config.go
  packetbeat/protos/redis/messagequeue.go
  packetbeat/protos/redis/messagequeue_test.go
  packetbeat/protos/redis/redis.go
  packetbeat/protos/redis/redis_parse.go
Labels: Packetbeat, backport, review

#12752 Cherry-pick #12741 to 7.2: [Packetbeat] Redis: Limit memory used by replication
  CHANGELOG.next.asciidoc
  packetbeat/_meta/beat.reference.yml
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/packetbeat.reference.yml
  packetbeat/protos/redis/config.go
  packetbeat/protos/redis/messagequeue.go
  packetbeat/protos/redis/messagequeue_test.go
  packetbeat/protos/redis/redis.go
  packetbeat/protos/redis/redis_parse.go
Labels: Packetbeat, backport, review

#12734 [metricbeat]Add kubeproxy dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-kubernetes-proxy.png
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-proxy.json
Labels: :infrastructure, Metricbeat, containers, review

#12777 Add `node_stats.mlockall` field
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.3.0, v8.0.0

#12776 Add `fs.io_stats` field (only available on Linux)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.3.0, v8.0.0

#12781 [6.8] Add `node_stats.mlockall` field (#12777)
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12780 [7.2] Add `node_stats.mlockall` field (#12777)
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12749 [metricbeat]Add kubernetes scheduler dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat_kubernetes_scheduler.png
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-scheduler.json
Labels: :infrastructure, Metricbeat, containers, needs_backport, review

#12783 [7.2] Add `fs.io_stats` field (only available on Linux) (#12776)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12731 Cherry-pick #12695 to 7.0: Filebeat - Modules Apache - Error : Fix Client IP - missing PORT
  CHANGELOG.next.asciidoc
  filebeat/module/apache/error/ingest/pipeline.json
  filebeat/module/apache/error/test/test.log
  filebeat/module/apache/error/test/test.log-expected.json
Labels: backport, review

#12785 [7.3] Add `node_stats.mlockall` field (#12777)
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12784 [6.8] Add `fs.io_stats` field (only available on Linux) (#12776)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12779 [7.x] Add `node_stats.mlockall` field (#12777)
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12736 [Metricbeat] Add Tablespaces dashboard to Oracle module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/module/oracle/_meta/kibana/7/dashboard/Metricbet-Oracle-tablespaces.json
Labels: :infrastructure, Metricbeat, [zube]: In Review, needs_backport, review

#12787 [7.3][metricbeat]Add kubeproxy dashboard (#12734)
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-kubernetes-proxy.png
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-proxy.json
Labels: backport

#12744 [metricbeat]Add kubernetes controller dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-kubernetes-controllermanager.png
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-controller-manager.json
Labels: :infrastructure, Metricbeat, containers, needs_backport, review

#12788 [7.3][metricbeat]Add kubernetes scheduler dashboard (#12749)
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat_kubernetes_scheduler.png
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-scheduler.json
Labels: backport

#12782 [7.x] Add `fs.io_stats` field (only available on Linux) (#12776)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12786 [7.3] Add `fs.io_stats` field (only available on Linux) (#12776)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12793 [7.3][metricbeat]Add kubernetes controller dashboardBackport (#12744)
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-kubernetes-controllermanager.png
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/kibana/7/dashboard/Metricbeat-kubernetes-controller-manager.json
Labels: backport

#12789 Cherry-pick #12736 to 7.3: Add Tablespaces dashboard to Oracle module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/module/oracle/_meta/kibana/7/dashboard/Metricbet-Oracle-tablespaces.json
Labels: backport, review

#10667 Enhance RabbitMQ test to use real data and test with 3.6
  metricbeat/docs/modules/rabbitmq.asciidoc
  metricbeat/module/rabbitmq/_meta/docs.asciidoc
  metricbeat/module/rabbitmq/exchange/_meta/data.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/docs.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/docs.json-expected.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.6.0.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.6.0.json-expected.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.6.5.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.6.5.json-expected.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.7.14.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.7.14.json-expected.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.7.4.json
  metricbeat/module/rabbitmq/exchange/_meta/testdata/exchange-3.7.4.json-expected.json
  metricbeat/module/rabbitmq/exchange/exchange_test.go
  metricbeat/module/rabbitmq/node/_meta/data.json
  metricbeat/module/rabbitmq/node/node_integration_test.go
  metricbeat/module/rabbitmq/queue/_meta/data.json
  metricbeat/module/rabbitmq/queue/_meta/testdata/docs.json
  metricbeat/module/rabbitmq/queue/_meta/testdata/docs.json-expected.json
  metricbeat/module/rabbitmq/queue/queue_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, review

#12773 [generator] add a choices var to generator.py
  script/generate.py
Labels: :Generator, :infrastructure, bug

#12801 [DOCS] update elasticsearch output index setting in logstash output docs
  libbeat/docs/outputconfig.asciidoc
Labels: backport, docs

#12608 Cherry-pick #12268 to 7.2: Skipping unparsable lines in docker input
  CHANGELOG.next.asciidoc
  filebeat/input/log/harvester.go
  libbeat/reader/reader.go
  libbeat/reader/readjson/docker_json.go
  libbeat/reader/readjson/docker_json_test.go
Labels: backport, review

#12819 Fix Dockerfile for google-pubsub filebeat input
  x-pack/filebeat/input/googlepubsub/_meta/Dockerfile
Labels: :infrastructure

#12808 Cherry-pick #12801 to 7.3: [DOCS] update elasticsearch output index setting in logstash output docs
  libbeat/docs/outputconfig.asciidoc
Labels: backport, review

#12809 Cherry-pick #12801 to 7.2: [DOCS] update elasticsearch output index setting in logstash output docs
  libbeat/docs/outputconfig.asciidoc
Labels: backport, review

#12810 Cherry-pick #12801 to 7.1: [DOCS] update elasticsearch output index setting in logstash output docs
  libbeat/docs/outputconfig.asciidoc
Labels: backport, review

#12811 Cherry-pick #12801 to 7.0: [DOCS] update elasticsearch output index setting in logstash output docs
  libbeat/docs/outputconfig.asciidoc
Labels: backport, review

#12805 Update github.com/miekg/dns to v1.1.15
  CHANGELOG.next.asciidoc
  NOTICE.txt
  packetbeat/tests/system/test_0032_dns.py
  vendor/github.com/miekg/dns/Gopkg.lock
  vendor/github.com/miekg/dns/Gopkg.toml
  vendor/github.com/miekg/dns/README.md
  vendor/github.com/miekg/dns/acceptfunc.go
  vendor/github.com/miekg/dns/client.go
  vendor/github.com/miekg/dns/clientconfig.go
  vendor/github.com/miekg/dns/compress_generate.go
  vendor/github.com/miekg/dns/defaults.go
  vendor/github.com/miekg/dns/dns.go
  vendor/github.com/miekg/dns/dnssec.go
  vendor/github.com/miekg/dns/dnssec_keygen.go
  vendor/github.com/miekg/dns/dnssec_keyscan.go
  vendor/github.com/miekg/dns/dnssec_privkey.go
  vendor/github.com/miekg/dns/doc.go
  vendor/github.com/miekg/dns/duplicate.go
  vendor/github.com/miekg/dns/duplicate_generate.go
  vendor/github.com/miekg/dns/edns.go
  vendor/github.com/miekg/dns/format.go
  vendor/github.com/miekg/dns/generate.go
  vendor/github.com/miekg/dns/labels.go
  vendor/github.com/miekg/dns/listen_go111.go
  vendor/github.com/miekg/dns/listen_go_not111.go
  vendor/github.com/miekg/dns/msg.go
  vendor/github.com/miekg/dns/msg_generate.go
  vendor/github.com/miekg/dns/msg_helpers.go
  vendor/github.com/miekg/dns/msg_truncate.go
  vendor/github.com/miekg/dns/nsecx.go
  vendor/github.com/miekg/dns/privaterr.go
  vendor/github.com/miekg/dns/rawmsg.go
  vendor/github.com/miekg/dns/reverse.go
  vendor/github.com/miekg/dns/sanitize.go
  vendor/github.com/miekg/dns/scan.go
  vendor/github.com/miekg/dns/scan_rr.go
  vendor/github.com/miekg/dns/scanner.go
  vendor/github.com/miekg/dns/serve_mux.go
  vendor/github.com/miekg/dns/server.go
  vendor/github.com/miekg/dns/sig0.go
  vendor/github.com/miekg/dns/singleinflight.go
  vendor/github.com/miekg/dns/smimea.go
  vendor/github.com/miekg/dns/tlsa.go
  vendor/github.com/miekg/dns/tsig.go
  vendor/github.com/miekg/dns/types.go
  vendor/github.com/miekg/dns/types_generate.go
  vendor/github.com/miekg/dns/udp_windows.go
  vendor/github.com/miekg/dns/update.go
  vendor/github.com/miekg/dns/version.go
  vendor/github.com/miekg/dns/xfr.go
  vendor/github.com/miekg/dns/zcompress.go
  vendor/github.com/miekg/dns/zduplicate.go
  vendor/github.com/miekg/dns/zmsg.go
  vendor/github.com/miekg/dns/ztypes.go
  vendor/vendor.json
Labels: Packetbeat, review

#12799 [CM] Fix enroll under Windows
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/enroll.go
Labels: bug, libbeat, review, x-pack

#12827 Cherry-pick #12799 to 7.2: [CM] Fix enroll under Windows
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/enroll.go
Labels: backport, review

#12828 Cherry-pick #12799 to 7.3: [CM] Fix enroll under Windows
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/enroll.go
Labels: backport, review

#12833 Fix a crash under Windows when fetching process information
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/providers/windows/process_windows.go
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sys/windows/syscall_windows.go
  vendor/vendor.json
Labels: bug, libbeat, needs_backport

#12837 Cherry-pick #12833 to 7.2: Fix a crash under Windows when fetching process information
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/providers/windows/process_windows.go
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sys/windows/syscall_windows.go
  vendor/vendor.json
Labels: backport, review

#12835 Cherry-pick #12833 to 7.3: Fix a crash under Windows when fetching process information
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/providers/windows/process_windows.go
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sys/windows/syscall_windows.go
  vendor/vendor.json
Labels: backport, review

#12830 Making parity with internal collector
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.2.1, v7.3.0, v8.0.0

#12754 Run test base with licensed metricbeat
  metricbeat/tests/system/test_base.py
  x-pack/metricbeat/docker-compose.yml
  x-pack/metricbeat/tests/system/test_xpack_base.py
Labels: :Testing, Metricbeat, review

#12832 Update go-structform
  NOTICE.txt
  vendor/github.com/elastic/go-structform/CHANGELOG.md
  vendor/github.com/elastic/go-structform/basetype_string.go
  vendor/github.com/elastic/go-structform/go.mod
  vendor/github.com/elastic/go-structform/gotype/0gen.go
  vendor/github.com/elastic/go-structform/gotype/defs.go
  vendor/github.com/elastic/go-structform/gotype/error.go
  vendor/github.com/elastic/go-structform/gotype/fold.go
  vendor/github.com/elastic/go-structform/gotype/fold_inline.go
  vendor/github.com/elastic/go-structform/gotype/fold_opts.go
  vendor/github.com/elastic/go-structform/gotype/fold_refl_sel.generated.go
  vendor/github.com/elastic/go-structform/gotype/fold_reflect.go
  vendor/github.com/elastic/go-structform/gotype/tags.go
  vendor/github.com/elastic/go-structform/gotype/unfold.go
  vendor/github.com/elastic/go-structform/gotype/unfold_arr.generated.go
  vendor/github.com/elastic/go-structform/gotype/unfold_arr.yml
  vendor/github.com/elastic/go-structform/gotype/unfold_lookup_go.generated.go
  vendor/github.com/elastic/go-structform/gotype/unfold_lookup_go.yml
  vendor/github.com/elastic/go-structform/gotype/unfold_map.generated.go
  vendor/github.com/elastic/go-structform/gotype/unfold_map.yml
  vendor/github.com/elastic/go-structform/gotype/unfold_opts.go
  vendor/github.com/elastic/go-structform/gotype/unfold_struct.go
  vendor/github.com/elastic/go-structform/gotype/unfold_user.go
  vendor/github.com/elastic/go-structform/gotype/unfold_user_primitive.generated.go
  vendor/github.com/elastic/go-structform/gotype/unfold_user_primitive.yml
  vendor/github.com/elastic/go-structform/gotype/unfold_user_processing.generated.go
  vendor/github.com/elastic/go-structform/gotype/unfold_user_processing.yml
  vendor/github.com/elastic/go-structform/json/state_string.go
  vendor/github.com/elastic/go-structform/ubjson/statestep_string.go
  vendor/github.com/elastic/go-structform/ubjson/statetype_string.go
  vendor/vendor.json
Labels: review

#12822 Cherry-pick #12819 to 7.3: Fix Dockerfile for google-pubsub filebeat input
  x-pack/filebeat/input/googlepubsub/_meta/Dockerfile
Labels: backport, review

#12845 [7.2] Making parity with internal collector (#12830)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12846 [6.8] Making parity with internal collector (#12830)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12701 Separate AWS module config file example into metricset specific
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/aws/_meta/config.reference.yml
  x-pack/metricbeat/module/aws/_meta/config.yml
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/rds/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/s3_request/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/sqs/_meta/docs.asciidoc
  x-pack/metricbeat/modules.d/aws.yml.disabled
Labels: :infrastructure, [zube]: In Review, review

#12844 [7.3] Making parity with internal collector (#12830)
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12743 Fix race condition on error returned after context cancellation
  metricbeat/module/docker/event/event.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, containers, flaky-test, module, review

#12847 [DOCS] Remove logging option not supported in 6.5
  libbeat/docs/loggingconfig.asciidoc
Labels: docs, review

#12841 [7.0][DOCS] Backport: Indicate that CM migration tool applies to 6.6 to 6.7 migrations (#12581)
  libbeat/docs/upgrading.asciidoc
Labels: backport, docs

#12842 [7.1][DOCS] Backport: Indicate that CM migration tool applies to 6.6 to 6.7 migrations (#12581)
  libbeat/docs/upgrading.asciidoc
Labels: backport, docs

#12843 [7.2][DOCS] Backport: Indicate that CM migration tool applies to 6.6 to 6.7 migrations (#12581)
  libbeat/docs/upgrading.asciidoc
Labels: docs, review

#12849 Cherry-pick #12743 to 7.3: Fix race condition on error returned after context cancellation
  metricbeat/module/docker/event/event.go
Labels: backport, review

#12715 Try to make kafka downloads more robust
  metricbeat/module/kafka/_meta/Dockerfile
Labels: :Testing, :infrastructure, Metricbeat, [zube]: In Review, flaky-test, module, review

#12813 Cherry-pick #12268 to 6.8: Skipping unparsable lines in docker input
  CHANGELOG.next.asciidoc
  filebeat/input/log/harvester.go
  filebeat/reader/docker_json/docker_json.go
  filebeat/reader/docker_json/docker_json_test.go
  filebeat/reader/reader.go
Labels: backport, review

#12866 Account for no load average reported by ES on Windows
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.2.2, v7.3.0, v8.0.0

#12829 Fix: Filtering out ramdisks in diskio metricset
  CHANGELOG.next.asciidoc
  metricbeat/module/system/diskio/diskstat_windows_helper.go
Labels: :Windows, :infrastructure, Metricbeat, [zube]: In Review

#12856 Prevent pubsub worker from being started more than once
  x-pack/filebeat/input/googlepubsub/input.go
  x-pack/filebeat/input/googlepubsub/pubsub_test.go
Labels: Filebeat, SecOps, bug, needs_backport, review

#12869 [7.2] Account for no load average reported by ES on Windows (#12866)
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12868 [7.3] Account for no load average reported by ES on Windows (#12866)
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport

#12852 [Metricbeat] Add ability to collect client-provided name for rabbitmq connections
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/rabbitmq/connection/_meta/data.json
  metricbeat/module/rabbitmq/connection/_meta/fields.yml
  metricbeat/module/rabbitmq/connection/_meta/testdata/docs.json
  metricbeat/module/rabbitmq/connection/_meta/testdata/docs.json-expected.json
  metricbeat/module/rabbitmq/connection/data.go
  metricbeat/module/rabbitmq/fields.go
Labels: :infrastructure, Metricbeat

#12742 Cherry-pick #12632 to 7.2: Use CRI paths in kubernetes manifests
  CHANGELOG.next.asciidoc
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/filebeat/filebeat-configmap.yaml
  deploy/kubernetes/filebeat/filebeat-daemonset.yaml
Labels: backport, review

#12885 Add alias required by windows job on jenkins
  x-pack/metricbeat/magefile.go
Labels: :Testing, Metricbeat, [zube]: In Review, review

#12883 Only parse/index necessary `os.cpu` and `process.cpu` fields
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.4.0, v8.0.0

#12881 Only parse necessary `reloads` sub-fields
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.4.0, v8.0.0

#12888 Cherry-pick #12885 to 7.3: Add alias required by windows job on jenkins
  x-pack/metricbeat/magefile.go
Labels: backport, review

#12887 Cherry-pick #12885 to 7.2: Add alias required by windows job on jenkins
  x-pack/metricbeat/magefile.go
Labels: backport, review

#12889 Cherry-pick #12885 to 7.1: Add alias required by windows job on jenkins
  x-pack/metricbeat/magefile.go
Labels: backport, review

#12892 [7.3] Only parse/index necessary `os.cpu` and `process.cpu` fields (#12883)
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: backport

#12059 Clarify when registry entries are removed after clean_inactive is met
  filebeat/docs/inputs/input-common-file-options.asciidoc
Labels: Filebeat, docs, needs_backport, review

#11984 Add pointer to ILM docs for setting index name
  libbeat/docs/shared-getting-started-intro.asciidoc
  libbeat/docs/shared-ilm.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: docs, libbeat, needs_backport, review

#12891 [7.3] Only parse necessary `reloads` sub-fields (#12881)
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: backport

#12642 [DOCS] Add missing run steps for brew installs
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/enable-modules-command.asciidoc
  filebeat/docs/include/list-modules-command.asciidoc
  filebeat/docs/include/run-command.asciidoc
  filebeat/docs/include/set-paths.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-brew-run.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/step-test-config.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
Labels: docs, needs_backport, review

#11985 Add missing ILM options
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: docs, libbeat, needs_backport, review

#12857 Add Netflow dashboards based on Logstash Netflow
  CHANGELOG.next.asciidoc
  dev-tools/cmd/dashboards/export_dashboards.go
  dev-tools/mage/dashboard.go
  dev-tools/mage/target/dashboards/dashboards.go
  libbeat/dashboards/export.go
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-autonomous-systems.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-conversation-partners.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-flow-exporters.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-flow-records.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-geo-location.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-overview.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-top-n.json
  x-pack/filebeat/module/netflow/_meta/kibana/7/dashboard/filebeat-netflow-traffic-analysis.json
  x-pack/filebeat/module/netflow/dashboards.yml
  x-pack/filebeat/module/netflow/log/ingest/pipeline.json
  x-pack/filebeat/module/netflow/log/ingest/pipeline.yml
  x-pack/filebeat/module/netflow/log/manifest.yml
Labels: Filebeat, enhancement, review

#8131 Registry backend memlog
  libbeat/registry/backend/memlog/diskstore.go
  libbeat/registry/backend/memlog/error.go
  libbeat/registry/backend/memlog/hashtable.go
  libbeat/registry/backend/memlog/hashtable_test.go
  libbeat/registry/backend/memlog/json.go
  libbeat/registry/backend/memlog/lock.go
  libbeat/registry/backend/memlog/memlog.go
  libbeat/registry/backend/memlog/memlog_test.go
  libbeat/registry/backend/memlog/memtx.go
  libbeat/registry/backend/memlog/op.go
  libbeat/registry/backend/memlog/store.go
  libbeat/registry/backend/memlog/store_test.go
  libbeat/registry/backend/memlog/testdata/1/Readme.md
  libbeat/registry/backend/memlog/testdata/1/commit_wrong_id/1.json
  libbeat/registry/backend/memlog/testdata/1/commit_wrong_id/expected.json
  libbeat/registry/backend/memlog/testdata/1/commit_wrong_id/log.json
  libbeat/registry/backend/memlog/testdata/1/commit_wrong_id/meta.json
  libbeat/registry/backend/memlog/testdata/1/data_and_log/1.json
  libbeat/registry/backend/memlog/testdata/1/data_and_log/expected.json
  libbeat/registry/backend/memlog/testdata/1/data_and_log/log.json
  libbeat/registry/backend/memlog/testdata/1/data_and_log/meta.json
  libbeat/registry/backend/memlog/testdata/1/datafile_only/1.json
  libbeat/registry/backend/memlog/testdata/1/datafile_only/expected.json
  libbeat/registry/backend/memlog/testdata/1/datafile_only/meta.json
  libbeat/registry/backend/memlog/testdata/1/incomplete_tx/1.json
  libbeat/registry/backend/memlog/testdata/1/incomplete_tx/expected.json
  libbeat/registry/backend/memlog/testdata/1/incomplete_tx/log.json
  libbeat/registry/backend/memlog/testdata/1/incomplete_tx/meta.json
  libbeat/registry/backend/memlog/testdata/1/logfile_only/expected.json
  libbeat/registry/backend/memlog/testdata/1/logfile_only/log.json
  libbeat/registry/backend/memlog/testdata/1/logfile_only/meta.json
  libbeat/registry/backend/memlog/testdata/1/old_datafiles/1.json
  libbeat/registry/backend/memlog/testdata/1/old_datafiles/2.json
  libbeat/registry/backend/memlog/testdata/1/old_datafiles/3.json
  libbeat/registry/backend/memlog/testdata/1/old_datafiles/expected.json
  libbeat/registry/backend/memlog/testdata/1/old_datafiles/meta.json
  libbeat/registry/backend/memlog/testdata/1/old_tx_in_log/3.json
  libbeat/registry/backend/memlog/testdata/1/old_tx_in_log/expected.json
  libbeat/registry/backend/memlog/testdata/1/old_tx_in_log/log.json
  libbeat/registry/backend/memlog/testdata/1/old_tx_in_log/meta.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_begin/1.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_begin/expected.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_begin/log.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_begin/meta.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_rollback/1.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_rollback/expected.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_rollback/log.json
  libbeat/registry/backend/memlog/testdata/1/unexpected_rollback/meta.json
  libbeat/registry/backend/memlog/tx.go
  libbeat/registry/backend/memlog/tx_test.go
  libbeat/registry/backend/memlog/txstate.go
  libbeat/registry/backend/memlog/typeconv.go
  libbeat/registry/backend/memlog/typeconv_test.go
  libbeat/registry/backend/memlog/util.go
  libbeat/registry/backend/memlog/util_darwin.go
  libbeat/registry/backend/memlog/util_other.go
  libbeat/registry/backend/memlog/util_windows.go
Labels: libbeat, review

#12873 Call make recursively in the generated Metricbeat Makefile
  generator/metricbeat/{beat}/Makefile
Labels: :Generator, :infrastructure, bug

#12875 Fix typo in field genderator
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  heartbeat/docs/fields.asciidoc
  journalbeat/docs/fields.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  winlogbeat/docs/fields.asciidoc
  x-pack/functionbeat/docs/fields.asciidoc
Labels: :infrastructure, bug, libbeat

#12864 Use `container` input in doc examples
  filebeat/_meta/common.reference.inputs.yml
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/autodiscover-docker-config.asciidoc
  filebeat/docs/autodiscover-hints.asciidoc
  filebeat/docs/autodiscover-kubernetes-config.asciidoc
  filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
Labels: :infrastructure, containers, docs, needs_backport, review

#12879 Cherry-pick #12856 to 7.3: Prevent pubsub worker from being started more than once
  x-pack/filebeat/input/googlepubsub/input.go
  x-pack/filebeat/input/googlepubsub/pubsub_test.go
Labels: SecOps, backport, review

#12834 Update testing env 7.2.1
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v7.2.1

#11998 Add helper with a common interface for all test reporters
  metricbeat/mb/testing/fetcher.go
  metricbeat/module/docker/container/container_integration_test.go
  metricbeat/module/etcd/metrics/metrics_integration_test.go
  metricbeat/module/etcd/store/store_integration_test.go
Labels: :Testing, :infrastructure, Metricbeat, [zube]: In Review, review

#12839 Close changelog for 7.2.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.2.1

#12911 [7.2] Fix changelog
  CHANGELOG.next.asciidoc
Labels: review

#12895 [7.2][DOCS] Backport: Clarify when registry entries are removed after clean_inactive is met (#12059)
  filebeat/docs/inputs/input-common-file-options.asciidoc
Labels: backport, docs, v7.2.2

#12896 [7.3][DOCS] Backport: Clarify when registry entries are removed after clean_inactive is met (#12059)…
  filebeat/docs/inputs/input-common-file-options.asciidoc
Labels: backport, docs, v7.3.0

#12897 [7.2][DOCS] Backport: Add pointer to ILM docs for setting index name (#11984)
  libbeat/docs/shared-getting-started-intro.asciidoc
  libbeat/docs/shared-ilm.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: backport, docs, v7.2.2

#12898 [7.3][DOCS] Backport: Add pointer to ILM docs for setting index name (#11984)
  libbeat/docs/shared-getting-started-intro.asciidoc
  libbeat/docs/shared-ilm.asciidoc
  libbeat/docs/shared-template-load.asciidoc
Labels: backport, docs, v7.3.0

#12899 [7.2][DOCS] Backport: Add missing ILM options (#11985)
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: backport, docs, v7.2.2

#12900 [7.3][DOCS] Backport: Add missing ILM options (#11985)
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: backport, docs, v7.3.0

#12901 [7.2][DOCS] Backport: Add missing run steps for brew installs (#12642)
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/enable-modules-command.asciidoc
  filebeat/docs/include/list-modules-command.asciidoc
  filebeat/docs/include/run-command.asciidoc
  filebeat/docs/include/set-paths.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-brew-run.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/step-test-config.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
Labels: backport, docs, v7.2.2

#12902 [7.3][DOCS] Backport: Add missing run steps for brew installs (#12642)
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/include/enable-modules-command.asciidoc
  filebeat/docs/include/list-modules-command.asciidoc
  filebeat/docs/include/run-command.asciidoc
  filebeat/docs/include/set-paths.asciidoc
  filebeat/docs/include/setup-command.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-brew-run.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  libbeat/docs/step-test-config.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/index.asciidoc
Labels: backport, docs, v7.3.0

#12912 Revise changelog for 7.2.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v7.2.1

#11939 Teach elasticsearch/slowlog fileset to parse more fields
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/elasticsearch/fields.go
  filebeat/module/elasticsearch/slowlog/_meta/fields.yml
  filebeat/module/elasticsearch/slowlog/ingest/pipeline-json.json
  filebeat/module/elasticsearch/slowlog/test/es74_index_indexing_slowlog-json.log
  filebeat/module/elasticsearch/slowlog/test/es74_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es74_index_search_slowlog-json.log
  filebeat/module/elasticsearch/slowlog/test/es74_index_search_slowlog-json.log-expected.json
Labels: Filebeat, in progress, module, needs_backport, v8.0.0

#12915 [Metricbeat] Fix system/uptime metricset under Windows
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sigar_windows.go
  vendor/vendor.json
Labels: Metricbeat, bug, needs_backport

#12870 [Metricbeat] Fix Oracle docs not showing the metricsets included
  metricbeat/docs/modules/oracle.asciidoc
  x-pack/metricbeat/module/oracle/_meta/docs.asciidoc
Labels: :infrastructure, Metricbeat, [zube]: In Progress, docs, needs_backport

#12836 Bump docs version for 7.2.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v7.2.1

#12917 Only collect fields that are also internally-collected
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.4.0, v8.0.0

#12925 Cherry-pick #12915 to 7.3: [Metricbeat] Fix system/uptime metricset under Windows
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sigar_windows.go
  vendor/vendor.json
Labels: backport, review

#12926 Cherry-pick #12915 to 7.2: [Metricbeat] Fix system/uptime metricset under Windows
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sigar_windows.go
  vendor/vendor.json
Labels: backport, review

#12931 Update Go to 1.12.7
  .go-version
  CHANGELOG.next.asciidoc
  auditbeat/Dockerfile
  filebeat/Dockerfile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  x-pack/functionbeat/Dockerfile
Labels: review

#12934 Revert "Bump docs version for 7.2.1"
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: review, v7.2.1

#12930 [6.8] Collect and index CCR auto-follow stats (#11574)
  metricbeat/module/elasticsearch/ccr/data.go
  metricbeat/module/elasticsearch/ccr/data_xpack.go
Labels: backport

#12929 Collect `os.cgroup` field, if present
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.3.0, v7.4.0, v8.0.0

#12927 [7.3] Only collect fields that are also internally-collected (#12917)
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: backport

#12943 [7.3] Collect `os.cgroup` field, if present (#12929)
  metricbeat/module/logstash/node_stats/data_xpack.go
Labels: backport

#12914 Release connections in metricbeat redis module
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
Labels: :infrastructure, Metricbeat, bug, module, needs_backport

#12951 Fix cisco.ios pipeline bug for syslog input
  x-pack/filebeat/module/cisco/ios/config/pipeline.js
Labels: Auditbeat, Filebeat, SecOps, bug, module, review

#8543 Add ClientFactory to TCP input source to add SplitFunc/NetworkFuncs per client
  CHANGELOG-developer.next.asciidoc
  filebeat/input/syslog/config.go
  filebeat/input/tcp/input.go
  filebeat/inputsource/tcp/client.go
  filebeat/inputsource/tcp/server.go
  filebeat/inputsource/tcp/server_test.go
Labels: Filebeat

#12955 Cherry-pick #12951 to 7.3: Fix cisco.ios pipeline bug for syslog input
  x-pack/filebeat/module/cisco/ios/config/pipeline.js
Labels: SecOps, backport, review

#12945 Fix changelog for 7.2.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v7.2.1

#12957 Add RPM packaging flag to omit build-id links
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/package_test.go
Labels: Packaging, bug, review

#12816 [Metricbeat] Avoid omitting of errors in Vsphere module and upgrade to use context.Context
  CHANGELOG.next.asciidoc
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/datastore/datastore_test.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/host/host_test.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#12958 Fix license nil pointer scenario
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v7.2.2, v7.3.0, v8.0.0

#12964 [7.3] Fix license nil pointer scenario (#12958)
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: backport

#12965 [7.2] Fix license nil pointer scenario (#12958)
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: backport

#12922 [metricbeat]update apiserver metrics
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/apiserver/README.md
  metricbeat/module/kubernetes/apiserver/_meta/data.json
  metricbeat/module/kubernetes/apiserver/_meta/fields.yml
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.14
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.14.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.8
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.8.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.expected
  metricbeat/module/kubernetes/apiserver/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/apiserver/apiserver.go
  metricbeat/module/kubernetes/apiserver/apiserver_test.go
  metricbeat/module/kubernetes/apiserver/metricset.go
  metricbeat/module/kubernetes/fields.go
Labels: :infrastructure, Metricbeat, containers, review

#12906 Add event 4634 support
  CHANGELOG.next.asciidoc
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/docs/modules/security.asciidoc
  winlogbeat/include/fields.go
  x-pack/winlogbeat/module/security/_meta/docs.asciidoc
  x-pack/winlogbeat/module/security/config/winlogbeat-security.js
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012r2-logon.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016-logoff.evtx
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016-logoff.evtx.golden.json
Labels: Winlogbeat, enhancement, module

#12950 Reuse connections in redis info metricset
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, module, needs_backport, review

#12947 Cherry-pick #12914 to 7.3: Release connections in metricbeat redis module
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
Labels: backport, review

#12966 [6.8] Fix license nil pointer scenario (#12958)
  metricbeat/module/elasticsearch/elasticsearch.go
Labels: backport

#12948 Cherry-pick #12914 to 7.2: Release connections in metricbeat redis module
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
Labels: backport, review

#12886 Expose error when checking if alias exists
  CHANGELOG.next.asciidoc
  libbeat/idxmgmt/ilm/client_handler.go
Labels: libbeat, review

#12949 Cherry-pick #12914 to 7.1: Release connections in metricbeat redis module
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
Labels: backport, review

#12967 Cherry-pick #12950 to 7.3: Reuse connections in redis info metricset
  CHANGELOG.next.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
Labels: backport, review

#12976 Fix append inside a loop in seccomp.ModifyDefaultPolicy
  libbeat/common/seccomp/seccomp.go
Labels: libbeat, review
