Repository elastic/beats, pull requests merged in 2019-03, with the labels that each got.

#10987 Trim project from GCE cloud metadata
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/provider_google_gce.go
  libbeat/processors/add_cloud_metadata/provider_google_gce_test.go
Labels: libbeat, needs_backport, review

#11003 Cherry-pick #10789 to 7.0: [Heartbeat] Fix flaky SSL test with retries.
  heartbeat/monitors/active/http/http_test.go
Labels: backport, review

#11002 Add group_measurements_by_instance_label flag to perfmon configuration
  CHANGELOG-developer.asciidoc
  metricbeat/docs/modules/windows.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/windows/_meta/config.reference.yml
  metricbeat/module/windows/perfmon/_meta/docs.asciidoc
  metricbeat/module/windows/perfmon/pdh_integration_windows_test.go
  metricbeat/module/windows/perfmon/pdh_windows.go
  metricbeat/module/windows/perfmon/perfmon.go
  x-pack/metricbeat/metricbeat.reference.yml
Labels: :Windows, Metricbeat, enhancement, module, review

#10950 [Filebeat] [Netflow] fix field name conversion to snake case
  x-pack/filebeat/input/netflow/case.go
  x-pack/filebeat/input/netflow/case_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
Labels: Filebeat, SecOps, bug, needs_backport, review

#10692 Improve documentation for server metricset in Zookeeper metricbeat module
  metricbeat/docs/fields.asciidoc
  metricbeat/module/zookeeper/fields.go
  metricbeat/module/zookeeper/server/_meta/fields.yml
Labels: :infrastructure, Metricbeat, module, review

#10992 Add missing host.* fields to fields.yml in 6.7
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/processors/add_host_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: bug, review

#10938 Document autodiscover dedot option
  filebeat/docs/autodiscover-docker-config.asciidoc
  metricbeat/docs/autodiscover-docker-config.asciidoc
Labels: :infrastructure, docs, needs_backport

#10832 Don't add the modifier for service name if it is not configured
  metricbeat/mb/module/options.go
Labels: :infrastructure, Metricbeat, needs_backport, review, v7.0.0

#10741 Remove simplistic docker command examples
  filebeat/docs/getting-started.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: docs, needs_backport, review

#10897 [Auditbeat] System module: Fix and unify bucket closing logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/login/utmp.go
Labels: Auditbeat, SecOps, bug, needs_backport, review

#11022 Cherry-pick #10950 to 7.0: [Filebeat] [Netflow] fix field name conversion to snake case
  x-pack/filebeat/input/netflow/case.go
  x-pack/filebeat/input/netflow/case_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
Labels: backport, review

#11020 Cherry-pick #10950 to 6.7: [Filebeat] [Netflow] fix field name conversion to snake case
  x-pack/filebeat/input/netflow/case.go
  x-pack/filebeat/input/netflow/case_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
Labels: backport, review

#11019 Cherry-pick #10950 to 6.6: [Filebeat] [Netflow] fix field name conversion to snake case
  x-pack/filebeat/input/netflow/case.go
  x-pack/filebeat/input/netflow/case_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
Labels: backport, review

#11006 [Winlogbeat] Prevent Winlogbeat from dropping events with invalid XML
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/event.go
  winlogbeat/sys/event_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/xmlreader.go
Labels: Winlogbeat, bug, needs_backport, review

#11039 Cherry-pick #11006 to 6.6: [Winlogbeat] Prevent Winlogbeat from dropping events with invalid XML
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/event.go
  winlogbeat/sys/event_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/xmlreader.go
Labels: backport, review

#11040 Cherry-pick #11006 to 7.0: [Winlogbeat] Prevent Winlogbeat from dropping events with invalid XML
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/event.go
  winlogbeat/sys/event_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/xmlreader.go
Labels: backport, review

#11041 Cherry-pick #11006 to 7.x: [Winlogbeat] Prevent Winlogbeat from dropping events with invalid XML
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/event.go
  winlogbeat/sys/event_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/xmlreader.go
Labels: backport, review

#11033 Cherry-pick #10950 to 7.x: [Filebeat] [Netflow] fix field name conversion to snake case
  x-pack/filebeat/input/netflow/case.go
  x-pack/filebeat/input/netflow/case_test.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
Labels: backport, review

#11038 Cherry-pick #11006 to 6.7: [Winlogbeat] Prevent Winlogbeat from dropping events with invalid XML
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/event.go
  winlogbeat/sys/event_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/xmlreader.go
Labels: backport, review

#10935 Backport: Fix panic if user sets custom fields starting with host
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/processor.go
Labels: bug, review

#10825 Cherry-pick #10593 to 6.7: Fix waiting for new events
  CHANGELOG.next.asciidoc
  NOTICE.txt
  journalbeat/include/seccomp_linux_386.go
  journalbeat/include/seccomp_linux_amd64.go
  journalbeat/input/input.go
  journalbeat/reader/journal.go
  libbeat/common/seccomp/policy_linux_amd64.go
  vendor/vendor.json
Labels: backport, review

#10854 [Metricbeat] Migrate MongoDB replstatus Metricset to use ReporterV2 interface
  metricbeat/module/mongodb/replstatus/_meta/data.json
  metricbeat/module/mongodb/replstatus/replstatus.go
  metricbeat/module/mongodb/replstatus/replstatus_integration_test.go
Labels: :infrastructure, Metricbeat, review

#10946 Ensure kubernetes caches don't expire if they are being read
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/util/metrics_cache.go
  metricbeat/module/kubernetes/util/metrics_cache_test.go
Labels: :infrastructure, Metricbeat, containers, module, needs_backport, review, v6.5.5, v6.6.2, v6.7.0, v7.0.0

#11016 Add missing host.* fields to fields.yml
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/processors/add_host_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: ecs, review

#11024 Cherry-pick #10832 to 7.0: Don't add the modifier for service name if it is not configured
  metricbeat/mb/module/options.go
Labels: backport, review

#11036 [Heartbeat] Fix missing ICMP monitor.id field
  heartbeat/monitors/active/icmp/icmp.go
Labels: :uptime, Heartbeat, bug, review, v6.7.0

#10625 [Winlogbeat] Cherry-pick #10622 to 7.x: Fix field name to winlog.api
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Winlogbeat, backport, bug, ecs, review

#11005 Add network.community_id to iptables, suricata, and zeek
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/iptables/log/config/file.yml
  x-pack/filebeat/module/iptables/log/config/input.yml
  x-pack/filebeat/module/iptables/log/config/syslog.yml
  x-pack/filebeat/module/iptables/log/manifest.yml
  x-pack/filebeat/module/iptables/log/test/geo.log-expected.json
  x-pack/filebeat/module/iptables/log/test/icmp.log-expected.json
  x-pack/filebeat/module/iptables/log/test/iptables.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ipv6.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ubiquiti.log-expected.json
  x-pack/filebeat/module/suricata/eve/config/eve.yml
  x-pack/filebeat/module/suricata/eve/manifest.yml
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
  x-pack/filebeat/module/zeek/connection/config/connection.yml
  x-pack/filebeat/module/zeek/connection/manifest.yml
  x-pack/filebeat/module/zeek/connection/test/connection-json.log
  x-pack/filebeat/module/zeek/connection/test/connection-json.log-expected.json
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dns/manifest.yml
  x-pack/filebeat/module/zeek/dns/test/dns-json.log-expected.json
  x-pack/filebeat/module/zeek/files/manifest.yml
  x-pack/filebeat/module/zeek/http/config/http.yml
  x-pack/filebeat/module/zeek/http/manifest.yml
  x-pack/filebeat/module/zeek/http/test/http-json.log-expected.json
  x-pack/filebeat/module/zeek/notice/config/notice.yml
  x-pack/filebeat/module/zeek/notice/manifest.yml
  x-pack/filebeat/module/zeek/ssl/config/ssl.yml
  x-pack/filebeat/module/zeek/ssl/manifest.yml
  x-pack/filebeat/module/zeek/ssl/test/ssl-json.log-expected.json
Labels: Filebeat, SecOps, review

#11066 Cherry-pick #11006 to 5.6: [Winlogbeat] Prevent Winlogbeat from dropping events with invalid XML
  CHANGELOG.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/eventlogging_test.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/event.go
  winlogbeat/sys/event_test.go
  winlogbeat/sys/eventlogging/eventlogging_windows.go
  winlogbeat/sys/xmlreader.go
Labels: backport, review

#11064 [Auditbeat] Fix hostname references in System module dashboards
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-login-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-overview-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-package-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-process-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-socket-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-user-dashboard.json
Labels: Auditbeat, SecOps, bug, review

#11025 Set include_type_name to true when loading template to ES 6.7
  libbeat/template/load.go
Labels: libbeat, needs_backport, review

#10831 [Metricbeat] Migrate PostgreSQL bgwriter Metricset to use ReporterV2 interface
  metricbeat/module/postgresql/bgwriter/_meta/data.json
  metricbeat/module/postgresql/bgwriter/bgwriter.go
  metricbeat/module/postgresql/bgwriter/bgwriter_integration_test.go
Labels: :infrastructure, Metricbeat, review

#10829 [Metricbeat] Migrate PostgreSQL statement Metricset to use ReporterV2 interface
  metricbeat/module/postgresql/statement/_meta/data.json
  metricbeat/module/postgresql/statement/statement.go
  metricbeat/module/postgresql/statement/statement_integration_test.go
Labels: :infrastructure, Metricbeat, review

#10853 [Metricbeat] Migrate MongoDB metrics Metricset to use ReporterV2 interface
  metricbeat/module/mongodb/metrics/_meta/data.json
  metricbeat/module/mongodb/metrics/metrics.go
  metricbeat/module/mongodb/metrics/metrics_intergration_test.go
Labels: :infrastructure, Metricbeat, review

#11057 Cherry-pick #10946 to 7.0: Ensure kubernetes caches don't expire if they are being read
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/util/metrics_cache.go
  metricbeat/module/kubernetes/util/metrics_cache_test.go
Labels: backport, review

#11058 Cherry-pick #10946 to 6.7: Ensure kubernetes caches don't expire if they are being read
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/util/metrics_cache.go
  metricbeat/module/kubernetes/util/metrics_cache_test.go
Labels: backport, review

#11059 Cherry-pick #10946 to 6.6: Ensure kubernetes caches don't expire if they are being read
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/util/metrics_cache.go
  metricbeat/module/kubernetes/util/metrics_cache_test.go
Labels: backport, review

#11081 Fix travis GO_VERSION problem
  .travis.yml
Labels: :Testing, review

#10988 Log EOFs found on Kubernetes watcher at debug level
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/watcher.go
Labels: :infrastructure, [zube]: In Review, libbeat, needs_backport, review, v7.0.0

#11076 Cherry-pick #11025 to 6.7: Set include_type_name to true when loading template to ES 6.7
  libbeat/template/load.go
Labels: backport, review

#11062 Cherry-pick #11016 to 7.0: Add missing host.* fields to fields.yml
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/processors/add_host_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: backport, review

#10982 Detect if the configured and the migrated registry paths are the same
  journalbeat/checkpoint/checkpoint.go
  journalbeat/tests/system/config/journalbeat.yml.j2
  journalbeat/tests/system/test_base.py
Labels: Journalbeat, needs_backport, review

#10648 [Metricbeat] Simplify testing http Metricbeat modules
  metricbeat/mb/testing/data_generator.go
  metricbeat/mb/testing/data_test.go
  metricbeat/module/kibana/status/_meta/data.json
  metricbeat/module/kibana/status/_meta/testdata/7.0.0.json
  metricbeat/module/kibana/status/_meta/testdata/7.0.0.json-expected.json
  metricbeat/module/kibana/status/_meta/testdata/config.yml
  metricbeat/module/kibana/status/_meta/testdata/docs.json
  metricbeat/module/kibana/status/_meta/testdata/docs.json-expected.json
  metricbeat/module/kibana/status/status_integration_test.go
  metricbeat/module/rabbitmq/connection/_meta/data.json
  metricbeat/module/rabbitmq/connection/_meta/testdata/config.yml
  metricbeat/module/rabbitmq/connection/_meta/testdata/docs.json
  metricbeat/module/rabbitmq/connection/_meta/testdata/docs.json-expected.json
  metricbeat/module/rabbitmq/connection/connection_test.go
  metricbeat/module/traefik/health/_meta/data.json
  metricbeat/module/traefik/health/_meta/testdata/config.yml
  metricbeat/module/traefik/health/_meta/testdata/docs.json
  metricbeat/module/traefik/health/_meta/testdata/docs.json-expected.json
  metricbeat/module/traefik/health/health_integration_test.go
Labels: :Testing, Metricbeat, review

#11077 Cherry-pick #11025 to 7.0: Set include_type_name to true when loading template to ES 6.7
  libbeat/template/load.go
Labels: backport, review

#11014 Fix for not reusable http client leading to connection leaks in Jolokia module
  CHANGELOG.next.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/jmx.go
Labels: :infrastructure, Metricbeat, bug, module, needs_backport, review, v7.0.0

#10983 [Metricbeat] Migrate Memcached stats Metricset to use ReporterV2 interface
  metricbeat/module/memcached/stats/_meta/data.json
  metricbeat/module/memcached/stats/stats.go
  metricbeat/module/memcached/stats/stats_integration_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#11061 Cherry-pick #11016 to 7.x: Add missing host.* fields to fields.yml
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/processors/add_host_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: backport, review

#11026 [Auditbeat] Cherry-pick #10897 to 7.x: System module: Fix and unify bucket closing logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/login/utmp.go
Labels: Auditbeat, SecOps, backport, review

#11027 [Auditbeat] Cherry-pick #10897 to 7.0: System module: Fix and unify bucket closing logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/login/utmp.go
Labels: Auditbeat, SecOps, backport, review

#11029 [Auditbeat] Cherry-pick #10897 to 6.6: System module: Fix and unify bucket closing logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, backport, review

#10995 Include ip and boolean type when generating index pattern
  CHANGELOG.next.asciidoc
  libbeat/kibana/fields_transformer.go
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: bug, libbeat, needs_backport, review

#11074 [Metricbeat] Migrate heap to reporterV2 interface
  metricbeat/module/golang/heap/_meta/data.json
  metricbeat/module/golang/heap/data.go
  metricbeat/module/golang/heap/heap.go
  metricbeat/module/golang/heap/heap_integration_test.go
Labels: :infrastructure, Metricbeat

#10959 Allow ConcatFields for nodes of type object
  CHANGELOG-developer.next.asciidoc
  libbeat/common/field.go
  libbeat/common/field_test.go
Labels: bug, needs_backport

#11073 [Uptime] Fix docs for HTTP status checks
  heartbeat/docs/heartbeat-options.asciidoc
Labels: :uptime, Heartbeat, docs, needs_backport, review

#11018 [Filebeat] [NetFlow] Update changelog for #10950
  CHANGELOG.next.asciidoc
Labels: Filebeat, bug, needs_backport, review

#11072 Beats docs - Contributing improvements
  docs/devguide/contributing.asciidoc
Labels: :infrastructure, docs, review

#10996 [6.7] Ensure index pattern version is a string (#10689)
  libbeat/kibana/index_pattern_generator.go
  libbeat/kibana/testdata/beat-6.json
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: backport, review, v6.7.0

#10711 [7.x] Ensure index pattern version is a string (#10689)
  libbeat/kibana/index_pattern_generator.go
  libbeat/kibana/index_pattern_generator_test.go
  libbeat/kibana/testdata/beat-6.json
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: backport, review, v7.1.0

#11094 Allow ConcatFields for nodes of type object (#10959)
  CHANGELOG-developer.next.asciidoc
  libbeat/common/field.go
  libbeat/common/field_test.go
  libbeat/template/template.go
  libbeat/template/template_test.go
Labels: backport, review, v6.6.2

#11095 Cherry-pick #11073 to 6.7: [Uptime] Fix docs for HTTP status checks
  heartbeat/docs/heartbeat-options.asciidoc
Labels: backport, review

#10828 [Metricbeat] Migrate PostgresSQL activity metricset to use ReporterV2 interface
  metricbeat/module/postgresql/activity/_meta/data.json
  metricbeat/module/postgresql/activity/activity.go
  metricbeat/module/postgresql/activity/activity_integration_test.go
Labels: :infrastructure, Metricbeat, review

#11052 Cherry-pick #10987 to 7.0: Trim project from GCE cloud metadata
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/provider_google_gce.go
  libbeat/processors/add_cloud_metadata/provider_google_gce_test.go
Labels: SecOps, backport, review

#11093 [6.7] Allow ConcatFields for nodes of type object (#10959)
  CHANGELOG-developer.next.asciidoc
  libbeat/common/field.go
  libbeat/common/field_test.go
Labels: backport, review, v6.7.0

#11092 [7.0] Allow ConcatFields for nodes of type object (#10959)
  CHANGELOG-developer.next.asciidoc
  libbeat/common/field.go
  libbeat/common/field_test.go
Labels: backport, review, v7.0.0

#11088 [Metricbeat] Add http endpoint tests for php_fpm module
  metricbeat/mb/testing/data_test.go
  metricbeat/module/php_fpm/pool/_meta/data.json
  metricbeat/module/php_fpm/pool/_meta/testdata/config.yml
  metricbeat/module/php_fpm/pool/_meta/testdata/docs.json
  metricbeat/module/php_fpm/pool/_meta/testdata/docs.json-expected.json
  metricbeat/module/php_fpm/pool/pool_integration_test.go
  metricbeat/module/php_fpm/process/_meta/data.json
  metricbeat/module/php_fpm/process/_meta/testdata/config.yml
  metricbeat/module/php_fpm/process/_meta/testdata/docs.json
  metricbeat/module/php_fpm/process/_meta/testdata/docs.json-expected.json
  metricbeat/module/php_fpm/process/process_integration_test.go
Labels: :infrastructure, Metricbeat, module, review

#11101 Cherry-pick #11018 to 7.x: [Filebeat] [NetFlow] Update changelog for #10950
  CHANGELOG.next.asciidoc
Labels: backport, review

#11100 Cherry-pick #11018 to 7.0: [Filebeat] [NetFlow] Update changelog for #10950
  CHANGELOG.next.asciidoc
Labels: backport, review

#11099 Cherry-pick #11018 to 6.7: [Filebeat] [NetFlow] Update changelog for #10950
  CHANGELOG.next.asciidoc
Labels: backport, review

#11098 Cherry-pick #11018 to 6.6: [Filebeat] [NetFlow] Update changelog for #10950
  CHANGELOG.next.asciidoc
Labels: backport, review

#10945 [Filebeat] NetFlow input support for custom field definitions
  x-pack/filebeat/_meta/common.reference.inputs.yml
  x-pack/filebeat/docs/inputs/input-netflow.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/netflow/config.go
  x-pack/filebeat/input/netflow/decoder/config/config.go
  x-pack/filebeat/input/netflow/decoder/fields/field.go
  x-pack/filebeat/input/netflow/decoder/fields/field_test.go
  x-pack/filebeat/input/netflow/decoder/fields/zfields_assorted.go
  x-pack/filebeat/input/netflow/decoder/fields/zfields_cert.go
  x-pack/filebeat/input/netflow/decoder/fields/zfields_cisco.go
  x-pack/filebeat/input/netflow/decoder/fields/zfields_ipfix.go
  x-pack/filebeat/input/netflow/decoder/ipfix/ipfix.go
  x-pack/filebeat/input/netflow/decoder/ipfix/ipfix_test.go
  x-pack/filebeat/input/netflow/decoder/template/test_helpers.go
  x-pack/filebeat/input/netflow/decoder/v9/decoder.go
  x-pack/filebeat/input/netflow/decoder/v9/v9.go
  x-pack/filebeat/input/netflow/decoder/v9/v9_test.go
  x-pack/filebeat/input/netflow/definitions.go
  x-pack/filebeat/input/netflow/definitions_test.go
  x-pack/filebeat/input/netflow/input.go
  x-pack/filebeat/input/netflow/netflow_test.go
  x-pack/filebeat/input/netflow/testdata/dat_tests.yaml
  x-pack/filebeat/input/netflow/testdata/fields/netflow9_cisco_asa_custom.yaml
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
Labels: Filebeat, SecOps, enhancement, needs_backport, review

#11106 [Metricbeat] Introduce Logger per metricset
  CHANGELOG-developer.next.asciidoc
  metricbeat/mb/builders.go
  metricbeat/mb/mb.go
  metricbeat/module/system/fsstat/fsstat.go
Labels: :infrastructure, Metricbeat, discuss, refactoring

#11083 Cherry-pick #10988 to 7.0: Log EOFs found on Kubernetes watcher at debug level
  CHANGELOG.next.asciidoc
  libbeat/common/kubernetes/watcher.go
Labels: backport, review

#10994 Add multiplier option to prometheus helper
  CHANGELOG.next.asciidoc
  metricbeat/helper/prometheus/metric.go
  metricbeat/helper/prometheus/prometheus_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, module, review

#11043 [Metricbeat] Migrate Couchdb server to use ReporterV2 interface
  metricbeat/module/couchdb/server/_meta/data.json
  metricbeat/module/couchdb/server/server.go
  metricbeat/module/couchdb/server/server_integration_test.go
  metricbeat/module/couchdb/server/server_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress

#11046 [Metricbeat] Migrate Couchbase cluster to use ReporterV2 interface
  metricbeat/module/couchbase/cluster/_meta/data.json
  metricbeat/module/couchbase/cluster/cluster.go
  metricbeat/module/couchbase/cluster/cluster_integration_test.go
  metricbeat/module/couchbase/cluster/cluster_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review

#10852 [Metricbeat] Migrate MongoDB dbstats Metricset to use ReporterV2 interface
  metricbeat/module/mongodb/dbstats/_meta/data.json
  metricbeat/module/mongodb/dbstats/dbstats.go
  metricbeat/module/mongodb/dbstats/dbstats_integration_test.go
Labels: :infrastructure, Metricbeat, review

#11103 Migrate golang/expvar to ReporterV2
  metricbeat/module/golang/expvar/_meta/data.json
  metricbeat/module/golang/expvar/expvar.go
  metricbeat/module/golang/expvar/expvar_integration_test.go
Labels: :infrastructure, Metricbeat

#11047 [Metricbeat] Migrate Couchbase node to use ReporterV2 interface
  metricbeat/module/couchbase/node/_meta/data.json
  metricbeat/module/couchbase/node/node.go
  metricbeat/module/couchbase/node/node_integration_test.go
  metricbeat/module/couchbase/node/node_test.go
Labels: :infrastructure, Metricbeat, [zube]: Done

#11030 Change number_of_objects to float in schema
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/fields.yml
  x-pack/metricbeat/module/aws/s3_daily_storage/data.go
  x-pack/metricbeat/module/aws/s3_daily_storage/s3_daily_storage_integration_test.go
Labels: :infrastructure, Metricbeat, review

#10727 [Metricbeat] Add reporting interface with error
  metricbeat/mb/builders.go
  metricbeat/mb/mb.go
  metricbeat/mb/module/wrapper.go
  metricbeat/mb/testing/data_generator.go
  metricbeat/mb/testing/data_test.go
  metricbeat/mb/testing/modules.go
  metricbeat/module/php_fpm/process/data.go
  metricbeat/module/php_fpm/process/process.go
  metricbeat/module/php_fpm/process/process_integration_test.go
Labels: Metricbeat, review, technical_debt

#11075 Add support in jolokia get response for single value
  CHANGELOG.next.asciidoc
  metricbeat/module/jolokia/jmx/_meta/data.json
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_get_response_uptime.json
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: :infrastructure, Metricbeat, bug, in progress, needs_backport, v6.6.0, v6.7.0, v7.0.0

#11096 Cherry-pick #11073 to 7.0: [Uptime] Fix docs for HTTP status checks
  heartbeat/docs/heartbeat-options.asciidoc
Labels: backport, review

#11050 Fix flows timeout setting error message
  packetbeat/flows/worker.go
Labels: Packetbeat, bug

#11031 [Heartbeat] Remove processors from default config
  CHANGELOG.next.asciidoc
  heartbeat/heartbeat.yml
  heartbeat/scripts/post_process_config.py
  libbeat/scripts/Makefile
Labels: :uptime, Heartbeat, enhancement, needs_backport, review

#10777 [Heartbeat] Fix status for TCP checks
  CHANGELOG.next.asciidoc
  heartbeat/monitors/active/tcp/task.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/reason/reason.go
Labels: :uptime, Heartbeat, backport, bug, review

#11028 [Auditbeat] Cherry-pick #10897 to 6.7: System module: Fix and unify bucket closing logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
  x-pack/auditbeat/module/system/login/utmp.go
Labels: Auditbeat, SecOps, backport, review

#11063 Cherry-pick #10197 to 6.7: Add time encoders to disk spool
  CHANGELOG.next.asciidoc
  libbeat/publisher/queue/spool/codec.go
Labels: backport, review

#11089 Cherry-pick #10995 to 7.x: Include ip and boolean type when generating index pattern
  CHANGELOG.next.asciidoc
  libbeat/kibana/fields_transformer.go
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: backport, review

#11090 Cherry-pick #10995 to 7.0: Include ip and boolean type when generating index pattern
  CHANGELOG.next.asciidoc
  libbeat/kibana/fields_transformer.go
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: backport, review

#11105 Add on_failure handler for Zeek ingest pipelines. Fix one field name …
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/zeek/connection/ingest/pipeline.json
  x-pack/filebeat/module/zeek/connection/test/connection-json.log-expected.json
  x-pack/filebeat/module/zeek/dns/ingest/pipeline.json
  x-pack/filebeat/module/zeek/files/ingest/pipeline.json
  x-pack/filebeat/module/zeek/http/ingest/pipeline.json
  x-pack/filebeat/module/zeek/notice/config/notice.yml
  x-pack/filebeat/module/zeek/notice/ingest/pipeline.json
  x-pack/filebeat/module/zeek/notice/test/notice-json.log
  x-pack/filebeat/module/zeek/notice/test/notice-json.log-expected.json
  x-pack/filebeat/module/zeek/ssl/ingest/pipeline.json
  x-pack/filebeat/modules.d/zeek.yml.disabled
Labels: Filebeat, SecOps, bug, module, review

#11114 [Metricbeat] Fix flaky test in RabbitMQ node Metricset
  metricbeat/module/rabbitmq/node/node_integration_test.go
Labels: :infrastructure, Metricbeat

#11091 Cherry-pick #10995 to 6.7: Include ip and boolean type when generating index pattern
  CHANGELOG.next.asciidoc
  libbeat/kibana/fields_transformer.go
  libbeat/kibana/testdata/extensive/metricbeat-5.json
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: backport, review

#11035 Add ip fields to default_field in Elasticsearch template
  CHANGELOG.next.asciidoc
  libbeat/template/processor.go
Labels: review

#11112 [Metricbeat] Migrate couchbase cluster & pool metricset to new data generation
  metricbeat/mb/testing/data_test.go
  metricbeat/module/couchbase/cluster/_meta/data.json
  metricbeat/module/couchbase/cluster/_meta/testdata/4.5.1.json
  metricbeat/module/couchbase/cluster/_meta/testdata/4.5.1.json-expected.json
  metricbeat/module/couchbase/cluster/_meta/testdata/config.yml
  metricbeat/module/couchbase/cluster/_meta/testdata/docs.json
  metricbeat/module/couchbase/cluster/_meta/testdata/docs.json-expected.json
  metricbeat/module/couchbase/cluster/cluster_integration_test.go
  metricbeat/module/couchbase/cluster/cluster_test.go
  metricbeat/module/couchbase/node/_meta/data.json
  metricbeat/module/couchbase/node/_meta/testdata/4.5.1.json
  metricbeat/module/couchbase/node/_meta/testdata/4.5.1.json-expected.json
  metricbeat/module/couchbase/node/_meta/testdata/config.yml
  metricbeat/module/couchbase/node/_meta/testdata/docs.json
  metricbeat/module/couchbase/node/_meta/testdata/docs.json-expected.json
  metricbeat/module/couchbase/node/node_integration_test.go
  metricbeat/module/couchbase/node/node_test.go
Labels: :infrastructure, Metricbeat, module, review

#10991 [Metricbeat] Migrate Ceph cluster_health to use ReporterV2 interface
  metricbeat/module/ceph/cluster_health/cluster_health.go
  metricbeat/module/ceph/cluster_health/cluster_health_integration_test.go
  metricbeat/module/ceph/cluster_health/cluster_health_test.go
  metricbeat/module/ceph/cluster_health/data.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#10990 [Metricbeat] Migrate Ceph cluster_disk to use ReporterV2 interface
  metricbeat/module/ceph/cluster_disk/cluster_disk.go
  metricbeat/module/ceph/cluster_disk/cluster_disk_integration_test.go
  metricbeat/module/ceph/cluster_disk/cluster_disk_test.go
  metricbeat/module/ceph/cluster_disk/data.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#11044 [Metricbeat] Migrate EnvoyProxy server to use ReporterV2 interface
  metricbeat/module/envoyproxy/server/_meta/data.json
  metricbeat/module/envoyproxy/server/server.go
  metricbeat/module/envoyproxy/server/server_integration_test.go
  metricbeat/module/envoyproxy/server/server_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review

#11045 [Metricbeat] Migrate Couchbase bucket to use ReporterV2 interface
  metricbeat/module/couchbase/bucket/_meta/data.json
  metricbeat/module/couchbase/bucket/bucket.go
  metricbeat/module/couchbase/bucket/bucket_integration_test.go
  metricbeat/module/couchbase/bucket/bucket_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review

#11113 [Metricbeat] K8s apiserver metricset to new data generation
  metricbeat/docs/modules/kubernetes/apiserver.asciidoc
  metricbeat/mb/testing/data_test.go
  metricbeat/module/kubernetes/apiserver/_meta/data.json
  metricbeat/module/kubernetes/apiserver/_meta/testdata/config.yml
  metricbeat/module/kubernetes/apiserver/_meta/testdata/docs.plain
  metricbeat/module/kubernetes/apiserver/_meta/testdata/docs.plain-expected.json
  metricbeat/module/rabbitmq/connection/_meta/data.json
  metricbeat/module/rabbitmq/connection/_meta/testdata/docs.json-expected.json
Labels: :infrastructure, Metricbeat, module, review

#11013 [Metricbeat] Migrate Ceph osd_df to use ReporterV2 interface
  metricbeat/module/ceph/osd_df/data.go
  metricbeat/module/ceph/osd_df/osd_df.go
  metricbeat/module/ceph/osd_df/osd_df_integration_test.go
  metricbeat/module/ceph/osd_df/osd_df_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress

#10993 [Metricbeat] Migrate Ceph cluster_status to use ReporterV2 interface
  metricbeat/module/ceph/cluster_status/cluster_status.go
  metricbeat/module/ceph/cluster_status/cluster_status_integration_test.go
  metricbeat/module/ceph/cluster_status/cluster_status_test.go
  metricbeat/module/ceph/cluster_status/data.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress

#10847 Enhance Nats Filebeat module
  filebeat/docs/fields.asciidoc
  filebeat/module/nats/fields.go
  filebeat/module/nats/log/_meta/fields.yml
  filebeat/module/nats/log/ingest/pipeline.json
  filebeat/module/nats/log/manifest.yml
  filebeat/module/nats/log/test/test.log
  filebeat/module/nats/log/test/test.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Progress, enhancement, module, review

#11117 Cherry-pick to 6.6: Add support in jolokia get response for single value (#11075)
  CHANGELOG.next.asciidoc
  metricbeat/module/jolokia/jmx/_meta/data.json
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_get_response_uptime.json
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: backport

#11023 Push events even when there's no cloudwatch data
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-aws-ec2-overview.png
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/s3_daily_storage/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/s3_request/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/sqs/_meta/docs.asciidoc
Labels: :infrastructure, Metricbeat, [zube]: In Review, needs_backport, review, v7.0.0

#11116 Cherry-pick to 6.7: Add support in jolokia get response for single value (#11075)
  CHANGELOG.next.asciidoc
  metricbeat/module/jolokia/jmx/_meta/data.json
  metricbeat/module/jolokia/jmx/_meta/test/jolokia_get_response_uptime.json
  metricbeat/module/jolokia/jmx/data.go
  metricbeat/module/jolokia/jmx/data_test.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: backport

#10979 Enable checks for jolokia documented fields
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/jolokia/_meta/fields.yml
  metricbeat/module/jolokia/fields.go
  metricbeat/module/jolokia/jmx/_meta/fields.yml
  metricbeat/tests/system/test_autodiscover_jolokia.py
Labels: :infrastructure, needs_backport, review, v7.0.0

#11118 [Heartbeat] Fix status for TCP checks (Master)
  CHANGELOG.next.asciidoc
  heartbeat/monitors/active/tcp/task.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/reason/reason.go
Labels: :uptime, Heartbeat, bug, review

#11104 [Metricbeat] Migrate Jolokia jmx metricset to use ReporterV2 interface
  metricbeat/module/jolokia/jmx/_meta/data.json
  metricbeat/module/jolokia/jmx/jmx.go
  metricbeat/module/jolokia/jmx/jmx_integration_test.go
Labels: :infrastructure, Metricbeat

#11084 Cherry-pick #10982 to 7.0: Detect if the configured and the migrated registry paths are the same
  journalbeat/checkpoint/checkpoint.go
  journalbeat/tests/system/config/journalbeat.yml.j2
  journalbeat/tests/system/test_base.py
Labels: backport, review

#11085 Cherry-pick #10982 to 6.7: Detect if the configured and the migrated registry paths are the same
  journalbeat/checkpoint/checkpoint.go
  journalbeat/tests/system/test_base.py
Labels: backport, review

#11141 Extract all the fields for a Kinesis Record and not just the metadata
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/provider/aws/transformer/transformer.go
  x-pack/functionbeat/provider/aws/transformer/transformer_test.go
Labels: Functionbeat, blocker, needs_backport, review

#11140 Cherry-pick #11118 to 7.0: [Heartbeat] Fix status for TCP checks (Master)
  CHANGELOG.next.asciidoc
  heartbeat/monitors/active/tcp/task.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/reason/reason.go
Labels: backport, review

#11153 [Metricbeats] Migrate uwsgi/status to ReporterV2
  metricbeat/module/uwsgi/status/_meta/data.json
  metricbeat/module/uwsgi/status/data.go
  metricbeat/module/uwsgi/status/status.go
  metricbeat/module/uwsgi/status/status_integration_test.go
  metricbeat/module/uwsgi/status/status_linux_test.go
  metricbeat/module/uwsgi/status/status_test.go
Labels: :infrastructure, technical_debt

#11154 [Generator] pass ES_BEATS to specific makefile
  generator/beat/{beat}/Makefile
Labels: :Generator, bug

#11159 Cherry-pick #10936 to 6.7: When using the --password env:FOO will now return an errors if
  CHANGELOG.next.asciidoc
  libbeat/common/cli/password.go
  libbeat/common/cli/password_test.go
Labels: backport, review

#11160 Cherry-pick #10936 to 7.0: When using the --password env:FOO will now return an errors if
  CHANGELOG.next.asciidoc
  libbeat/common/cli/password.go
  libbeat/common/cli/password_test.go
Labels: backport, review

#11166 Add missing changelog for #10801
  CHANGELOG-developer.next.asciidoc
Labels: libbeat, review

#11156 Cherry-pick #11141 to 6.7: Extract all the fields for a Kinesis Record and not just the metadata
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/provider/aws/transformer/transformer.go
  x-pack/functionbeat/provider/aws/transformer/transformer_test.go
Labels: backport, blocker, review

#11157 Cherry-pick #11141 to 7.0: Extract all the fields for a Kinesis Record and not just the metadata
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/provider/aws/transformer/transformer.go
  x-pack/functionbeat/provider/aws/transformer/transformer_test.go
Labels: backport, blocker, review

#11067 Fix a issue when cancelling an enroll.
  x-pack/libbeat/cmd/enroll.go
  x-pack/libbeat/management/enroll.go
Labels: Management, needs_backport, review

#11143 Cherry-pick to 7.0: Document autodiscover dedot option (#10938)
  filebeat/docs/autodiscover-docker-config.asciidoc
  metricbeat/docs/autodiscover-docker-config.asciidoc
Labels: backport

#11136 Cherry-pick to 7.0: Push events even when there's no cloudwatch data (#11023)
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-aws-ec2-overview.png
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
Labels: backport

#11150 Import fields.ecs.yml as generated by the ECS repo
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: needs_backport, review

#11177 changelog
  CHANGELOG.next.asciidoc
Labels: Management, review

#10962 [Metricbeat] Migrate Kubernetes state_node Metricset to use ReporterV2 interface
  metricbeat/mb/testing/data_test.go
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_node/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_node/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_node/_meta/testdata/kube-state-metrics-v1.3.0.plain
  metricbeat/module/kubernetes/state_node/_meta/testdata/kube-state-metrics-v1.3.0.plain-expected.json
  metricbeat/module/kubernetes/state_node/state_node.go
  metricbeat/module/kubernetes/state_node/state_node_test.go
Labels: :infrastructure, Metricbeat, review

#11128 Cherry-pick #11035 to 6.7: Add ip fields to default_field in Elasticsearch template
  CHANGELOG.next.asciidoc
  libbeat/template/processor.go
Labels: backport, review

#11129 Cherry-pick #11035 to 7.0: Add ip fields to default_field in Elasticsearch template
  CHANGELOG.next.asciidoc
  libbeat/template/processor.go
Labels: backport, review

#10942 [Auditbeat] User dataset: Numerous fixes to error handling
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, bug, needs_backport, review

#11178 Backport #11150 to 7.0: Import fields.ecs.yml as generated by the ECS repo (#11150)
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: backport, ecs

#11121 [Heartbeat] Make dashboard docs point to uptime-contrib.
  heartbeat/docs/getting-started.asciidoc
Labels: :uptime, Heartbeat, docs, review

#11164 Use beat.timezone instead of event.timezone
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/logstash/log/ingest/pipeline-plain.json
  filebeat/module/logstash/slowlog/ingest/pipeline-plain.json
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/error/ingest/pipeline.json
Labels: bug, needs_backport, review, v6.6.2, v6.7.0

#10787 [Heartbeat] Fix missing url.* fields on TCP NXDOMAIN
  heartbeat/hbtest/hbtestutil.go
  heartbeat/monitors/active/dialchain/builder.go
  heartbeat/monitors/active/tcp/tcp.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/monitors/util.go
Labels: :uptime, Heartbeat, bug, needs_backport, review

#11125 Cherry-pick pull #11105 to 7.0
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/zeek/connection/ingest/pipeline.json
  x-pack/filebeat/module/zeek/connection/test/connection-json.log-expected.json
  x-pack/filebeat/module/zeek/dns/ingest/pipeline.json
  x-pack/filebeat/module/zeek/files/ingest/pipeline.json
  x-pack/filebeat/module/zeek/http/ingest/pipeline.json
  x-pack/filebeat/module/zeek/notice/config/notice.yml
  x-pack/filebeat/module/zeek/notice/ingest/pipeline.json
  x-pack/filebeat/module/zeek/notice/test/notice-json.log
  x-pack/filebeat/module/zeek/notice/test/notice-json.log-expected.json
  x-pack/filebeat/module/zeek/ssl/ingest/pipeline.json
Labels: backport, review

#11170 Add NATS Filebeat dashboard
  filebeat/docs/images/filebeat_nats_dashboard.png
  filebeat/docs/modules/nats.asciidoc
  filebeat/module/nats/_meta/docs.asciidoc
  filebeat/module/nats/_meta/kibana/7/dashboard/Filebeat-nats-overview.json
  filebeat/module/nats/module.yml
Labels: :infrastructure, Filebeat, module, review

#11202 Cherry-pick #10787 to 7.0: [Heartbeat] Fix missing url.* fields on TCP NXDOMAIN
  heartbeat/hbtest/hbtestutil.go
  heartbeat/monitors/active/dialchain/builder.go
  heartbeat/monitors/active/tcp/tcp.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/monitors/util.go
Labels: backport, review

#11205 Enable default fields for Elasticsearch 6.x
  CHANGELOG.next.asciidoc
  libbeat/template/template.go
Labels: blocker, libbeat, review

#11190 [Auditbeat] Cherry-pick #10942 to 7.0: User dataset: Numerous fixes to error handling
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#11189 [Auditbeat] Cherry-pick #10942 to 6.7: User dataset: Numerous fixes to error handling
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
  x-pack/auditbeat/module/system/user/users_linux.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#11207 Close changelog for 6.6.2
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.6.2

#11208 Update testing env 6.6.2
  testing/environments/args.yml
Labels: :Testing, release, review, v6.6.2

#11210 Bump docs version for 6.6.2
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.6.2

#11211 Bump version to 6.6.3
  libbeat/version/version.go
Labels: in progress, release, review, v6.6.3

#11144 Cherry-pick to 7.0: Enable checks for jolokia documented fields (#10979)
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/jolokia/_meta/fields.yml
  metricbeat/module/jolokia/fields.go
  metricbeat/module/jolokia/jmx/_meta/fields.yml
  metricbeat/tests/system/test_autodiscover_jolokia.py
Labels: backport

#11188 Fix fields.yml for sqs from message.* to messages.*
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/sqs/_meta/fields.yml
Labels: :infrastructure, review

#11172 Add sleep to allow ES sufficient time for CCR
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: :Testing, Metricbeat, flaky-test, module, review

#11051 [Metricbeat] Migrate NGINX stubstatus to use ReporterV2 interface
  metricbeat/module/nginx/stubstatus/_meta/data.json
  metricbeat/module/nginx/stubstatus/data.go
  metricbeat/module/nginx/stubstatus/stubstatus.go
  metricbeat/module/nginx/stubstatus/stubstatus_integration_test.go
Labels: :infrastructure, Metricbeat

#11048 [Metricbeat] Migrate Ceph osd_tree to use ReporterV2 interface
  metricbeat/module/ceph/osd_tree/_meta/data.json
  metricbeat/module/ceph/osd_tree/osd_tree.go
  metricbeat/module/ceph/osd_tree/osd_tree_integration_test.go
  metricbeat/module/ceph/osd_tree/osd_tree_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review

#11049 [Metricbeat] Migrate Ceph pool_disk to use ReporterV2 interface
  metricbeat/module/ceph/pool_disk/_meta/data.json
  metricbeat/module/ceph/pool_disk/pool_disk.go
  metricbeat/module/ceph/pool_disk/pool_disk_integration_test.go
  metricbeat/module/ceph/pool_disk/pool_disk_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review

#11195 Cherry-pick #11164 to 6.6: Use beat.timezone instead of event.timezone
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/slowlog/ingest/pipeline.json
  filebeat/module/logstash/log/ingest/pipeline-plain.json
  filebeat/module/logstash/slowlog/ingest/pipeline-plain.json
Labels: backport, review

#11217 Always send _type to Monitoring Bulk API
  libbeat/monitoring/report/elasticsearch/client.go
Labels: Stack monitoring, libbeat, needs_backport, review, v6.6.3, v6.7.0, v7.0.0, v7.1.0, v8.0.0
