Repository elastic/beats, pull requests merged in 2019-02, with the labels that each got.

#10311 [Metricbeat] Release munin as GA.
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/munin.asciidoc
  metricbeat/docs/modules/munin/node.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/munin/_meta/fields.yml
  metricbeat/module/munin/fields.go
  metricbeat/module/munin/node/_meta/data.json
  metricbeat/module/munin/node/_meta/fields.yml
  metricbeat/module/munin/node/node.go
  metricbeat/module/munin/node/node_integration_test.go
Labels: :infrastructure, Metricbeat, module, review

#10464 Cherry-pick #10443 to 6.x: Allow testing of specific filesets
  filebeat/tests/system/test_modules.py
Labels: backport, review

#10465 Cherry-pick #10135 to 6.6: Elasticsearch/audit fileset should be more lenient in parsing node name
  CHANGELOG.next.asciidoc
  filebeat/module/elasticsearch/audit/ingest/pipeline.json
  filebeat/module/elasticsearch/audit/test/test.log
  filebeat/module/elasticsearch/audit/test/test.log-expected.json
Labels: backport, review

#10442 Remove dissect tokenizing from Traefik Filebeat Access Fileset
  CHANGELOG.next.asciidoc
  filebeat/module/traefik/access/config/traefik-access.yml
  filebeat/module/traefik/access/ingest/pipeline.json
Labels: :infrastructure, Filebeat, enhancement

#10457 [Auditbeat] Auditd: Check all fields are in fields.yml in unit test
  auditbeat/magefile.go
  auditbeat/module/auditd/audit_linux_test.go
Labels: Auditbeat, review

#10469 Remove field `url.hostname`.
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: ecs, libbeat, review

#10470 Fix camel-cased fields in kubernetes pod metricset
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/pod/_meta/fields.yml
  metricbeat/module/kubernetes/pod/data.go
Labels: :infrastructure, Metricbeat, containers, module, needs_backport, review, v6.7.0, v7.0.0, v7.0.0-beta1

#10334 Change diskio.read.ops to diskio.read.count and add status metrics
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/_meta/fields.yml
  x-pack/metricbeat/module/aws/ec2/data.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_integration_test.go
  x-pack/metricbeat/module/aws/fields.go
Labels: :infrastructure, Metricbeat, review

#10473 Add documentation about namespace option in kubernetes
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: :infrastructure, containers, docs, needs_backport, review, v6.5.5, v6.6.1, v6.7.0, v7.0.0

#10429 Add rpm packaging rebase
  .travis.yml
  auditbeat/Dockerfile
  x-pack/auditbeat/magefile.go
  x-pack/auditbeat/module/system/package/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_windows.go
  x-pack/auditbeat/module/system/package/rpm_common_test.go
  x-pack/auditbeat/module/system/package/rpm_linux.go
  x-pack/auditbeat/module/system/package/rpm_linux_test.go
  x-pack/auditbeat/module/system/package/rpm_others.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, needs_backport, review, v7.0.0

#10400 [Auditbeat] Cherry-pick #10225 to 6.x: System module: Update and re-enable package dataset
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/docs/modules/system/package.asciidoc
  x-pack/auditbeat/include/list.go
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/package/_meta/data.json
  x-pack/auditbeat/module/system/package/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/package/_meta/fields.yml
  x-pack/auditbeat/module/system/package/config.go
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/package/package_windows.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#10467 [Heartbeat] Populate url.port field for http(s) fields.
  heartbeat/monitors/wrappers/util.go
  heartbeat/monitors/wrappers/util_test.go
Labels: :uptime, Heartbeat, bug, review

#10474 Move convertPeriodToDuration and getRegions into aws.go
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/aws_test.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
Labels: :infrastructure, Metricbeat, enhancement

#10427 Add `service.name` as an option to all Metricbeat modules
  CHANGELOG.next.asciidoc
  metricbeat/beater/metricbeat.go
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/mb/mb.go
  metricbeat/mb/module/options.go
  metricbeat/tests/system/test_config.py
Labels: Metricbeat, ecs, enhancement, review, v7.0.0, v7.0.0-beta1

#10498 Fix Travis failing test in AWS module TestCreateCloudWatchEvents
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
Labels: :infrastructure

#10499 Updating stack versions to latest in docker images used for tests
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/module/logstash/_meta/Dockerfile
  testing/environments/latest.yml
Labels: :Testing, :infrastructure, needs_backport, review, v6.7.0, v7.0.0

#10445 Ingest structured ES deprecation logs
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/elasticsearch/_meta/fields.yml
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-json.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/deprecation/ingest/pipeline.json
  filebeat/module/elasticsearch/deprecation/manifest.yml
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/test-json.log
  filebeat/module/elasticsearch/deprecation/test/test-json.log-expected.json
  filebeat/module/elasticsearch/fields.go
Labels: Filebeat, Stack monitoring, enhancement, module, review, v7.0.0

#10454 Cherry-pick #10157 to 6.x: Add remaining memory metrics of pods in Kubernetes metricbeat module
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/event/event_test.go
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/pod/_meta/fields.yml
  metricbeat/module/kubernetes/pod/data.go
  metricbeat/module/kubernetes/util/kubernetes_test.go
Labels: backport, review

#10487 Cherry-pick #10473 to 6.x: Add documentation about namespace option in kubernetes
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, review

#10488 Cherry-pick #10473 to 6.6: Add documentation about namespace option in kubernetes
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, review

#10489 Cherry-pick #10473 to 6.5: Add documentation about namespace option in kubernetes
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, review

#10298 Cherry-pick #10261 to 6.x: Support MySQL 8, Percona and MariaDB in metricbeat
  CHANGELOG.next.asciidoc
  NOTICE.txt
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/mysql.asciidoc
  metricbeat/module/mysql/_meta/Dockerfile
  metricbeat/module/mysql/_meta/docs.asciidoc
  metricbeat/module/mysql/_meta/test.cnf
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/AUTHORS
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/CHANGELOG.md
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/README.md
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/appengine.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/auth.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/buffer.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/collations.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/connection.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/connection_go18.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/const.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/driver.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/dsn.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/errors.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/fields.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/infile.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/packets.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/rows.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/statement.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/transaction.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/utils.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/utils_go17.go
  metricbeat/module/mysql/vendor/github.com/go-sql-driver/mysql/utils_go18.go
  metricbeat/module/mysql/vendor/google.golang.org/appengine/LICENSE
  metricbeat/module/mysql/vendor/google.golang.org/appengine/cloudsql/cloudsql.go
  metricbeat/module/mysql/vendor/google.golang.org/appengine/cloudsql/cloudsql_classic.go
  metricbeat/module/mysql/vendor/google.golang.org/appengine/cloudsql/cloudsql_vm.go
  metricbeat/module/mysql/vendor/vendor.json
  metricbeat/tests/system/test_mysql.py
Labels: backport, review

#10459 Cherry-pick #10289 to 6.x: Update go-txfile 0.0.6
  CHANGELOG.next.asciidoc
  NOTICE.txt
  libbeat/publisher/queue/spool/inbroker.go
  libbeat/publisher/queue/spool/outbroker.go
  vendor/github.com/elastic/go-txfile/CHANGELOG.md
  vendor/github.com/elastic/go-txfile/alloc.go
  vendor/github.com/elastic/go-txfile/dev-tools/lib/mage/gotool/go.go
  vendor/github.com/elastic/go-txfile/dev-tools/lib/mage/mgenv/mgenv.go
  vendor/github.com/elastic/go-txfile/dev-tools/lib/mage/xbuild/docker.go
  vendor/github.com/elastic/go-txfile/dev-tools/lib/mage/xbuild/xbuild.go
  vendor/github.com/elastic/go-txfile/file.go
  vendor/github.com/elastic/go-txfile/magefile.go
  vendor/github.com/elastic/go-txfile/observe.go
  vendor/github.com/elastic/go-txfile/opts.go
  vendor/github.com/elastic/go-txfile/page.go
  vendor/github.com/elastic/go-txfile/pq/access.go
  vendor/github.com/elastic/go-txfile/pq/ack.go
  vendor/github.com/elastic/go-txfile/pq/buffer.go
  vendor/github.com/elastic/go-txfile/pq/errkind_string.go
  vendor/github.com/elastic/go-txfile/pq/error.go
  vendor/github.com/elastic/go-txfile/pq/observe.go
  vendor/github.com/elastic/go-txfile/pq/pq.go
  vendor/github.com/elastic/go-txfile/pq/reader.go
  vendor/github.com/elastic/go-txfile/pq/writer.go
  vendor/github.com/elastic/go-txfile/tx.go
  vendor/github.com/elastic/go-txfile/write.go
  vendor/vendor.json
Labels: backport, review

#10444 Do not use include_type_name=false when talking to ES 6.x
  libbeat/template/load.go
Labels: libbeat, review

#10448 Backport #10156 to 6.x: Update output and template generation to type removal in ES API
  libbeat/common/field.go
  libbeat/common/field_test.go
  libbeat/monitoring/report/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/template/load.go
  libbeat/template/template.go
  libbeat/template/template_test.go
Labels: backport, libbeat, review, v6.7.0

#10496 Move iptables dashboards to kibana/7
  x-pack/filebeat/module/iptables/_meta/kibana/7/dashboard/Filebeat-Iptables-Overview.json
  x-pack/filebeat/module/iptables/_meta/kibana/7/dashboard/Filebeat-Iptables-Ubiquiti-Firewall-Overview.json
Labels: :Dashboards, Filebeat, review

#10480 Metricbeat MSSQL module: Fix for Transaction log flaky test that was sometimes failing
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
Labels: :infrastructure, Metricbeat, flaky-test

#10493 Cherry-pick #10425 to 6.6: [Auditbeat] Fix flaky TestRecursive test under Windows (#10424)
  auditbeat/module/file_integrity/monitor/monitor_test.go
Labels: backport, review

#10516 Temporary fix to get CI back to green
  filebeat/tests/system/test_modules.py
  testing/environments/kibana.yml
  testing/environments/snapshot.yml
Labels: :Testing, review

#10492 Cherry-pick #10425 to 6.x: [Auditbeat] Fix flaky TestRecursive test under Windows (#10424)
  auditbeat/module/file_integrity/monitor/monitor_test.go
Labels: backport, review

#10462 Cherry-pick of #10176 to 6.x: [Filebeat] Iptables / ubiquiti module
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/docs/images/kibana-iptables-ubiquiti.png
  filebeat/docs/images/kibana-iptables.png
  filebeat/docs/modules/iptables.asciidoc
  filebeat/docs/modules_list.asciidoc
  filebeat/include/fields.go
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/iptables/README.md
  x-pack/filebeat/module/iptables/_meta/config.yml
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
  x-pack/filebeat/module/iptables/_meta/fields.yml
  x-pack/filebeat/module/iptables/_meta/kibana/6/dashboard/Filebeat-Iptables-Overview.json
  x-pack/filebeat/module/iptables/_meta/kibana/6/dashboard/Filebeat-Iptables-Ubiquiti-Firewall-Overview.json
  x-pack/filebeat/module/iptables/fields.go
  x-pack/filebeat/module/iptables/log/_meta/fields.yml
  x-pack/filebeat/module/iptables/log/config/file.yml
  x-pack/filebeat/module/iptables/log/config/syslog.yml
  x-pack/filebeat/module/iptables/log/ingest/pipeline.json
  x-pack/filebeat/module/iptables/log/manifest.yml
  x-pack/filebeat/module/iptables/log/test/geo.log
  x-pack/filebeat/module/iptables/log/test/geo.log-expected.json
  x-pack/filebeat/module/iptables/log/test/icmp.log
  x-pack/filebeat/module/iptables/log/test/icmp.log-expected.json
  x-pack/filebeat/module/iptables/log/test/iptables.log
  x-pack/filebeat/module/iptables/log/test/iptables.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ipv6.log
  x-pack/filebeat/module/iptables/log/test/ipv6.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ubiquiti.log
  x-pack/filebeat/module/iptables/log/test/ubiquiti.log-expected.json
  x-pack/filebeat/module/iptables/module.yml
  x-pack/filebeat/modules.d/iptables.yml.disabled
Labels: backport, review

#10526 Skip event.dataset and service.type if module is empty
  filebeat/channel/factory.go
Labels: :infrastructure, Filebeat, bug, ecs, review, v7.0.0-beta1

#10478 Disable migration aliases in index pattern
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
  dev-tools/cmd/kibana_index_pattern/kibana_index_pattern.go
  dev-tools/mage/kibana.go
  filebeat/tests/system/test_index_pattern.py
  libbeat/cmd/export.go
  libbeat/cmd/export/index_pattern.go
  libbeat/cmd/instance/beat.go
  libbeat/common/field.go
  libbeat/dashboards/dashboards.go
  libbeat/dashboards/importer.go
  libbeat/dashboards/kibana_loader.go
  libbeat/kibana/fields_transformer.go
  libbeat/kibana/fields_transformer_test.go
  libbeat/kibana/index_pattern_generator.go
  libbeat/kibana/index_pattern_generator_test.go
  libbeat/kibana/transformer.go
  libbeat/scripts/Makefile
  libbeat/tests/system/test_index_pattern.py
  metricbeat/Makefile
  metricbeat/include/fields.go
Labels: :infrastructure, libbeat, review, v7.0.0-beta1

#10398 [Filebeat] kafka.log fileset change type of field class to keyword
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/kafka/fields.go
  filebeat/module/kafka/log/_meta/fields.yml
  filebeat/module/kafka/log/ingest/pipeline.json
Labels: Filebeat, ecs, module, review

#10495 Cherry-pick #8845 to 6.x: add_cloud_metadata asynchronous initialization
  CHANGELOG.asciidoc
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
Labels: backport, review

#10502 Cherry-pick #10499 to 6.x: Updating stack versions to latest in docker images used for tests
  metricbeat/module/elasticsearch/_meta/Dockerfile
  metricbeat/module/kibana/_meta/Dockerfile
  metricbeat/module/logstash/_meta/Dockerfile
  testing/environments/latest.yml
Labels: backport, review

#10525 Fix typo in the field name `container.id_truncated`
  CHANGELOG.next.asciidoc
  journalbeat/reader/fields.go
Labels: Journalbeat, breaking change, review

#10533 Disable CM for 6.x until snapshot is ready.
  x-pack/libbeat/tests/system/test_management.py
Labels: :Testing, Management, review

#10523 Test 6.x against latest snapshot builds
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/redis/log/test/redis-5.0.3.log-expected.json
  filebeat/module/redis/log/test/test.log-expected.json
  testing/environments/snapshot.yml
Labels: :Testing, review

#10521 Revert Kibana snapshot fix
  testing/environments/kibana.yml
  testing/environments/snapshot.yml
Labels: :Testing, review

#10530 Cherry-pick #9238 to 6.x: Add Journalbeat and Function in the readme.md
  README.md
Labels: backport, review

#10531 Cherry-pick #9238 to 6.6: Add Journalbeat and Function in the readme.md
  README.md
Labels: backport, review

#10482 [Auditbeat] Set up and remove data dir in all unit tests
  auditbeat/module/file_integrity/metricset_test.go
  auditbeat/testing/setup.go
  x-pack/auditbeat/module/system/host/host_test.go
  x-pack/auditbeat/module/system/login/login_test.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/module/system/socket/socket_test.go
  x-pack/auditbeat/module/system/user/user_test.go
Labels: Auditbeat, SecOps, review

#10441 Finalize user_agent migration to ECS
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/module/apache/_meta/fields.yml
  filebeat/module/apache/access/ingest/default.json
  filebeat/module/apache/access/test/ssl-request.log-expected.json
  filebeat/module/apache/access/test/test.log-expected.json
  filebeat/module/apache/fields.go
  filebeat/module/elasticsearch/audit/test/test-access.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/auditlog_index_indexing_slowlog.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_search_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/iis/access/_meta/fields.yml
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/iis/access/test/test-iis-7.5.log-expected.json
  filebeat/module/iis/access/test/test-ipv6zone.log-expected.json
  filebeat/module/iis/access/test/test.log-expected.json
  filebeat/module/iis/fields.go
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/nginx/access/_meta/fields.yml
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/nginx/fields.go
  filebeat/module/traefik/access/_meta/fields.yml
  filebeat/module/traefik/access/ingest/pipeline.json
  filebeat/module/traefik/access/test/test.log-expected.json
  filebeat/module/traefik/fields.go
  filebeat/tests/system/test_modules.py
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/fields/fields.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.json
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
  x-pack/filebeat/module/zeek/http/ingest/pipeline.json
  x-pack/filebeat/module/zeek/http/test/http-json.log-expected.json
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: Filebeat, ecs, module, review

#10517 Fix Journalbeat dashboard in 6.7
  journalbeat/_meta/kibana/6/dashboard/Journalbeat-overview.json
Labels: Journalbeat, review, v6.7.0

#10527 Update beats to fpm 1.11.0
  dev-tools/mage/settings.go
Labels: :Packaging, needs_backport, review

#10544 Set `file.origin` type to keyword
  CHANGELOG.next.asciidoc
  auditbeat/_meta/fields.common.yml
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
Labels: Auditbeat, review

#10509 [Auditbeat] Cherry-pick #9327 to 6.x: Login metricset
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/docs/modules/system/login.asciidoc
  x-pack/auditbeat/include/list.go
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/_meta/fields.yml
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/login/_meta/data.json
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/login/config.go
  x-pack/auditbeat/module/system/login/login.go
  x-pack/auditbeat/module/system/login/login_other.go
  x-pack/auditbeat/module/system/login/login_test.go
  x-pack/auditbeat/module/system/login/utmp.go
  x-pack/auditbeat/module/system/login/utmp_c.go
  x-pack/auditbeat/tests/files/wtmp
  x-pack/auditbeat/tests/system/auditbeat_xpack.py
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#9865 [CM] Allow Central management to send errors or events back to the Kibana backend
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/auth_client.go
  x-pack/libbeat/management/api/auth_client_test.go
  x-pack/libbeat/management/api/client.go
  x-pack/libbeat/management/api/configuration.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/api/event_reporter.go
  x-pack/libbeat/management/api/event_reporter_test.go
  x-pack/libbeat/management/blacklist.go
  x-pack/libbeat/management/blacklist_test.go
  x-pack/libbeat/management/cache.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/error.go
  x-pack/libbeat/management/error_test.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
  x-pack/libbeat/management/state.go
  x-pack/libbeat/management/state_test.go
Labels: Management, review

#10428 Ingest structured ES server logs
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/elasticsearch/fields.go
  filebeat/module/elasticsearch/server/_meta/fields.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/ingest/pipeline-json.json
  filebeat/module/elasticsearch/server/ingest/pipeline-plaintext.json
  filebeat/module/elasticsearch/server/ingest/pipeline.json
  filebeat/module/elasticsearch/server/manifest.yml
  filebeat/module/elasticsearch/server/test/test-json.log
  filebeat/module/elasticsearch/server/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
Labels: Filebeat, Stack monitoring, enhancement, module, review, v7.0.0

#10506 Address issue #10505 (add_kubernetes_metadata processor matcher not working)
  CHANGELOG.next.asciidoc
  filebeat/processor/add_kubernetes_metadata/matchers.go
  filebeat/processor/add_kubernetes_metadata/matchers_test.go
  libbeat/docs/processors-using.asciidoc
Labels: :infrastructure, Filebeat, ecs, review, v7.0.0-beta1

#10477 Update vendored tsg/gopacket
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/tsg/gopacket/afpacket/afpacket.go
  vendor/vendor.json
Labels: Packetbeat, bug, needs_backport, review

#10546 Cherry-pick #10527 to 6.6: Update beats to fpm 1.11.0
  dev-tools/mage/settings.go
Labels: backport, review

#10545 Cherry-pick #10527 to 6.x: Update beats to fpm 1.11.0
  dev-tools/mage/settings.go
Labels: backport, review

#10512 [Auditbeat] Login: Change event.type to event.kind
  x-pack/auditbeat/module/system/login/_meta/data.json
  x-pack/auditbeat/module/system/login/login.go
Labels: Auditbeat, SecOps, review

#10456 [Auditbeat] Auditd: Change user fields to ECS
  CHANGELOG.next.asciidoc
  auditbeat/_meta/fields.common.yml
  auditbeat/docs/breaking.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  auditbeat/module/auditd/_meta/accept.json
  auditbeat/module/auditd/_meta/data.json
  auditbeat/module/auditd/_meta/execve.json
  auditbeat/module/auditd/_meta/fields.yml
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/fields.go
  dev-tools/ecs-migration.yml
Labels: Auditbeat, SecOps, review

#10536 Change event.type to auditd.message_type
  CHANGELOG.next.asciidoc
  auditbeat/docs/breaking.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/module/auditd/_meta/accept.json
  auditbeat/module/auditd/_meta/data.json
  auditbeat/module/auditd/_meta/execve.json
  auditbeat/module/auditd/_meta/fields.yml
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/fields.go
  dev-tools/ecs-migration.yml
Labels: Auditbeat, ecs, review

#9656 Replace deprecated _xpack endpoints
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/elasticsearch/audit/_meta/fields.yml
  filebeat/module/elasticsearch/fields.go
  filebeat/tests/system/test_ml.py
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/user-access.asciidoc
  libbeat/ml-importer/importer.go
  libbeat/ml-importer/importer_integration_test.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/test_elasticsearch.py
Labels: Filebeat, Metricbeat, libbeat, review, v7.0.0

#10541 Do not read last entry when falling back to tail
  journalbeat/reader/journal.go
Labels: Journalbeat, needs_backport, review

#10555 Fix fields.yml indentation of audit group
  journalbeat/_meta/fields.common.yml
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
Labels: Journalbeat, backport, review

#10507 [Auditbeat] Read formula path from INSTALL_RECEIPT.json for Homebrew packages
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_homebrew.go
Labels: Auditbeat, SecOps, needs_backport, review

#10494 Cherry-pick #10379 to 6.x: Metricbeat overview dashboard for Zookeeper
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-zookeeper.png
  metricbeat/docs/modules/zookeeper.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/zookeeper/_meta/docs.asciidoc
  metricbeat/module/zookeeper/_meta/kibana/6/dashboard/Metricbeat-zookeeper-overview.json
Labels: backport, review

#10508 [Auditbeat] System module: Detect package updates
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, needs_backport, review

#10559 [Auditbeat] Cherry-pick #10507 to 6.x: Read formula path from INSTALL_RECEIPT.json for Homebrew packages
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_homebrew.go
Labels: Auditbeat, SecOps, backport, review

#10557 Change type of haproxy.source from text to keyword
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/haproxy/_meta/fields.yml
  filebeat/module/haproxy/fields.go
Labels: :infrastructure, Filebeat, ecs, module, review

#10310 Metricbeat dashboard for MSSQL transaction log metricset
  x-pack/metricbeat/module/mssql/_meta/kibana/7/dashboard/Metricbeat-mssql-transaction_log.json
Labels: :Dashboards, :infrastructure, Metricbeat, review

#10560 [Metricbeat] Update RabbitMQ module to use reporter interface
  metricbeat/module/rabbitmq/connection/_meta/data.json
  metricbeat/module/rabbitmq/connection/connection.go
  metricbeat/module/rabbitmq/connection/connection_integration_test.go
  metricbeat/module/rabbitmq/connection/connection_test.go
  metricbeat/module/rabbitmq/connection/data.go
  metricbeat/module/rabbitmq/exchange/_meta/data.json
  metricbeat/module/rabbitmq/exchange/data.go
  metricbeat/module/rabbitmq/exchange/exchange.go
  metricbeat/module/rabbitmq/exchange/exchange_integration_test.go
  metricbeat/module/rabbitmq/exchange/exchange_test.go
  metricbeat/module/rabbitmq/node/_meta/data.json
  metricbeat/module/rabbitmq/node/node_integration_test.go
  metricbeat/module/rabbitmq/queue/_meta/data.json
  metricbeat/module/rabbitmq/queue/data.go
  metricbeat/module/rabbitmq/queue/queue.go
  metricbeat/module/rabbitmq/queue/queue_integration_test.go
  metricbeat/module/rabbitmq/queue/queue_test.go
Labels: :infrastructure, Metricbeat, module, review, technical_debt

#10548 Cherry-pick #9865 to 6.x: [CM] Allow Central management to send errors or events back to the Kibana backend
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/auth_client.go
  x-pack/libbeat/management/api/auth_client_test.go
  x-pack/libbeat/management/api/client.go
  x-pack/libbeat/management/api/configuration.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/api/event_reporter.go
  x-pack/libbeat/management/api/event_reporter_test.go
  x-pack/libbeat/management/blacklist.go
  x-pack/libbeat/management/blacklist_test.go
  x-pack/libbeat/management/cache.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/error.go
  x-pack/libbeat/management/error_test.go
  x-pack/libbeat/management/manager.go
  x-pack/libbeat/management/manager_test.go
  x-pack/libbeat/management/state.go
  x-pack/libbeat/management/state_test.go
Labels: Management, backport, review

#10529 Cherry-pick #9016 to 6.x: Add logging trace at debug level for the pipeline client.
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/client.go
Labels: backport, review

#10528 Cherry-pick #10263 to 6.x: Allow a keystore to be send with functionbeat files
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/keystore/file_keystore.go
  libbeat/keystore/keystore.go
  x-pack/functionbeat/core/makezip.go
Labels: Functionbeat, backport, review

#10550 Cherry-pick #10477 to 6.6: Update vendored tsg/gopacket
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/tsg/gopacket/afpacket/afpacket.go
  vendor/vendor.json
Labels: backport, review

#10500 [Auditbeat] System module: Add entity_id fields
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/module/system/_meta/fields.yml
  x-pack/auditbeat/module/system/entity_hash.go
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/package/_meta/data.json
  x-pack/auditbeat/module/system/package/_meta/fields.yml
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/process/_meta/data.json
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/module/system/socket/_meta/data.json
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, needs_backport, review

#10333 Migrate Winlogbeat to ECS, take 2
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  winlogbeat/_meta/fields.common.yml
  winlogbeat/_meta/kibana/7/dashboard/Winlogbeat-overview.json
  winlogbeat/docs/fields.asciidoc
  winlogbeat/docs/winlogbeat-filtering.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/include/fields.go
  winlogbeat/tests/system/test_eventlogging.py
  winlogbeat/tests/system/test_wineventlog.py
  winlogbeat/tests/system/winlogbeat.py
Labels: Winlogbeat, ecs, review

#10562 [Auditbeat] Cherry-pick #10508 to 6.x: System module: Detect package updates
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#10537 Cherry-pick #10006 to 6.x: Populate more ECS fields in the Suricata module
  filebeat/_meta/fields.common.yml
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.json
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
Labels: backport, review

#10553 Add username password back from es to kibana config
  libbeat/cmd/instance/beat.go
  libbeat/dashboards/dashboards.go
Labels: :infrastructure, bug, libbeat, review, v7.0.0-beta1

#10566 Make santa dashboard formatted JSON
  filebeat/module/santa/_meta/kibana/7/dashboard/filebeat-santa-log-overview.json
Labels: Filebeat, review

#10568 [Metricbeat] HAProxy info fields adjust to ECS
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/haproxy/fields.go
  metricbeat/module/haproxy/info/_meta/data.json
  metricbeat/module/haproxy/info/_meta/fields.yml
  metricbeat/module/haproxy/info/data.go
  metricbeat/tests/system/test_haproxy.py
Labels: Metricbeat, ecs, module, review

#10570 [Auditbeat] Cherry-pick #10500 to 6.x: System module: Add entity_id fields
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  x-pack/auditbeat/module/system/_meta/fields.yml
  x-pack/auditbeat/module/system/entity_hash.go
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/package/_meta/data.json
  x-pack/auditbeat/module/system/package/_meta/fields.yml
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/process/_meta/data.json
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/module/system/socket/_meta/data.json
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/module/system/user/_meta/data.json
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#10511 [Auditbeat] System module dashboards
  auditbeat/docs/fields.asciidoc
  libbeat/scripts/Makefile
  script/build_docs.sh
  x-pack/auditbeat/docs/images/auditbeat-system-host-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-login-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-overview-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-package-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-process-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-socket-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-user-dashboard.png
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-host-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-login-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-overview-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-package-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-process-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-socket-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/7/dashboard/auditbeat-system-user-dashboard.json
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/fields.yml
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/package/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, needs_backport, review

#10197 Add time encoders to disk spool
  CHANGELOG.next.asciidoc
  libbeat/publisher/queue/spool/codec.go
Labels: bug, libbeat, review

#10581 Revert migration of haproxy frontend to process.name
  dev-tools/ecs-migration.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/haproxy/fields.go
  metricbeat/module/haproxy/stat/_meta/data.json
  metricbeat/module/haproxy/stat/_meta/fields.yml
  metricbeat/module/haproxy/stat/data.go
Labels: Metricbeat, ecs, module, review

#10563 [Metricbeat] Align rabbitmq with ECS and have module fields
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/rabbitmq/_meta/fields.yml
  metricbeat/module/rabbitmq/connection/_meta/data.json
  metricbeat/module/rabbitmq/connection/_meta/fields.yml
  metricbeat/module/rabbitmq/connection/connection_test.go
  metricbeat/module/rabbitmq/connection/data.go
  metricbeat/module/rabbitmq/exchange/_meta/data.json
  metricbeat/module/rabbitmq/exchange/_meta/fields.yml
  metricbeat/module/rabbitmq/exchange/data.go
  metricbeat/module/rabbitmq/exchange/exchange_test.go
  metricbeat/module/rabbitmq/fields.go
  metricbeat/module/rabbitmq/node/_meta/fields.yml
  metricbeat/module/rabbitmq/queue/_meta/data.json
  metricbeat/module/rabbitmq/queue/_meta/fields.yml
  metricbeat/module/rabbitmq/queue/data.go
  metricbeat/module/rabbitmq/queue/queue_test.go
Labels: :infrastructure, Metricbeat, ecs, module, review

#10576 [Auditbeat] Changelog for #10511
  CHANGELOG.next.asciidoc
Labels: Auditbeat, SecOps, review

#10575 Suricata: Rename event.type to suricata.eve.event_type
  CHANGELOG.next.asciidoc
  dev-tools/ecs-migration.yml
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/suricata/_meta/kibana/7/dashboard/Filebeat-Suricata-Alert-Overview.json
  x-pack/filebeat/module/suricata/_meta/kibana/7/dashboard/Filebeat-Suricata-Overview.json
  x-pack/filebeat/module/suricata/eve/_meta/fields.yml
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.json
  x-pack/filebeat/module/suricata/eve/test/eve-alerts.log-expected.json
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
  x-pack/filebeat/module/suricata/fields.go
Labels: Filebeat, SecOps, ecs

#10579 Fix missing CHANGELOG for #10006
  CHANGELOG.next.asciidoc
Labels: Filebeat, needs_backport, review

#10580 Fix list formatting in redis key metricset
  metricbeat/module/redis/key/_meta/docs.asciidoc
Labels: :infrastructure, Metricbeat, docs, module, needs_backport, review, v6.7.0, v7.0.0, v7.0.0-beta1

#10574 [Auditbeat] Cherry-pick #10511 to 6.x: System module dashboards
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  libbeat/scripts/Makefile
  script/build_docs.sh
  x-pack/auditbeat/docs/images/auditbeat-system-host-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-login-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-overview-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-package-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-process-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-socket-dashboard.png
  x-pack/auditbeat/docs/images/auditbeat-system-user-dashboard.png
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-host-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-login-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-overview-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-package-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-process-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-socket-dashboard.json
  x-pack/auditbeat/module/system/_meta/kibana/6/dashboard/auditbeat-system-user-dashboard.json
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/fields.yml
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/package/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
Labels: Auditbeat, SecOps, backport, review

#10561 Rename `container.image.tag` to `container.log.tag`
  CHANGELOG.next.asciidoc
  journalbeat/_meta/fields.common.yml
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  journalbeat/reader/fields.go
Labels: Journalbeat, breaking change, ecs, review

#10554 Cherry-pick #10541 to 6.x: Do not read last entry when falling back to tail
  journalbeat/reader/journal.go
Labels: backport, review

#10556 Fix fields.yml indentation of audit group
  CHANGELOG.next.asciidoc
  journalbeat/_meta/fields.common.yml
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
Labels: Journalbeat, backport, review

#10312 [Metricbeat] Release Golang module as GA.
  CHANGELOG.next.asciidoc
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/golang.asciidoc
  metricbeat/docs/modules/golang/expvar.asciidoc
  metricbeat/docs/modules/golang/heap.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/mb/testing/data_generator.go
  metricbeat/module/golang/_meta/Dockerfile
  metricbeat/module/golang/_meta/env
  metricbeat/module/golang/_meta/fields.yml
  metricbeat/module/golang/expvar/_meta/data.json
  metricbeat/module/golang/expvar/_meta/fields.yml
  metricbeat/module/golang/expvar/expvar.go
  metricbeat/module/golang/expvar/expvar_integration_test.go
  metricbeat/module/golang/fields.go
  metricbeat/module/golang/heap/_meta/data.json
  metricbeat/module/golang/heap/_meta/fields.yml
  metricbeat/module/golang/heap/heap.go
  metricbeat/module/golang/heap/heap_integration_test.go
  metricbeat/tests/system/test_golang.py
Labels: :infrastructure, Metricbeat, module, review

#10584 Cherry-pick #10580 to 6.x: Fix list formatting in redis key metricset
  metricbeat/module/redis/key/_meta/docs.asciidoc
Labels: backport, review

#10577 Rename auditd fields for ECS
  CHANGELOG.next.asciidoc
  auditbeat/docs/breaking.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/docs/modules/auditd.asciidoc
  auditbeat/module/auditd/_meta/data.json
  auditbeat/module/auditd/_meta/docs.asciidoc
  auditbeat/module/auditd/_meta/execve.json
  auditbeat/module/auditd/_meta/fields.yml
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/audit_linux_test.go
  auditbeat/module/auditd/fields.go
  dev-tools/ecs-migration.yml
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/user/_meta/fields.yml
Labels: Auditbeat, ecs, review

#10586 Fix JSON encoding issue with my Winlogbeat dashboard from #10333
  winlogbeat/_meta/kibana/7/dashboard/Winlogbeat-overview.json
Labels: :Dashboards, Winlogbeat, bug, ecs

#10564 Remove experimental flags and mark most of the AWS provider trigger stable.
  CHANGELOG.next.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
  x-pack/functionbeat/docs/page_header.html
  x-pack/functionbeat/provider/aws/api_gateway_proxy.go
  x-pack/functionbeat/provider/aws/aws.go
Labels: Functionbeat, review

#10582 Fix travis GO_VERSION problem
  .travis.yml
Labels: review

#10590 Hardcoded travis go version as travis not working anymore
  .travis.yml
Labels: review

#10542 Change type of text fields to keyword
  CHANGELOG.next.asciidoc
  journalbeat/_meta/fields.common.yml
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
Labels: Journalbeat, needs_backport, review

#10583 Cherry-pick #10579 to 6.x: Fix missing CHANGELOG for #10006
  CHANGELOG.next.asciidoc
Labels: backport, review

#10597 Cherry-pick #10486 to 6.x: Migrate registry from previous incorrect path
  CHANGELOG.next.asciidoc
  journalbeat/checkpoint/checkpoint.go
Labels: backport, review

#10504 Update filebeat registry configuration
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.p2.yml
  filebeat/beater/filebeat.go
  filebeat/config/config.go
  filebeat/docs/faq.asciidoc
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/registrar/migrate.go
  filebeat/registrar/registrar.go
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/config/filebeat_inputs.yml.j2
  filebeat/tests/system/config/filebeat_modules.yml.j2
  filebeat/tests/system/filebeat.py
  filebeat/tests/system/test_registrar.py
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/tests/system/config/filebeat_modules.yml.j2
Labels: Filebeat, in progress

#10598 Cherry-pick #10486 to 6.6: Migrate registry from previous incorrect path
  CHANGELOG.next.asciidoc
  journalbeat/checkpoint/checkpoint.go
Labels: backport, review

#10603 Fix RabbitMQ dashboard
  metricbeat/module/rabbitmq/_meta/kibana/7/dashboard/Metricbeat-rabbitmq-overview.json
Labels: :Dashboards, :infrastructure, Metricbeat, module, review, v7.0.0-beta1

#10610 [Filebeat] Remove Santa module directory accidentally backported to 6.x
  filebeat/module/santa/log/test/santa.log-expected.json
Labels: Filebeat, review

#10592 Update and add missing descriptions to ETCD module
  metricbeat/docs/fields.asciidoc
  metricbeat/module/etcd/fields.go
  metricbeat/module/etcd/leader/_meta/fields.yml
  metricbeat/module/etcd/self/_meta/fields.yml
Labels: :infrastructure, Metricbeat, enhancement, needs_backport

#10604 [Filebeat] Fix postgres dashboard for event.duration
  filebeat/module/postgresql/_meta/kibana/7/dashboard/Filebeat-Postgresql-slowlogs.json
Labels: Filebeat, module, review, v7.0.0-beta1

#10613 Update docs branches for 6.7
  libbeat/docs/version.asciidoc
  metricbeat/modules.d/aerospike.yml.disabled
  metricbeat/modules.d/apache.yml.disabled
  metricbeat/modules.d/ceph.yml.disabled
  metricbeat/modules.d/couchbase.yml.disabled
  metricbeat/modules.d/docker.yml.disabled
  metricbeat/modules.d/dropwizard.yml.disabled
  metricbeat/modules.d/elasticsearch.yml.disabled
  metricbeat/modules.d/envoyproxy.yml.disabled
  metricbeat/modules.d/etcd.yml.disabled
  metricbeat/modules.d/golang.yml.disabled
  metricbeat/modules.d/graphite.yml.disabled
  metricbeat/modules.d/haproxy.yml.disabled
  metricbeat/modules.d/http.yml.disabled
  metricbeat/modules.d/jolokia.yml.disabled
  metricbeat/modules.d/kafka.yml.disabled
  metricbeat/modules.d/kibana.yml.disabled
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/modules.d/kvm.yml.disabled
  metricbeat/modules.d/logstash.yml.disabled
  metricbeat/modules.d/memcached.yml.disabled
  metricbeat/modules.d/mongodb.yml.disabled
  metricbeat/modules.d/munin.yml.disabled
  metricbeat/modules.d/mysql.yml.disabled
  metricbeat/modules.d/nginx.yml.disabled
  metricbeat/modules.d/php_fpm.yml.disabled
  metricbeat/modules.d/postgresql.yml.disabled
  metricbeat/modules.d/prometheus.yml.disabled
  metricbeat/modules.d/rabbitmq.yml.disabled
  metricbeat/modules.d/redis.yml.disabled
  metricbeat/modules.d/system.yml
  metricbeat/modules.d/traefik.yml.disabled
  metricbeat/modules.d/uwsgi.yml.disabled
  metricbeat/modules.d/vsphere.yml.disabled
  metricbeat/modules.d/windows.yml.disabled
  metricbeat/modules.d/zookeeper.yml.disabled
Labels: docs, release, review, v6.7.0

#10405 Script to generate breaking field changes list
  dev-tools/ecs-migration.yml
  libbeat/docs/breaking.asciidoc
  libbeat/docs/field-name-changes.asciidoc
  script/renamed_fields.py
Labels: :infrastructure, docs, ecs, libbeat, review, v7.0.0

#10607 [Filebeat] Skip flaky registrar tests
  filebeat/tests/system/test_registrar.py
Labels: Filebeat, flaky-test, review

#10617 Cherry-pick #10587 to 6.7: Fix an issue where ConfigBlocksEqual was returning false
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/configuration.go
  x-pack/libbeat/management/api/configuration_test.go
  x-pack/libbeat/management/manager.go
Labels: backport, review

#10609 [Metricbeat] Skip TestMysql80 and TestPercona80 tests
  metricbeat/tests/system/test_mysql.py
Labels: Metricbeat, flaky-test, review

#10622 Fix field alias in Winlogbeat template.
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Winlogbeat, bug, ecs, needs_backport, review

#10624 [Winlogbeat] Cherry-pick #10622 to 7.0: Fix field name to winlog.api
  winlogbeat/_meta/fields.common.yml
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
Labels: Winlogbeat, backport, bug, ecs, review, v7.0.0-beta1

#10626 Bump default beat version to 8.0.0
  libbeat/version/version.go
Labels: enhancement, libbeat

#10623 Cherry-pick #10429 to 6.7: Add rpm packaging rebase
  .travis.yml
  auditbeat/Dockerfile
  x-pack/auditbeat/magefile.go
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/rpm_common_test.go
  x-pack/auditbeat/module/system/package/rpm_linux.go
  x-pack/auditbeat/module/system/package/rpm_linux_test.go
  x-pack/auditbeat/module/system/package/rpm_others.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: backport, review

#10616 [Auditbeat] Socket: Remove ecsDirectionString()
  x-pack/auditbeat/module/system/socket/socket.go
Labels: Auditbeat, SecOps, review

#10634 [Auditbeat] Skip flaky test_metricset_package test
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, flaky-test, review

#10476 Fix stopping of modules started by kubernetes autodiscover
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: :infrastructure, bug, containers, libbeat, needs_backport, review, v6.6.1, v6.7.0, v7.0.0, v7.0.0-beta1

#10503 [Docs] Explain how to set the data path for CM enrollment on windows
  libbeat/docs/shared-central-management.asciidoc
Labels: CM, docs, needs_backport, review

#10628 Remove filter in DescribeInstances
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/ec2/ec2.go
Labels: :infrastructure, Metricbeat, needs_backport, review

#9314 New Filebeat subcommand: generate
  filebeat/cmd/generate.go
  filebeat/cmd/root.go
  filebeat/tests/system/input/my-module-pipeline.json
  filebeat/tests/system/test_generate.py
Labels: Filebeat, needs_docs, review

#10643 Cherry-pick #10476 to 6.7: Fix stopping of modules started by kubernetes autodiscover
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: backport, review

#10642 Cherry-pick #10476 to 7.0: Fix stopping of modules started by kubernetes autodiscover
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: backport, review

#10641 Cherry-pick #10476 to 7.x: Fix stopping of modules started by kubernetes autodiscover
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: backport, review

#10662 Fix travis GO_VERSION problem in 6.6
  .travis.yml
Labels: :Testing, review, v6.6.1

#10645 Add system test for libbeat internal x-pack monitoring
  libbeat/docker-compose.yml
  libbeat/tests/system/config/mockbeat.yml.j2
  libbeat/tests/system/test_monitoring.py
Labels: :Testing, libbeat, review, v7.1.0, v8.0.0

#10639 Fix missing nodes from Node Listing page when using Metricbeat Elasticsearch module with xpack.enabled: true
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, needs_backport, review, v6.6.1, v6.7.0, v7.0.0

#10659 Cherry-pick to 7.0: Remove filter in DescribeInstances (#10628)
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/ec2/ec2.go
Labels: backport

#10663 Revert changes in timezones in filebeat expected results
  filebeat/module/apache/access/test/ssl-request.log-expected.json
  filebeat/module/apache/access/test/test.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
Labels: :Testing, :infrastructure, Filebeat, module, needs_backport

#10618 Log events with logs in mysql 8 flaky tests
  metricbeat/tests/system/test_mysql.py
Labels: :Testing, :infrastructure, Metricbeat, flaky-test, module, review

#10449 Document privileges for ILM
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
Labels: docs, needs_backport, review

#10678 Cherry-pick #10663 to 7.0: Revert changes in timezones in filebeat expected results
  filebeat/module/apache/access/test/ssl-request.log-expected.json
  filebeat/module/apache/access/test/test.log-expected.json
  filebeat/module/icinga/debug/test/test.log-expected.json
  filebeat/module/icinga/main/test/test.log-expected.json
  filebeat/module/mongodb/log/test/mongodb-debian-3.2.11.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/traefik/access/test/test.log-expected.json
Labels: backport, review

#10672 Cherry-pick #10639 to 6.7: Fix missing nodes from Node Listing page when using Metricbeat Elasticsearch module with xpack.enabled: true
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport, review

#10673 Cherry-pick #10639 to 6.6: Fix missing nodes from Node Listing page when using Metricbeat Elasticsearch module with xpack.enabled: true
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport, review

#10669 Adding back missing `@timestamp` fields to golden files
  filebeat/module/elasticsearch/audit/test/test-access.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/auditlog_index_indexing_slowlog.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_search_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
Labels: v7.0.0, v7.1.0, v8.0.0

#10686 Cherry-pick #10669 to 7.0: Adding back missing `@timestamp` fields to golden files
  filebeat/module/elasticsearch/audit/test/test-access.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/auditlog_index_indexing_slowlog.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_search_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
Labels: backport, review

#10671 Cherry-pick #10639 to 7.0: Fix missing nodes from Node Listing page when using Metricbeat Elasticsearch module with xpack.enabled: true
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: backport, review

#10688 [Filebeat] Add ecs:false to user_agent processor
  filebeat/module/apache2/access/ingest/default.json
  filebeat/module/iis/access/ingest/default.json
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/traefik/access/ingest/pipeline.json
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.json
Labels: :infrastructure, Filebeat, blocker, module

#10675 Add username password into kibana config before calling NewKibanaClient
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/beat_test.go
  libbeat/cmd/test/filebeat_test.yml
  libbeat/dashboards/dashboards.go
Labels: :infrastructure, bug, libbeat, needs_backport, v7.0.0

#10681 Give more time to Mac's test VM
  filebeat/tests/system/test_crawler.py
Labels: :Testing, Filebeat, review

#10680 Give more times to check for Mockbeat alive
  libbeat/tests/system/test_base.py
Labels: :Testing, libbeat, review

#10386 Backport to 6.6: [Docs] Add topic about running Journalbeat on docker (#9386)
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
  journalbeat/docs/setting-up-running.asciidoc
  libbeat/docs/shared-docker.asciidoc
Labels: backport, docs, review

#10387 Backport to 6.7: [Docs] Add topic about running Journalbeat on docker (#9386)
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
  journalbeat/docs/setting-up-running.asciidoc
  libbeat/docs/shared-docker.asciidoc
Labels: backport, docs, review

#10589 Change travis.yml to use TRAVIS_GO_VERSION
  .travis.yml
Labels: review

#10689 Ensure index pattern version is a string
  libbeat/kibana/index_pattern_generator.go
  libbeat/kibana/index_pattern_generator_test.go
  libbeat/kibana/testdata/beat-6.json
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: libbeat, needs_backport, review

#10710 Fix more strict params in docs build
  script/build_docs.sh
Labels: docs, needs_backport, review, v6.6.0, v6.7.0, v7.0.0

#10611 Cherry-pick #10592 to 6.x: Update and add missing descriptions to ETCD module
  metricbeat/docs/fields.asciidoc
  metricbeat/module/etcd/fields.go
  metricbeat/module/etcd/leader/_meta/fields.yml
  metricbeat/module/etcd/self/_meta/fields.yml
Labels: :infrastructure, backport, review

#10712 [7.0] Ensure index pattern version is a string (#10689)
  libbeat/kibana/index_pattern_generator.go
  libbeat/kibana/index_pattern_generator_test.go
  libbeat/kibana/testdata/beat-6.json
  libbeat/kibana/testdata/extensive/metricbeat-6.json
Labels: backport, review, v7.0.0

#10644 Cherry-pick #10476 to 6.6: Fix stopping of modules started by kubernetes autodiscover
  CHANGELOG.next.asciidoc
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
Labels: backport, review
