Repository elastic/beats, pull requests merged in 2019-06, with the labels that each got.

#12387 Issue warning instead of info when CCR is not available
  metricbeat/module/elasticsearch/ccr/ccr.go
Labels: Stack monitoring, enhancement, needs_backport, review, v7.3.0, v8.0.0

#12379 [6.8] Only log error (don't also index it) if xpack is enabled. (#12353)
  CHANGELOG.next.asciidoc
  metricbeat/module/kibana/stats/stats.go
Labels: backport

#11950 Fix a race condition with the kafka pipeline client.
  CHANGELOG.next.asciidoc
  libbeat/outputs/kafka/client.go
Labels: libbeat, review

#12082 [Heartbeat] Better document geo options
  heartbeat/docs/configuring-howto.asciidoc
  heartbeat/docs/heartbeat-observer-options.asciidoc
  heartbeat/heartbeat.yml
  heartbeat/scripts/post_process_config.py
Labels: :uptime, Heartbeat, docs

#12393 Fix authentication_failure event.type for security module
  x-pack/winlogbeat/module/security/config/winlogbeat-security.js
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012r2-logon.evtx.golden.json
Labels: SecOps, Winlogbeat, bug, needs_backport, review

#12402 Cherry-pick #12393 to 7.2: Fix authentication_failure event.type for security module
  x-pack/winlogbeat/module/security/config/winlogbeat-security.js
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012r2-logon.evtx.golden.json
Labels: SecOps, backport, review, v7.2.0

#12400 Hardcode namespace for prometheus metrics
  metricbeat/module/prometheus/collector/collector.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, module, review

#12226 Cherry-pick #12151 to 6.8: Refactor logging in pgsql module
  CHANGELOG.next.asciidoc
  packetbeat/protos/pgsql/parse.go
  packetbeat/protos/pgsql/pgsql.go
Labels: backport, review

#12361 Add documentation for Winlogbeat modules
  winlogbeat/docs/index.asciidoc
  winlogbeat/docs/modules.asciidoc
  winlogbeat/docs/modules/security.asciidoc
  winlogbeat/docs/modules/sysmon.asciidoc
  winlogbeat/docs/modules_list.asciidoc
  winlogbeat/scripts/mage/docs.go
  winlogbeat/scripts/mage/update.go
  x-pack/winlogbeat/module/security/_meta/docs.asciidoc
  x-pack/winlogbeat/module/sysmon/_meta/docs.asciidoc
Labels: SecOps, Winlogbeat, docs, needs_backport, review

#12399 Fix references to `beat.timezone` in docs
  filebeat/docs/include/var-convert-timezone.asciidoc
  libbeat/docs/processors-using.asciidoc
Labels: Filebeat, [zube]: In Review, docs, libbeat, needs_backport, review, v7.0.2, v7.1.2, v7.2.0

#12338 Parse the timezone in PostgreSQL logs as part of the date
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/postgresql/fields.go
  filebeat/module/postgresql/log/_meta/fields.yml
  filebeat/module/postgresql/log/ingest/pipeline.json
  filebeat/module/postgresql/log/test/postgresql-9.6-debian-with-slowlog.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-multi-core.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-9.6-new-timestamp.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-ubuntu-9.5.log-expected.json
Labels: :infrastructure, [zube]: In Review, bug, enhancement, review

#12405 Cherry-pick #12399 to 7.2: Fix references to `beat.timezone` in docs
  filebeat/docs/include/var-convert-timezone.asciidoc
  libbeat/docs/processors-using.asciidoc
Labels: backport, review

#12406 Cherry-pick #12399 to 7.1: Fix references to `beat.timezone` in docs
  filebeat/docs/include/var-convert-timezone.asciidoc
  libbeat/docs/processors-using.asciidoc
Labels: backport, review

#12407 Cherry-pick #12399 to 7.0: Fix references to `beat.timezone` in docs
  filebeat/docs/include/var-convert-timezone.asciidoc
  libbeat/docs/processors-using.asciidoc
Labels: backport, review

#12310 Timeouts on calls to docker api
  CHANGELOG.next.asciidoc
  libbeat/common/docker/watcher.go
Labels: :infrastructure, [zube]: In Review, containers, enhancement, review

#12391 Add operating system from vsphere to 'os' field
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/virtualmachine/_meta/fields.yml
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, module, review

#12403 Cherry-pick #12361 to 7.2: Add documentation for Winlogbeat modules
  winlogbeat/docs/index.asciidoc
  winlogbeat/docs/modules.asciidoc
  winlogbeat/docs/modules/security.asciidoc
  winlogbeat/docs/modules/sysmon.asciidoc
  winlogbeat/docs/modules_list.asciidoc
  winlogbeat/scripts/mage/docs.go
  winlogbeat/scripts/mage/update.go
  x-pack/winlogbeat/module/security/_meta/docs.asciidoc
  x-pack/winlogbeat/module/sysmon/_meta/docs.asciidoc
Labels: backport, review

#12388 Un-skip flaky tests
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: :Testing, flaky-test

#12340 Load configuration from modules.d when running setup subcommand
  CHANGELOG.next.asciidoc
  filebeat/beater/filebeat.go
  filebeat/fileset/setup.go
  filebeat/tests/system/input/template-test-module/_meta/config.yml
  filebeat/tests/system/input/template-test-module/_meta/docs.asciidoc
  filebeat/tests/system/input/template-test-module/_meta/fields.yml
  filebeat/tests/system/input/template-test-module/module.yml
  filebeat/tests/system/input/template-test-module/test/config/test.yml
  filebeat/tests/system/input/template-test-module/test/ingest/pipeline.json
  filebeat/tests/system/input/template-test-module/test/manifest.yml
  filebeat/tests/system/test_setup.py
  libbeat/cfgfile/reload.go
  libbeat/tests/system/beat/beat.py
Labels: Filebeat, review

#10894 [Metricbeat] Decrease timeout time of compose.EnsureUp functions
  libbeat/tests/compose/compose.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/module/kibana/status/status_integration_test.go
  metricbeat/module/logstash/logstash_integration_test.go
Labels: :infrastructure, Metricbeat, [zube]: Ready, review

#12420 Revert "Cherry-pick #12355 to 7.2: Enforce presence of Certificate Au…
  CHANGELOG.next.asciidoc
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
Labels: libbeat, review

#12398 Revert "Cherry-pick #12355 to 7.1: Enforce presence of Certificate Au…
  CHANGELOG.next.asciidoc
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
Labels: libbeat, review

#12396 Revert "Cherry-pick #12355 to 7.0: Enforce presence of Certificate Au…
  CHANGELOG.next.asciidoc
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
Labels: libbeat, review

#12395 Revert "Cherry-pick #12355 to 6.8: Enforce presence of Certificate Au…
  CHANGELOG.next.asciidoc
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
Labels: libbeat, review

#12414 [7.2] Un-skip flaky tests (#12388)
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: backport

#12383 [DOCS] Updates Elasticsearch and Kibana modules
  metricbeat/docs/modules/elasticsearch.asciidoc
  metricbeat/docs/modules/kibana.asciidoc
  metricbeat/module/elasticsearch/_meta/docs.asciidoc
  metricbeat/module/kibana/_meta/docs.asciidoc
Labels: backport, docs

#12425 Cherry-pick #12221 to 7.2: Fix domain and user fields in sysmon module
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: SecOps, backport, review

#12426 [SIEM] Mark Cisco and PANW modules as beta
  filebeat/docs/modules/cisco.asciidoc
  filebeat/docs/modules/panw.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/panw/_meta/docs.asciidoc
Labels: Filebeat, SecOps, docs, review

#12386 Validate stack modules' metricsets when xpack.enabled = true
  CHANGELOG.next.asciidoc
  libbeat/common/stringset.go
  libbeat/common/stringset_test.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/kibana/kibana.go
Labels: Stack monitoring, enhancement, needs_backport, review, v7.3.0, v8.0.0

#12413 Fix a typo in kubernetes deploy readme files
  deploy/kubernetes/metricbeat/README.md
Labels: needs_backport, review

#12345 Ensure Pod UID is always present in `pod` metricset
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/pod/data.go
  metricbeat/module/kubernetes/pod/pod_test.go
Labels: Metricbeat, containers, enhancement, needs_backport, review

#12430 [7.1] Validate stack modules' metricsets when xpack.enabled = true (#12386)
  CHANGELOG.next.asciidoc
  libbeat/common/stringset.go
  libbeat/common/stringset_test.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/kibana/kibana.go
Labels: backport

#12431 [6.8] Validate stack modules' metricsets when xpack.enabled = true (#12386)
  CHANGELOG.next.asciidoc
  libbeat/common/stringset.go
  libbeat/common/stringset_test.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/kibana/kibana.go
Labels: backport

#12429 [7.2] Validate stack modules' metricsets when xpack.enabled = true (#12386)
  CHANGELOG.next.asciidoc
  libbeat/common/stringset.go
  libbeat/common/stringset_test.go
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/kibana/kibana.go
Labels: backport

#12428 Cherry-pick #12426 to 7.2: Mark Cisco and PANW modules as beta
  filebeat/docs/modules/cisco.asciidoc
  filebeat/docs/modules/panw.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/panw/_meta/docs.asciidoc
Labels: docs, review

#12371 [dev guide] Add docs on optional schema arguments
  docs/devguide/create-metricset.asciidoc
Labels: :infrastructure, [zube]: In Review, docs

#12384 Update filebeat EnvoyProxy module README file to reflect the changes to autodiscover default input settings
  x-pack/filebeat/module/envoyproxy/README.md
Labels: bug, review

#12382 Update CoreDNS module README file to reflect the changes to autodiscover default input settings
  x-pack/filebeat/module/coredns/README.md
Labels: bug, review

#12441 Revert "Enforce presence of Certificate Authorities, Certificate file…
  CHANGELOG.next.asciidoc
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
Labels: libbeat, review

#12449 Don't duplicate @timestamp to beat.Event's Fields
  CHANGELOG.next.asciidoc
  libbeat/beat/event.go
  libbeat/beat/event_test.go
  x-pack/winlogbeat/module/testing_windows.go
Labels: bug, libbeat, needs_backport, review

#12448 Update filebeat EnvoyProxy module README file to reflect the changes to autodiscover default input settings (#12384)
  x-pack/filebeat/module/envoyproxy/README.md
Labels: backport

#12447 Update CoreDNS module README file to reflect the changes to autodiscover default input settings (#12382)
  x-pack/filebeat/module/coredns/README.md
Labels: backport

#12452 Cherry-pick #12449 to 7.2: Don't duplicate @timestamp to beat.Event's Fields
  CHANGELOG.next.asciidoc
  libbeat/beat/event.go
  libbeat/beat/event_test.go
  x-pack/winlogbeat/module/testing_windows.go
Labels: backport, review

#12377 [7.2][DOCS] Backport: Add 7.1 release highlights (#12329)
  libbeat/docs/highlights-7.1.0.asciidoc
  libbeat/docs/highlights.asciidoc
Labels: docs, v7.2.0

#12374 [Auditbeat] Cherry-pick #12373 to 7.2: Start system module without host ID
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/module/system/user/user.go
Labels: Auditbeat, SecOps, backport, review

#12437 [7.1] Add sleep to allow ES sufficient time for CCR (#11172)
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: backport

#12455 [Metricbeat] migrate the system module to reporterV2 with error return, part one
  metricbeat/module/system/core/core.go
  metricbeat/module/system/core/core_test.go
  metricbeat/module/system/cpu/cpu.go
  metricbeat/module/system/cpu/cpu_test.go
  metricbeat/module/system/diskio/diskio.go
  metricbeat/module/system/diskio/diskio_test.go
  metricbeat/module/system/diskio/diskstat_linux_test.go
  metricbeat/module/system/diskio/diskstat_windows_test.go
  metricbeat/module/system/filesystem/filesystem.go
  metricbeat/module/system/filesystem/filesystem_test.go
  metricbeat/module/system/filesystem/helper.go
  metricbeat/module/system/fsstat/fsstat.go
  metricbeat/module/system/fsstat/fsstat_test.go
Labels: :infrastructure, Metricbeat, review, technical_debt

#12463 [6.8] Fix flaky test in Elasticsearch module (#10874)
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: backport

#12410 Remove `convert_timezone` option from filebeat system module
  CHANGELOG.next.asciidoc
  filebeat/docs/include/timezone-support.asciidoc
  filebeat/docs/modules/system.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/system/_meta/config.reference.yml
  filebeat/module/system/_meta/config.yml
  filebeat/module/system/_meta/docs.asciidoc
  filebeat/module/system/auth/config/auth.yml
  filebeat/module/system/auth/manifest.yml
  filebeat/module/system/syslog/config/syslog.yml
  filebeat/module/system/syslog/manifest.yml
  filebeat/modules.d/system.yml.disabled
  x-pack/filebeat/filebeat.reference.yml
Labels: :infrastructure, Filebeat, [zube]: In Progress, discuss, enhancement, module, v7.3.0

#12375 [Auditbeat] Cherry-pick #12373 to 6.8: Start system module without host ID
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/system.go
  x-pack/auditbeat/module/system/user/user.go
Labels: Auditbeat, SecOps, backport, review

#12427 Update 7.2 branch to the appropriate snapshots.
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, review

#12476 Fix 11975 - change Kubernetes container cpu cores fields to float
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
Labels: :infrastructure, bug, needs_backport

#12458 [Heartbeat] Fix Continuation Dispatch / mode: all pings
  CHANGELOG.next.asciidoc
  heartbeat/monitors/task.go
  heartbeat/monitors/task_test.go
Labels: :uptime, Heartbeat, bug, needs_backport, v7.2.0

#12477 Cherry-pick #12458 to 7.2: [Heartbeat] Fix Continuation Dispatch / mode: all pings
  CHANGELOG.next.asciidoc
  heartbeat/monitors/task.go
  heartbeat/monitors/task_test.go
Labels: backport, review

#12462 [7.1] Fix flaky test in Elasticsearch module (#10874)
  metricbeat/module/elasticsearch/elasticsearch_integration_test.go
Labels: backport

#12471 Remove ECS from aws dashboard names
  metricbeat/docs/images/metricbeat-aws-ec2-overview.png
  metricbeat/docs/images/metricbeat-aws-s3-overview.png
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ec2-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-s3-overview.json
Labels: :infrastructure, [zube]: In Review, needs_backport, review, v7.0.0, v7.1.0, v7.2.0

#12470 [Metricbeat] Migrate the system module to reporterV2 with error return, part two
  metricbeat/module/system/load/load.go
  metricbeat/module/system/load/load_test.go
  metricbeat/module/system/memory/memory.go
  metricbeat/module/system/memory/memory_test.go
  metricbeat/module/system/network/network.go
  metricbeat/module/system/network/network_test.go
  metricbeat/module/system/process/config.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process/process_test.go
Labels: :infrastructure, Metricbeat, technical_debt

#12254 Fixes output.kafka bulks sizes
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/docs/outputconfig.asciidoc
  libbeat/outputs/kafka/config.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: libbeat, review

#12478 [Heartbeat] Better document geo options (docs only)
  heartbeat/docs/configuring-howto.asciidoc
  heartbeat/docs/heartbeat-observer-options.asciidoc
Labels: :uptime, Heartbeat, docs

#12473 Removing CHANGELOG entries that were erroneously backported
  CHANGELOG.next.asciidoc
Labels: review

#12474 Removing CHANGELOG entries that were erroneously backported
  CHANGELOG.next.asciidoc
Labels: review

#12485 Cherry-pick #12471 to 7.0: Remove ECS from aws dashboard names
  metricbeat/docs/images/metricbeat-aws-ec2-overview.png
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ec2-overview.json
Labels: backport, review

#12484 Cherry-pick #12471 to 7.1: Remove ECS from aws dashboard names
  metricbeat/docs/images/metricbeat-aws-ec2-overview.png
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ec2-overview.json
Labels: backport, review

#12486 Cherry-pick #12471 to 7.2: Remove ECS from aws dashboard names
  metricbeat/docs/images/metricbeat-aws-ec2-overview.png
  metricbeat/docs/images/metricbeat-aws-s3-overview.png
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-ec2-overview.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/dashboard/Metricbeat-aws-s3-overview.json
Labels: backport, review

#10384 Remove duplicated content about setting up the dev environment
  docs/devguide/contributing.asciidoc
  docs/devguide/newbeat.asciidoc
Labels: docs, needs_backport, review

#12492 [DOCS] [7.2] Backport: Add 7.2 release highlights (#12378)
  libbeat/docs/highlights-7.2.0.asciidoc
  libbeat/docs/highlights.asciidoc
Labels: backport, docs

#12469 Remove `convert_timezone` option
  filebeat/docs/include/var-convert-timezone.asciidoc
  filebeat/docs/modules/kafka.asciidoc
  filebeat/docs/modules/rabbitmq.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/module/elasticsearch/_meta/config.yml
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/audit/manifest.yml
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/deprecation/manifest.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/server/manifest.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/elasticsearch/slowlog/manifest.yml
  filebeat/module/kafka/_meta/config.yml
  filebeat/module/kafka/_meta/docs.asciidoc
  filebeat/module/kafka/log/config/log.yml
  filebeat/module/kafka/log/manifest.yml
  filebeat/module/logstash/_meta/config.yml
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/log/manifest.yml
  filebeat/module/logstash/slowlog/config/slowlog.yml
  filebeat/module/logstash/slowlog/manifest.yml
  filebeat/module/nginx/_meta/config.reference.yml
  filebeat/module/nginx/_meta/config.yml
  filebeat/module/nginx/access/config/nginx-access.yml
  filebeat/module/nginx/access/manifest.yml
  filebeat/module/nginx/error/config/nginx-error.yml
  filebeat/module/nginx/error/manifest.yml
  filebeat/modules.d/elasticsearch.yml.disabled
  filebeat/modules.d/kafka.yml.disabled
  filebeat/modules.d/logstash.yml.disabled
  filebeat/modules.d/nginx.yml.disabled
  filebeat/tests/system/test_modules.py
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/module/cisco/asa/config/input.yml
  x-pack/filebeat/module/cisco/asa/manifest.yml
  x-pack/filebeat/module/iptables/log/config/input.yml
  x-pack/filebeat/module/iptables/log/manifest.yml
  x-pack/filebeat/module/mssql/log/config/config.yml
  x-pack/filebeat/module/mssql/log/manifest.yml
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/manifest.yml
  x-pack/filebeat/module/rabbitmq/_meta/config.yml
  x-pack/filebeat/module/rabbitmq/_meta/docs.asciidoc
  x-pack/filebeat/module/rabbitmq/log/config/log.yml
  x-pack/filebeat/module/rabbitmq/log/manifest.yml
  x-pack/filebeat/modules.d/rabbitmq.yml.disabled
Labels: :infrastructure, Filebeat, [zube]: In Review, enhancement, module, review, v7.3.0

#12439 Add required ACLs for Kafka metricbeat module
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/Dockerfile
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/healthcheck.sh
  metricbeat/module/kafka/_meta/kafka_server_jaas.conf
  metricbeat/module/kafka/_meta/run.sh
  metricbeat/module/kafka/consumergroup/consumergroup_integration_test.go
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kafka/partition/partition_integration_test.go
  metricbeat/tests/system/test_kafka.py
Labels: :Testing, :infrastructure, [zube]: In Review, docs, module, needs_backport, review

#12489 Make `elasticsearch/index_summary` metricset more defensive
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/index_summary/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, v6.8.1, v7.2.1, v7.3.0, v8.0.0

#12212 Refactored Windows perfmon metricset: replaced method to retrieve counter paths with PdhExpandWildCardPathW, separated code by responsibility, removed unused functions
  CHANGELOG.next.asciidoc
  metricbeat/module/windows/perfmon/defs_pdh_windows.go
  metricbeat/module/windows/perfmon/defs_pdh_windows_386.go
  metricbeat/module/windows/perfmon/defs_pdh_windows_amd64.go
  metricbeat/module/windows/perfmon/mkpdh_defs.go
  metricbeat/module/windows/perfmon/pdh_integration_windows_test.go
  metricbeat/module/windows/perfmon/pdh_query_windows.go
  metricbeat/module/windows/perfmon/pdh_query_windows_test.go
  metricbeat/module/windows/perfmon/pdh_windows.go
  metricbeat/module/windows/perfmon/pdh_windows_test.go
  metricbeat/module/windows/perfmon/perfmon.go
  metricbeat/module/windows/perfmon/reader.go
  metricbeat/module/windows/perfmon/reader_test.go
  metricbeat/module/windows/perfmon/zpdh_windows.go
Labels: :Windows, :infrastructure, [zube]: In Review

#12475 Continuation of: Adriansr fix mb windows procs #12301
  CHANGELOG.next.asciidoc
  NOTICE.txt
  libbeat/metric/system/process/process.go
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sigar_windows.go
  vendor/vendor.json
Labels: :Windows, :infrastructure, Metricbeat, [zube]: In Progress

#12483 [Metricbeat] migrate the system module to reporterV2 with error return, part three
  metricbeat/module/system/process_summary/process_summary.go
  metricbeat/module/system/process_summary/process_summary_test.go
  metricbeat/module/system/raid/raid.go
  metricbeat/module/system/raid/raid_test.go
  metricbeat/module/system/socket/socket.go
  metricbeat/module/system/socket/socket_test.go
  metricbeat/module/system/uptime/uptime.go
  metricbeat/module/system/uptime/uptime_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, technical_debt

#12450 [metricbeat] Add system/entropy metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/docs/modules/system/entropy.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/system/_meta/config.yml
  metricbeat/module/system/entropy/_meta/data.json
  metricbeat/module/system/entropy/_meta/docs.asciidoc
  metricbeat/module/system/entropy/_meta/fields.yml
  metricbeat/module/system/entropy/_meta/testdata/proc/sys/kernel/random/entropy_avail
  metricbeat/module/system/entropy/_meta/testdata/proc/sys/kernel/random/poolsize
  metricbeat/module/system/entropy/doc.go
  metricbeat/module/system/entropy/entropy.go
  metricbeat/module/system/entropy/entropy_test.go
  metricbeat/module/system/fields.go
  metricbeat/modules.d/system.yml
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement

#12498 Cherry-pick #12439 to 7.2: Add required ACLs for Kafka metricbeat module
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/Dockerfile
  metricbeat/module/kafka/_meta/docs.asciidoc
  metricbeat/module/kafka/_meta/healthcheck.sh
  metricbeat/module/kafka/_meta/kafka_server_jaas.conf
  metricbeat/module/kafka/_meta/run.sh
  metricbeat/module/kafka/consumergroup/consumergroup_integration_test.go
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kafka/partition/partition_integration_test.go
  metricbeat/tests/system/test_kafka.py
Labels: backport, review

#12499 Cherry-pick #12439 to 7.1: Add required ACLs for Kafka metricbeat module
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
Labels: backport, review

#12500 Cherry-pick #12439 to 7.0: Add required ACLs for Kafka metricbeat module
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
Labels: backport, review

#12501 Cherry-pick #12439 to 6.8: Add required ACLs for Kafka metricbeat module
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/docs.asciidoc
Labels: backport, review

#12314 (#12313) Add "devTools" namespace to all mage functions coming from dev-tools directory
  auditbeat/magefile.go
  auditbeat/scripts/mage/config.go
  auditbeat/scripts/mage/docs.go
  auditbeat/scripts/mage/package.go
  dev-tools/cmd/module_include_list/module_include_list.go
  dev-tools/mage/fmt.go
  dev-tools/mage/settings.go
  dev-tools/mage/target/build/build.go
  dev-tools/mage/target/common/check.go
  dev-tools/mage/target/common/clean.go
  dev-tools/mage/target/common/fmt.go
  dev-tools/mage/target/common/shared.go
  dev-tools/mage/target/dashboards/dashboards.go
  dev-tools/mage/target/docs/docs.go
  dev-tools/mage/target/integtest/integtest.go
  dev-tools/mage/target/pkg/test.go
  dev-tools/mage/target/unittest/unittest.go
  dev-tools/packaging/preference-pane/magefile.go
  dev-tools/packaging/templates/common/magefile.go.tmpl
  filebeat/magefile.go
  filebeat/scripts/mage/config.go
  filebeat/scripts/mage/docs.go
  filebeat/scripts/mage/package.go
  generator/beat/{beat}/magefile.go
  generator/metricbeat/{beat}/magefile.go
  heartbeat/magefile.go
  journalbeat/magefile.go
  libbeat/magefile.go
  magefile.go
  metricbeat/magefile.go
  packetbeat/magefile.go
  packetbeat/scripts/mage/config.go
  winlogbeat/magefile.go
  winlogbeat/scripts/mage/config.go
  winlogbeat/scripts/mage/fields.go
  winlogbeat/scripts/mage/package.go
  winlogbeat/scripts/mage/update.go
  x-pack/auditbeat/magefile.go
  x-pack/filebeat/magefile.go
  x-pack/functionbeat/magefile.go
  x-pack/libbeat/magefile.go
  x-pack/metricbeat/magefile.go
  x-pack/winlogbeat/magefile.go
Labels: [zube]: In Review

#12456 [docs] Add APM to simplified security docs
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/monitoring/monitoring-beats.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/security/basic-auth.asciidoc
  libbeat/docs/security/users.asciidoc
Labels: docs

#12481 [DOCS] Show Npcap in packetbeat installation steps
  packetbeat/docs/faq.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: docs, needs_backport, review

#10998 packaging: add user and labels checks
  dev-tools/packaging/package_test.go
Labels: :Packaging, review

#12535 Annotate geo fields as optional in processors
  libbeat/docs/processors-using.asciidoc
Labels: docs, libbeat

#12512 Making field optional as it may not always be present
  metricbeat/module/elasticsearch/index/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v6.8.1, v7.2.1, v7.3.0, v8.0.0

#12529 [Filebeat] Fix RFC5424 date format in system/syslog in pipeline
  CHANGELOG.next.asciidoc
  filebeat/module/system/syslog/ingest/pipeline.json
  filebeat/module/system/syslog/test/tz-offset.log
  filebeat/module/system/syslog/test/tz-offset.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: Filebeat, bug, needs_backport, review

#12408 Allow URL format in Metricbeat Redis module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/redis.asciidoc
  metricbeat/mb/parse/url.go
  metricbeat/mb/parse/url_test.go
  metricbeat/module/redis/_meta/docs.asciidoc
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/info/info_test.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/keyspace/keyspace.go
  metricbeat/module/redis/metricset.go
  metricbeat/module/redis/metricset_test.go
  metricbeat/module/redis/redis.go
Labels: :infrastructure, review

#12543 Cherry-pick #12529 to 7.2: [Filebeat] Fix RFC5424 date format in system/syslog in pipeline
  CHANGELOG.next.asciidoc
  filebeat/module/system/syslog/ingest/pipeline.json
  filebeat/module/system/syslog/test/tz-offset.log
  filebeat/module/system/syslog/test/tz-offset.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: backport, review

#12541 [7.2] Making field optional as it may not always be present (#12512)
  metricbeat/module/elasticsearch/index/data_xpack.go
Labels: backport

#12507 [7.2] Make `elasticsearch/index_summary` metricset more defensive (#12489)
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/index_summary/data_xpack.go
Labels: backport

#12508 [6.8] Make `elasticsearch/index_summary` metricset more defensive (#12489)
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/index_summary/data_xpack.go
Labels: backport

#12503 Adding docker and 7.3.0+ audit log formats
  filebeat/docs/fields.asciidoc
  filebeat/module/elasticsearch/audit/_meta/fields.yml
  filebeat/module/elasticsearch/audit/ingest/pipeline-json.json
  filebeat/module/elasticsearch/audit/test/test-audit-730.log
  filebeat/module/elasticsearch/audit/test/test-audit-730.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit-docker.log
  filebeat/module/elasticsearch/audit/test/test-audit-docker.log-expected.json
  filebeat/module/elasticsearch/fields.go
Labels: Filebeat, Stack monitoring, module, needs_backport, review, v7.2.1, v7.3.0, v8.0.0

#12496 Decouple Debug logging from fail_on_error logic
  CHANGELOG.next.asciidoc
  libbeat/processors/actions/copy_fields.go
  libbeat/processors/actions/rename.go
  libbeat/processors/actions/truncate_fields.go
Labels: review

#12514 Update testing env 7.2.0
  testing/environments/latest.yml
Labels: :Testing, release, review, v7.2.0

#12516 Update testing env 6.8.1
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v6.8.1

#12534 feat(jenkins): GH Checks for the PR
  Jenkinsfile
Labels: [zube]: In Review, automation

#12549 Update changelogs
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  libbeat/docs/release-notes/7.0.0.asciidoc
  libbeat/docs/release.asciidoc
Labels: review

#12551 Fix flakiness in goroutines checker tests
  libbeat/tests/resources/goroutines_test.go
Labels: :Testing, flaky-test, libbeat, needs_backport, review

#12568 Improve system/syslog date parsing fix in #12543
  CHANGELOG.next.asciidoc
  filebeat/module/system/syslog/ingest/pipeline.json
  filebeat/module/system/syslog/test/tz-offset.log
  filebeat/module/system/syslog/test/tz-offset.log-expected.json
Labels: Filebeat, review

#12566 Add units section to metrics convention
  docs/devguide/event-conventions.asciidoc
Labels: :infrastructure, [zube]: In Review, docs, libbeat

#12574 Close changelog for 6.8.1
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.8.1

#12372 [Metricbeat] Add tags for aws ec2
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/_meta/fields.yml
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/fields.go
Labels: :infrastructure, [zube]: In Review, review

#12570 Close changelog for 7.2.0
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release-notes/7.0.0.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.2.0

#12554 [DOCS][7.2] Backport: Fix hard coded beats name (#11905)
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, docs

#12553 [DOCS][7.1] Backport: Fix hard coded beats name (#11905)
  libbeat/docs/shared-autodiscover.asciidoc
Labels: backport, docs

#12482 System test for elasticsearch module, xpack code path
  metricbeat/module/elasticsearch/test_elasticsearch.py
  metricbeat/tests/system/metricbeat.py
Labels: :Testing, Metricbeat, Stack monitoring, module, needs_backport, review, v7.3.0, v8.0.0

#12584 When `certificate_authorities` is configured for ServerConfig, we now set client auth to `required`
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/docs/shared-ssl-config.asciidoc
  x-pack/filebeat/filebeat.reference.yml
Labels: libbeat, needs_backport

#12586 Cherry-pick #12584 to 7.2: When `certificate_authorities` is configured for ServerConfig, we now set client auth to `required`
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/docs/shared-ssl-config.asciidoc
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, review

#12585 Cherry-pick #12584 to 6.8: When `certificate_authorities` is configured for ServerConfig, we now set client auth to `required`
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/docs/shared-ssl-config.asciidoc
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, review

#12587 Cherry-pick #12584 to 7.x: When `certificate_authorities` is configured for ServerConfig, we now set client auth to `required`
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/docs/shared-ssl-config.asciidoc
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, review

#12589 Cherry-pick #12584 to 7.0: When `certificate_authorities` is configured for ServerConfig, we now set client auth to `required`
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/docs/shared-ssl-config.asciidoc
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, review

#12579 Filebeat: Add support for ISO8601 dates to system.auth
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/auth/test/timestamp.log
  filebeat/module/system/auth/test/timestamp.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: Filebeat, needs_backport, review

#12573 Cherry-pick #12568 to 7.2: Improve system/syslog date parsing fix in #12543
  CHANGELOG.next.asciidoc
  filebeat/module/system/syslog/ingest/pipeline.json
  filebeat/module/system/syslog/test/tz-offset.log
  filebeat/module/system/syslog/test/tz-offset.log-expected.json
Labels: backport, review

#12454 Merge some common parts of metricbeat magefiles
  auditbeat/include/list.go
  dev-tools/cmd/module_include_list/module_include_list.go
  filebeat/include/list.go
  metricbeat/magefile.go
  metricbeat/scripts/mage/config.go
  metricbeat/scripts/mage/package.go
  packetbeat/include/list.go
  x-pack/auditbeat/include/list.go
  x-pack/filebeat/include/list.go
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/magefile.go
  x-pack/metricbeat/modules.d/aws.yml.disabled
  x-pack/metricbeat/modules.d/coredns.yml.disabled
  x-pack/metricbeat/modules.d/mssql.yml.disabled
Labels: :Packaging, :infrastructure, Metricbeat, [zube]: In Review, review

#12591 [Auditbeat] Host: Fix reboot detection logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, bug, needs_backport, review

#11914 Add decode base64 field processor
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/actions/decode_base64_field.go
  libbeat/processors/actions/decode_base64_field_test.go
  libbeat/processors/script/javascript/module/processor/processor.go
Labels: libbeat, review

#12593 Cherry-pick #12579 to 7.2: Filebeat: Add support for ISO8601 dates to system.auth
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/auth/test/timestamp.log
  filebeat/module/system/auth/test/timestamp.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: Filebeat, backport, review

#12594 [Auditbeat] Cherry-pick #12591 to 7.2: Host: Fix reboot detection logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, backport, review

#12595 [Auditbeat] Cherry-pick #12591 to 6.8: Host: Fix reboot detection logic
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, SecOps, backport, review

#12506 System test for kibana module, xpack code path
  metricbeat/tests/system/test_kibana.py
Labels: :Testing, Metricbeat, Stack monitoring, module, needs_backport, review, v7.3.0, v8.0.0

#12598 Fix check for docker user in packetbeat packaging
  packetbeat/magefile.go
Labels: :Packaging, Packetbeat, bug

#12600 Fix bug / leak in JS function processors
  CHANGELOG.next.asciidoc
  libbeat/processors/script/javascript/module/processor/chain.go
Labels: :Processors, bug, needs_backport, review

#12604 Cherry-pick #12600 to 7.2: Fix bug / leak in JS function processors
  CHANGELOG.asciidoc
  libbeat/processors/script/javascript/module/processor/chain.go
Labels: backport, review

#12596 Remove TLS mention in the change because of #12584
  CHANGELOG.next.asciidoc
Labels: needs_backport, review

#12588 Cherry-pick #12584 to 7.1: When `certificate_authorities` is configured for ServerConfig, we now set client auth to `required`
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  libbeat/common/transport/tlscommon/server_config.go
  libbeat/common/transport/tlscommon/tls_test.go
  libbeat/docs/shared-ssl-config.asciidoc
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, review

#12453 Fix a race condition with the kafka pipeline client. (#11950)
  CHANGELOG.next.asciidoc
  libbeat/outputs/kafka/client.go
Labels: libbeat, review

#12581 [DOCS] Indicate that CM migration tool applies to 6.6 to 6.7 migrations
  libbeat/docs/upgrading.asciidoc
Labels: docs, needs_backport, review

#12540 [Heartbeat] Use go-lookslike instead of mapval for heartbeat tests
  CHANGELOG-developer.next.asciidoc
  NOTICE.txt
  heartbeat/hbtest/hbtestutil.go
  heartbeat/monitors/active/http/http_test.go
  heartbeat/monitors/active/tcp/tcp_test.go
  heartbeat/monitors/jobs/job_test.go
  heartbeat/monitors/mocks_test.go
  heartbeat/monitors/monitor_test.go
  heartbeat/monitors/task_test.go
  heartbeat/monitors/wrappers/monitors_test.go
  heartbeat/monitors/wrappers/util_test.go
  vendor/github.com/elastic/go-lookslike/CHANGELOG
  vendor/github.com/elastic/go-lookslike/LICENSE
  vendor/github.com/elastic/go-lookslike/README.md
  vendor/github.com/elastic/go-lookslike/compiled_schema.go
  vendor/github.com/elastic/go-lookslike/core.go
  vendor/github.com/elastic/go-lookslike/doc.go
  vendor/github.com/elastic/go-lookslike/go.mod
  vendor/github.com/elastic/go-lookslike/go.sum
  vendor/github.com/elastic/go-lookslike/internal/llreflect/llreflect.go
  vendor/github.com/elastic/go-lookslike/isdef/core.go
  vendor/github.com/elastic/go-lookslike/isdef/dsl.go
  vendor/github.com/elastic/go-lookslike/isdef/duration.go
  vendor/github.com/elastic/go-lookslike/isdef/int.go
  vendor/github.com/elastic/go-lookslike/isdef/string.go
  vendor/github.com/elastic/go-lookslike/isdef/time.go
  vendor/github.com/elastic/go-lookslike/llpath/path.go
  vendor/github.com/elastic/go-lookslike/llresult/results.go
  vendor/github.com/elastic/go-lookslike/llresult/value.go
  vendor/github.com/elastic/go-lookslike/testslike/testing.go
  vendor/github.com/elastic/go-lookslike/validator/validator.go
  vendor/github.com/elastic/go-lookslike/walk.go
  vendor/vendor.json
Labels: :uptime, Heartbeat, enhancement

#12583 [docs] Update cmd docs for export and setup.
  libbeat/docs/command-reference.asciidoc
Labels: v7.2.0

#12605 [docs] remove “Beats” from APM Server docs
  libbeat/docs/shared-docker.asciidoc
Labels: :apm, docs

#12609 Cherry-pick #12476 to 7.2: Fix 11975 - change Kubernetes container cpu cores fields to float
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_container/_meta/fields.yml
Labels: backport, review

#12517 Bump docs version for 6.8.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.8.1

#12603 Reuse connections in postgresql metricsets
  CHANGELOG.next.asciidoc
  metricbeat/module/postgresql/activity/activity.go
  metricbeat/module/postgresql/bgwriter/bgwriter.go
  metricbeat/module/postgresql/database/database.go
  metricbeat/module/postgresql/metricset.go
  metricbeat/module/postgresql/postgresql.go
  metricbeat/module/postgresql/statement/statement.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, module, review, v7.3.0

#12519 Bump version to 6.8.2
  libbeat/version/version.go
Labels: in progress, release, review, v6.8.2

#12607 [DOCS] Add homebrew instructions to install docs
  auditbeat/docs/getting-started.asciidoc
  filebeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-brew-install.asciidoc
  libbeat/docs/shared-brew-run.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: docs, in progress, needs_backport

#12624 [DOCS] [7.1] Backport: Add homebrew instructions to install docs (#12607)
  auditbeat/docs/getting-started.asciidoc
  filebeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-brew-install.asciidoc
  libbeat/docs/shared-brew-run.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: backport, docs, v7.1.1

#12625 [DOCS] [7.2] Backport: Add homebrew instructions to install docs (#12607)
  auditbeat/docs/getting-started.asciidoc
  filebeat/docs/getting-started.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/dashboards.asciidoc
  libbeat/docs/shared-brew-install.asciidoc
  libbeat/docs/shared-brew-run.asciidoc
  libbeat/docs/shared-directory-layout.asciidoc
  libbeat/docs/shared-template-load.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
Labels: backport, docs, v7.2.1

#12626 [DOCS] Add missing attribute
  libbeat/docs/shared-brew-install.asciidoc
Labels: docs, needs_backport, review

#12561 Redirect stderr by default for Windows service
  dev-tools/packaging/templates/windows/install-service.ps1.tmpl
Labels: :Packaging, :Windows, backport, review

#12627 [DOCS] [7.1] Add missing attribute (#12626)
  libbeat/docs/shared-brew-install.asciidoc
Labels: backport, docs, v7.1.1

#12630 [DOCS] [7.2] Add missing attribute (#12626)
  libbeat/docs/shared-brew-install.asciidoc
Labels: backport, docs, v7.2.1

#12617 Add umask and mremap to Auditbeat seccomp policy
  CHANGELOG.next.asciidoc
  Vagrantfile
  libbeat/common/seccomp/seccomp.go
  x-pack/auditbeat/seccomp_linux.go
Labels: Auditbeat, bug, review

#10952 Add helper to get configurations from hints
  libbeat/autodiscover/builder/helper.go
Labels: :infrastructure, [zube]: In Review, containers, libbeat, review

#12242 [Docs] Reformat exported fields documentation
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  heartbeat/_meta/fields.common.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  winlogbeat/docs/fields.asciidoc
  x-pack/functionbeat/docs/fields.asciidoc
Labels: docs, in progress, needs_backport, review

#12613 [7.2] [docs] Update cmd docs for export and setup. (#12583)
  libbeat/docs/command-reference.asciidoc
Labels: backport, review

#12181 Adding beat module with stats metricset
  metricbeat/docker-compose.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/include/list.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/beat/_meta/Dockerfile
  metricbeat/module/beat/_meta/config-xpack.yml
  metricbeat/module/beat/_meta/config.reference.yml
  metricbeat/module/beat/_meta/config.yml
  metricbeat/module/beat/_meta/env
  metricbeat/module/beat/_meta/fields.yml
  metricbeat/module/beat/_meta/healthcheck.sh
  metricbeat/module/beat/beat.go
  metricbeat/module/beat/beat_integration_test.go
  metricbeat/module/beat/config.go
  metricbeat/module/beat/docs.asciidoc
  metricbeat/module/beat/fields.go
  metricbeat/module/beat/metricset.go
  metricbeat/module/beat/stats/_meta/data.json
  metricbeat/module/beat/stats/_meta/fields.yml
  metricbeat/module/beat/stats/_meta/test/stats.800.json
  metricbeat/module/beat/stats/_meta/testdata/config.yml
  metricbeat/module/beat/stats/_meta/testdata/stats.800.json
  metricbeat/module/beat/stats/_meta/testdata/stats.800.json-expected.json
  metricbeat/module/beat/stats/data.go
  metricbeat/module/beat/stats/data_test.go
  metricbeat/module/beat/stats/data_xpack.go
  metricbeat/module/beat/stats/stats.go
  metricbeat/module/beat/testing.go
  metricbeat/modules.d/beat-xpack.yml.disabled
  metricbeat/modules.d/beat.yml.disabled
  metricbeat/tests/system/test_beat.py
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.3.0, v8.0.0

#12620 Fixed functionbeat.yml example because it is wrong and misleading
  x-pack/functionbeat/docs/getting-started.asciidoc
Labels: Functionbeat, docs, needs_backport

#12637 Regenerating docs
  metricbeat/docs/fields.asciidoc
Labels: needs_backport, review, v7.3.0, v8.0.0

#12631 [DOCS] [7.2] Backport 12242 7.2
  auditbeat/docs/fields.asciidoc
  filebeat/docs/fields.asciidoc
  heartbeat/_meta/fields.common.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  libbeat/scripts/generate_fields_docs.py
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  winlogbeat/docs/fields.asciidoc
  x-pack/functionbeat/docs/fields.asciidoc
Labels: backport, docs, v7.2.1

#12480 [Metricbeat] Add ability to collect tags for aws services
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/aws.asciidoc
  vendor/github.com/aws/aws-sdk-go-v2/aws/arn/arn.go
  vendor/github.com/aws/aws-sdk-go-v2/service/resourcegroupstaggingapi/api.go
  vendor/github.com/aws/aws-sdk-go-v2/service/resourcegroupstaggingapi/doc.go
  vendor/github.com/aws/aws-sdk-go-v2/service/resourcegroupstaggingapi/errors.go
  vendor/github.com/aws/aws-sdk-go-v2/service/resourcegroupstaggingapi/resourcegroupstaggingapiiface/interface.go
  vendor/github.com/aws/aws-sdk-go-v2/service/resourcegroupstaggingapi/service.go
  vendor/vendor.json
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/aws/_meta/config.yml
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
  x-pack/metricbeat/module/aws/mtest/scripts/README.md
  x-pack/metricbeat/module/aws/mtest/scripts/test_cloudwatch_metricset.yml
  x-pack/metricbeat/module/aws/utils.go
  x-pack/metricbeat/module/aws/utils_test.go
  x-pack/metricbeat/modules.d/aws.yml.disabled
Labels: :infrastructure, [zube]: In Review, review

#12465 Add secondary source of modules to Metricbeat to read light modules
  CHANGELOG.next.asciidoc
  metricbeat/beater/metricbeat.go
  metricbeat/cmd/modules.go
  metricbeat/cmd/root.go
  metricbeat/cmd/test/modules.go
  metricbeat/mb/lightmetricset.go
  metricbeat/mb/lightmetricset_test.go
  metricbeat/mb/registry.go
  metricbeat/tests/system/test_reload.py
  x-pack/metricbeat/beater/metricbeat.go
  x-pack/metricbeat/cmd/root.go
  x-pack/metricbeat/main_test.go
  x-pack/metricbeat/mb/lightmodules.go
  x-pack/metricbeat/mb/lightmodules_test.go
  x-pack/metricbeat/mb/testdata/lightmodules/broken/module.yml
  x-pack/metricbeat/mb/testdata/lightmodules/empty/.placeholder
  x-pack/metricbeat/mb/testdata/lightmodules/service/metricset/manifest.yml
  x-pack/metricbeat/mb/testdata/lightmodules/service/module.yml
  x-pack/metricbeat/mb/testdata/lightmodules/service/nondefault/manifest.yml
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review, v7.3.0

#11760 kubernetes processor use correct os path separator
  CHANGELOG.next.asciidoc
  filebeat/processor/add_kubernetes_metadata/matchers.go
  filebeat/processor/add_kubernetes_metadata/matchers_test.go
Labels: :Windows, :infrastructure, [zube]: In Review, containers, enhancement, review, v7.3.0
