Repository elastic/beats, pull requests merged in 2019-04, with the labels that each got.

#11478 [Metricbeat] Migrate Docker image Metricset to use ReporterV2 interface
  metricbeat/module/docker/image/_meta/data.json
  metricbeat/module/docker/image/image.go
  metricbeat/module/docker/image/image_integration_test.go
Labels: :infrastructure, Metricbeat, review

#11477 [Metricbeat] Migrate Windows service to use ReporterV2 interface
  metricbeat/module/windows/service/_meta/data.json
  metricbeat/module/windows/service/service.go
  metricbeat/module/windows/service/service_integration_windows_test.go
Labels: :infrastructure, Metricbeat, review

#11540 [Filebeat] Skip flaky windows tests
  filebeat/tests/system/test_registrar.py
Labels: :Testing, Filebeat, flaky-test, review

#10858 [Metricbeat] Migrate Kubernetes state_container Metricset to use ReporterV2 interface
  metricbeat/module/kubernetes/state_container/_meta/test/kube-state-metrics.expected
  metricbeat/module/kubernetes/state_container/_meta/test/kube-state-metrics.v1.3.0.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm-v1_3_0.plain
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm-v1_3_0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/state_container/state_container_test.go
Labels: :infrastructure, Metricbeat, in progress

#11201 [Filebeat] NetFlow: Add Cisco ASA fields
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/netflow/decoder/fields/cisco.csv
  x-pack/filebeat/input/netflow/decoder/fields/gen.go
  x-pack/filebeat/input/netflow/decoder/fields/types.go
  x-pack/filebeat/input/netflow/decoder/fields/types_test.go
  x-pack/filebeat/input/netflow/decoder/fields/zfields_cisco.go
  x-pack/filebeat/input/netflow/definitions.go
  x-pack/filebeat/input/netflow/testdata/dat_tests.yaml
  x-pack/filebeat/input/netflow/testdata/fields/netflow9_cisco_asa_custom.yaml
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
Labels: Filebeat, SecOps, review

#11563 [Filebeat] Add missing file cisco.yml.disabled
  x-pack/filebeat/modules.d/cisco.yml.disabled
Labels: Filebeat, review

#11573 Update master changelogs
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: review

#11574 Collect and index CCR auto-follow stats
  metricbeat/module/elasticsearch/ccr/data.go
  metricbeat/module/elasticsearch/ccr/data_xpack.go
Labels: Metricbeat, Stack monitoring, enhancement, module, review, v7.1.0, v8.0.0

#11485 Indicate that ILM is on by default and add new settings
  libbeat/docs/shared-ilm.asciidoc
  libbeat/docs/shared-kibana-config.asciidoc
  libbeat/docs/shared-path-config.asciidoc
Labels: docs, needs_backport, review

#11565 [Auditbeat] Package: Open versioned librpm shared objects
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, needs_backport, review

#11439 Update breaking changes docs
  auditbeat/docs/breaking.asciidoc
  libbeat/docs/breaking.asciidoc
Labels: docs, needs_backport, review

#11571 Remove ellipse from config example
  winlogbeat/docs/winlogbeat-options.asciidoc
Labels: Winlogbeat, docs, review

#11559 Set migration.6_to_7.enabled: true in short config
  auditbeat/auditbeat.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.yml
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.yml
Labels: needs_backport, review

#11577 docker metadata processor: replace source field with log.field.path
  CHANGELOG.next.asciidoc
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
Labels: :infrastructure, Filebeat, bug, libbeat, needs_backport

#11487 Cherry-pick #11263 to 7.0: Stop waiting for signals on closed outleters
  CHANGELOG.next.asciidoc
  filebeat/channel/interface.go
  filebeat/channel/outlet.go
  filebeat/channel/util.go
  filebeat/input/log/input_other_test.go
Labels: backport, review

#11578 Add _bucket to histogram metrics in Prometheus Collector
  CHANGELOG.next.asciidoc
  metricbeat/module/prometheus/collector/collector_test.go
  metricbeat/module/prometheus/collector/data.go
Labels: bug, needs_backport, v7.0.0-rc1, v7.1.0

#11580 [Auditbeat] Cherry-pick #11565 to 6.7: Package: Open versioned librpm shared objects
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, backport, review

#11579 [Auditbeat] Cherry-pick #11565 to 7.0: Package: Open versioned librpm shared objects
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, backport, review

#11592 Cherry-pick #11559 to 7.0: Set migration.6_to_7.enabled: true in short config
  auditbeat/auditbeat.yml
  filebeat/filebeat.yml
  heartbeat/heartbeat.yml
  journalbeat/journalbeat.yml
  libbeat/_meta/config.yml
  metricbeat/metricbeat.yml
  packetbeat/packetbeat.yml
  winlogbeat/winlogbeat.yml
  x-pack/auditbeat/auditbeat.yml
  x-pack/filebeat/filebeat.yml
  x-pack/functionbeat/functionbeat.yml
  x-pack/metricbeat/metricbeat.yml
Labels: backport, review

#11597 Cherry-pick #11578 to 7.0: Add _bucket to histogram metrics in Prometheus Collector
  CHANGELOG.next.asciidoc
  metricbeat/module/prometheus/collector/collector_test.go
  metricbeat/module/prometheus/collector/data.go
Labels: backport, review

#11572 Fix changelog for #6579
  CHANGELOG.asciidoc
Labels: Winlogbeat, review

#11557 Close changelog for 6.7.1
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v6.7.1

#11560 Bump docs version for 6.7.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.7.1

#11558 Update testing env 6.7.1
  testing/environments/args.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v6.7.1

#11581 [DOCS] Adds float attributes in breaking changes
  libbeat/docs/breaking.asciidoc
Labels: docs, needs_backport, v7.0.0, v7.1.0, v8.0.0

#11297 New processor: truncate_fields
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  filebeat/tests/system/test_processors.py
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/processors/actions/checks.go
  libbeat/processors/actions/checks_test.go
  libbeat/processors/actions/truncate_fields.go
  libbeat/processors/actions/truncate_fields_test.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
Labels: libbeat, needs_docs, review

#11601 Cherry-pick #11346 to 6.7: Don't use multiline options in Logstash module with json format
  CHANGELOG.next.asciidoc
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/log/test/logstash-json.log
  filebeat/module/logstash/log/test/logstash-json.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: backport, review

#11378 Add upgrade docs
  libbeat/docs/upgrading.asciidoc
Labels: docs, needs_backport, v7.0.0

#11614 [7.0] Backport: Add upgrade docs (#11378)
  libbeat/docs/upgrading.asciidoc
Labels: backport, docs, review

#11591 Add missing Kubernetes metadata fields to Filebeat CoreDNS module, and fix a documentation error - issue #11590.
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/coredns.asciidoc
  x-pack/filebeat/module/coredns/_meta/docs.asciidoc
  x-pack/filebeat/module/coredns/log/ingest/pipeline-json.json
  x-pack/filebeat/module/coredns/log/test/coredns-json.log-expected.json
Labels: Filebeat, bug, module, review

#11600 Cherry-pick #11577 to 7.0: docker metadata processor: replace source field with log.field.path
  CHANGELOG.next.asciidoc
  libbeat/processors/add_docker_metadata/add_docker_metadata.go
  libbeat/processors/add_docker_metadata/add_docker_metadata_test.go
Labels: backport, review

#10961 [Metricbeat] Migrate Kubernetes state_deployment Metricset to use ReporterV2 interface
  metricbeat/mb/testing/data/data_test.go
  metricbeat/module/kubernetes/state_deployment/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_deployment/_meta/testdata/ksm-v1.3.0.plain
  metricbeat/module/kubernetes/state_deployment/_meta/testdata/ksm-v1.3.0.plain-expected.json
  metricbeat/module/kubernetes/state_deployment/state_deployment.go
  metricbeat/module/kubernetes/state_deployment/state_deployment_test.go
Labels: :infrastructure, Metricbeat, review

#11012 [Metricbeat] Migrate Ceph monitor_health to use ReporterV2 interface
  metricbeat/module/ceph/monitor_health/_meta/data.json
  metricbeat/module/ceph/monitor_health/_meta/testdata/config.yml
  metricbeat/module/ceph/monitor_health/_meta/testdata/docs.json
  metricbeat/module/ceph/monitor_health/_meta/testdata/docs.json-expected.json
  metricbeat/module/ceph/monitor_health/data.go
  metricbeat/module/ceph/monitor_health/monitor_health.go
  metricbeat/module/ceph/monitor_health/monitor_health_integration_test.go
  metricbeat/module/ceph/monitor_health/monitor_health_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, in progress

#11564 Close changelog for 7.0.0-rc2
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.0.0

#11566 Bump docs version for 7.0.0-rc2
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v7.0.0

#11618 Cherry-pick #11439 to 7.0: Update breaking changes docs
  auditbeat/docs/breaking.asciidoc
  libbeat/docs/breaking.asciidoc
Labels: backport, docs, review

#11617 Cherry-pick #11237 to 7.0: Add missing docs for filebeat.registry.migrate_file
  filebeat/_meta/common.reference.p2.yml
  filebeat/docs/filebeat-general-options.asciidoc
  filebeat/filebeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, docs, review

#11589 Add scripts for aws module to help testing locally
  x-pack/metricbeat/module/aws/mtest/scripts/README.md
  x-pack/metricbeat/module/aws/mtest/scripts/get_temp_creds.go
  x-pack/metricbeat/module/aws/mtest/scripts/sqs_send_receive_delete.go
Labels: :infrastructure, review

#11630 Skip flaky ML setup system tests in Filebeat
  filebeat/tests/system/test_ml.py
Labels: Filebeat, flaky-test, review

#11615 Cherry-pick #11239 to 7.0: Add docs for new processors
  libbeat/docs/processors-using.asciidoc
Labels: backport, docs, review

#11631 Skip flaky docker provider test in libbeat
  libbeat/autodiscover/providers/docker/docker_integration_test.go
Labels: flaky-test, libbeat, review

#11452 [6.7] Backport: Make geoip steps generic and move to libbeat (#10947)
  auditbeat/docs/configuring-howto.asciidoc
  auditbeat/docs/images/coordinate-map.png
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/images/coordinate-map.png
  heartbeat/docs/configuring-howto.asciidoc
  heartbeat/docs/images/coordinate-map.png
  journalbeat/docs/configuring-howto.asciidoc
  journalbeat/docs/images/coordinate-map.png
  libbeat/docs/shared-geoip.asciidoc
  metricbeat/docs/configuring-howto.asciidoc
  metricbeat/docs/images/coordinate-map.png
  packetbeat/docs/configuring-howto.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/images/coordinate-map.png
  packetbeat/docs/images/kibana-update-map.png
  packetbeat/docs/index.asciidoc
  packetbeat/docs/packetbeat-geoip.asciidoc
  winlogbeat/docs/configuring-howto.asciidoc
  winlogbeat/docs/images/coordinate-map.png
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/images/coordinate-map.png
Labels: backport, docs, review

#11583 [6.7] Backport: Fix minor typos (#11408)
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
Labels: backport, docs, review, v6.7.1

#11453 [7.0] Backport: Make geoip steps generic and move to libbeat (#10947)
  auditbeat/docs/configuring-howto.asciidoc
  auditbeat/docs/images/coordinate-map.png
  filebeat/docs/configuring-howto.asciidoc
  filebeat/docs/images/coordinate-map.png
  heartbeat/docs/configuring-howto.asciidoc
  heartbeat/docs/images/coordinate-map.png
  journalbeat/docs/configuring-howto.asciidoc
  journalbeat/docs/images/coordinate-map.png
  libbeat/docs/shared-geoip.asciidoc
  metricbeat/docs/configuring-howto.asciidoc
  metricbeat/docs/images/coordinate-map.png
  packetbeat/docs/configuring-howto.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/images/coordinate-map.png
  packetbeat/docs/images/kibana-update-map.png
  packetbeat/docs/index.asciidoc
  packetbeat/docs/packetbeat-geoip.asciidoc
  winlogbeat/docs/configuring-howto.asciidoc
  winlogbeat/docs/images/coordinate-map.png
  x-pack/functionbeat/docs/configuring-howto.asciidoc
  x-pack/functionbeat/docs/images/coordinate-map.png
Labels: backport, docs, review

#11582 [7.0] Backport: Remove beta tag
  libbeat/docs/shared-ilm.asciidoc
Labels: backport, docs, review, v7.0.0

#11584 [7.0] Backport: Fix minor typos (#11408)
  x-pack/functionbeat/docs/getting-started.asciidoc
  x-pack/functionbeat/docs/overview.asciidoc
Labels: backport, docs, review, v7.0.0

#11587 [7.0] Backport: Fix missing period in setup.dashboards.always_kibana. (#11495)
  libbeat/docs/dashboardsconfig.asciidoc
Labels: backport, docs, review

#11586 [master] Forward port: Fix missing period in setup.dashboards.always_kibana. (#11495)
  libbeat/docs/dashboardsconfig.asciidoc
Labels: backport, docs, review

#11616 Collect field also being collected by internal collector
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/index/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.1.0, v8.0.0

#9260 Support shipping directly to monitoring cluster
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/monitoring.go
  libbeat/monitoring/report/elasticsearch/client.go
  libbeat/monitoring/report/elasticsearch/config.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
  libbeat/monitoring/report/report.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  libbeat/tests/system/config/mockbeat.yml.j2
  libbeat/tests/system/test_monitoring.py
Labels: Stack monitoring, in progress, libbeat, v7.1.0, v8.0.0

#10974 [Metricbeat] Migrate Kubernetes state_replicaset Metricset to use ReporterV2 interface
  metricbeat/module/kubernetes/state_replicaset/_meta/data.json
  metricbeat/module/kubernetes/state_replicaset/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_replicaset/_meta/testdata/docs.plain
  metricbeat/module/kubernetes/state_replicaset/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_replicaset/state_replicaset.go
  metricbeat/module/kubernetes/state_replicaset/state_replicaset_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#10976 [Metricbeat] Migrate Kubernetes state_statefulset Metricset to use ReporterV2 interface
  metricbeat/module/kubernetes/state_statefulset/_meta/data.json
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/docs.plain
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_statefulset/state_statefulset.go
  metricbeat/module/kubernetes/state_statefulset/state_statefulset_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#11639 Add missing `$` in example autodiscover config
  metricbeat/docs/autodiscover-kubernetes-config.asciidoc
Labels: bug, docs, needs_backport

#11647 Bump docs version for 6.7.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: release, review, v6.7.1

#11636 [Metricbeat] migrate postgres to ReporterV2 with new error handling
  metricbeat/module/postgresql/activity/activity.go
  metricbeat/module/postgresql/activity/activity_integration_test.go
  metricbeat/module/postgresql/bgwriter/bgwriter.go
  metricbeat/module/postgresql/bgwriter/bgwriter_integration_test.go
  metricbeat/module/postgresql/database/database.go
  metricbeat/module/postgresql/database/database_integration_test.go
  metricbeat/module/postgresql/postgresql.go
  metricbeat/module/postgresql/statement/statement.go
  metricbeat/module/postgresql/statement/statement_integration_test.go
  metricbeat/module/postgresql/testing.go
Labels: Metricbeat, technical_debt

#11561 Bump version to 6.7.2
  libbeat/version/version.go
Labels: in progress, release, review, v6.7.2

#11569 Cherry-pick #11212 to 7.0: Use PYTHON_EXE env var as the python interpreter
  CHANGELOG-developer.next.asciidoc
  dev-tools/mage/pytest.go
  libbeat/scripts/Makefile
Labels: backport, review

#11570 Cherry-pick #11212 to 6.7: Use PYTHON_EXE env var as the python interpreter
  CHANGELOG-developer.next.asciidoc
  dev-tools/mage/pytest.go
  libbeat/scripts/Makefile
Labels: backport, review

#10973 [Metricbeat] Migrate Kubernetes state_pod Metricset to use ReporterV2 interface
  metricbeat/module/kubernetes/state_pod/_meta/data.json
  metricbeat/module/kubernetes/state_pod/_meta/testdata/config.yml
  metricbeat/module/kubernetes/state_pod/_meta/testdata/docs.plain
  metricbeat/module/kubernetes/state_pod/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_pod/state_pod.go
  metricbeat/module/kubernetes/state_pod/state_pod_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, in progress

#11585 [7.0] Backport: Indicate that ILM is on by default and add new settings (#11485)
  libbeat/docs/shared-ilm.asciidoc
  libbeat/docs/shared-kibana-config.asciidoc
  libbeat/docs/shared-path-config.asciidoc
Labels: backport, docs, review, v7.0.0

#9118 Module configuration variants
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/cfgfile/glob_manager.go
  libbeat/cfgfile/glob_manager_test.go
  metricbeat/docs/metricbeat-options.asciidoc
  metricbeat/module/elasticsearch/_meta/config-xpack.yml
  metricbeat/module/kibana/_meta/config-xpack.yml
  metricbeat/modules.d/elasticsearch-xpack.yml.disabled
  metricbeat/modules.d/kibana-xpack.yml.disabled
Labels: Filebeat, Metricbeat, Stack monitoring, enhancement, module, review

#11432 [Auditbeat] normalized event.type/category/outcome fields for auditd module
  CHANGELOG.next.asciidoc
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/audit_linux_test.go
Labels: Auditbeat, SecOps, ecs, review

#11628 [Auditbeat] Package: Nullify Librpm's rpmsqEnable
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, needs_backport, review

#11634 [Auditbeat] Package: Enable suse
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
Labels: Auditbeat, SecOps, needs_backport, review

#11672 Cherry-pick #11671 to 7.0: Fix template/policy is always overwritten
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/idxmgmt/idxmgmt.go
  libbeat/idxmgmt/ilm/ilm.go
  libbeat/idxmgmt/ilm/ilm_test.go
  libbeat/idxmgmt/ilm/noop.go
  libbeat/idxmgmt/ilm/std.go
  libbeat/idxmgmt/mockilm_test.go
  libbeat/idxmgmt/std.go
Labels: backport, review

#11664 [Auditbeat] Cherry-pick #11628 to 7.0: Package: Nullify Librpm's rpmsqEnable
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, backport, review

#11665 [Auditbeat] Cherry-pick #11628 to 6.7: Package: Nullify Librpm's rpmsqEnable
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, backport, review

#11678 Updating monitoring docs with direct monitoring configuration
  libbeat/docs/monitoring/monitoring-beats.asciidoc
Labels: Stack monitoring, docs, libbeat, needs_backport, review, v7.1.0, v8.0.0

#11671 Fix template/policy is always overwritten
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/idxmgmt/idxmgmt.go
  libbeat/idxmgmt/ilm/ilm.go
  libbeat/idxmgmt/ilm/ilm_test.go
  libbeat/idxmgmt/ilm/noop.go
  libbeat/idxmgmt/ilm/std.go
  libbeat/idxmgmt/mockilm_test.go
  libbeat/idxmgmt/std.go
Labels: bug, libbeat, v7.0.0

#11669 [Auditbeat] Cherry-pick #11634 to 7.0: Package: Enable suse
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
Labels: Auditbeat, SecOps, backport, review

#11670 [Auditbeat] Cherry-pick #11634 to 6.7: Package: Enable suse
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
Labels: Auditbeat, SecOps, backport, review

#11660 Add moduleFlag, omitDocumentedFieldsCheck and ModuleConfig to http testing framework
  metricbeat/mb/testing/data/data_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, review

#11653 [metricbeat] migrate mongodb to reporterv2 with error handling
  metricbeat/module/mongodb/collstats/collstats.go
  metricbeat/module/mongodb/collstats/collstats_integration_test.go
  metricbeat/module/mongodb/dbstats/dbstats.go
  metricbeat/module/mongodb/dbstats/dbstats_integration_test.go
  metricbeat/module/mongodb/metrics/metrics.go
  metricbeat/module/mongodb/metrics/metrics_intergration_test.go
  metricbeat/module/mongodb/replstatus/info.go
  metricbeat/module/mongodb/replstatus/replstatus.go
  metricbeat/module/mongodb/replstatus/replstatus_integration_test.go
  metricbeat/module/mongodb/status/status.go
  metricbeat/module/mongodb/status/status_integration_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review

#11604 [Fix] Do not hide error on http failure
  CHANGELOG.next.asciidoc
  x-pack/libbeat/licenser/elastic_fetcher.go
Labels: libbeat, review

#11675 Fix formatting for `event.duration`
  auditbeat/include/fields.go
  filebeat/include/fields.go
  heartbeat/include/fields.go
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/_meta/fields.ecs.yml
  metricbeat/include/fields/fields.go
  packetbeat/include/fields.go
  winlogbeat/include/fields.go
  x-pack/functionbeat/include/fields.go
Labels: ecs, needs_backport, v7.0.1

#11648 [CM] Parse enrollment_token response correctly
  CHANGELOG.next.asciidoc
  x-pack/libbeat/management/api/enrollment_token.go
  x-pack/libbeat/management/api/enrollment_token_test.go
  x-pack/libbeat/management/enroll.go
  x-pack/libbeat/tests/system/test_management.py
Labels: Management, libbeat, review

#11654 Remove cluster_name from under cluster_stats field
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.1.0, v8.0.0

#11685 7.0 release notes
  libbeat/docs/release-notes/7.0.0.asciidoc
Labels: docs, review

#11705 Close changelog for 7.0.0
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release-notes/7.0.0.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.0.0

#11621 Add release highlights
  libbeat/docs/highlights-7.0.0.asciidoc
  libbeat/docs/highlights.asciidoc
  libbeat/docs/index.asciidoc
Labels: docs, needs_backport, v7.0.0

#11698 Remove Windows XP comment from README
  winlogbeat/README.md
Labels: Winlogbeat, review

#11673 Add license requirement to breaking changes
  libbeat/docs/breaking.asciidoc
Labels: docs, review

#11708 [7.0] Backport: Add release highlights
  libbeat/docs/highlights-7.0.0.asciidoc
  libbeat/docs/highlights.asciidoc
  libbeat/docs/index.asciidoc
Labels: backport, docs, review

#11711 CoreDNS tests fix
  metricbeat/module/coredns/_meta/Dockerfile
  metricbeat/module/coredns/_meta/config/Corefile
  metricbeat/module/coredns/_meta/config/mydomain.hosts
Labels: :infrastructure, Metricbeat, review

#11716 [Metricbeat] Add remove fields option to mocked tests config
  metricbeat/mb/testing/data/config.yml
  metricbeat/mb/testing/data/data_test.go
Labels: :infrastructure, Metricbeat, review

#11717 Update add_docker_metadata docs after latest changes
  libbeat/docs/processors-using.asciidoc
Labels: docs, needs_backport, review

#11718 Cherry-pick #11717 to 7.0: Update add_docker_metadata docs after latest changes
  libbeat/docs/processors-using.asciidoc
Labels: backport, review

#11659 [metricbeat] migrate zookeeper to reporter V2 with error handling
  metricbeat/module/zookeeper/mntr/data.go
  metricbeat/module/zookeeper/mntr/mntr.go
  metricbeat/module/zookeeper/mntr/mntr_integration_test.go
  metricbeat/module/zookeeper/server/data.go
  metricbeat/module/zookeeper/server/data_integration_test.go
  metricbeat/module/zookeeper/server/server.go
  metricbeat/module/zookeeper/server/server_integration_test.go
  metricbeat/module/zookeeper/server/server_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, technical_debt

#11638 Fix upgrade docs for issues found during testing
  libbeat/docs/upgrade-setup-commands.asciidoc
  libbeat/docs/upgrading.asciidoc
Labels: docs, in progress

#11727 [7.0] Backport: Fix upgrade docs for issues found during testing (#11638)
  libbeat/docs/upgrade-setup-commands.asciidoc
  libbeat/docs/upgrading.asciidoc
Labels: backport, docs, review

#11681 Remove Logstash Forwarder migration content
  filebeat/docs/index.asciidoc
  filebeat/docs/migration.asciidoc
Labels: Filebeat, docs, needs_backport, review

#11612 Change add_cloud_metadata to not overwrite cloud field
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2_test.go
Labels: :infrastructure, [zube]: In Review, discuss, needs_backport, review, v7.0.0

#11706 Bump docs version for 7.0.0
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v7.0.0

#11361 Read archived .evtx files with Winlogbeat
  CHANGELOG.next.asciidoc
  winlogbeat/_meta/beat.reference.yml
  winlogbeat/_meta/fields.common.yml
  winlogbeat/beater/acker.go
  winlogbeat/beater/eventlogger.go
  winlogbeat/beater/winlogbeat.go
  winlogbeat/config/config.go
  winlogbeat/config/config_test.go
  winlogbeat/docs/faq.asciidoc
  winlogbeat/docs/fields.asciidoc
  winlogbeat/docs/winlogbeat-options.asciidoc
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/factory.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/eventlog/wineventlog_test.go
  winlogbeat/include/fields.go
  winlogbeat/sys/eventlogging/zsyscall_windows.go
  winlogbeat/sys/wineventlog/syscall_windows.go
  winlogbeat/sys/wineventlog/testdata/sysmon-9.01.evtx
  winlogbeat/sys/wineventlog/wineventlog_windows.go
  winlogbeat/sys/wineventlog/wineventlog_windows_test.go
  winlogbeat/sys/wineventlog/zsyscall_windows.go
  winlogbeat/winlogbeat.reference.yml
Labels: :Windows, SecOps, Winlogbeat, enhancement, review

#11710 Cherry-pick #11494 to 6.7: Update github.com/elastic/go-sysinfo
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/providers/linux/container.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/machineid.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/os.go
  vendor/vendor.json
Labels: backport, review

#11680 Make it possible to chain Beat processors in the script processor
  libbeat/processors/actions/add_fields.go
  libbeat/processors/actions/copy_fields.go
  libbeat/processors/actions/rename.go
  libbeat/processors/actions/truncate_fields.go
  libbeat/processors/script/javascript/module/processor/chain.go
  libbeat/processors/script/javascript/module/processor/processor.go
  libbeat/processors/script/javascript/module/processor/processor_test.go
Labels: :Processors, review

#11712 Make mage dependency for clean
  Makefile
Labels: :Testing, review

#11691 [Libbeat] Fix array matching in contains condition
  CHANGELOG.next.asciidoc
  libbeat/common/match/matcher.go
  libbeat/conditions/conditions_test.go
  libbeat/conditions/matcher.go
  libbeat/conditions/matcher_test.go
Labels: bug, libbeat, review

#11525 [Auditbeat] Fix misleading user/uid for login events
  auditbeat/module/auditd/audit_linux.go
  auditbeat/module/auditd/audit_linux_test.go
Labels: Auditbeat, review

#11723 Close dev changelog for 7.0.0
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v7.0.0

#11724 Update testing env 7.0.0
  testing/environments/snapshot-oss.yml
Labels: :Testing, release, review, v7.0.0

#11731 Remove duplicate changelog entries
  CHANGELOG.next.asciidoc
Labels: :infrastructure, [zube]: In Review, review

#11725 Bump version to 7.0.1
  libbeat/version/version.go
Labels: in progress, release, review, v7.0.1

#11542 Cherry-pick #11530 to 6.7: Updated kafka version to 2.1.1
  metricbeat/docker-compose.yml
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/module/kafka/_meta/Dockerfile
  metricbeat/module/kafka/_meta/docs.asciidoc
  testing/environments/docker/kafka/Dockerfile
Labels: backport, review

#11735 Add examples for setting default_field on beats indices
  libbeat/docs/troubleshooting/default_field.md
  libbeat/docs/upgrading.asciidoc
Labels: docs, libbeat, needs_backport, review

#11687 Change cloud.provider from ec2 to aws and from gce to gcp in add_cloud_metadata
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/provider_aws_ec2.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2_test.go
  libbeat/processors/add_cloud_metadata/provider_google_gce.go
  libbeat/processors/add_cloud_metadata/provider_google_gce_test.go
Labels: :infrastructure, [zube]: In Review, libbeat, needs_backport, review, v7.0.0

#11688 Change debug message on autodiscover to report actual configurations
  libbeat/autodiscover/appender.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/builder.go
  libbeat/autodiscover/provider.go
  libbeat/autodiscover/registry.go
Labels: autodiscovery, needs_backport, review

#11715 [Metricbeat] Added mage target to run mocket tests
  metricbeat/magefile.go
Labels: :infrastructure, Metricbeat, review

#11746 Update github.com/elastic/go-seccomp-bpf
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-seccomp-bpf/arch/zarches.go
  vendor/github.com/elastic/go-seccomp-bpf/arch/zsyscalls.go
  vendor/github.com/elastic/go-seccomp-bpf/cmd/seccomp-profiler/disasm/disasm.go
  vendor/github.com/elastic/go-seccomp-bpf/cmd/seccomp-profiler/main.go
  vendor/github.com/elastic/go-seccomp-bpf/filter.go
  vendor/github.com/elastic/go-seccomp-bpf/go.mod
  vendor/github.com/elastic/go-seccomp-bpf/go.sum
  vendor/vendor.json
Labels: review

#10986 [Metricbeat] Migrate Apache status Metricset to use ReporterV2 interface
  metricbeat/module/apache/status/_meta/data.json
  metricbeat/module/apache/status/_meta/testdata/config.yml
  metricbeat/module/apache/status/_meta/testdata/docs.plain
  metricbeat/module/apache/status/_meta/testdata/docs.plain-expected.json
  metricbeat/module/apache/status/status.go
  metricbeat/module/apache/status/status_integration_test.go
  metricbeat/module/apache/status/status_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, review

#11743 [Metricbeat] Migrate Dropwizard collector Metricset to use ReporterV2Error interface
  metricbeat/module/dropwizard/collector/_meta/data.json
  metricbeat/module/dropwizard/collector/_meta/testdata/config.yml
  metricbeat/module/dropwizard/collector/_meta/testdata/docs.json
  metricbeat/module/dropwizard/collector/_meta/testdata/docs.json-expected.json
  metricbeat/module/dropwizard/collector/collector.go
  metricbeat/module/dropwizard/collector/collector_integration_test.go
Labels: :infrastructure, Metricbeat, review

#11721 Enable docker provider integration test
  libbeat/autodiscover/providers/docker/docker_integration_test.go
Labels: needs_backport, review

#11754 Refactoring: use logger from base metricset
  metricbeat/module/elasticsearch/ccr/ccr.go
  metricbeat/module/elasticsearch/cluster_stats/cluster_stats.go
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/index_recovery/index_recovery.go
  metricbeat/module/elasticsearch/index_summary/index_summary.go
  metricbeat/module/elasticsearch/metricset.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/node/node.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
  metricbeat/module/elasticsearch/pending_tasks/pending_tasks.go
  metricbeat/module/elasticsearch/shard/shard.go
  metricbeat/module/kibana/metricset.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/status/status.go
  metricbeat/module/logstash/logstash.go
  metricbeat/module/logstash/node/node.go
  metricbeat/module/logstash/node_stats/node_stats.go
Labels: Metricbeat, Stack monitoring, needs_backport, refactoring, review, v7.1.0, v8.0.0

#11730 Cherry-pick to 7.0: Change add_cloud_metadata to not overwrite cloud field (#11612)
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/add_cloud_metadata.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2_test.go
Labels: backport

#11745 [Metricbeat] updated docs & generator to the new reporterV2 w/ error interface
  docs/devguide/create-metricset.asciidoc
  metricbeat/scripts/module/metricset/metricset.go.tmpl
Labels: :Generator, :infrastructure, Metricbeat, docs, technical_debt

#11744 Backport #11675 to 7.0: Fix formatting for `event.duration`
  auditbeat/include/fields.go
  filebeat/include/fields.go
  heartbeat/include/fields.go
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/_meta/fields.ecs.yml
  metricbeat/include/fields/fields.go
  packetbeat/include/fields.go
  winlogbeat/include/fields.go
  x-pack/functionbeat/include/fields.go
Labels: backport, ecs, v7.0.1

#11728 Cherry-pick #11676 to 6.7: check for a valid limit before we process a memory event
  CHANGELOG.next.asciidoc
  metricbeat/module/docker/memory/helper.go
  metricbeat/module/docker/memory/memory.go
Labels: :infrastructure, Metricbeat, backport, bug

#11768 Temporary fix for debian7
  x-pack/auditbeat/magefile.go
Labels: :Packaging, needs_backport, review

#11770 Cherry-pick #11768 to 6.7: Temporary fix for debian7
  x-pack/auditbeat/magefile.go
Labels: :Packaging, backport, review

#11771 Cherry-pick #11768 to 7.0: Temporary fix for debian7
  x-pack/auditbeat/magefile.go
Labels: :Packaging, backport, review

#11772 Cherry-pick #11768 to 7.x: Temporary fix for debian7
  x-pack/auditbeat/magefile.go
Labels: :Packaging, backport, review

#11763 Refactoring: use new Fetch interface that automatically reports and logs errors
  metricbeat/module/kibana/stats/data.go
  metricbeat/module/kibana/stats/stats.go
  metricbeat/module/kibana/stats/stats_integration_test.go
  metricbeat/module/kibana/status/data.go
  metricbeat/module/kibana/status/status.go
  metricbeat/module/kibana/status/status_integration_test.go
Labels: Metricbeat, Stack monitoring, module, refactoring, review, v7.1.0, v8.0.0

#11767 Refactoring: use new Fetch interface that automatically reports and logs errors
  metricbeat/module/logstash/logstash_integration_test.go
  metricbeat/module/logstash/node/data.go
  metricbeat/module/logstash/node/node.go
  metricbeat/module/logstash/node_stats/data.go
  metricbeat/module/logstash/node_stats/node_stats.go
Labels: Metricbeat, Stack monitoring, module, refactoring, review, v7.1.0, v8.0.0

#11605 Fix: Correctly initialize the Logger for the TCP input instance.
  CHANGELOG.next.asciidoc
  filebeat/input/tcp/input.go
Labels: Filebeat, needs_backport, review

#11765 Cherry-pick to 7.0: Change cloud.provider from ec2 to aws and from gce to gcp in add_clou…
  CHANGELOG.next.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/add_cloud_metadata/provider_aws_ec2.go
  libbeat/processors/add_cloud_metadata/provider_aws_ec2_test.go
  libbeat/processors/add_cloud_metadata/provider_google_gce.go
  libbeat/processors/add_cloud_metadata/provider_google_gce_test.go
Labels: backport, review

#11759 Fix Prometheus histograms when keylabels and values sit at the same path
  metricbeat/helper/prometheus/prometheus.go
  metricbeat/helper/prometheus/prometheus_test.go
Labels: :infrastructure, Metricbeat, review

#11791 Cherry-pick #11789 to 7.0: set user/group under systemd
  dev-tools/packaging/templates/linux/systemd.unit.tmpl
Labels: backport, review

#11749 Add apache2 renaming to breaking changes doc
  libbeat/docs/breaking.asciidoc
Labels: :infrastructure, Filebeat, docs, module, needs_backport, review

#11773 Fix typo reported by user
  metricbeat/docs/fields.asciidoc
  metricbeat/module/system/fields.go
  metricbeat/module/system/socket_summary/_meta/fields.yml
Labels: Metricbeat, docs, needs_backport, review

#11797 Fixing name of ES API in error message
  metricbeat/module/elasticsearch/pending_tasks/data.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v6.7.2, v7.0.1, v7.1.0, v8.0.0

#11796 Don't report errors in x-pack code path
  metricbeat/module/elasticsearch/ccr/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, bug, module, needs_backport, review, v6.7.2, v7.0.1, v7.1.0, v8.0.0

#11795 Refactoring: use new Fetch interface that automatically reports and logs errors
  metricbeat/module/elasticsearch/ccr/ccr.go
  metricbeat/module/elasticsearch/ccr/data.go
  metricbeat/module/elasticsearch/cluster_stats/cluster_stats.go
  metricbeat/module/elasticsearch/cluster_stats/data.go
  metricbeat/module/elasticsearch/index/data.go
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/index_recovery/data.go
  metricbeat/module/elasticsearch/index_recovery/index_recovery.go
  metricbeat/module/elasticsearch/index_summary/data.go
  metricbeat/module/elasticsearch/index_summary/index_summary.go
  metricbeat/module/elasticsearch/ml_job/data.go
  metricbeat/module/elasticsearch/ml_job/ml_job.go
  metricbeat/module/elasticsearch/node/data.go
  metricbeat/module/elasticsearch/node/node.go
  metricbeat/module/elasticsearch/node/node_test.go
  metricbeat/module/elasticsearch/node_stats/data.go
  metricbeat/module/elasticsearch/node_stats/node_stats.go
  metricbeat/module/elasticsearch/pending_tasks/data.go
  metricbeat/module/elasticsearch/pending_tasks/pending_tasks.go
  metricbeat/module/elasticsearch/shard/data.go
  metricbeat/module/elasticsearch/shard/shard.go
Labels: Metricbeat, Stack monitoring, in progress, module, needs_backport, refactoring, v7.1.0, v8.0.0

#11804 Cherry-pick #11797 to 7.0: Fixing name of ES API in error message
  metricbeat/module/elasticsearch/pending_tasks/data.go
Labels: backport, review

#11808 Cherry-pick #11796 to 7.0: Don't report errors in x-pack code path
  metricbeat/module/elasticsearch/ccr/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack.go
Labels: backport, review

#11807 Skip flaky Kibana Stats integration test
  metricbeat/module/kibana/stats/stats_integration_test.go
Labels: flaky-test

#11805 Cherry-pick #11797 to 6.7: Fixing name of ES API in error message
  metricbeat/module/elasticsearch/pending_tasks/data.go
Labels: backport, review

#11817 Update Jinja2 version to 2.10.1
  CHANGELOG-developer.next.asciidoc
  libbeat/tests/system/requirements.txt
Labels: libbeat, review

#11662 Fix flaky service_integration_windows_test
  CHANGELOG.next.asciidoc
  metricbeat/module/windows/service/service_integration_windows_test.go
Labels: :Windows, :infrastructure, [zube]: In Review, review

#11809 Cherry-pick #11796 to 6.7: Don't report errors in x-pack code path
  metricbeat/module/elasticsearch/ccr/data_xpack.go
  metricbeat/module/kibana/stats/data_xpack.go
Labels: backport, review

#11070 [Metricbeat] Add Zookeeper connections metricset
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/zookeeper.asciidoc
  metricbeat/docs/modules/zookeeper/connection.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list.go
  metricbeat/module/zookeeper/connection/_meta/data.json
  metricbeat/module/zookeeper/connection/_meta/docs.asciidoc
  metricbeat/module/zookeeper/connection/_meta/fields.yml
  metricbeat/module/zookeeper/connection/connection.go
  metricbeat/module/zookeeper/connection/connection_integration_test.go
  metricbeat/module/zookeeper/connection/connection_test.go
  metricbeat/module/zookeeper/connection/data.go
  metricbeat/module/zookeeper/fields.go
  metricbeat/tests/system/test_zookeeper.py
Labels: :infrastructure, Metricbeat, [zube]: In Review, in progress

#10944 [Filebeat] Add support to unix sockets in Nginx module
  filebeat/docs/fields.asciidoc
  filebeat/module/nginx/access/_meta/fields.yml
  filebeat/module/nginx/access/ingest/default.json
  filebeat/module/nginx/access/test/test.log
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/nginx/fields.go
Labels: :infrastructure, Filebeat, enhancement, review

#11780 [Metricbeat] Mocked Tests: Do not halt if doc check fails
  metricbeat/mb/testing/data/data_test.go
Labels: :infrastructure, Metricbeat, enhancement

#11792 [metricbeat] migrate Redis to reporterV2 with error
  metricbeat/module/redis/info/info.go
  metricbeat/module/redis/info/info_integration_test.go
  metricbeat/module/redis/key/key.go
  metricbeat/module/redis/key/key_integration_test.go
  metricbeat/module/redis/keyspace/data.go
  metricbeat/module/redis/keyspace/keyspace.go
  metricbeat/module/redis/keyspace/keyspace_integration_test.go
Labels: :infrastructure, Metricbeat, technical_debt

#11015 Configurable line terminator
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/filebeat.reference.yml
  filebeat/input/log/config.go
  filebeat/input/log/harvester.go
  filebeat/input/log/harvester_test.go
  filebeat/scripts/tester/main.go
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/input/test-newline.log
  libbeat/reader/multiline/multiline_test.go
  libbeat/reader/readfile/encode.go
  libbeat/reader/readfile/line.go
  libbeat/reader/readfile/line_terminator.go
  libbeat/reader/readfile/line_test.go
  libbeat/reader/readfile/strip_newline.go
  libbeat/reader/readfile/strip_newline_test.go
  x-pack/filebeat/filebeat.reference.yml
Labels: Filebeat, enhancement, review

#11819 [metricbeat] migrate munin to reporterV2 with error return
  metricbeat/module/munin/node/node.go
  metricbeat/module/munin/node/node_integration_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, technical_debt

#11801 Add link to breaking changes and release notes
  auditbeat/docs/breaking.asciidoc
  auditbeat/docs/index.asciidoc
  auditbeat/docs/upgrading.asciidoc
  libbeat/docs/breaking.asciidoc
Labels: Auditbeat, docs, needs_backport, review

#11766 Add missing changelog for issue #11675
  CHANGELOG.next.asciidoc
Labels: ecs, needs_backport, v7.0.1

#11799 [7.0] Backport: Add apache2 renaming to breaking changes doc (#11749)
  libbeat/docs/breaking.asciidoc
Labels: Filebeat, backport, docs, review, v7.0.0

#11769 Add no_dashboards flag to Heartbeat docs
  heartbeat/docs/configuring-howto.asciidoc
  heartbeat/docs/getting-started.asciidoc
  heartbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/shared-docker.asciidoc
Labels: Heartbeat, docs, needs_backport, review

#11726 Cherry-pick #11676 to 7.0: check for a valid limit before we process a memory event
  CHANGELOG.next.asciidoc
  metricbeat/module/docker/memory/helper.go
  metricbeat/module/docker/memory/memory.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, backport, bug
