Repository elastic/beats, pull requests merged in 2019-05, with the labels that each got.

#11506 Extend logstash.node metricset for logstash_state stack monitoring data
  metricbeat/module/logstash/logstash.go
  metricbeat/module/logstash/node/data_xpack.go
  metricbeat/module/logstash/node/node.go
Labels: Stack monitoring, needs_backport, review, v7.1.0, v8.0.0

#11959 Close changelog for 7.0.1
  CHANGELOG-developer.asciidoc
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, review, v7.0.1

#11960 Update testing env 7.0.1
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v7.0.1

#11961 Bump docs version for 7.0.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v7.0.1

#11895 [Heartbeat] Fix incorrect 'Up' status for all mode
  heartbeat/eventext/eventext.go
  heartbeat/monitors/task.go
  heartbeat/monitors/task_test.go
  heartbeat/monitors/util.go
  heartbeat/monitors/wrappers/monitors.go
  heartbeat/monitors/wrappers/monitors_test.go
Labels: :uptime, Heartbeat, bug, needs_backport, review

#11979 [Metricbeat] Migrate ceph to reporter V2 with error handling
  metricbeat/module/ceph/cluster_health/cluster_health.go
  metricbeat/module/ceph/cluster_health/cluster_health_integration_test.go
  metricbeat/module/ceph/cluster_health/cluster_health_test.go
  metricbeat/module/ceph/cluster_health/data.go
  metricbeat/module/ceph/cluster_status/cluster_status.go
  metricbeat/module/ceph/cluster_status/cluster_status_integration_test.go
  metricbeat/module/ceph/cluster_status/cluster_status_test.go
  metricbeat/module/ceph/cluster_status/data.go
  metricbeat/module/ceph/osd_df/data.go
  metricbeat/module/ceph/osd_df/osd_df.go
  metricbeat/module/ceph/osd_df/osd_df_integration_test.go
  metricbeat/module/ceph/osd_df/osd_df_test.go
  metricbeat/module/ceph/osd_tree/data.go
  metricbeat/module/ceph/osd_tree/osd_tree.go
  metricbeat/module/ceph/osd_tree/osd_tree_integration_test.go
  metricbeat/module/ceph/osd_tree/osd_tree_test.go
  metricbeat/module/ceph/pool_disk/data.go
  metricbeat/module/ceph/pool_disk/pool_disk.go
  metricbeat/module/ceph/pool_disk/pool_disk_integration_test.go
  metricbeat/module/ceph/pool_disk/pool_disk_test.go
Labels: :infrastructure, Metricbeat, technical_debt

#11962 Bump version to 7.0.2
  libbeat/version/version.go
Labels: in progress, release, review, v7.0.2

#12013 prepare changelog for 6.8
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review

#12016 Bump docs version for 6.8.0
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
  metricbeat/modules.d/aerospike.yml.disabled
  metricbeat/modules.d/apache.yml.disabled
  metricbeat/modules.d/ceph.yml.disabled
  metricbeat/modules.d/couchbase.yml.disabled
  metricbeat/modules.d/docker.yml.disabled
  metricbeat/modules.d/dropwizard.yml.disabled
  metricbeat/modules.d/elasticsearch.yml.disabled
  metricbeat/modules.d/envoyproxy.yml.disabled
  metricbeat/modules.d/etcd.yml.disabled
  metricbeat/modules.d/golang.yml.disabled
  metricbeat/modules.d/graphite.yml.disabled
  metricbeat/modules.d/haproxy.yml.disabled
  metricbeat/modules.d/http.yml.disabled
  metricbeat/modules.d/jolokia.yml.disabled
  metricbeat/modules.d/kafka.yml.disabled
  metricbeat/modules.d/kibana.yml.disabled
  metricbeat/modules.d/kubernetes.yml.disabled
  metricbeat/modules.d/kvm.yml.disabled
  metricbeat/modules.d/logstash.yml.disabled
  metricbeat/modules.d/memcached.yml.disabled
  metricbeat/modules.d/mongodb.yml.disabled
  metricbeat/modules.d/munin.yml.disabled
  metricbeat/modules.d/mysql.yml.disabled
  metricbeat/modules.d/nginx.yml.disabled
  metricbeat/modules.d/php_fpm.yml.disabled
  metricbeat/modules.d/postgresql.yml.disabled
  metricbeat/modules.d/prometheus.yml.disabled
  metricbeat/modules.d/rabbitmq.yml.disabled
  metricbeat/modules.d/redis.yml.disabled
  metricbeat/modules.d/system.yml
  metricbeat/modules.d/traefik.yml.disabled
  metricbeat/modules.d/uwsgi.yml.disabled
  metricbeat/modules.d/vsphere.yml.disabled
  metricbeat/modules.d/windows.yml.disabled
  metricbeat/modules.d/zookeeper.yml.disabled
Labels: docs, in progress, release, review

#12017 Bump version to 6.8.0
  libbeat/version/version.go
Labels: release, review, v6.8.0

#12019 Create changelog for 7.1.0
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review

#12022 Bump version to 7.1.0
  libbeat/version/version.go
Labels: in progress, release, review, v7.1.0

#11798 [Metricbeat] Adding cloudwatch metricset into AWS module
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/aws.asciidoc
  metricbeat/docs/modules/aws/cloudwatch.asciidoc
  metricbeat/docs/modules_list.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/aws/_meta/config.yml
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/aws_test.go
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/cloudwatch/_meta/fields.yml
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_integration_test.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/fields.go
  x-pack/metricbeat/module/aws/utils.go
  x-pack/metricbeat/module/aws/utils_test.go
  x-pack/metricbeat/modules.d/aws.yml.disabled
Labels: :infrastructure, [zube]: In Review, review

#11997 Cherry-pick to 7.0: Update documentation with cloudwatch:ListMetrics permission (#11987)
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
Labels: backport

#11993 [Auditbeat] Socket dataset: Exclude localhost by default
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/config.go
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/socket/socket_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, breaking change, review

#11980 Remove unneeded checks from data generators
  metricbeat/module/docker/container/container_integration_test.go
  metricbeat/module/docker/cpu/cpu_integration_test.go
  metricbeat/module/docker/diskio/diskio_integration_test.go
  metricbeat/module/docker/healthcheck/healthcheck_integration_test.go
  metricbeat/module/docker/memory/memory_integration_test.go
Labels: :Testing, :infrastructure, Metricbeat, module

#12027 Add missing changelog entries 6.7.2
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
Labels: docs, release, review, v6.7.2

#11918 Bump docs version for 6.7.2
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, review, v6.7.2

#12008 Adding JSON paths to FB ES module docs
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: Filebeat, Stack monitoring, docs, module, needs_backport, review, v7.0.2, v7.2.0, v8.0.0

#11956 Add regions parameter in aws module config
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/aws.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/aws/_meta/config.yml
  x-pack/metricbeat/module/aws/_meta/docs.asciidoc
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/modules.d/aws.yml.disabled
Labels: :infrastructure, Metricbeat, [zube]: In Review, review

#12007 Cherry-pick #11895 to 7.0: [Heartbeat] Fix incorrect 'Up' status for all mode
  heartbeat/eventext/eventext.go
  heartbeat/monitors/task.go
  heartbeat/monitors/task_test.go
  heartbeat/monitors/util.go
  heartbeat/monitors/wrappers/monitors.go
  heartbeat/monitors/wrappers/monitors_test.go
Labels: backport, review

#11899 Bump version to 6.7.3
  libbeat/version/version.go
Labels: in progress, release, review, v6.7.3

#12014 Update testing env 6.8.0
  testing/environments/args.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review

#12020 Update testing env 7.1.0
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, release, review, v7.0.2

#12006 Asciidoctor migration
  docs/devguide/migrate-dashboards.asciidoc
  docs/devguide/newdashboards.asciidoc
  filebeat/docs/index.asciidoc
  journalbeat/docs/index.asciidoc
  libbeat/docs/command-reference.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/security/securing-beats.asciidoc
  libbeat/docs/shared-central-management.asciidoc
  libbeat/docs/shared-docker.asciidoc
  libbeat/docs/shared-path-config.asciidoc
  libbeat/docs/step-configure-output.asciidoc
  metricbeat/docs/index.asciidoc
  winlogbeat/docs/index.asciidoc
Labels: docs, in progress

#12036 Fix return placement in cli_test
  libbeat/common/cli/cli_test.go
Labels: libbeat, review

#11955 Remove _nodes field from under cluster_stats as it's not being used
  metricbeat/module/elasticsearch/cluster_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, module, needs_backport, review, v7.2.0, v8.0.0

#12030 [7.1] Adding JSON paths to FB ES module docs (#12008)
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: backport

#12031 [7.0] Adding JSON paths to FB ES module docs (#12008)
  filebeat/docs/modules/elasticsearch.asciidoc
  filebeat/module/elasticsearch/_meta/docs.asciidoc
Labels: backport

#12034 [docs] APM Elasticsearch output config
  libbeat/docs/outputconfig.asciidoc
Labels: :apm, docs

#11852 Update docs.asciidoc
  filebeat/docs/modules/iptables.asciidoc
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
Labels: SecOps, docs, review

#11862 Add more platform-specific commands to upgrade docs
  libbeat/docs/upgrade-setup-commands.asciidoc
Labels: docs, needs_backport, review

#11949 [Auditbeat] Cherry-pick #11667 to 6.8: Log error when Homebrew not installed
  CHANGELOG.next.asciidoc
  auditbeat/testing/setup.go
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_homebrew.go
  x-pack/auditbeat/module/system/package/package_homebrew_test.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/package/testdata/homebrew/test-package/1.0.0/.brew/test-package.rb
  x-pack/auditbeat/module/system/package/testdata/homebrew/test-package/1.0.0/INSTALL_RECEIPT.json
Labels: Auditbeat, SecOps, backport, review

#11953 [libbeat] Add flag for rotating log files on startup
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/common/file/rotator.go
  libbeat/common/file/rotator_test.go
  libbeat/docs/loggingconfig.asciidoc
  libbeat/logp/config.go
  libbeat/logp/core.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: docs, libbeat

#12066 Fix filebeat test certificates
  filebeat/tests/system/config/certificates/beats1.crt
  filebeat/tests/system/config/certificates/beats1.key
  filebeat/tests/system/config/certificates/beats2.crt
  filebeat/tests/system/config/certificates/beats2.key
  filebeat/tests/system/config/certificates/cacert.crt
  filebeat/tests/system/config/certificates/cacert.key
  filebeat/tests/system/config/certificates/cacert.srl
  filebeat/tests/system/config/certificates/client1.crt
  filebeat/tests/system/config/certificates/client1.csr
  filebeat/tests/system/config/certificates/client1.key
  filebeat/tests/system/config/certificates/client2.crt
  filebeat/tests/system/config/certificates/client2.csr
  filebeat/tests/system/config/certificates/client2.key
  filebeat/tests/system/config/certificates/generate_certificate.sh
Labels: review

#11165 Clean up config checks / fix heartbeat NPE
  CHANGELOG.next.asciidoc
  filebeat/autodiscover/autodiscover.go
  filebeat/fileset/factory.go
  filebeat/input/runnerfactory.go
  heartbeat/monitors/mocks_test.go
  heartbeat/monitors/monitor.go
  heartbeat/monitors/monitor_test.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/factoryadapter.go
  libbeat/cfgfile/reload.go
Labels: :uptime, Filebeat, Heartbeat, Metricbeat, bug, libbeat, needs_backport

#12073 Cherry-pick #12066 to 7.0: Fix filebeat test certificates
  filebeat/tests/system/config/certificates/beats1.crt
  filebeat/tests/system/config/certificates/beats1.key
  filebeat/tests/system/config/certificates/beats2.crt
  filebeat/tests/system/config/certificates/beats2.key
  filebeat/tests/system/config/certificates/cacert.crt
  filebeat/tests/system/config/certificates/cacert.key
  filebeat/tests/system/config/certificates/cacert.srl
  filebeat/tests/system/config/certificates/client1.crt
  filebeat/tests/system/config/certificates/client1.csr
  filebeat/tests/system/config/certificates/client1.key
  filebeat/tests/system/config/certificates/client2.crt
  filebeat/tests/system/config/certificates/client2.csr
  filebeat/tests/system/config/certificates/client2.key
  filebeat/tests/system/config/certificates/generate_certificate.sh
Labels: backport, review

#12072 Cherry-pick #12066 to 6.8: Fix filebeat test certificates
  filebeat/tests/system/config/certificates/beats1.crt
  filebeat/tests/system/config/certificates/beats1.key
  filebeat/tests/system/config/certificates/beats2.crt
  filebeat/tests/system/config/certificates/beats2.key
  filebeat/tests/system/config/certificates/cacert.crt
  filebeat/tests/system/config/certificates/cacert.key
  filebeat/tests/system/config/certificates/cacert.srl
  filebeat/tests/system/config/certificates/client1.crt
  filebeat/tests/system/config/certificates/client1.csr
  filebeat/tests/system/config/certificates/client1.key
  filebeat/tests/system/config/certificates/client2.crt
  filebeat/tests/system/config/certificates/client2.csr
  filebeat/tests/system/config/certificates/client2.key
  filebeat/tests/system/config/certificates/generate_certificate.sh
Labels: backport, review

#12074 Cherry-pick #12066 to 7.1: Fix filebeat test certificates
  filebeat/tests/system/config/certificates/beats1.crt
  filebeat/tests/system/config/certificates/beats1.key
  filebeat/tests/system/config/certificates/beats2.crt
  filebeat/tests/system/config/certificates/beats2.key
  filebeat/tests/system/config/certificates/cacert.crt
  filebeat/tests/system/config/certificates/cacert.key
  filebeat/tests/system/config/certificates/cacert.srl
  filebeat/tests/system/config/certificates/client1.crt
  filebeat/tests/system/config/certificates/client1.csr
  filebeat/tests/system/config/certificates/client1.key
  filebeat/tests/system/config/certificates/client2.crt
  filebeat/tests/system/config/certificates/client2.csr
  filebeat/tests/system/config/certificates/client2.key
  filebeat/tests/system/config/certificates/generate_certificate.sh
Labels: backport, review

#12075 Merge master into 7.x 2019-05-06
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/autodiscover/autodiscover.go
  filebeat/filebeat.reference.yml
  filebeat/fileset/factory.go
  filebeat/input/runnerfactory.go
  filebeat/tests/system/config/certificates/beats1.crt
  filebeat/tests/system/config/certificates/beats1.key
  filebeat/tests/system/config/certificates/beats2.crt
  filebeat/tests/system/config/certificates/beats2.key
  filebeat/tests/system/config/certificates/cacert.crt
  filebeat/tests/system/config/certificates/cacert.key
  filebeat/tests/system/config/certificates/cacert.srl
  filebeat/tests/system/config/certificates/client1.crt
  filebeat/tests/system/config/certificates/client1.csr
  filebeat/tests/system/config/certificates/client1.key
  filebeat/tests/system/config/certificates/client2.crt
  filebeat/tests/system/config/certificates/client2.csr
  filebeat/tests/system/config/certificates/client2.key
  filebeat/tests/system/config/certificates/generate_certificate.sh
  heartbeat/heartbeat.reference.yml
  heartbeat/monitors/mocks_test.go
  heartbeat/monitors/monitor.go
  heartbeat/monitors/monitor_test.go
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/factoryadapter.go
  libbeat/cfgfile/reload.go
  libbeat/common/file/rotator.go
  libbeat/common/file/rotator_test.go
  libbeat/docs/loggingconfig.asciidoc
  libbeat/docs/outputconfig.asciidoc
  libbeat/docs/upgrade-setup-commands.asciidoc
  libbeat/logp/config.go
  libbeat/logp/core.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: review

#12033 Use time.Duration directly in GetStartTimeEndTime function
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/aws_test.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/s3_daily_storage/s3_daily_storage.go
  x-pack/metricbeat/module/aws/s3_request/s3_request.go
  x-pack/metricbeat/module/aws/sqs/sqs.go
  x-pack/metricbeat/module/aws/utils.go
  x-pack/metricbeat/module/aws/utils_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#12085 Cherry-pick to 7.1: Update documentation with cloudwatch:ListMetrics permission (#11987)
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/docs.asciidoc
Labels: backport, review

#12063 Fix memory leak in Filebeat pipeline acker
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/acker.go
Labels: Filebeat, bug, libbeat, needs_backport

#11686 Add convert processor
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/imports.go
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/convert/config.go
  libbeat/processors/convert/convert.go
  libbeat/processors/convert/convert_test.go
  libbeat/processors/script/javascript/module/processor/processor.go
Labels: :Processors, enhancement, libbeat, review

#12045 [master] Forward port: Update docs.asciidoc (#11852)
  filebeat/docs/modules/iptables.asciidoc
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
Labels: backport, docs, review

#12076 Remove systemd v233 requirement because it's no longer true
  journalbeat/docs/overview.asciidoc
Labels: Journalbeat, docs, needs_backport, review

#12086 Don't generate autodiscover config when no port matches host hints
  CHANGELOG.next.asciidoc
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
Labels: :infrastructure, Metricbeat, bug, containers, needs_backport

#12091 Fix transptest testing
  libbeat/outputs/transport/transptest/testing_test.go
Labels: review

#12028 [Auditbeat] Login: Fix re-read of utmp files
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/login/login_test.go
  x-pack/auditbeat/module/system/login/testdata/btmp_ubuntu1804
  x-pack/auditbeat/module/system/login/testdata/wtmp
  x-pack/auditbeat/module/system/login/utmp.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, bug, needs_backport, review

#12094 [Metricbeat][postgresql] Update lib/pq to fix #11393
  CHANGELOG.next.asciidoc
  NOTICE.txt
  metricbeat/module/postgresql/vendor/github.com/lib/pq/README.md
  metricbeat/module/postgresql/vendor/github.com/lib/pq/TESTS.md
  metricbeat/module/postgresql/vendor/github.com/lib/pq/array.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/conn.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/conn_go18.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/connector.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/doc.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/encode.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/error.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/go.mod
  metricbeat/module/postgresql/vendor/github.com/lib/pq/notify.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/oid/gen.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/oid/types.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/rows.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/scram/scram.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/ssl.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/ssl_go1.7.go
  metricbeat/module/postgresql/vendor/github.com/lib/pq/ssl_renegotiation.go
  metricbeat/module/postgresql/vendor/vendor.json
Labels: :infrastructure, Metricbeat, bug, needs_backport

#12002 Move 7.0 Breaking Changes to a separate file
  libbeat/docs/breaking-7.0.asciidoc
  libbeat/docs/breaking.asciidoc
Labels: docs, needs_backport

#12046 [7.1] Forward port: Update docs.asciidoc (#11852)
  filebeat/docs/modules/iptables.asciidoc
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
Labels: backport, docs, review, v7.1.0

#11911 Change image references to use block syntax not inline
  auditbeat/docs/getting-started.asciidoc
  docs/devguide/newbeat.asciidoc
  filebeat/docs/getting-started.asciidoc
  filebeat/docs/modules-getting-started.asciidoc
  filebeat/docs/overview.asciidoc
  heartbeat/docs/getting-started.asciidoc
  libbeat/docs/opendashboards.asciidoc
  libbeat/docs/overview.asciidoc
  libbeat/docs/shared-geoip.asciidoc
  metricbeat/docs/gettingstarted.asciidoc
  metricbeat/docs/how-metricbeat-works.asciidoc
  packetbeat/docs/filtering.asciidoc
  packetbeat/docs/gettingstarted.asciidoc
  packetbeat/docs/packetbeat-options.asciidoc
  packetbeat/docs/visualizing-data-packetbeat.asciidoc
  winlogbeat/docs/getting-started.asciidoc
  x-pack/auditbeat/docs/modules/system.asciidoc
  x-pack/auditbeat/module/system/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/host/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/package/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/process/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/user/_meta/docs.asciidoc
Labels: docs, libbeat, needs_backport, review

#12112 [7.1] Backport: Fix typo in Filebeat autodiscover hints doc (#11870)
  filebeat/docs/autodiscover-hints.asciidoc
Labels: backport, docs, review, v7.1.0

#12051 [7.1] Backport: Add more platform-specific commands (#11862)
  libbeat/docs/upgrade-setup-commands.asciidoc
Labels: backport, docs, review, v7.1.0

#12049 [7.0] Backport: Add more platform-specific commands (#11862)
  libbeat/docs/upgrade-setup-commands.asciidoc
Labels: backport, docs, v7.0.0

#12116 Revert "Move 7.0 Breaking Changes to a separate file"
  libbeat/docs/breaking-7.0.asciidoc
  libbeat/docs/breaking.asciidoc
Labels: docs

#12080 fix queue.spool.write.flush.events config type
  CHANGELOG.next.asciidoc
  libbeat/publisher/queue/spool/config.go
Labels: libbeat

#12041 [Filebeat] Add -expected files by default
  filebeat/module/apache/access/test/darwin-2.4.23.log-expected.json
  filebeat/module/apache/access/test/ubuntu-2.2.22.log-expected.json
  filebeat/module/apache/error/test/darwin-2.4.23.log-expected.json
  filebeat/module/apache/error/test/ubuntu-2.2.22.log-expected.json
  filebeat/module/auditd/log/test/audit-rhel7.log-expected.json
  filebeat/module/elasticsearch/gc/test/gc.log-expected.json
  filebeat/module/elasticsearch/server/test/elasticsearch.624.log-expected.json
  filebeat/module/kafka/log/test/controller-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/server-2.0.0.log-expected.json
  filebeat/module/kibana/log/test/log.624.log-expected.json
  filebeat/module/kibana/log/test/log.verbose.624.log-expected.json
  filebeat/module/mysql/error/test/mysql-darwin-brew-5.7.10.log-expected.json
  filebeat/module/mysql/error/test/mysql-ubuntu-5.5.53.log-expected.json
  filebeat/module/mysql/error/test/mysql-ubuntu-8.0.15.log-expected.json
  filebeat/module/mysql/slowlog/test/mariadb-10.3.13.log-expected.json
  filebeat/module/mysql/slowlog/test/mysql-darwin-brew-5.7.10.log-expected.json
  filebeat/module/mysql/slowlog/test/mysql-debian-5.7.17.log-expected.json
  filebeat/module/mysql/slowlog/test/mysql-debian-5.7.19.log-expected.json
  filebeat/module/mysql/slowlog/test/mysql-ubuntu-5.5.53.log-expected.json
  filebeat/module/mysql/slowlog/test/percona-ubuntu-5.7.19.log-expected.json
  filebeat/module/nginx/access/test/access.log-expected.json
  filebeat/module/osquery/result/test/osquery.rootkit.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.darwin.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.sample.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-ubuntu-9.5.log-expected.json
  filebeat/module/redis/log/test/redis-darwin-3.0.2.log-expected.json
  filebeat/module/redis/log/test/redis-debian-1.2.6.log-expected.json
  filebeat/module/redis/log/test/redis-windows-2.4.6.log-expected.json
  filebeat/module/system/auth/test/auth-ubuntu1204.log-expected.json
  filebeat/module/system/auth/test/secure-rhel7.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog.log-expected.json
  filebeat/tests/system/test_modules.py
Labels: :infrastructure, Filebeat, [zube]: In Review, module, review

#12101 Update vendored gosigar to 0.10.2
  NOTICE.txt
  vendor/github.com/elastic/gosigar/CHANGELOG.md
  vendor/github.com/elastic/gosigar/sys/windows/syscall_windows.go
  vendor/vendor.json
Labels: Metricbeat, bug, review

#12100 Fix various memory leaks under Windows
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/README.md
  vendor/github.com/elastic/go-sysinfo/go.mod
  vendor/github.com/elastic/go-sysinfo/go.sum
  vendor/github.com/elastic/go-sysinfo/providers/darwin/process_darwin_amd64.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/container.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/host_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/process_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/windows/process_windows.go
  vendor/github.com/elastic/go-sysinfo/types/process.go
  vendor/vendor.json
Labels: Auditbeat, Packetbeat, bug, libbeat, needs_backport

#11761 New processor extract_array
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/imports.go
  libbeat/docs/processors-using.asciidoc
  libbeat/processors/extract_array/extract_array.go
  libbeat/processors/extract_array/extract_array_test.go
  libbeat/processors/script/javascript/module/processor/processor.go
Labels: :Processors, discuss, docs, review

#11856 [Heartbeat] Remove not needed flags from setup command
  heartbeat/cmd/root.go
Labels: :uptime, Heartbeat, bug, needs_backport, review

#12099 Skip Windows testing if magefile.go does not exist
  dev-tools/jenkins_ci.ps1
Labels: review

#12124 Cherry-pick #12100 to 7.1: Fix various memory leaks under Windows
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/README.md
  vendor/github.com/elastic/go-sysinfo/go.mod
  vendor/github.com/elastic/go-sysinfo/go.sum
  vendor/github.com/elastic/go-sysinfo/providers/darwin/process_darwin_amd64.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/container.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/host_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/process_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/windows/process_windows.go
  vendor/github.com/elastic/go-sysinfo/types/process.go
  vendor/vendor.json
Labels: backport, bug, review

#12122 Cherry-pick #12100 to 6.8: Fix various memory leaks under Windows
  CHANGELOG.next.asciidoc
  NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/CHANGELOG.md
  vendor/github.com/elastic/go-sysinfo/NOTICE.txt
  vendor/github.com/elastic/go-sysinfo/README.md
  vendor/github.com/elastic/go-sysinfo/go.mod
  vendor/github.com/elastic/go-sysinfo/go.sum
  vendor/github.com/elastic/go-sysinfo/providers/darwin/process_darwin_amd64.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/container.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/host_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/linux/process_linux.go
  vendor/github.com/elastic/go-sysinfo/providers/windows/process_windows.go
  vendor/github.com/elastic/go-sysinfo/types/process.go
  vendor/vendor.json
Labels: backport, bug, review

#12126 Cherry-pick #11856 to 7.1: [Heartbeat] Remove not needed flags from setup command
  heartbeat/cmd/root.go
Labels: backport, review

#12125 Fix goroutine leak on initialization failures of log input
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: Filebeat, bug

#12039 Document and improve permission checks when running socket metricset from Docker
  CHANGELOG.next.asciidoc
  libbeat/common/capabilities_linux.go
  metricbeat/docs/running-on-docker.asciidoc
  metricbeat/helper/socket/ptable.go
  metricbeat/helper/socket/ptable_linux.go
  metricbeat/helper/socket/ptable_other.go
  metricbeat/module/system/socket/_meta/docs.asciidoc
  metricbeat/module/system/socket/socket.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, docs, enhancement, libbeat

#12062 added CPU usage check to memory stats list
  metricbeat/module/docker/memory/helper.go
Labels: :Windows, :infrastructure, Metricbeat, [zube]: In Review

#12044 [libbeat] Add unit tests for libbeat's client proxy settings
  libbeat/outputs/elasticsearch/client_proxy_test.go
Labels: libbeat

#12128 Cherry-pick #12099 to 7.1: Skip Windows testing if magefile.go does not exist
  dev-tools/jenkins_ci.ps1
Labels: backport, review

#12129 Cherry-pick #12099 to 7.0: Skip Windows testing if magefile.go does not exist
  dev-tools/jenkins_ci.ps1
Labels: backport, review

#12130 Cherry-pick #12099 to 6.8: Skip Windows testing if magefile.go does not exist
  dev-tools/jenkins_ci.ps1
Labels: backport, review

#12131 Cherry-pick #12099 to 6.7: Skip Windows testing if magefile.go does not exist
  dev-tools/jenkins_ci.ps1
Labels: backport, review

#12004 [Metricbeat](Etcd-Leader)Followers wont report leader metrics
  CHANGELOG.next.asciidoc
  metricbeat/module/etcd/_meta/test/leaderstats_empty.json
  metricbeat/module/etcd/_meta/test/leaderstats_follower.json
  metricbeat/module/etcd/_meta/test/leaderstats_internalerror.json
  metricbeat/module/etcd/leader/leader.go
  metricbeat/module/etcd/leader/leader_test.go
Labels: :infrastructure, Metricbeat, [zube]: In Review, bug, module, review

#12134 Add package libbeat/common/cleanup
  CHANGELOG-developer.next.asciidoc
  libbeat/common/cleanup/cleanup.go
  libbeat/common/cleanup/cleanup_test.go
  libbeat/common/cleanup/multi.go
Labels: libbeat, review

#12118 [metricbeat] add make fmt to contributing guide
  docs/devguide/contributing.asciidoc
Labels: :infrastructure, Metricbeat, docs

#11722 [Auditbeat] Process: Add hash of executable
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/helper/hasher/hasher.go
  auditbeat/helper/hasher/hasher_test.go
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/_meta/fields.yml
  x-pack/auditbeat/module/system/fields.go
  x-pack/auditbeat/module/system/process/_meta/data.json
  x-pack/auditbeat/module/system/process/config.go
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review

#12152 [Docs] Comment out section that contains bad link
  filebeat/docs/getting-started.asciidoc
Labels: docs, needs_backport, review

#12153 [7.0][Docs] Backport: Comment out section that contains bad link (#12152)
  filebeat/docs/getting-started.asciidoc
Labels: backport, docs, review, v7.0.0

#12154 [7.1][Docs] Backport: Comment out section that contains bad link (#12152)
  filebeat/docs/getting-started.asciidoc
Labels: backport, docs, review, v7.1.0

#12120 [Filebeat] Introduce UTC as default timezone for modules tests
  filebeat/tests/system/test_modules.py
Labels: :infrastructure, Filebeat, review

#12137 Cherry-pick #12063 to 7.1: Fix memory leak in Filebeat pipeline acker
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/acker.go
Labels: backport, review

#12138 Cherry-pick #12063 to 6.8: Fix memory leak in Filebeat pipeline acker
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/acker.go
Labels: backport, review

#12139 Cherry-pick #12063 to 6.7: Fix memory leak in Filebeat pipeline acker
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/acker.go
Labels: backport, review

#12140 Cherry-pick #12063 to 7.0: Fix memory leak in Filebeat pipeline acker
  CHANGELOG.next.asciidoc
  libbeat/publisher/pipeline/acker.go
Labels: backport, review

#12135 Add number of goroutines to reported metrics
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/metrics.go
  libbeat/docs/http-endpoint.asciidoc
  libbeat/monitoring/report/log/log.go
Labels: Stack monitoring, libbeat, review

#12151 Refactor logging in pgsql module
  CHANGELOG.next.asciidoc
  packetbeat/protos/pgsql/parse.go
  packetbeat/protos/pgsql/pgsql.go
Labels: Packetbeat, review

#12142 Cherry-pick #12125 to 7.1: Fix goroutine leak on initialization failures of log input
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12143 Cherry-pick #12125 to 7.0: Fix goroutine leak on initialization failures of log input
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12144 Cherry-pick #12125 to 6.8: Fix goroutine leak on initialization failures of log input
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12145 Cherry-pick #12125 to 6.7: Fix goroutine leak on initialization failures of log input
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12171 Ignore doc type in ES search API for ES 8
  libbeat/outputs/elasticsearch/api.go
  libbeat/outputs/elasticsearch/api_integration_test.go
Labels: :Testing, libbeat

#12173 [Docs] Make breaking changes separate files for each version
  libbeat/docs/breaking-7.0.asciidoc
  libbeat/docs/breaking.asciidoc
Labels: docs, needs_backport, review

#12109 [7.0] Backport: [DOCS] Adds float attributes in breaking changes (#11581)
  libbeat/docs/breaking.asciidoc
Labels: backport, docs, review, v7.0.0

#12110 [7.1] Backport: [DOCS] Adds float attributes in breaking changes (#11581)
  libbeat/docs/breaking.asciidoc
Labels: backport, docs, review, v7.1.0

#11999 [Filebeat] module for palo_alto (pan-os) logs
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/palo_alto.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/palo_alto/README.md
  x-pack/filebeat/module/palo_alto/_meta/config.yml
  x-pack/filebeat/module/palo_alto/_meta/docs.asciidoc
  x-pack/filebeat/module/palo_alto/_meta/fields.yml
  x-pack/filebeat/module/palo_alto/fields.go
  x-pack/filebeat/module/palo_alto/module.yml
  x-pack/filebeat/module/palo_alto/pan_os/_meta/fields.yml
  x-pack/filebeat/module/palo_alto/pan_os/config/input.yml
  x-pack/filebeat/module/palo_alto/pan_os/ingest/pipeline.yml
  x-pack/filebeat/module/palo_alto/pan_os/manifest.yml
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_other.log
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_other.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_threat.log
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_traffic.log
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_traffic.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/threat.log
  x-pack/filebeat/module/palo_alto/pan_os/test/threat.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/traffic.log
  x-pack/filebeat/module/palo_alto/pan_os/test/traffic.log-expected.json
Labels: Filebeat, docs, review

#12132 [cmd setup] Add and deprecate setup cmds for index handling
  CHANGELOG-developer.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/cmd/setup.go
  libbeat/idxmgmt/componenttype_string.go
  libbeat/idxmgmt/idxmgmt.go
  libbeat/idxmgmt/std.go
  libbeat/idxmgmt/std_test.go
  libbeat/tests/system/idxmgmt.py
  libbeat/tests/system/test_cmd_setup_index_management.py
  libbeat/tests/system/test_ilm.py
  libbeat/tests/system/test_template.py
Labels: v7.2.0

#12105 [metricbeat] Expand metricbeat dev guide for testing
  docs/devguide/metricset-details.asciidoc
Labels: :infrastructure, Metricbeat, docs

#12160 Bugfix set template.order to 1 by default.
  CHANGELOG-developer.next.asciidoc
  libbeat/template/config.go
  libbeat/template/load_test.go
  libbeat/template/template_test.go
Labels: bug

#12168 [Auditbeat] Fix issues with multiple calls to rpmReadConfigFiles
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, SecOps, bug, needs_backport, review

#12108 [Auditbeat] Cherry-pick #12028 to 6.8: Login: Fix re-read of utmp files
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/login/login_test.go
  x-pack/auditbeat/module/system/login/testdata/btmp_ubuntu1804
  x-pack/auditbeat/module/system/login/testdata/wtmp
  x-pack/auditbeat/module/system/login/utmp.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#12182 [Filebeat] Palo_alto module improvements
  filebeat/docs/fields.asciidoc
  filebeat/docs/images/filebeat-palo-alto-threat.png
  filebeat/docs/images/filebeat-palo-alto-traffic.png
  filebeat/docs/modules/palo_alto.asciidoc
  x-pack/filebeat/module/palo_alto/_meta/docs.asciidoc
  x-pack/filebeat/module/palo_alto/_meta/kibana/7/dashboard/Filebeat-palo-alto-network-overview.json
  x-pack/filebeat/module/palo_alto/_meta/kibana/7/dashboard/Filebeat-palo-alto-threat-overview.json
  x-pack/filebeat/module/palo_alto/fields.go
  x-pack/filebeat/module/palo_alto/module.yml
  x-pack/filebeat/module/palo_alto/pan_os/_meta/fields.yml
  x-pack/filebeat/module/palo_alto/pan_os/config/input.yml
  x-pack/filebeat/module/palo_alto/pan_os/ingest/pipeline.yml
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_other.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_traffic.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/threat.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/traffic.log-expected.json
Labels: :Dashboards, Filebeat, SecOps, review

#12104 [Auditbeat] Cherry-pick #12028 to 7.1: Login: Fix re-read of utmp files
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/login/_meta/docs.asciidoc
  x-pack/auditbeat/module/system/login/login_test.go
  x-pack/auditbeat/module/system/login/testdata/btmp_ubuntu1804
  x-pack/auditbeat/module/system/login/testdata/wtmp
  x-pack/auditbeat/module/system/login/utmp.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, backport, review

#12158 Cherry-pick #11982 to 7.0: Change type from scaled_float to long and add format (#11982)
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/fields.yml
  x-pack/metricbeat/module/aws/fields.go
Labels: backport, review

#12166 Cherry-pick #11982 to 7.1: Change type from scaled_float to long and add format (#11982)
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/ec2/_meta/fields.yml
  x-pack/metricbeat/module/aws/fields.go
Labels: backport, review

#12191 Missing module.yml.disabled file for palo_alto
  x-pack/filebeat/modules.d/palo_alto.yml.disabled
Labels: Filebeat, SecOps, review

#12032 [Filebeat] Add RabbitMQ filebeat module
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/include/var-convert-timezone.asciidoc
  filebeat/docs/modules/rabbitmq.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/rabbitmq/_meta/config.yml
  x-pack/filebeat/module/rabbitmq/_meta/docs.asciidoc
  x-pack/filebeat/module/rabbitmq/_meta/fields.yml
  x-pack/filebeat/module/rabbitmq/fields.go
  x-pack/filebeat/module/rabbitmq/log/_meta/fields.yml
  x-pack/filebeat/module/rabbitmq/log/config/log.yml
  x-pack/filebeat/module/rabbitmq/log/ingest/pipeline.yml
  x-pack/filebeat/module/rabbitmq/log/manifest.yml
  x-pack/filebeat/module/rabbitmq/log/test/test.log
  x-pack/filebeat/module/rabbitmq/log/test/test.log-expected.json
  x-pack/filebeat/modules.d/rabbitmq.yml.disabled
Labels: :infrastructure, Filebeat, [zube]: In Progress, in progress, module, review

#12050 [metricbeat] Add linux sockstat data to socket_summary metricset
  metricbeat/docs/fields.asciidoc
  metricbeat/module/system/fields.go
  metricbeat/module/system/socket_summary/_meta/fields.yml
  metricbeat/module/system/socket_summary/_meta/testdata/sockstat
  metricbeat/module/system/socket_summary/socket_summary.go
  metricbeat/module/system/socket_summary/sockstat_linux.go
  metricbeat/module/system/socket_summary/sockstat_linux_test.go
  metricbeat/module/system/socket_summary/sockstat_other.go
Labels: :infrastructure, Metricbeat, [zube]: In Progress, enhancement

#12164 Fix goroutine leak on non-explicit finalization of log inputs
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: Filebeat, bug, needs_backport

#11619 [Metricbeat] CoreDNS module: Add Kibana Dashboard
  metricbeat/docs/images/metricbeat_coredns_dashboard.png
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/coredns/_meta/kibana/7/dashboard/Metricbeat-coredns-overview.json
  metricbeat/module/coredns/module.yaml
  metricbeat/module/coredns/stats/README.md
Labels: :Dashboards, :infrastructure, Metricbeat, [zube]: In Review, module, review, v7.2.0

#12089 [Libbeat][Metricbeat]Add IgnoreAllErrors to schema.Conv object
  CHANGELOG-developer.next.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/common/schema/schema.go
  libbeat/common/schema/schema_test.go
  metricbeat/module/rabbitmq/queue/data.go
Labels: Metricbeat, libbeat, review

#12200 Cherry-pick #12164 to 7.1: Fix goroutine leak on non-explicit finalization of log inputs
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12201 Cherry-pick #12164 to 7.0: Fix goroutine leak on non-explicit finalization of log inputs
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12202 Cherry-pick #12164 to 6.8: Fix goroutine leak on non-explicit finalization of log inputs
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12203 Cherry-pick #12164 to 6.7: Fix goroutine leak on non-explicit finalization of log inputs
  CHANGELOG.next.asciidoc
  filebeat/input/log/input.go
Labels: backport, review

#12148 [Auditbeat] Fix formatting of config files on macOS and Windows
  CHANGELOG.next.asciidoc
  auditbeat/docs/modules/auditd.asciidoc
  auditbeat/module/auditd/_meta/config.yml.tmpl
  auditbeat/module/file_integrity/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
Labels: Auditbeat, review

#12213 Bump version to 6.8.1
  libbeat/version/version.go
Labels: in progress, release, review, v6.8.1

#12214 Bump version to 7.1.1
  libbeat/version/version.go
Labels: in progress, release, review, v7.1.1

#11661 [libbeat] Escape BOM on JsonReader before trying to decode line
  CHANGELOG.next.asciidoc
  filebeat/input/log/harvester.go
  libbeat/reader/readfile/encode.go
  libbeat/reader/readfile/encode_test.go
Labels: libbeat, review

#12180 Set beat ID in registries after loading meta file
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
Labels: bug, libbeat, needs_backport, review, v7.2.0, v8.0.0

#12217 [Filebeat] Move dashboards from 8 to 7 directory
  x-pack/filebeat/module/coredns/_meta/kibana/7/dashboard/Coredns-Overview-Dashboard.json
  x-pack/filebeat/module/envoyproxy/_meta/kibana/7/dashboard/Filebeat-Envoyproxy-Overview.json
Labels: :Dashboards, :infrastructure, Filebeat, bug, review

#12221 Fix domain and user fields in sysmon module
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: SecOps, Winlogbeat, bug, review

#12123 [Filebeat] Enabled convert_timezone in tests by default in tests
  filebeat/module/elasticsearch/audit/test/test-access.log-expected.json
  filebeat/module/elasticsearch/audit/test/test-audit.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/other_elasticsearch_deprecation.log-expected.json
  filebeat/module/elasticsearch/deprecation/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/elasticsearch.624.log-expected.json
  filebeat/module/elasticsearch/server/test/test-json.log-expected.json
  filebeat/module/elasticsearch/server/test/test.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/auditlog_index_indexing_slowlog.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_indexing_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/es_index_search_slowlog-json.log-expected.json
  filebeat/module/elasticsearch/slowlog/test/test.log-expected.json
  filebeat/module/kafka/log/test/controller-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/controller.log-expected.json
  filebeat/module/kafka/log/test/server-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/server.log-expected.json
  filebeat/module/kafka/log/test/state-change-1.1.0.log-expected.json
  filebeat/module/kafka/log/test/state-change-2.0.0.log-expected.json
  filebeat/module/kafka/log/test/state-change.log-expected.json
  filebeat/module/logstash/log/test/logstash-json.log-expected.json
  filebeat/module/logstash/log/test/logstash-plain.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-json.log-expected.json
  filebeat/module/logstash/slowlog/test/slowlog-plain.log-expected.json
  filebeat/module/nginx/access/test/access.log-expected.json
  filebeat/module/nginx/access/test/test.log-expected.json
  filebeat/module/nginx/error/test/error.log-expected.json
  filebeat/module/system/auth/test/auth-ubuntu1204.log-expected.json
  filebeat/module/system/auth/test/secure-rhel7.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog.log-expected.json
  filebeat/module/system/syslog/test/suse-syslog.log-expected.json
  filebeat/tests/system/test_modules.py
  x-pack/filebeat/module/cisco/asa/test/asa.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/filtered.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/iptables/log/test/geo.log-expected.json
  x-pack/filebeat/module/iptables/log/test/icmp.log-expected.json
  x-pack/filebeat/module/iptables/log/test/iptables.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ipv6.log-expected.json
  x-pack/filebeat/module/iptables/log/test/ubiquiti.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_other.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/pan_inc_traffic.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/threat.log-expected.json
  x-pack/filebeat/module/palo_alto/pan_os/test/traffic.log-expected.json
Labels: :infrastructure, Filebeat, [zube]: In Review, review

#12204 [metricbeat] update error handling in haproxy/info
  metricbeat/module/haproxy/info/data.go
  metricbeat/module/haproxy/info/info.go
Labels: :infrastructure, Metricbeat, bug

#10665 Metricbeat Consul Overview Dashboard
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-consul.png
  metricbeat/docs/modules/consul.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/consul/_meta/docs.asciidoc
  metricbeat/module/consul/_meta/kibana/7/dashboard/Metricbeat-consul-overview.json
Labels: :Dashboards, :infrastructure, Metricbeat, [zube]: In Review, enhancement, review

#12232 [Filebeat] Fix typo in osquery/result fields
  filebeat/docs/fields.asciidoc
  filebeat/module/osquery/fields.go
  filebeat/module/osquery/result/_meta/fields.yml
Labels: :infrastructure, Filebeat, review

#12230 [DOCS] Updated release-state attribute
  libbeat/docs/version.asciidoc
Labels: docs, v7.1.0

#12229 [DOCS] Updated release-state attribute
  libbeat/docs/version.asciidoc
Labels: docs, v6.8.0

#12077 Remove empty compatibility sections
  filebeat/docs/modules/cisco.asciidoc
  filebeat/docs/modules/iptables.asciidoc
  filebeat/docs/modules/netflow.asciidoc
  x-pack/filebeat/module/cisco/_meta/docs.asciidoc
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
  x-pack/filebeat/module/netflow/_meta/docs.asciidoc
Labels: Filebeat, docs, needs_backport, review

#12057 [7.1] Backport: Remove links to ingest plugins that are now modules (#11986)
  filebeat/docs/modules/iptables.asciidoc
  filebeat/docs/modules/suricata.asciidoc
  filebeat/docs/modules/zeek.asciidoc
  x-pack/filebeat/module/iptables/_meta/docs.asciidoc
  x-pack/filebeat/module/suricata/_meta/docs.asciidoc
  x-pack/filebeat/module/zeek/_meta/docs.asciidoc
Labels: backport, docs, review, v7.1.0

#12052 [7.0] Backport: Fix typo in autodiscover docs (#11906)
  metricbeat/docs/autodiscover-hints.asciidoc
Labels: backport, docs, review, v7.0.0

#12053 [7.1] Backport: Fix typo in autodiscover docs (#11906)
  metricbeat/docs/autodiscover-hints.asciidoc
Labels: backport, docs, review, v7.1.0

#12111 [7.0] Backport: Fix typo in Filebeat autodiscover hints doc (#11870)
  filebeat/docs/autodiscover-hints.asciidoc
Labels: backport, docs, review, v7.0.0

#12113 [6.7] Backport: Remove systemd v233 requirement because it's no longer true (#12076)
  journalbeat/docs/overview.asciidoc
Labels: backport, docs, review, v6.7.0

#12114 [7.1] Backport: Remove systemd v233 requirement because it's no longer true (#12076)
  journalbeat/docs/overview.asciidoc
Labels: backport, docs, review, v7.1.0

#12115 [7.0] Backport: Remove systemd v233 requirement because it's no longer true (#12076)
  journalbeat/docs/overview.asciidoc
Labels: backport, docs, review, v7.0.0

#12240 [DOCS] Updates 7.2 version attributes
  libbeat/docs/version.asciidoc
Labels: docs, v7.2.0

#12241 [DOCS] Updates 7.3 version attributes
  libbeat/docs/version.asciidoc
Labels: docs, v7.3.0

#12054 [7.1] Backport: Remove dashboard info from Journalbeat (#11931)
  journalbeat/docs/getting-started.asciidoc
  journalbeat/docs/index.asciidoc
Labels: backport, docs, review, v7.1.0

#12222 Keystore dir is path.data
  libbeat/docs/keystore.asciidoc
Labels: docs, needs_backport, review

#12245 Fix error archiving empty test results.
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
Labels: :Testing, review

#12248 [Auditbeat][Metricbeat] Fix direction of incoming IPv6 sockets
  CHANGELOG.next.asciidoc
  metricbeat/helper/socket/listeners.go
  metricbeat/helper/socket/listeners_test.go
  metricbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/socket/socket.go
Labels: Auditbeat, Metricbeat, bug, needs_backport, review

#12246 Fix error archiving empty test results.
  dev-tools/jenkins_ci.ps1
  dev-tools/jenkins_ci.sh
Labels: :Testing, review

#12252 Update latest environment to 7.1
  testing/environments/latest.yml
Labels: review

#12243 [libbeat] Add output.elasticsearch.proxy_disable flag
  CHANGELOG.next.asciidoc
  auditbeat/auditbeat.reference.yml
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_proxy_test.go
  libbeat/outputs/elasticsearch/config.go
  libbeat/outputs/elasticsearch/elasticsearch.go
  metricbeat/metricbeat.reference.yml
  packetbeat/packetbeat.reference.yml
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: docs, libbeat, review

#12250 [Auditbeat][Metricbeat] Cherry-pick #12248 to 7.1: Fix direction of incoming IPv6 sockets
  CHANGELOG.next.asciidoc
  metricbeat/helper/socket/listeners.go
  metricbeat/helper/socket/listeners_test.go
  metricbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/socket/socket.go
Labels: Auditbeat, Metricbeat, backport, review

#12251 [Auditbeat][Metricbeat] Cherry-pick #12248 to 6.8: Fix direction of incoming IPv6 sockets
  CHANGELOG.next.asciidoc
  metricbeat/helper/socket/listeners.go
  metricbeat/helper/socket/listeners_test.go
  metricbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/socket/socket.go
Labels: Auditbeat, Metricbeat, backport, review

#12231 [Auditbeat] Socket: Add network.transport and network.community_id
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/socket/_meta/data.json
  x-pack/auditbeat/module/system/socket/socket.go
  x-pack/auditbeat/module/system/socket/socket_test.go
  x-pack/auditbeat/tests/system/test_metricsets.py
Labels: Auditbeat, SecOps, review
