Repository elastic/beats, pull requests merged in 2020-05, with the labels that each got.

#17480 Add AWS tests to Jenkinsfile
  .ci/scripts/install-terraform.sh
  .ci/scripts/terraform-cleanup.sh
  .gitignore
  Jenkinsfile
  dev-tools/mage/common.go
  dev-tools/mage/gotest.go
  docs/devguide/terraform.asciidoc
  x-pack/metricbeat/module/aws/terraform.tf
Labels: :Testing, Team:Platforms, [zube]: In Review, needs_backport, review, v7.8.0

#18149 Fix broken x-pack/filebeat tests
  x-pack/filebeat/module/netflow/_meta/fields.yml
  x-pack/filebeat/module/netflow/fields.go
Labels: Filebeat, Team:Integrations, bug, docs, needs_team, review

#18152 Pin version of python ordered-set to 3.1.1
  libbeat/tests/system/requirements.txt
Labels: ci, needs_team, review

#17957 Optimize Dockerized integTest with GOCACHE
  dev-tools/mage/crossbuild.go
  dev-tools/mage/gotest.go
  dev-tools/mage/integtest_docker.go
  libbeat/docker-compose.yml
  packetbeat/Dockerfile
Labels: [zube]: In Review, enhancement, review

#18000 Set agent.name to hostname by default
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/tests/system/test_fields.py
  filebeat/tests/system/test_modules.py
  heartbeat/cmd/root.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/publisher/processing/default.go
  libbeat/publisher/processing/default_test.go
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  packetbeat/magefile.go
  packetbeat/tests/system/test_0099_golden_files.py
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: Team:SIEM, [zube]: In Review, ecs, libbeat, needs_backport, review

#18129 Cherry-pick #17901 to 7.x: Add dashboard to the azure database account metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-azure-database-account-overview.png
  x-pack/metricbeat/module/azure/_meta/kibana/7/dashboard/Metricbeat-azure-database-account-overview.json
  x-pack/metricbeat/module/azure/database_account/_meta/data.json
  x-pack/metricbeat/module/azure/database_account/_meta/docs.asciidoc
  x-pack/metricbeat/module/azure/database_account/manifest.yml
Labels: Team:Integrations, [zube]: Inbox, backport, v7.8.0

#18039 Cherry-pick #17904 to 7.x: Adding geoip and apply fixes for event.type appends
  x-pack/filebeat/module/checkpoint/firewall/ingest/pipeline.json
  x-pack/filebeat/module/checkpoint/firewall/test/checkpoint.log-expected.json
Labels: [zube]: Inbox, backport, review

#18119 Cherry-pick #18091 to 7.x: Use default output by default
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/monitoring_decorator.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, bug, elastic-agent

#17905 test: build docker image
  .ci/packaging.groovy
  Jenkinsfile
Labels: [zube]: In Review, automation, ci, enhancement

#18003 [Elastic-Agent] Do not require unnecessary configuration
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/_meta/common.p2.yml
  x-pack/elastic-agent/_meta/common.reference.p2.yml
  x-pack/elastic-agent/_meta/elastic-agent.docker.yml
  x-pack/elastic-agent/_meta/elastic-agent.fleet.yml
  x-pack/elastic-agent/_meta/elastic-agent.yml
  x-pack/elastic-agent/elastic-agent.docker.yml
  x-pack/elastic-agent/elastic-agent.reference.yml
  x-pack/elastic-agent/elastic-agent.yml
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/configuration_embed.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
  x-pack/elastic-agent/pkg/agent/application/stream.go
  x-pack/elastic-agent/pkg/agent/operation/config/config.go
  x-pack/elastic-agent/pkg/agent/operation/operator.go
  x-pack/elastic-agent/pkg/artifact/config.go
  x-pack/elastic-agent/pkg/core/plugin/app/monitoring/monitor.go
  x-pack/elastic-agent/pkg/core/plugin/app/start.go
  x-pack/elastic-agent/pkg/core/plugin/process/config.go
  x-pack/elastic-agent/pkg/core/plugin/retry/config.go
Labels: Ingest Management:alpha1, Project:fleet, [zube]: In Review, elastic-agent, enhancement, needs_backport

#17966 Metricbeat add IIS module dashboards
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-iis-application-pool-overview.png
  metricbeat/docs/images/metricbeat-iis-webserver-overview.png
  metricbeat/docs/images/metricbeat-iis-webserver-process.png
  metricbeat/docs/images/metricbeat-iis-website-overview.png
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/windows/perfmon/data.go
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-application-pool-overview.json
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-webserver-overview.json
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-webserver-process-overview.json
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-website-overview.json
  x-pack/metricbeat/module/iis/application_pool/_meta/docs.asciidoc
  x-pack/metricbeat/module/iis/application_pool/reader.go
  x-pack/metricbeat/module/iis/webserver/_meta/docs.asciidoc
  x-pack/metricbeat/module/iis/webserver/manifest.yml
  x-pack/metricbeat/module/iis/website/_meta/docs.asciidoc
  x-pack/metricbeat/module/iis/website/manifest.yml
Labels: Metricbeat, Team:Integrations, [zube]: In Review, needs_backport, v7.8.0

#18089 Cherry-pick #16306 to 7.x: Enable keystore for autodiscover static configuration
  CHANGELOG.next.asciidoc
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/beater/filebeat.go
  heartbeat/autodiscover/builder/hints/monitors.go
  heartbeat/beater/heartbeat.go
  libbeat/autodiscover/appenders/config/config.go
  libbeat/autodiscover/autodiscover.go
  libbeat/autodiscover/autodiscover_test.go
  libbeat/autodiscover/provider.go
  libbeat/autodiscover/providers/docker/docker.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/providers/jolokia/jolokia.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/providers/kubernetes/node_test.go
  libbeat/autodiscover/providers/kubernetes/pod_test.go
  libbeat/autodiscover/providers/kubernetes/service_test.go
  libbeat/autodiscover/template/config.go
  libbeat/autodiscover/template/config_test.go
  libbeat/beat/beat.go
  libbeat/cmd/instance/beat.go
  metricbeat/autodiscover/builder/hints/metrics.go
  metricbeat/autodiscover/builder/hints/metrics_test.go
  metricbeat/beater/metricbeat.go
  metricbeat/docs/autodiscover-docker-config.asciidoc
  metricbeat/docs/autodiscover-hints.asciidoc
  metricbeat/docs/autodiscover-kubernetes-config.asciidoc
  x-pack/libbeat/autodiscover/providers/aws/ec2/provider.go
  x-pack/libbeat/autodiscover/providers/aws/ec2/provider_test.go
  x-pack/libbeat/autodiscover/providers/aws/elb/provider.go
  x-pack/libbeat/autodiscover/providers/aws/elb/provider_test.go
Labels: Team:Platforms, backport, review

#18156 Cherry-pick #18152 to 7.x: Pin version of python ordered-set to 3.1.1
  libbeat/tests/system/requirements.txt
Labels: backport, needs_team, review

#18127 Add Kerberos-aware Elasticsearch and integration test to ES output
  libbeat/docker-compose.yml
  libbeat/esleg/eslegtest/util.go
  libbeat/outputs/elasticsearch/client_integration_test.go
  libbeat/outputs/elasticsearch/testdata/krb5.conf
  testing/environments/docker/elasticsearch/kerberos/init.sh
  testing/environments/docker/elasticsearch/kerberos/installkdc.sh
  testing/environments/docker/elasticsearch_kerberos/Dockerfile
  testing/environments/docker/elasticsearch_kerberos/config/kdc.conf.template
  testing/environments/docker/elasticsearch_kerberos/config/krb5.conf
  testing/environments/docker/elasticsearch_kerberos/config/krb5.conf.template
  testing/environments/docker/elasticsearch_kerberos/healthcheck.sh
  testing/environments/docker/elasticsearch_kerberos/init.sh
  testing/environments/docker/elasticsearch_kerberos/scripts/addprinc.sh
  testing/environments/docker/elasticsearch_kerberos/scripts/addprincs.sh
  testing/environments/docker/elasticsearch_kerberos/scripts/installkdc.sh
  testing/environments/docker/elasticsearch_kerberos/start.sh
  testing/environments/docker/kerberos_kdc/Dockerfile
Labels: Team:Services, [zube]: In Review, needs_backport

#18083 [Elastic-Agent] Configurable log level
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/_meta/common.p2.yml
  x-pack/elastic-agent/_meta/common.reference.p2.yml
  x-pack/elastic-agent/_meta/elastic-agent.docker.yml
  x-pack/elastic-agent/_meta/elastic-agent.yml
  x-pack/elastic-agent/docs/elastic-agent_configuration_example.yml
  x-pack/elastic-agent/elastic-agent.docker.yml
  x-pack/elastic-agent/elastic-agent.reference.yml
  x-pack/elastic-agent/elastic-agent.yml
  x-pack/elastic-agent/pkg/agent/application/local_mode.go
  x-pack/elastic-agent/pkg/agent/operation/config/config.go
  x-pack/elastic-agent/pkg/agent/operation/operator.go
  x-pack/elastic-agent/pkg/core/logger/logger.go
  x-pack/elastic-agent/pkg/core/plugin/app/app.go
  x-pack/elastic-agent/pkg/core/plugin/app/start.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, [zube]: In Review, elastic-agent, enhancement, needs_backport

#18167 Cherry-pick #17966 to 7.x: Metricbeat add IIS module dashboards
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-iis-application-pool-overview.png
  metricbeat/docs/images/metricbeat-iis-webserver-overview.png
  metricbeat/docs/images/metricbeat-iis-webserver-process.png
  metricbeat/docs/images/metricbeat-iis-website-overview.png
  metricbeat/docs/modules_list.asciidoc
  metricbeat/module/windows/perfmon/data.go
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-application-pool-overview.json
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-webserver-overview.json
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-webserver-process-overview.json
  x-pack/metricbeat/module/iis/_meta/kibana/7/dashboard/Metricbeat-iis-website-overview.json
  x-pack/metricbeat/module/iis/application_pool/_meta/docs.asciidoc
  x-pack/metricbeat/module/iis/application_pool/reader.go
  x-pack/metricbeat/module/iis/webserver/_meta/docs.asciidoc
  x-pack/metricbeat/module/iis/webserver/manifest.yml
  x-pack/metricbeat/module/iis/website/_meta/docs.asciidoc
  x-pack/metricbeat/module/iis/website/manifest.yml
Labels: Team:Integrations, [zube]: In Review, backport, v7.8.0

#18108 [Filebeat] Improve ECS categorization field mappings for netflow module
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-options-template-from-Juniper-MX240-JunOS-15.1-R6-S3.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-options-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-options-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-WLC.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-nprobe-DPI-L7.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-options-template-with-scope-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow9-Juniper-SRX-options-template-with-0-scope-field-length.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/ipfix_cisco.pcap.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
Labels: Filebeat, Team:SIEM, ecs, enhancement, needs_backport

#18155 Cherry-pick #18000 to 7.x: Set agent.name to hostname by default
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  filebeat/tests/system/test_fields.py
  filebeat/tests/system/test_modules.py
  heartbeat/cmd/root.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.common.yml
  libbeat/publisher/processing/default.go
  libbeat/publisher/processing/default_test.go
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  packetbeat/magefile.go
  packetbeat/tests/system/test_0099_golden_files.py
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
Labels: Team:SIEM, backport, ecs, review

#17944 corrected module decode_cef documentation from Beta to GA
  CHANGELOG.next.asciidoc
  x-pack/filebeat/processors/decode_cef/decode_cef.go
  x-pack/filebeat/processors/decode_cef/docs/decode_cef.asciidoc
Labels: Team:SIEM, [zube]: Inbox, docs, module

#18113 Cherry-pick #18026 to 7.x: Document recent changes to nginx fileset as breaking changes
  CHANGELOG.next.asciidoc
Labels: Team:SIEM, backport, review

#18170 Cherry-pick #18046 to 7.x: Add missing $INSTALL_FLAG to go run in make update
  libbeat/scripts/Makefile
Labels: Team:Services, [zube]: In Review, backport, needs_team

#18173 Cherry-pick #18108 to 7.x: [Filebeat] Improve ECS categorization field mappings for netflow module
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-extended-uniflow-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Barracuda-firewall.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Mikrotik-RouterOS-6.39.2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Netscaler-with-variable-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Nokia-BRAS.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-OpenBSD-pflow.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-Procera.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-VMware-virtual-distributed-switch.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-YAF-basic-with-applabel.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-configured-with-include_flowset_id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-options-template-from-Juniper-MX240-JunOS-15.1-R6-S3.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX-vIPtela-with-VPN-id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/IPFIX.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-1941-K9-release-15.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA-2.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASA.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-options-template-256.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR-9000-series-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-ASR1001--X.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-flowset-262.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-NBAR-options-template-260.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Cisco-WLC.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-5.2.1.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Fortigate-FortiOS-54x-appid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C-Netstream-with-varstring.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-H3C.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Huawei-Netstream.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-IE150-IE151.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-1-flowset-in-large-zero-filled-packet.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Palo-Alto-PAN--OS-with-app--id.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Streamcore.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-Ubiquiti-Edgerouter-with-MPLS-labels.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-field-layer2segmentid.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-ipt_netflow-reduced-size-encoding.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-macaddress.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-multiple-netflow-exporters.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-nprobe-DPI-L7.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-options-template-with-scope-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-template-with-0-length-fields.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow-9-valid-01.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/Netflow9-Juniper-SRX-options-template-with-0-scope-field-length.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/ipfix_cisco.pcap.golden.json
  x-pack/filebeat/input/netflow/testdata/golden/netflow9_ubiquiti_edgerouter.pcap.golden.json
Labels: Team:SIEM, backport, needs_team

#18065 [Filebeat] Improve ECS categorization field mappings in system module
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/auth/ingest/pipeline.yml
  filebeat/module/system/auth/manifest.yml
  filebeat/module/system/auth/test/auth-ubuntu1204.log-expected.json
  filebeat/module/system/auth/test/secure-rhel7.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/auth/test/timestamp.log-expected.json
  filebeat/module/system/syslog/ingest/pipeline.json
  filebeat/module/system/syslog/ingest/pipeline.yml
  filebeat/module/system/syslog/manifest.yml
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog.log-expected.json
  filebeat/module/system/syslog/test/suse-syslog.log-expected.json
  filebeat/module/system/syslog/test/tz-offset.log-expected.json
Labels: Filebeat, Team:SIEM, ecs, enhancement, needs_backport

#18032 [Auditbeat] Add system module process dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
Labels: Auditbeat, Team:SIEM, enhancement, needs_backport

#18169 Cherry-pick #17960 to 7.x: Allow CLI paths override
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/main_test.go
  x-pack/elastic-agent/pkg/agent/application/global_config.go
  x-pack/elastic-agent/pkg/agent/cmd/common.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll.go
  x-pack/elastic-agent/pkg/agent/cmd/run.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, review

#18161 [Elastic-Agent] Follow home path for all config files
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/enroll_cmd.go
  x-pack/elastic-agent/pkg/agent/application/info/agent_id.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, elastic-agent, enhancement, review

#18139 [Uptime] Fix nesting of x509 subject
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  heartbeat/monitors/active/dialchain/_meta/fields.yml
Labels: Heartbeat, Team:Uptime, bug, v7.8.0

#18168 Cherry-pick #18127 to 7.x: Add Kerberos-aware Elasticsearch and integration test to ES output
  libbeat/docker-compose.yml
  libbeat/esleg/eslegtest/util.go
  libbeat/outputs/elasticsearch/client_integration_test.go
  libbeat/outputs/elasticsearch/testdata/krb5.conf
  testing/environments/docker/elasticsearch/kerberos/init.sh
  testing/environments/docker/elasticsearch/kerberos/installkdc.sh
  testing/environments/docker/elasticsearch_kerberos/Dockerfile
  testing/environments/docker/elasticsearch_kerberos/config/kdc.conf.template
  testing/environments/docker/elasticsearch_kerberos/config/krb5.conf
  testing/environments/docker/elasticsearch_kerberos/config/krb5.conf.template
  testing/environments/docker/elasticsearch_kerberos/healthcheck.sh
  testing/environments/docker/elasticsearch_kerberos/init.sh
  testing/environments/docker/elasticsearch_kerberos/scripts/addprinc.sh
  testing/environments/docker/elasticsearch_kerberos/scripts/addprincs.sh
  testing/environments/docker/elasticsearch_kerberos/scripts/installkdc.sh
  testing/environments/docker/elasticsearch_kerberos/start.sh
  testing/environments/docker/kerberos_kdc/Dockerfile
Labels: Team:Services, [zube]: In Review, backport, needs_team

#17823 Add process.command_line to Sysmon module
  CHANGELOG.next.asciidoc
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Team:SIEM, Winlogbeat, enhancement, review

#17790 Cherry-pick #15668 to 7.x: Support application default credentials (ADC) for Google Pub/Sub
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-google-pubsub.asciidoc
  x-pack/filebeat/input/googlepubsub/config.go
  x-pack/filebeat/input/googlepubsub/config_test.go
  x-pack/filebeat/input/googlepubsub/pubsub_test.go
  x-pack/filebeat/input/googlepubsub/testdata/fake.json
  x-pack/filebeat/module/googlecloud/audit/config/input.yml
  x-pack/filebeat/module/googlecloud/audit/manifest.yml
  x-pack/filebeat/module/googlecloud/firewall/config/input.yml
  x-pack/filebeat/module/googlecloud/firewall/manifest.yml
  x-pack/filebeat/module/googlecloud/vpcflow/config/input.yml
  x-pack/filebeat/module/googlecloud/vpcflow/manifest.yml
Labels: Team:SIEM, backport, review

#18153 [Winlogbeat] Skip add_host_metadata for forwarded event logs
  CHANGELOG.next.asciidoc
  dev-tools/mage/config.go
  libbeat/_meta/config.yml.tmpl
  winlogbeat/_meta/beat.yml.tmpl
  winlogbeat/_meta/common.yml.tmpl
  winlogbeat/cmd/root.go
  winlogbeat/scripts/mage/config.go
  winlogbeat/winlogbeat.reference.yml
  winlogbeat/winlogbeat.yml
  x-pack/winlogbeat/_meta/beat.yml.tmpl
  x-pack/winlogbeat/winlogbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: Team:SIEM, Winlogbeat, enhancement, review

#18159 Add a disable_host option to Filebeat inputs
  CHANGELOG.next.asciidoc
  filebeat/_meta/common.reference.inputs.yml
  filebeat/channel/runner.go
  filebeat/docs/inputs/input-common-options.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/test_input.py
  libbeat/beat/pipeline.go
  libbeat/publisher/processing/default.go
  x-pack/filebeat/filebeat.reference.yml
Labels: Filebeat, Team:SIEM, enhancement, libbeat, review

#18120 Cherry-pick #17960 to 7.x: Use data subfolder as default for process logs
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/global_config.go
  x-pack/elastic-agent/pkg/agent/application/paths/paths.go
  x-pack/elastic-agent/pkg/agent/cmd/common.go
  x-pack/elastic-agent/pkg/core/plugin/app/monitoring/beats/drop_test.go
  x-pack/elastic-agent/pkg/core/plugin/app/monitoring/beats/monitoring.go
  x-pack/elastic-agent/pkg/core/plugin/app/start.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, review

#18124 [Elastic-Agent] Enable introspecting configuration
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/emitter.go
  x-pack/elastic-agent/pkg/agent/application/introspect_config_cmd.go
  x-pack/elastic-agent/pkg/agent/application/introspect_output_cmd.go
  x-pack/elastic-agent/pkg/agent/cmd/common.go
  x-pack/elastic-agent/pkg/agent/cmd/introspect.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, elastic-agent, enhancement, needs_backport, review

#17921 Cherry-pick #17894 to 7.x: Agent push ECS meta to fleet
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/enroll_cmd.go
  x-pack/elastic-agent/pkg/agent/application/filters/constraints_filter.go
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway.go
  x-pack/elastic-agent/pkg/agent/application/info/agent_metadata.go
  x-pack/elastic-agent/pkg/agent/application/local_meta.go
  x-pack/elastic-agent/pkg/core/plugin/app/monitoring/beats/beats_monitor.go
  x-pack/elastic-agent/pkg/fleetapi/checkin_cmd.go
  x-pack/elastic-agent/pkg/fleetapi/checkin_cmd_test.go
  x-pack/elastic-agent/pkg/fleetapi/enroll_cmd.go
  x-pack/elastic-agent/pkg/fleetapi/enroll_cmd_test.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, [zube]: In Review, backport, elastic-agent, enhancement, review

#18135 [Elastic Agent] Fix issues with the Gateway
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway.go
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway_test.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, elastic-agent, needs_backport, review

#18134 Skip flaky clean_x tests in filebeat
  filebeat/tests/system/test_registrar.py
Labels: Filebeat, Team:Services, [zube]: In Review, flaky-test, review

#18146 [7.7][docs] Backport: Fix netflow field docs by removing duplicate topic (#16784)
  filebeat/docs/fields.asciidoc
  libbeat/scripts/generate_fields_docs.py
  x-pack/filebeat/module/netflow/_meta/fields.yml
  x-pack/filebeat/module/netflow/fields.go
Labels: Team:Integrations, backport, docs, v7.7.0

#18147 [7.x][docs] Backport: Fix netflow field docs by removing duplicate topic (#16784)
  filebeat/docs/fields.asciidoc
  libbeat/scripts/generate_fields_docs.py
  x-pack/filebeat/module/netflow/_meta/fields.yml
  x-pack/filebeat/module/netflow/fields.go
Labels: Team:Integrations, backport, docs, v7.8.0

#18185 Cherry-pick #18003 to 7.x: Do not require unnecessary configuration
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/_meta/common.p2.yml
  x-pack/elastic-agent/_meta/common.reference.p2.yml
  x-pack/elastic-agent/_meta/elastic-agent.docker.yml
  x-pack/elastic-agent/_meta/elastic-agent.fleet.yml
  x-pack/elastic-agent/_meta/elastic-agent.yml
  x-pack/elastic-agent/elastic-agent.docker.yml
  x-pack/elastic-agent/elastic-agent.reference.yml
  x-pack/elastic-agent/elastic-agent.yml
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/configuration_embed.go
  x-pack/elastic-agent/pkg/agent/application/stream.go
  x-pack/elastic-agent/pkg/agent/operation/config/config.go
  x-pack/elastic-agent/pkg/agent/operation/operator.go
  x-pack/elastic-agent/pkg/artifact/config.go
  x-pack/elastic-agent/pkg/core/plugin/app/monitoring/monitor.go
  x-pack/elastic-agent/pkg/core/plugin/app/start.go
  x-pack/elastic-agent/pkg/core/plugin/process/config.go
  x-pack/elastic-agent/pkg/core/plugin/retry/config.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, enhancement, needs_team, review

#18115 [docs] Fix indentation problems in processor examples
  auditbeat/auditbeat.reference.yml
  filebeat/docs/filebeat-filtering.asciidoc
  filebeat/docs/kubernetes-default-indexers-matchers.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/docs/processors-list.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-deduplication.asciidoc
  libbeat/processors/actions/docs/add_fields.asciidoc
  libbeat/processors/actions/docs/add_labels.asciidoc
  libbeat/processors/actions/docs/add_tags.asciidoc
  libbeat/processors/actions/docs/copy_fields.asciidoc
  libbeat/processors/actions/docs/decode_base64_field.asciidoc
  libbeat/processors/actions/docs/decode_json_fields.asciidoc
  libbeat/processors/actions/docs/decompress_gzip_field.asciidoc
  libbeat/processors/actions/docs/drop_event.asciidoc
  libbeat/processors/actions/docs/drop_fields.asciidoc
  libbeat/processors/actions/docs/include_fields.asciidoc
  libbeat/processors/actions/docs/rename.asciidoc
  libbeat/processors/actions/docs/replace.asciidoc
  libbeat/processors/actions/docs/truncate_fields.asciidoc
  libbeat/processors/add_cloud_metadata/docs/add_cloud_metadata.asciidoc
  libbeat/processors/add_docker_metadata/docs/add_docker_metadata.asciidoc
  libbeat/processors/add_host_metadata/docs/add_host_metadata.asciidoc
  libbeat/processors/add_id/docs/add_id.asciidoc
  libbeat/processors/add_kubernetes_metadata/docs/add_kubernetes_metadata.asciidoc
  libbeat/processors/add_locale/docs/add_locale.asciidoc
  libbeat/processors/add_observer_metadata/docs/add_observer_metadata.asciidoc
  libbeat/processors/add_process_metadata/docs/add_process_metadata.asciidoc
  libbeat/processors/decode_csv_fields/docs/decode_csv_fields.asciidoc
  libbeat/processors/dns/docs/dns.asciidoc
  libbeat/processors/extract_array/docs/extract_array.asciidoc
  libbeat/processors/fingerprint/docs/fingerprint.asciidoc
  libbeat/processors/registered_domain/docs/registered_domain.asciidoc
  libbeat/processors/script/docs/script.asciidoc
  libbeat/processors/timestamp/docs/timestamp.asciidoc
  libbeat/processors/translate_sid/docs/translate_sid.asciidoc
  libbeat/processors/urldecode/docs/urldecode.asciidoc
  metricbeat/docs/kubernetes-default-indexers-matchers.asciidoc
  metricbeat/docs/metricbeat-filtering.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/filesystem/_meta/docs.asciidoc
  metricbeat/module/windows/service/_meta/docs.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
  packetbeat/packetbeat.reference.yml
  winlogbeat/docs/modules.asciidoc
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/processors/decode_cef/docs/decode_cef.asciidoc
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/libbeat/processors/add_cloudfoundry_metadata/docs/add_cloudfoundry_metadata.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/cockroachdb/status/_meta/docs.asciidoc
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: Team:Integrations, docs, needs_backport, review

#18180 Cherry-pick #18161 to 7.x: Follow home path for all config files
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/enroll_cmd.go
  x-pack/elastic-agent/pkg/agent/application/info/agent_id.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, elastic-agent, enhancement, needs_team, review

#18189 [Elastic Agent] Enable windows enroll cmd test
  x-pack/elastic-agent/pkg/agent/application/enroll_cmd_test.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Progress, elastic-agent, in progress, needs_team

#18144 [docs] Change timezone to time zone
  filebeat/docs/fields.asciidoc
  filebeat/docs/include/timezone-support.asciidoc
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/slowlog/config/slowlog.yml
  heartbeat/_meta/beat.reference.yml
  heartbeat/docs/heartbeat-scheduler.asciidoc
  heartbeat/heartbeat.reference.yml
  libbeat/processors/timestamp/docs/timestamp.asciidoc
  x-pack/filebeat/processors/decode_cef/_meta/fields.yml
  x-pack/filebeat/processors/decode_cef/fields.go
Labels: Team:Integrations, docs, needs_backport, review

#18181 Cherry-pick #17823 to 7.x: Add process.command_line to Sysmon module
  CHANGELOG.next.asciidoc
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Team:SIEM, backport, review

#18138 Add more kubernetes integration tests
  dev-tools/mage/kuberemote.go
  dev-tools/mage/kubernetes/kubectl.go
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/kubernetes/kubernetes.go
  metricbeat/module/kubernetes/container/container_integration_test.go
  metricbeat/module/kubernetes/node/node_integration_test.go
  metricbeat/module/kubernetes/pod/pod_integration_test.go
  metricbeat/module/kubernetes/proxy/proxy_integration_test.go
  metricbeat/module/kubernetes/scheduler/scheduler_integration_test.go
  metricbeat/module/kubernetes/system/system_integration_test.go
  metricbeat/module/kubernetes/test/integration.go
  metricbeat/module/kubernetes/volume/volume_integration_test.go
Labels: Team:Platforms, [zube]: In Review, enhancement, needs_backport, review, v7.8.0

#18191 Cherry-pick #18083 to 7.x: Configurable log level
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/_meta/common.p2.yml
  x-pack/elastic-agent/_meta/common.reference.p2.yml
  x-pack/elastic-agent/_meta/elastic-agent.docker.yml
  x-pack/elastic-agent/_meta/elastic-agent.yml
  x-pack/elastic-agent/docs/elastic-agent_configuration_example.yml
  x-pack/elastic-agent/elastic-agent.docker.yml
  x-pack/elastic-agent/elastic-agent.reference.yml
  x-pack/elastic-agent/elastic-agent.yml
  x-pack/elastic-agent/pkg/agent/application/local_mode.go
  x-pack/elastic-agent/pkg/agent/operation/config/config.go
  x-pack/elastic-agent/pkg/agent/operation/operator.go
  x-pack/elastic-agent/pkg/core/logger/logger.go
  x-pack/elastic-agent/pkg/core/plugin/app/app.go
  x-pack/elastic-agent/pkg/core/plugin/app/start.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, enhancement, needs_team, review

#18194 Cherry-pick #18124 to 7.x: Enable introspecting configuration
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/emitter.go
  x-pack/elastic-agent/pkg/agent/application/introspect_config_cmd.go
  x-pack/elastic-agent/pkg/agent/application/introspect_output_cmd.go
  x-pack/elastic-agent/pkg/agent/cmd/common.go
  x-pack/elastic-agent/pkg/agent/cmd/introspect.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, enhancement, needs_team, review

#18143 Regression: Fix assigning to nil map in DeepMerge
  CHANGELOG.next.asciidoc
  libbeat/common/mapstr.go
  libbeat/common/mapstr_test.go
Labels: Team:Services, [zube]: In Review, bug, libbeat, needs_backport, review, v7.8.0

#18086 Fix metricbeat generator test to use mage test
  generator/_templates/metricbeat/{beat}/magefile.go
  generator/common/Makefile
Labels: Team:Platforms, [zube]: In Review, bug

#18201 Cherry-pick #18138 to 7.x: Add more kubernetes integration tests
  dev-tools/mage/kuberemote.go
  dev-tools/mage/kubernetes/kubectl.go
  dev-tools/mage/kubernetes/kuberemote.go
  dev-tools/mage/kubernetes/kubernetes.go
  metricbeat/module/kubernetes/container/container_integration_test.go
  metricbeat/module/kubernetes/node/node_integration_test.go
  metricbeat/module/kubernetes/pod/pod_integration_test.go
  metricbeat/module/kubernetes/proxy/proxy_integration_test.go
  metricbeat/module/kubernetes/scheduler/scheduler_integration_test.go
  metricbeat/module/kubernetes/system/system_integration_test.go
  metricbeat/module/kubernetes/test/integration.go
  metricbeat/module/kubernetes/volume/volume_integration_test.go
Labels: Team:Platforms, backport, review

#18183 Cherry-pick #18153 to 7.x: [Winlogbeat] Skip add_host_metadata for forwarded event logs
  CHANGELOG.next.asciidoc
  dev-tools/mage/config.go
  libbeat/_meta/config.yml.tmpl
  winlogbeat/_meta/beat.yml.tmpl
  winlogbeat/_meta/common.yml.tmpl
  winlogbeat/cmd/root.go
  winlogbeat/scripts/mage/config.go
  winlogbeat/winlogbeat.reference.yml
  winlogbeat/winlogbeat.yml
  x-pack/winlogbeat/_meta/beat.yml.tmpl
  x-pack/winlogbeat/winlogbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: Team:SIEM, backport, review

#18179 Cherry-pick #18139 to 7.x: [Uptime] Fix nesting of x509 subject
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  heartbeat/monitors/active/dialchain/_meta/fields.yml
Labels: Heartbeat, Team:Uptime, backport, bug, review

#18078 Cherry-pick #17920 to 7.7: Fix icmp duration
  heartbeat/monitors/active/icmp/icmp.go
  heartbeat/monitors/active/icmp/icmp_test.go
  heartbeat/monitors/active/icmp/loop.go
  heartbeat/monitors/active/icmp/stdloop.go
Labels: Heartbeat, Team:Uptime, backport, review, v7.7.1

#18077 Cherry-pick #17920 to 7.x: Fix icmp duration
  heartbeat/monitors/active/icmp/icmp.go
  heartbeat/monitors/active/icmp/icmp_test.go
  heartbeat/monitors/active/icmp/loop.go
  heartbeat/monitors/active/icmp/stdloop.go
Labels: Heartbeat, Team:Uptime, backport, review, v7.8.0

#18177 Cherry-pick #18065 to 7.x: [Filebeat] Improve ECS categorization field mappings in system module
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/ingest/pipeline.json
  filebeat/module/system/auth/ingest/pipeline.yml
  filebeat/module/system/auth/manifest.yml
  filebeat/module/system/auth/test/auth-ubuntu1204.log-expected.json
  filebeat/module/system/auth/test/secure-rhel7.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/auth/test/timestamp.log-expected.json
  filebeat/module/system/syslog/ingest/pipeline.json
  filebeat/module/system/syslog/ingest/pipeline.yml
  filebeat/module/system/syslog/manifest.yml
  filebeat/module/system/syslog/test/darwin-syslog-sample.log-expected.json
  filebeat/module/system/syslog/test/darwin-syslog.log-expected.json
  filebeat/module/system/syslog/test/suse-syslog.log-expected.json
  filebeat/module/system/syslog/test/tz-offset.log-expected.json
Labels: Team:SIEM, backport, review

#18163 Cherry-pick #17480 to 7.x: Add AWS tests to Jenkinsfile
  .ci/scripts/install-terraform.sh
  .ci/scripts/terraform-cleanup.sh
  .gitignore
  Jenkinsfile
  dev-tools/mage/common.go
  dev-tools/mage/gotest.go
  docs/devguide/terraform.asciidoc
  x-pack/metricbeat/module/aws/terraform.tf
Labels: backport, needs_team, review

#18198 [7.x][docs] Backport: Fix indentation problems in processor examples (#18115)
  auditbeat/auditbeat.reference.yml
  filebeat/docs/filebeat-filtering.asciidoc
  filebeat/docs/kubernetes-default-indexers-matchers.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/docs/processors-list.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-deduplication.asciidoc
  libbeat/processors/actions/docs/add_fields.asciidoc
  libbeat/processors/actions/docs/add_labels.asciidoc
  libbeat/processors/actions/docs/add_tags.asciidoc
  libbeat/processors/actions/docs/copy_fields.asciidoc
  libbeat/processors/actions/docs/decode_base64_field.asciidoc
  libbeat/processors/actions/docs/decode_json_fields.asciidoc
  libbeat/processors/actions/docs/decompress_gzip_field.asciidoc
  libbeat/processors/actions/docs/drop_event.asciidoc
  libbeat/processors/actions/docs/drop_fields.asciidoc
  libbeat/processors/actions/docs/include_fields.asciidoc
  libbeat/processors/actions/docs/rename.asciidoc
  libbeat/processors/actions/docs/replace.asciidoc
  libbeat/processors/actions/docs/truncate_fields.asciidoc
  libbeat/processors/add_cloud_metadata/docs/add_cloud_metadata.asciidoc
  libbeat/processors/add_docker_metadata/docs/add_docker_metadata.asciidoc
  libbeat/processors/add_host_metadata/docs/add_host_metadata.asciidoc
  libbeat/processors/add_id/docs/add_id.asciidoc
  libbeat/processors/add_kubernetes_metadata/docs/add_kubernetes_metadata.asciidoc
  libbeat/processors/add_locale/docs/add_locale.asciidoc
  libbeat/processors/add_observer_metadata/docs/add_observer_metadata.asciidoc
  libbeat/processors/add_process_metadata/docs/add_process_metadata.asciidoc
  libbeat/processors/decode_csv_fields/docs/decode_csv_fields.asciidoc
  libbeat/processors/dns/docs/dns.asciidoc
  libbeat/processors/extract_array/docs/extract_array.asciidoc
  libbeat/processors/fingerprint/docs/fingerprint.asciidoc
  libbeat/processors/registered_domain/docs/registered_domain.asciidoc
  libbeat/processors/script/docs/script.asciidoc
  libbeat/processors/timestamp/docs/timestamp.asciidoc
  libbeat/processors/translate_sid/docs/translate_sid.asciidoc
  libbeat/processors/urldecode/docs/urldecode.asciidoc
  metricbeat/docs/kubernetes-default-indexers-matchers.asciidoc
  metricbeat/docs/metricbeat-filtering.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/filesystem/_meta/docs.asciidoc
  metricbeat/module/windows/service/_meta/docs.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
  packetbeat/packetbeat.reference.yml
  winlogbeat/docs/modules.asciidoc
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/processors/decode_cef/docs/decode_cef.asciidoc
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/libbeat/processors/add_cloudfoundry_metadata/docs/add_cloudfoundry_metadata.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/cockroachdb/status/_meta/docs.asciidoc
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: Team:Integrations, backport, docs, v7.8.0

#18197 [7.7][docs] Backport: Fix indentation problems in processor examples (#18115)
  auditbeat/auditbeat.reference.yml
  filebeat/docs/filebeat-filtering.asciidoc
  filebeat/docs/kubernetes-default-indexers-matchers.asciidoc
  filebeat/filebeat.reference.yml
  heartbeat/heartbeat.reference.yml
  journalbeat/journalbeat.reference.yml
  libbeat/_meta/config.reference.yml.tmpl
  libbeat/docs/processors-list.asciidoc
  libbeat/docs/processors-using.asciidoc
  libbeat/docs/shared-deduplication.asciidoc
  libbeat/processors/actions/docs/add_fields.asciidoc
  libbeat/processors/actions/docs/add_labels.asciidoc
  libbeat/processors/actions/docs/add_tags.asciidoc
  libbeat/processors/actions/docs/copy_fields.asciidoc
  libbeat/processors/actions/docs/decode_base64_field.asciidoc
  libbeat/processors/actions/docs/decode_json_fields.asciidoc
  libbeat/processors/actions/docs/decompress_gzip_field.asciidoc
  libbeat/processors/actions/docs/drop_event.asciidoc
  libbeat/processors/actions/docs/drop_fields.asciidoc
  libbeat/processors/actions/docs/include_fields.asciidoc
  libbeat/processors/actions/docs/rename.asciidoc
  libbeat/processors/actions/docs/truncate_fields.asciidoc
  libbeat/processors/add_cloud_metadata/docs/add_cloud_metadata.asciidoc
  libbeat/processors/add_docker_metadata/docs/add_docker_metadata.asciidoc
  libbeat/processors/add_host_metadata/docs/add_host_metadata.asciidoc
  libbeat/processors/add_id/docs/add_id.asciidoc
  libbeat/processors/add_kubernetes_metadata/docs/add_kubernetes_metadata.asciidoc
  libbeat/processors/add_locale/docs/add_locale.asciidoc
  libbeat/processors/add_observer_metadata/docs/add_observer_metadata.asciidoc
  libbeat/processors/add_process_metadata/docs/add_process_metadata.asciidoc
  libbeat/processors/decode_csv_fields/docs/decode_csv_fields.asciidoc
  libbeat/processors/dns/docs/dns.asciidoc
  libbeat/processors/extract_array/docs/extract_array.asciidoc
  libbeat/processors/fingerprint/docs/fingerprint.asciidoc
  libbeat/processors/registered_domain/docs/registered_domain.asciidoc
  libbeat/processors/script/docs/script.asciidoc
  libbeat/processors/timestamp/docs/timestamp.asciidoc
  libbeat/processors/translate_sid/docs/translate_sid.asciidoc
  metricbeat/docs/kubernetes-default-indexers-matchers.asciidoc
  metricbeat/docs/metricbeat-filtering.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/filesystem/_meta/docs.asciidoc
  metricbeat/module/windows/service/_meta/docs.asciidoc
  packetbeat/docs/packetbeat-filtering.asciidoc
  packetbeat/packetbeat.reference.yml
  winlogbeat/docs/modules.asciidoc
  winlogbeat/winlogbeat.reference.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/processors/decode_cef/docs/decode_cef.asciidoc
  x-pack/functionbeat/functionbeat.reference.yml
  x-pack/libbeat/processors/add_cloudfoundry_metadata/docs/add_cloudfoundry_metadata.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/cockroachdb/status/_meta/docs.asciidoc
  x-pack/winlogbeat/winlogbeat.reference.yml
Labels: Team:Integrations, backport, docs, v7.7.0

#17991 Give precedence to monitoring reporter hosts over output hosts
  CHANGELOG.next.asciidoc
  libbeat/monitoring/report/report.go
  libbeat/monitoring/report/report_test.go
Labels: Stack monitoring, Team:Services, [zube]: In Review, bug, libbeat, needs_backport, v7.7.1, v7.8.0, v8.0.0

#18207 [7.x][docs] Backport: Change timezone to time zone (#18144)
  filebeat/docs/fields.asciidoc
  filebeat/docs/include/timezone-support.asciidoc
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/slowlog/config/slowlog.yml
  heartbeat/_meta/beat.reference.yml
  heartbeat/docs/heartbeat-scheduler.asciidoc
  heartbeat/heartbeat.reference.yml
  libbeat/processors/timestamp/docs/timestamp.asciidoc
  x-pack/filebeat/processors/decode_cef/_meta/fields.yml
  x-pack/filebeat/processors/decode_cef/fields.go
Labels: Team:Integrations, backport, docs, v7.8.0

#18199 Cherry-pick #18189 to 7.x: [Elastic Agent] Enable windows enroll cmd test
  x-pack/elastic-agent/pkg/agent/application/enroll_cmd_test.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, backport, needs_team, review

#18187 Cherry-pick #18135 to 7.x: [Elastic Agent] Fix issues with the Gateway
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway.go
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway_test.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, backport, review

#18074 [Metricbeat] Add debug log for cloudwatch metricset
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
Labels: Team:Platforms, [zube]: In Review, review

#18162 Cherry-pick #18125 to 7.x: Keep running integration tests of modules without environment
  dev-tools/mage/integtest.go
Labels: backport, needs_team, review

#18052 Cherry-pick #17673 to 7.x: Add domain state to kvm module
  CHANGELOG.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/kvm.asciidoc
  metricbeat/docs/modules/kvm/status.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_common.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kvm/_meta/config.reference.yml
  metricbeat/module/kvm/_meta/config.yml
  metricbeat/module/kvm/fields.go
  metricbeat/module/kvm/status/_meta/data.json
  metricbeat/module/kvm/status/_meta/docs.asciidoc
  metricbeat/module/kvm/status/_meta/fields.yml
  metricbeat/module/kvm/status/status.go
  metricbeat/module/kvm/status/status_test.go
  metricbeat/modules.d/kvm.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, review

#17992 Collect bulk indexing stats for Elasticsearch metricsets
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/index/data_xpack.go
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/index/index_test.go
  metricbeat/module/elasticsearch/index_summary/data_xpack.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Metricbeat, Stack monitoring, Team:Services, in progress, module, needs_backport, v7.8.0, v8.0.0

#17958 Deep merge event fields and metadata maps
  CHANGELOG.next.asciidoc
  libbeat/common/jsontransform/jsonhelper.go
  libbeat/common/jsontransform/jsonhelper_test.go
Labels: Team:Services, [zube]: In Review, bug, needs_backport, v7.7.1, v7.8.0, v8.0.0

#17708 Cherry-pick #17378 to 7.x: [Metricbeat] Add a switch to the driver definition on SQL module to use pretty names
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/sql/query/query.go
Labels: Metricbeat, Team:Services, backport, review

#18229 [7.x] Collect bulk indexing stats for Elasticsearch metricsets (#17992)
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/elasticsearch.go
  metricbeat/module/elasticsearch/index/data_xpack.go
  metricbeat/module/elasticsearch/index/index.go
  metricbeat/module/elasticsearch/index/index_test.go
  metricbeat/module/elasticsearch/index_summary/data_xpack.go
  metricbeat/module/elasticsearch/node_stats/data_xpack.go
Labels: Team:Services, [zube]: In Review, backport

#18204 [Agent] Enable monitoring by default
  x-pack/elastic-agent/_meta/config/common.p2.yml.tmpl
  x-pack/elastic-agent/elastic-agent.yml
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, elastic-agent, review

#18232 [Elastic Agent] Fix default configuration after enroll
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/_meta/elastic-agent.fleet.yml
  x-pack/elastic-agent/pkg/agent/application/configuration_embed.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, bug, elastic-agent

#18182 [Metricbeat] Remove requirement of connect as sysdba in Oracle
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/oracle.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/oracle/_meta/config.yml
  x-pack/metricbeat/module/oracle/connection.go
  x-pack/metricbeat/module/oracle/testing.go
  x-pack/metricbeat/modules.d/oracle.yml.disabled
Labels: Metricbeat, Team:Services

#17862 [Metricbeat] Update MSSQL module to use latest library version and fix release tags
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/docs/modules/mssql.asciidoc
  metricbeat/docs/modules/mssql/performance.asciidoc
  metricbeat/docs/modules/mssql/transaction_log.asciidoc
  metricbeat/docs/modules_list.asciidoc
  vendor/github.com/denisenkom/go-mssqldb/README.md
  vendor/github.com/denisenkom/go-mssqldb/accesstokenconnector.go
  vendor/github.com/denisenkom/go-mssqldb/appveyor.yml
  vendor/github.com/denisenkom/go-mssqldb/buf.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy.go
  vendor/github.com/denisenkom/go-mssqldb/conn_str.go
  vendor/github.com/denisenkom/go-mssqldb/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/go.mod
  vendor/github.com/denisenkom/go-mssqldb/go.sum
  vendor/github.com/denisenkom/go-mssqldb/internal/decimal/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/internal/querytext/parser.go
  vendor/github.com/denisenkom/go-mssqldb/mssql.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110pre.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19.go
  vendor/github.com/denisenkom/go-mssqldb/net.go
  vendor/github.com/denisenkom/go-mssqldb/ntlm.go
  vendor/github.com/denisenkom/go-mssqldb/tds.go
  vendor/github.com/denisenkom/go-mssqldb/token.go
  vendor/github.com/denisenkom/go-mssqldb/tvp_go19.go
  vendor/github.com/denisenkom/go-mssqldb/types.go
  vendor/github.com/denisenkom/go-mssqldb/uniqueidentifier.go
  vendor/github.com/golang-sql/civil/CONTRIBUTING.md
  vendor/github.com/golang-sql/civil/LICENSE
  vendor/github.com/golang-sql/civil/README.md
  vendor/github.com/golang-sql/civil/civil.go
  vendor/modules.txt
  x-pack/metricbeat/module/mssql/_meta/docs.asciidoc
  x-pack/metricbeat/module/mssql/fields.go
  x-pack/metricbeat/module/mssql/performance/_meta/data.json
  x-pack/metricbeat/module/mssql/performance/_meta/fields.yml
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
  x-pack/metricbeat/module/mssql/performance/performance.go
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/_meta/data.json
  x-pack/metricbeat/module/mssql/transaction_log/_meta/fields.yml
  x-pack/metricbeat/module/mssql/transaction_log/data_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/transaction_log.go
Labels: Metricbeat, Team:Services, [zube]: In Review, enhancement

#18206 Cherry-pick #18143 to 7.x: Regression: Fix assigning to nil map in DeepMerge
  CHANGELOG.next.asciidoc
  libbeat/common/mapstr.go
  libbeat/common/mapstr_test.go
Labels: Team:Services, [zube]: In Review, backport

#18190 Cherry-pick #18134 to 7.x: Skip flaky clean_x tests in filebeat
  filebeat/tests/system/test_registrar.py
Labels: Team:Services, [zube]: In Review, backport, needs_team

#18235 [Agent] Update log message to be Experimental instead of Alpha
  x-pack/elastic-agent/pkg/agent/warn/warn.go
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, elastic-agent, needs_team

#18231 [7.7] Deep merge event fields and metadata maps (#17958)
  CHANGELOG.next.asciidoc
  libbeat/common/jsontransform/jsonhelper.go
  libbeat/common/jsontransform/jsonhelper_test.go
Labels: Team:Services, [zube]: In Review, backport

#18225 Cherry-pick #18204 to 7.x: Enable monitoring by default
  x-pack/elastic-agent/_meta/common.p2.yml
  x-pack/elastic-agent/elastic-agent.yml
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, review

#18238 Cherry-pick #18232 to 7.x: Fix default configuration after enroll
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/_meta/elastic-agent.fleet.yml
  x-pack/elastic-agent/pkg/agent/application/configuration_embed.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, bug, elastic-agent, needs_team

#18234 [Elastic-Agent] Use nested objects so fleet can handle metadata correctly
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/info/agent_metadata.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, elastic-agent, enhancement, needs_backport, review

#18227 [Agent] Update log message to be Experimental instead of Alpha
  x-pack/elastic-agent/pkg/agent/warn/warn.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, elastic-agent, needs_backport, review

#18222 Cherry-pick #18074 to 7.7: [Metricbeat] Add debug log for cloudwatch metricset
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
Labels: backport, needs_team, review

#18221 Cherry-pick #18074 to 7.x: [Metricbeat] Add debug log for cloudwatch metricset
  x-pack/metricbeat/module/aws/aws.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch_test.go
Labels: backport, needs_team, review

#18208 Cherry-pick #18086 to 7.x: Fix metricbeat generator test to use mage test
  generator/_templates/metricbeat/{beat}/magefile.go
  generator/common/Makefile
Labels: Team:Platforms, backport, review

#18236 Cherry-pick #18182 to 7.x: [Metricbeat] Remove requirement of connect as sysdba in Oracle
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/oracle.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/oracle/_meta/config.yml
  x-pack/metricbeat/module/oracle/connection.go
  x-pack/metricbeat/module/oracle/testing.go
  x-pack/metricbeat/modules.d/oracle.yml.disabled
Labels: Metricbeat, Team:Services, backport, needs_team, review

#18241 Cherry-pick #18234 to 7.x: Use nested objects in ECS metadata
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/info/agent_metadata.go
Labels: Ingest Management:alpha1, Project:fleet, Team:Ingest Management, backport, elastic-agent, enhancement, needs_team, review

#18237 Cherry-pick #17862 to 7.x: [Metricbeat] Update MSSQL module to use latest library version and fix release tags
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/docs/modules/mssql.asciidoc
  metricbeat/docs/modules/mssql/performance.asciidoc
  metricbeat/docs/modules/mssql/transaction_log.asciidoc
  metricbeat/docs/modules_list.asciidoc
  vendor/github.com/denisenkom/go-mssqldb/README.md
  vendor/github.com/denisenkom/go-mssqldb/accesstokenconnector.go
  vendor/github.com/denisenkom/go-mssqldb/appveyor.yml
  vendor/github.com/denisenkom/go-mssqldb/buf.go
  vendor/github.com/denisenkom/go-mssqldb/bulkcopy.go
  vendor/github.com/denisenkom/go-mssqldb/conn_str.go
  vendor/github.com/denisenkom/go-mssqldb/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/go.mod
  vendor/github.com/denisenkom/go-mssqldb/go.sum
  vendor/github.com/denisenkom/go-mssqldb/internal/decimal/decimal.go
  vendor/github.com/denisenkom/go-mssqldb/internal/querytext/parser.go
  vendor/github.com/denisenkom/go-mssqldb/mssql.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go110pre.go
  vendor/github.com/denisenkom/go-mssqldb/mssql_go19.go
  vendor/github.com/denisenkom/go-mssqldb/net.go
  vendor/github.com/denisenkom/go-mssqldb/ntlm.go
  vendor/github.com/denisenkom/go-mssqldb/tds.go
  vendor/github.com/denisenkom/go-mssqldb/token.go
  vendor/github.com/denisenkom/go-mssqldb/tvp_go19.go
  vendor/github.com/denisenkom/go-mssqldb/types.go
  vendor/github.com/denisenkom/go-mssqldb/uniqueidentifier.go
  vendor/github.com/golang-sql/civil/CONTRIBUTING.md
  vendor/github.com/golang-sql/civil/LICENSE
  vendor/github.com/golang-sql/civil/README.md
  vendor/github.com/golang-sql/civil/civil.go
  vendor/modules.txt
  x-pack/metricbeat/module/mssql/_meta/docs.asciidoc
  x-pack/metricbeat/module/mssql/fields.go
  x-pack/metricbeat/module/mssql/performance/_meta/data.json
  x-pack/metricbeat/module/mssql/performance/_meta/fields.yml
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
  x-pack/metricbeat/module/mssql/performance/performance.go
  x-pack/metricbeat/module/mssql/performance/performance_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/_meta/data.json
  x-pack/metricbeat/module/mssql/transaction_log/_meta/fields.yml
  x-pack/metricbeat/module/mssql/transaction_log/data_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/transaction_log.go
Labels: Metricbeat, Team:Services, backport, needs_team, review

#18228 Fix docs link
  metricbeat/docs/running-on-kubernetes.asciidoc
Labels: Team:Platforms, [zube]: In Review, docs, review

#18178 Cherry-pick #18032 to 7.x: [Auditbeat] Add system module process dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/process/process.go
  x-pack/auditbeat/module/system/process/process_test.go
Labels: Team:SIEM, backport, review

#18114 Cherry-pick #17982 to 7.x: [Filebeat] Improve ECS field mappings in santa module
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/module/santa/_meta/fields.yml
  filebeat/module/santa/fields.go
  filebeat/module/santa/log/ingest/pipeline.json
  filebeat/module/santa/log/ingest/pipeline.yml
  filebeat/module/santa/log/manifest.yml
  filebeat/module/santa/log/test/santa.log-expected.json
Labels: Team:SIEM, backport, review

#17881 [Filebeat] Improve ECS categorization field mappings in osquery module
  CHANGELOG.next.asciidoc
  filebeat/module/osquery/result/config/result.yml
  filebeat/module/osquery/result/ingest/pipeline.json
  filebeat/module/osquery/result/test/osquery.rootkit.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.darwin.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.sample.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
Labels: Filebeat, Team:SIEM, ecs, enhancement, needs_backport

#18242 Cherry-pick #18228 to 7.x: Fix docs link
  metricbeat/docs/running-on-kubernetes.asciidoc
Labels: backport, needs_team, review

#18036 [Auditbeat] Add system module socket dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/socket/state.go
  x-pack/auditbeat/module/system/socket/state_test.go
  x-pack/auditbeat/tests/system/test_system_socket.py
Labels: Auditbeat, Team:SIEM, enhancement

#18031 [Auditbeat] Add ECS categories for system-host module
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
Labels: Auditbeat, Team:SIEM, enhancement

#18033 [Auditbeat] Add system module package dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_homebrew.go
  x-pack/auditbeat/module/system/package/package_homebrew_test.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/package/rpm_common_test.go
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Auditbeat, Team:SIEM, enhancement

#18034 [Auditbeat] Add system module login dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/login/login.go
  x-pack/auditbeat/module/system/login/login_test.go
Labels: Auditbeat, Team:SIEM, enhancement

#18035 [Auditbeat] Add system module user dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
Labels: Auditbeat, Team:SIEM, enhancement

#17732 [Filebeat] Add support for v10, v11 and v12 Postgres logs with duration statement
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/postgresql.asciidoc
  filebeat/module/postgresql/_meta/docs.asciidoc
  filebeat/module/postgresql/log/ingest/pipeline.yml
  filebeat/module/postgresql/log/test/postgresql-10-default.log
  filebeat/module/postgresql/log/test/postgresql-10-default.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-10-min-duration-statement.log
  filebeat/module/postgresql/log/test/postgresql-10-min-duration-statement.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-12-default.log
  filebeat/module/postgresql/log/test/postgresql-12-default.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-12-min-duration-statement.log
  filebeat/module/postgresql/log/test/postgresql-12-min-duration-statement.log-expected.json
Labels: Filebeat, Team:Services, [zube]: In Review, enhancement

#17890 Fortinet Filebeat Module
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/fortinet.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/fortinet/_meta/config.yml
  x-pack/filebeat/module/fortinet/_meta/docs.asciidoc
  x-pack/filebeat/module/fortinet/_meta/fields.yml
  x-pack/filebeat/module/fortinet/fields.go
  x-pack/filebeat/module/fortinet/firewall/_meta/fields.yml
  x-pack/filebeat/module/fortinet/firewall/config/firewall.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/event.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/pipeline.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/traffic.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/utm.yml
  x-pack/filebeat/module/fortinet/firewall/manifest.yml
  x-pack/filebeat/module/fortinet/firewall/test/fortinet.log
  x-pack/filebeat/module/fortinet/firewall/test/fortinet.log-expected.json
  x-pack/filebeat/module/fortinet/module.yml
  x-pack/filebeat/modules.d/fortinet.yml.disabled
Labels: Team:SIEM, enhancement, review

#18058 [Winlogbeat] Add registry and code signature information and ECS categorization fields for sysmon module
  CHANGELOG.next.asciidoc
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-10.2-dns.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-11-registry.evtx
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-11-registry.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Team:SIEM, Winlogbeat, enhancement

#18165 [7.x] test: build docker image (#17905) (7d0a45a4)
  .ci/packaging.groovy
  Jenkinsfile
Labels: Team:Automation, backport

#18166 [7.7] test: build docker image (#17905) (7d0a45a4)
  .ci/packaging.groovy
  Jenkinsfile
Labels: Team:Automation, backport

#18210 Cherry-pick #18149 to 7.x: Fix broken x-pack/filebeat tests
  x-pack/filebeat/module/netflow/_meta/fields.yml
  x-pack/filebeat/module/netflow/fields.go
Labels: Team:Integrations, backport, review

#18172 [Metricbeat] Add dashboard for googlecloud storage metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-googlecloud-storage-overview.png
  metricbeat/docs/modules/googlecloud.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/googlecloud/_meta/config.yml
  x-pack/metricbeat/module/googlecloud/_meta/docs.asciidoc
  x-pack/metricbeat/module/googlecloud/_meta/kibana/7/dashboard/Metricbeat-googlecloud-storage-overview.json
  x-pack/metricbeat/module/googlecloud/loadbalancing/_meta/docs.asciidoc
  x-pack/metricbeat/module/googlecloud/pubsub/_meta/docs.asciidoc
  x-pack/metricbeat/module/googlecloud/stackdriver/integration.go
  x-pack/metricbeat/module/googlecloud/storage/_meta/docs.asciidoc
  x-pack/metricbeat/modules.d/googlecloud.yml.disabled
Labels: Team:Platforms, [zube]: In Review, needs_backport, review, test-plan

#18188 Cherry-pick #18159 to 7.x: Add a disable_host option to Filebeat inputs
  CHANGELOG.next.asciidoc
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/channel/connector.go
  filebeat/channel/factory.go
  filebeat/docs/inputs/input-common-options.asciidoc
  filebeat/filebeat.reference.yml
  filebeat/tests/system/config/filebeat.yml.j2
  filebeat/tests/system/test_input.py
  libbeat/beat/pipeline.go
  libbeat/publisher/processing/default.go
  x-pack/filebeat/filebeat.reference.yml
Labels: backport, needs_team, review

#18175 Cherry-pick #17944 to 7.x: corrected module decode_cef documentation from Beta to GA
  CHANGELOG.next.asciidoc
  x-pack/filebeat/processors/decode_cef/decode_cef.go
  x-pack/filebeat/processors/decode_cef/docs/decode_cef.asciidoc
Labels: Team:SIEM, backport, review

#18110 Update aws fields.yml with cloud related ECS fields
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/_meta/fields.epr.yml
  x-pack/metricbeat/module/aws/_meta/fields.yml
  x-pack/metricbeat/module/aws/fields.go
Labels: Team:Platforms, [zube]: In Review

#18233 Removing duplicate entries from CHANGELOG
  CHANGELOG.next.asciidoc
Labels: Team:Integrations, [zube]: In Review, v8.0.0

#18230 [7.x] Deep merge event fields and metadata maps (#17958)
  CHANGELOG.next.asciidoc
  libbeat/common/jsontransform/jsonhelper.go
  libbeat/common/jsontransform/jsonhelper_test.go
Labels: Team:Services, [zube]: In Review, backport

#18193 Update testing env 6.8.9
  testing/environments/latest.yml
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: :Testing, Team:Integrations, [zube]: In Review, release, review, v6.8.9

#18255 Cherry-pick #18058 to 7.x: [Winlogbeat] Add registry and code signature information and ECS categorization fields for sysmon module
  CHANGELOG.next.asciidoc
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-10.2-dns.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-11-registry.evtx
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-11-registry.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Team:SIEM, backport, review

#18252 Cherry-pick #18035 to 7.x: [Auditbeat] Add system module user dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/user/user.go
  x-pack/auditbeat/module/system/user/user_test.go
Labels: Team:SIEM, backport, review

#18251 Cherry-pick #18034 to 7.x: [Auditbeat] Add system module login dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/login/login.go
  x-pack/auditbeat/module/system/login/login_test.go
Labels: Team:SIEM, backport, review

#18250 Cherry-pick #18033 to 7.x: [Auditbeat] Add system module package dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_homebrew.go
  x-pack/auditbeat/module/system/package/package_homebrew_test.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/package/rpm_common_test.go
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Team:SIEM, backport, review

#18249 Cherry-pick #18031 to 7.x: [Auditbeat] Add ECS categories for system-host module
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/host/host.go
Labels: Team:SIEM, backport, review

#18248 Cherry-pick #18036 to 7.x: [Auditbeat] Add system module socket dataset ECS categorization fields
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/socket/state.go
  x-pack/auditbeat/module/system/socket/state_test.go
  x-pack/auditbeat/tests/system/test_system_socket.py
Labels: Team:SIEM, backport, review

#18261 [Elastic Agent] Add stream.* to metrics and logs collected
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, elastic-agent, needs_backport, review

#17999 [docs] Add missing HTTP JSON input
  filebeat/docs/filebeat-options.asciidoc
Labels: docs, needs_backport, v7.7.0

#18257 Cherry-pick #18172 to 7.x: [Metricbeat] Add dashboard for googlecloud storage metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/images/metricbeat-googlecloud-storage-overview.png
  metricbeat/docs/modules/googlecloud.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
  x-pack/metricbeat/module/googlecloud/_meta/config.yml
  x-pack/metricbeat/module/googlecloud/_meta/docs.asciidoc
  x-pack/metricbeat/module/googlecloud/_meta/kibana/7/dashboard/Metricbeat-googlecloud-storage-overview.json
  x-pack/metricbeat/module/googlecloud/loadbalancing/_meta/docs.asciidoc
  x-pack/metricbeat/module/googlecloud/pubsub/_meta/docs.asciidoc
  x-pack/metricbeat/module/googlecloud/stackdriver/integration.go
  x-pack/metricbeat/module/googlecloud/storage/_meta/docs.asciidoc
  x-pack/metricbeat/modules.d/googlecloud.yml.disabled
Labels: Team:Platforms, backport, needs_team, review

#18012 [Auditbeat] File Integrity ECS update
  CHANGELOG.next.asciidoc
  NOTICE.txt
  auditbeat/module/file_integrity/action.go
  auditbeat/module/file_integrity/event.go
  auditbeat/module/file_integrity/event_test.go
  auditbeat/module/file_integrity/mime.go
  auditbeat/module/file_integrity/mime_test.go
  go.mod
  go.sum
  vendor/github.com/h2non/filetype/.editorconfig
  vendor/github.com/h2non/filetype/.gitignore
  vendor/github.com/h2non/filetype/.travis.yml
  vendor/github.com/h2non/filetype/History.md
  vendor/github.com/h2non/filetype/LICENSE
  vendor/github.com/h2non/filetype/README.md
  vendor/github.com/h2non/filetype/filetype.go
  vendor/github.com/h2non/filetype/go.mod
  vendor/github.com/h2non/filetype/kind.go
  vendor/github.com/h2non/filetype/match.go
  vendor/github.com/h2non/filetype/matchers/application.go
  vendor/github.com/h2non/filetype/matchers/archive.go
  vendor/github.com/h2non/filetype/matchers/audio.go
  vendor/github.com/h2non/filetype/matchers/document.go
  vendor/github.com/h2non/filetype/matchers/font.go
  vendor/github.com/h2non/filetype/matchers/image.go
  vendor/github.com/h2non/filetype/matchers/isobmff/isobmff.go
  vendor/github.com/h2non/filetype/matchers/matchers.go
  vendor/github.com/h2non/filetype/matchers/video.go
  vendor/github.com/h2non/filetype/types/defaults.go
  vendor/github.com/h2non/filetype/types/mime.go
  vendor/github.com/h2non/filetype/types/split.go
  vendor/github.com/h2non/filetype/types/type.go
  vendor/github.com/h2non/filetype/types/types.go
  vendor/github.com/h2non/filetype/version.go
  vendor/modules.txt
Labels: Auditbeat, Team:SIEM, enhancement

#18254 Cherry-pick #17890 to 7.x: Fortinet Filebeat Module
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/fortinet.asciidoc
  filebeat/docs/modules_list.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/include/list.go
  x-pack/filebeat/module/fortinet/_meta/config.yml
  x-pack/filebeat/module/fortinet/_meta/docs.asciidoc
  x-pack/filebeat/module/fortinet/_meta/fields.yml
  x-pack/filebeat/module/fortinet/fields.go
  x-pack/filebeat/module/fortinet/firewall/_meta/fields.yml
  x-pack/filebeat/module/fortinet/firewall/config/firewall.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/event.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/pipeline.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/traffic.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/utm.yml
  x-pack/filebeat/module/fortinet/firewall/manifest.yml
  x-pack/filebeat/module/fortinet/firewall/test/fortinet.log
  x-pack/filebeat/module/fortinet/firewall/test/fortinet.log-expected.json
  x-pack/filebeat/module/fortinet/module.yml
  x-pack/filebeat/modules.d/fortinet.yml.disabled
Labels: backport, needs_team, review

#18192 Close changelog for 6.8.9
  CHANGELOG-developer.asciidoc
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Integrations, [zube]: In Review, docs, release, review, v6.8.9

#18265 [7.7][docs] Backport: Add missing HTTP JSON input (#17999)
  filebeat/docs/filebeat-options.asciidoc
Labels: Team:Services, backport, docs, needs_team, v7.7.0

#18266 [7.x][docs] Backport: Add missing HTTP JSON input (#17999)
  filebeat/docs/filebeat-options.asciidoc
Labels: Team:Services, backport, docs, v7.8.0

#18263 [Filebeat] update osquery golden files
  filebeat/module/osquery/result/test/osquery.rootkit.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.darwin.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.sample.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
Labels: Filebeat, Team:SIEM, bug, needs_team

#18264 Cherry-pick #18261 to 7.x: [Elastic Agent] Add stream.* to metrics and logs collected
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, elastic-agent, needs_team, review

#18245 Cherry-pick #17881 to 7.x: [Filebeat] Improve ECS categorization field mappings in osquery module
  CHANGELOG.next.asciidoc
  filebeat/module/osquery/result/config/result.yml
  filebeat/module/osquery/result/ingest/pipeline.json
  filebeat/module/osquery/result/test/osquery.rootkit.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.darwin.log-expected.json
  filebeat/module/osquery/result/test/osqueryd.results.sample.log-expected.json
  filebeat/module/osquery/result/test/test.log-expected.json
Labels: Team:SIEM, backport, review

#18259 [Metricbeat] Revert unskipping of mssql tests
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/data_integration_test.go
Labels: Metricbeat, Team:Services, bug, needs_team

#18253 Cherry-pick #17732 to 7.x: [Filebeat] Add support for v10, v11 and v12 Postgres logs with duration statement
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/postgresql.asciidoc
  filebeat/module/postgresql/_meta/docs.asciidoc
  filebeat/module/postgresql/log/ingest/pipeline.yml
  filebeat/module/postgresql/log/test/postgresql-10-default.log
  filebeat/module/postgresql/log/test/postgresql-10-default.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-10-min-duration-statement.log
  filebeat/module/postgresql/log/test/postgresql-10-min-duration-statement.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-12-default.log
  filebeat/module/postgresql/log/test/postgresql-12-default.log-expected.json
  filebeat/module/postgresql/log/test/postgresql-12-min-duration-statement.log
  filebeat/module/postgresql/log/test/postgresql-12-min-duration-statement.log-expected.json
Labels: backport, needs_team, review

#18218 Prettify processors section in docker yml files
  auditbeat/auditbeat.docker.yml
  filebeat/filebeat.docker.yml
  heartbeat/heartbeat.docker.yml
  journalbeat/journalbeat.docker.yml
  libbeat/_meta/config/default.docker.yml.tmpl
  metricbeat/metricbeat.docker.yml
  packetbeat/packetbeat.docker.yml
  x-pack/auditbeat/auditbeat.docker.yml
  x-pack/filebeat/filebeat.docker.yml
  x-pack/metricbeat/metricbeat.docker.yml
Labels: Team:Platforms, Team:Services, libbeat, review

#18267 Cherry-pick #18012 to 7.x: [Auditbeat] File Integrity ECS update
  CHANGELOG.next.asciidoc
  NOTICE.txt
  auditbeat/module/file_integrity/action.go
  auditbeat/module/file_integrity/event.go
  auditbeat/module/file_integrity/event_test.go
  auditbeat/module/file_integrity/mime.go
  auditbeat/module/file_integrity/mime_test.go
  go.mod
  go.sum
  vendor/github.com/h2non/filetype/.editorconfig
  vendor/github.com/h2non/filetype/.gitignore
  vendor/github.com/h2non/filetype/.travis.yml
  vendor/github.com/h2non/filetype/History.md
  vendor/github.com/h2non/filetype/LICENSE
  vendor/github.com/h2non/filetype/README.md
  vendor/github.com/h2non/filetype/filetype.go
  vendor/github.com/h2non/filetype/go.mod
  vendor/github.com/h2non/filetype/kind.go
  vendor/github.com/h2non/filetype/match.go
  vendor/github.com/h2non/filetype/matchers/application.go
  vendor/github.com/h2non/filetype/matchers/archive.go
  vendor/github.com/h2non/filetype/matchers/audio.go
  vendor/github.com/h2non/filetype/matchers/document.go
  vendor/github.com/h2non/filetype/matchers/font.go
  vendor/github.com/h2non/filetype/matchers/image.go
  vendor/github.com/h2non/filetype/matchers/isobmff/isobmff.go
  vendor/github.com/h2non/filetype/matchers/matchers.go
  vendor/github.com/h2non/filetype/matchers/video.go
  vendor/github.com/h2non/filetype/types/defaults.go
  vendor/github.com/h2non/filetype/types/mime.go
  vendor/github.com/h2non/filetype/types/split.go
  vendor/github.com/h2non/filetype/types/type.go
  vendor/github.com/h2non/filetype/types/types.go
  vendor/github.com/h2non/filetype/version.go
  vendor/modules.txt
Labels: Team:SIEM, backport, review

#18126 [7.x] Support Fixed length extraction (#17191)
  CHANGELOG.next.asciidoc
  libbeat/processors/dissect/const.go
  libbeat/processors/dissect/dissect.go
  libbeat/processors/dissect/docs/dissect.asciidoc
  libbeat/processors/dissect/field.go
  libbeat/processors/dissect/parser.go
  libbeat/processors/dissect/testdata/dissect_tests.json
  libbeat/processors/dissect/validate_test.go
Labels: Team:Services, [zube]: In Review, backport

#18276 Cherry-pick #17379 to 7.x: Add dashboards for Google Cloud Audit and AWS CloudTrail
  CHANGELOG.next.asciidoc
  filebeat/docs/images/filebeat-aws-cloudtrail.png
  filebeat/docs/images/filebeat-googlecloud-audit.png
  filebeat/docs/modules/aws.asciidoc
  filebeat/docs/modules/googlecloud.asciidoc
  x-pack/filebeat/module/aws/_meta/docs.asciidoc
  x-pack/filebeat/module/aws/_meta/kibana/7/dashboard/filebeat-aws-cloudtrail.json
  x-pack/filebeat/module/googlecloud/_meta/docs.asciidoc
  x-pack/filebeat/module/googlecloud/_meta/kibana/7/dashboard/filebeat-googlecloud-audit.json
Labels: Team:SIEM, backport, review

#18277 Cherry-pick #17973 to 7.x: [Filebeat] Don't bind to wildcard address in unit test
  filebeat/inputsource/tcp/server_test.go
Labels: backport, needs_team, review

#18281 Cherry-pick #18110 to 7.x: Update aws fields.yml with cloud related ECS fields
  metricbeat/docs/fields.asciidoc
  x-pack/metricbeat/module/aws/_meta/fields.yml
  x-pack/metricbeat/module/aws/fields.go
Labels: backport, needs_team, review

#18280 Remove fields.epr.yml file from aws module
  x-pack/metricbeat/module/aws/_meta/fields.epr.yml
Labels: Team:Platforms, needs_team, review

#18275 [Elastic Agent] Fix logging read from runnings process
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
Labels: Ingest Management:alpha1, Team:Ingest Management, [zube]: In Review, elastic-agent, needs_backport, review

#18285 [Elastic Agent] Fix logging read from runnings process
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
Labels: backport, elastic-agent, needs_team

#18287 Cherry-pick #18286 to 7.x: Fix version to 7.8
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/release/version.go
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, bug, elastic-agent, needs_team

#17636 Metricbeat Kubernetes module and metricsets docs proposal
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/apiserver/_meta/docs.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Platforms, [zube]: In Progress, needs_backport

#18271 Cherry-pick #18259 to 7.x: [Metricbeat] Revert unskipping of mssql tests
  x-pack/metricbeat/module/mssql/performance/data_integration_test.go
  x-pack/metricbeat/module/mssql/transaction_log/data_integration_test.go
Labels: backport, needs_team, review

#12606 Allow delete and index actions with a document ID
  libbeat/beat/event.go
  libbeat/esleg/eslegclient/bulkapi.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_test.go
Labels: Team:Services, [zube]: In Review, libbeat, review

#18302 Cherry-pick #17949 to 7.8: Fleet issues with configuring the Gateway
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/application.go
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, elastic-agent, needs_team

#18297 Cherry-pick #18296 to 7.8: Left out fleet injection for x-pack management
  x-pack/libbeat/cmd/inject.go
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, bug, elastic-agent, needs_team

#18291 Cherry-pick #17636 to 7.7: Metricbeat Kubernetes module and metricsets docs proposal
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/apiserver/_meta/docs.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Platforms, backport, needs_team, review

#18290 Cherry-pick #17636 to 7.x: Metricbeat Kubernetes module and metricsets docs proposal
  metricbeat/docs/modules/kubernetes.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kubernetes/_meta/config.reference.yml
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/apiserver/_meta/docs.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Platforms, backport, needs_team, review

#18296 [Elastic Agent] Left out fleet injection for x-pack management
  x-pack/libbeat/cmd/inject.go
Labels: Ingest Management:alpha1, Team:Ingest Management, bug, elastic-agent, needs_team

#18305 Cherry pick #17935 to 7.8: Enable debug level logging for Metricbeat and Filebeat for Alpha
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/spec/filebeat.yml
  x-pack/elastic-agent/spec/metricbeat.yml
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, elastic-agent, needs_team, review

#18306 Cherry-pick #17949 to 7.x: Fleet issues with configuring the Gateway
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/application/application.go
  x-pack/elastic-agent/pkg/agent/application/fleet_gateway.go
  x-pack/elastic-agent/pkg/agent/application/managed_mode.go
Labels: Ingest Management:alpha1, Team:Ingest Management, backport, elastic-agent, needs_team, review
