Repository elastic/beats, pull requests merged in 2021-02, with the labels that each got.

#23743 Cherry-pick #21911 to 7.x: [Filebeat] Prevent 'log' sending duplicate messages due to renaming
  filebeat/input/log/input.go
Labels: Team:Services, [zube]: In Review, backport

#23744 Cherry-pick #21911 to 7.11: [Filebeat] Prevent 'log' sending duplicate messages due to renaming
  filebeat/input/log/input.go
Labels: Team:Services, [zube]: In Review, backport

#23745 Cherry-pick #21911 to 7.10: [Filebeat] Prevent 'log' sending duplicate messages due to renaming
  filebeat/input/log/input.go
Labels: Team:Services, [zube]: In Review, backport

#23714 [elastic-agent] fix: cpu cgroup values
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
Labels: Team:Agent, Team:Ingest Management

#23664 Cherry-pick #21196 to 7.x: Fix: Dissect Cisco ASA 302013 message usernames
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/asa/test/sample.log
  x-pack/filebeat/module/cisco/asa/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/ftd/test/sample.log
  x-pack/filebeat/module/cisco/ftd/test/sample.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23659 Cherry-pick #20684 to 7.x: Audit and Authentication Policy Change Events
  CHANGELOG.next.asciidoc
  winlogbeat/docs/modules/security.asciidoc
  x-pack/winlogbeat/module/security/_meta/docs.asciidoc
  x-pack/winlogbeat/module/security/config/winlogbeat-security.js
  x-pack/winlogbeat/module/security/test/testdata/4670_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4670_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4706_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4706_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4707_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4707_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4713_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4713_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4716_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4716_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4717_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4717_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4718_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4718_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4719_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4719_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4739_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4739_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4817_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4817_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4902_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4902_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4904_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4904_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4905_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4905_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4906_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4906_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4907_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4907_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4908_WindowsSrv2016.evtx
  x-pack/winlogbeat/module/security/test/testdata/4908_WindowsSrv2016.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012_4771.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012_4778.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012_4779.evtx.golden.json
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23779 [Filebeat] Fix Zoom module config for url and basic auth
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/zoom/webhook/config/webhook.yml
Labels: Filebeat, Team:Security-External Integrations, bug, needs_backport

#23724 [Filebeat] add RFC6587 framing support
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-common-tcp-options.asciidoc
  filebeat/docs/inputs/input-common-unix-options.asciidoc
  filebeat/input/syslog/config.go
  filebeat/input/tcp/config.go
  filebeat/input/tcp/input.go
  filebeat/inputsource/common/streaming/listener.go
  filebeat/inputsource/common/streaming/scan.go
  filebeat/inputsource/common/streaming/scan_test.go
  filebeat/inputsource/tcp/server_test.go
  filebeat/inputsource/unix/config.go
  filebeat/inputsource/unix/server.go
  filebeat/tests/system/test_tcp.py
  filebeat/tests/system/test_tcp_tls.py
Labels: Filebeat, Team:Security-External Integrations, enhancement, needs_backport

#23736 [Elastic Agent] Add the ability to run the Fleet Server
  dev-tools/packaging/packages.yml
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/application/fleet_decorator.go
  x-pack/elastic-agent/pkg/agent/program/program_test.go
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/pkg/agent/program/testdata/single_config-fleet-server.yml
  x-pack/elastic-agent/pkg/agent/program/testdata/single_config.yml
  x-pack/elastic-agent/pkg/core/app/descriptor.go
  x-pack/elastic-agent/spec/endpoint.yml
  x-pack/elastic-agent/spec/fleet-server.yml
Labels: Team:Agent, Team:Ingest Management

#23777 o365: Fix processing of ModifiedProperties field
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/o365/audit/config/pipeline.js
  x-pack/filebeat/module/o365/audit/test/08-azuread.log-expected.json
Labels: Team:Security-External Integrations, bug, needs_backport, review

#23776 [Ingest Manager] Elastic Agent - Endpoint e2e test fix
  x-pack/elastic-agent/pkg/core/authority/ca.go
Labels: Team:Agent, Team:Ingest Management

#23787 Cherry-pick #23777 to 7.11: o365: Fix processing of ModifiedProperties field
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/o365/audit/config/pipeline.js
  x-pack/filebeat/module/o365/audit/test/08-azuread.log-expected.json
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23786 Cherry-pick #23777 to 7.x: o365: Fix processing of ModifiedProperties field
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/o365/audit/config/pipeline.js
  x-pack/filebeat/module/o365/audit/test/08-azuread.log-expected.json
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23769 [Fleet] support log level warning for beat
  x-pack/elastic-agent/pkg/core/plugin/process/start.go
Labels: Team:Fleet, Team:Ingest Management, bug, v7.11.0, v7.12.0, v8.0.0

#23790 [7.x][Fleet] support log level warning for beat (#23769)
  x-pack/elastic-agent/pkg/core/plugin/process/start.go
Labels: Team:Fleet, backport, v7.12.0

#23782 Cherry-pick #23779 to 7.x: [Filebeat] Fix Zoom module config for url and basic auth
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/zoom/webhook/config/webhook.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23784 Cherry-pick #23724 to 7.x: [Filebeat] add RFC6587 framing support
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-common-tcp-options.asciidoc
  filebeat/docs/inputs/input-common-unix-options.asciidoc
  filebeat/input/syslog/config.go
  filebeat/input/tcp/config.go
  filebeat/input/tcp/input.go
  filebeat/inputsource/common/streaming/listener.go
  filebeat/inputsource/common/streaming/scan.go
  filebeat/inputsource/common/streaming/scan_test.go
  filebeat/inputsource/tcp/server_test.go
  filebeat/inputsource/unix/config.go
  filebeat/inputsource/unix/server.go
  filebeat/tests/system/test_tcp.py
  filebeat/tests/system/test_tcp_tls.py
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23789 [7.11][Fleet] support log level warning for beat (#23769)
  x-pack/elastic-agent/pkg/core/plugin/process/start.go
Labels: Team:Fleet, backport, v7.11.0

#23730 Enrich k8s state service events & add selector meta
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/common/kubernetes/metadata/resource.go
  libbeat/common/kubernetes/metadata/service.go
  libbeat/common/kubernetes/metadata/service_test.go
  libbeat/processors/add_kubernetes_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/state_service/state_service.go
  metricbeat/module/kubernetes/util/kubernetes.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
Labels: Team:Integrations, enhancement, kubernetes, needs_backport, needs_reviewer, review, v7.12.0

#23801 [Filebeat][Cisco Umbrella] Updating manifest file for fileset.
  x-pack/filebeat/module/cisco/umbrella/manifest.yml
Labels: Filebeat, Team:Security-External Integrations, enhancement

#23802 Add container image and container name ECS fields for state_container
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v1.3.0.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v1.8.0.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm-v1_3_0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
Labels: Team:Integrations, containers, ecs, kubernetes, review, v7.12.0

#23811 Cherry-pick #23801 to 7.11: [Filebeat][Cisco Umbrella] Updating manifest file for fileset.
  x-pack/filebeat/module/cisco/umbrella/manifest.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23810 Cherry-pick #23801 to 7.x: [Filebeat][Cisco Umbrella] Updating manifest file for fileset.
  x-pack/filebeat/module/cisco/umbrella/manifest.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23813 Cherry-pick #23802 to 7.x: Add container image and container name ECS fields for state_container
  CHANGELOG.next.asciidoc
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v1.3.0.expected
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v1.8.0.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm-v1_3_0.plain-expected.json
  metricbeat/module/kubernetes/state_container/state_container.go
Labels: Team:Integrations, [zube]: In Review, backport

#23806 Cherry-pick #23730 to 7.x: Enrich k8s state service events & add selector meta
  CHANGELOG.next.asciidoc
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/common/kubernetes/metadata/resource.go
  libbeat/common/kubernetes/metadata/service.go
  libbeat/common/kubernetes/metadata/service_test.go
  libbeat/processors/add_kubernetes_metadata/_meta/fields.yml
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/state_service/state_service.go
  metricbeat/module/kubernetes/util/kubernetes.go
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
Labels: Team:Integrations, [zube]: In Review, backport

#23791 docs: Add application logging to FB quickstart
  filebeat/docs/getting-started.asciidoc
Labels: Team:Docs, v7.11.0

#23817 Cherry-pick to 7.11: docs: Add application logging to FB quickstart (#23791)
  filebeat/docs/getting-started.asciidoc
Labels: Team:Docs, backport

#23816 Cherry-pick to 7.x: docs: Add application logging to FB quickstart (#23791)
  filebeat/docs/getting-started.asciidoc
Labels: Team:Docs, backport

#23794 Cherry-pick #23521 to 7.x: [Filebeat] add encode form and decode ndjson to httpjson input
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-httpjson.asciidoc
  x-pack/filebeat/input/httpjson/internal/v2/encoding.go
  x-pack/filebeat/input/httpjson/internal/v2/encoding_test.go
  x-pack/filebeat/input/httpjson/internal/v2/pagination.go
  x-pack/filebeat/input/httpjson/internal/v2/request.go
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23727 Add unix socket to HAProxy stats configuration info
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/haproxy/_meta/config.reference.yml
  metricbeat/module/haproxy/_meta/docs.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Integrations, docs, review

#23825 Cherry-pick to 7.11: Add unix socket to HAProxy stats configuration info (#23727)
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/haproxy/_meta/config.reference.yml
  metricbeat/module/haproxy/_meta/docs.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Docs, backport, docs

#23824 Cherry-pick to 7.x: Add unix socket to HAProxy stats configuration info (#23727)
  metricbeat/docs/modules/haproxy.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/haproxy/_meta/config.reference.yml
  metricbeat/module/haproxy/_meta/docs.asciidoc
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Docs, backport, docs

#23563 [ECS] Winlogbeat ecs 1.8 changes
  CHANGELOG.next.asciidoc
  x-pack/winlogbeat/module/powershell/config/winlogbeat-powershell.js
  x-pack/winlogbeat/module/powershell/test/testdata/4103.evtx.golden.json
  x-pack/winlogbeat/module/powershell/test/testdata/4104.evtx.golden.json
  x-pack/winlogbeat/module/powershell/test/testdata/4105.evtx.golden.json
  x-pack/winlogbeat/module/powershell/test/testdata/4106.evtx.golden.json
  x-pack/winlogbeat/module/security/config/winlogbeat-security.js
  x-pack/winlogbeat/module/security/test/testdata/4744.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4745.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4746.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4747.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4748.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4749.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4750.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4751.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4752.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4753.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4759.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4760.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4761.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4762.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/4763.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012_4778.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2012_4779.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4727.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4728.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4729.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4730.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4731.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4732.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4733.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4734.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4735.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4737.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4754.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4755.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4756.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4757.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4758.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4764.evtx.golden.json
  x-pack/winlogbeat/module/security/test/testdata/security-windows2016_4799.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/config/winlogbeat-sysmon.js
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-11-filedelete.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-11-registry.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-12-processcreate.evtx.golden.json
  x-pack/winlogbeat/module/sysmon/test/testdata/sysmon-9.01.evtx.golden.json
Labels: Team:Security-External Integrations, Winlogbeat, ecs, enhancement

#23737 [Journalbeat][ecs] Journalbeat ecs 1.8
  CHANGELOG.next.asciidoc
  journalbeat/_meta/fields.common.yml
  journalbeat/cmd/root.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  journalbeat/pkg/journalfield/conv.go
  journalbeat/pkg/journalfield/conv_test.go
  journalbeat/pkg/journalfield/default.go
  journalbeat/pkg/journalfield/default_other.go
Labels: Journalbeat, Team:Security-External Integrations, breaking change, ecs, enhancement

#23819 [ECS] Upgrade cisco modules to ecs 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cisco/asa/config/input.yml
  x-pack/filebeat/module/cisco/asa/test/additional_messages.log-expected.json
  x-pack/filebeat/module/cisco/asa/test/asa-fix.log-expected.json
  x-pack/filebeat/module/cisco/ftd/config/input.yml
  x-pack/filebeat/module/cisco/ftd/test/asa-fix.log-expected.json
  x-pack/filebeat/module/cisco/shared/ingest/asa-ftd-pipeline.yml
  x-pack/filebeat/module/cisco/umbrella/config/input.yml
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23721 [Filebeat] Populate source/destination.mac for Suricata
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/suricata/eve/_meta/fields.yml
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.yml
  x-pack/filebeat/module/suricata/eve/test/eve-6.0.log
  x-pack/filebeat/module/suricata/eve/test/eve-6.0.log-expected.json
  x-pack/filebeat/module/suricata/fields.go
Labels: Filebeat, Team:Security-External Integrations, enhancement, needs_backport, review

#23826 Add undocumented ssl.key_passphrase option to kafka docs.
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kafka/_meta/config.yml
  metricbeat/modules.d/kafka.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Docs, docs, needs_backport

#23818 Cherry-pick #13304 to 6.8: [Filebeat] Add timezone information in apache error fileset
  CHANGELOG.next.asciidoc
  filebeat/module/apache2/error/config/error.yml
  filebeat/module/apache2/error/ingest/pipeline.json
  filebeat/module/apache2/error/test/test.log-expected.json
Labels: Team:Platforms, review

#23796 fixed indentation in the example
  libbeat/processors/actions/docs/truncate_fields.asciidoc
Labels: Team:Docs, docs

#23835 Cherry-pick to 7.x: Add undocumented ssl.key_passphrase option to kafka docs. (#23826)
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kafka/_meta/config.yml
  metricbeat/modules.d/kafka.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, docs, needs_team

#23836 Cherry-pick to 7.11: Add undocumented ssl.key_passphrase option to kafka docs. (#23826)
  metricbeat/docs/modules/kafka.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/kafka/_meta/config.yml
  metricbeat/modules.d/kafka.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: backport, docs, needs_team

#23709 [ECS][Filebeat] Gsuite/Google Workspace ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/google_workspace/admin/config/pipeline.js
  x-pack/filebeat/module/google_workspace/admin/test/admin-application-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-calendar-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-chat-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-chromeos-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-contacts-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-delegatedadmin-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-docs-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-domain-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-gmail-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-groups-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-licenses-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-mobile-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-org-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-security-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-sites-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/admin/test/admin-user-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/config/common.js
  x-pack/filebeat/module/google_workspace/drive/test/drive-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/groups/config/pipeline.js
  x-pack/filebeat/module/google_workspace/groups/test/groups-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/login/config/pipeline.js
  x-pack/filebeat/module/google_workspace/login/test/login-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/saml/config/pipeline.js
  x-pack/filebeat/module/google_workspace/saml/test/saml-test.json.log-expected.json
  x-pack/filebeat/module/google_workspace/user_accounts/test/user_accounts-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/config/config.yml
  x-pack/filebeat/module/gsuite/admin/config/pipeline.js
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-application-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-calendar-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-chat-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-chromeos-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-contacts-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-delegatedadmin-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-docs-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-domain-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-gmail-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-groups-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-licenses-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-mobile-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-org-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-security-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-sites-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/admin/test/gsuite-admin-user-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/config/common.js
  x-pack/filebeat/module/gsuite/drive/config/config.yml
  x-pack/filebeat/module/gsuite/drive/test/gsuite-drive-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/groups/config/config.yml
  x-pack/filebeat/module/gsuite/groups/config/pipeline.js
  x-pack/filebeat/module/gsuite/groups/test/gsuite-groups-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/login/config/config.yml
  x-pack/filebeat/module/gsuite/login/config/pipeline.js
  x-pack/filebeat/module/gsuite/login/test/gsuite-login-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/saml/config/config.yml
  x-pack/filebeat/module/gsuite/saml/config/pipeline.js
  x-pack/filebeat/module/gsuite/saml/test/gsuite-saml-test.json.log-expected.json
  x-pack/filebeat/module/gsuite/user_accounts/config/config.yml
  x-pack/filebeat/module/gsuite/user_accounts/test/gsuite-user_accounts-test.json.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23783 [ECS] Packetbeat ecs 1.8
  CHANGELOG.next.asciidoc
  packetbeat/cmd/root.go
  packetbeat/protos/amqp/amqp.go
  packetbeat/protos/cassandra/pub.go
  packetbeat/protos/http/http.go
  packetbeat/protos/http/http_parser.go
  packetbeat/protos/http/http_test.go
  packetbeat/protos/mongodb/mongodb.go
  packetbeat/protos/mysql/mysql.go
  packetbeat/protos/nfs/request_handler.go
  packetbeat/protos/sip/plugin.go
  packetbeat/tests/system/config/golden-tests.yml
  packetbeat/tests/system/golden/established_tls-expected.json
  packetbeat/tests/system/golden/http_basic_auth-expected.json
  packetbeat/tests/system/golden/non_established_tls-expected.json
  packetbeat/tests/system/golden/tls_1_3-expected.json
  packetbeat/tests/system/golden/tls_all_options-expected.json
  packetbeat/tests/system/golden/tls_no_certs-expected.json
  packetbeat/tests/system/golden/tls_not_detailed-expected.json
Labels: Packetbeat, Team:Security-External Integrations, ecs, enhancement, needs_backport

#23843 Fixed monitoring filebeat and metricbeat not connecting to Agent over GRPC
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
Labels: Team:Agent, Team:Ingest Management, bug

#23828 Cherry-pick #23776 to 7.x: Elastic Agent - Endpoint e2e test fix
  x-pack/elastic-agent/pkg/core/authority/ca.go
Labels: Team:Agent, Team:Ingest Management

#23830 Try to improve test_syslog_udp
  filebeat/tests/system/test_syslog.py
Labels: Team:Agent, needs_backport

#23841 Cherry-pick to 7.11: fix truncate_fields example (#23796)
  libbeat/processors/actions/docs/truncate_fields.asciidoc
Labels: Team:Docs, backport

#23840 Cherry-pick to 7.x: fix truncate_fields example (#23796)
  libbeat/processors/actions/docs/truncate_fields.asciidoc
Labels: Team:Docs, backport

#23838 Cherry-pick to master: fix truncate_fields example (#23796)
  libbeat/processors/actions/docs/truncate_fields.asciidoc
Labels: Team:Docs, backport

#23842 agent: version sub-command exit non-zero on failure
  x-pack/elastic-agent/pkg/basecmd/version/cmd.go
  x-pack/elastic-agent/pkg/basecmd/version/cmd_test.go
Labels: Team:Agent, Team:Ingest Management, enhancement

#23857 Cherry-pick to 7.x: agent: version sub-command exit non-zero on failure (#23842)
  x-pack/elastic-agent/pkg/basecmd/version/cmd.go
  x-pack/elastic-agent/pkg/basecmd/version/cmd_test.go
Labels: Team:Agent, Team:Ingest Management, backport

#23849 management.Status constants could not be used directly in log
  libbeat/management/management.go
  libbeat/management/status_string.go
  x-pack/elastic-agent/CHANGELOG.asciidoc
Labels: Team:Agent, Team:Ingest Management, review

#23839 Increase the fleet server client timeout to 10 minutes
  x-pack/elastic-agent/pkg/kibana/config.go
Labels: Team:Agent, Team:Ingest Management, bug

#23807 Cherry-pick #23236 to 7.11: [Filebeat] Improve Suricata error handling
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/suricata/eve/_meta/fields.yml
  x-pack/filebeat/module/suricata/eve/ingest/dns-answer-v1.yml
  x-pack/filebeat/module/suricata/eve/ingest/dns-answer-v2.yml
  x-pack/filebeat/module/suricata/eve/ingest/dns.yml
  x-pack/filebeat/module/suricata/eve/ingest/pipeline.yml
  x-pack/filebeat/module/suricata/eve/ingest/tls.yml
  x-pack/filebeat/module/suricata/eve/test/eve-small.log
  x-pack/filebeat/module/suricata/eve/test/eve-small.log-expected.json
  x-pack/filebeat/module/suricata/fields.go
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23868 Cherry-pick to 7.11: Update system.asciidoc (#23322)
  metricbeat/docs/modules/system.asciidoc
  metricbeat/module/system/_meta/docs.asciidoc
Labels: backport, docs, needs_team

#23869 Cherry-pick to master: Update system.asciidoc (#23322)
  metricbeat/docs/modules/system.asciidoc
  metricbeat/module/system/_meta/docs.asciidoc
Labels: backport, needs_team

#23870 Cherry-pick to 7.x: Update system.asciidoc (#23322)
  metricbeat/docs/modules/system.asciidoc
  metricbeat/module/system/_meta/docs.asciidoc
Labels: backport, needs_team

#23864 Cherry-pick #23830 to 7.11: Try to improve test_syslog_udp
  filebeat/tests/system/test_syslog.py
Labels: Team:Services, [zube]: In Review, backport

#23863 Cherry-pick #23830 to 7.x: Try to improve test_syslog_udp
  filebeat/tests/system/test_syslog.py
Labels: Team:Services, [zube]: In Review, backport

#23747 Enable windows-7 32-bit jobs for Metricbeat
  x-pack/metricbeat/Jenkinsfile.yml
  x-pack/metricbeat/magefile.go
Labels: Team:Agent, Team:Automation, in progress

#23877 Cherry-pick #23747 to 7.x: Enable windows-7 32-bit jobs for Metricbeat
  x-pack/metricbeat/Jenkinsfile.yml
  x-pack/metricbeat/magefile.go
Labels: Team:Services, [zube]: In Review, backport

#23855 [fix] Google_workplace api call fails. #23851
  x-pack/filebeat/module/google_workspace/admin/config/config.yml
  x-pack/filebeat/module/google_workspace/drive/config/config.yml
  x-pack/filebeat/module/google_workspace/groups/config/config.yml
  x-pack/filebeat/module/google_workspace/login/config/config.yml
  x-pack/filebeat/module/google_workspace/saml/config/config.yml
  x-pack/filebeat/module/google_workspace/user_accounts/config/config.yml
Labels: Team:Security-External Integrations

#23882 docs: Prepare Changelog for 7.11.0
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Automation, automation, docs, in progress, release

#23861 Cherry-pick #23849 to 7.x: management.Status constants could not be used directly in log
  libbeat/management/management.go
  libbeat/management/status_string.go
  x-pack/elastic-agent/CHANGELOG.asciidoc
Labels: Team:Agent, Team:Ingest Management, [zube]: In Review, backport, review

#23885 Forward-port 7.11.0 changelog to master
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Docs, backport

#23884 Forward-port 7.11.0 changelog to 7.x
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Docs, backport

#23862 Improve cloudwatch and awsfargate documentation
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/awsfargate/cloudformation.yml
  x-pack/metricbeat/module/awsfargate/task_stats/_meta/docs.asciidoc
Labels: Team:Platforms, review

#23631 Move aws-s3 input to GA
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/awss3/_meta/fields.yml
  x-pack/filebeat/input/awss3/fields.go
  x-pack/filebeat/input/awss3/input.go
Labels: Team:Platforms, needs_backport, review

#23866 [docs] Remove release state overrides
  libbeat/docs/shared-beats-attributes.asciidoc
Labels: Team:Docs, docs, needs_backport

#23893 Cherry-pick to 7.10: Remove release state override (#23866)
  libbeat/docs/shared-beats-attributes.asciidoc
Labels: backport, docs, needs_team

#23892 Cherry-pick to 7.11: Remove release state override (#23866)
  libbeat/docs/shared-beats-attributes.asciidoc
Labels: backport, docs, needs_team

#23891 Cherry-pick to 7.x: Remove release state override (#23866)
  libbeat/docs/shared-beats-attributes.asciidoc
Labels: backport, docs, needs_team

#23240 libbeat/template: duplicate entries in fields.yml leads to repeated dynamic templates
  libbeat/template/processor.go
  libbeat/template/processor_test.go
  libbeat/template/template.go
Labels: Team:Services, bug, v7.11.0, v8.0.0

#23831 Add system.hostfs configuration option for system module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
  metricbeat/module/system/_meta/config.yml
  metricbeat/module/system/system.go
  metricbeat/module/system/system_linux.go
  metricbeat/module/system/system_other.go
  metricbeat/module/system/system_windows.go
  metricbeat/modules.d/system.yml
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Integrations, enhancement, review, v7.12.0

#23900 Cherry-pick #23831 to 7.x: Add system.hostfs configuration option for system module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/system.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/system/_meta/config.reference.yml
  metricbeat/module/system/_meta/config.yml
  metricbeat/module/system/system.go
  metricbeat/module/system/system_linux.go
  metricbeat/module/system/system_other.go
  metricbeat/module/system/system_windows.go
  metricbeat/modules.d/system.yml
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:Integrations, [zube]: In Review, backport

#23875 Crowdstrike: Move logic to ingest pipeline and upgrade ECS to 1.8.0
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/crowdstrike/falcon/config/falcon.yml
  x-pack/filebeat/module/crowdstrike/falcon/config/pipeline.js
  x-pack/filebeat/module/crowdstrike/falcon/ingest/auth_activity_audit.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/detection_summary.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/firewall_match.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/incident_summary.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/pipeline.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/remote_response_session_end.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/remote_response_session_start.yml
  x-pack/filebeat/module/crowdstrike/falcon/ingest/user_activity_audit.yml
  x-pack/filebeat/module/crowdstrike/falcon/manifest.yml
  x-pack/filebeat/module/crowdstrike/falcon/test/falcon-audit-events.log-expected.json
  x-pack/filebeat/module/crowdstrike/falcon/test/falcon-events.log-expected.json
  x-pack/filebeat/module/crowdstrike/falcon/test/falcon-sample.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23723 Update filebeat auditd module to ECS 1.8
  CHANGELOG.next.asciidoc
  filebeat/module/auditd/log/config/log.yml
  filebeat/module/auditd/log/ingest/gen-ecs-mappings.py
  filebeat/module/auditd/log/ingest/pipeline.yml
  filebeat/module/auditd/log/test/audit-cent7-node.log-expected.json
  filebeat/module/auditd/log/test/audit-rhel6.log-expected.json
  filebeat/module/auditd/log/test/audit-rhel7.log-expected.json
  filebeat/module/auditd/log/test/audit-ubuntu1604.log-expected.json
  filebeat/module/auditd/log/test/avc.log
  filebeat/module/auditd/log/test/avc.log-expected.json
  filebeat/module/auditd/log/test/test.log-expected.json
  filebeat/module/auditd/log/test/useradd.log
  filebeat/module/auditd/log/test/useradd.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, review

#23897 Update Microsoft module to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/microsoft/defender_atp/config/atp.yml
  x-pack/filebeat/module/microsoft/defender_atp/ingest/pipeline.yml
  x-pack/filebeat/module/microsoft/defender_atp/test/defender_atp-test.json.log-expected.json
  x-pack/filebeat/module/microsoft/m365_defender/config/defender.yml
  x-pack/filebeat/module/microsoft/m365_defender/ingest/pipeline.yml
  x-pack/filebeat/module/microsoft/m365_defender/test/m365_defender-test.ndjson.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement, review

#23896 Update o365 module to ECS 1.8
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/o365/audit/_meta/fields.yml
  x-pack/filebeat/module/o365/audit/config/input.yml
  x-pack/filebeat/module/o365/audit/config/pipeline.js
  x-pack/filebeat/module/o365/audit/test/04-sharepoint.log-expected.json
  x-pack/filebeat/module/o365/audit/test/06-sharepointfileop.log-expected.json
  x-pack/filebeat/module/o365/audit/test/08-azuread-users.log
  x-pack/filebeat/module/o365/audit/test/08-azuread-users.log-expected.json
  x-pack/filebeat/module/o365/audit/test/08-azuread.log-expected.json
  x-pack/filebeat/module/o365/audit/test/11-dlp-sharepoint.log-expected.json
  x-pack/filebeat/module/o365/audit/test/13-dlp-exchange.log-expected.json
  x-pack/filebeat/module/o365/audit/test/14-sp-sharing-op.log-expected.json
  x-pack/filebeat/module/o365/audit/test/15-azuread-sts-logon.log-expected.json
  x-pack/filebeat/module/o365/audit/test/25-ms-teams-groups.log
  x-pack/filebeat/module/o365/audit/test/25-ms-teams-groups.log-expected.json
  x-pack/filebeat/module/o365/audit/test/25-ms-teams.log-expected.json
  x-pack/filebeat/module/o365/audit/test/40-sec-comp-alerts.log-expected.json
  x-pack/filebeat/module/o365/fields.go
Labels: Team:Security-External Integrations, ecs, enhancement, review

#23890 Cherry-pick #23862 to 7.11: Improve cloudwatch and awsfargate documentation
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/awsfargate/cloudformation.yml
  x-pack/metricbeat/module/awsfargate/task_stats/_meta/docs.asciidoc
Labels: Team:Platforms, [zube]: In Review, backport

#23889 Cherry-pick #23631 to 7.x: Move aws-s3 input to GA
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/awss3/_meta/fields.yml
  x-pack/filebeat/input/awss3/fields.go
  x-pack/filebeat/input/awss3/input.go
Labels: Team:Platforms, [zube]: In Review, backport

#23888 Cherry-pick #23862 to 7.x: Improve cloudwatch and awsfargate documentation
  x-pack/metricbeat/module/aws/cloudwatch/_meta/docs.asciidoc
  x-pack/metricbeat/module/awsfargate/cloudformation.yml
  x-pack/metricbeat/module/awsfargate/task_stats/_meta/docs.asciidoc
Labels: Team:Platforms, [zube]: In Review, backport

#23592 Add support for ARM64 Docker images for all Beats
  .ci/packaging.groovy
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
  journalbeat/magefile.go
  script/fix_permissions.sh
  x-pack/elastic-agent/magefile.go
Labels: Team:Agent, Team:Automation, Team:Ingest Management

#22695 Revert "[Agent] Remove heartbeat from bundled beats in agent."
  dev-tools/packaging/packages.yml
  heartbeat/monitors/factory.go
  heartbeat/monitors/factory_test.go
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/magefile.go
Labels: Heartbeat, Team:Agent, Team:Ingest Management, Team:Uptime, enhancement

#23644 The parameter is called "hosts" and not "endpoint"
  CHANGELOG.next.asciidoc
  x-pack/dockerlogbeat/readme.md
Labels: Team:Integrations

#23881 Cherry-pick #23855 to 7.x: [fix] Google_workplace api call fails. #23851
  x-pack/filebeat/module/google_workspace/admin/config/config.yml
  x-pack/filebeat/module/google_workspace/drive/config/config.yml
  x-pack/filebeat/module/google_workspace/groups/config/config.yml
  x-pack/filebeat/module/google_workspace/login/config/config.yml
  x-pack/filebeat/module/google_workspace/saml/config/config.yml
  x-pack/filebeat/module/google_workspace/user_accounts/config/config.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23880 Cherry-pick #23855 to 7.11: [fix] Google_workplace api call fails. #23851
  x-pack/filebeat/module/google_workspace/admin/config/config.yml
  x-pack/filebeat/module/google_workspace/drive/config/config.yml
  x-pack/filebeat/module/google_workspace/groups/config/config.yml
  x-pack/filebeat/module/google_workspace/login/config/config.yml
  x-pack/filebeat/module/google_workspace/saml/config/config.yml
  x-pack/filebeat/module/google_workspace/user_accounts/config/config.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23832 [ecs] Upgrade cef to 1.8.0
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/cef/log/config/input.yml
  x-pack/filebeat/module/cef/log/ingest/pipeline.yml
  x-pack/filebeat/module/cef/log/test/fp-ngfw-smc.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23902 [ecs] Upgrade fortinet/firewall to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/fortinet/firewall/config/firewall.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/event.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/pipeline.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/traffic.yml
  x-pack/filebeat/module/fortinet/firewall/ingest/utm.yml
  x-pack/filebeat/module/fortinet/firewall/test/fortinet.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23919 docs: Prepare Changelog for 6.8.14
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Automation, Team:Docs, automation, docs, in progress, release

#23926 Use install-ci.sh during release-manager-release
  Makefile
Labels: Team:Agent, Team:Automation

#23847 [ECS] Zeek upgrade to ecs 1.8.0
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/zeek/capture_loss/config/capture_loss.yml
  x-pack/filebeat/module/zeek/connection/config/connection.yml
  x-pack/filebeat/module/zeek/dce_rpc/config/dce_rpc.yml
  x-pack/filebeat/module/zeek/dhcp/config/dhcp.yml
  x-pack/filebeat/module/zeek/dnp3/config/dnp3.yml
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dpd/config/dpd.yml
  x-pack/filebeat/module/zeek/files/config/files.yml
  x-pack/filebeat/module/zeek/ftp/config/ftp.yml
  x-pack/filebeat/module/zeek/http/config/http.yml
  x-pack/filebeat/module/zeek/http/test/http-json.log
  x-pack/filebeat/module/zeek/http/test/http-json.log-expected.json
  x-pack/filebeat/module/zeek/intel/config/intel.yml
  x-pack/filebeat/module/zeek/irc/config/irc.yml
  x-pack/filebeat/module/zeek/kerberos/config/kerberos.yml
  x-pack/filebeat/module/zeek/modbus/config/modbus.yml
  x-pack/filebeat/module/zeek/mysql/config/mysql.yml
  x-pack/filebeat/module/zeek/mysql/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/notice/config/notice.yml
  x-pack/filebeat/module/zeek/ntlm/config/ntlm.yml
  x-pack/filebeat/module/zeek/ocsp/config/ocsp.yml
  x-pack/filebeat/module/zeek/pe/config/pe.yml
  x-pack/filebeat/module/zeek/radius/config/radius.yml
  x-pack/filebeat/module/zeek/rdp/config/rdp.yml
  x-pack/filebeat/module/zeek/rfb/config/rfb.yml
  x-pack/filebeat/module/zeek/sip/config/sip.yml
  x-pack/filebeat/module/zeek/smb_cmd/config/smb_cmd.yml
  x-pack/filebeat/module/zeek/smb_files/config/smb_files.yml
  x-pack/filebeat/module/zeek/smb_mapping/config/smb_mapping.yml
  x-pack/filebeat/module/zeek/smtp/config/smtp.yml
  x-pack/filebeat/module/zeek/snmp/config/snmp.yml
  x-pack/filebeat/module/zeek/socks/config/socks.yml
  x-pack/filebeat/module/zeek/ssh/config/ssh.yml
  x-pack/filebeat/module/zeek/ssl/config/ssl.yml
  x-pack/filebeat/module/zeek/stats/config/stats.yml
  x-pack/filebeat/module/zeek/syslog/config/syslog.yml
  x-pack/filebeat/module/zeek/traceroute/config/traceroute.yml
  x-pack/filebeat/module/zeek/tunnel/config/tunnel.yml
  x-pack/filebeat/module/zeek/weird/config/weird.yml
  x-pack/filebeat/module/zeek/x509/config/x509.yml
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23909 Cherry-pick #23592 to 7.x: Add support for ARM64 Docker images for all Beats
  .ci/packaging.groovy
  dev-tools/mage/build.go
  dev-tools/mage/crossbuild.go
  dev-tools/mage/dockerbuilder.go
  dev-tools/mage/pkg.go
  dev-tools/mage/pkgtypes.go
  dev-tools/packaging/packages.yml
  dev-tools/packaging/templates/docker/Dockerfile.elastic-agent.tmpl
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
  journalbeat/magefile.go
  script/fix_permissions.sh
  x-pack/elastic-agent/magefile.go
Labels: Team:Services, [zube]: In Review, backport, skip-ci

#23917 Missing bracket in test function
  libbeat/processors/script/docs/script.asciidoc
Labels: Team:Docs, docs

#23837 [Filebeat] rfc6587 framing for fortinet firewall
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/fortinet/clientendpoint/config/input.yml
  x-pack/filebeat/module/fortinet/firewall/config/firewall.yml
Labels: Filebeat, Team:Security-External Integrations, bug, needs_backport

#23932 Cherry-pick to master: docs: add missing bracket in test function (#23917)
  libbeat/processors/script/docs/script.asciidoc
Labels: Team:Docs, backport

#23933 Cherry-pick to 7.x: docs: add missing bracket in test function (#23917)
  libbeat/processors/script/docs/script.asciidoc
Labels: Team:Docs, backport

#23934 Cherry-pick to 7.11: docs: add missing bracket in test function (#23917)
  libbeat/processors/script/docs/script.asciidoc
Labels: Team:Docs, backport

#23927 Update Filebeat azure module to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/azure/activitylogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/activitylogs/config/file.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/activitylogs/test/activitylogs.log-expected.json
  x-pack/filebeat/module/azure/activitylogs/test/supporttickets_write.log-expected.json
  x-pack/filebeat/module/azure/auditlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/auditlogs/config/file.yml
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/auditlogs/test/auditlogs.log-expected.json
  x-pack/filebeat/module/azure/platformlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/platformlogs/config/file.yml
  x-pack/filebeat/module/azure/platformlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-eventhub.log-expected.json
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-kube.log-expected.json
  x-pack/filebeat/module/azure/signinlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/signinlogs/config/file.yml
  x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/signinlogs/test/signinlogs.log-expected.json
Labels: Team:Security-External Integrations, ecs, enhancement, review

#23920 Update Filebeat aws/s3access dataset to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/aws/s3access/config/aws-s3.yml
  x-pack/filebeat/module/aws/s3access/config/file.yml
  x-pack/filebeat/module/aws/s3access/ingest/pipeline.yml
  x-pack/filebeat/module/aws/s3access/test/s3_server_access.log-expected.json
  x-pack/filebeat/module/aws/s3access/test/test.log
  x-pack/filebeat/module/aws/s3access/test/test.log-expected.json
Labels: Team:Security-External Integrations, ecs, enhancement, review

#23935 [DOCS] Add note to state App Search module doesn't support Cloud AppSearch Metricbeat monitoring
  metricbeat/docs/modules/appsearch.asciidoc
  x-pack/metricbeat/module/appsearch/_meta/docs.asciidoc
Labels: Team:Docs, docs, v7.10.0, v7.11.0

#23858 Panic when using inline SSL certificate or key
  CHANGELOG.next.asciidoc
  libbeat/common/transport/tlscommon/tls.go
  libbeat/common/transport/tlscommon/tls_test.go
Labels: Agent, Team:Agent, review

#23914 Cherry-pick #22695 to 7.x: Revert "[Agent] Remove heartbeat from bundled beats in agent."
  dev-tools/packaging/packages.yml
  heartbeat/monitors/factory.go
  heartbeat/monitors/factory_test.go
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/magefile.go
Labels: Heartbeat, Team:Agent, Team:Ingest Management, Team:Uptime, [zube]: In Review, backport

#23943 Add breaking changes file for 7.11
  libbeat/docs/release-notes/breaking/breaking-7.11.asciidoc
  libbeat/docs/release-notes/breaking/breaking.asciidoc
Labels: Team:Agent, Team:Integrations, docs, review, v7.11.0

#23952 Cherry-pick to 7.x: Add breaking changes file for 7.11 (#23943)
  libbeat/docs/release-notes/breaking/breaking-7.11.asciidoc
  libbeat/docs/release-notes/breaking/breaking.asciidoc
Labels: backport, docs, needs_team

#23953 Cherry-pick to 7.11: Add breaking changes file for 7.11 (#23943)
  libbeat/docs/release-notes/breaking/breaking-7.11.asciidoc
  libbeat/docs/release-notes/breaking/breaking.asciidoc
Labels: backport, docs, needs_team

#23946 Cherry-pick #23837 to 7.x: [Filebeat] rfc6587 framing for fortinet firewall
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/fortinet/clientendpoint/config/input.yml
  x-pack/filebeat/module/fortinet/firewall/config/firewall.yml
Labels: Team:Security-External Integrations, [zube]: In Review, backport

#23939 Cherry-pick to 7.x: Add note (#23935)
  metricbeat/docs/modules/appsearch.asciidoc
  x-pack/metricbeat/module/appsearch/_meta/docs.asciidoc
Labels: Team:Docs, backport

#23941 Cherry-pick to 7.10: Add note (#23935)
  metricbeat/docs/modules/appsearch.asciidoc
  x-pack/metricbeat/module/appsearch/_meta/docs.asciidoc
Labels: Team:Docs, backport

#23940 Cherry-pick to 7.11: Add note (#23935)
  metricbeat/docs/modules/appsearch.asciidoc
  x-pack/metricbeat/module/appsearch/_meta/docs.asciidoc
Labels: Team:Docs, backport

#23956 Pass GO_VERSION to install-go command in make release
  Makefile
Labels: needs_team

#23931 [ecs] Upgrade panw module to ecs 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/panw/panos/config/input.yml
  x-pack/filebeat/module/panw/panos/ingest/pipeline.yml
  x-pack/filebeat/module/panw/panos/test/pan_inc_other.log-expected.json
  x-pack/filebeat/module/panw/panos/test/pan_inc_threat.log-expected.json
  x-pack/filebeat/module/panw/panos/test/pan_inc_traffic.log-expected.json
  x-pack/filebeat/module/panw/panos/test/threat.log-expected.json
  x-pack/filebeat/module/panw/panos/test/traffic.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23911 Filebeat: Update aws/cloudtrail dataset to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/aws/cloudtrail/config/aws-s3.yml
  x-pack/filebeat/module/aws/cloudtrail/config/file.yml
  x-pack/filebeat/module/aws/cloudtrail/ingest/pipeline.yml
  x-pack/filebeat/module/aws/cloudtrail/test/add-user-to-group-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/change-password-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/console-login-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/create-access-key-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/create-group-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/create-key-pair-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/create-trail-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/create-user-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/create-virtual-mfa-device-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/deactivate-mfa-device-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/delete-access-key-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/delete-group-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/delete-ssh-public-key-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/delete-trail-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/delete-user-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/delete-virtual-mfa-device-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/describe_configuration_recorders-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/enable-mfa-device-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/remove-user-from-group-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/start-logging-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/stop-logging-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-access-key-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-accout-password-policy-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-group-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-login-profile-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-ssh-public-key-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-trail-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/update-user-json.log-expected.json
  x-pack/filebeat/module/aws/cloudtrail/test/upload-ssh-public-key-json.log-expected.json
Labels: Team:Security-External Integrations, ecs, enhancement, review

#23923 chore: Update version to 6.8.15
  libbeat/version/version.go
Labels: Team:Automation, automation, release

#23960 Generate non UBI based images for x-pack/beats
  dev-tools/packaging/packages.yml
Labels: Team:Agent

#23785 Cherry-pick #23736 to 7.x: [Elastic Agent] Add the ability to run the Fleet Server
  dev-tools/packaging/packages.yml
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/application/fleet_decorator.go
  x-pack/elastic-agent/pkg/agent/operation/monitoring.go
  x-pack/elastic-agent/pkg/agent/program/program_test.go
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/pkg/agent/program/testdata/single_config-fleet-server.yml
  x-pack/elastic-agent/pkg/agent/program/testdata/single_config.yml
  x-pack/elastic-agent/pkg/core/app/descriptor.go
  x-pack/elastic-agent/spec/endpoint.yml
  x-pack/elastic-agent/spec/fleet-server.yml
Labels: Team:Agent, Team:Ingest Management, [zube]: In Review, backport

#23179 chore: Update version to 7.11.1
  libbeat/version/version.go
Labels: Team:Automation, automation, release

#23962 Cherry-pick #23956 to 7.x: Pass GO_VERSION to install-go command in make release
  Makefile
Labels: backport, needs_team, review

#23964 Cherry-pick #23960 to 7.x: Generate non UBI based images for x-pack/beats
  dev-tools/packaging/packages.yml
Labels: Team:Agent, [zube]: In Review, backport

#23969 Cherry-pick #23628 to 7.11: [Elastic Log Driver] Change hosts config flag
  CHANGELOG.next.asciidoc
  x-pack/dockerlogbeat/docs/configuration.asciidoc
  x-pack/dockerlogbeat/docs/install.asciidoc
  x-pack/dockerlogbeat/docs/usage.asciidoc
Labels: Team:Integrations, [zube]: In Review, backport

#23921 docs: update docs versions 6.8.14
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: Team:Automation, automation, docs, in progress, release

#23968 Cherry-pick #23628 to 7.x: [Elastic Log Driver] Change hosts config flag
  CHANGELOG.next.asciidoc
  x-pack/dockerlogbeat/docs/configuration.asciidoc
  x-pack/dockerlogbeat/docs/install.asciidoc
  x-pack/dockerlogbeat/docs/usage.asciidoc
Labels: Team:Integrations, [zube]: In Review, backport

#23975 [Release] Replace gimme with gvm
  Makefile
  dev-tools/common.bash
Labels: Team:Automation, automation

#23856 Update apm-server spec
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/spec/apm-server.yml
Labels: Team:Ingest Management, Team:Integrations, enhancement

#23180 chore: Update test environments 7.11.1
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: Team:Automation, automation, release

#23980 [Release] Configure GOPATH=$HOME otherwise GOPATH=GOROOT
  .gitignore
  dev-tools/common.bash
Labels: Team:Automation

#23936 [ecs] Upgrade juniper/srx to ecs 1.8.0
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/juniper/srx/config/srx.yml
  x-pack/filebeat/module/juniper/srx/ingest/pipeline.yml
  x-pack/filebeat/module/juniper/srx/test/atp.log-expected.json
  x-pack/filebeat/module/juniper/srx/test/flow.log-expected.json
  x-pack/filebeat/module/juniper/srx/test/idp.log-expected.json
  x-pack/filebeat/module/juniper/srx/test/utm.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23978 Update mysqlenterprise module to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/mysqlenterprise/audit/config/config.yml
  x-pack/filebeat/module/mysqlenterprise/audit/ingest/pipeline.yml
  x-pack/filebeat/module/mysqlenterprise/audit/test/mysql_audit_test.log
  x-pack/filebeat/module/mysqlenterprise/audit/test/mysql_audit_test.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement, review

#23967 Update sophos/xg to ECS 1.8
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/sophos/xg/config/config.yml
  x-pack/filebeat/module/sophos/xg/ingest/antivirus.yml
  x-pack/filebeat/module/sophos/xg/ingest/atp.yml
  x-pack/filebeat/module/sophos/xg/ingest/cfilter.yml
  x-pack/filebeat/module/sophos/xg/ingest/event.yml
  x-pack/filebeat/module/sophos/xg/ingest/firewall.yml
  x-pack/filebeat/module/sophos/xg/ingest/idp.yml
  x-pack/filebeat/module/sophos/xg/ingest/pipeline.yml
  x-pack/filebeat/module/sophos/xg/ingest/sandstorm.yml
  x-pack/filebeat/module/sophos/xg/ingest/waf.yml
  x-pack/filebeat/module/sophos/xg/test/anti-spam.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/anti-virus.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/atp.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/cfilter.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/event.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/firewall.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/idp.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/sandbox.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/waf.log-expected.json
  x-pack/filebeat/module/sophos/xg/test/wifi.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement, review

#23990 Release: dump the environment context
  Makefile
Labels: Team:Automation

#23961 [ecs] Upgrade system/auth to ecs 1.8
  CHANGELOG.next.asciidoc
  filebeat/module/system/auth/config/auth.yml
  filebeat/module/system/auth/ingest/pipeline.yml
  filebeat/module/system/auth/test/auth-ubuntu1204.log-expected.json
  filebeat/module/system/auth/test/secure-rhel7.log-expected.json
  filebeat/module/system/auth/test/test.log-expected.json
  filebeat/module/system/auth/test/timestamp.log-expected.json
Labels: Filebeat, Team:Security-External Integrations, ecs, enhancement

#23988 Cherry-pick to 7.x: [Release] Replace gimme with gvm (#23975)
  Makefile
  dev-tools/common.bash
Labels: Team:Automation, automation, backport, ci

#23989 Cherry-pick to 7.x: [Release] Configure GOPATH=HOME otherwise GOPATH=GOROOT (#23980)
  .gitignore
  dev-tools/common.bash
Labels: Team:Automation, automation, backport, ci

#23994 Dump packages and platforms env variables
  dev-tools/mage/settings.go
Labels: Team:Automation

#23997 Cherry-pick to 7.x: Dump packages and platforms env variables (#23994)
  dev-tools/mage/settings.go
Labels: Team:Automation, automation, backport, ci

#23973 Fix: select default agent policy if no enrollment token provided
  dev-tools/packaging/templates/docker/docker-entrypoint.elastic-agent.tmpl
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
Labels: Team:Agent, Team:Ingest Management

#23999 Crossbuilding of Lambda functions only supported on AMD64
  x-pack/functionbeat/magefile.go
Labels: needs_backport, needs_team

#23972 [Filebeat] change httpjson logging
  CHANGELOG.next.asciidoc
  filebeat/input/v2/input-cursor/input.go
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/internal/v2/input.go
Labels: Filebeat, Team:Security-External Integrations, bug, needs_backport

#23998 [Ingest Manager] Windows agent doesn't uninstall with a lowercase `c:` drive in the path
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/install/installed.go
  x-pack/elastic-agent/pkg/agent/install/paths.go
  x-pack/elastic-agent/pkg/agent/install/paths_darwin.go
  x-pack/elastic-agent/pkg/agent/install/paths_test.go
  x-pack/elastic-agent/pkg/agent/install/paths_windows.go
Labels: Team:Agent, Team:Ingest Management, bug

#23690 Cherry-pick to 7.x: bundle apm-server by default with Elastic Agent (#23548)
  dev-tools/packaging/packages.yml
Labels: Team:Ingest Management, backport

#23886 [Elastic Agent] Fix issues with dynamic inputs and conditions
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/application/application.go
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/config_test.go
  x-pack/elastic-agent/pkg/agent/application/handler_action_policy_change.go
  x-pack/elastic-agent/pkg/agent/application/inspect_config_cmd.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll.go
  x-pack/elastic-agent/pkg/agent/cmd/run.go
  x-pack/elastic-agent/pkg/agent/cmd/watch.go
  x-pack/elastic-agent/pkg/config/config.go
  x-pack/elastic-agent/pkg/config/config_test.go
  x-pack/elastic-agent/pkg/eql/eql_test.go
  x-pack/elastic-agent/pkg/eql/methods_str.go
Labels: Team:Agent, Team:Ingest Management, bug, needs_backport, review

#24003 Cherry-pick #23998 to 7.x: Windows agent doesn't uninstall with a lowercase `c:` drive in the path
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/pkg/agent/install/installed.go
  x-pack/elastic-agent/pkg/agent/install/paths.go
  x-pack/elastic-agent/pkg/agent/install/paths_darwin.go
  x-pack/elastic-agent/pkg/agent/install/paths_test.go
  x-pack/elastic-agent/pkg/agent/install/paths_windows.go
Labels: Team:Agent, backport, bug

#23995 Cherry-pick to 7.x: Release: dump the environment context (#23990)
  Makefile
Labels: Team:Automation, automation, backport, ci

#24006 Cherry-pick #23999 to 7.x: Crossbuilding of Lambda functions only supported on AMD64
  x-pack/functionbeat/magefile.go
Labels: backport, needs_team, review

#23955 Update Golang to 1.15.8
  .go-version
  CHANGELOG-developer.next.asciidoc
  auditbeat/Dockerfile
  filebeat/Dockerfile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/functionbeat/Dockerfile
  x-pack/libbeat/Dockerfile
Labels: Team:Agent

#24010 docs: Prepare Changelog for 7.11.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Automation, Team:Docs, automation, docs, in progress, release

#24004 Cherry-pick #23886 to 7.x: [Elastic Agent] Fix issues with dynamic inputs and conditions
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/application/application.go
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/config_test.go
  x-pack/elastic-agent/pkg/agent/application/handler_action_policy_change.go
  x-pack/elastic-agent/pkg/agent/application/inspect_config_cmd.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll.go
  x-pack/elastic-agent/pkg/agent/cmd/run.go
  x-pack/elastic-agent/pkg/agent/cmd/watch.go
  x-pack/elastic-agent/pkg/config/config.go
  x-pack/elastic-agent/pkg/config/config_test.go
  x-pack/elastic-agent/pkg/eql/eql_test.go
  x-pack/elastic-agent/pkg/eql/methods_str.go
Labels: Team:Agent, Team:Ingest Management, [zube]: In Review, backport

#24005 Cherry-pick #23886 to 7.11: [Elastic Agent] Fix issues with dynamic inputs and conditions
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/application/application.go
  x-pack/elastic-agent/pkg/agent/application/config.go
  x-pack/elastic-agent/pkg/agent/application/config_test.go
  x-pack/elastic-agent/pkg/agent/application/handler_action_policy_change.go
  x-pack/elastic-agent/pkg/agent/application/inspect_config_cmd.go
  x-pack/elastic-agent/pkg/agent/cmd/enroll.go
  x-pack/elastic-agent/pkg/agent/cmd/run.go
  x-pack/elastic-agent/pkg/agent/cmd/watch.go
  x-pack/elastic-agent/pkg/config/config.go
  x-pack/elastic-agent/pkg/config/config_test.go
  x-pack/elastic-agent/pkg/eql/eql_test.go
  x-pack/elastic-agent/pkg/eql/methods_str.go
Labels: Team:Agent, Team:Ingest Management, [zube]: In Review, backport

#24013 docs: Forward port Changelog for 7.11.1 to 7.x (#24010)
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Docs

#24014 docs: Forward port Changelog for 7.11.1 to master (#24010)
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Docs
