Repository elastic/beats, pull requests merged in 2021-06, with the labels that each got.

#25874 [Filebeat] updating auditd to ecs 1.10.0
  filebeat/module/auditd/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25875 [Filebeat] updating pensando to ecs 1.10.0
  filebeat/module/pensando/dfw/config/dfw.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25876 [Filebeat] updating aws cloudtrail to ecs 1.10.0
  x-pack/filebeat/module/aws/cloudtrail/config/aws-s3.yml
  x-pack/filebeat/module/aws/cloudtrail/config/file.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25878 [Filebeat] updating crowdstrike to ecs 1.10.0
  x-pack/filebeat/module/crowdstrike/falcon/config/falcon.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25877 [Filebeat] updating cisco to ecs 1.10.0
  x-pack/filebeat/module/cisco/amp/config/config.yml
  x-pack/filebeat/module/cisco/asa/config/input.yml
  x-pack/filebeat/module/cisco/ftd/config/input.yml
  x-pack/filebeat/module/cisco/ios/config/input.yml
  x-pack/filebeat/module/cisco/meraki/config/input.yml
  x-pack/filebeat/module/cisco/nexus/config/input.yml
  x-pack/filebeat/module/cisco/umbrella/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25879 [Filebeat] updating coredns to ecs 1.10.0
  x-pack/filebeat/module/coredns/log/config/coredns.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25880 [Filebeat] updating cyberark to ecs 1.10.0
  x-pack/filebeat/module/cyberark/corepas/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25881 [Filebeat] updating cyberarkpas to ecs 1.10.0
  x-pack/filebeat/module/cyberarkpas/audit/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25882 [Filebeat] updating cylance to ecs 1.10.0
  x-pack/filebeat/module/cylance/protect/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25883 [Filebeat] updating f5 to ecs 1.10.0
  x-pack/filebeat/module/f5/bigipafm/config/input.yml
  x-pack/filebeat/module/f5/bigipapm/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25931 [All beats] updating global ECS fields in libbeat and pushing to specific beats
  auditbeat/docs/fields.asciidoc
  auditbeat/include/fields.go
  filebeat/docs/fields.asciidoc
  filebeat/include/fields.go
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  journalbeat/docs/fields.asciidoc
  journalbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  libbeat/mapping/field.go
  metricbeat/docs/fields.asciidoc
  packetbeat/docs/fields.asciidoc
  packetbeat/include/fields.go
  winlogbeat/docs/fields.asciidoc
  winlogbeat/include/fields.go
  x-pack/functionbeat/docs/fields.asciidoc
  x-pack/functionbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
  x-pack/osquerybeat/docs/fields.asciidoc
  x-pack/osquerybeat/include/fields.go
Labels: 7.14 Candidate, Team:Integrations, Team:Security-External Integrations, enhancement, libbeat

#25894 [Filebeat] updating mysqlenterprise to ecs 1.10.0
  x-pack/filebeat/module/mysqlenterprise/audit/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25893 [Filebeat] updating misp to ecs 1.10.0
  x-pack/filebeat/module/misp/threat/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25892 [Filebeat] updating microsoft to ecs 1.10.0
  x-pack/filebeat/module/microsoft/defender_atp/config/atp.yml
  x-pack/filebeat/module/microsoft/dhcp/config/input.yml
  x-pack/filebeat/module/microsoft/m365_defender/config/defender.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25891 [Filebeat] updating juniper to ecs 1.10.0
  x-pack/filebeat/module/juniper/junos/config/input.yml
  x-pack/filebeat/module/juniper/netscreen/config/input.yml
  x-pack/filebeat/module/juniper/srx/config/srx.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25890 [Filebeat] updating iptables to ecs 1.10.0
  x-pack/filebeat/module/iptables/log/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25889 [Filebeat] updating infoblox to ecs 1.10.0
  x-pack/filebeat/module/infoblox/nios/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#26013 Fix CI pipeline
  Jenkinsfile
  Makefile
  go.sum
Labels: Team:Agent, Team:Automation, backport-v7.14.0, review

#25898 [Filebeat] updating okta to ecs 1.10.0
  x-pack/filebeat/module/okta/system/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25897 [Filebeat] updating o365 to ecs 1.10.0
  x-pack/filebeat/module/o365/audit/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25896 [Filebeat] updating netscout to ecs 1.10.0
  x-pack/filebeat/module/netscout/sightline/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25895 [Filebeat] updating netflow to ecs 1.10.0
  x-pack/filebeat/module/netflow/log/config/netflow.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25888 [Filebeat] updating imperva to ecs 1.10.0
  x-pack/filebeat/module/imperva/securesphere/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25887 [Filebeat] updating google_workspace to ecs 1.10.0
  x-pack/filebeat/module/google_workspace/admin/config/config.yml
  x-pack/filebeat/module/google_workspace/drive/config/config.yml
  x-pack/filebeat/module/google_workspace/groups/config/config.yml
  x-pack/filebeat/module/google_workspace/login/config/config.yml
  x-pack/filebeat/module/google_workspace/saml/config/config.yml
  x-pack/filebeat/module/google_workspace/user_accounts/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25884 [Filebeat] updating fortinet to ecs 1.10.0
  x-pack/filebeat/module/fortinet/clientendpoint/config/input.yml
  x-pack/filebeat/module/fortinet/firewall/config/firewall.yml
  x-pack/filebeat/module/fortinet/fortimail/config/input.yml
  x-pack/filebeat/module/fortinet/fortimanager/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#26011 Forward port to master: Prepare Changelog for 7.13.1 (#26009) (#26010)
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Docs, release

#25924 Migrate ec2 metricset to use cloudwatch input as light weight module
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/ec2/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/data.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_integration_test.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/ec2/manifest.yml
  x-pack/metricbeat/module/aws/module.yml
Labels: Team:Integrations, needs_backport

#25925 Osquerybeat - Linux AARCH64 support
  .ci/packaging.groovy
  x-pack/elastic-agent/pkg/agent/program/supported.go
  x-pack/elastic-agent/spec/osquerybeat.yml
  x-pack/osquerybeat/dev-tools/packaging/packages.yml
  x-pack/osquerybeat/internal/distro/distro.go
  x-pack/osquerybeat/scripts/mage/distro.go
  x-pack/osquerybeat/scripts/mage/package.go
Labels: Team:Asset Mgt, Team:Automation, enhancement

#25899 [Filebeat] updating panw to ecs 1.10.0
  x-pack/filebeat/module/panw/panos/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25900 [Filebeat] updating proofpoint to ecs 1.10.0
  x-pack/filebeat/module/proofpoint/emailsecurity/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25901 [Filebeat] updating radware to ecs 1.10.0
  x-pack/filebeat/module/radware/defensepro/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25839 docs: update docs versions 6.8.16
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: Team:Automation, automation, docs, in progress, release

#25844 chore: Update test environments 6.8.17
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: Team:Automation, automation, release

#26050 Cherry-pick #25924 to 7.x: Migrate ec2 metricset to use cloudwatch input as light weight module
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/_meta/data.json
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/aws/cloudwatch/ec2/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/data.go
  x-pack/metricbeat/module/aws/ec2/ec2.go
  x-pack/metricbeat/module/aws/ec2/ec2_integration_test.go
  x-pack/metricbeat/module/aws/ec2/ec2_test.go
  x-pack/metricbeat/module/aws/ec2/manifest.yml
  x-pack/metricbeat/module/aws/module.yml
Labels: Team:Integrations, [zube]: In Review, backport

#25907 [Filebeat] updating suricata to ecs 1.10.0
  x-pack/filebeat/module/suricata/eve/config/eve.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25906 [Filebeat] updating squid to ecs 1.10.0
  x-pack/filebeat/module/squid/log/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25905 [Filebeat] updating sophos to ecs 1.10.0
  x-pack/filebeat/module/sophos/utm/config/input.yml
  x-pack/filebeat/module/sophos/xg/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25904 [Filebeat] updating sonicwall to ecs 1.10.0
  x-pack/filebeat/module/sonicwall/firewall/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25903 [Filebeat] updating snyk to ecs 1.10.0
  x-pack/filebeat/module/snyk/audit/config/config.yml
  x-pack/filebeat/module/snyk/vulnerabilities/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25902 [Filebeat] updating snort to ecs 1.10.0
  x-pack/filebeat/module/snort/log/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25908 [Filebeat] updating tomcat to ecs 1.10.0
  x-pack/filebeat/module/tomcat/log/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25909 [Filebeat] updating zoom to ecs 1.10.0
  x-pack/filebeat/module/zoom/webhook/config/webhook.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25911 [Filebeat] updating zeek to ecs 1.10.0
  x-pack/filebeat/module/zeek/capture_loss/config/capture_loss.yml
  x-pack/filebeat/module/zeek/connection/config/connection.yml
  x-pack/filebeat/module/zeek/dce_rpc/config/dce_rpc.yml
  x-pack/filebeat/module/zeek/dhcp/config/dhcp.yml
  x-pack/filebeat/module/zeek/dnp3/config/dnp3.yml
  x-pack/filebeat/module/zeek/dns/config/dns.yml
  x-pack/filebeat/module/zeek/dpd/config/dpd.yml
  x-pack/filebeat/module/zeek/files/config/files.yml
  x-pack/filebeat/module/zeek/ftp/config/ftp.yml
  x-pack/filebeat/module/zeek/http/config/http.yml
  x-pack/filebeat/module/zeek/intel/config/intel.yml
  x-pack/filebeat/module/zeek/irc/config/irc.yml
  x-pack/filebeat/module/zeek/kerberos/config/kerberos.yml
  x-pack/filebeat/module/zeek/modbus/config/modbus.yml
  x-pack/filebeat/module/zeek/mysql/config/mysql.yml
  x-pack/filebeat/module/zeek/notice/config/notice.yml
  x-pack/filebeat/module/zeek/ntlm/config/ntlm.yml
  x-pack/filebeat/module/zeek/ntp/config/ntp.yml
  x-pack/filebeat/module/zeek/ocsp/config/ocsp.yml
  x-pack/filebeat/module/zeek/pe/config/pe.yml
  x-pack/filebeat/module/zeek/radius/config/radius.yml
  x-pack/filebeat/module/zeek/rdp/config/rdp.yml
  x-pack/filebeat/module/zeek/rfb/config/rfb.yml
  x-pack/filebeat/module/zeek/signature/config/signature.yml
  x-pack/filebeat/module/zeek/sip/config/sip.yml
  x-pack/filebeat/module/zeek/smb_cmd/config/smb_cmd.yml
  x-pack/filebeat/module/zeek/smb_files/config/smb_files.yml
  x-pack/filebeat/module/zeek/smb_mapping/config/smb_mapping.yml
  x-pack/filebeat/module/zeek/smtp/config/smtp.yml
  x-pack/filebeat/module/zeek/snmp/config/snmp.yml
  x-pack/filebeat/module/zeek/socks/config/socks.yml
  x-pack/filebeat/module/zeek/ssh/config/ssh.yml
  x-pack/filebeat/module/zeek/ssl/config/ssl.yml
  x-pack/filebeat/module/zeek/stats/config/stats.yml
  x-pack/filebeat/module/zeek/syslog/config/syslog.yml
  x-pack/filebeat/module/zeek/traceroute/config/traceroute.yml
  x-pack/filebeat/module/zeek/tunnel/config/tunnel.yml
  x-pack/filebeat/module/zeek/weird/config/weird.yml
  x-pack/filebeat/module/zeek/x509/config/x509.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25912 [Filebeat] updating zscaler to ecs 1.10.0
  x-pack/filebeat/module/zscaler/zia/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25913 [Filebeat] updating barracuda to ecs 1.10.0
  x-pack/filebeat/module/barracuda/spamfirewall/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25914 [Filebeat] updating bluecoat to ecs 1.10.0
  x-pack/filebeat/module/bluecoat/director/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25915 [Filebeat] updating cef to ecs 1.10.0
  x-pack/filebeat/module/cef/log/config/input.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25916 [Filebeat] updating checkpoint to ecs 1.10.0
  x-pack/filebeat/module/checkpoint/firewall/config/firewall.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25917 [Filebeat] updating gsuite to ecs 1.10.0
  x-pack/filebeat/module/gsuite/admin/config/config.yml
  x-pack/filebeat/module/gsuite/drive/config/config.yml
  x-pack/filebeat/module/gsuite/groups/config/config.yml
  x-pack/filebeat/module/gsuite/login/config/config.yml
  x-pack/filebeat/module/gsuite/saml/config/config.yml
  x-pack/filebeat/module/gsuite/user_accounts/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25918 [Filebeat] updating osquery to ecs 1.10.0
  filebeat/module/osquery/result/config/result.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25919 [Filebeat] updating santa to ecs 1.10.0
  filebeat/module/santa/log/config/file.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25920 [Filebeat] updating system to ecs 1.10.0
  filebeat/module/system/auth/config/auth.yml
  filebeat/module/system/syslog/config/syslog.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25921 [Filebeat] updating traefik to ecs 1.10.0
  filebeat/module/traefik/access/config/traefik-access.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#25930 [Auditbeat] updating auditbeat to ecs 1.10.0
  auditbeat/cmd/root.go
Labels: 7.14 Candidate, Auditbeat, Team:Security-External Integrations, enhancement

#25932 [Winlogbeat] updating winlogbeat to ecs 1.10.0
  winlogbeat/cmd/root.go
Labels: 7.14 Candidate, Team:Security-External Integrations, Winlogbeat, enhancement

#25933 [Journalbeat] updating journalbeat to ecs 1.10.0
  journalbeat/cmd/root.go
Labels: 7.14 Candidate, Journalbeat, Team:Security-External Integrations, enhancement

#25934 [Heartbeat] updating heartbeat to ecs 1.10.0
  heartbeat/cmd/root.go
Labels: 7.14 Candidate, Heartbeat, Team:Integrations, enhancement

#25935 [Filebeat] updating apache to ecs 1.10.0
  filebeat/module/apache/access/config/access.yml
  filebeat/module/apache/error/config/error.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25936 [Filebeat] updating haproxy to ecs 1.10.0
  filebeat/module/haproxy/log/config/file.yml
  filebeat/module/haproxy/log/config/syslog.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25937 [Filebeat] updating icinga to ecs 1.10.0
  filebeat/module/icinga/debug/config/debug.yml
  filebeat/module/icinga/main/config/main.yml
  filebeat/module/icinga/startup/config/startup.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25938 [Filebeat] updating iis to ecs 1.10.0
  filebeat/module/iis/access/config/iis-access.yml
  filebeat/module/iis/error/config/iis-error.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25939 [Filebeat] updating kafka to ecs 1.10.0
  filebeat/module/kafka/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25944 [Filebeat] updating kibana to ecs 1.10.0
  filebeat/module/kibana/audit/config/audit.yml
  filebeat/module/kibana/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25945 [Filebeat] updating logstash to ecs 1.10.0
  filebeat/module/logstash/log/config/log.yml
  filebeat/module/logstash/slowlog/config/slowlog.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, backport-v7.14.0, enhancement

#25946 [Filebeat] updating mongodb to ecs 1.10.0
  filebeat/module/mongodb/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25949 [Filebeat] updating mysql to ecs 1.10.0
  filebeat/module/mysql/error/config/error.yml
  filebeat/module/mysql/slowlog/config/slowlog.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, backport-v7.14.0, enhancement

#25950 [Filebeat] updating nats to ecs 1.10.0
  filebeat/module/nats/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25951 [Filebeat] updating nginx to ecs 1.10.0
  filebeat/module/nginx/access/config/nginx-access.yml
  filebeat/module/nginx/error/config/nginx-error.yml
  filebeat/module/nginx/ingress_controller/config/ingress_controller.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, backport-v7.14.0, enhancement

#25952 [Filebeat] updating postgresql to ecs 1.10.0
  filebeat/module/postgresql/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25953 [Filebeat] updating redis to ecs 1.10.0
  filebeat/module/redis/log/config/log.yml
  filebeat/module/redis/slowlog/config/slowlog.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25957 [Filebeat] updating elasticsearch to ecs 1.10.0
  filebeat/module/elasticsearch/audit/config/audit.yml
  filebeat/module/elasticsearch/deprecation/config/log.yml
  filebeat/module/elasticsearch/gc/config/gc.yml
  filebeat/module/elasticsearch/server/config/log.yml
  filebeat/module/elasticsearch/slowlog/config/slowlog.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#26090 [automation] update elastic stack version for testing 7.13.1-b438d0e4
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: automation, build-monitoring, dependency, needs_team

#25959 [Filebeat] updating activemq to ecs 1.10.0
  x-pack/filebeat/module/activemq/audit/config/audit.yml
  x-pack/filebeat/module/activemq/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25960 [Filebeat] updating ibmmq to ecs 1.10.0
  x-pack/filebeat/module/ibmmq/errorlog/config/errorlog.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25961 [Filebeat] updating mssql to ecs 1.10.0
  x-pack/filebeat/module/mssql/log/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25962 [Filebeat] updating oracle to ecs 1.10.0
  x-pack/filebeat/module/oracle/database_audit/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25963 [Filebeat] updating rabbitmq to ecs 1.10.0
  x-pack/filebeat/module/rabbitmq/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25964 [Filebeat] updating zookeeper to ecs 1.10.0
  x-pack/filebeat/module/zookeeper/audit/config/audit.yml
  x-pack/filebeat/module/zookeeper/log/config/log.yml
Labels: 7.14 Candidate, Filebeat, Team:Integrations, enhancement

#25769 feat: user precompiled libpcap
  packetbeat/scripts/mage/pcap.go
Labels: Team:Automation, backport-v7.13.0, backport-v7.14.0, build-system

#25368 [FileBeat] GCP module enhancement - Populate orchestrator.* fields for K8S logs
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/gcp/audit/config/input.yml
  x-pack/filebeat/module/gcp/audit/config/pipeline.js
  x-pack/filebeat/module/gcp/audit/ingest/pipeline.yml
  x-pack/filebeat/module/gcp/audit/test/audit-log-entries.json.log
  x-pack/filebeat/module/gcp/audit/test/audit-log-entries.json.log-expected.json
  x-pack/filebeat/module/gcp/firewall/config/input.yml
  x-pack/filebeat/module/gcp/vpcflow/config/input.yml
Labels: Team:Integrations, Team:Security-External Integrations, needs_backport

#26111 Cherry-pick #25368 to 7.x: [FileBeat] GCP module enhancement - Populate orchestrator.* fields for K8S logs
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/gcp/audit/config/input.yml
  x-pack/filebeat/module/gcp/audit/config/pipeline.js
  x-pack/filebeat/module/gcp/audit/ingest/pipeline.yml
  x-pack/filebeat/module/gcp/audit/test/audit-log-entries.json.log
  x-pack/filebeat/module/gcp/audit/test/audit-log-entries.json.log-expected.json
  x-pack/filebeat/module/gcp/firewall/config/input.yml
  x-pack/filebeat/module/gcp/vpcflow/config/input.yml
Labels: Team:Integrations, Team:Security-External Integrations, [zube]: In Review, backport

#26005 chore: Update version to 7.13.2
  libbeat/version/version.go
Labels: Team:Automation, automation, release

#26124 [automation] update elastic stack version for testing 7.13.2-e54b50ef
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: automation, build-monitoring, dependency, needs_team

#25987 fix: use new ARM crossbuild docker images
  .ci/packer_cache.sh
  dev-tools/mage/crossbuild.go
Labels: Team:Automation, backport-v7.13.0, backport-v7.14.0, bug

#26006 chore: Update test environments 7.13.2
  metricbeat/docker-compose.yml
  metricbeat/module/logstash/docker-compose.yml
  testing/environments/latest.yml
  x-pack/metricbeat/docker-compose.yml
Labels: Team:Automation, automation, release

#26132 Clean up prospector configuration documentation of filestream
  filebeat/docs/inputs/input-filestream-file-options.asciidoc
  filebeat/docs/inputs/input-filestream.asciidoc
Labels: Team:Agent, backport-v7.13.0, backport-v7.14.0

#26117 Migrate sqs metricset to use cloudwatch input as light weight module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/aws/sqs.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/sqs/metadata.go
  x-pack/metricbeat/module/aws/module.yml
  x-pack/metricbeat/module/aws/sqs/_meta/data.json
  x-pack/metricbeat/module/aws/sqs/data.go
  x-pack/metricbeat/module/aws/sqs/manifest.yml
  x-pack/metricbeat/module/aws/sqs/sqs.go
  x-pack/metricbeat/module/aws/sqs/sqs_integration_test.go
  x-pack/metricbeat/module/aws/sqs/sqs_test.go
Labels: Team:Integrations, needs_backport

#25675 [Filebeat] Fixes Kibana.log script to calculate `event.duration`
  CHANGELOG.next.asciidoc
  filebeat/module/kibana/log/ingest/pipeline.yml
  filebeat/module/kibana/log/test/test.log
  filebeat/module/kibana/log/test/test.log-expected.json
Labels: Stack monitoring, Team:Integrations, Team:Security-External Integrations, backport-v7.14.0

#26139 Cherry-pick #26117 to 7.x: Migrate sqs metricset to use cloudwatch input as light weight module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/aws/sqs.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/sqs/metadata.go
  x-pack/metricbeat/module/aws/module.yml
  x-pack/metricbeat/module/aws/sqs/_meta/data.json
  x-pack/metricbeat/module/aws/sqs/data.go
  x-pack/metricbeat/module/aws/sqs/manifest.yml
  x-pack/metricbeat/module/aws/sqs/sqs.go
  x-pack/metricbeat/module/aws/sqs/sqs_integration_test.go
  x-pack/metricbeat/module/aws/sqs/sqs_test.go
Labels: Team:Integrations, [zube]: In Review, backport

#26016 Change timestamp in elastic-agent-json.log ut UTC
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/core/logger/logger.go
Labels: Team:Agent, backport-v7.14.0, cleanup, v7.14.0

#26077 Migrate rds metricset to use cloudwatch input as light weight module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/aws/rds.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/ec2/ec2.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/rds/rds.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/manifest.yml
  x-pack/metricbeat/module/aws/module.yml
  x-pack/metricbeat/module/aws/rds/_meta/data.json
  x-pack/metricbeat/module/aws/rds/data.go
  x-pack/metricbeat/module/aws/rds/manifest.yml
  x-pack/metricbeat/module/aws/rds/rds.go
  x-pack/metricbeat/module/aws/rds/rds_integration_test.go
  x-pack/metricbeat/module/aws/rds/rds_test.go
Labels: Team:Integrations, needs_backport

#26161 [automation] update elastic stack version for testing 7.14.0-bb1ffc77
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: automation, build-monitoring, dependency, needs_team

#26164 o365: Support non-array Parameters and ExtendedProperties fields
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/o365/audit/config/pipeline.js
  x-pack/filebeat/module/o365/audit/test/str-params.log
  x-pack/filebeat/module/o365/audit/test/str-params.log-expected.json
Labels: Team:Security-External Integrations, backport-v7.13.0, backport-v7.14.0, bug, review

#26032 auditd: Fix kernel deadlock after ENOBUFS
  CHANGELOG.next.asciidoc
  auditbeat/module/auditd/audit_linux.go
Labels: Auditbeat, Team:Security-External Integrations, backport-v7.12.0, backport-v7.13.0, backport-v7.14.0, bug, review

#26176 Include date separator in the filename prefix of `dateRotator` to make sure nothing gets purged accidentally
  CHANGELOG.next.asciidoc
  libbeat/common/file/rotator.go
Labels: Team:Agent, backport-v7.13.0, backport-v7.14.0, bug

#26140 [Heartbeat]: add mappings for performance metrics
  heartbeat/_meta/fields.common.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
Labels: Heartbeat, Team:Uptime, enhancement, v7.14.0

#26184 Disable test processors system test for windows 10
  metricbeat/tests/system/test_lightmodules.py
Labels: Team:Integrations, review

#25808 [Heartbeat] Dedupe screenshots / Extra Args
  CHANGELOG.next.asciidoc
  heartbeat/_meta/fields.common.yml
  heartbeat/docs/fields.asciidoc
  heartbeat/docs/monitors/monitor-browser.asciidoc
  heartbeat/include/fields.go
  x-pack/heartbeat/include/fields.go
  x-pack/heartbeat/monitors/browser/browser.go
  x-pack/heartbeat/monitors/browser/config.go
  x-pack/heartbeat/monitors/browser/suite.go
  x-pack/heartbeat/monitors/browser/suite_runner.go
  x-pack/heartbeat/monitors/browser/suite_test.go
  x-pack/heartbeat/monitors/browser/synthexec/enrich.go
  x-pack/heartbeat/monitors/browser/synthexec/enrich_test.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
  x-pack/heartbeat/monitors/browser/synthexec/synthtypes.go
Labels: Heartbeat, Team:Uptime, enhancement, v7.14.0

#26146 libbeat/idxmgmt/ilm: fix alias creation
  CHANGELOG.next.asciidoc
  libbeat/idxmgmt/ilm/client_handler.go
  libbeat/idxmgmt/ilm/client_handler_integration_test.go
Labels: backport-v7.13.0, backport-v7.14.0, bug, needs_team, v7.13.2, v7.14.0, v8.0.0

#26151 Cherry-pick #26077 to 7.x: Migrate rds metricset to use cloudwatch input as light weight module
  CHANGELOG.next.asciidoc
  metricbeat/docs/modules/aws/rds.asciidoc
  x-pack/metricbeat/include/list.go
  x-pack/metricbeat/module/aws/cloudwatch/ec2/ec2.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/rds/rds.go
  x-pack/metricbeat/module/aws/ec2/_meta/data.json
  x-pack/metricbeat/module/aws/ec2/manifest.yml
  x-pack/metricbeat/module/aws/module.yml
  x-pack/metricbeat/module/aws/rds/_meta/data.json
  x-pack/metricbeat/module/aws/rds/data.go
  x-pack/metricbeat/module/aws/rds/manifest.yml
  x-pack/metricbeat/module/aws/rds/rds.go
  x-pack/metricbeat/module/aws/rds/rds_integration_test.go
  x-pack/metricbeat/module/aws/rds/rds_test.go
Labels: Team:Integrations, [zube]: In Review, backport

#26180 Change fleetmode detection to only use management.enabled
  libbeat/common/fleetmode/fleet_mode.go
Labels: Metricbeat, Team:Agent, Team:Integrations, backport-v7.14.0, bug, v7.14.0

#25708 Remove 32 bits version of Elastic Agent.
  x-pack/elastic-agent/CHANGELOG.asciidoc
  x-pack/elastic-agent/magefile.go
Labels: Team:Agent, backport-v7.14.0, v7.13.0

#26126 Fix startup with failing configuration
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/operation/operation_config.go
  x-pack/elastic-agent/pkg/core/plugin/process/app.go
  x-pack/elastic-agent/pkg/core/plugin/process/start.go
  x-pack/elastic-agent/pkg/core/plugin/process/status.go
Labels: Team:Agent, bug, needs_backport, v7.13.1

#26216 Disable test processors system test for windows 10
  metricbeat/tests/system/test_lightmodules.py
Labels: Team:Integrations, review

#26088 [Metricbeat] Add state_statefulset replicas.ready
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_statefulset/_meta/data.json
  metricbeat/module/kubernetes/state_statefulset/_meta/fields.yml
  metricbeat/module/kubernetes/state_statefulset/_meta/test/ksm.v1.8.0.expected
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/docs.plain
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_statefulset/state_statefulset.go
Labels: Metricbeat, Team:Integrations, enhancement

#26115 Add new parser to filestream input: container
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-filestream-reader-options.asciidoc
  filebeat/input/filestream/parser.go
  filebeat/input/filestream/parser_test.go
  libbeat/reader/readjson/docker_json.go
  libbeat/reader/readjson/docker_json_config.go
Labels: Team:Agent

#26214 libbeat: monitor version
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/metrics/metrics_common.go
  libbeat/cmd/instance/metrics/metrics_common_test.go
  libbeat/monitoring/report/log/log.go
Labels: Team:Agent, backport-v7.14.0, enhancement, v7.14.0

#26212 Update go version to v1.15.13
  .go-version
  CHANGELOG-developer.next.asciidoc
  auditbeat/Dockerfile
  filebeat/Dockerfile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/elastic-agent/Dockerfile
  x-pack/functionbeat/Dockerfile
  x-pack/libbeat/Dockerfile
Labels: Team:Agent, enhancement, v7.13.2

#26231 [automation] update elastic stack version for testing 7.13.2-e9f2bb70
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: automation, build-monitoring, dependency, needs_team

#26219 Cherry-pick #26088 to 7.x: [Metricbeat] Add state_statefulset replicas.ready
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/kubernetes/fields.go
  metricbeat/module/kubernetes/state_statefulset/_meta/data.json
  metricbeat/module/kubernetes/state_statefulset/_meta/fields.yml
  metricbeat/module/kubernetes/state_statefulset/_meta/test/ksm.v1.8.0.expected
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/docs.plain
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/docs.plain-expected.json
  metricbeat/module/kubernetes/state_statefulset/state_statefulset.go
Labels: Team:Integrations, [zube]: In Review, backport

#26148 Filebeat azure module pipeline fixes and changes
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/activitylogs/test/activitylogs_edgecases.log
  x-pack/filebeat/module/azure/activitylogs/test/activitylogs_edgecases.log-expected.json
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/azure-shared-pipeline.yml
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/platformlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/platformlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-eventhub.log
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-eventhub.log-expected.json
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-kube.log
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-kube.log-expected.json
  x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.yml
Labels: 7.14 Candidate, Team:Integrations

#26233 Cherry-pick #26148 to 7.x: Filebeat azure module pipeline fixes and changes
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/activitylogs/test/activitylogs_edgecases.log
  x-pack/filebeat/module/azure/activitylogs/test/activitylogs_edgecases.log-expected.json
  x-pack/filebeat/module/azure/auditlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/azure-shared-pipeline.yml
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/platformlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/platformlogs/ingest/pipeline.yml
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-eventhub.log
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-eventhub.log-expected.json
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-kube.log
  x-pack/filebeat/module/azure/platformlogs/test/platformlogs-kube.log-expected.json
  x-pack/filebeat/module/azure/signinlogs/ingest/pipeline.yml
Labels: Team:Integrations, backport

#26168 Move Filebeat azure module to GA
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/azure.asciidoc
  x-pack/filebeat/module/azure/_meta/docs.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/auditlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/platformlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/signinlogs/_meta/fields.yml
Labels: 7.14 Candidate, Team:Platforms

#25564 Add ISO8601 as supported timestamp type
  CHANGELOG.next.asciidoc
  x-pack/filebeat/module/zeek/capture_loss/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/connection/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/connection/test/connection-json.log
  x-pack/filebeat/module/zeek/connection/test/connection-json.log-expected.json
  x-pack/filebeat/module/zeek/dce_rpc/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/dhcp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/dnp3/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/dns/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/dpd/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/files/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/ftp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/http/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/intel/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/irc/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/kerberos/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/modbus/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/mysql/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/notice/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/ntlm/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/ntp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/ocsp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/pe/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/radius/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/rdp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/rfb/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/signature/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/sip/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/smb_cmd/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/smb_files/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/smb_mapping/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/smtp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/snmp/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/socks/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/ssh/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/ssl/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/stats/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/syslog/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/traceroute/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/tunnel/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/weird/ingest/pipeline.yml
  x-pack/filebeat/module/zeek/x509/ingest/pipeline.yml
Labels: Filebeat, Team:Security-External Integrations, backport-v7.14.0, enhancement, needs_integration_sync

#26152 Populate the agent action result if there is no matching action handlers
  x-pack/elastic-agent/pkg/agent/application/pipeline/actions/handlers/handler_action_application.go
Labels: Team:Agent, backport-v7.13.0, backport-v7.14.0

#26237 Cherry-pick #26168 to 7.x: Move Filebeat azure module to GA
  CHANGELOG.next.asciidoc
  filebeat/docs/modules/azure.asciidoc
  x-pack/filebeat/module/azure/_meta/docs.asciidoc
  x-pack/filebeat/module/azure/_meta/fields.yml
  x-pack/filebeat/module/azure/activitylogs/_meta/fields.yml
  x-pack/filebeat/module/azure/auditlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/fields.go
  x-pack/filebeat/module/azure/platformlogs/_meta/fields.yml
  x-pack/filebeat/module/azure/signinlogs/_meta/fields.yml
Labels: 7.14 Candidate, Team:Integrations, backport

#26227 rename sqs file name
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata/ec2/ec2.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata/rds/rds.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata/sqs/sqs.go
Labels: needs_team

#26228 [Heartbeat] Fix broken invocation of synth package
  x-pack/heartbeat/monitors/browser/source/validatepackage.go
  x-pack/heartbeat/monitors/browser/source/validatepackage_test.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec_test.go
Labels: Heartbeat, Team:Uptime, [zube]: In Progress, v7.14.0

#26261 Cherry-pick #26126 to 7.13: Fix startup with failing configuration
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/operation/operation_config.go
  x-pack/elastic-agent/pkg/core/plugin/process/app.go
  x-pack/elastic-agent/pkg/core/plugin/process/start.go
  x-pack/elastic-agent/pkg/core/plugin/process/status.go
Labels: Team:Agent, backport, bug

#26262 Cherry-pick #26126 to 7.x: Fix startup with failing configuration
  x-pack/elastic-agent/CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/operation/operation_config.go
  x-pack/elastic-agent/pkg/core/plugin/process/app.go
  x-pack/elastic-agent/pkg/core/plugin/process/start.go
  x-pack/elastic-agent/pkg/core/plugin/process/status.go
Labels: Team:Agent, backport, bug

#25998 Add more ECS fields to logs
  libbeat/logp/config.go
  libbeat/logp/core.go
  libbeat/logp/core_test.go
Labels: Team:apm, backport-v7.14.0, enhancement, v7.14.0

#26269 Cherry-pick #26227 to 7.x: rename sqs file name
  x-pack/metricbeat/module/aws/cloudwatch/metadata.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata/ec2/ec2.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata/rds/rds.go
  x-pack/metricbeat/module/aws/cloudwatch/metadata/sqs/sqs.go
Labels: backport, needs_team, review

#26270 [automation] update elastic stack version for testing 7.14.0-28665d9b
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: automation, build-monitoring, dependency, needs_team

#26276 [Oracle] Fixing default values for paths in config template
  CHANGELOG.next.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/module/oracle/_meta/config.yml
  x-pack/filebeat/module/oracle/database_audit/manifest.yml
  x-pack/filebeat/modules.d/oracle.yml.disabled
Labels: Filebeat, Team:Security-External Integrations, bug

#26263 Change xml processor names in script processor to match convention
  CHANGELOG.next.asciidoc
  libbeat/processors/decode_xml/decode_xml.go
  libbeat/processors/decode_xml_wineventlog/processor.go
Labels: :Processors, Team:Security-External Integrations, backport-v7.14.0, libbeat, review

#26273 [filebeat] Add preserve_original_event option to o365audit input
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-o365audit.asciidoc
  x-pack/filebeat/input/o365audit/config.go
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/input_test.go
Labels: Filebeat, Team:Security-External Integrations, backport-v7.14.0

#26167 Report total CPU for vSphere virtual machines
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/virtualmachine/_meta/data.json
  metricbeat/module/vsphere/virtualmachine/_meta/fields.yml
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine_test.go
Labels: Team:Integrations, backport-v7.14.0, enhancement, review

#26186 Update go version to 1.16.5
  .go-version
  CHANGELOG-developer.next.asciidoc
  auditbeat/Dockerfile
  filebeat/Dockerfile
  generator/common/Makefile
  heartbeat/Dockerfile
  journalbeat/Dockerfile
  libbeat/Dockerfile
  libbeat/docs/version.asciidoc
  metricbeat/Dockerfile
  metricbeat/module/http/_meta/Dockerfile
  packetbeat/Dockerfile
  x-pack/elastic-agent/Dockerfile
  x-pack/functionbeat/Dockerfile
  x-pack/libbeat/Dockerfile
Labels: Team:Agent, backport-v7.14.0, enhancement, v7.14.0

#26283 [DOCS] IIS module: clarify supported logFormat
  filebeat/docs/modules/iis.asciidoc
  filebeat/module/iis/_meta/docs.asciidoc
Labels: Team:Integrations, v7.13.0

#26267 Add log.flags and object metadata to aws-s3 input events
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  x-pack/filebeat/_meta/config/filebeat.inputs.reference.xpack.yml.tmpl
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
  x-pack/filebeat/filebeat.reference.yml
  x-pack/filebeat/input/awss3/_meta/fields.yml
  x-pack/filebeat/input/awss3/collector.go
  x-pack/filebeat/input/awss3/collector_test.go
  x-pack/filebeat/input/awss3/config.go
  x-pack/filebeat/input/awss3/fields.go
Labels: Filebeat, Team:Security-External Integrations, backport-v7.14.0, enhancement, review

#26260 Handle data returned with io.EOF in LineReader
  CHANGELOG.next.asciidoc
  libbeat/reader/readfile/line.go
  libbeat/reader/readfile/line_test.go
Labels: Filebeat, Team:Agent, Team:Security-External Integrations, backport-v7.13.0, backport-v7.14.0, bug, libbeat, review

#26240 Disable packaging-arm in elastic-agent
  .ci/packaging.groovy
  x-pack/elastic-agent/Jenkinsfile.yml
Labels: Team:Automation

#26258 chore: Update version to 7.13.3
  libbeat/version/version.go
Labels: Team:Automation, automation, release

#26257 docs: update docs versions 7.13.2
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/elastic-agent-standalone-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  libbeat/docs/version.asciidoc
Labels: Team:Automation, automation, docs, in progress, release

#26302 docs: Prepare Changelog for 7.13.2
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Automation, automation, docs, in progress, release

#25771 First refactor of the system module - system/cpu and system/core
  CHANGELOG.next.asciidoc
  Vagrantfile
  libbeat/metric/system/cpu/cpu.go
  libbeat/metric/system/cpu/cpu_test.go
  metricbeat/docs/fields.asciidoc
  metricbeat/internal/metrics/cpu/doc.go
  metricbeat/internal/metrics/cpu/metrics.go
  metricbeat/internal/metrics/cpu/metrics_aix.go
  metricbeat/internal/metrics/cpu/metrics_darwin.go
  metricbeat/internal/metrics/cpu/metrics_freebsd.go
  metricbeat/internal/metrics/cpu/metrics_linux.go
  metricbeat/internal/metrics/cpu/metrics_openbsd.go
  metricbeat/internal/metrics/cpu/metrics_procfs_common.go
  metricbeat/internal/metrics/cpu/metrics_test.go
  metricbeat/internal/metrics/cpu/metrics_windows.go
  metricbeat/internal/metrics/opt.go
  metricbeat/module/system/core/_meta/data.json
  metricbeat/module/system/core/_meta/fields.yml
  metricbeat/module/system/core/config.go
  metricbeat/module/system/core/core.go
  metricbeat/module/system/core/core_test.go
  metricbeat/module/system/cpu/_meta/data.json
  metricbeat/module/system/cpu/config.go
  metricbeat/module/system/cpu/cpu.go
  metricbeat/module/system/cpu/cpu_test.go
  metricbeat/module/system/cpu/data.go
  metricbeat/module/system/fields.go
  metricbeat/module/system/test_system.py
Labels: Metricbeat, Team:Integrations, enhancement

#26310 [automation] update elastic stack version for testing 7.13.2-f55bee50
  testing/environments/snapshot-oss.yml
  testing/environments/snapshot.yml
Labels: automation, build-monitoring, dependency, needs_team

#26304 Edit 7.13.2 changelog
  CHANGELOG.asciidoc
Labels: Team:Docs, v7.13.2

#26296 Cherry-pick to 7.x: Add support note (#26283)
  filebeat/docs/modules/iis.asciidoc
  filebeat/module/iis/_meta/docs.asciidoc
Labels: Team:Docs, backport

#26297 Cherry-pick to 7.13: Add support note (#26283)
  filebeat/docs/modules/iis.asciidoc
  filebeat/module/iis/_meta/docs.asciidoc
Labels: Team:Docs, backport

#25743 Don't include full ES index template in errors
  CHANGELOG.next.asciidoc
  libbeat/template/load.go
  libbeat/tests/system/test_template.py
Labels: Team:Agent, Team:Security-External Integrations, backport-v7.14.0, bug, libbeat, review

#26317 Change link to snapshots in README
  README.md
Labels: Team:Automation, needs_backport

#26319 Change link to snapshots in README (#26317)
  README.md
Labels: Team:Automation

#25999 [Packetbeat] Add `url.extension` to Packetbeat HTTP events
  CHANGELOG.next.asciidoc
  packetbeat/protos/http/event.go
  packetbeat/protos/http/http_test.go
Labels: Packetbeat, Team:Security-External Integrations, backport-v7.14.0, enhancement

#26324 Osquerybeat: Align with the rest of the beats, set the ECS version
  x-pack/osquerybeat/cmd/root.go
Labels: Team:Asset Mgt, backport-v7.13.0, backport-v7.14.0, cleanup

#26313 Updated filter expression for filtering 86 artifacts
  .ci/packaging.groovy
  x-pack/elastic-agent/Jenkinsfile.yml
  x-pack/elastic-agent/magefile.go
Labels: Team:Agent, Team:Automation, bug, needs_backport

#26323 Forward port 7.13.2 changelog to master
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: Team:Docs

#24774 [Filebeat] [MongoDB] Support MongoDB 4.4 json logs
  CHANGELOG.next.asciidoc
  filebeat/docs/fields.asciidoc
  filebeat/docs/modules/mongodb.asciidoc
  filebeat/module/mongodb/_meta/docs.asciidoc
  filebeat/module/mongodb/fields.go
  filebeat/module/mongodb/log/_meta/fields.yml
  filebeat/module/mongodb/log/ingest/pipeline-json.yml
  filebeat/module/mongodb/log/ingest/pipeline-plaintext.yml
  filebeat/module/mongodb/log/ingest/pipeline.yml
  filebeat/module/mongodb/log/manifest.yml
  filebeat/module/mongodb/log/test/mongodb-ubuntu-4.4.4-json.log
  filebeat/module/mongodb/log/test/mongodb-ubuntu-4.4.4-json.log-expected.json
Labels: Team:Integrations, backport-v7.14.0, needs_integration_sync, review

#26277 [Envoyproxy] Update envoyproxy ECS version
  x-pack/filebeat/module/envoyproxy/log/config/envoyproxy.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, enhancement

#26274 [Threatintel] update threatintel ECS version
  x-pack/filebeat/module/threatintel/abusemalware/config/config.yml
  x-pack/filebeat/module/threatintel/abuseurl/config/config.yml
  x-pack/filebeat/module/threatintel/anomali/config/config.yml
  x-pack/filebeat/module/threatintel/malwarebazaar/config/config.yml
  x-pack/filebeat/module/threatintel/misp/config/config.yml
  x-pack/filebeat/module/threatintel/otx/config/config.yml
Labels: 7.14 Candidate, Filebeat, Team:Security-External Integrations, backport-v7.14.0, enhancement
