Repository elastic/beats, pull requests merged in 2024-08, with the labels that each got.

#40367 Azure Monitor: fix metric timespan to restore Storage Account PT1H metrics
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/client_test.go
Labels: bug, Team:obs-ds-hosted-services, backport-v8.14.0, backport-v8.15.0

#40390 Do not log start up information when on managed mode
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/beat_test.go
Labels: enhancement, backport-skip, Team:Elastic-Agent-Data-Plane

#40111 [filebeat] Add SSL and AUTH username support for Redis input
  CHANGELOG.next.asciidoc
  filebeat/docker-compose.yml
  filebeat/docs/inputs/input-redis.asciidoc
  filebeat/input/redis/_meta/Dockerfile-tls
  filebeat/input/redis/_meta/certs/root-ca.pem
  filebeat/input/redis/_meta/certs/server-cert.pem
  filebeat/input/redis/_meta/certs/server-key.pem
  filebeat/input/redis/_meta/redis.conf
  filebeat/input/redis/config.go
  filebeat/input/redis/input.go
  filebeat/input/redis/redis_integration_test.go
Labels: Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs

#40308 x-pack/filebeat/input/websocket: refactor input for generalisation
  CHANGELOG-developer.next.asciidoc
  x-pack/filebeat/input/websocket/input.go
  x-pack/filebeat/input/websocket/input_test.go
  x-pack/filebeat/input/websocket/websocket.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Service Integrations

#40347 x-pack/filebeat/input/entityanalytics/provider/{,internal/}okta: improve debug logging
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/statestore_test.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Service Integrations

#40053 [POC] Module parsing fix
  dev-tools/mage/gotest.go
Labels: needs_team

#39738 Manage AWS SDK(s) version with Dependabot
  .github/dependabot.yml
Labels: Team:obs-ds-hosted-services

#40359 x-pack/filebeat/input/entityanalytics/provider/internal/okta: relax profile shape
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/statestore_test.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-v8.15.0

#40400 [metricbeat] - Allow metricsets to report their status via v2 protocol
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/helper/http_test.go
  metricbeat/mb/mb.go
  metricbeat/mb/module/runner.go
  metricbeat/mb/module/runner_group.go
  metricbeat/mb/module/wrapper.go
  metricbeat/mb/testing/modules.go
  metricbeat/module/elasticsearch/node_stats/data_test.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process/process_test.go
  metricbeat/module/system/process_summary/process_summary.go
  metricbeat/module/system/process_summary/process_summary_test.go
  metricbeat/module/system/test_system.py
  x-pack/libbeat/management/tests/mbtest/system/process_integration_test.go
Labels: Team:Elastic-Agent-Data-Plane, backport-v8.15.0

#40421 x-pack/filebeat/input/{websocket=>streaming}: rename package
  CHANGELOG-developer.next.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  x-pack/agentbeat/agentbeat.spec.yml
  x-pack/filebeat/docs/inputs/input-streaming.asciidoc
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/streaming/cel.go
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/config_test.go
  x-pack/filebeat/input/streaming/input.go
  x-pack/filebeat/input/streaming/input_manager.go
  x-pack/filebeat/input/streaming/input_test.go
  x-pack/filebeat/input/streaming/metrics.go
  x-pack/filebeat/input/streaming/redact.go
  x-pack/filebeat/input/streaming/redact_test.go
  x-pack/filebeat/input/streaming/websocket.go
Labels: enhancement, Filebeat, backport-skip, Team:Elastic-Agent-Data-Plane, Team:Security-Service Integrations

#39796 Upgrade azure-eventhub to the new Event Hub SDK
  NOTICE.txt
  go.mod
  go.sum
  x-pack/filebeat/input/azureeventhub/README.md
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/config_test.go
  x-pack/filebeat/input/azureeventhub/decoder.go
  x-pack/filebeat/input/azureeventhub/decoder_test.go
  x-pack/filebeat/input/azureeventhub/input.go
  x-pack/filebeat/input/azureeventhub/input_test.go
  x-pack/filebeat/input/azureeventhub/metrics.go
  x-pack/filebeat/input/azureeventhub/metrics_test.go
  x-pack/filebeat/input/azureeventhub/sanitization_test.go
  x-pack/filebeat/input/azureeventhub/v1_input.go
  x-pack/filebeat/input/azureeventhub/v1_input_test.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
  x-pack/filebeat/input/azureeventhub/v2_migration.go
  x-pack/filebeat/module/azure/activitylogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/activitylogs/manifest.yml
  x-pack/filebeat/module/azure/auditlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/auditlogs/manifest.yml
  x-pack/filebeat/module/azure/platformlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/platformlogs/manifest.yml
  x-pack/filebeat/module/azure/signinlogs/config/azure-eventhub.yml
  x-pack/filebeat/module/azure/signinlogs/manifest.yml
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane, Team:Cloud-Monitoring, Team:Obs-InfraObs

#40267 x-pack/filebeat/i.../entitya.../.../okta: Avoid a negative request rate
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
Labels: bugfix, Team:Security-Service Integrations, backport-v8.14.0, backport-v8.15.0

#40446 [syslog] Fix handling of escaped characters in structured data
  CHANGELOG.next.asciidoc
  libbeat/reader/syslog/message_test.go
  libbeat/reader/syslog/parser/rfc5424.rl
  libbeat/reader/syslog/rfc5424_gen.go
  libbeat/reader/syslog/rfc5424_test.go
Labels: bug, libbeat, Team:Security-Deployment and Devices, backport-v8.14.0, backport-v8.15.0

#40436 Move around librpm calls, add `setreuid()` safety net
  .github/workflows/golangci-lint.yml
  x-pack/auditbeat/auditbeat.reference.yml
  x-pack/auditbeat/module/system/_meta/config.yml.tmpl
  x-pack/auditbeat/module/system/package/config.go
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_linux_test.go
  x-pack/auditbeat/module/system/package/package_test.go
  x-pack/auditbeat/module/system/package/rpm_linux.go
  x-pack/auditbeat/module/system/package/rpm_linux_test.go
  x-pack/auditbeat/module/system/package/rpm_others.go
  x-pack/auditbeat/seccomp_linux.go
Labels: bug, Team:Security-Linux Platform

#40469 ironbank: use 9.4 version
  dev-tools/packaging/templates/ironbank/auditbeat/hardening_manifest.yaml
  dev-tools/packaging/templates/ironbank/filebeat/hardening_manifest.yaml
  dev-tools/packaging/templates/ironbank/heartbeat/hardening_manifest.yaml
  dev-tools/packaging/templates/ironbank/metricbeat/hardening_manifest.yaml
  dev-tools/packaging/templates/ironbank/packetbeat/hardening_manifest.yaml
Labels: needs_team, backport-v7.17.0, backport-v8.15.0

#40480 [libbeat] Fix and test initialization of queue monitors
  libbeat/publisher/pipeline/controller.go
  libbeat/publisher/pipeline/controller_test.go
Labels: bug, Team:Elastic-Agent-Data-Plane, backport-v8.15.0

#40427 [filebeat][decode_cef] Add hyphen support
  CHANGELOG.next.asciidoc
  x-pack/filebeat/processors/decode_cef/cef/.gitignore
  x-pack/filebeat/processors/decode_cef/cef/cef.rl
  x-pack/filebeat/processors/decode_cef/cef/cef_test.go
  x-pack/filebeat/processors/decode_cef/cef/parser.go
  x-pack/filebeat/processors/decode_cef/cef/parser_recover.go
  x-pack/filebeat/processors/decode_cef/decode_cef.go
  x-pack/filebeat/processors/decode_cef/decode_cef_test.go
  x-pack/filebeat/processors/decode_cef/testdata/samples.log
  x-pack/filebeat/processors/decode_cef/testdata/samples.log.golden.json
Labels: enhancement, Filebeat, backport-skip, Team:Security-Deployment and Devices

#40420 beats: import time/tzdata explicitly in main
  auditbeat/main.go
  filebeat/main.go
  heartbeat/main.go
  metricbeat/main.go
  packetbeat/main.go
  winlogbeat/main.go
  x-pack/agentbeat/main.go
  x-pack/auditbeat/main.go
  x-pack/dockerlogbeat/main.go
  x-pack/filebeat/main.go
  x-pack/functionbeat/main.go
  x-pack/heartbeat/main.go
  x-pack/metricbeat/main.go
  x-pack/osquerybeat/main.go
  x-pack/packetbeat/main.go
  x-pack/winlogbeat/main.go
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane, Team:Security-Linux Platform, Team:Security-Windows Platform, Team:Security-Deployment and Devices

#40466 [agentbeat] Fix agentbeat capabilities
  CHANGELOG.next.asciidoc
  x-pack/agentbeat/capabilities_linux.go
  x-pack/agentbeat/capabilities_other.go
  x-pack/agentbeat/main.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent-Data-Plane, backport-v8.15.0

#40475 ironbank: use 9.4 version
  dev-tools/packaging/templates/ironbank/elastic-agent/hardening_manifest.yaml
Labels: Team:Elastic-Agent-Control-Plane

#40452 Adjust Elastic Agent 7.17 to launch upgrade watcher version
  CHANGELOG.next.asciidoc
  x-pack/elastic-agent/pkg/agent/application/paths/common.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/rollback.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service_darwin.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/service_windows.go
  x-pack/elastic-agent/pkg/agent/application/upgrade/upgrade.go
Labels: Team:Elastic-Agent-Control-Plane

#40487 x-pack/filebeat/input/entityanalytics/provider/azuread: fix configuration ordering
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/azuread/azure.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-v8.15.0

#40492 x-pack/filebeat/docs/input: document activedirectory ad_paging_size
  x-pack/filebeat/docs/inputs/input-entity-analytics.asciidoc
Labels: enhancement, docs, Filebeat, backport-skip, Team:Security-Service Integrations

#40497 x-pack/metricbeat: updated macOS arm step skip related issue id
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Labels: ci, backport-v7.17.0, Team:Ingest-EngProd, backport-v8.14.0, backport-v8.15.0

#40380 [CI] Agentbeat integration testing
  .buildkite/x-pack/pipeline.xpack.agentbeat.yml
  libbeat/tests/compose/wrapper.go
  x-pack/agentbeat/magefile.go
Labels: enhancement, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent-Data-Plane, Team:Ingest-EngProd, backport-v8.14.0, backport-v8.15.0

#40490 Don't create kprobes with more than 128 args in auditbeat's guess subsystem
  x-pack/auditbeat/module/system/socket/guess/inetsock.go
  x-pack/auditbeat/module/system/socket/guess/inetsock6.go
  x-pack/auditbeat/module/system/socket/guess/inetsock_test.go
  x-pack/auditbeat/module/system/socket/helper/probes.go
Labels: bug, Team:Security-Linux Platform

#40252 Doc: Add docs for Auditbeat add_session_metadata processor
  filebeat/docs/index.asciidoc
  heartbeat/docs/index.asciidoc
  libbeat/docs/processors-list.asciidoc
  libbeat/docs/shared-beats-attributes.asciidoc
  metricbeat/docs/index.asciidoc
  packetbeat/docs/index.asciidoc
  winlogbeat/docs/index.asciidoc
  x-pack/auditbeat/processors/sessionmd/docs/add_session_metadata.asciidoc
  x-pack/functionbeat/docs/index.asciidoc
Labels: docs, Team:Elastic-Agent-Data-Plane, Team:Security-Linux Platform, backport-v8.15.0

#40508 [aws] Update max_number_of_messages doc
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
Labels: Team:obs-ds-hosted-services, backport-v8.12.0, backport-v8.13.0, backport-v8.14.0, backport-v8.15.0

#40494 x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph: set log max_size
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/azuread/fetcher/graph/graph.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-v8.15.0

#40330 Crossbuild: use host platform as container runtime
  dev-tools/mage/crossbuild.go
  x-pack/osquerybeat/magefile.go
Labels: enhancement, Team:Elastic-Agent-Data-Plane

#40415 [Kafka output] removed regex validation to allow dynamic topic
  CHANGELOG.next.asciidoc
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/config_test.go
  libbeat/outputs/kafka/kafka.go
  libbeat/outputs/kafka/kafka_test.go
Labels: enhancement, backport-skip, Team:Elastic-Agent-Data-Plane

#40510 Revert "[agentbeat] Fix agentbeat capabilities"
  CHANGELOG.next.asciidoc
  x-pack/agentbeat/capabilities_linux.go
  x-pack/agentbeat/capabilities_other.go
  x-pack/agentbeat/main.go
Labels: backport-skip, Team:Elastic-Agent-Control-Plane

#40512 [ES output] Correctly log event fields in events log file
  CHANGELOG.next.asciidoc
  filebeat/tests/integration/event_log_file_test.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/event_encoder.go
Labels: Team:Elastic-Agent-Data-Plane, backport-v8.15.0

#40527 updatecli: set username
  .github/workflows/updatecli.d/bump-elastic-stack-snapshot.yml
  .github/workflows/updatecli.d/bump-golang-7.17.yml
  .github/workflows/updatecli.d/bump-golang.yml
Labels: needs_team, backport-v7.17.0, backport-v8.15.0

#40532 golangci-lint - disable prealloc linter
  .golangci.yml
Labels: needs_team, backport-skip

#40525 Use mutex to protect access to librpm
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/rpm_linux.go
Labels: Team:Security-Linux Platform

#40259 fix: Allow use of valid Port 0
  CHANGELOG.next.asciidoc
  libbeat/processors/communityid/communityid.go
  libbeat/processors/communityid/communityid_test.go
Labels: Team:Elastic-Agent-Data-Plane

#40429 [vSphere][host] Add support for new metrics in host metricset
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/vsphere.asciidoc
  metricbeat/metricbeat.reference.yml
  metricbeat/module/vsphere/_meta/config.reference.yml
  metricbeat/module/vsphere/_meta/config.yml
  metricbeat/module/vsphere/datastore/datastore_test.go
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/host/_meta/data.json
  metricbeat/module/vsphere/host/_meta/fields.yml
  metricbeat/module/vsphere/host/data.go
  metricbeat/module/vsphere/host/data_test.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/host/host_test.go
  metricbeat/modules.d/vsphere.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: enhancement, Metricbeat, Module:beat, Team:Obs-InfraObs

#40541 Seperate different utmp structure definitions
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/login/login_linux_amd64_test.go
  x-pack/auditbeat/module/system/login/login_linux_arm64_test.go
  x-pack/auditbeat/module/system/login/testdata/btmp.amd
  x-pack/auditbeat/module/system/login/testdata/btmp.arm
  x-pack/auditbeat/module/system/login/testdata/wtmp.arm
  x-pack/auditbeat/module/system/login/utmp_c.go
  x-pack/auditbeat/module/system/login/utmp_c_linux_amd64.go
  x-pack/auditbeat/module/system/login/utmp_c_linux_arm64.go
Labels: bug, backport-skip, bugfix, Team:Security-Linux Platform

#40571 [Stack Monitoring] Put `elasticsearch.node.stats.jvm.mem.pools.*`
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/node_stats/data.go
Labels: bug, Team:Monitoring, backport-v8.15.0

#40467 x-pack/metricbeat/module/gcp: Fix missing ECS labels when using exclude_labels: true
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/gcp/metrics/metricset.go
Labels: needs_team, backport-v7.17.0, backport-v8.14.0, backport-v8.15.0

#40546 azure-eventhub v2: update logging for consistency (and other minor fixes)
  x-pack/filebeat/input/azureeventhub/v2_input.go
Labels: enhancement, Team:obs-ds-hosted-services, backport-v8.15.0

#40441 [vSphere][datastore] Add additional metrics
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/datastore/_meta/data.json
  metricbeat/module/vsphere/datastore/_meta/fields.yml
  metricbeat/module/vsphere/datastore/data.go
  metricbeat/module/vsphere/datastore/data_test.go
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/datastore/datastore_test.go
  metricbeat/module/vsphere/fields.go
Labels: enhancement, Metricbeat, Team:Integrations

#40565 [metricbeat][system/process, system/process_summary]: mark module as healthy if metrics are partially filled
  CHANGELOG.next.asciidoc
  metricbeat/mb/event.go
  metricbeat/mb/module/wrapper.go
  metricbeat/module/system/process/process.go
  metricbeat/module/system/process_summary/process_summary.go
Labels: bug, Team:Elastic-Agent-Data-Plane, backport-v8.15.0

#40451 Add a tracer to send (legacy) Azure Event Hub SDK logs to logp
  NOTICE.txt
  go.mod
  x-pack/filebeat/include/list.go
  x-pack/filebeat/input/azureeventhub/tracer.go
Labels: enhancement, Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane, backport-v8.15.0, input:azure-eventhub

#40572 [libbeat] Stop publisher properly
  CHANGELOG.next.asciidoc
  libbeat/cmd/instance/beat.go
  libbeat/esleg/eslegclient/connection.go
  libbeat/publisher/pipeline/controller.go
  libbeat/tests/integration/http_test.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-v8.15.0

#40623 [filebeat] Add a configuration option for TCP/UDP network type
  CHANGELOG-developer.next.asciidoc
  filebeat/docs/inputs/input-common-tcp-options.asciidoc
  filebeat/docs/inputs/input-common-udp-options.asciidoc
  filebeat/inputsource/tcp/config.go
  filebeat/inputsource/tcp/config_test.go
  filebeat/inputsource/tcp/server.go
  filebeat/inputsource/tcp/server_test.go
  filebeat/inputsource/udp/config.go
  filebeat/inputsource/udp/config_test.go
  filebeat/inputsource/udp/server.go
  filebeat/inputsource/udp/server_test.go
Labels: enhancement, Filebeat, backport-skip, Team:Elastic-Agent-Data-Plane, Team:Security-Deployment and Devices

#40620 Update elastic-agent-system-metrics to point to our special backport for 8.15
  CHANGELOG.next.asciidoc
  NOTICE.txt
  go.mod
  go.sum
Labels: Team:Security-Linux Platform

#40485 [vSphere][virtualmachine] Add metrics to virtualmachine metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/virtualmachine/_meta/data.json
  metricbeat/module/vsphere/virtualmachine/_meta/fields.yml
  metricbeat/module/vsphere/virtualmachine/data.go
  metricbeat/module/vsphere/virtualmachine/data_test.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine_test.go
Labels: enhancement, Team:Integrations

#40601 [filebeat][streaming] - Added retry functionality to websocket connections
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-streaming.asciidoc
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/config_test.go
  x-pack/filebeat/input/streaming/input_test.go
  x-pack/filebeat/input/streaming/websocket.go
Labels: enhancement, Team:Elastic-Agent-Data-Plane, Team:Security-Service Integrations, 8.16-candidate, input:streaming

#40462 [filebeat] Document winlog input and make config on par with winlogbeat
  CHANGELOG.next.asciidoc
  filebeat/docs/filebeat-options.asciidoc
  filebeat/docs/inputs/input-winlog.asciidoc
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/eventlog/wineventlog_experimental.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Windows Platform

#40631 [RELEASE NOTES] Known issue azure-eventhub in Windows / 8.15
  CHANGELOG.asciidoc
Labels: Team:Docs, backport-v8.15.0

#40559 [vSphere][network] Add support for new metrics in network metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/vsphere.asciidoc
  metricbeat/docs/modules/vsphere/network.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_common.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/vsphere/_meta/README.md
  metricbeat/module/vsphere/_meta/config.reference.yml
  metricbeat/module/vsphere/_meta/config.yml
  metricbeat/module/vsphere/_meta/docs.asciidoc
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/host/data.go
  metricbeat/module/vsphere/host/data_test.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/host/host_test.go
  metricbeat/module/vsphere/network/_meta/data.json
  metricbeat/module/vsphere/network/_meta/docs.asciidoc
  metricbeat/module/vsphere/network/_meta/fields.yml
  metricbeat/module/vsphere/network/data.go
  metricbeat/module/vsphere/network/data_test.go
  metricbeat/module/vsphere/network/network.go
  metricbeat/module/vsphere/network/network_test.go
  metricbeat/modules.d/vsphere.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: enhancement, module, Metricbeat, Module:beat, Team:Obs-InfraObs

#40638 [Backport] [main] [40631] [RELEASE NOTES] Known issue azure-eventhub in Windows / 8.15
  CHANGELOG.asciidoc
Labels: backport, Team:Docs

#40440 [CI] Set Buildkite retries to 1
  .buildkite/auditbeat/auditbeat-pipeline.yml
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/heartbeat/heartbeat-pipeline.yml
  .buildkite/libbeat/pipeline.libbeat.yml
  .buildkite/metricbeat/pipeline.yml
  .buildkite/packetbeat/pipeline.packetbeat.yml
  .buildkite/winlogbeat/pipeline.winlogbeat.yml
  .buildkite/x-pack/pipeline.xpack.auditbeat.yml
  .buildkite/x-pack/pipeline.xpack.dockerlogbeat.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.heartbeat.yml
  .buildkite/x-pack/pipeline.xpack.libbeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
  .buildkite/x-pack/pipeline.xpack.osquerybeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
  .buildkite/x-pack/pipeline.xpack.winlogbeat.yml
Labels: ci, macOS, aws, backport-v7.17.0, Team:Ingest-EngProd, backport-v8.15.0

#40636 [metricbeat][Kubernetes] Update token on the first HTTP 401 when making requests to kubelet API
  CHANGELOG.next.asciidoc
  metricbeat/helper/http.go
  metricbeat/helper/http_test.go
  metricbeat/module/kubernetes/container/container.go
  metricbeat/module/kubernetes/kubernetes.go
Labels: backport-v7.17.0, Team:Cloudnative-Monitoring, backport-v8.15.0

#40622 refactor libbeat/common/reload to not use global variable
  filebeat/beater/filebeat.go
  heartbeat/beater/heartbeat.go
  libbeat/beat/beat.go
  libbeat/cmd/instance/beat.go
  libbeat/common/reload/reload.go
  metricbeat/beater/metricbeat.go
  packetbeat/beater/packetbeat.go
  x-pack/osquerybeat/beater/osquerybeat.go
  x-pack/osquerybeat/internal/config/watcher.go
Labels: Team:obs-ds-hosted-services, backport-skip, Team:Elastic-Agent-Data-Plane, Team:Security-Linux Platform

#40635 [netflow]: disable event normalisation
  CHANGELOG.next.asciidoc
  x-pack/agentbeat/docker-compose.yml
  x-pack/filebeat/docker-compose.yml
  x-pack/filebeat/input/netflow/convert.go
  x-pack/filebeat/input/netflow/input.go
  x-pack/filebeat/input/netflow/integration_test.go
  x-pack/filebeat/input/netflow/testdata/integration/test.md
  x-pack/filebeat/input/netflow/testdata/integration/test.pcap
Labels: enhancement, backport-skip, Team:Elastic-Agent-Data-Plane, Team:Security-Deployment and Devices

#40456 [vSphere][resourcepool] Add support for new metrics in resourcepool metricset
  CHANGELOG.next.asciidoc
  metricbeat/docs/fields.asciidoc
  metricbeat/docs/modules/vsphere.asciidoc
  metricbeat/docs/modules/vsphere/resourcepool.asciidoc
  metricbeat/docs/modules_list.asciidoc
  metricbeat/include/list_common.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/vsphere/_meta/README.md
  metricbeat/module/vsphere/_meta/config.reference.yml
  metricbeat/module/vsphere/_meta/config.yml
  metricbeat/module/vsphere/_meta/docs.asciidoc
  metricbeat/module/vsphere/fields.go
  metricbeat/module/vsphere/resourcepool/_meta/data.json
  metricbeat/module/vsphere/resourcepool/_meta/docs.asciidoc
  metricbeat/module/vsphere/resourcepool/_meta/fields.yml
  metricbeat/module/vsphere/resourcepool/data.go
  metricbeat/module/vsphere/resourcepool/data_test.go
  metricbeat/module/vsphere/resourcepool/resourcepool.go
  metricbeat/module/vsphere/resourcepool/resourcepool_test.go
  metricbeat/modules.d/vsphere.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: enhancement, module, Metricbeat, Team:Integrations, Module:beat

#40642 [Docs] add cloudformation backed guide for s3-sqs setup for filebeats
  x-pack/filebeat/docs/inputs/input-aws-s3.asciidoc
Labels: Team:obs-ds-hosted-services, backport-skip

#40450 filebeat: add docker image name field to journald input
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-journald.asciidoc
  filebeat/input/journald/pkg/journalfield/default.go
Labels: backport-skip, Team:Elastic-Agent-Data-Plane

#40658 [filebeat] Drop __REALTIME_TIMESTAMP from the output that caused the new field "journald.custom.realtime_timestamp" in the final event document
  filebeat/input/journald/pkg/journalfield/default.go
Labels: Filebeat, release-note:skip, backport-skip, Team:Elastic-Agent-Data-Plane, bugfix, Team:Security-Deployment and Devices

#40660 refactor filebeat and metric module namespace
  filebeat/cmd/root.go
  filebeat/fileset/factory.go
  filebeat/main.go
  filebeat/main_test.go
  metricbeat/cmd/root.go
  metricbeat/mb/module/runner.go
  x-pack/filebeat/cmd/root.go
  x-pack/metricbeat/cmd/root.go
Labels: backport-skip, Team:Elastic-Agent-Data-Plane

#40663 x-pack/filebeat/input/gcs: fix handling of default credentials when getting client
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/gcs/client.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-v8.15.0

#40662 x-pack/filebeat/entityanalytics/provider/activedirectory: allow attribute selection
  CHANGELOG.next.asciidoc
  x-pack/filebeat/docs/inputs/input-entity-analytics.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/conf.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/internal/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/internal/activedirectory/activedirectory_test.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Service Integrations
