Repository elastic/beats, pull requests merged in 2025-05, with the labels that each got.

#44110 fix(otel): register default processors for mbreceiver
  libbeat/otelbeat/oteltest/oteltest.go
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/metricbeat/mbreceiver/factory.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
Labels: cleanup, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44127 otel(tests): fix BenchmarkFactory for beats receivers
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
Labels: cleanup, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44148 Remove FIPS inidicator from annotation
  .buildkite/libbeat/pipeline.libbeat.yml
Labels: technical debt, needs_team, release-note:skip, backport-8.19

#44173 [CI] Fix failing libbeat unit test pipeline
  .buildkite/libbeat/pipeline.libbeat.yml
Labels: Team:Elastic-Agent-Data-Plane, backport-8.17, backport-8.18, backport-9.0, backport-8.19

#44188 [Flaky test] Give test filebeat receivers distinct home directories
  x-pack/filebeat/fbreceiver/receiver_test.go
Labels: flaky-test, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44147 x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta: fix endpoint
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-8.17, backport-8.18, backport-9.0, backport-8.19

#44009 [otelconsumer] Create multiple otelconsumer clients
  libbeat/otelbeat/beatconverter/beatconverter.go
  libbeat/otelbeat/beatconverter/beatconverter_test.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel_test.go
  libbeat/outputs/otelconsumer/otelconsumer.go
Labels: Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44134 Fix tabs not syncing bug in Beats quickstart guides
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
Labels: Team:Docs, backport-9.0

#44185 Change ESS instances to ECH
  docs/docset.yml
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/auditbeat/auditbeat-template.md
  docs/reference/auditbeat/configuration-template.md
  docs/reference/auditbeat/configure-cloud-id.md
  docs/reference/auditbeat/configuring-output.md
  docs/reference/auditbeat/privileges-to-publish-monitoring.md
  docs/reference/auditbeat/running-on-docker.md
  docs/reference/filebeat/configuration-template.md
  docs/reference/filebeat/configure-cloud-id.md
  docs/reference/filebeat/configuring-output.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/filebeat/filebeat-template.md
  docs/reference/filebeat/privileges-to-publish-monitoring.md
  docs/reference/filebeat/running-on-docker.md
  docs/reference/heartbeat/configuration-template.md
  docs/reference/heartbeat/configure-cloud-id.md
  docs/reference/heartbeat/configuring-output.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/heartbeat/heartbeat-template.md
  docs/reference/heartbeat/privileges-to-publish-monitoring.md
  docs/reference/heartbeat/running-on-docker.md
  docs/reference/loggingplugin/log-driver-configuration.md
  docs/reference/loggingplugin/log-driver-usage-examples.md
  docs/reference/metricbeat/configuration-template.md
  docs/reference/metricbeat/configure-cloud-id.md
  docs/reference/metricbeat/configuring-output.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-template.md
  docs/reference/metricbeat/privileges-to-publish-monitoring.md
  docs/reference/metricbeat/running-on-docker.md
  docs/reference/packetbeat/configuration-template.md
  docs/reference/packetbeat/configure-cloud-id.md
  docs/reference/packetbeat/configuring-output.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-template.md
  docs/reference/packetbeat/privileges-to-publish-monitoring.md
  docs/reference/packetbeat/running-on-docker.md
  docs/reference/winlogbeat/configuration-template.md
  docs/reference/winlogbeat/configure-cloud-id.md
  docs/reference/winlogbeat/configuring-output.md
  docs/reference/winlogbeat/privileges-to-publish-monitoring.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
  docs/reference/winlogbeat/winlogbeat-template.md
Labels: docs, release-note:skip, Team:Docs, backport-active-9

#44184 Add Beats 9.0.1 Release Notes
  docs/docset.yml
  docs/release-notes/breaking-changes.md
  docs/release-notes/deprecations.md
  docs/release-notes/index.md
Labels: needs_team, backport-9.0

#43310 [Metricbeat] Add JetStream metricset to NATS module
  .gitattributes
  CHANGELOG.next.asciidoc
  docs/reference/metricbeat/exported-fields-nats.md
  docs/reference/metricbeat/metricbeat-metricset-nats-connection.md
  docs/reference/metricbeat/metricbeat-metricset-nats-jetstream.md
  docs/reference/metricbeat/metricbeat-metricset-nats-stats.md
  docs/reference/metricbeat/metricbeat-module-nats.md
  docs/reference/metricbeat/metricbeat-modules.md
  docs/reference/toc.yml
  libbeat/common/schema/mapstriface/mapstriface.go
  metricbeat/docs/modules/nats/jetstream.asciidoc
  metricbeat/include/list_common.go
  metricbeat/metricbeat.reference.yml
  metricbeat/module/nats/_meta/Dockerfile
  metricbeat/module/nats/_meta/config.reference.yml
  metricbeat/module/nats/_meta/config.yml
  metricbeat/module/nats/_meta/docs.asciidoc
  metricbeat/module/nats/_meta/run.sh
  metricbeat/module/nats/_meta/setup.sh
  metricbeat/module/nats/_meta/supported-versions.yml
  metricbeat/module/nats/connection/_meta/data.json
  metricbeat/module/nats/connection/_meta/fields.yml
  metricbeat/module/nats/connection/connection_integration_test.go
  metricbeat/module/nats/connection/data.go
  metricbeat/module/nats/docker-compose.yml
  metricbeat/module/nats/fields.go
  metricbeat/module/nats/jetstream/_meta/data.json
  metricbeat/module/nats/jetstream/_meta/docs.asciidoc
  metricbeat/module/nats/jetstream/_meta/fields.yml
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.accounts.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.all.disabled.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.all.filters.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.all.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.consumers.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.stats.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/expected/response.streams.json-expected.json
  metricbeat/module/nats/jetstream/_meta/testdata/full-results.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.accounts.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.all.disabled.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.all.filters.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.all.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.consumers.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.stats.json
  metricbeat/module/nats/jetstream/_meta/testdata/input/response.streams.json
  metricbeat/module/nats/jetstream/config.go
  metricbeat/module/nats/jetstream/data.go
  metricbeat/module/nats/jetstream/jetstream.go
  metricbeat/module/nats/jetstream/jetstream_integration_test.go
  metricbeat/module/nats/jetstream/jetstream_test.go
  metricbeat/module/nats/route/_meta/data.json
  metricbeat/module/nats/route/_meta/fields.yml
  metricbeat/module/nats/routes/_meta/data.json
  metricbeat/module/nats/stats/_meta/data.json
  metricbeat/module/nats/stats/_meta/fields.yml
  metricbeat/module/nats/stats/data.go
  metricbeat/module/nats/subscriptions/_meta/data.json
  metricbeat/module/nats/test_nats.py
  metricbeat/module/postgresql/_meta/docker-entrypoint-initdb.d/0-enable-pg_stat_statements.sh
  metricbeat/modules.d/nats.yml.disabled
  x-pack/metricbeat/metricbeat.reference.yml
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane

#44116 updatecli: remove .golangci.yml from bump-golang-7.17.yml
  .github/workflows/updatecli.d/bump-golang-7.17.yml
Labels: needs_team

#44137 filebeat: fix Redis auth method to support username/password
  CHANGELOG.next.asciidoc
  filebeat/input/redis/_meta/redis.conf
  filebeat/input/redis/input.go
  filebeat/input/redis/redis_integration_test.go
Labels: Team:Elastic-Agent-Data-Plane

#44152 docs: update docs version 9.0.1
  deploy/kubernetes/auditbeat-kubernetes.yaml
  deploy/kubernetes/filebeat-kubernetes.yaml
  deploy/kubernetes/heartbeat-kubernetes.yaml
  deploy/kubernetes/metricbeat-kubernetes.yaml
  docs/release-notes/deprecations.md
  libbeat/docs/version.asciidoc
Labels: docs, in progress, release, Team:Automation

#41625 jenkins: remove references to the Jenkins pipelines and old packaging
  .ci/scripts/docker-services-cleanup.sh
  .ci/scripts/get-vendor-dependencies.sh
  .ci/scripts/install-docker-compose.sh
  .ci/scripts/install-docker-services.sh
  .ci/scripts/install-go.bat
  .ci/scripts/install-go.sh
  .ci/scripts/install-kind.sh
  .ci/scripts/install-kubectl.sh
  .ci/scripts/install-tools.bat
  .ci/scripts/install-tools.sh
  .ci/scripts/kind-setup.sh
  .ci/scripts/minikube-setup.sh
  .ci/scripts/pre_archive_test.py
  .ci/scripts/prepare-release-manager.sh
  Makefile
  auditbeat/Jenkinsfile.yml
  deploy/kubernetes/Jenkinsfile.yml
  dev-tools/common.bash
  dev-tools/run_with_go_ver
  filebeat/Jenkinsfile.yml
  heartbeat/Jenkinsfile.yml
  libbeat/Jenkinsfile.yml
  metricbeat/Jenkinsfile.yml
  packetbeat/Jenkinsfile.yml
  winlogbeat/Jenkinsfile.yml
  x-pack/agentbeat/Jenkinsfile.yml
  x-pack/auditbeat/Jenkinsfile.yml
  x-pack/dockerlogbeat/Jenkinsfile.yml
  x-pack/heartbeat/Jenkinsfile.yml
  x-pack/libbeat/Jenkinsfile.yml
  x-pack/osquerybeat/Jenkinsfile.yml
  x-pack/packetbeat/Jenkinsfile.yml
  x-pack/winlogbeat/Jenkinsfile.yml
Labels: needs_team, backport-active-all

#44202 bk: use OIDC to create AWS cloud resources
  .buildkite/aws-tests-pipeline.yml
  .buildkite/scripts/initCloudEnv.sh
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Labels: needs_team, aws, backport-9.0, backport-8.19

#44252 Set MAGE VERSION to 1.15.0 for deploy-k8s-pipeline
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
Labels: ci, needs_team, backport-active-all

#44227 Add ms_tls13kdf tag when requirefips is passed
  dev-tools/mage/fips-settings.yaml
  dev-tools/mage/gotest.go
  dev-tools/packaging/package_test.go
Labels: technical debt, release-note:skip, Team:Elastic-Agent-Control-Plane, backport-8.19

#44278 [Docs] Clarify 'worker' and 'workers' setting descriptions
  docs/reference/auditbeat/elasticsearch-output.md
  docs/reference/auditbeat/logstash-output.md
  docs/reference/auditbeat/redis-output.md
  docs/reference/filebeat/elasticsearch-output.md
  docs/reference/filebeat/logstash-output.md
  docs/reference/filebeat/redis-output.md
  docs/reference/heartbeat/elasticsearch-output.md
  docs/reference/heartbeat/logstash-output.md
  docs/reference/heartbeat/redis-output.md
  docs/reference/metricbeat/elasticsearch-output.md
  docs/reference/metricbeat/logstash-output.md
  docs/reference/metricbeat/redis-output.md
  docs/reference/packetbeat/elasticsearch-output.md
  docs/reference/packetbeat/logstash-output.md
  docs/reference/packetbeat/redis-output.md
  docs/reference/winlogbeat/elasticsearch-output.md
  docs/reference/winlogbeat/logstash-output.md
  docs/reference/winlogbeat/redis-output.md
Labels: Team:Docs, backport-9.0

#44286 oteltest: fix logger fields added by pipeline telemetry
  libbeat/otelbeat/oteltest/oteltest.go
Labels: cleanup, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44296 fix(auditbeat system/package): handle empty package.v1 bucket
  CHANGELOG.next.asciidoc
  x-pack/auditbeat/module/system/package/package.go
  x-pack/auditbeat/module/system/package/package_test.go
Labels: Auditbeat, bugfix, Team:Security-Linux Platform, backport-active-all

#44313 Bump golangci-lint to v2.1.0
  .github/workflows/golangci-lint.yml
Labels: ci, Team:Obs-InfraObs, backport-active-8, backport-active-9

#44204 [filebeat][streaming] - Added support for websocket keep_alive heartbeat, updated metrics & docs
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-streaming.md
  x-pack/filebeat/input/streaming/config.go
  x-pack/filebeat/input/streaming/crowdstrike.go
  x-pack/filebeat/input/streaming/input_manager.go
  x-pack/filebeat/input/streaming/metrics.go
  x-pack/filebeat/input/streaming/metrics_test.go
  x-pack/filebeat/input/streaming/websocket.go
Labels: enhancement, docs, Filebeat, Team:Security-Service Integrations, input:streaming

#42406 chore: add test coverage for k8s v1.32
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  docs/reference/metricbeat/metricbeat-module-kubernetes.md
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/_meta/test/KSM/ksm.v2.15.0.plain
  metricbeat/module/kubernetes/_meta/test/README.md
  metricbeat/module/kubernetes/controllermanager/README.md
  metricbeat/module/kubernetes/controllermanager/_meta/test/metrics.1.32
  metricbeat/module/kubernetes/controllermanager/_meta/test/metrics.1.32.expected
  metricbeat/module/kubernetes/controllermanager/controllermanager_test.go
  metricbeat/module/kubernetes/kubernetes.yml
  metricbeat/module/kubernetes/proxy/README.md
  metricbeat/module/kubernetes/proxy/_meta/test/metrics.1.32
  metricbeat/module/kubernetes/proxy/_meta/test/metrics.1.32.expected
  metricbeat/module/kubernetes/proxy/proxy_test.go
  metricbeat/module/kubernetes/scheduler/README.md
  metricbeat/module/kubernetes/scheduler/_meta/test/metrics.1.32
  metricbeat/module/kubernetes/scheduler/_meta/test/metrics.1.32.expected
  metricbeat/module/kubernetes/scheduler/scheduler_test.go
  metricbeat/module/kubernetes/state_container/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_container/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_cronjob/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_cronjob/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_daemonset/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_daemonset/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_deployment/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_deployment/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_horizontalpodautoscaler/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_job/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_job/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_namespace/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_namespace/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_node/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_node/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_persistentvolume/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_persistentvolume/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_persistentvolumeclaim/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_persistentvolumeclaim/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_pod/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_pod/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_replicaset/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_replicaset/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_resourcequota/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_resourcequota/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_service/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_service/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_statefulset/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_statefulset/_meta/testdata/ksm.v2.15.0.plain-expected.json
  metricbeat/module/kubernetes/state_storageclass/_meta/test/ksm.v2.15.0.plain.expected
  metricbeat/module/kubernetes/state_storageclass/_meta/testdata/ksm.v2.15.0.plain-expected.json
Labels: Team:obs-ds-hosted-services, cleanup, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44333 [filebeat][GCS] - Segregated max_workers from batch/page size of the response
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-gcs.md
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_stateless.go
  x-pack/filebeat/input/gcs/input_test.go
  x-pack/filebeat/input/gcs/scheduler.go
  x-pack/filebeat/input/gcs/types.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, input:GCS

#44228 github-action: add supported GitHub commands
  .github/workflows/github-commands-comment.yml
Labels: needs_team

#44216 buildkite: deploy-k8s is not triggered by catalog-info but the main pipeline
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
Labels: needs_team, backport-8.18, backport-9.0, backport-8.19

#44229 github-action: add catalog-validate for GitHub actions
  .github/workflows/catalog-info.yml
Labels: needs_team, backport-skip

#44336 [docs] Add `products` to `docset.yml`
  docs/docset.yml
Labels: docs, Team:Docs, backport-9.0

#44291 buildkite: bump elastic/oblt-aws-auth
  .buildkite/aws-tests-pipeline.yml
  .buildkite/x-pack/pipeline.xpack.filebeat.yml
  .buildkite/x-pack/pipeline.xpack.metricbeat.yml
Labels: needs_team, backport-active-all

#44304 Fix default scan_frequency to 60s
  x-pack/filebeat/input/awscloudwatch/cloudwatch.go
  x-pack/filebeat/input/awscloudwatch/cloudwatch_test.go
  x-pack/filebeat/input/awscloudwatch/config.go
  x-pack/filebeat/input/awscloudwatch/input.go
Labels: bug, Team:obs-ds-hosted-services, backport-active-all

#43978 Make `close.on_state_change.removed: false` default on Linux/Mac
  docs/reference/filebeat/filebeat-input-filestream.md
  docs/release-notes/breaking-changes.md
  filebeat/_meta/config/filebeat.inputs.reference.yml.tmpl
  filebeat/filebeat.reference.yml
  filebeat/input/filestream/config.go
  filebeat/input/filestream/defaultconfig.go
  filebeat/input/filestream/defaultconfig_windows.go
  x-pack/filebeat/filebeat.reference.yml
Labels: enhancement, backport-skip, Team:Elastic-Agent-Data-Plane

#44342 [filebeat][streaming] - Fixed a websocket panic scenario which would occur after exhausting max retries
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/streaming/input_test.go
  x-pack/filebeat/input/streaming/websocket.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, input:streaming, backport-8.17, backport-8.18, backport-9.0, backport-8.19

#44366 [azure monitor] Add latency config option
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/azure/azure.go
  x-pack/metricbeat/module/azure/azure_test.go
  x-pack/metricbeat/module/azure/client.go
  x-pack/metricbeat/module/azure/client_batch.go
  x-pack/metricbeat/module/azure/client_test.go
  x-pack/metricbeat/module/azure/config.go
Labels: Team:obs-ds-hosted-services, input:azure-monitor, backport-active-all

#44306 [beats] add milliseconds to awscloudwatch Filebeat input #43481
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/awscloudwatch/processor.go
Labels: Team:obs-ds-hosted-services, backport-8.19

#44309 x-pack/filebeat/input/entityanalytic/provider/activedirectory: add support for device entities
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/conf.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/internal/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/internal/activedirectory/activedirectory_test.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/statestore.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0, backport-8.19

#44346 chore: add test coverage for k8s v1.33
  .buildkite/deploy/kubernetes/deploy-k8s-pipeline.yml
  .buildkite/filebeat/filebeat-pipeline.yml
  .buildkite/metricbeat/pipeline.yml
  docs/reference/metricbeat/metricbeat-module-kubernetes.md
  metricbeat/module/kubernetes/_meta/docs.asciidoc
  metricbeat/module/kubernetes/controllermanager/README.md
  metricbeat/module/kubernetes/controllermanager/_meta/test/metrics.1.33
  metricbeat/module/kubernetes/controllermanager/_meta/test/metrics.1.33.expected
  metricbeat/module/kubernetes/controllermanager/controllermanager_test.go
  metricbeat/module/kubernetes/kubernetes.yml
  metricbeat/module/kubernetes/proxy/README.md
  metricbeat/module/kubernetes/proxy/_meta/test/metrics.1.33
  metricbeat/module/kubernetes/proxy/_meta/test/metrics.1.33.expected
  metricbeat/module/kubernetes/proxy/proxy_test.go
  metricbeat/module/kubernetes/scheduler/README.md
  metricbeat/module/kubernetes/scheduler/_meta/test/metrics.1.33
  metricbeat/module/kubernetes/scheduler/_meta/test/metrics.1.33.expected
Labels: Team:obs-ds-hosted-services, cleanup, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44259 bk: use GCP OIDC
  .buildkite/scripts/gcp_auth.ps1
  .buildkite/x-pack/pipeline.xpack.agentbeat.yml
  .buildkite/x-pack/pipeline.xpack.packetbeat.yml
  x-pack/packetbeat/scripts/mage/pcap.go
Labels: needs_team, backport-7.17, backport-active-all

#44192 [cleanup] Allow add_cloud_metadata to return early if a priority provider responds
  libbeat/processors/add_cloud_metadata/providers.go
  libbeat/processors/add_cloud_metadata/providers_test.go
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane

#44387 x-pack/filebeat/input/http_endpoint: add support for OPTIONS requests
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-http_endpoint.md
  x-pack/filebeat/input/http_endpoint/config.go
  x-pack/filebeat/input/http_endpoint/handler.go
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/http_endpoint/input.go
  x-pack/filebeat/input/http_endpoint/input_test.go
  x-pack/filebeat/input/http_endpoint/validate.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0, backport-8.19

#44442 metricbeat: ensure event.duration field is not discarded on Windows
  CHANGELOG.next.asciidoc
  metricbeat/mb/module/wrapper.go
  metricbeat/mb/module/wrapper_test.go
Labels: bug, Team:Elastic-Agent-Data-Plane, backport-8.17, backport-8.18, backport-9.0, backport-8.19

#44449 [CI] x-pack/libbeat: Bump check/update step disk size
  .buildkite/x-pack/pipeline.xpack.libbeat.yml
Labels: enhancement, needs_team, backport-active-all

#44438 [beat_receivers] move when monitoring is started
  libbeat/otelbeat/beatreceiver/beat_receiver.go
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/metricbeat/mbreceiver/factory.go
  x-pack/metricbeat/mbreceiver/receiver_test.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-9.0, backport-8.19

#44482 [docs] Add Beats 9.0.2 Release Notes
  docs/release-notes/index.md
Labels: docs, Team:Docs, backport-9.0

#44339 x-pack/filebeat/input/lumberjack: add fleet status update functionality
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/lumberjack/input.go
  x-pack/filebeat/input/lumberjack/server.go
  x-pack/filebeat/input/lumberjack/server_test.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0, backport-8.19

#44310 x-pack/filebeat/input/http_endpoint: add fleet input status updating
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/http_endpoint/handler.go
  x-pack/filebeat/input/http_endpoint/handler_test.go
  x-pack/filebeat/input/http_endpoint/input.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0

#44340 x-pack/filebeat/input/streaming: add fleet status update functionality
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/streaming/crowdstrike.go
  x-pack/filebeat/input/streaming/crowdstrike_test.go
  x-pack/filebeat/input/streaming/input.go
  x-pack/filebeat/input/streaming/websocket.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0, backport-8.19

#44501 Agentbeat: preserve the osquery.app/ directory and contents during Elastic Agent installation
  CHANGELOG.next.asciidoc
  x-pack/agentbeat/agentbeat.spec.yml
Labels: Team:Elastic-Agent-Control-Plane, backport-active-9

#44507 x-pack/filebeat/input/gcppubsub: add status updating
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/gcppubsub/input.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0, backport-8.19

#44493 [Metricbeat] [Prometheus] Add proper error handling for query dataset when the auth/ssl is misconfigured
  CHANGELOG.next.asciidoc
  metricbeat/module/prometheus/query/query.go
  metricbeat/module/prometheus/query/query_test.go
Labels: enhancement, Metricbeat, Team:Obs-InfraObs, backport-active-8, backport-active-9, prometheus

#44526 [libbeat] Fix 'dns' processor to handle IPv6 server addresses properly.
  CHANGELOG.next.asciidoc
  libbeat/processors/dns/resolver.go
  libbeat/processors/dns/resolver_test.go
Labels: :Processors, needs_team, bugfix, backport-active-all

#43964 x-pack/libbeat/common/cloudfoundry: Use xxhash instead of SHA1
  docs/release-notes/index.md
  x-pack/libbeat/common/cloudfoundry/cache.go
Labels: Team:Elastic-Agent-Data-Plane

#44521 [Flaky test] Prevent event coalescing in auditbeat file integrity test
  auditbeat/tests/system/test_file_integrity.py
Labels: flaky-test, Team:Elastic-Agent-Data-Plane

#44508 x-pack/filebeat/input/gcs: add status updating
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/gcs/decoding_test.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_stateless.go
  x-pack/filebeat/input/gcs/job.go
  x-pack/filebeat/input/gcs/scheduler.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-9.0, backport-8.19

#44436 x-pack/filebeat/input/httpjson: fix handling of ADC metadata server credentials
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/httpjson/config_auth.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-8.17, backport-8.18, backport-9.0, backport-8.19

#44469 chore(metricbeat): refresh kubernetes docs and metric tests
  metricbeat/helper/kubernetes/ktest/ktest.go
  metricbeat/module/kubernetes/apiserver/README.md
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.28
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.28.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.29
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.29.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.30
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.30.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.31
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.31.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.32
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.32.expected
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.33
  metricbeat/module/kubernetes/apiserver/_meta/test/metrics.1.33.expected
  metricbeat/module/kubernetes/apiserver/apiserver_test.go
  metricbeat/module/kubernetes/controllermanager/README.md
  metricbeat/module/kubernetes/controllermanager/controllermanager_test.go
  metricbeat/module/kubernetes/proxy/README.md
  metricbeat/module/kubernetes/proxy/proxy_test.go
  metricbeat/module/kubernetes/scheduler/README.md
  metricbeat/module/kubernetes/scheduler/scheduler_test.go
Labels: cleanup, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19

#44295 Add systemd to Ubuntu based images
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  dev-tools/packaging/templates/docker/Dockerfile.tmpl
  filebeat/docs/inputs/input-journald.asciidoc
Labels: Team:Elastic-Agent-Data-Plane, backport-active-8
