Repository elastic/beats, pull requests merged in 2025-07, with the labels that each got.

#45088 [filebeat][GCS] - Relax content-type restrictions along with some basic cleanup and refactor
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-gcs.md
  x-pack/filebeat/include/list.go
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/input.go
  x-pack/filebeat/input/gcs/input_test.go
  x-pack/filebeat/input/gcs/mock/mock.go
  x-pack/filebeat/input/gcs/scheduler.go
  x-pack/filebeat/input/gcs/testdata/array-at-root.json
  x-pack/filebeat/input/gcs/testdata/events-array.json
  x-pack/filebeat/input/gcs/testdata/log.json
  x-pack/filebeat/input/gcs/testdata/log.ndjson
  x-pack/filebeat/input/gcs/testdata/multiline.json
  x-pack/filebeat/input/gcs/testdata/multiline.json.gz
  x-pack/filebeat/input/gcs/testdata/nested-arrays.json
  x-pack/filebeat/input/gcs/testdata/txn1.csv
Labels: enhancement, docs, Filebeat, cleanup, Team:Security-Service Integrations, input:GCS

#45147 [oteltest][fbreceiver]: skip TestMultipleReceivers
  x-pack/filebeat/fbreceiver/receiver_test.go
Labels: cleanup, Team:Elastic-Agent-Data-Plane, backport-active-9, backport-8.19

#44957 x-pack/filebeat/input/o365audit: add fleet health status reporting
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/o365audit/contentblob.go
  x-pack/filebeat/input/o365audit/contentblob_test.go
  x-pack/filebeat/input/o365audit/input.go
  x-pack/filebeat/input/o365audit/input_test.go
  x-pack/filebeat/input/o365audit/listblobs.go
  x-pack/filebeat/input/o365audit/listblobs_test.go
  x-pack/filebeat/input/o365audit/poll/poll.go
  x-pack/filebeat/input/o365audit/schema.go
  x-pack/filebeat/input/o365audit/subscribe.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-8.19

#45142 .github/dependabot.yml: Update configuration with new dependencies for SQL
  .github/dependabot.yml
Labels: Team:Obs-InfraObs

#45150 x-pack/filebeat/input/gcppubsub: fix integration tests
  CHANGELOG-developer.next.asciidoc
  dev-tools/mage/integtest_docker.go
  testing/environments/docker/googlepubsub/Dockerfile
  testing/environments/docker/googlepubsub/supported-versions.yml
  x-pack/agentbeat/docker-compose.yml
  x-pack/filebeat/docker-compose.yml
  x-pack/filebeat/input/gcppubsub/docker-compose.yml
  x-pack/filebeat/input/gcppubsub/pubsub_test.go
Labels: Filebeat, flaky-test, Team:Elastic-Agent-Data-Plane, Team:Security-Service Integrations, backport-active-9, backport-8.19

#45049 [MetricBeat][StackMonitoring] fetching index summary from node/_stats endpoint
  CHANGELOG.next.asciidoc
  metricbeat/module/elasticsearch/index_summary/_meta/test/expected_event_7.17.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/expected_event_8.17.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/expected_event_xpack_7.17.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/expected_event_xpack_8.17.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_empty.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_v717.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_v717_field_as_string.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_v817.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_v817_missing_block.json
  metricbeat/module/elasticsearch/index_summary/_meta/test/node_stats_v817_missing_fields.json
  metricbeat/module/elasticsearch/index_summary/data.go
  metricbeat/module/elasticsearch/index_summary/data_test.go
  metricbeat/module/elasticsearch/index_summary/index_summary.go
  metricbeat/module/elasticsearch/index_summary/index_summary_test.go
  metricbeat/module/elasticsearch/testing.go
Labels: bug, Feature:Stack Monitoring, Team:Monitoring, Team:Opex, backport-active-all

#45186 codeowners: update .github folder
  .github/CODEOWNERS
Labels: needs_team, backport-active-all

#45234 otelmap: handle conversion of struct types
  libbeat/otelbeat/otelmap/otelmap.go
  libbeat/otelbeat/otelmap/otelmap_test.go
Labels: cleanup, Team:Elastic-Agent-Data-Plane, backport-active-9, backport-8.19

#45117 [Metricbeat] Fix CPU/disk/network visualizations in EC2 overview dashboard
  x-pack/metricbeat/module/aws/_meta/kibana/7/visualization/15818fd0-f7f9-11e8-af03-c999c9dea608-ecs.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/visualization/233b3400-f7f9-11e8-af03-c999c9dea608-ecs.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/visualization/be8828d0-f7f6-11e8-af03-c999c9dea608-ecs.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/visualization/f1db6ec0-f7f8-11e8-af03-c999c9dea608-ecs.json
  x-pack/metricbeat/module/aws/_meta/kibana/7/visualization/fed59380-f7f8-11e8-af03-c999c9dea608-ecs.json
Labels: Team:obs-ds-hosted-services, bugfix, backport-active-all

#45100 [Heartbeat] Add base64 encoding option to inline monitors
  CHANGELOG.next.asciidoc
  x-pack/heartbeat/monitors/browser/source/inline.go
  x-pack/heartbeat/monitors/browser/source/local.go
  x-pack/heartbeat/monitors/browser/source/project.go
  x-pack/heartbeat/monitors/browser/source/source.go
  x-pack/heartbeat/monitors/browser/source/zipurl.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
  x-pack/heartbeat/monitors/browser/sourcejob_test.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec_test.go
Labels: bug, Team:obs-ds-hosted-services, backport-active-all

#45266 [AutoOps] Cleanup Version Mismatch Error
  x-pack/metricbeat/module/autoops_es/events/error_event.go
  x-pack/metricbeat/module/autoops_es/events/error_event_test.go
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info.go
  x-pack/metricbeat/module/autoops_es/utils/version.go
Labels: bug, release-note:skip, Team:Opex, backport-9.1

#45128 [kafka] Handle configuration errors
  libbeat/outputs/kafka/client.go
  libbeat/outputs/kafka/config.go
  libbeat/outputs/kafka/kafka_integration_test.go
Labels: bug, Team:Elastic-Agent-Data-Plane, backport-active-all

#45326 [8.18] Bump ironbank 9.6
  dev-tools/packaging/templates/ironbank/auditbeat/Dockerfile
  dev-tools/packaging/templates/ironbank/filebeat/Dockerfile
  dev-tools/packaging/templates/ironbank/heartbeat/Dockerfile
  dev-tools/packaging/templates/ironbank/metricbeat/Dockerfile
  dev-tools/packaging/templates/ironbank/packetbeat/Dockerfile
Labels: Team:Elastic-Agent-Data-Plane

#45299 Update post-dependabot.yml to add a team as a reviewer
  .github/workflows/post-dependabot.yml
Labels: Team:Obs-InfraObs

#45146 Add event size and count headers to output encoders
  libbeat/esleg/eslegclient/bulkapi.go
  libbeat/esleg/eslegclient/bulkapi_integration_test.go
  libbeat/esleg/eslegclient/bulkapi_mock_test.go
  libbeat/esleg/eslegclient/enc.go
  libbeat/esleg/eslegclient/enc_test.go
  libbeat/monitoring/report/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client.go
  libbeat/outputs/elasticsearch/client_test.go
Labels: enhancement, libbeat, Team:Elastic-Agent-Data-Plane, backport-9.0, backport-8.19, backport-9.1

#44976 x-pack/filebeat/input/httpjson: share oauth2 clients where possible
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/httpjson/config_auth.go
  x-pack/filebeat/input/httpjson/input.go
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/request_test.go
Labels: enhancement, Filebeat, Team:Security-Service Integrations, backport-8.19

#45198 [beatreceiver] add support for compression params while doing config translation
  libbeat/otelbeat/beatconverter/beatconverter_test.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel_test.go
Labels: Team:Elastic-Agent-Data-Plane

#45105 fix: solaris build compatibility
  filebeat/channel/runner_test.go
  libbeat/autodiscover/providers/docker/docker_integration_test.go
  libbeat/autodiscover/providers/docker/docker_test.go
  libbeat/autodiscover/providers/kubernetes/config_test.go
  libbeat/autodiscover/providers/kubernetes/kubernetes_test.go
  libbeat/autodiscover/providers/kubernetes/node.go
  libbeat/autodiscover/providers/kubernetes/node_test.go
  libbeat/autodiscover/providers/kubernetes/pod.go
  libbeat/autodiscover/providers/kubernetes/pod_test.go
  libbeat/autodiscover/providers/kubernetes/service.go
  libbeat/autodiscover/providers/kubernetes/service_test.go
  libbeat/processors/add_host_metadata/add_host_metadata_test.go
  libbeat/processors/add_kubernetes_metadata/kubernetes_test.go
  libbeat/tests/compose/compose.go
  libbeat/tests/compose/project.go
  libbeat/tests/compose/wrapper.go
  libbeat/tests/docker/docker.go
Labels: Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent-Data-Plane

#45445 [AutoOps] Avoid Environment Collision by prefixing with AUTOOPS_
  x-pack/metricbeat/module/autoops_es/cat_shards/cat_shards_test.go
  x-pack/metricbeat/module/autoops_es/events/error_event_test.go
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info_test.go
  x-pack/metricbeat/module/autoops_es/utils/resource.go
  x-pack/metricbeat/module/autoops_es/utils/resource_test.go
Labels: bug, release-note:skip, Team:Opex, backport-9.1

#45415 [Flaky Test] Fix TestMakeReporter and TestHTTP test
  libbeat/api/server.go
  libbeat/monitoring/report/elasticsearch/elasticsearch.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-all

#45425 [metricbeat] fix linux/pageinfo module mapping
  CHANGELOG.asciidoc
  metricbeat/module/linux/fields.go
  metricbeat/module/linux/pageinfo/_meta/fields.yml
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-8.18, backport-9.0, backport-8.19, backport-9.1

#45408 [AWS Health] Improve error message reporting
  CHANGELOG.next.asciidoc
  x-pack/metricbeat/module/aws/awshealth/awshealth.go
Labels: bug, Team:Obs-InfraObs, backport-active-8, backport-active-9

#45484 deps: use the latest updatecli version
  .updatecli-version
Labels: needs_team

#45244 Update dependabot.yml with new Windows dependencies
  .github/dependabot.yml
Labels: Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs

#45495 [AutoOps] Send Expected Error
  x-pack/metricbeat/module/autoops_es/cat_shards/cat_shards_test.go
  x-pack/metricbeat/module/autoops_es/cat_shards/data.go
  x-pack/metricbeat/module/autoops_es/cat_shards/data_test.go
  x-pack/metricbeat/module/autoops_es/cat_shards/resolved_indices_test.go
  x-pack/metricbeat/module/autoops_es/cat_template/cat_template_test.go
  x-pack/metricbeat/module/autoops_es/cat_template/data.go
  x-pack/metricbeat/module/autoops_es/cat_template/data_test.go
  x-pack/metricbeat/module/autoops_es/cluster_health/cluster_health_test.go
  x-pack/metricbeat/module/autoops_es/cluster_health/data.go
  x-pack/metricbeat/module/autoops_es/cluster_health/data_test.go
  x-pack/metricbeat/module/autoops_es/cluster_settings/cluster_settings_test.go
  x-pack/metricbeat/module/autoops_es/cluster_settings/data.go
  x-pack/metricbeat/module/autoops_es/cluster_settings/data_test.go
  x-pack/metricbeat/module/autoops_es/component_template/component_template_test.go
  x-pack/metricbeat/module/autoops_es/component_template/data.go
  x-pack/metricbeat/module/autoops_es/component_template/data_test.go
  x-pack/metricbeat/module/autoops_es/events/error_event.go
  x-pack/metricbeat/module/autoops_es/events/error_event_test.go
  x-pack/metricbeat/module/autoops_es/index_template/data.go
  x-pack/metricbeat/module/autoops_es/index_template/data_test.go
  x-pack/metricbeat/module/autoops_es/index_template/index_template_test.go
  x-pack/metricbeat/module/autoops_es/license/data.go
  x-pack/metricbeat/module/autoops_es/license/data_test.go
  x-pack/metricbeat/module/autoops_es/license/license_test.go
  x-pack/metricbeat/module/autoops_es/metricset/cluster_info_test.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset_nested_test.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset_test.go
  x-pack/metricbeat/module/autoops_es/node_stats/data.go
  x-pack/metricbeat/module/autoops_es/node_stats/data_test.go
  x-pack/metricbeat/module/autoops_es/node_stats/node_stats_test.go
  x-pack/metricbeat/module/autoops_es/tasks_management/data.go
  x-pack/metricbeat/module/autoops_es/tasks_management/data_test.go
  x-pack/metricbeat/module/autoops_es/tasks_management/tasks_management_test.go
Labels: bug, release-note:skip, Team:Opex, backport-9.1

#45515 fix: add repository-projects read permission to post-dependabot workflow
  .github/workflows/post-dependabot.yml
Labels: Team:Obs-InfraObs

#45514 dependabot: Add Windows dependencies to allow list
  .github/dependabot.yml
Labels: Team:Obs-InfraObs

#45414 docs/reference/filebeat/cel: improve documentation
  docs/reference/filebeat/filebeat-input-cel.md
Labels: enhancement, docs, Filebeat, Team:Security-Service Integrations, backport-9.1

#45541 [8.19](backport #45315) Docs: Fix wrong host reference in add_kubernetes_metadata
  libbeat/processors/add_kubernetes_metadata/docs/add_kubernetes_metadata.asciidoc
Labels: Team:Elastic-Agent-Data-Plane, backport-8.17, backport-8.18

#45530 Add `applies_to` tags to mark version-related changes
  docs/reference/filebeat/filebeat-input-gcs.md
Labels: docs, Team:Docs, backport-9.1

#45540 [docs] Adds `applies_to` to changes from #44761
  docs/reference/filebeat/filebeat-input-entity-analytics.md
Labels: docs, Team:Docs, backport-9.1

#45537 [docs] Adds `applies_to` to changes from #43655
  docs/reference/filebeat/filebeat-input-entity-analytics.md
Labels: docs, Team:Docs, backport-9.0, backport-9.1

#45538 [docs] Adds `applies_to` to changes from #44892
  docs/reference/filebeat/filebeat-input-gcp-pubsub.md
Labels: docs, Team:Docs, backport-9.1

#45158 [FIPS] Test that libbeat ES client will not connect to ES with invalid TLS certificate
  libbeat/esleg/eslegclient/connection_test.go
  libbeat/esleg/eslegclient/testdata/ca.crt
  libbeat/esleg/eslegclient/testdata/es_ping_response.json
  libbeat/esleg/eslegclient/testdata/fips_invalid.crt
  libbeat/esleg/eslegclient/testdata/fips_invalid.key
Labels: :Testing, Team:Elastic-Agent-Data-Plane, backport-8.19, backport-9.1

#45579 [Docs] Add `applies_to` to changes from #43251
  docs/reference/filebeat/filebeat-input-aws-cloudwatch.md
Labels: Team:Docs, backport-9.1

#45580 [Docs] Add `applies_to` to DNS processor docs
  docs/reference/auditbeat/processor-dns.md
  docs/reference/filebeat/processor-dns.md
  docs/reference/heartbeat/processor-dns.md
  docs/reference/metricbeat/processor-dns.md
  docs/reference/packetbeat/processor-dns.md
  docs/reference/winlogbeat/processor-dns.md
Labels: Team:Docs, backport-9.1

#45609 [docs] Add 9.0.4 release notes
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
Labels: docs, Team:Docs, backport-9.1

#45612 Doc: Add applies_to label for 9.1 content
  docs/reference/filebeat/filebeat-input-filestream.md
Labels: docs, Team:Docs, backport-9.1

#45529 Add `applies_to` tag to mark version-related change
  docs/reference/filebeat/filebeat-input-streaming.md
Labels: Team:Docs, backport-9.0, backport-9.1

#45614 Doc: Add applies_to label for 9.1 content
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/auditbeat/auditbeat-starting.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/filebeat/filebeat-starting.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-starting.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-starting.md
  docs/reference/winlogbeat/configuration-logging.md
  docs/reference/winlogbeat/configuration-winlogbeat-options.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
  docs/reference/winlogbeat/winlogbeat-starting.md
Labels: docs, Team:Docs, backport-9.1

#45616 docs/reference/filebeat/filebeat-input-{cel,streaming}.md: Improve explanation of `state` option
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-cel.md
  docs/reference/filebeat/filebeat-input-streaming.md
Labels: docs, Filebeat, Team:Security-Service Integrations

#45583 refactor(decode_cef): migrate from go-fuzz to native Go fuzzing
  x-pack/filebeat/processors/decode_cef/cef/cef_test.go
  x-pack/filebeat/processors/decode_cef/cef/fuzz/.gitignore
  x-pack/filebeat/processors/decode_cef/cef/fuzz/Makefile
  x-pack/filebeat/processors/decode_cef/cef/fuzz/fuzz.go
Labels: Filebeat, backport-skip, Team:Security-Deployment and Devices

#45625 Change package name for fips-enabled deb packages
  dev-tools/mage/pkgtypes.go
Labels: Team:Elastic-Agent-Data-Plane, backport-8.19, backport-9.1

#45636 otel: skip flaky test TestMetricbeatOTelMultipleReceiversE2E
  x-pack/metricbeat/tests/integration/otel_test.go
Labels: backport-skip, Team:Elastic-Agent-Data-Plane
