Repository elastic/beats, pull requests merged in 2025-09, with the labels that each got.

#45753 x-pack/filebeat/input/entityanalytic/provider/okta: OAuth2 support
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-entity-analytics.md
  x-pack/filebeat/input/entityanalytics/provider/okta/conf.go
  x-pack/filebeat/input/entityanalytics/provider/okta/conf_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/internal/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2.go
  x-pack/filebeat/input/entityanalytics/provider/okta/oauth2_test.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Service Integrations

#46337 update `testing/environments/docker/elasticsearch/pki` certs
  libbeat/docker-compose.yml
  libbeat/tests/integration/ca_pinning_test.go
  testing/environments/docker/elasticsearch/pki/ca/ca.crt
  testing/environments/docker/elasticsearch/pki/ca/ca.key
  testing/environments/docker/elasticsearch/pki/ca/ca.pem
  testing/environments/docker/elasticsearch/pki/ca/key.pem
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl.crt
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl.key
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl_cert.pem
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl_key.pem
  testing/environments/docker/elasticsearch/pki/generate_pki.sh
Labels: backport-skip, Team:Elastic-Agent-Data-Plane

#46244 Add error handling, some logging to FIM
  auditbeat/module/file_integrity/eventreader_kprobes.go
  auditbeat/module/file_integrity/kprobes/events_process.go
  auditbeat/module/file_integrity/kprobes/events_process_test.go
  auditbeat/module/file_integrity/kprobes/monitor.go
  auditbeat/module/file_integrity/kprobes/monitor_test.go
  auditbeat/module/file_integrity/kprobes/path.go
  auditbeat/module/file_integrity/kprobes/path_inotify.go
  auditbeat/module/file_integrity/kprobes/path_mountpoint.go
  auditbeat/module/file_integrity/kprobes/perf_channel.go
  auditbeat/module/file_integrity/kprobes/probes.go
  auditbeat/module/file_integrity/kprobes/probes_fsnotify.go
  auditbeat/module/file_integrity/kprobes/probes_fsnotify_nameremove.go
  auditbeat/module/file_integrity/kprobes/probes_fsnotify_parent.go
  auditbeat/module/file_integrity/kprobes/probes_vfs_getattr.go
  auditbeat/module/file_integrity/kprobes/verifier.go
  auditbeat/module/file_integrity/monitor/monitor.go
Labels: needs_team

#46190 [winlogbeat] Fix forwarded event handling and add channel error resilience
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-winlog.md
  docs/reference/winlogbeat/configuration-winlogbeat-options.md
  docs/reference/winlogbeat/winlogbeat-reference-yml.md
  winlogbeat/_meta/config/header.yml.tmpl
  winlogbeat/eventlog/config.go
  winlogbeat/eventlog/errors_unix.go
  winlogbeat/eventlog/errors_windows.go
  winlogbeat/eventlog/eventlog.go
  winlogbeat/eventlog/runner.go
  winlogbeat/eventlog/wineventlog.go
  winlogbeat/sys/wineventlog/renderer.go
  winlogbeat/sys/wineventlog/renderer_test.go
  winlogbeat/winlogbeat.reference.yml
  winlogbeat/winlogbeat.yml
  x-pack/filebeat/tests/integration/windows/inputs_windows_test.go
  x-pack/winlogbeat/winlogbeat.reference.yml
  x-pack/winlogbeat/winlogbeat.yml
Labels: Filebeat, Winlogbeat, Team:Elastic-Agent-Data-Plane, Team:Security-Windows Platform, windows, backport-active-8, backport-active-9

#46359 [Docs] Add Support for Base64 encoded `api_key` in Elasticsearch
  docs/reference/metricbeat/metricbeat-module-elasticsearch.md
  metricbeat/module/elasticsearch/_meta/docs.md
Labels: docs, release-note:skip, Team:Monitoring, backport-9.1

#46351 Add missing dash in add-cloud-metadata documentation
  docs/reference/filebeat/add-cloud-metadata.md
Labels: Team:Docs, forwardport-main

#46260 Do not show 'ingest pipeline' warning when managed by Elastic Agent
  filebeat/beater/filebeat.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-all

#46331 Fix Filebeat's race condition on shutdown
  CHANGELOG.next.asciidoc
  filebeat/input/filestream/internal/input-logfile/manager.go
  filebeat/input/v2/input-cursor/manager.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-all

#46250 refactor(libbeat): reduce deadcode linter issues
  libbeat/api/routes.go
  libbeat/autodiscover/eventselect.go
  libbeat/common/bytes.go
  libbeat/common/bytes_test.go
  libbeat/common/logging.go
  libbeat/common/net.go
  libbeat/common/net_test.go
  libbeat/common/string.go
  libbeat/common/string_test.go
  libbeat/kibana/index_pattern_generator.go
  libbeat/management/agent.go
  x-pack/libbeat/common/nomad/metadata.go
  x-pack/libbeat/management/blacklist.go
  x-pack/libbeat/management/blacklist_test.go
  x-pack/libbeat/management/config.go
  x-pack/libbeat/management/managerV2.go
  x-pack/libbeat/persistentcache/encoding.go
Labels: cleanup, Team:Elastic-Agent-Control-Plane, Team:Elastic-Agent-Data-Plane

#46405 [8.17 changelog] add known issue for restart_on_cert_change panic
  CHANGELOG.asciidoc
Labels: Team:Docs, Team:Elastic-Agent-Data-Plane, backport-8.18, backport-8.19

#46099 [docs] Adds applies_to to changes from #44664
  docs/reference/filebeat/exported-fields-winlog.md
  x-pack/filebeat/input/etw/_meta/fields.yml
  x-pack/filebeat/input/etw/fields.go
Labels: docs, Team:Docs, backport-skip

#46402 [filebeat] Add *paths.Path to PluginFactory signature
  filebeat/beater/filebeat.go
  filebeat/input/default-inputs/inputs.go
  x-pack/filebeat/input/awss3/input.go
  x-pack/filebeat/input/awss3/input_benchmark_test.go
  x-pack/filebeat/input/awss3/input_test.go
  x-pack/filebeat/input/awss3/script.go
  x-pack/filebeat/input/awss3/script_jss3event_v2_test.go
  x-pack/filebeat/input/awss3/script_session_test.go
  x-pack/filebeat/input/awss3/sqs_input.go
  x-pack/filebeat/input/awss3/sqs_test.go
  x-pack/filebeat/input/default-inputs/inputs.go
  x-pack/filebeat/input/default-inputs/inputs_aix.go
  x-pack/filebeat/input/default-inputs/inputs_darwin.go
  x-pack/filebeat/input/default-inputs/inputs_other.go
  x-pack/filebeat/input/default-inputs/inputs_windows.go
  x-pack/filebeat/input/entityanalytics/input.go
  x-pack/filebeat/input/entityanalytics/input_test.go
  x-pack/filebeat/input/entityanalytics/internal/kvstore/input.go
  x-pack/filebeat/input/entityanalytics/internal/kvstore/input_test.go
  x-pack/filebeat/input/entityanalytics/internal/kvstore/manager.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory.go
  x-pack/filebeat/input/entityanalytics/provider/activedirectory/activedirectory_test.go
  x-pack/filebeat/input/entityanalytics/provider/azuread/azure.go
  x-pack/filebeat/input/entityanalytics/provider/jamf/jamf.go
  x-pack/filebeat/input/entityanalytics/provider/okta/okta.go
  x-pack/filebeat/input/entityanalytics/provider/provider.go
  x-pack/filebeat/input/entityanalytics/provider/provider_test.go
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane, Team:Security-Service Integrations, backport-8.19

#46491 Add more info to dockerlogbeat README
  x-pack/dockerlogbeat/readme.md
Labels: Team:Docs, Team:Elastic-Agent-Data-Plane

#46486 Fix TCP & UDP input metricsets for ports > 32767
  CHANGELOG.next.asciidoc
  filebeat/input/netmetrics/netmetrics.go
  filebeat/input/netmetrics/netmetrics_test.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-all

#46529 [docs] Add missing page-level `applies_to` to Filebeat modules
  docs/reference/filebeat/filebeat-module-activemq.md
  docs/reference/filebeat/filebeat-module-apache.md
  docs/reference/filebeat/filebeat-module-auditd.md
  docs/reference/filebeat/filebeat-module-aws.md
  docs/reference/filebeat/filebeat-module-azure.md
  docs/reference/filebeat/filebeat-module-cef.md
  docs/reference/filebeat/filebeat-module-checkpoint.md
  docs/reference/filebeat/filebeat-module-cisco.md
  docs/reference/filebeat/filebeat-module-coredns.md
  docs/reference/filebeat/filebeat-module-cyberarkpas.md
  docs/reference/filebeat/filebeat-module-elasticsearch.md
  docs/reference/filebeat/filebeat-module-envoyproxy.md
  docs/reference/filebeat/filebeat-module-fortinet.md
  docs/reference/filebeat/filebeat-module-gcp.md
  docs/reference/filebeat/filebeat-module-google_workspace.md
  docs/reference/filebeat/filebeat-module-haproxy.md
  docs/reference/filebeat/filebeat-module-ibmmq.md
  docs/reference/filebeat/filebeat-module-icinga.md
  docs/reference/filebeat/filebeat-module-iis.md
  docs/reference/filebeat/filebeat-module-iptables.md
  docs/reference/filebeat/filebeat-module-juniper.md
  docs/reference/filebeat/filebeat-module-kafka.md
  docs/reference/filebeat/filebeat-module-kibana.md
  docs/reference/filebeat/filebeat-module-logstash.md
  docs/reference/filebeat/filebeat-module-microsoft.md
  docs/reference/filebeat/filebeat-module-misp.md
  docs/reference/filebeat/filebeat-module-mongodb.md
  docs/reference/filebeat/filebeat-module-mssql.md
  docs/reference/filebeat/filebeat-module-mysql.md
  docs/reference/filebeat/filebeat-module-mysqlenterprise.md
  docs/reference/filebeat/filebeat-module-netflow.md
  docs/reference/filebeat/filebeat-module-nginx.md
  docs/reference/filebeat/filebeat-module-o365.md
  docs/reference/filebeat/filebeat-module-okta.md
  docs/reference/filebeat/filebeat-module-oracle.md
  docs/reference/filebeat/filebeat-module-osquery.md
  docs/reference/filebeat/filebeat-module-panw.md
  docs/reference/filebeat/filebeat-module-pensando.md
  docs/reference/filebeat/filebeat-module-postgresql.md
  docs/reference/filebeat/filebeat-module-rabbitmq.md
  docs/reference/filebeat/filebeat-module-redis.md
  docs/reference/filebeat/filebeat-module-salesforce.md
  docs/reference/filebeat/filebeat-module-santa.md
  docs/reference/filebeat/filebeat-module-snyk.md
  docs/reference/filebeat/filebeat-module-sophos.md
  docs/reference/filebeat/filebeat-module-suricata.md
  docs/reference/filebeat/filebeat-module-system.md
  docs/reference/filebeat/filebeat-module-threatintel.md
  docs/reference/filebeat/filebeat-module-traefik.md
  docs/reference/filebeat/filebeat-module-zeek.md
  docs/reference/filebeat/filebeat-module-zoom.md
  docs/reference/filebeat/filebeat-modules.md
  filebeat/scripts/docs_collector.py
Labels: docs, Team:Docs, backport-active-9

#46390 [8.x] [Filebeat] Add known issue for clean_inactive in
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  filebeat/docs/inputs/input-filestream-file-options.asciidoc
Labels: Team:Docs, Team:Elastic-Agent-Data-Plane, backport-active-8

#46457 Doc: Use current Logstash SSL settings for auditbeat
  docs/reference/auditbeat/configuring-ssl-logstash.md
Labels: docs, Team:Docs, backport-9.0, backport-9.1

#46624 [osquerybeat] Upgrade osquery to 5.18.1
  CHANGELOG.next.asciidoc
  x-pack/osquerybeat/internal/distro/distro.go
Labels: enhancement, Osquerybeat, backport-skip, Team:Security-Windows Platform

#46376 [winlogbeat] Fix EventLog reset logic to avoid closing renderers
  CHANGELOG.next.asciidoc
  winlogbeat/eventlog/wineventlog.go
Labels: bugfix, Team:Security-Windows Platform, windows, backport-active-8, backport-active-9

#46634 [OTel] Implement logstash exporter workers and change batch to handle async clients
  x-pack/otel/exporter/logstashexporter/internal/batch.go
  x-pack/otel/exporter/logstashexporter/internal/batch_test.go
  x-pack/otel/exporter/logstashexporter/internal/worker.go
  x-pack/otel/exporter/logstashexporter/internal/worker_test.go
Labels: Team:Elastic-Agent-Data-Plane

#46682 [Filebeat/Journald] Add support for watching folders
  CHANGELOG.next.asciidoc
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/input/journald/testdata/journal1.export
  filebeat/input/journald/testdata/journal1.journal.gz
  filebeat/input/journald/testdata/journal2.export
  filebeat/input/journald/testdata/journal2.journal.gz
  filebeat/input/journald/testdata/journal3.export
  filebeat/input/journald/testdata/journal3.journal.gz
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-all

#46301 [docs] Replace placeholder URLs
  auditbeat/include/fields.go
  docs/reference/auditbeat/configuring-ssl-logstash.md
  docs/reference/auditbeat/exported-fields-ecs.md
  docs/reference/auditbeat/monitoring-internal-collection.md
  docs/reference/filebeat/configuring-ssl-logstash.md
  docs/reference/filebeat/exported-fields-cef.md
  docs/reference/filebeat/exported-fields-ecs.md
  docs/reference/filebeat/filebeat-input-cometd.md
  docs/reference/filebeat/filebeat-input-httpjson.md
  docs/reference/filebeat/filebeat-input-streaming.md
  docs/reference/filebeat/monitoring-internal-collection.md
  docs/reference/heartbeat/configuring-ssl-logstash.md
  docs/reference/heartbeat/exported-fields-ecs.md
  docs/reference/heartbeat/monitor-http-options.md
  docs/reference/heartbeat/monitoring-internal-collection.md
  docs/reference/metricbeat/configuring-ssl-logstash.md
  docs/reference/metricbeat/exported-fields-ecs.md
  docs/reference/metricbeat/metricbeat-metricset-vsphere-virtualmachine.md
  docs/reference/metricbeat/monitoring-internal-collection.md
  docs/reference/packetbeat/configuring-ssl-logstash.md
  docs/reference/packetbeat/exported-fields-ecs.md
  docs/reference/packetbeat/monitoring-internal-collection.md
  docs/reference/winlogbeat/configuring-ssl-logstash.md
  docs/reference/winlogbeat/exported-fields-ecs.md
  docs/reference/winlogbeat/monitoring-internal-collection.md
  filebeat/include/fields.go
  heartbeat/include/fields.go
  libbeat/_meta/fields.ecs.yml
  metricbeat/include/fields/fields.go
  metricbeat/module/vsphere/virtualmachine/_meta/data.json
  packetbeat/include/fields.go
  winlogbeat/include/fields.go
  x-pack/filebeat/processors/decode_cef/_meta/fields.yml
  x-pack/filebeat/processors/decode_cef/fields.go
  x-pack/heartbeat/include/fields.go
  x-pack/osquerybeat/include/fields.go
Labels: docs, Team:obs-ds-hosted-services, Team:Docs, Team:Elastic-Agent-Data-Plane, Team:Obs-InfraObs, Team:Security-Windows Platform, backport-9.0, backport-9.1, Team:Integration-Experience

#46774 Use noop logger instead of logger backed by t.Log
  x-pack/libbeat/management/simple_input_config_test.go
Labels: Team:Elastic-Agent-Data-Plane

#46761 CODEOWNERS: ci robots team don't own those files
  .github/CODEOWNERS
Labels: needs_team, backport-8.19, backport-9.1

#46792 [Filbeat/Journald] Restore support for paths like /foo/*/*
  filebeat/input/journald/input_test.go
  filebeat/input/journald/pkg/journalctl/reader.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-all

#46782 Docs: Fix `applies_to` tags for same lifecycle, multiple versions
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/filebeat/filebeat-input-httpjson.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
Labels: Team:Docs, backport-active-9

#46779 [fbreceiver] partial fix for global paths
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/beater/crawler.go
  filebeat/beater/diagnostics.go
  filebeat/beater/filebeat.go
  filebeat/beater/store.go
  filebeat/fileset/config.go
  filebeat/fileset/factory.go
  filebeat/fileset/fileset.go
  filebeat/fileset/fileset_test.go
  filebeat/fileset/modules.go
  filebeat/fileset/modules_integration_test.go
  filebeat/fileset/modules_test.go
  filebeat/fileset/setup.go
  filebeat/registrar/migrate.go
  heartbeat/beater/heartbeat.go
  libbeat/beat/beat.go
  libbeat/cfgfile/reload.go
  libbeat/cfgfile/reload_integration_test.go
  libbeat/cmd/export/ilm_policy.go
  libbeat/cmd/export/template.go
  libbeat/cmd/instance/beat.go
  libbeat/cmd/instance/keystore_fips.go
  libbeat/cmd/instance/keystore_fips_test.go
  libbeat/cmd/instance/keystore_nofips.go
  libbeat/cmd/instance/locks/lock.go
  libbeat/cmd/instance/locks/lock_test.go
  libbeat/idxmgmt/client_handler.go
  libbeat/otelbeat/oteltest/oteltest.go
  libbeat/template/load.go
  libbeat/template/load_integration_test.go
  libbeat/template/load_test.go
  metricbeat/beater/metricbeat.go
  x-pack/filebeat/fbreceiver/receiver_test.go
  x-pack/libbeat/cmd/instance/beat.go
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane, backport-8.x, backport-9.1

#43716 [azure-eventhub] Fix handling of connection strings with entity path
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/azureeventhub/config.go
  x-pack/filebeat/input/azureeventhub/config_test.go
  x-pack/filebeat/input/azureeventhub/connection_string.go
  x-pack/filebeat/input/azureeventhub/connection_string_test.go
  x-pack/filebeat/input/azureeventhub/v2_input.go
  x-pack/filebeat/input/azureeventhub/v2_migration.go
Labels: Team:obs-ds-hosted-services, Team:Elastic-Agent-Data-Plane, bugfix, input:azure-eventhub, backport-active-all

#46846 fix: add retry for listener creation in libbeat
  x-pack/filebeat/fbreceiver/factory.go
  x-pack/libbeat/cmd/instance/receiver.go
  x-pack/metricbeat/mbreceiver/factory.go
Labels: Team:Elastic-Agent-Data-Plane, backport-8.19, backport-9.1
