Repository elastic/beats, pull requests merged in 2025-08, with the labels that each got.

#44664 [Filebeat][ETW] Major Improvements to ETW Input
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/exported-fields-winlog.md
  docs/reference/filebeat/filebeat-input-etw.md
  x-pack/filebeat/input/etw/_meta/fields.yml
  x-pack/filebeat/input/etw/config.go
  x-pack/filebeat/input/etw/fields.go
  x-pack/filebeat/input/etw/input.go
  x-pack/filebeat/input/etw/input_test.go
  x-pack/libbeat/reader/etw/config.go
  x-pack/libbeat/reader/etw/controller.go
  x-pack/libbeat/reader/etw/controller_test.go
  x-pack/libbeat/reader/etw/event.go
  x-pack/libbeat/reader/etw/eventrenderer.go
  x-pack/libbeat/reader/etw/eventrenderer_test.go
  x-pack/libbeat/reader/etw/manifest_provider_cache.go
  x-pack/libbeat/reader/etw/metadata_cache.go
  x-pack/libbeat/reader/etw/metadata_cache_test.go
  x-pack/libbeat/reader/etw/provider.go
  x-pack/libbeat/reader/etw/provider_test.go
  x-pack/libbeat/reader/etw/session.go
  x-pack/libbeat/reader/etw/session_integration_test.go
  x-pack/libbeat/reader/etw/session_test.go
  x-pack/libbeat/reader/etw/syscall_advapi32.go
  x-pack/libbeat/reader/etw/syscall_tdh.go
  x-pack/libbeat/reader/etw/testdata/README.md
  x-pack/libbeat/reader/etw/testdata/compile-manifest.ps1
  x-pack/libbeat/reader/etw/testdata/golden_events.json
  x-pack/libbeat/reader/etw/testdata/manage-etw-provider.ps1
  x-pack/libbeat/reader/etw/testdata/sample-test-events.etl
  x-pack/libbeat/reader/etw/testdata/sample.dll
  x-pack/libbeat/reader/etw/testdata/sample.man
  x-pack/libbeat/reader/etw/testingutils_test.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Windows Platform

#45563 Consolidate Decoding of CSV, Parquet files
  x-pack/filebeat/input/awss3/config.go
  x-pack/filebeat/input/awss3/decoding.go
  x-pack/filebeat/input/awss3/decoding_csv.go
  x-pack/filebeat/input/awss3/decoding_test.go
  x-pack/filebeat/input/awss3/s3_objects.go
  x-pack/filebeat/input/azureblobstorage/config.go
  x-pack/filebeat/input/azureblobstorage/decoding_config.go
  x-pack/filebeat/input/azureblobstorage/decoding_csv.go
  x-pack/filebeat/input/azureblobstorage/decoding_test.go
  x-pack/filebeat/input/azureblobstorage/job.go
  x-pack/filebeat/input/gcs/config.go
  x-pack/filebeat/input/gcs/decoding.go
  x-pack/filebeat/input/gcs/decoding_config.go
  x-pack/filebeat/input/gcs/decoding_test.go
  x-pack/filebeat/input/gcs/job.go
  x-pack/libbeat/reader/decoder/config.go
  x-pack/libbeat/reader/decoder/csv.go
  x-pack/libbeat/reader/decoder/decoder.go
  x-pack/libbeat/reader/decoder/parquet.go
  x-pack/libbeat/reader/reader.go
Labels: cleanup, Team:Security-Deployment and Devices, libbeat:reader, backport-active-8, backport-active-9

#45650 Update integration-experience codeowners
  .github/CODEOWNERS
Labels: backport-active-all, Team:Integration-Experience

#45666 Update CODEOWNERS: remove ci-contractors
  .github/CODEOWNERS
Labels: needs_team, backport-active-all

#45665 [Docker] update elasticsearch ssl certificates
  libbeat/docker-compose.yml
  libbeat/tests/integration/ca_pinning_test.go
  testing/environments/docker/elasticsearch/pki/ca/ca.crt
  testing/environments/docker/elasticsearch/pki/ca/ca.key
  testing/environments/docker/elasticsearch/pki/ca/ca.pem
  testing/environments/docker/elasticsearch/pki/ca/key.pem
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl.crt
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl.key
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl_cert.pem
  testing/environments/docker/elasticsearch/pki/elasticsearchssl/elasticsearchssl_key.pem
Labels: Team:Elastic-Agent-Data-Plane

#45620 [metricbeat/jolokia] Fix URL construction to handle query params correctly in `GET` request
  CHANGELOG.next.asciidoc
  metricbeat/module/jolokia/jmx/config.go
  metricbeat/module/jolokia/jmx/config_test.go
Labels: Team:Obs-InfraObs, bugfix, backport-active-all

#45503 Replace Python tests with GO test
  filebeat/testing/integration/cmd_test.go
  filebeat/testing/integration/container_test.go
  filebeat/testing/integration/deprecated_test.go
  filebeat/testing/integration/fields_test.go
  filebeat/testing/integration/files/logs/cri.log
  filebeat/testing/integration/files/logs/docker.log
  filebeat/testing/integration/files/logs/docker_corrupted.log
  filebeat/testing/integration/helper.go
  filebeat/tests/integration/crawler_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/input_reload_test.go
  filebeat/tests/system/test_cmd.py
  filebeat/tests/system/test_container.py
  filebeat/tests/system/test_crawler.py
  filebeat/tests/system/test_deprecated.py
  filebeat/tests/system/test_fields.py
  filebeat/tests/system/test_publisher.py
  filebeat/tests/system/test_reload_inputs.py
  filebeat/tests/system/test_shutdown.py
  libbeat/testing/integration/integration.go
  libbeat/testing/integration/output_watcher.go
  libbeat/testing/integration/output_watcher_test.go
  libbeat/testing/integration/run_beat.go
  libbeat/tests/integration/framework.go
Labels: Team:Elastic-Agent-Data-Plane

#45743 [filebeat][abs] - Improve error handling when both root level "max_workers" and "batch_size" are empty
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/azureblobstorage/config.go
  x-pack/filebeat/input/azureblobstorage/input.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, input:azure-blob-storage, backport-9.1

#45733 Fix error handling from BeatV2Manager reload
  CHANGELOG.next.asciidoc
  x-pack/filebeat/tests/integration/managerV2_test.go
  x-pack/libbeat/management/managerV2.go
  x-pack/libbeat/management/simple_input_config_test.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-all

#45651 Remove status update from harvester transient errors
  filebeat/input/filestream/internal/input-logfile/harvester.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-8, backport-active-9

#45824 Enable Otel support in BuildSystemTestBinary
  CHANGELOG-developer.next.asciidoc
  x-pack/filebeat/magefile.go
  x-pack/metricbeat/magefile.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-9

#45679 feat: add status reporting to CloudWatch
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/awscloudwatch/cloudwatch.go
  x-pack/filebeat/input/awscloudwatch/cloudwatch_worker.go
  x-pack/filebeat/input/awscloudwatch/input.go
  x-pack/filebeat/input/awscloudwatch/state_reporter.go
  x-pack/filebeat/input/awscloudwatch/state_reporter_test.go
Labels: Team:obs-ds-hosted-services, backport-8.19, backport-9.1

#45833 Skip Auditbeat flaky test Test_Monitor/TestNew
  auditbeat/module/file_integrity/kprobes/monitor_test.go
Labels: Team:Security-Linux Platform

#44132 [winlogbeat] Render data values in xml renderer.
  CHANGELOG.next.asciidoc
  winlogbeat/sys/wineventlog/renderer.go
Labels: Winlogbeat, Team:Security-Windows Platform, backport-active-9

#45635 [PoC][otelbeat] add inspect subcommand
  libbeat/otelbeat/helper.go
  libbeat/tests/integration/framework.go
  x-pack/filebeat/tests/integration/otel_test.go
  x-pack/libbeat/common/otelbeat/inspect.go
  x-pack/libbeat/common/otelbeat/otel.go
  x-pack/metricbeat/tests/integration/otel_test.go
Labels: enhancement, Team:Elastic-Agent-Data-Plane, backport-9.1

#45874 Fix docs
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
Labels: backport-skip, Team:Elastic-Agent-Data-Plane, backport-9.1

#45747 Does not emit warning log if V2 config do not have an ID
  CHANGELOG.next.asciidoc
  filebeat/input/v2/compat/compat.go
  filebeat/input/v2/compat/compat_test.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-all

#45761 [metricbeat][kafka] change kafka protocol version from 3.6.0 to 2.1.0
  CHANGELOG.next.asciidoc
  metricbeat/module/kafka/consumergroup/consumergroup.go
  metricbeat/module/kafka/partition/partition.go
Labels: bug, Team:Obs-InfraObs

#45739 x-pack/filebeat/input/o365audit: trim redundant BOM prefix
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/o365audit/listblobs.go
  x-pack/filebeat/input/o365audit/listblobs_test.go
Labels: Filebeat, bugfix, Team:Security-Service Integrations, backport-8.x, backport-8.17, backport-8.18, backport-9.0, backport-8.19, backport-9.1

#45771 docs: Prepare Changelog for 9.1.1
  CHANGELOG.asciidoc
  CHANGELOG.next.asciidoc
  libbeat/docs/release.asciidoc
Labels: docs, release, Team:Automation

#45754 [beatreceiver] Return standard unsupported error and update TLS to OTel config translation
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel.go
  libbeat/otelbeat/oteltranslate/outputs/elasticsearch/config_otel_test.go
  libbeat/otelbeat/oteltranslate/tls_otel.go
  libbeat/otelbeat/oteltranslate/tls_otel_fips_test.go
  libbeat/otelbeat/oteltranslate/tls_otel_nofips_test.go
  libbeat/otelbeat/oteltranslate/tls_otel_test.go
  libbeat/outputs/elasticsearch/config.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-9, backport-8.19

#45883 [Chore][Backport] Replace global logger with local loggers in mb modules #5
  metricbeat/module/docker/diskio/diskio.go
  metricbeat/module/docker/diskio/diskio_integration_test.go
  metricbeat/module/docker/event/event.go
  metricbeat/module/docker/memory/memory.go
  metricbeat/module/kubernetes/event/event_test.go
  metricbeat/module/kubernetes/util/kubernetes_test.go
  metricbeat/module/kubernetes/volume/volume.go
  metricbeat/module/kubernetes/volume/volume_test.go
Labels: Team:Elastic-Agent-Data-Plane

#45871 [docs] Adds applies_to to changes from #44851
  docs/reference/metricbeat/metricbeat-metricset-meraki-network_health.md
  docs/reference/metricbeat/metricbeat-module-meraki.md
  docs/reference/metricbeat/metricbeat-modules.md
  x-pack/metricbeat/module/meraki/fields.go
  x-pack/metricbeat/module/meraki/network_health/_meta/fields.yml
Labels: docs, Team:Docs, backport-9.1

#45851 Docs: Update Docker base image in docs to Red Hat UBI 9 minimal
  docs/reference/auditbeat/running-on-docker.md
  docs/reference/filebeat/running-on-docker.md
  docs/reference/heartbeat/running-on-docker.md
  docs/reference/metricbeat/running-on-docker.md
  docs/reference/packetbeat/running-on-docker.md
Labels: Team:Docs, backport-9.0, backport-9.1

#45848 Unpin stack version on `9.1` branch
  .buildkite/scripts/custom_fips_ech_test.sh
Labels: release-note:skip, backport-skip, Team:Elastic-Agent-Data-Plane

#45810 x-pack/filebeat/input/httpjson: allow template termination without logging error
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-httpjson.md
  x-pack/filebeat/input/httpjson/request.go
  x-pack/filebeat/input/httpjson/value_tpl.go
  x-pack/filebeat/input/httpjson/value_tpl_test.go
Labels: enhancement, Filebeat, bugfix, Team:Security-Service Integrations, backport-8.18, backport-9.0, backport-8.19, backport-9.1

#45813 otel: relax E2E test assertions to accommodate shard allocation delays
  libbeat/testing/available_port.go
  libbeat/tests/integration/framework.go
  x-pack/filebeat/input/gcppubsub/otel_test.go
  x-pack/filebeat/tests/integration/otel_test.go
  x-pack/metricbeat/tests/integration/otel_test.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-9, backport-8.19

#45896 [docs] [auditbeat] Update `docs_collector.py` to add `applies_to` badges
  auditbeat/scripts/docs_collector.py
  docs/reference/auditbeat/auditbeat-dataset-system-host.md
  docs/reference/auditbeat/auditbeat-dataset-system-login.md
  docs/reference/auditbeat/auditbeat-dataset-system-package.md
  docs/reference/auditbeat/auditbeat-dataset-system-process.md
  docs/reference/auditbeat/auditbeat-dataset-system-socket.md
  docs/reference/auditbeat/auditbeat-dataset-system-user.md
  docs/reference/auditbeat/auditbeat-module-system.md
  docs/reference/auditbeat/auditbeat-modules.md
Labels: docs, Team:Docs, backport-9.0, backport-9.1

#45977 Docs: Replace deprecated `container` input examples in “Run Filebeat on K8s” doc with `filestream`
  docs/reference/filebeat/running-on-kubernetes.md
Labels: Team:Docs, backport-active-9

#46031 [Streaming] Restore the Streaming input on Windows
  CHANGELOG.next.asciidoc
  x-pack/filebeat/input/default-inputs/inputs_windows.go
Labels: bugfix, Team:Security-Service Integrations, input:streaming, backport-active-all

#46017 [Journald] Add `--all` flag when calling journalctl
  CHANGELOG.next.asciidoc
  filebeat/input/journald/pkg/journalctl/reader.go
  filebeat/tests/integration/journald_test.go
  filebeat/tests/integration/testdata/filebeat_journald.yml
  libbeat/tests/integration/framework.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-all

#46097 [docs] Adds applies_to to changes from #43368
  docs/reference/filebeat/filebeat-input-filestream.md
Labels: docs, Team:Docs, backport-skip

#45944 chore: fix formatting issues in logp printf-style calls
  auditbeat/helper/hasher/cached_hasher.go
  auditbeat/module/auditd/audit_linux.go
  filebeat/autodiscover/builder/hints/logs.go
  filebeat/input/filestream/copytruncate_prospector.go
  filebeat/input/filestream/filestream.go
  filebeat/input/filestream/internal/input-logfile/harvester.go
  filebeat/input/filestream/internal/input-logfile/publish.go
  filebeat/input/filestream/internal/input-logfile/update_writer.go
  filebeat/input/journald/input.go
  filebeat/input/log/input.go
  filebeat/input/unix/input.go
  heartbeat/autodiscover/builder/hints/monitors.go
  heartbeat/beater/heartbeat.go
  heartbeat/monitors/active/icmp/stdloop.go
  heartbeat/monitors/factory.go
  heartbeat/monitors/monitor.go
  heartbeat/scheduler/schedjob.go
  libbeat/autodiscover/appenders/config/config.go
  libbeat/autodiscover/providers/kubernetes/kubernetes.go
  libbeat/autodiscover/template/config.go
  libbeat/conditions/range.go
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/add_kubernetes_metadata/kubernetes.go
  libbeat/publisher/queue/diskqueue/segments.go
  libbeat/scripts/cmd/stress_pipeline/main.go
  metricbeat/mb/lightmodules.go
  metricbeat/module/kafka/consumergroup/query.go
  metricbeat/module/kafka/partition/partition.go
  metricbeat/module/kubernetes/event/event.go
  metricbeat/module/kubernetes/state_container/state_container.go
  metricbeat/module/kubernetes/util/kubernetes.go
  metricbeat/module/linux/rapl/rapl.go
  metricbeat/module/mysql/query/query.go
  metricbeat/module/system/diskio/diskio.go
  metricbeat/module/vsphere/cluster/cluster.go
  metricbeat/module/vsphere/datastore/datastore.go
  metricbeat/module/vsphere/datastorecluster/datastorecluster.go
  metricbeat/module/vsphere/host/host.go
  metricbeat/module/vsphere/network/network.go
  metricbeat/module/vsphere/resourcepool/resourcepool.go
  metricbeat/module/vsphere/virtualmachine/virtualmachine.go
  packetbeat/protos/dns/dns_tcp.go
  x-pack/auditbeat/module/system/socket/socket_linux.go
  x-pack/filebeat/input/awscloudwatch/input.go
  x-pack/filebeat/input/awss3/sqs_s3_event.go
  x-pack/filebeat/input/netflow/input.go
  x-pack/heartbeat/monitors/browser/sourcejob.go
  x-pack/heartbeat/monitors/browser/synthexec/synthexec.go
  x-pack/libbeat/common/cloudfoundry/dopplerconsumer.go
  x-pack/libbeat/management/managerV2.go
  x-pack/metricbeat/module/aws/awshealth/awshealth.go
  x-pack/metricbeat/module/aws/billing/billing.go
  x-pack/metricbeat/module/aws/cloudwatch/cloudwatch.go
  x-pack/metricbeat/module/azure/billing/data.go
  x-pack/metricbeat/module/containerd/memory/memory.go
  x-pack/metricbeat/module/meraki/device_health/device_health.go
  x-pack/metricbeat/module/meraki/http.go
  x-pack/metricbeat/module/prometheus/remote_write/data.go
Labels: Team:Elastic-Agent-Data-Plane, backport-active-9, backport-8.19

#45857 [metricbeat] [sql] sanitizeError: replace sensitive info even if it is escaped, add pattern-based sanitization
  CHANGELOG.next.asciidoc
  metricbeat/helper/sql/sql.go
  metricbeat/helper/sql/sql_test.go
  x-pack/metricbeat/module/sql/query/dsn.go
  x-pack/metricbeat/module/sql/query/query.go
  x-pack/metricbeat/module/sql/query/query_test.go
Labels: Metricbeat, Team:Obs-InfraObs, bugfix, backport-active-all

#46139 Fix TestContainerInput and `testing/integrataion` framework
  dev-tools/mage/gotest.go
  filebeat/testing/integration/container_test.go
  filebeat/testing/integration/helper.go
  libbeat/testing/integration/run_beat.go
  x-pack/filebeat/tests/integration/windows/inputs_windows_test.go
Labels: Team:Elastic-Agent-Data-Plane, bugfix, backport-active-9, backport-8.19

#46194 Improve documentation about Windows install script
  docs/reference/auditbeat/auditbeat-installation-configuration.md
  docs/reference/auditbeat/auditbeat-installation-script.md
  docs/reference/filebeat/filebeat-installation-configuration.md
  docs/reference/filebeat/filebeat-installation-script.md
  docs/reference/heartbeat/heartbeat-installation-configuration.md
  docs/reference/heartbeat/heartbeat-installation-script.md
  docs/reference/metricbeat/metricbeat-installation-configuration.md
  docs/reference/metricbeat/metricbeat-installation-script.md
  docs/reference/packetbeat/packetbeat-installation-configuration.md
  docs/reference/packetbeat/packetbeat-installation-script.md
  docs/reference/winlogbeat/winlogbeat-installation-configuration.md
  docs/reference/winlogbeat/winlogbeat-installation-script.md
Labels: Team:Docs, Team:Elastic-Agent-Data-Plane, backport-9.1

#46104 Doc: Refine Beats landing page
  docs/reference/index.md
  docs/reference/serverless/beats.md
Labels: Team:Docs, backport-9.0, backport-9.1

#46207 Correct link to beats overview pages
  docs/reference/index.md
Labels: Team:Docs, backport-9.0, backport-9.1

#46018 Remove all remaining NewRegistry method calls
  auditbeat/module/auditd/audit_linux.go
  filebeat/input/log/harvester.go
  heartbeat/hbregistry/hbregistry.go
  heartbeat/monitors/plugin/regrecord.go
  libbeat/cmd/instance/beat.go
  libbeat/monitoring/inputmon/httphandler_test.go
  libbeat/monitoring/inputmon/input.go
  libbeat/monitoring/inputmon/input_test.go
  libbeat/processors/add_host_metadata/add_host_metadata.go
  libbeat/processors/dns/dns.go
  libbeat/processors/dns/resolver.go
  libbeat/processors/dns/resolver_test.go
  libbeat/processors/ratelimit/rate_limit.go
  libbeat/processors/script/javascript/javascript.go
  libbeat/processors/syslog/syslog.go
  libbeat/publisher/pipeline/controller.go
  libbeat/publisher/pipeline/module.go
  libbeat/publisher/pipeline/monitoring.go
  libbeat/publisher/queue/monitoring.go
  metricbeat/mb/module/wrapper.go
  x-pack/auditbeat/module/system/process/quark_provider_linux.go
  x-pack/auditbeat/processors/sessionmd/add_session_metadata.go
Labels: Team:Elastic-Agent-Data-Plane, backport-8.19, backport-9.1

#46204 Add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: needs_team

#46210 x-pack/filebeat/input/cel: allow CEL programs to know remaining budget
  CHANGELOG.next.asciidoc
  docs/reference/filebeat/filebeat-input-cel.md
  x-pack/filebeat/input/cel/input.go
  x-pack/filebeat/input/cel/input_test.go
Labels: enhancement, Filebeat, backport-skip, Team:Security-Service Integrations

#46233 CODEOWNERS: add /metricbeat/helper/sql @elastic/obs-infraobs-integrations
  .github/CODEOWNERS
Labels: backport-skip, Team:Obs-InfraObs

#46208 [AutoOps] Provide flag to see Enterprise License in 7.x
  x-pack/metricbeat/module/autoops_es/ccm/register_test.go
  x-pack/metricbeat/module/autoops_es/metricset/metricset.go
  x-pack/metricbeat/module/autoops_es/metricset/register.go
  x-pack/metricbeat/module/autoops_es/metricset/register_test.go
  x-pack/metricbeat/module/autoops_es/metricset/request.go
  x-pack/metricbeat/module/autoops_es/metricset/request_test.go
Labels: bug, release-note:skip, Team:Opex, backport-9.1

#46095 [docs] Adds `applies_to` to changes from #45088
  docs/reference/filebeat/filebeat-input-gcs.md
Labels: docs, Team:Docs, backport-skip

#46249 [docs] Add 9.1.3 release notes in Markdown
  docs/release-notes/breaking-changes.md
  docs/release-notes/index.md
Labels: docs, Team:Docs, backport-9.0, backport-9.1

#44723 metricbeat/module/kafka: Add Kafka 4.0 support
  CHANGELOG.next.asciidoc
  docs/reference/metricbeat/metricbeat-metricset-kafka-broker.md
  docs/reference/metricbeat/metricbeat-metricset-kafka-consumer.md
  docs/reference/metricbeat/metricbeat-metricset-kafka-producer.md
  docs/reference/metricbeat/metricbeat-module-kafka.md
  metricbeat/module/kafka/_meta/Dockerfile
  metricbeat/module/kafka/_meta/docs.md
  metricbeat/module/kafka/_meta/kafka_server_jaas.conf
  metricbeat/module/kafka/_meta/run.sh
  metricbeat/module/kafka/_meta/supported-versions.yml
  metricbeat/module/kafka/broker.go
  metricbeat/module/kafka/broker/_meta/docs.md
  metricbeat/module/kafka/consumer/_meta/docs.md
  metricbeat/module/kafka/docker-compose.yml
  metricbeat/module/kafka/producer/_meta/docs.md
Labels: enhancement, Team:Obs-InfraObs, backport-active-9

#45847 Document and organise integration test framework
  filebeat/input/filestream/legacy_metrics_integration_test.go
  filebeat/tests/integration/autodiscover_test.go
  filebeat/tests/integration/crawler_test.go
  filebeat/tests/integration/filebeat_test.go
  filebeat/tests/integration/filestream_delete_scale_test.go
  filebeat/tests/integration/filestream_delete_test.go
  filebeat/tests/integration/filestream_gzip_test.go
  filebeat/tests/integration/filestream_test.go
  filebeat/tests/integration/filestream_truncation_test.go
  filebeat/tests/integration/input_reload_test.go
  filebeat/tests/integration/journald_test.go
  filebeat/tests/integration/netInputs_test.go
  filebeat/tests/integration/setup_pipelines_test.go
  filebeat/tests/integration/store_test.go
  filebeat/tests/integration/translate_ldap_attribute_test.go
  libbeat/tests/integration/README.md
  libbeat/tests/integration/base_test.go
  libbeat/tests/integration/ca_pinning_test.go
  libbeat/tests/integration/dashboard_test.go
  libbeat/tests/integration/datagenerator.go
  libbeat/tests/integration/elasticsearch.go
  libbeat/tests/integration/elasticsearch_test.go
  libbeat/tests/integration/framework.go
  libbeat/tests/integration/http_test.go
  libbeat/tests/integration/kafka_test.go
  libbeat/tests/integration/meta_test.go
  libbeat/tests/integration/mockserver.go
  libbeat/tests/integration/template_test.go
  x-pack/filebeat/tests/ech/filebeat_fips_test.go
  x-pack/filebeat/tests/integration/input_metrics_test.go
  x-pack/filebeat/tests/integration/managerV2_test.go
  x-pack/filebeat/tests/integration/registrydiagnostics_test.go
Labels: backport-skip, Team:Elastic-Agent-Data-Plane

#46304 Add changelog for PR #45881
  CHANGELOG.next.asciidoc
Labels: Team:Elastic-Agent-Data-Plane, forwardport-main
